[2018-05-02 11:03] Xfolchf opened #3322 "Strange behaviour when click on icon next to endorse button"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
When I click on the icon next to the endorse button It scrolls down to the comment section.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12425

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue*

[2018-05-02 14:18] xabier commented on #3319
For those participants that don't tick the newsletter checkbox, now that it is a default option, I strongly suggest we add a modal when pushing the regitration button saying:

"Are you sure you don't want to receive a newsletter? Please consider again ticking the newsletter checkbox below, it is very important for us that you can receive occasional emails to make important announcements, you can a

[2018-05-02 14:24] xabier commented on #3320
@virgile-dev @joonasp please feel free to comment on this EPIC so we can proceed ASAP to implement these issues. I am mentioning you because you both raised concerns regarding GDPR before :wink:

[2018-05-02 14:28] xabier commented on #3316
For those participants that don't tick the newsletter checkbox, now that it is a default option, I strongly suggest we add a modal when pushing the regitration button saying:

"Are you sure you don't want to receive a newsletter? Please consider again ticking the newsletter checkbox below, it is very important for us that you can receive occasional emails to make important announcements, you can a

[2018-05-03 07:13] mrcasals commented on #3322
@decidim/lot-mods can you check this please?

[2018-05-03 07:33] oriolgual commented on #3228
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5254/39564578-13bd5348-4eb5-11e8-94c3-6ebd38c33157.png">

It seems that it was fixed by the last update.

[2018-05-03 07:33] #3228 closed

[2018-05-03 08:20] mrcasals opened #3327 "Issue editing and deleting a specific post"
_From @Hilfe on February 21, 2018 10:30_

# This is a Bug Report

#### :tophat: Description

* What went wrong?
  When you try to edit a old post in the admin view, you can edit only the last one. Same with delete option.

* What did you expect should have happened?
   Edit and delete the same post that you choose by clicking on the corresponding icon

* What was the config you used?
   decidim 0.

[2018-05-03 09:43] oriolgual commented on #3327
@decidim/lot-mods could you take a look at this please?

[2018-05-03 09:46] isaacmg410 commented on #3327
I will checked!

[2018-05-03 10:01] tramuntanal commented on #3322
@decidim/product For the right button this is the expected behavior. For the button at the left, it scrolls down to the endorsements list, that is also correct.

What @virgile-dev may have experienced is clicking on the endorsements button when there are no endorsements. In this case the screen moves down to upside the comments without any endorsement.

I don't think controlling this is worth it f

[2018-05-03 10:46] virgile-dev opened #3328 "Comments don't render in IE 11"
# This is a Bug Report

#### :tophat: Description
The comment feed and comment form doesn't render in any of the features and participatory space in IE 11 (Windows 10).
<img width="618" alt="capture d ecran 2018-05-03 a 11 16 03" src="https://user-images.githubusercontent.com/11473995/39572540-c44d4a82-4ecf-11e8-9b5e-97c926350445.png">

#### :clipboard: Additional Data

* ***Decidim deployment whe

[2018-05-03 12:14] mrcasals commented on #3328
Adding this to the project *might* solve the issue: https://babeljs.io/docs/plugins/transform-object-assign/

[2018-05-03 12:15] mrcasals commented on #3328
@virgile-dev thanks for reporting this!

[2018-05-03 17:04] PierreMesure opened #3333 "Creating an already existing area leads to a blank page"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

When creating an area (in the organisation settings), creating a duplicate with the exact same names in all locales (but not necessarily the same area type) will lead to a blank page. The area will not be created.

* What did you expect should have happened?

Either show an error message on the form or after cl

[2018-05-03 17:09] deivid-rodriguez opened #3334 "Flaky failures on filter specs"
# This is a Bug Report

#### :tophat: Description

We're getting a lot of flakies on these tests. For example: https://circleci.com/gh/decidim/decidim/94088?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

I think it's because filters submit the search form (and thus trigger a page reload) from inside a JS component, and that might generate race conditions for c

[2018-05-03 18:14] mrcasals commented on #3333
@decidim/lot-mods can you check this please?

[2018-05-03 18:16] mrcasals commented on #3334
Yup, we probably should. I don't remeber why we did it this way in the beginning :confused:

[2018-05-04 00:35] jpaulin commented on #3308
Email is vulnerable to the ever unsnatchable problem of "Trash mail" folder - ie. no matter what, it comes down to trying to get somehow auto-whitelisted and/or instruct users to look for stuff in that folder. And this isn't particularly specific to Decidim. However, not saying there couldn't be a satisfiable solution to this, too.

An idea that crossed my mind with the browser -side verification

[2018-05-04 06:46] isaacmg410 opened #3335 "Sign Up form with a nickname too long raise a 422 error"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description
The signup form not Validates de lenght of the nickname before submit.
If the nickname is more long than 20 characteres it raise an error
I expect a validation message, unless raise 422 error
Found in decidim version 0.10.1

For bug reports:
* What went wrong?
* What did you expect should have happened?
* What was the config yo

[2018-05-04 06:58] mrcasals commented on #3335
We're lacking the validation in the form object, I guess.

[2018-05-04 08:28] xabier commented on #3308
Thanks, Lastpass is, unfortunately, not a free software that we can integrate in Decidim :(

[2018-05-04 08:31] xabier commented on #3322
I agree with you @tramuntanal, this is certainly not a critical bug, but maybe the user experience can be improved by activating by default the Endorsement subsection on the page and displaying "no endorsements made yet" so the behaviour is more understandable?

[2018-05-04 08:47] MarcReniu opened #3337 "Password confirmation is not required in Registration form"
# This is a Bug Report

#### :tophat: Description

In Registration form, password confirmation input field is not required. It should be, because form data will fail if it does not match with password.

At least, to force the user to enter a confirmation

#### :clipboard: Additional Data

* ***Screenshot***:
![passwordconfrimation](https://user-images.githubusercontent.com/13780790/39619495-59ba4d

[2018-05-04 09:40] Xfolchf commented on #2707
@tramuntanal could you give us feedback about the state of this issue?

[2018-05-04 09:44] Xfolchf commented on #3233
@isaacmg410 could you give us feedback about the state of this issue?

[2018-05-04 09:47] Xfolchf commented on #3049
@tramuntanal could you give us feedback about the state of this issue?

[2018-05-04 09:49] Xfolchf commented on #2023
@mrcasals could you give us feedback about the state of this issue?

[2018-05-04 09:50] Xfolchf commented on #3308
@josepjaume could you give us feedback about the state of this issue?

[2018-05-04 09:51] Xfolchf commented on #2872
@decidim/lot-core could you give us feedback about the state of this issue?

[2018-05-04 10:24] rbngzlv commented on #3233
Hi @Xfolchf, here we go:

## Improve meeting management

We need more info on this, because we aren't sure if this is related to the agenda/minutes features, or refers to a more generic changes.

## Manage registrations, attendance and notifications

I'll work on this the next week. This issue is in top of my todo list now as I was working in the registration form (MVP #3044 / PR #3331) but it goe

[2018-05-04 10:57] MarcReniu opened #3339 "Not uniq ID in user registration and login forms"
# This is a Bug Report

#### :tophat: Description

Registration and Login form shared the same ID, `new_user`. And maybe password forgot action too.
They share too the same class `register-form`, but this is not as critic as ID.

Some JS are affected, user_registrations.js.es6 is one of them.

All forms with `register-form` class should be updated to use an unique ID. And JS modified to use it.

[2018-05-04 11:17] tramuntanal commented on #3322
@decidim/product I can also disable the button if there are no endorsements when rendering the page, this way we don't have to show an empty block. Is this ok?

[2018-05-04 11:45] tramuntanal commented on #3049
@Xfolchf @decidim/product we've just finished the wizard, and are working with coauthorship. Sow Collaborative Draft has just been started.

[2018-05-04 12:14] MarcReniu commented on #3319
@xabier Have somebody spell checked this text? Or if its suits GDPR?

PS: [link to preferences] cannot be added because it is a link for already registered users, so it has to be only text.

[2018-05-04 13:11] mrcasals opened #3340 "Can't implement "follow" from resource card with the current layout"
# This is a Bug Report

#### :tophat: Description
The new design component cards add a way to follow the resource from the M-sized card, which is used in the resource list (eg, proposals list). This couldn't be done from the old cards.

This forced us to generate a new layout to add a way for users to follow the resource, but the HTML used for this uses a link, while Rails forces us to use a `<but

[2018-05-04 13:11] mrcasals commented on #3340
I assume @decidim/product will want to keep the feature.

@Crashillo can you help me here? 😞

[2018-05-04 13:30] mrcasals commented on #3340
@carolromero perfect, thanks! I'm already talking to @Crashillo to see if we can find a solution 😄

[2018-05-04 13:41] #3276 closed

[2018-05-04 13:42] #3333 closed

[2018-05-04 13:46] oriolgual commented on #3339
Thanks for the report @MarcReniu, is this causing an actual error somewhere?

[2018-05-04 14:15] mrcasals commented on #3340
Solved on #3338!

[2018-05-04 14:15] #3340 closed

[2018-05-04 16:06] xabier opened #3343 "EPIC: collection of PX improvements"
This EPICS details a collection of different improvements that can be done from the Participatory Experience point of view. Its goal is to systematize currently existing problems and potential improvements at a minor scale) so we can prioritize, add, remove and discuss them before new developments start and as a reference prior to major potential redesigns.

The goal of this EPIC is to discuss and

[2018-05-04 16:34] xabier commented on #3319
Regarding the spell check I have modified and spell checked it right now, regarding the GDPR, I am no expert, but I don't see how it doesn't comply to GDPR, to my knowledge GDPR only forces that users need to actively select and not passively (by default) accept these options, it doesn't say you cannot insist or explain why the option is important.

But the link is independent from the specific, c

[2018-05-07 07:35] carolromero opened #3346 "Gamification invitations system"
This issue is related to the EPIC #2976
## Invitations

### Invitations system for ambassador mechanics

During the registration process, the platform will propose you to invite 5 people to register in DECIDM. It is optional (Skip button).

We need to have two systems of invitation: Public / Private.
The public one only "increase" the invitations counter.
The private one is for one use only and al

[2018-05-07 08:08] carolromero opened #3347 "EPIC: Data Visualization"
# This is an EPIC

## EPIC description
This epic describes a new module that enables generic data visualizations across the entire platform (decidim-dataviz).

It will work both at a general level (showing graphs generated with data from across the entire platform) as well as specific level (showing data from a particular Participatory Space).
It must be adaptable enough so that future changes in

[2018-05-07 08:15] carolromero opened #3348 "Interactive timeline of components counters"
This issue is part of the EPIC: Data Visualization #3347

# This is a Feature Proposal

#### :tophat: Description
Interactive timeline graph with the evolution of the counters of the different components, both of a specific participatory space and of the general platform. Among the counters that will be displayed are the following:

- Users
- Processes
- Proposals
- Results
- Comments
- Meetings
-

[2018-05-07 08:57] furilo commented on #2862
We can start with the HTML of this, right @decidim/product ?

[2018-05-07 09:02] oriolgual commented on #3031
We should add a validation error to the uploaded file if there's any validation error so users realise that they need to upload the file again.

[2018-05-07 09:06] furilo commented on #2591
Any design needed here on our part?

[2018-05-07 09:19] oriolgual commented on #3121
Re-opening since we need to integrate the new layout

[2018-05-07 09:56] oriolgual commented on #3346
A public invitation is more like a referral, although the inviter doesn't know who signed up when following a posted linked.

[2018-05-07 10:04] oriolgual commented on #2023
After a meeting it seems that it would be better to add a component admin and a resource admin /cc @decidim/lot-core @decidim/product @josanFFiG

[2018-05-07 10:37] josanFFiG commented on #2023
That's the idea!
At least we will need to Add a role of Editor for processes and assemblies.
In the case of use of the Barcelona City Council, communication staff used to review processes or asseblies presentation texts, it could be usefull if they can edit texts by themselves to improve fluxes on revision.

[2018-05-07 11:07] furilo commented on #2862
@Crashillo all yours!

[2018-05-07 11:26] carolromero opened #3352 "Graphs for Support count / Voting results"
This issue is part of the EPIC: Data Visualization #3347

# This is a Feature Proposal

#### :tophat: Description
It must be possible to display the results of processes involving votes or supports (participatory budgets, votes on proposals, etc.) automatically after the voting period has finished with graphs, differentiated by categories, with a bar chart and a list of winners in descending order

[2018-05-07 11:35] oriolgual opened #3353 "Filter proposals related to a meeting"
# This is a Feature Proposal

#### :tophat: Description

Since we already have the possibility to link proposals and meetings, it would be great to let the users filter proposals by this criteria.

This way, they can filter by official proposals, citizen proposals or proposals created/debated in a meeting.

[2018-05-07 15:07] xabier opened #3354 "Filter proposals by meetings as proposal creator"
# This is a Feature Proposal

This features was present in previous Decidim versions (very old ones) and it has a lot of value. The idea is to be able to filter proposals that are the result of a meeting, in our case a filter that renders all the proposals that appear as related to all the meetings.

[2018-05-07 17:12] ferblape commented on #3189
That is a setting in the process, should I create a new setting as well for Subresults?

![screen shot 2018-05-07 at 19 10 17](https://user-images.githubusercontent.com/17616/39714448-6382845c-522a-11e8-9080-a4c0371fd016.png)

[2018-05-07 17:32] xabier commented on #3189
hi @ferblape are `subresults` diferent to `projects`. I had in mind that the hierarchy was:

1. Category
2. Subcategory
3. Result
4. Subresult/Project

[2018-05-07 17:35] xabier commented on #2591
Not that I know of. @decidim/lot-mods anything?

[2018-05-08 05:54] ferblape commented on #3189
@xabier you are right sorry, the last level is subresult/project. So you just need to update the setting "Nombre para Proyectos" with the value "Subresultados".

There's no need to implement a new setting.

[2018-05-08 06:55] xabier commented on #2292
Yesterday we had a long discussion about this issue. We all agree the merging of amendments need to be manual, at least after the first accepted one. And acceptance that the amend was genuinely integrated has to be acknowledgment by both parties (accepter and amender).

An issue remained however open: should amendments be proposal-on-proposals (a child proposal) or should they be comment-on-propos

[2018-05-08 07:11] mrcasals commented on #3354
@xabier is this for the admin part, the public part, or both?

[2018-05-08 07:13] mrcasals commented on #3354
Closing in favor of #3353

[2018-05-08 07:13] #3354 closed

[2018-05-08 07:24] #3327 closed, assigned to isaacmg410

[2018-05-08 07:29] mrcasals opened #3356 "Cells: extract resource actions from AuthorCell"
**Is your feature request related to a problem? Please describe.**
this is more a memento to myself, since I'll be working on cells for the time being. @agustibr pointed me to the fact that the `AuthorCell` has knowledge of the actions that can be performed to the resource, which is weird and can be improved (dev-wise).

**Describe the solution you'd like**
The solution was discussed here:

https:

[2018-05-08 07:55] MarcReniu commented on #3339
Not really, but in `user_registration.js.es6`, form selector only work because of the secondary ones

https://github.com/decidim/decidim/blob/92de9f027f6863f6755ff5e372b6411079f72b9d/decidim-core/app/assets/javascripts/decidim/user_registrations.js.es6#L2

[2018-05-08 08:02] MarcReniu commented on #3319
Ok for the text.

Let me clarify for [link to preferences]. This is a page for registered users to configure his notifications settings. This text will be shown in registration form, so not registered user yet. So, it's quite useless to add a link to a page that cannot access.

[2018-05-08 09:12] Xfolchf opened #3357 "Cannot access notifications on 0.10.x"
**Describe the bug**
I cannot access the notifications anymore on staging : http://staging.decidim.codegram.com/notifications

Seems like this problem happened at some point on the 0.9.x too

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12429

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Stacktrace**
If applicable, add the error stacktrace

[2018-05-08 12:49] oriolgual commented on #3357
I'm able to access the notifications, can you add steps to reproduce it?

[2018-05-08 13:17] isaacmg410 opened #3359 "Multitenant can't create two admins with same email to different organizations"
**Describe the bug**
You can not create an administrator in an organization with the same email from an administrator of another organization.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to System view, and create a new tenant, and admin.
- the tenant is created, but the admin, never recived the confirmation email.
2.  When you ask for confirmation instructions to be sent, the tenant'

[2018-05-08 13:41] MarcReniu commented on #3315
How are the backups stored?

I'm thinking in a rake task to restore the backups, and then an auxiliar/temporal file with user_ids, only to search and destroy them. As a first aproach.

[2018-05-08 15:09] furilo commented on #2292
My reasons for exploring the comments path:

- first and most important: amendments are part of a conversation around a proposal. You already have a way to converse around a proposal, and that is comments. And comments can be improved, there is untapped potential in them
- creating amendments functionality on its own means creating a new way to converse around a proposal, while having an existing

[2018-05-08 15:18] isaacmg410 commented on #3314
@decidim/product  If I am an admin, should I also download the information created in the backoffice? Like Posts, Log, etc.?

[2018-05-09 05:58] ferblape commented on #3190
I'm working on it. It's quite straightforward except one aspect: in Decidim the results must have a description but in the data we get from the Barcelona system descsriptions were missing.

Would you consider appropiate to remove the validation of presence in the description field?

[2018-05-09 08:06] carolromero commented on #3034
We have another bug report related to this one:
https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12431

[2018-05-09 08:39] carolromero opened #3363 "Some styles have been lost/changed in cards"
**Describe the bug**

- [X] The message icon appears on M size proposal cards (it shouldn't). Also when you enter the main page of a proposal the message icon appears in duplicate
- [ ] The officialization badge has lost its style (it was colored).
- [ ] The categories associated with the proposal are also shown without style.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://me

[2018-05-09 10:58] MarcReniu commented on #3347
@decidim/lot-core @decidim/product This epic is intended to be developed in a new module, like `decidim-dataviz`, or it could be placed inside `decidim-core`?

[2018-05-09 11:11] jpaulin opened #3365 "Upgrade manual and/or best practises for bumping Decidim instances"
As administrator or software developer I might be interested in getting acknowledged about how to upgrade the Decidim's code to a newer (generally: different) version. Especially if the said current installed Decidim is used as-is, verbatim, without modifications; then I believe administrators would appreciate a clear indication of how to proceed and is the upgrade technically a minor or harder ta

[2018-05-09 14:04] jpaulin commented on #3365
Thanks for tips!

[2018-05-09 14:04] #3365 closed

[2018-05-09 15:07] isaacmg410 opened #3368 "Survey Answer Exports not exporting correctly"
**Describe the bug**
When I download the "Answers" of a "Survey", those answers that are checkbox or radio button selection type there are exporting "null".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Survey Form "http://localhost:3000/admin/participatory_processes/dolorem-beatae/components/14/manage/"
2. Click on '"Export"
3. Go to mail and download file,
4. See that the answe

[2018-05-09 15:48] mrcasals commented on #3368
@isaacmg410 I take it you are using `master`, right?

[2018-05-09 15:51] isaacmg410 commented on #3368
Yes! And I think that
And making a quick review, I think it's because of this piece of code...
https://github.com/decidim/decidim/blob/f8a0afa1d7b4fff135119f13fc96f15cbb782b0f/decidim-surveys/lib/decidim/surveys/survey_user_answers_serializer.rb#L16-L20

[2018-05-09 16:16] deivid-rodriguez commented on #3368
Yes, I overlooked this when I last worked on surveys. For multiple choice questions, the selected answers live in a separate model (answer choices), so the exporter needs to be updated to reflect that.

[2018-05-10 08:00] agustibr opened #3374 "High Voltage 3.1 breaks StaticPages"
**Describe the bug**

`decidim-core` has a dependency with `high_voltage` for the `StaticPages`, the version specified in the `.gemspec` is `~> 3.0` if the version is `3.0.0` all works fine, but if version `3.1.0` is installed a **Routing Error**  raises.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:decidim/decidim.git && cd decidim`
2. `bundle exec rake developm

[2018-05-10 08:10] mrcasals commented on #3374
These are the differences between v3.0.0 and 3.1.0:

https://github.com/thoughtbot/high_voltage/compare/v3.0.0...v3.1.0

[2018-05-10 08:11] mrcasals commented on #3374
Looks like they changed some internal API, which we're overriding in the `Decidim::PageFinder` class. We'd need to either adapt it to the newer version and bump the constraint, or fix the constraint to 3.0.0.

[2018-05-10 08:15] mrcasals commented on #3374
I've opened #3375 limiting the version, as @agustibr suggests, but I'd leave this issue open until we find time to make decidim compatible with newer versions of `high_voltage`.

[2018-05-10 08:27] isaacmg410 opened #3376 "Sometimes Comments are failing"
**Describe the bug**
I open this issue, because some times the comments stop working because of the API.

I have tried to reproduce the error on more than one occasion, and sometimes it works and sometimes it does not.

**To Reproduce**

Steps to reproduce the behavior:
1. Log In as User
2. Go to any Proposal or Meeting that has enabled the Comments
3. Make a Comment and wait, if the comment not l

[2018-05-10 08:28] mrcasals commented on #3376
Here's the backtrace I'm getting when this happens:

[code]

[2018-05-10 08:34] agustibr commented on #3374
@mrcasals yes the _quick fix_ is to restrict the version.

[2018-05-10 08:41] furilo commented on #2292
OK, here is a quick and basic test.

![proposal b - ammendments in comments 1x](https://user-images.githubusercontent.com/24740/39860691-7ef9be38-543e-11e8-96c8-848a2410aeb9.png)

[2018-05-10 08:41] mrcasals commented on #2841
Hi! I'm late to the party, but I have a few questions about the minutes management. We have #2862, which designs the minutes management for a meeting. We also have #3166, which asks for a collaborative software integration to manage those minutes, and suggests Etherpad Lite as a solution.

These two issues are incompatible IMO. Etherpad Lite cannot be integrated that easily to Decidim, and surely

[2018-05-10 08:48] furilo commented on #2292
If we wanted to specially promote amendments, we could use an specific CTA (call to action)

<img width="1233" alt="captura de pantalla 2018-05-10 a las 10 47 03" src="https://user-images.githubusercontent.com/24740/39860999-85570672-543f-11e8-92d3-a28871afb087.png">

[2018-05-10 08:58] Xfolchf opened #3378 "Comments are missing on the home stats"
**Describe the bug**
There are no comments counter on the home page.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12434

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/39861482-016a975a-5441-11e8-92be-968c697eb359.png)

**Stacktrace**
If applicable, add the error stacktrace to help exp

[2018-05-10 09:01] Xfolchf opened #3379 "Can not hide number of supports"
**Describe the bug**
We are working on a process where instead of supports we will use endorsements.
That's why we don't want number of supports to be shown (they will always be 0).
Although we have configured the component confuration with: supports blocked & hide... we still see the message: 0 supports.
Maybe there's a problem on how we have configured the component? Or its a bug?

https://meta.

[2018-05-10 09:02] mrcasals commented on #3378
Looks like they were there, but at some point they disappeared. See screenshot in https://github.com/decidim/decidim/pull/2221 for a proof of them being there.

[2018-05-10 09:07] furilo commented on #3347
hey @carolromero should we add an issue to add graphs to the stats module in the home? which would connect with the other vizzs?

[2018-05-10 09:28] mrcasals commented on #3347
@MarcReniu I think it should belong to `decidim-core`

[2018-05-10 09:33] MarcReniu commented on #3347
@mrcasals ok, `decidim-core` then

@furilo keep in mind that this are new stats calculations. I'm not really sure that can be mixed with home stats, as a views. Or, at least, easily.

[2018-05-10 09:39] juliesimon commented on #3357
When connected as an admin, when I click on the bell icon I get an error :

<img width="1486" alt="capture d ecran 2018-05-10 a 11 38 06" src="https://user-images.githubusercontent.com/29771726/39863367-b58b2560-5446-11e8-894b-cbe152b5ad1a.png">

[2018-05-10 09:59] mrcasals commented on #3171
Hi, I just realised this issue exists. I'm working on it already, I've added #3338 and #3371 to update cards for proposals, meetings and debates.

[2018-05-10 10:01] mrcasals commented on #2828
I'm working on adapting Decidim to use these new M-sized cards and I gotta say, they look awesome <3

Good job @javierarce for the design, and @Crashillo for the HTML implementation! 😁

[2018-05-10 10:54] deivid-rodriguez commented on #3374
When we fix this, we should consider removing this dependency. This gem does very little and we seem to be overriding it in unexpected ways. Maybe it's better to bring the code needed to decidim.

[2018-05-10 11:06] isaacmg410 commented on #3376
Here's the backtrace I'm getting when this happens: It looks similar.

[code]

[2018-05-10 13:49] deivid-rodriguez commented on #3376
Is there a way to reliably reproduce this?

I tried this patch, and I can't reproduce it:

[code]

But I can't reproduce it without the patch either :rofl:

[2018-05-10 13:54] oriolgual commented on #3347
@MarcReniu since it seems it will be used to represent a lot of different data it seems OK to add it to core instead of a new module.

[2018-05-10 13:54] deivid-rodriguez opened #3384 "Crash on NotifyProposalsMentionedJob"
**Describe the bug**
While playing around with comments trying to reproduce #3376, I came around this crash in the logs:

[code]

**To Reproduce**
Steps to _unreliably_ reproduce the behavior:
1. Go to a page with comments enabled.
2. Do things with comments.
3. Look at the logs.
4. _Maybe_ see error

**Expected behavior**

We should have crashes in our logs.

**Screenshots**
_None_.

**Stacktrace

[2018-05-10 13:57] mrcasals commented on #3384
@decidim/lot-mods can you check this please?

[2018-05-10 13:59] deivid-rodriguez commented on #3384
Pretty hard to troubleshoot since I don't know how to reliably reproduce it, but maybe the exception rings any bells on whoever implemented the job?

[2018-05-10 14:30] oriolgual commented on #3384
Maybe the job is executed before the comment is saved at the database?

[2018-05-10 14:47] isaacmg410 commented on #3384
Can something similar happen to the system to invite an Admin for the first time? Do you have to invite the user again to receive the email...

[2018-05-10 14:50] MarcReniu opened #3385 "When creating Consultations, scope selector use no context with multitenants"
**Describe the bug**
In Consultations form (Admin), scope selector, that works with AJAX, loads all scopes, no organization context applied.
But in ScopeController, they are contexted with current organization. So request will fail if selected scope is not related with current organization.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Consultations' in Admin panel
2. Create a new o

[2018-05-10 15:29] carolromero commented on #2292
Hi @furilo, the proposal is great. Thanks to it we have had a long discussion with @decidim/product and we've come to the conclusion that it makes sense that amendments to proposals should be `proposals` and not `comments`.

While it is true that it is more complex to do so with proposals, the system of amendments will be used for very specific collaborative lawmaking processes. So it does make se

[2018-05-10 20:06] deivid-rodriguez opened #3388 "Decidim tries to install duplicate migrations"
**Describe the bug**
When installing migrations on a new app, you get this warning.

[code]

Indeed, there are two migrations with the same name (that also do the same thing):

[code]

This is unlikely to cause problems, but I guess we should probably either:
* Choose one of them and move it to core.
* Rename the migrations to not conflict with each other.

**To Reproduce**
1. Run `bundle exec rak

[2018-05-10 22:10] #3385 closed

[2018-05-11 07:03] isaacmg410 opened #3391 "Can't Sign to an Initiative"
**Describe the bug**
I can not make a "Sign" to an initiative. I get the following error on console. Nothing happen in the view...

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any initiative.
2. Sign In as user,
2. Click on 'Sign'
3. Nothing happen

**Expected behavior**
Myabe, Sign and give some alert message?

**Screenshots**
If applicable, add screenshots to help explain

[2018-05-11 07:13] mrcasals commented on #3388
I'd rename the migrations, then. While it's true we consider decidim as a bundle, and as such you'll always have both migrations, this extension is a dependency of each component, so I think each component should be aware of it.

Thoughts @decidim/developers ?

[2018-05-11 07:15] mrcasals commented on #3391
Thanks, we'll take a look!

[2018-05-11 07:18] tramuntanal commented on #3384
@oriolgual this is not possible because the creation of the comment is before all events are published. Also in the stack trace we can see that the event is correctly receiving the comment id: `ActiveRecord::RecordNotFound (Couldn't find Decidim::Comments::Comment with 'id'=614)`, this means that the comment has correctly been persisted.

Also I've been following the sequence until this id arrives

[2018-05-11 08:00] tramuntanal commented on #3384
One important detail may be that the creation of the comment happens inside a `Rectify::Command.transaction`, this means that until the transaction is finished everything that happens inside is invisible to other threads. As the `NotifyProposalsMentionedJob` runs asynchronously, if the "create comment transaction" has not finished it won't see it, if it has finished it will see it. This may be the

[2018-05-11 09:27] mrcasals commented on #2832
@rbngzlv I think @oriolgual is working on adapting the design of the user profile. You could work on adding the logic to the current profile, and then Oriol can rebase his PR and adapt your code, since his work will take longer. What do you think about this? 😄

[2018-05-11 09:56] furilo commented on #3348
It would be really fine to have data from a couple of places (Bcn and other small place?) to make sense of the data we are really dealing with. Anyone could extract this easily (only some of the metrics could also be useful)? The format that could be useful is each of those metrics by day or month.

Maybe @decidim/lot-mods can do a first quick script (that can be the basis for final work), and the

[2018-05-11 10:41] mrcasals commented on #2828
Hi all! I'm having some issues with the process groups card design (the "stacked processes" one). Here's how the processes index page looks with both the process and process group cards implemented:

![](https://i.imgur.com/jdj4oL7.png)
Card on the left is a process, card on the right is a process group

As you can see, the process group card looks a little empty because a process group:

1. Does

[2018-05-11 10:53] furilo commented on #2828
+1 for adding the number of processes (where you have the date)

We could think about putting the start and end dates for the group of
processes, but it might be a tricky calculation and maybe slightly
confusing.

[2018-05-11 10:53] carolromero commented on #2828
+1000 to your proposal @mrcasals.

Maybe it's a silly question, but why not follow a group of processes?
I understand that right now the follow polymorphic is not linked to processes groups, but thinking about the use case, there could be a group of processes that are of the same subject but of different scope, and perhaps I want to receive notifications from all of them.
In any case, it is possib

[2018-05-11 11:08] isaacmg410 opened #3396 "Admin Menú Items appear and disappear randomly"
**Describe the bug**
In the admin site, the main menu items, appear and disappear randomly.
It may be due to the change of permissions system.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin site
2. Click on different menu items and they disappear

**Expected behavior**
That menu items don't disappear when you switch between pages

**Screenshots**
If applicable, add screenshots t

[2018-05-11 11:20] isaacmg410 opened #3397 "I can not register as a member of an initiative"
**Describe the bug**
When an admin or user send me and email with the link "http://localhost:4000/initiatives/i-8/committee_requests/new" it says "You are not authorized to perform this action"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4000/initiatives/i-8/committee_requests/new
2. See error  "You are not authorized to perform this action"

**Expected behavior**

[2018-05-11 12:25] mrcasals commented on #2828
@carolromero following a group of processes is not done at them moment, that's why I'm not adding it. It could be done, sure, but if we want to deliver the cards before next week then I think we can delay this a little bit more. Shouldn't be too hard to implement, but we agreed to prioritise the design implementation.

So @furilo @decidim/product does something like this work for you?

![](https:/

[2018-05-11 13:17] furilo commented on #3352
Here is the proposal for graphs to help visualize the activity of a vote. The idea is that we first give an overview of proposal and votes per category, so the user can have a first general context, and then give the top10 of proposals with more votes. An finally, an overview of when proposals and votes were created.

We have to decide:
- if we need the sidebar here (probably yes, to enable propos

[2018-05-11 13:17] furilo opened #3398 "Stats for home / process"
This issue is part of the EPIC: Data Visualization #3347

I've created this new issue to have a separate conversation for the home general stats, and the new stats for a process (in case we decide to do with them, as you'll see, we are giving form to a modular widget system).

## Home stats block

The idea is to do a slight redesign of the stats block in the home page. The background is the evolut

[2018-05-11 13:41] carolromero commented on #2828
@mrcasals of course! first things first! 😊

[2018-05-11 13:56] furilo commented on #2828
Go!

[2018-05-11 13:56] furilo commented on #3348
I'm giving first thoughts to this. Some comments:

1. I think creating a single graph/vizz to compile all those metrics is going to be very challenging: they are too many, and their values too diverse. A quick test with some metrics, with fake values around those of Barcelona:

![captura de pantalla 2018-05-11 a las 15 21 08](https://user-images.githubusercontent.com/24740/39926272-f6b2d5a4-552e-1

[2018-05-11 14:07] mrcasals commented on #2966
This should be kept active.

[2018-05-11 14:43] javierarce commented on #2292
OK, understood. Maybe you can outline the final flow?

[2018-05-14 06:26] isaacmg410 commented on #3396
@mrcasals Yes.

[2018-05-14 07:05] #3335 closed

[2018-05-14 07:15] mrcasals opened #3399 "Add help text for assemblies "Duration" and "Included at" fields"
**Is your feature request related to a problem? Please describe.**
As reported in Gitter, the Durantion and Included at fields in Assemblies are not clear enough:

![](https://files.gitter.im/decidim/decidim/jTjx/Capture-d_ecran-2018-05-11-a-18.18.10.png)

https://gitter.im/decidim/decidim?at=5af5c4061cfca775e1ffe122

**Describe the solution you'd like**
Add some help text underneath the inputs, s

[2018-05-14 07:27] josepjaume commented on #3374
Totally agree with @deivid-rodriguez

[2018-05-14 07:28] josepjaume commented on #3374
Got fixed by #3383

[2018-05-14 07:45] mrcasals commented on #3396
@isaacmg410 see #3401 for a fix for this issue! 😄

Thanks for reporting it!

[2018-05-14 08:34] josepjaume commented on #3031
I'll do this.

[2018-05-14 09:30] tramuntanal commented on #2822
Hi @decidim/lot-core & @decidim/product,
We've found this change has been merged into master and find it is a step back for Decidim because it totally breaks independent Verificator configuration between tenants.

It is a known feature of Decidim to support multitenant installations. Even it is a fact that there are already many multitenant installations in production. This change does not take in

[2018-05-14 10:18] #3396 closed

[2018-05-14 10:49] mrcasals commented on #2822
Hi @tramuntanal!

I'm checking the code of the PR that closes the issue (#3300), and it seems to be that it's only taking the attributes of the different available verifications and it's converting them into an input. Those values are stored inside each `Decidim::Component`, so they are not affecting other organizations 😕

So I don't understand your doubts here, am I missing something? 😕

[2018-05-14 10:51] mrcasals commented on #2965
@isaacmg410 do you consider this as solved? Can we close this issue then?

[2018-05-14 10:55] rbngzlv commented on #2930
@decidim/product this issue is still valid?

[2018-05-14 10:57] isaacmg410 commented on #2965
@mrcasals For my part, we can close it

[2018-05-14 10:58] isaacmg410 commented on #3399
@decidim/product can you define the hint texts to show here?

[2018-05-14 11:42] isaacmg410 opened #3411 "Viewing related proposals even if the component is unpublished"
**Describe the bug**
As an `Admin`, I have a component `Proposals`, with "N" proposals created. Then, I have created a new `ProposalComponent` and I have imported the `Proposals` with status `Accepted` of `ProposalComponent 1`. Finally I have disabled Component `ProposalComponent 1`.

If the `ProposalComponent 1` is disabled, Why I'm seeing the related Proposals of the first component in the show

[2018-05-14 11:45] tramuntanal commented on #2822
Hi @mrcasals and @deivid-rodriguez ,

Sorry from my side I find that the code is complex and can not understand it in deep by only reviewing the PR lines but only have an intuition, and my knowledge of the architecture of verifiers is not wide enough :disappointed:

Also my excuses :pray: for @deivid-rodriguez and @decidim/lot-core  because reviewing the captures in the PR it seems that Verifier a

[2018-05-14 12:01] deivid-rodriguez commented on #2822
Yes @tramuntanal, that's correct. Apologies accepted :)

As I told you offline, if options to be used by each tenant are going to be completely different, you could also define two separate authorization workflows, each with the relevant options for each tenant, and enable them on /system for each respective tenant. Never tried this, but it feels pretty neat if there was such a situation.

[2018-05-14 12:08] deivid-rodriguez commented on #3384
@tramuntanal Thanks for your analysis, it looks accurate and makes sense to me. I encourage you to make a PR to move job scheduling outside of transactions when relevant (or completely remove transactions when it makes sense to do so).

[2018-05-14 12:10] #2965 closed

[2018-05-14 12:11] mrcasals commented on #3411
I guess we should take into account the state of the component before showing them, then.

[2018-05-14 12:29] isaacmg410 commented on #3411
I'm agree with you @mrcasals. Also, can we add a checkbox so that the admin wants to show or not these proposals?

[2018-05-14 12:33] mrcasals commented on #3411
I think that if the component is not published then those proposals should not be publicly seen.

@decidim/product thoughts?

[2018-05-14 12:50] carolromero commented on #3411
Agreed @mrcasals, that is what makes more sense.

[2018-05-14 13:09] carolromero commented on #2930
hi @rbngzlv yes, it is valid and it should remain open, despite of being in the 'fridge'.
I add the reference to Cells issue #3356

[2018-05-14 16:52] xabier commented on #2623
@josepjaume can you tick the checkboxes that are completed, I think there are plenty more than those marked :)

[2018-05-14 17:55] xabier commented on #3398
nice job @furilo I only have doubts with the last one. Should those be displayed within the proposal navigator?

[2018-05-15 06:56] mrcasals commented on #2755
This is still pending.

[2018-05-15 08:07] rbngzlv commented on #2832
@carolromero I think that all tasks are done!

[2018-05-15 08:55] furilo commented on #3398
@xabier maybe we could establish:
- process stats: without sidebar (and we have to think were to link them from - maybe we can think something around the process header, in the background image zone, so we don't use a "spend" a link in the menu
- if we are showing stats for a voting phase, maybe it makes sense to keep the sidebar, so you can navigate proposals.

[2018-05-15 10:29] carolromero commented on #2832
yay! good job! closing then

[2018-05-15 10:29] #2832 closed

[2018-05-15 12:15] mrcasals commented on #2281
@isaacmg410 what's the status of this issue? Is this pending?

[2018-05-15 12:17] isaacmg410 commented on #2281
@mrcasals ask to @decidim/product the issue has the tag Fridge. So I understand that for now are fridge, so is still pending

[2018-05-15 14:42] MarcReniu opened #3421 "Update Consultation does not remove introductory image."
**Describe the bug**
Update does not remove introductory image.

In Consultation's edit form, checking "remove introductory image" does not remove it. It should do it!

A quick look into UpdateConsultation form, `remove_introductory_image` attribute is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Consultations edit form
2. Check "remove introductory image"
3. Submit form
4.

[2018-05-15 15:08] Xfolchf opened #3422 "Missing keys in 0.11 ?"
**Describe the bug**
In the configuration of an assembly, on version 0.11, when French is activated, I still have the English words for :
- Private space
- Special features
- Social

https://meta.decidim.org/processes/bug-report/f/210/proposals/12554

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/40065597-71

[2018-05-15 15:13] Xfolchf opened #3423 "Non-member users can participate to a private, transparent assembly"
**Describe the bug**
From what I understood, non-members of a private and transparent assembly should be able to see it but not to participate.
I did a test on staging and as a non-member of a transparent assembly , I was able to create a proposal

Test here : http://staging.decidim.codegram.com/assemblies/test-agora/f/133/proposals/55

https://meta.decidim.org/processes/bug-report/f/210/proposals

[2018-05-15 15:17] Xfolchf opened #3424 "Process m-size cards are not properly displayed, they include too much content"
**Describe the bug**
1. Process m-size cards are not properly displayed, they include too much content.
2. I expect the content to be truncated at a certain character length.
3. I found the bug in https://meta.decidim.org/assemblies/eix-tech see "related process" subsection.

This bug might be related with https://meta.decidim.org/processes/bug-report/f/210/proposals/12557 and might be causing fai

[2018-05-15 15:19] Xfolchf opened #3425 "Assembly cards on assemblies home page display too much content"
**Describe the bug**
1. Assembly cards on assemblies home page display too much content and destroys card-display.
2. The card should truncate the content at a certain length, it otherwise, displays badly. It might also be (but text should equally be truncated, that the card is not taking the short description info) .
3. I found this bug in https://meta.decidim.org/assemblies

https://meta.decidim

[2018-05-15 15:22] Xfolchf opened #3426 "The number of hidden votes appears"
**Describe the bug**
When you import proposals to a new component, below you will find "related proposals". This includes not only the title, but also the number of votes.

When I am in an active voting process with the number of hidden votes, if I enter the related proposal, which is unpublished, I see the number of votes that exist in the active component. There is no way that voting is really s

[2018-05-15 15:25] Xfolchf opened #3427 "Next meeting in Assemblies homepage is not correct"
**Describe the bug**
In new cards for Assemblies homepage, next meetings should be announced. But the meeting displayed doesn't correspond with the actual scheduled meeting.

**Screenshots**
![image](https://user-images.githubusercontent.com/33894931/40066604-cc10a64e-5864-11e8-95a5-f3cbbb758b06.png)

**Stacktrace**
If applicable, add the error stacktrace to help explain your problem.

**Extra dat

[2018-05-15 15:28] Xfolchf opened #3428 "In Members Cards (Assemblies) weight should not be visible"
**Describe the bug**
In Members Cards (Assemblies) weight should not be visible

https://meta.decidim.org/processes/bug-report/f/210/proposals/12558

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Stacktrace**
If applicable, add the error stacktrace to help explain your problem.

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6,

[2018-05-15 19:17] xabier commented on #3428
This bug was not well reported. My mistake. I close it unless @carolromero has something else to add. Please reopen if necessary.

[2018-05-15 19:17] #3428 closed

[2018-05-16 06:48] mrcasals commented on #3423
@decidim/lot-mods can you check this please?

[2018-05-16 06:50] mrcasals commented on #3426
@decidim/lot-mods can you confirm this is caused by some PR by you? Can you check it please?

[2018-05-16 06:55] isaacmg410 commented on #3426
@mrcasals I think this is not the fault of @decidim/lot-mods. And I think that is related to this Issue. #3411. I have a PR pending to make that fixes it in the `0.11-stable` branch

[2018-05-16 06:56] isaacmg410 commented on #3423
@mrcasals can I have an admin user, to test it in staging?

[2018-05-16 07:02] mrcasals commented on #3423
@isaacmg410 you can use the default credentials from the development app

[2018-05-16 07:03] isaacmg410 commented on #3426
@mrcasals take a look to this PR https://github.com/decidim/decidim/pull/3430

[2018-05-16 07:03] mrcasals commented on #3426
Ah, you're right @isaacmg410 sorry!

[2018-05-16 07:40] #3424 closed

[2018-05-16 07:40] #3425 closed

[2018-05-16 09:54] mrcasals commented on #3422
The "social" one already exists, it's a key called `"decidim.assemblies.admin.assemblies.form.social_handlers"`. The rest have been added on #3436.

[2018-05-16 12:15] #3422 closed

[2018-05-16 12:31] #3308 closed

[2018-05-16 13:43] #3427 closed

[2018-05-17 07:31] mrcasals commented on #3374
I've opened #3441, a PR that removes `high_voltage` and replaces it with custom code.

[2018-05-17 07:46] #3411 closed

[2018-05-17 07:46] #3426 closed

[2018-05-17 08:43] agustibr commented on #3339
Having duplicate element `id`'s result a not valid `HTML` document in `sign_in` and `sign_up` pages:

[code]

https://validator.w3.org/nu/?doc=https%3A%2F%2Fmeta.decidim.org%2Fusers%2Fsign_in&checkerrorpages=yes

[2018-05-17 08:57] #2862 closed

[2018-05-17 09:53] MarcReniu commented on #3421
@decidim/lot-core @decidim/product Hey, do you know when this issue will be solved?

[2018-05-17 12:28] #3374 closed

[2018-05-17 16:08] #2522 closed

[2018-05-17 16:08] #2679 closed

[2018-05-17 16:08] #2702 closed

[2018-05-17 16:08] #2695 closed

[2018-05-17 16:08] #2737 closed

[2018-05-17 16:08] #323 closed

[2018-05-17 16:08] #1864 closed

[2018-05-17 16:08] #1710 closed

[2018-05-17 16:08] #919 closed

[2018-05-17 16:08] #2760 closed

[2018-05-17 16:08] #914 closed

[2018-05-17 16:08] #2725 closed

[2018-05-17 16:08] #2300 closed

[2018-05-17 16:08] #2799 closed

[2018-05-17 16:08] #2801 closed

[2018-05-17 16:08] #2790 closed

[2018-05-17 16:08] #2823 closed

[2018-05-17 16:09] #2934 closed, assigned to nobody

[2018-05-17 17:08] #2220 closed

[2018-05-17 17:08] #2060 closed

[2018-05-17 17:08] #2473 closed

[2018-05-17 17:08] #2118 closed

[2018-05-17 17:08] #2570 closed

[2018-05-17 17:08] #2599 closed

[2018-05-17 17:08] #2641 closed

[2018-05-17 17:08] #2290 closed

[2018-05-17 17:08] #2660 closed

[2018-05-17 17:08] #2662 closed

[2018-05-17 17:08] #2664 closed

[2018-05-17 17:08] #2663 closed

[2018-05-17 17:08] #2666 closed

[2018-05-17 17:09] #2600 closed

[2018-05-17 17:09] #2605 closed

[2018-05-17 18:08] #2263 closed

[2018-05-17 18:08] #1580 closed

[2018-05-17 18:08] #1583 closed

[2018-05-17 18:08] #1719 closed

[2018-05-17 18:08] #2413 closed

[2018-05-17 18:08] #1439 closed

[2018-05-17 18:08] #2420 closed

[2018-05-18 07:54] MarcReniu commented on #3348
@decidim/lot-core @deivid-rodriguez I have in mind to use Views to handle all this statistics. They are more flexible to use than regular table ones, no migration needed, and have a quicker performance.
What do you think?

[2018-05-18 09:18] furilo commented on #3347
hi @decidim/product - waiting for feedback!

[2018-05-18 09:57] mrcasals commented on #3348
@MarcReniu you mean DB views? I haven't really used them so I can't help you much, but yeah, go for it!

[2018-05-18 10:03] tramuntanal opened #3451 "Accept abbreviations for one liners"
With this discussions I seem to go even against my own principles of coding, but it also happens to me that when I see a lot of dense text it takes more time for my brain to read (and maybe understand). In oneliners (similarly as in conventions) the context is so small that it should be self evident what an abbreviation mean.

It is like writing a list of elements in one paragraph or in an item li

[2018-05-18 10:17] mrcasals commented on #3451
@tramuntanal can you give an example of what you mean?

[2018-05-18 11:06] furilo commented on #3346
OK, here is a first proposal.

- Instead of 5 I propose to have 6 inputs, just so they are aligned. I did a first first with just one column, but it takes too much vertical space.
- We offer the option to customize the invitation message.
- I have placed the button to skip as "Visit your profile" - we may adapt this text. Because, when in the signup process will this screen be shown? After you hav

[2018-05-18 11:07] furilo commented on #3346
ping @decidim/product

[2018-05-18 11:19] MarcReniu opened #3453 "Space Consultations does not use APP CSS variables configuration"
**Describe the bug**
Space Consultations does not use APP CSS variables configuration.
It only handles default Decidim values. In case an APP set $primary variable, it does not change color visualitzation for Consultations.

Maybe it's a load ordering error, or simply has no connection with APP CSS.

Mentioning @decidim/product @decidim/lot-core @decidim/module-consultations

**To Reproduce**
Step

[2018-05-18 12:26] mrcasals commented on #3039
Keep this issue open, stalebot!

[2018-05-18 15:02] MarcReniu opened #3457 "Users can vote on coming consultations/questions"
**Describe the bug**
An user can vote in coming questions of a consultations. By design, vote button (not in modal) shows himself as disabled, but you can still click on it, open modal, and even vote.

For not logged users, it shows the login modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consultation with a future start voting date
2. Create a question and some responses fo

[2018-05-19 10:07] #2978 closed

[2018-05-19 16:07] #2821 closed

[2018-05-19 17:07] #2837 closed

[2018-05-20 10:53] #2964 closed

[2018-05-21 06:57] mrcasals commented on #3067
This is still pending.

[2018-05-21 06:58] mrcasals commented on #2893
This is still pending

/cc @decidim/lot-mods

[2018-05-21 09:32] #3421 closed

[2018-05-21 13:58] MarcReniu opened #3466 "Space consultations vote modals bugs"
**Describe the bug**
This bug have two parts:
1. Change vote functionality with AJAX have a bug in render.
`update_vote_button.js.erb` does not modify current vote modals (as it's intended), it loads new one, duplicating them and making JS failing in his management

**Correction** Adding the following code before updating vote button html
[code]
2. Vote modals does not sanitize/html_safes question

[2018-05-21 13:59] MarcReniu commented on #3466
@decidim/lot-core I'll try to create a new PR for this issue as soon as possible

[2018-05-21 15:46] MarcReniu commented on #3348
With DB Views we have two options: create one view for each type of component, or create only one that encapsulates all data.

First option advantage is that changes in one view will not collide with others, but managing a doze views at same time could result in a slow performance.

Using only one view make it easier to maintain, but it has to be flexible to host all types of objects.

As first st

[2018-05-21 16:25] juliesimon opened #3469 "Hamburger menu in main navbar is not appearing on small screen when there is a logo"
**Describe the bug**
Hamburger menu icon for sign in/sign up/account is not appearing on instances that have a logo on the main navbar.
Maybe the logo should be a certain size but it seems weird that even with "small" logos, the page is not displayed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://budgetparticipatif.elogie-siemp.paris
2. Resize window to smaller size

[2018-05-21 17:29] mrcasals commented on #3469
Hi @juliesimon! The button disappearing is due to a CSS styles override at the application level. You're setting the `div.title-bar` element to this:

[code]

This is how it looks if I reset the title bar to the default color:

![](https://i.imgur.com/ZZHFAoe.png)

This makes the title bar white. Since the hamburger icon solor is white, it looks like it isn't there, but it is. You'll have to overr

[2018-05-21 17:29] #3469 closed

[2018-05-21 17:33] mrcasals commented on #3083
This is still happening.

[2018-05-22 07:16] #3052 closed

[2018-05-22 07:17] #2893 closed

[2018-05-22 07:21] mrcasals commented on #3466
Hi @MarcReniu! Thanks for the report! 😄 I'll ping @decidim/product just so they are aware of this and move to review your PR.

Thanks!

[2018-05-22 08:05] mrcasals opened #3471 "State color for initiatives?"
Hi @decidim/product!

I'm working on adding the initative cards, using the new design. The design has 4 different colors for states:

![](https://i.imgur.com/GLmWm51.png)

But the initiatives have 6 different states:

- Created
- Validating
- Discarded
- Published
- Rejected
- Accepted

How should we match these 6 states to the 4 colors? I guess we could do something like this:

- Created => GREY

[2018-05-22 08:26] mrcasals opened #3473 "Authors for initiative"
Hi @decidim/product!

While working on the new initiative card, I see that the initiative design shows a list of multiple users:

![](https://i.imgur.com/tWPOB46.png)

But the current initiative page only shows one author:

![](https://i.imgur.com/vTBarHW.png)

What is this list supposed to render? All the committee members?

[2018-05-22 08:35] arnaumonty commented on #3473
Hi, @mrcasals. An initiative can have one or more authors. The Barcelona regulation says that the initiative can be created by:
- 3 individual users
- 1 verified organization
But this is related to the regulation of each instance.
Te expected behaviour should be to show one, two or maximum three authors and " X others"

[2018-05-22 08:40] mrcasals commented on #3473
@arnaumonty I'm checking the code and right now an initiative can only have a single author, whether it's a user group or a user 😕

[2018-05-22 08:55] mrcasals commented on #3473
OK, I found the issue. An initiative, in the code, can have a single author, whether it's a user group or a user. Then we're also showing the committee members to the list, as if they were authors.

I'll copy that behaviour for the new card.

[2018-05-22 08:55] #3473 closed

[2018-05-22 09:53] #1571 closed

[2018-05-22 10:53] #1817 closed

[2018-05-22 16:37] juliesimon commented on #3469
Seems legit, thanks...

[2018-05-22 16:52] juliesimon opened #3476 "Add a label for the lopd-text field on the registration form"
**Is your feature request related to a problem? Please describe.**
We got returns from clients and users about how the CGU are displayed in the registration form. Since the field does not use the title of the page, e.g. "Terms and Conditions", and there is not label, and the check-box "By signing up you agree to the terms and conditions of use" is not directly under the lopd-text field,  it is not

[2018-05-23 06:54] mrcasals commented on #3476
The developer app shows the same behaviour described by @juliesimon. We'll try to work on it ASAP!

[2018-05-23 15:35] carolromero commented on #3346
Hi @furilo sorry I'm late answering here. Nice solution, go ahead with it!

Yes, I also think we should display it after mail is confirmed.

li works out fine for me. My only concern was that in the future we will want to give the participant some more options (blogging, for example). But I suppose in that case it will be better to add options to the upper right menu ( My Profile, My Blog).

[2018-05-24 07:17] mrcasals opened #3482 "Can't check finished consultations"
**Describe the bug**
Can't check the finished consultations due to a bug on the permissions system.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the consultations list
1. Click on "See previous consultations"
1. Get the error

**Expected behavior**
No error should be raised.

**Screenshots**
None.

**Stacktrace**
[code]

**Extra data (please complete the following information):**
 -

[2018-05-24 07:53] mrcasals opened #3484 "Matching consultation states and card colors"
I'm working on adding the consultations cards, and I have problems matching the states and the colors @decidim/product.

Consultations have 4 different states:

- Upcoming: consultation is published, but can't be voted yet ("upcoming")
- Active: Can be voted
- Finished: Cannot be voted anymore
- Published results: Can't be voted, and results of votings have been published.

I'm matching them to th

[2018-05-24 07:57] mrcasals opened #3485 "Add more consultations seed data"
**Is your feature request related to a problem? Please describe.**
Consultations seed data only include a single consultation with open votes. This makes testing other consultation states hard.

**Describe the solution you'd like**
Add more consultations in the seed data, with different states:

- Published but not votable ("upcoming")
- Finished
- Finished with published results
- Unpubished

**D

[2018-05-24 08:00] mrcasals opened #3486 "Add more initiatives seed data"
**Is your feature request related to a problem? Please describe.**
Related to #3485. Initiatives seed data includes 7 initiatives, but all of have the same state, which makes them redundant. We should have more initiatives in different states.

**Describe the solution you'd like**
Add more initiaitves in the seed data, with different states:

- Accepted
- Published
- Rejected
- Discarded
- Validat

[2018-05-24 08:55] #3319 closed

[2018-05-24 08:55] mrcasals commented on #3476
This was closed by #3483 by @agustibr 😄

[2018-05-24 08:55] #3476 closed

[2018-05-24 09:04] MarcReniu commented on #3347
Hello @decidim/product @decidim/lot-core, I'm going to throw some questions about DataViz, only to be sure not to mess it up.

* In pages that shows statistics, which graphics will be shown? Line, bars,...
* I don't see any date range selector, so I assume that, in time graphs, all data is showed by the beginning of time.
* In pages that have a filter and graphs, these need to be related to filter

[2018-05-24 09:07] mrcasals commented on #3347
I've never worked with SQL views & Rails, so I can't help you here 😞

I think so, yes!

[2018-05-24 09:42] Xfolchf commented on #2591
@decidim/lot-mods is this finished? can we close this issue?

[2018-05-24 09:47] Xfolchf commented on #3233
@rbngzlv could you give us feedback about the state of this issue?

[2018-05-24 09:51] Xfolchf commented on #3049
@tramuntanal could you give us feedback about the state of this issue?

[2018-05-24 09:59] Xfolchf commented on #3050
@decidim/lot-core could you give us feedback about the state of this issue?

[2018-05-24 10:01] Xfolchf commented on #3346
@furilo  could you give us feedback about the state of this issue?

[2018-05-24 10:05] Xfolchf commented on #3121
@decidim/lot-core could you give us feedback about the state of this issue?

[2018-05-24 10:06] furilo commented on #3346
Having another button, given that it will be shown to oneself, should not be a problem. And when the time comes, we can decide which to keep if we only want one.

OK, passing to @Crashillo !

[2018-05-24 10:07] Xfolchf commented on #3209
@furilo  could you give us feedback about the state of this issue?

[2018-05-24 10:09] mrcasals commented on #3121
The bases of the new profile design were added by @oriolgual at #3415 showing the notifications list, the list of followers of the given user and the list of users the given user is following. I think there's still some work to do.

[2018-05-24 10:21] agustibr commented on #2591
@Xfolchf PR #3042  solves this issue which is reviewed and nearly ready to merge

[2018-05-24 10:49] andreslucena opened #3492 "Opt-in for all the users with newsletters"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### 🎩 Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

We need to send a new email to all the users that have marked the newsletter checkbox. They should receive an email where they opt-i

[2018-05-24 15:50] agustibr commented on #3049
@Xfolchf we've created the `collaborative_draft_cell` that uses the `collapsible_list_cell` for authors, collaborative_draft views with versions support. the related PR is #3109

[2018-05-25 07:49] Xfolchf opened #3498 "Add images after modifying proposals"
**Describe the bug**
When modifying a proposal in this process ("I have found a bug") it is not possible to add images that could be added before publishing it. It should be possible to add images in the proposal modification process

https://meta.decidim.org/processes/bug-report/f/210/proposals/12577

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]

[2018-05-25 07:52] Xfolchf opened #3499 "Notification campaign status update"
**Describe the bug**
When notifications update and mark them as "read", the notification bell keeps appearing in active state (yellow color). Only this state disappears and it appears inactive when referring to the page.

The color should be updated immediately by marking all messages as read

https://meta.decidim.org/processes/bug-report/f/210/proposals/12575

**Screenshots**
If applicable, add s

[2018-05-25 07:54] mrcasals commented on #2056
This can be closed now!

[2018-05-25 07:54] #2056 closed

[2018-05-25 07:54] Xfolchf opened #3500 "Texts not aligned correctly on cards"
**Describe the bug**
In the date titles, the texts of the cards are not aligned correctly. As a solution, the system should limit the text of the line to a single word. In this case, instead of "data d'inici", simply "initiate" and "data of finalització", "finalització.It is well known that it is a date, therefore it is a bit redundant text

https://meta.decidim.org/processes/bug-report/f/210/prop

[2018-05-25 07:56] Xfolchf opened #3501 "Auto-follow enabled?"
**Describe the bug**
It seems auto-follow is enabled. Which is the intention of following your own profile?

https://meta.decidim.org/processes/bug-report/f/210/proposals/12566

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]
 - Decidim Version: [e.g. 0.10] 0.12.x
 - De

[2018-05-25 07:59] Xfolchf opened #3502 "Fix cell size and solve line spacing problems on cards"
**Describe the bug**
As you can see in the image, the alignment of the different cells when comparing cards is shown randomly. It would be more appropriate for the size of the cells to be fixed so as not to cause these imbalances. In turn, it is also appreciated that the line spacing is different according to the text format applied in some cases. Ideally, the spacing should always be the same, re

[2018-05-25 08:00] mrcasals opened #3503 "Dynamic user roles"
**Is your feature request related to a problem? Please describe.**
This subject has been discussed a few times offline. #3029 allows a simpler (IMHO) logic for action permissions than what `cancancan` has, so it should now be easier to implement.

The idea behind this is to move from a predefined and static set of user roles in some of the current participatory spaces we have to a more dynamic lis

[2018-05-25 08:01] Xfolchf opened #3504 "Link to admin panel disappears"
**Describe the bug**
The link to access the administration panel disappears when it is accessed from one of the components of a process or an organ.

This link of the user's menu is visible if it is accessed from the main decidi page from the processes or organs page or from the initial page of each assembly or organ. It only disappears if you display the user menu while in a component (meeting, d

[2018-05-25 08:03] Xfolchf opened #3505 "Hierarchy (or weight) in the order of the categories"
**Describe the bug**
When deploying the "categories", in the case of Metadecidim, to choose the version on which to report a "bug", in the process "I have found a Bug", the most recent version of Decidim (0.12) does not appear as the first option. .

It should be possible to assign "weight" to the categories from the administration panel so that the administrator can establish the order of the sam

[2018-05-25 08:09] mrcasals opened #3506 "Move pagination to `pagy`"
@oriolgual just found out this blogpost:

https://www.imaginarycloud.com/blog/paginating-ruby-on-rails-apps-with-pagy/

It introduces `pagy`, a pagination gem that is much more performant than `kaminari` (see blogpost for data):

https://ddnexus.github.io/pagy/
https://github.com/ddnexus/pagy

It has some migration tips to move away from `kaminari`:

https://ddnexus.github.io/pagy/migration-tips

[2018-05-25 08:20] mrcasals commented on #3502
The real problem here is why the second element is missing the footer. The other "issues" are not issues and are done intentionally, because we can't know, from CSS, how many information we will display for a given element. That's why we make shorter cards get the height of the longest card of the row.

[2018-05-25 08:41] mrcasals commented on #3504
See #3508 for a fix for this.

[2018-05-25 08:43] mrcasals commented on #3500
Decidim as a platform cannot limit this to a single word. This is the translator's job to check these cases.

I'm closing this.

[2018-05-25 08:43] #3500 closed

[2018-05-25 08:45] mrcasals commented on #3499
Instead of an AJAX call, we can make a normal call so we get a full refresh of the page. It's much simpler to handle dev-wise.

[2018-05-25 08:47] mrcasals commented on #3505
That'd be a @decidim/product decision.

[2018-05-25 08:56] mrcasals commented on #3499
Actually, this page has been changed and we no longer have the "Mark all as read" button, so this can be closed as it can't be reproduced anymore.

[2018-05-25 09:20] mrcasals opened #3510 "Private spaces generate notifications"
**Describe the bug**
I get notifications of activity by users I follow when this activity is generated in private spaces:

![](https://i.imgur.com/yTdulIk.png)

If I click on the proposal link, I get a permission error because it's a private assembly.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as user A
1. Follow user B
1. Make user B be part of a private non-transparent assembly

[2018-05-25 09:20] mrcasals commented on #3510
@decidim/lot-mods I'm tagging you since you're the ones that added the private spaces feature. Can you take care of this please?

[2018-05-25 09:39] mrcasals commented on #3501
As per the discussion on metadecidim, there doesn't seem to be a way to reproduce this anymore.

[2018-05-25 09:56] #3466 closed

[2018-05-25 10:35] carolromero commented on #3399
Hi @isaacmg410, here is a text proposal, but first, regarding the `duration` field:
Correct me if I'm wrong, but

- Duration: If the duration of this Assembly is limited, select the end date. Otherwise it will appear as Indefinite.
- Included_at: Select the date when this Assembly was added to Decidim. It does not necessarily have to be the same as creation_date.

[2018-05-25 10:41] isaacmg410 commented on #3399
@carolromero you are right!

[2018-05-25 12:43] tramuntanal commented on #3498
Not only images but all kind of attachements: pdfs, etc..
Also it may be interesting to associate this action with the versioning of the proposal. Each time we upload one file the version of the proposal is incremented by 1.

[2018-05-25 13:01] tramuntanal commented on #3347
@MarcReniu you can checkout https://github.com/thoughtbot/scenic This gem allows you to have migrations for SQL views without having to migrate the schema.rb to sql. Never used it but it looks promising.

[2018-05-25 13:04] MarcReniu commented on #3347
@tramuntanal Cool, thanks! :+1:

[2018-05-25 13:49] #3399 closed

[2018-05-25 13:51] mrcasals commented on #3100
This still happens

[2018-05-25 14:08] #3083 closed

[2018-05-25 14:09] #3504 closed

[2018-05-25 14:12] rbngzlv commented on #3322
Hi @decidim/product, after merging the PR #3478, the "List of endorsements" is always shown, so this isn't an issue anymore, right?

![screen shot 2018-05-25 at 16 10 34](https://user-images.githubusercontent.com/2051199/40548920-5dc8d0ba-6036-11e8-93e0-392aec3c2ac8.png)

/cc @tramuntanal

[2018-05-25 15:00] elaragon commented on #3398
This is quite cool! I really appreciate that stats are presented at different levels: general and process... what about at a proposal level? I am quite convinced that authors would be very interested in receiving this feedback. Moreover, it would be quite innovative to have a feature to compare 2 (or more) processes / proposals (e.g., as done in Google Trends)

[2018-05-25 15:00] elaragon commented on #3352
These graphs are really neat 👏
To make the relevance of deliberative practices visible, I would add:
- "Comentarios" in
   - Propuestas y votos por categoría"
   - "Actividad a lo largo del tiempo"
- "Propuestas con mas comentarios"

Furthermore, given the hybrid nature of Decidim (i.e., offline meetings related to online proposals), I would also add _meetings_ in this panel.

[2018-05-26 05:48] Digharatta opened #3516 "Legal Framework"
In our young country of Ukraine, the law on public consultations is yet to be adopted. We'd like to enable by this law Decidim-like e-democracy.

Since the implementation of Decidim requires legal framework, would you be so kind to share municipal normative and regulatory documents on the relationship of the Decidim community and the city council?

Is there a Catalan, Spanish or EU regulation on p

[2018-05-27 09:42] #3032 closed

[2018-05-27 11:35] Digharatta opened #3517 ""Scope" is the same as "area"?"
**Describe the bug**
Seems like in English translation, "scope" is the same as "area".

**To Reproduce**
root -> activemodel -> attributes -> question -> decidim_scope_id
English: Municipal area

However, there's also:

Catalan: Àmbit participatiu
English: Participatory scope

Catalan: Abast
English: Scope

Catalan: Àrea
English: Area

**Expected behavior**
I expected one-to-one correspondence.

[2018-05-28 07:08] mrcasals commented on #3322
@rbngzlv maybe we should hide this header if no endorsements are found, and re-render it when a new endorsement is added?

[2018-05-28 07:09] mrcasals commented on #3516
@decidim/product can you chime in here please? 😄

[2018-05-28 07:10] mrcasals commented on #3013
Closing this one, since it was fixed as part of #3029 I guess. If anyone thinks this is still an issue, please reopen it!

[2018-05-28 07:10] #3013 closed

[2018-05-28 07:10] mrcasals commented on #3099
This is still happening.

[2018-05-28 07:18] mrcasals commented on #3517
@decidim/product we keep having this doubt by different people. Should we work on a way to explain the differences between scopes and areas *inside* the platform?

[2018-05-28 07:19] mrcasals commented on #3517
Note: this is for the `decidim-consultations` module.

@decidim/product was this done in purpose? Why not use `areas` instead of scopes? Should we find a better naming for this field in consultations questions?

[2018-05-28 07:34] josepjaume commented on #3343
Given the size of this EPIC and its general nature, I don't think it should be put in the context of a CDP. Instead, is generally better to put the actual defined issues, so the scope of work is clearer and we can give some estimations.

[2018-05-28 08:13] josepjaume commented on #3171
We should consider this done! It's a good example of something that should be an `EPIC`, split in separate issues, and these put into their respective milestones / CDPs.

[2018-05-28 08:13] #3171 closed

[2018-05-28 08:15] josepjaume commented on #3121
There's some work to do like the notifications dropdown. But again, I feel like we should split issues into smaller ones so we can actually keep track of the progress.

@oriolgual closing this, please open new issue(s) so we can put them on the `0.13` series regarding the remaining changes.

[2018-05-28 08:15] #3121 closed

[2018-05-28 08:17] josepjaume commented on #2334
Closing this as most of the work is done. EPICs shouldn't be put into milestones - only issues. @oriolgual will open a new issue with the remaining work on the `0.13` version.

[2018-05-28 08:18] #2334 closed

[2018-05-28 08:48] furilo commented on #3352
Thanks for your comments @elaragon ! Here is a test including your comments. I'm not 100% sure about encoding three variables in the same graph, as comments will probably have different order of magnitude from proposals (also the same could be said about votes...): maybe it makes reading the graph more difficult, and as we are communicating %s, quick conclusions from reading the graph can be misle

[2018-05-28 08:50] furilo commented on #3398
I guess the same scheme would work for this

Do you imagine the same dashboard with graphs that include both processes, right? In this case, it would just a matter of including some widget to add a process/proposal to compare with.

[2018-05-28 08:56] josepjaume commented on #3501
Closed as it happened on a deployment using master prior to the 0.12 version.

[2018-05-28 08:58] josepjaume commented on #3498
This is a missing feature - we actually had a discussion over it. As there's a very small time window to do it and the proposal editing is mainly done to correct spelling mistakes, we chose not to implement it at the moment.

[2018-05-28 09:07] josepjaume commented on #3357
This has become stale as notification has undergone a major rehaul on master.

[2018-05-28 09:07] #3357 closed

[2018-05-28 09:10] elaragon commented on #3398
Yes, indeed, we could show the corresponding stats for the items of the three existing categories in Decidim:
- General
- Participatory Spaces: https://decidim.org/docs/features-and-roadmap/#_participatory_spaces
- Components: https://decidim.org/docs/features-and-roadmap/#_components

I am not sure which option would be easier for users:
1. To include a widget to add another item of the same type

[2018-05-28 09:14] #3391 closed

[2018-05-28 09:21] MarcReniu commented on #3398
**In my opinion**, we should focus in a MVP level, by now: lets show to the user what we want, a general view in Home, processes graphs in processes, proposals, etc.
Later, comparisons and widgets can be added as well.

[2018-05-28 09:37] #3499 closed

[2018-05-28 10:20] isaacmg410 commented on #3316
We close this issue, because PR is merged

[2018-05-28 10:20] #3316 closed

[2018-05-28 10:21] isaacmg410 commented on #3315
We close this issue, because PR is merged

[2018-05-28 10:21] #3315 closed

[2018-05-28 10:35] oriolgual commented on #3050
The changes were finally described at #3121 and implemented at #3415, I think we can close this.

[2018-05-28 10:38] #3337 closed

[2018-05-28 11:05] andreslucena commented on #3492
****
Subject: Do you want to keep receiving relevant information about <YOUR DECIDIM INSTANCE NAME>?
***

Hello,

The processing of personal data and its protection is becoming increasingly important for all of us. With the new General Data Protection Regulation (GDPR) of May 25, 2018, individuals have better control over their personal data. For this reason we need your "OK" to continue sending r

[2018-05-28 11:07] tramuntanal commented on #3348
Listing of events to be tracked is pending. @decidim/product

[2018-05-28 11:40] MarcReniu commented on #3492
@andreslucena OK, I was thinking about to create a form page, only with newsletter option.. But this is more easy for user.

[2018-05-28 11:44] #3074 closed

[2018-05-28 12:39] MarcReniu commented on #3492
@andreslucena This is the result to add your text to the mailer.

![decidim_optin](https://user-images.githubusercontent.com/13780790/40614866-c81042aa-6284-11e8-84de-2be186d324e9.png)

[2018-05-28 13:16] #2755 closed

[2018-05-28 13:31] tramuntanal commented on #3049
Hi @decidim/product @decidim/lot-px
We have pending:
- in the Proposal detail (when originated from a draft), where and how to place the link to the source draft.
- in the CollaborativeDraft detail (when published), where and  how to place the link to the resulting Proposal.

[2018-05-28 13:38] arnaumonty commented on #3049
@tramuntanal we just have commented with @decidim/lot-px . They take it and will send the proposed design.

[2018-05-28 14:14] isaacmg410 commented on #2841
@decidim/product we updated this EPIC, can you review it, please?
Maybe @oriolgual can answer or update more fields.

[2018-05-28 16:03] tramuntanal commented on #3322
wow I have not seen @xabier 's response until now.
@rbngzlv I think that PR #3478 is about the CollapsibleListCell instead of the whole endorsements section.

[2018-05-28 16:14] tramuntanal commented on #3322
@mrcasals this feature was "inspired" from decidim-iniciatives as requested by @decidim/product. At the moment of implementation there was no javascript real time updating of endorsements list. Doing it now is out of scope because there are different use cases to be controlled (multi-identity users). I'll go for updating the behaviour of the endorsements button at rendering time instead.

[2018-05-28 16:32] tramuntanal commented on #3498
Yes, maybe when CollaborativeDrafts, amendments, etc.. came to light this won't be necessary.

[2018-05-28 16:44] #3082 closed

[2018-05-29 08:58] furilo commented on #3209
Following the prototypes we previously shared, here is a more specific proposal. We'd have pending the actual icons for the badges.

## Badges - selfview

![badges selfview](https://user-images.githubusercontent.com/24740/40648552-02f0bb98-632f-11e8-8ad4-0e102dea7b0b.png)

- When you are visiting your own badges page, we could inform the user how she may earn each badge - via a tooltip, or a help

[2018-05-29 08:58] furilo commented on #3209
ping @decidim/product

[2018-05-29 09:49] mrcasals opened #3533 "Nicknames aren't scoped to the user organization"
**Describe the bug**
If I create two users with the same name and email, but for different organizations, they get different nicknames, because the `Nicknamizable` module doesn't check the uniqueness for the organization, but system-wide.

**To Reproduce**
Try that from the console.

**Expected behavior**
Two users with same name and email but differents organizations should have the same auto-gen

[2018-05-29 09:59] mrcasals commented on #3359
@isaacmg410 I'm trying this on the development app and my new admin does receive the invitation email 😕 I'll try to reproduce the second part of the issue.

[2018-05-29 10:04] Crashillo commented on #3346
Design PR #3534 ready @decidim/lot-core

[2018-05-29 10:12] mrcasals commented on #3359
Could not replicate the other part either on my local development app. @isaacmg410 saiys he'll try to reproduce it and give more feedback 😄

[2018-05-29 10:37] furilo commented on #3049
1. Link back to draft - link in the sidebar:

![proposal with link back to draft](https://user-images.githubusercontent.com/24740/40653881-d2793838-633c-11e8-8e03-eeecefeff331.png)

2. Link to proposal from the final draft:

![published draft](https://user-images.githubusercontent.com/24740/40653900-e18edc7e-633c-11e8-807f-b5ac0fe1ce3a.png)

Please @decidim/product review tests.

[2018-05-29 11:08] #3457 closed

[2018-05-29 11:08] #3485 closed

[2018-05-29 12:45] mrcasals commented on #3501
Reopening since this is indeed a bug. Working on a fix.

[2018-05-29 12:50] oriolgual commented on #2841
I've checked the events that are already done, regarding:

There's a close meeting event, not sure if the new minutes feature works like that or not.

I don't understand this.

[2018-05-29 13:15] oriolgual commented on #3510
BTW I recommend taking a look at this:

https://github.com/decidim/decidim/blob/master/decidim-core/app/services/decidim/notification_generator_for_recipient.rb#L28-L34

And

https://github.com/decidim/decidim/blob/master/decidim-core/lib/decidim/events/base_event.rb#L72-L78

[2018-05-29 13:42] #3368 closed

[2018-05-30 07:15] mrcasals opened #3540 "Difference between scopes and areas"
@decidim/product I keep getting questions on Crowdin about the difference between scopes and areas, and I can' really tell the difference between both. Can you help define what these entities are, why are they used and why we have both of them, please?

[2018-05-30 07:28] mrcasals commented on #2050
Closed by #3309

[2018-05-30 07:28] #2050 closed

[2018-05-30 07:32] #3501 closed

[2018-05-30 08:27] isaacmg410 commented on #3359
@mrcasals We have tried it again and it continues to happen, both in localhost (master), as in staging and production...

Steps to reproduce in local environment:

1- Download master, and create a new `development_app`, and execute seeds
2- Log in to system with `system@example.org`
3- Modify '/etc/hosts' to accept the 'localhost2'
4- Create a new tenant with host 'localhost2' and admin the same a

[2018-05-30 08:33] agustibr commented on #3359
@isaacmg410 and @mrcasals what proves that the admins' email is not scoped to the organization is that the email is always sent from the first organization (when the same email is used in both), even if you request to resend confiration email or change the password from the second tenant.

[2018-05-30 08:42] mrcasals commented on #3359
OK, now I could reproduce it. Still, these are two different bugs that need to be tackled separately IMO.

[2018-05-30 09:13] carolromero commented on #3379
Hi @mrcasals, I left my comment on metadecidim, but I basically agree with what you're proposing.

[2018-05-30 09:40] mrcasals commented on #3379
@carolromero nice, thanks! 😄

[2018-05-30 09:52] Xfolchf opened #3545 "Can not secure Consultations with verifiers"
**Describe the bug**
Consultations can not be configured with a Verifier to prevent unauthorized users to respond.

So right now any registered user can respond on all consultations. There is no way to require any type of verification.

Without the possibility of associating a verification system to a consultation the use of them is limited to private installations.

https://meta.decidim.org/proce

[2018-05-30 11:56] #3379 closed

[2018-05-30 13:22] mrcasals commented on #3359
@agustibr @isaacmg410 check #3543 and #3546 for fixes to both issues 😄

[2018-05-30 16:14] furilo commented on #3398
OK, after meeting with @decidim/product here is the final round of screens for the first iteration (I include here all the screens as I think its easier to follow):

## Stats block in the Site home page

![stats-home](https://user-images.githubusercontent.com/24740/40732754-4370f560-6434-11e8-998f-b6ce9d05c742.png)

* The outlined box is the hover estate
* Note the link "See site stats", which wou

[2018-05-30 16:14] furilo commented on #3347
All updated screens related to this epic compiled in #3398

[2018-05-31 08:36] Xfolchf commented on #2292
@decidim/product must define the flow

[2018-05-31 08:48] furilo opened #3552 "User Profile / Conversations"
Here are the designs for Conversations tab in the user profile

## Conversations list

![conversations](https://user-images.githubusercontent.com/24740/40772269-cda951a6-64bf-11e8-87c1-36ea000098ba.png)

* Evolving from the implemented one, we adapt styles and UI to the rest of the tabs

## Conversation

![conversations-conversation](https://user-images.githubusercontent.com/24740/40771279-394ebeb

[2018-05-31 08:51] MarcReniu commented on #3398
@elaragon its not a bad representation, if you want to show trends in time. I'm more concerned about putting proposals with votes and comments, because we could see a flat line for the first and high peaks for the two lasts.
Maybe we should use a double scale for this last graph? One for proposals, and another for votes and comments.

[2018-05-31 08:56] furilo commented on #3398
I don't think it's a problem to use different criteria for different graphs. In the case of the general stats, I guess the objective is to show where we are in terms of size, and how we got here. This way we can see growth speed. In the other case, maybe it's more interesting to focus on activity spikes... although in the end, they are not so differen.

I agree with @MarcReniu that showing those t

[2018-05-31 10:03] mrcasals commented on #3359
@isaacmg410 can you re-confirm the issue is solved, so we can close it? 😄

[2018-05-31 12:18] agustibr commented on #3359
@mrcasals I confirm that the issue of the emails is solved with PR #3546 "Correctly find the user asking for confirmation email" . Thanks!! :smiley:

[2018-05-31 12:29] mrcasals commented on #3359
Cool, closing then!

[2018-05-31 12:29] #3359 closed

[2018-05-31 12:44] #3031 closed

[2018-05-31 12:44] #3317 closed

[2018-05-31 12:49] juliesimon opened #3554 "An admin cannot hide content that has been hidden once then un-hidden"
**Describe the bug**
As an admin I cannot hide content that has been already hidden then  un-hidden

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a proposal and click on the flag to notify rogue content
2. As an admin, I go to the moderation section and hide this proposal
4. Then I cancel the moderation by accident
5. If I try to hid this proposal again, it does not work

**Expected

[2018-05-31 13:22] juliesimon opened #3555 "A moderator should receive a notification when content is flagged"
**Describe the bug**
As a moderator (not administrator) of a participatory process, when a content is reported and available in the moderation menu, I should receive a notification that content has been flagged (just like the one that an administrator receives)

(Did not know if this was a bug report or a feature request, but since the only role of the moderator is to moderate, I thought it was ki

[2018-05-31 13:42] mrcasals commented on #3397
@isaacmg410 sorry, can you tell me how do I get to ask for a CommitteeRequest? What are the conditions that an initiative need to fulfil in order to be able to reproduce this?

[2018-05-31 13:54] isaacmg410 commented on #3359
@mrcasals the issue is solved ! 👏 👏

[2018-05-31 14:18] mrcasals commented on #3397
Solved online, turns out that in order to find that URL you need to go to the Admin, in the "Committee members" section of the given initiative.

Checking the code I see that you cannot ask to be part of the initiative committee if the initiative has already been published, and all the initiatives are published by now (until #3486 is completed):

https://github.com/decidim/decidim/blob/31c6a26549e

[2018-05-31 14:33] isaacmg410 commented on #3397
Now I have created a new initiative, as user, without publishing it, I have tried to sign in with another user and I still can not sign in as a member ...

Does anyone know about the functionality of initiatives and can guide us a little bit?
cc/ @decidim/product @decidim/developers

[2018-05-31 15:08] MarcReniu opened #3556 "Cannot manage components inside Consultations"
**Describe the bug**
A clear and concise description of what the bug is.
In Admin Consultation management, you can create components as you wish but, once created, its not possible to manage it. Reports an authorization error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Consultation > Components
2. Create a new Component, doesn't matter which type
3. Click to manage it in pencil i

[2018-06-01 06:51] mrcasals commented on #3397
I will check it then!

[2018-06-01 07:09] jsperezg commented on #3397
as far as I remember this feature is only available for verified users.

[2018-06-01 07:20] isaacmg410 commented on #3397
So, should we give some other message saying that the user is not verified?
Or, redirect to login and later to the verification screen?

[2018-06-01 09:40] tramuntanal commented on #3049
@decidim/lot-px let us know when layouts are finished.

[2018-06-01 11:49] moustachu opened #3562 "Comments : Improve compatibility with Internet Explorer 11"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The comments module can't be loaded on IE11 because of JS compatibilities (Obecjt.assign). This can be seen on all pages with the comments module enabled like :
http://staging.decid

[2018-06-01 11:52] moustachu commented on #3562
I didn't come empty handed ;)

A quick fix could to add the babel-polyfill to the build process of the typescript code.
We did try and fix it for a client like that :
https://github.com/OpenSourcePolitics/decidim/commit/516cb11a16cbb211c51645ff52ab21c02669afcc

But I'm no Typescript guru and I wanted to check with you if it's the right way to do it.

[2018-06-01 13:16] #3079 closed

[2018-06-01 13:43] Crashillo commented on #3049
Designs updated (and merged, I see)

[2018-06-01 14:03] furilo commented on #3343
Hi @decidim/product

[2018-06-01 14:05] furilo commented on #3343
Hi @decidim/product - Here is a list of things I think we could do on a first iteration (it mixes Xavier's points with some other ideas from us). Take a look, let's finish prioritizing a list of the first 10 things we want to face, and we can create issues so they can be estimated and planned.

- [ ] Adaptive cards on front page: if there is only one process/assemblies the card should expand and t

[2018-06-01 16:18] rbngzlv commented on #2594
@xabier I missed your comment, sorry. I'll investigate the integration of the JS library to implement an endpoint that returns the necessary data to draw the graph.

[2018-06-02 01:03] diegocrzt opened #3566 "Error in initiatives when scope is deleted"
# This is a Bug Report
:tophat: **Description**

For bug reports:

* What went wrong?
When using `Initiatives` in decidim, after a process that consists on creating
   - **Scope**,
   - **Initiative Type**, and
   - **Initiative** (the initiatives are then published).

    An administrator can go now to **Configuration** > **Scopes** and then delete the scope associated to the Initiative Type, the

[2018-06-02 01:38] diegocrzt opened #3567 "Initiatives menu dissapears when selecting Committee Members in admin dashboard"
# This is a Bug Report
:tophat: **Description**

For bug reports:

* What went wrong?
When using `Initiatives` in decidim, editing an initiative in admin dashboard shows the left initiatives menu normally (not the dashboard menu). One can see `Information`, `Committee Members`, `Components` and so on.  But if clicking on `Committee Members` this menú disappears and instead only appears `Initiative

[2018-06-04 06:39] mrcasals commented on #3120
I guess this still happens.

[2018-06-04 06:40] mrcasals commented on #3567
I think these controllers are using the wrong layout, will need to check it. Thanks for reporting it!

[2018-06-04 06:42] mrcasals commented on #3566
Looks like it's not handling the case where the scope is `nil`.

Thanks for reporting it!

[2018-06-04 06:45] #3510 closed

[2018-06-04 08:19] carolromero commented on #3552
Hi @furilo, looks good to me, I like the chat style. My only comment on this is to include a way to get back to the general discussion list. Other than that I think it's ready for layout.

[2018-06-04 08:41] mrcasals commented on #3397
I've changed the seeds so that we have an initiative with each possible state (see #3568). I've tried to reproduce the steps for each initiative, and I can visit the page on each initiative, except the one with state `published`.

I think this is the expected behaviour, so I think there's no bug here.

@decidim/product can you help us clarify this please?

[2018-06-04 09:11] Xfolchf opened #3569 "Visibility of private process vs. process group"
**Describe the bug**
In version 0.12 if you make a private process within a group of processes you see the group but not the process. That is, if you want to do a group of private processes, the processes are not visible, but all the users know that this topic is being worked on or discussed.
On the other hand in spite of having the process in private, when it was like admin, the process was not s

[2018-06-04 09:18] mrcasals commented on #3482
This was closed by #3524.

[2018-06-04 09:18] #3482 closed

[2018-06-04 09:23] #3453 closed, assigned to mrcasals

[2018-06-04 09:26] carolromero commented on #3209
Hello @furilo, thanks for the proposal. Some comments for moving forward on concrete things:

- We need an **informative page of the badges that can be obtained**. In that page I would also show the categories, but I would not use them as an engagement element (that is, I would not show the progress of each category). Instead I like the idea of showing the achieved badges in the sidebar.
- Since w

[2018-06-04 09:33] carolromero commented on #3343
Hi @furilo I reorganized the list in your last comment in order of priority.

[2018-06-04 09:43] Xfolchf opened #3571 "Don't know what %{limit} is referring to on the message shown at image attached"
**Describe the bug**
When the bracket threshold is enabled, and a proposal can collect more than the threshold limit, a message is shown as you can see on the imatge attached.
We don't know what %{limit} is referring to.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12585

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.git

[2018-06-04 09:45] furilo commented on #3209
Our illustrator has delivered the first sketches for the badges. These are just tests to confirm the visual style and direction - these have yet to be converted to vector so they will fit in smaller sizes. So: don't worry yet about having too much detail or not being able to reduce to smaller sizes. Just comment on the general style ;)

Also, we are trying to create a color palette so that it badg

[2018-06-04 09:46] mrcasals commented on #3571
@decidim/lot-mods this seems to come from #3019, can you take a look at this please?

[2018-06-04 10:25] Xfolchf opened #3573 "Can not hide a comment through moderation"
**Describe the bug**
Hiding button is not working on moderation
We are trying to hide a comment on a proposal:
https://www.decidim.barcelona/processes/plaequipamentssantscentre/f/2355/proposals/12770
...because it's written twice.
Although we click on hiding, no action is done.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12583

**Screenshots**
If applicable, add screenshots to h

[2018-06-04 10:28] Xfolchf opened #3574 "The input type date_field does not work properly when the date is entered manually"
**Describe the bug**
This is an Improvement of User Experience.

On the public side, in a `date_field` field if the date is entered manually (without using the calendar widget) this is not copied to the value of the hidden input that is sent.

An example, where to find this error, can be any Verifier module which must be verified with the date of birth.

As a user, I hope to enter the date manuall

[2018-06-04 10:31] Xfolchf opened #3575 "The active period of the process does not take the end of the day"
**Describe the bug**
Els processos es marquen com passats el dia de finalització (es resta un dia al període actiu del procés). Caldria incloure el dia de finalització també al període actiu del procés.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12589

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Wind

[2018-06-04 10:49] #3378 closed

[2018-06-04 12:29] josepjaume commented on #3397
Removing this from the `0.12` release as it's not a new issue and can be solved afterwards.

[2018-06-04 12:34] oriolgual commented on #3120
@juliesimon do you think you might be able to give us some steps to reproduce this?

[2018-06-04 12:40] oriolgual commented on #3343
All the improvements seem doable. The only one that might need extra work or research is the fast signup, and we would need to clearly know what to do.

[2018-06-04 12:42] oriolgual commented on #3343
Also, https://github.com/decidim/decidim/issues/3346 says we should integrate the invitation process at sign up, I'm not sure if this is correct and how it affects a registration wizard.

[2018-06-04 12:55] mrcasals commented on #3346
@decidim/product we've merged the PR, but we need you to review the texts there to ensure everything is OK.

@decidim/product after sign up, we're redirecting the user to the verifications page so that they can verify themselves. This would clash with the asked behaviour. I'll start working with the link on the user navigation dropdown (see last image at https://github.com/decidim/decidim/issues/3

[2018-06-04 13:08] #3318 closed

[2018-06-04 13:22] mrcasals commented on #3384
PR #3580 should fix this issue.

[2018-06-04 13:39] arnaumonty commented on #2292
Hi @furilo ,

After be discussed on @decidim/product the flow should be the same as presented in this [comment](https://github.com/decidim/decidim/issues/2292#issuecomment-384600582) by @javierarce in accordance with the following steps:

1. Create an amendment (the title and the description of the proposal is filled in automatically by default with the original proposal text)
2.  Each amendment i

[2018-06-04 13:50] furilo commented on #3552
I think with the tab option is enough, but we can include this icon in the conversation header?

![conversations-conversation](https://user-images.githubusercontent.com/24740/40921169-03591348-680f-11e8-9cff-35f6105682db.png)

[2018-06-04 13:58] arnaumonty commented on #3049
@furilo just a minor comment: in the draft page should say "Final Draft" instead of "Final Proposal".

[2018-06-04 14:11] arnaumonty commented on #3398
Hi @furilo after to discuss on @decidim/product we validate all the proposed designs in your last comment. You can start with the layout.

[2018-06-04 14:17] arnaumonty commented on #3348
After being discussed on @decidim/product we have decided to leave this issue in the fridge for future iterations. Now let's focus on #3398 where is defined the home stats, processes stats and proposals stats.

[2018-06-04 14:20] Xfolchf commented on #2623
@josepjaume @decidim/lot-core is allready check all that have benn done?

[2018-06-04 14:31] carolromero commented on #3346
Hi @mrcasals where do we test the feature?

[2018-06-04 14:33] mrcasals commented on #3346
@carolromero we've merged the design PR, it is not implemented in Decidim yet. The issue was closed automatically, but shouldn't be.

[2018-06-04 14:39] carolromero commented on #3346
Ok @mrcasals thanks. I'll give feedback about fast sign-up here: https://github.com/decidim/decidim/issues/3343#issuecomment-394341019

[2018-06-04 14:44] arnaumonty commented on #3049
Hi   @tramuntanal @decidim/ lot-mods, after to review collaborative drafts in staging we should find a solution for M card (collaborative drafts list page) when we have more than one author in a proposal:
The present design:
![captura de pantalla de 2018-06-04 16-29-50](https://user-images.githubusercontent.com/3855859/40923643-9e12d990-6815-11e8-8802-c923e99830df.png)

Our proposal is when we hav

[2018-06-04 14:50] josepjaume commented on #2826
@andreslucena @xabier I'm currently working in this. I've added the related PR to each bullet point.

[2018-06-04 15:16] agustibr commented on #3049
hi @arnaumonty

This also applies to the details of the CollaborativeDraft?

![screenshot from 2018-06-04 17-14-14](https://user-images.githubusercontent.com/210216/40925835-edd2ae42-681a-11e8-9558-c0e4d3b09d09.png)

[2018-06-04 15:48] carolromero opened #3583 "EPIC: Participatory Texts"
# This is an EPIC

## Summary

### EPIC description
This module enables discussion of large texts by importing structured and unstructured documents, breaking them down into Decidim cards (as happens with proposals or results) and also allows the opposite, the generation of a unified text based on a set of cards (proposals or results). Users can then browse the contents and interact with them (sup

[2018-06-04 15:51] xabier commented on #3082
@Xfolchf please check this out

[2018-06-04 16:07] carolromero opened #3584 "Participatory Texts MVP"
This issue is related to the EPIC #3583

## Breakdown of texts

- Uploading a text in ODT, DOCX or MarkDown format via the admin panel and dividing it into proposals or results.
  - If the text is structured, a card will be created for each subsection of the text, with the title of the card being used as the title of the corresponding section or subsection.
  - If the text is unstructured, a card

[2018-06-04 16:14] virgile-dev commented on #2826
Hey @andreslucena
Is the security audit report of Decidim a public one ?
We'd like to check it out :)

[2018-06-05 05:55] Digharatta commented on #1436
I would like to translate the essentials of some well-structured process like "Repensemos el 22@".

https://www.decidim.barcelona/processes/Repensem22a

If you'll help me with copying the essential structure, I'll greatly appreciate it.

I wonder if it's possible to make an automatic machine translation, to start with.

[2018-06-05 07:07] mrcasals commented on #1436
@Digharatta I think @decidim/product wanted to extract some seeds from http://westeros.localret.codegram.com/ but I'm not sure what's the status.

@decidim/product can you help here please?

[2018-06-05 07:14] josepjaume commented on #2623
I've just updated the development status

[2018-06-05 07:16] mrcasals commented on #3584
What does "structured" mean? How do decide if a file is structured or not? This is a huge feature and we'll need to discuss some things before tackling development.

While discuto.io seems interesting, it's a service that *only* does this, and has time to refine this feature.

[2018-06-05 07:19] mrcasals commented on #3566
We can use both options, depending on the case:

1. We handle the situation in the views (`link_to ... if resource.scope.present?`)
2. We could use a presenter on the initiative, and make it [return a `NullObject` if the scope is not present](https://robots.thoughtbot.com/handling-associations-on-null-objects).

[2018-06-05 09:15] josepjaume commented on #2664
`X-Content-Type nosniff` is already default in rails. The reason the listed routes don't them is:

* Upload stored in S3 should have that header set on upload time. I've created a PR for that: Add nosniff header #217
* The rest of the static assets are served via `Heroku` and we don't have access to the way it sets headers.

[2018-06-05 09:35] josepjaume commented on #2660
This is something that must be done on the end app, as you can't make assumptions about the environment decidim will be executed in. I've created a PR in Barcelona: https://github.com/AjuntamentdeBarcelona/decidim-barcelona/pull/218

[2018-06-05 11:16] Xfolchf commented on #3082
I have re-open this issue in https://github.com/AjuntamentdeBarcelona/decidim-barcelona/issues/219

[2018-06-05 12:48] isaacmg410 commented on #3571
hey @decidim/product @decidim/lot-core
I have just reviewed this issue and I can't reproduce in local development..
Attached some screen capture..
![captura de pantalla 2018-06-05 a las 14 38 56](https://user-images.githubusercontent.com/28536082/40976772-6cd18d62-68cf-11e8-92bc-a1a2e7217456.png)
![captura de pantalla 2018-06-05 a las 14 41 55](https://user-images.githubusercontent.com/28536082/40

[2018-06-05 13:31] josepjaume commented on #2660
This is done with [rack-ssl-enforcer](https://github.com/tobmatth/rack-ssl-enforcer), currently installed in `decidim-barcelona`.

[2018-06-05 13:32] josepjaume commented on #2666
This can be done with [rack-ssl-enforcer](https://github.com/decidim/decidim/issues/2660) and can't be configured by decidim, as it depends on the end app's setup. Already installed in Barcelona.

[2018-06-05 13:36] josepjaume commented on #117
This must be done at the app's level. Can be tricky to implement s the article suggests.

[2018-06-05 13:38] rbngzlv commented on #2594
Hi @decidim/product and @decidim/lot-px, I checked the proposed library for the organisational chart (https://github.com/BernhardZuba/d3js-orgchart) and seems that is only compatible with and old version of D3.js (v3, the latest is v5.4). Can you check if there are another alternatives more maintained?

[2018-06-05 13:55] josepjaume commented on #117
Applied in Barcelona: https://github.com/AjuntamentdeBarcelona/decidim-barcelona/pull/220

[2018-06-05 13:58] josepjaume commented on #2826
Hi! I've made much advances in this front. Check out the individual issues ;)

[2018-06-05 14:07] mrcasals opened #3589 "Use an Invitation model instead of invited Users"
**Is your feature request related to a problem? Please describe.**
To avoid polluting the `users` DB table with invited users that might never accept the invitation, we could use an `Invitation` model to hold this data.

**Describe the solution you'd like**
Add an `Invitation` model that is created on invitation, and when the user accepts it then it converts to a real `User`. This `Invitation` sho

[2018-06-05 14:36] MarcReniu commented on #3398
Hi @furilo, do you any code to show me how the graphics will be load? I expect a D3 library but I need the data structure to create it. Thanks!

[2018-06-05 14:40] furilo commented on #3398
Just to clarify: are we in charge of creating the visualizations? We can do it, but I thought that was in @decidim/lot-mods hands?

[2018-06-05 15:22] MarcReniu commented on #3398
Well, in the last session we talk about this and @decidim/lot-px would create the graphs with D3 libraries, if it was possible.

[2018-06-05 16:11] furilo commented on #3398
Mmm... OK, we can do it, although I understood the contrary: that it would be you who would do the implementation part. @decidim/product can you confirm that we do the implementation part (front-end)?

[2018-06-05 16:12] furilo commented on #2594
I have not seen D3.js based ones after a quick search, but several in JS:

https://github.com/dabeng/OrgChart.js
http://fperucic.github.io/treant-js/

https://www.google.com/search?q=js+org+chart

[2018-06-05 16:38] furilo commented on #3209
## Informative page

![badges info](https://user-images.githubusercontent.com/24740/40989934-9b88461c-68ef-11e8-8332-afb4925770a8.png)

(@decidim/product you can start working on the texts ;)

## Badges tab for when user doesn't have any

![badges b empty b](https://user-images.githubusercontent.com/24740/40989930-988d84a4-68ef-11e8-9ee0-fbe474f20e9f.png)

[2018-06-05 16:40] furilo commented on #3343
OK, I'll create one issue for each.

[2018-06-05 21:26] arnaumonty commented on #3049
@agustibr in this case I would leave three authors and "X more people"

[2018-06-06 07:06] mrcasals opened #3592 "Integrate HIBP with password security"
**Is your feature request related to a problem? Please describe.**
HIBP (Have I Been Pwned) is a DB of leaked passwords. These passwords leaks are used to hack people's credentials.

Recently, HIBP has opened an API to check if the password being submitted has been leaked already or not. I propose we integrate this service with our user system, so that we ensure our users use non-leaked passwords.

[2018-06-06 07:07] mrcasals commented on #3592
@decidim/product thoughts on this?

Maybe we could add a configuration option per installation to enable/disable this feature.

[2018-06-06 08:21] agustibr commented on #3049
Ok @arnaumonty it will show:
- "1 author + X more people" for `m` sized card
- "3 authors + X more people" in details page

[2018-06-06 08:38] josepjaume commented on #2707
Closed by #3559

[2018-06-06 08:38] #2707 closed

[2018-06-06 08:38] josepjaume commented on #2591
Closed by #3559

[2018-06-06 08:40] #2591 closed

[2018-06-06 09:10] furilo opened #3595 "Fast signup"
## Initial idea

A huge obstacle for early onboarding to the platform, particularly for small actions like registering for a meeting or responding to a survey, is a lack of fast registration method, long forms and email verification unable a fast onboarding. In order to avoid this we want a faster sign-up/registration wizard that allows a quick user creation, where some things like email verificat

[2018-06-06 10:15] furilo commented on #3595
Issue updated with some ideas and points regarding approach. Please @decidim/product @decidim/lot-core review.

[2018-06-06 10:52] Xfolchf opened #3596 "Error trying to access the permissions configurator within a component"
**Describe the bug**
By clicking on the icon of the key to edit the permissions of a component, for example proposals, in a process, it brings you an error page.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12594

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox

[2018-06-06 11:03] andreslucena commented on #3595
This has some privacy/legal implications (GDPR, regarding opting in for a service).

...

Regarding this two ideas, it's very important that we *don't* send any email (because we didn't get consent) and I believe also that *verification shouldn't work* until you confirm your email, or at least it should have a very close window of time where it work. This last point is important because there coul

[2018-06-06 12:45] oriolgual commented on #3595
Why aren't we asking for consent?

This is what worries me the most, what should we do with the votes or similar things with users that never confirmed their email?

[2018-06-06 12:47] arnaumonty commented on #2594
@elaragon thoughts on this?

[2018-06-06 12:56] furilo commented on #3595
My miss! It becomes a little tricky, as it makes no sense to ask for consent in the first step. I've updated the issue including a sketch of asking for consent if we detect it's a new user (also giving her the option to go to full signup if she wants)

[2018-06-06 13:49] arnaumonty commented on #2594
@elaragon any example of radial trees lD3.js library?

[2018-06-06 13:58] elaragon commented on #2594
I did not find any specific D3.js based library on Google but there are already many examples at the gallery of how to implement radial trees with D3.js, e.g.,
- Radial Tidy Tree https://bl.ocks.org/mbostock/4063550
- Radial Tree with UI https://bl.ocks.org/wmleler/a734fb2bb3319a2cb386
- Collapsible Force Zoomable Draggable Radial Tree https://bl.ocks.org/anonymous/ca046ccc115520d501060e4256aa6ada

[2018-06-06 16:12] furilo commented on #2292
OK, here are the screens (I'm adding them all although some of them are the same as previously shared so there is no confusion, and will update this comment with changes we do along the way):

## Proposal with ammendment button

![proposal v2](https://user-images.githubusercontent.com/24740/41050814-bff78290-69b4-11e8-83f0-b5ca73592baa.png)

## Create ammendment form

![proposal v2 - create amendm

[2018-06-06 17:20] juliesimon commented on #3555
Hello, have you been able to discuss this fix ? Our client would like to use this feature next week; it'd be great to have an answer (if it's something you'll fix and if yes, when do you think you'll be able to do it). Thanks a lot !

[2018-06-07 07:51] agustibr commented on #2292
Great, thanks @furilo !

[2018-06-07 08:47] #3346 closed

[2018-06-07 09:21] mrcasals commented on #3555
Hi @juliesimon! We haven't been able to work on this yet 😞 I'll start working on it right now!

[2018-06-07 09:31] #3322 closed

[2018-06-07 09:53] Xfolchf opened #3606 "The new search engine is showing proposals that are not public"
**Describe the bug**
In Metadecidim, when you make a search of proposals, I think that proposals that are not published are coming out, but that they are in draft state. It does not let you do any action with this proposal.

The draft proposals should not be seen.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12596

**Screenshots**
If applicable, add screenshots to help explain yo

[2018-06-07 09:54] andreslucena commented on #3314
@isaacmg410 no, as an admin you should only download the front office contents (ie not contents on /admin)

[2018-06-07 09:55] mrcasals commented on #3606
@decidim/lot-mods can you check this please? 🙏

[2018-06-07 10:08] Xfolchf opened #3607 "The profile image does not take the correct resolution"
**Describe the bug**
On the public profile page, the image is shown with a lower resolution of the original.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12598

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]
 - Decidim Version: [e.g. 0.10] 0.12.x
 - D

[2018-06-07 10:15] josepjaume opened #3608 "Meeting cards fail when rendered on the search page (and logged in)"
**Describe the bug**
Meeting cards fail when rendered on a search page (and potentially other places), since they [rely on `current_component` being available on the `controller`](https://github.com/decidim/decidim/blob/master/decidim-meetings/app/cells/decidim/meetings/join_meeting_button_cell.rb#L16).

We could get the `component` from the model instead.

**To Reproduce**
Steps to reproduce the

[2018-06-07 10:16] juliesimon commented on #3555
Thanks a lot @mrcasals  !!

[2018-06-07 10:18] josepjaume opened #3609 "Search results should be paginated"
**Describe the bug**
The search result page isn't paginated, so searching for short strings with potentially lots of results ends up with a really long execution time plus a performance penalty on the server.

Search results should be paginated.

**To Reproduce**
1. Search for a short string: 'a'
1. You can see all the results in the page.

**Expected behavior**
Only the most relevant results shou

[2018-06-07 10:30] Digharatta opened #3611 "Change "Users" for "Participants""
**Is your feature request related to a problem? Please describe.**

One one hand, we invite people as "participants" to democratic processes, and on the other hand, we refer to people as "users", as if they were just consumers. Isn't there a kind of dissonance?

@xabier wrote in #2089 :

**Describe the solution you'd like**
I would suggest to replace "users" with "participants" in most cases.
Than

[2018-06-07 10:58] carolromero commented on #3611
Thanks for the ping @mrcasals. You're absolutely right @digharatta. It is indeed incoherent, let's do what you propose.
In fact, in @decidim/product we were just talking about doing an exhaustive review of all the strings because there are other inconsistencies, mainly due to the high pace of development of these months.

[2018-06-07 10:59] carolromero commented on #3611
We're going to plan a specific sprint for this. Let's leave this issue open for follow-up.

[2018-06-07 11:30] Digharatta commented on #3611
Yoohoo, then get prepared, barbarians a-coming...

[2018-06-07 12:36] #3555 closed

[2018-06-07 14:34] arnaumonty commented on #2292
Just a quick comment @agustibr @furilo to take into account. In the proposal with amendments page, the list of users below "Amended by" is the list of the authors of the **accepted** amendments ok?

[2018-06-08 06:39] #3608 closed

[2018-06-08 06:40] #3596 closed

[2018-06-08 07:45] #3556 closed

[2018-06-08 08:03] tramuntanal opened #3620 "Search results visibility"
**Is your feature request related to a problem? Please describe.**
This issue is related to #2706 Search

### Results visibility
Searchable resources are into participatory spaces that may be private. Resources even can have it's own visibility restrictions (like meetings that can be private and transparent in its own).

**Describe the solution you'd like**
This restrictions should be taken into a

[2018-06-08 08:17] josepjaume commented on #3620
@tramuntanal both solutions seem reasonable to me.

Reagarding the first option: Seems reasonable. If a resource has *any* visibility restriction, just don't index it. This solves the privacy issue.

The second one seems harder to solve. Checking that on render time is indeed a hack and I don't like it. But maintaining the list of users with visibility doesn't seem reasonable to me as well. We wou

[2018-06-08 08:31] agustibr commented on #2292
@arnaumonty, Yes I understood that

[2018-06-08 10:19] Xfolchf opened #3622 "Proposals can be modify even though they've received support or have been commented"
**Describe the bug**
Proposals can be modified even though they've been supported or commented, which can lead to unwanted situations. Let's say you can modify your proposal during 10 minutes, and you add at the last minute another idea to your proposal. Someone might have already voted for it and he might not agree with what you've added. He has no way tho (aka no notification) to know that you'v

[2018-06-08 10:22] Xfolchf opened #3623 "The invitation to admin link does not work"
**Describe the bug**
I have received an invitation to be admin and I get an error, the message you give me is the following:
translation.missing.ca.devise_invitation.user.invitation_token_invalid

https://meta.decidim.org/processes/bug-report/f/210/proposals/12601

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]

[2018-06-09 08:44] xabier commented on #3505
This is clearly not a bug but a "feature request". I think it is very valuable.

[2018-06-11 07:09] mrcasals opened #3626 "Document the differences between vote, endorse and sign"
**Is your feature request related to a problem? Please describe.**
In Crowdin there's a lot of doubts with the differences between these 3 concepts:

- Vote
- Endorse
- Sign (initiatives)

**Describe the solution you'd like**
A documentation file that explains the differences between these 3 concepts, at Decidim level.

**Describe alternatives you've considered**
None.

**Additional context**
None

[2018-06-11 07:09] mrcasals commented on #3626
/cc @Digharatta

[2018-06-11 07:09] mrcasals commented on #3626
@decidim/product please, can you help here? 🙏

[2018-06-11 07:29] mrcasals commented on #3611
Other strings/concepts that should be reviewed/explained better, because they seem to be confusing:

- "Each proposal can accumulate more than %{limit} supports" => It was suggested to change this to "must" instead of "can" [here](https://crowdin.com/translate/decidim/114/en-rumany#6701).
- Issue #3626
- Comment on https://github.com/decidim/decidim/issues/2089#issuecomment-338483619 (the destroy-

[2018-06-11 08:04] #3606 closed

[2018-06-11 08:25] furilo opened #3629 "Process list: Improve filters"
Part of #3343

## Initial idea

Improve PAST|ACTIVE|UPCOMING|ALL tab/filter experience: it is not very visible, many people report problems when trying to find old processes.

## Proposal

![imagen](https://user-images.githubusercontent.com/24740/41223333-c9a7d35e-6d69-11e8-82ca-89f3ec53ff88.png)

I think it's self-explanatory, let me know if not ;) Only comment: we would include the flash notice

[2018-06-11 08:32] Digharatta commented on #2845
"Authorization" is hard to comprehend for rank and file citizens. For clarity, I would suggest to use two-word term, e.g. "[identity confirmation](https://www.michigan.gov/taxes/0,4676,7-238-43513_73927_73928---,00.html)".

"Confirmation" - because the citizen confirms his declared identity by providing the documents.

[2018-06-11 09:15] Xfolchf opened #3630 "Search box does not work sometimes"
**Describe the bug**
When typing a word to search, sometimes appears the message inthe image :

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/41222928-a5369e20-6d68-11e8-94d8-5b0621e04f39.png)

**Stacktrace**
If applicable, add the error stacktrace to help explain your problem.

**Extra data (please complete

[2018-06-11 09:16] Xfolchf opened #3631 "Decidim Team Assembly is shown 3 times"
**Describe the bug**
There's only one private assembly "Decidim Team" and in the front end there are three Decidim Team Assemblies.
https://meta.decidim.org/assemblies?locale=es

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]
 - Decidim Version: [e.g. 0.10]
 - Decidim

[2018-06-11 09:18] Xfolchf opened #3633 "Download excel with proposals"
**Describe the bug**
When you download excel with the proposals, it also includes those that are pending publication by the user (we deduce that you save them as a draft), so you have to do a manual cleaning of what is certainly published of what is in process and that therefore does not enter into this if you have set a deadline.

**Extra data (please complete the following information):**
 - Dev

[2018-06-11 09:20] Xfolchf opened #3634 "Message error trying to join as a Promoter on an Initiative"
**Describe the bug**
When following the link to joining as committee member of an initiative host in Decidim.barcelona and clicking on Conitnue in order to become a promoter, I get a user error message: "user not aviable" as shown on image attached, although I'm correctly logged in the platform.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-ima

[2018-06-11 09:26] Xfolchf opened #3635 "Notifications of membership to a proposal"
**Describe the bug**
When a user group endorses a proposal, the user name appears in the notification, not the one of the user group.

I notice that when you have joined as UserGroup, I should read the name of the UserGroup, or do not leave the notification.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/412

[2018-06-11 09:31] Xfolchf opened #3636 "No traceability to the log of the administration with the configuration of queries / initiatives"
**Describe the bug**
1) What went wrong:The actions of admin with respect to the consultations / initiatives in the registry of administration do not appear
2) What did you expect happened?Traceability
3)Where did you find this error?: Control Panel - Admin Registration

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windo

[2018-06-11 09:35] Xfolchf opened #3637 "Upgrade 0.12.0.pre - user administrator - ActionView::Template::Error"
**Describe the bug**
After upgrading to version 0.12-pre, users created with the "user administrator" role can not access the platform. We attach error details captured with errbit:

MESSAGE: Allowing a previously disallowed action is not permitted: # Decidim::PermissionAction:0x00007ff8369f4238 @action=:read, @scope=:public, @subject=:admin_dashboard, @state=:disallowed
ERROR CLASS:	ActionView::T

[2018-06-11 09:42] isaacmg410 commented on #3631
This happens when an Assembly is Private and Transparent. Right?

The Admin invites a private user to be part of the assembly. This user, when viewing Assemblies, sees that the Assembly has been repeated.

In addition, for every private user we invite, the Assembly doubles (for example: if we invite 3, we see 3 assemblies with the same name).

This is a problem that affects ONLY the private users

[2018-06-11 10:12] mrcasals commented on #3637
Sorry, what's a "user administrator"? 😕 @decidim/product can you help here?

[2018-06-11 10:12] mrcasals commented on #3637
Also @Xfolchf can you post the metadecidim link please?

[2018-06-11 10:14] mrcasals commented on #3635
I don't know if the current notifications system allows for a notification by a user group. @oriolgual can you chime in here?

[2018-06-11 10:17] mrcasals commented on #3633
@decidim/lot-mods can you check this please? 🙏

[2018-06-11 10:17] oriolgual commented on #3635
No, notifications are only targeted to a user, not the user group.

[2018-06-11 10:18] mrcasals commented on #3611
Also this issue is worth discussing: https://github.com/decidim/decidim/issues/2845#issuecomment-369205011

[2018-06-11 10:18] mrcasals commented on #3630
@decidim/lot-mods can you check this please?

[2018-06-11 10:20] oriolgual commented on #3595
As agreed during the meeting, users that haven't confirmed their email will be able to perform any action except for verifications and actions that require verification. They won't receive any other emails that the one to confirm their email address /cc @decidim/product

[2018-06-11 10:21] #3314 closed

[2018-06-11 11:01] furilo opened #3639 "Link in admin to pre/view item in the front end, and viceversa"
Part of #3343

## Proposal

To the admin:

![imagen](https://user-images.githubusercontent.com/24740/41228005-22fc1ae8-6d77-11e8-9ba9-dd229cab50dd.png)

To the front:

![imagen](https://user-images.githubusercontent.com/24740/41228017-29a9e50a-6d77-11e8-825c-e6d6153d42c8.png)

Or something lighter:

![imagen](https://user-images.githubusercontent.com/24740/41228031-33f02178-6d77-11e8-8b57-b8f551e7

[2018-06-11 11:08] furilo opened #3640 "Adaptive cards on front page"
if there is only one process/assemblies the card should expand and take the full width of the front page. This is very common when an organization starts using Decidim. Here is an example of how void, sad, Decidim looks when only a participatory space is active: https://participa.somenergia.coop/

Apply the CSS we did for Reus

[2018-06-11 11:38] xabier commented on #3584
@mrcasals

A structured text is one where there are Headers properly declared. An "unstructured text" is one where there are plenty of fancy font types and size changes to indicate structure (e.g. titles and headers) but these are not properly declared.

It is not a big drama, we can and should ask admins to structure the text before uploading it to use this feature, in fact, it is important that

[2018-06-11 12:34] #3631 closed

[2018-06-11 12:47] agustibr commented on #3633
@mrcasals I'll do it

[2018-06-11 13:19] arnaumonty commented on #2840
@agustibr when we publish a collaborative draft we should add the following alert message:

- "The following action is irreversible. After publishing the draft as a proposal, the draft won't be editable anymore. The proposal won't accept new authors or contributions".

The action "Close" a draft should be renamed as "Discard".

When we discard a draft we should confirm with the following alert mes

[2018-06-11 13:23] mrcasals commented on #3584
It's very easy for a human to recognize a pattern of a structured text, but it's not that easy for a computer. These differences are being studied in the Artificial Intelligence field, and I don't think we want to add a service that checks whether a text file is "structured" or not, backed by AI.

I keep thinking we need to explore this issue a little more, otherwise the dev team responsible for t

[2018-06-11 13:35] arnaumonty commented on #2840
@agustibr here the proposal to locate the "discard draft" action.
![discard_drafts](https://user-images.githubusercontent.com/3855859/41234587-e810c6f2-6d8c-11e8-88b1-0511e2f2dad6.png)
@furilo please check and confirm that works good this option.

[2018-06-11 13:36] mrcasals commented on #3584
I realize now when I asked this:

It sounded like a stupid question. What I meant is: how do we know if a file is structured or not. As I said, I think we need *at least* a closed structure to start this. Maybe some guidelines like:

- We only accept numbered headers: "1. AAA, 2. BBBB"
- All paragraphs that do not start with a number are considered text of the previous header
- Et cetera

[2018-06-11 13:46] arnaumonty commented on #3398
As we have discussed in our last meeting, @decidim/lot-px @furilo will assume the design of visualizations.

cc @MarcReniu @decidim/lot-mods

[2018-06-11 14:02] tramuntanal commented on #3630
You must be logged in and search for "SOM" in meta.decidim.org to provoke the crash. It seems related with the rendering of some of the results (maybe related with https://github.com/decidim/decidim/issues/3620)

@josepjaume Can you confirm that this bug has already been solved as you commented in telegram?

[2018-06-11 14:07] mrcasals commented on #3630
@tramuntanal I think it's related to #3612

[2018-06-11 14:13] arnaumonty commented on #3637
@mrcasals https://meta.decidim.org/processes/bug-report/f/210/proposals/12635

[2018-06-11 14:16] Xfolchf opened #3643 "Error message when I cannot withdraw my proposal is not explicite enough"
**Describe the bug**
On meta.decidim.org, I tried to withdraw a proposal but got an error, probably because the proposal had votes already. The problem is that the error message was "There's been errors when saving the proposal." which 1/ might be even nicer to know what the errors are :) 2/ we're not trying to save a proposal here

**Screenshots**
If applicable, add screenshots to help explain yo

[2018-06-11 15:29] agustibr commented on #2840
Hi @arnaumonty, now taking a look at the _closing action_ for drafts, to keep homogeneity in the naming, should it be named "withdraw" as it is in proposals?

cc/ @decidim/product

[2018-06-11 15:35] arnaumonty commented on #2840
Maybe yes, at the beggining I though that It could generate misunderstunding, the behaviour is not exactly the same, but maybe we should keep the homogenity. @decidim/product thoughs?

[2018-06-11 15:52] agustibr commented on #2840
@arnaumonty , before renaming I'll wait for @decidim/product thoughts.

By the way, the closing text for the it's the same as the publish :sweat_smile:  (it must have been some mistake):

Does this seems right?

After closing the draft, the draft won't be editable anymore. The draft won't accept new authors or contributions.

[2018-06-11 15:55] agustibr commented on #2840
@decidim/product , @decidim/lot-px : Do you think it's good, if the alert is shown as the screenshot below?

![screenshot from 2018-06-11 17-52-09](https://user-images.githubusercontent.com/210216/41242602-4b9199c8-6da0-11e8-97a3-ba7b6fb64f32.png)

[2018-06-11 16:23] juliesimon opened #3644 ""NoMethodError" when seeding with another default locale than english"
**Describe the bug**
On the 0.12-stable branch, when I first created and seeded the development app, seeding worked perfectly. Then I set up the default locale in `decidim.rb` to french:
[code]
and suddently seeding was not working and I had this error:
[code]
I commented line 173 to 197 in https://github.com/decidim/decidim/blob/0.12-stable/decidim-assemblies/lib/decidim/assemblies/participatory_

[2018-06-11 18:02] #1186 closed

[2018-06-11 18:02] #1270 closed

[2018-06-11 18:02] #857 closed

[2018-06-11 18:02] #1220 closed

[2018-06-11 18:02] #762 closed

[2018-06-11 18:02] #1522 closed

[2018-06-11 18:02] #1602 closed

[2018-06-11 18:02] #1612 closed

[2018-06-11 18:02] #1568 closed

[2018-06-11 18:02] #1916 closed

[2018-06-11 18:02] #1651 closed

[2018-06-11 18:02] #1855 closed

[2018-06-11 18:02] #1901 closed

[2018-06-11 18:02] #2015 closed

[2018-06-11 18:02] #2048 closed

[2018-06-11 18:02] #2059 closed

[2018-06-11 18:02] #2021 closed

[2018-06-11 18:02] #2061 closed

[2018-06-11 18:02] #1152 closed

[2018-06-11 18:02] #1791 closed

[2018-06-11 18:02] #1706 closed

[2018-06-11 18:02] #2116 closed

[2018-06-11 18:02] #1952 closed

[2018-06-11 18:02] #2086 closed

[2018-06-11 18:02] #2126 closed

[2018-06-11 18:02] #2272 closed

[2018-06-11 19:02] #1579 closed

[2018-06-11 19:02] #1731 closed

[2018-06-11 19:02] #1718 closed

[2018-06-11 19:02] #1707 closed

[2018-06-11 19:02] #1732 closed

[2018-06-11 19:02] #1733 closed

[2018-06-11 19:02] #416 closed

[2018-06-11 19:02] #1102 closed

[2018-06-11 19:02] #610 closed

[2018-06-11 19:02] #917 closed

[2018-06-11 19:02] #1698 closed

[2018-06-11 19:02] #1699 closed

[2018-06-11 19:02] #1565 closed

[2018-06-11 19:02] #1566 closed

[2018-06-11 19:02] #1704 closed

[2018-06-11 19:02] #1702 closed

[2018-06-11 19:02] #1705 closed

[2018-06-11 19:02] #1701 closed

[2018-06-11 19:02] #1703 closed

[2018-06-11 19:02] #1726 closed

[2018-06-11 19:02] #1721 closed

[2018-06-11 19:02] #1734 closed

[2018-06-11 19:02] #1735 closed

[2018-06-11 19:02] #1738 closed

[2018-06-11 19:02] #1872 closed

[2018-06-11 19:02] #1748 closed

[2018-06-11 19:02] #1961 closed

[2018-06-11 19:02] #1997 closed

[2018-06-11 19:02] #2009 closed

[2018-06-11 19:03] #322 closed

[2018-06-11 20:54] #720 closed

[2018-06-11 20:54] #414 closed

[2018-06-11 20:54] #785 closed

[2018-06-11 20:54] #950 closed

[2018-06-11 20:54] #1111 closed

[2018-06-11 20:54] #1112 closed

[2018-06-11 20:54] #1131 closed

[2018-06-11 20:54] #1184 closed

[2018-06-11 20:54] #1228 closed

[2018-06-11 20:54] #1116 closed

[2018-06-11 20:54] #1258 closed

[2018-06-11 20:54] #1275 closed

[2018-06-11 20:55] #1235 closed

[2018-06-11 20:55] #1266 closed

[2018-06-11 20:55] #1424 closed

[2018-06-11 20:55] #1459 closed

[2018-06-11 20:55] #1563 closed

[2018-06-11 20:55] #1613 closed

[2018-06-12 07:01] mrcasals commented on #3644
Thanks for the report @juliesimon! We'll check what's going on 😄

[2018-06-12 07:01] #3633 closed

[2018-06-12 07:32] Xfolchf opened #3646 "Data error when creating propossal"
**Describe the bug**
The data that it appears as a data of propossal creation is the data when you begin to create the propossal, not the date when you submit the propossal; it should bé the last one, when you submit the propossal.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12725?locale=es

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, De

[2018-06-12 07:33] mrcasals commented on #3646
@decidim/lot-mods can you check this please?

[2018-06-12 07:56] tramuntanal commented on #3574
Hi all, is this bugfix planned for any release?

[2018-06-12 07:58] mrcasals commented on #3574
Hi @tramuntanal! We haven't been able to schedule time to try and fix it yet, PRs are welcome though! 😄

[2018-06-12 09:23] Digharatta commented on #3644
Yes, changing locale in a development app doesn't work at all. Even changing the list of available locales breaks the app.

The only way I know is to change the list of available locales before compiling the app in your fork of

[ decidim-generators/lib/decidim/generators/app_templates/initializer.rb](https://github.com/decidim/decidim/blob/master/decidim-generators/lib/decidim/generators/app_temp

[2018-06-12 10:19] tramuntanal commented on #3630
I checked your last deploy into meta.decidim.org and it has been solved now.

[2018-06-12 10:29] tramuntanal commented on #3584
I guess @decidim/product means to use the meta-tags in the documents to do the split.
I also don't get why we must support HTML documents, nobody writes in html, but all of the proposed formats, ODT, DOCX, MarkDown or HTML, provide meta information to structure the text. I don't think AI is needed, only a simple algorithm backed by one adapter for each document format.

[2018-06-12 10:32] mrcasals commented on #3584
Oh, I didn't know about the metatags @tramuntanal 👍

About the AI, I might have overreacted, sorry @xabier 🙏

[2018-06-12 11:00] Xfolchf opened #3651 "The comment hidden by moderation remains in the comment count"
**Describe the bug**
1) What went wrong? Total count comments different from the number of available comments
2)What you expected? If we hide a comment due to moderation it should not be added to the count
3) Where?: Comments

https://meta.decidim.org/processes/bug-report/f/210/proposals/12726

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device

[2018-06-12 11:02] #3630 closed

[2018-06-12 11:29] Crashillo opened #3652 "Elements layout: positioning"
### Goal
Make all individual pages similar. It affects to proposals, meetings, initiatives, drafts, assemblies...

### Notes
Sidebar card element positions are a SUGGESTION. It's how I'm positioning those elements all along meanwhile. Take a look and let me know your thoughts.

cc/ @decidim/lot-core @decidim/lot-mods @decidim/product

### Explanation
All concrete views has the following markup
[co

[2018-06-12 12:55] juliesimon opened #3653 "Blog component not working in French"
**Describe the bug**
When trying to access the "blog" section with French locale activated, we get this error:
[code]
![capture d ecran 2018-06-12 a 14 47 30](https://user-images.githubusercontent.com/29771726/41291295-9c956b2e-6e4f-11e8-84ef-2973738029c3.png)

In `decidim.rb`
[code]

We thought it might have to do with configuring French as the default locale so we tried @Digharatta solution here

[2018-06-12 13:05] oriolgual commented on #3652
Looks good to me!

[2018-06-12 13:23] oriolgual commented on #3653
@juliesimon could you check which field/variable is being translated and causes the error?

[2018-06-12 14:07] mrcasals commented on #3629
@furilo I'm starting to work on this, but I have some doubts. Take the first example, and consider I change the filter to "Past". How do I change back to the "Active" processes? Is the first element a link too?

[2018-06-12 14:09] furilo commented on #3629
We could just change the menu elements, so we'd end with:

5 PAST PROCESSES      SEE    ACTIVE  |  NEXT  |  ALL

?

[2018-06-12 14:16] mrcasals commented on #3629
Also, I wanted to move the current layout to use Foundation tabs, but I need to override some CSS to make it work... 🤔 We're currently fetching the data every time someone changes the tab, but this causes some weird delay that I personally find distracting. Using real tabs (and generating all the needed data on page load instead of fetching it every click) would allow us a faster tab movement for

[2018-06-12 14:20] tramuntanal commented on #3652
Good work @Crashillo i like the whole structure you are proposing, just some comments.
- Why follow button is always at the bottom? Don't we need to make it more relevant (put it under the title for example) to provoke engagement between users? in places with many sidebar cards, like in collaborative drafts, it will be very difficult to see.
- The same as before for the share link.
- It is no stru

[2018-06-12 14:44] Crashillo commented on #3652
Yeee, you're right. I was so explicit saying *always*. It's not that way, I did just because the oldest views had the button there. Perfectly switchable.

I'd suggest to keep text elements down there, to give higher priority to the cards/boxes. Furthermore, it'd look weird to render card-text-card. So first, card/s, and then, text links.

Do not take care now about the current image. It's just an

[2018-06-12 15:17] arnaumonty commented on #2840
@agustibr it looks good to me, I'm not sure if the behaviour is the same as other similar alerts. Please, @decidim/lot-px check this in order to unify this kind of designs.

[2018-06-13 07:09] mrcasals commented on #3629
Update: I'm dropping the idea of using the Foundation tabs and I'll keep the same system as we have right now.

@furilo I'll work on that!

[2018-06-13 07:15] oriolgual commented on #3653
Thanks @juliesimon! I guess the problem was that there isn't a `many` translation key.

[2018-06-13 07:16] josepjaume commented on #3629
@mrcasals afaik the weird effect is caused by the content disappearing for a bit before being replaced with the new one. Maybe we could work on that so it only gets replaced, removing the flickering.

[2018-06-13 07:20] mrcasals commented on #3629
@josepjaume we replace the list with a temporary "Loading results..." text, and then fill it with the new list. Moving to Foundation tabs, without AJAX fetching, would solve the issue, but I found a lot of problems with the styles and the HTML layout, so I'll work on improving the filters headers and leave the tabs optimization for another time, if that's OK with you

[2018-06-13 07:32] furilo commented on #3629
OK !

[2018-06-13 10:07] mrcasals commented on #3629
I just realized this issue is tagged as `needs-design1`, sorry for all the fuss. I talked to @Crashillo on Gitter and agreed that I'll start working on this and once we have the definitive layout I'll update my work to fit the new layout.

As I said before, I think it'd be a nice improvement if we made the layout use the Foundation tabs, but it needs some CSS hacking to make it work :(

[2018-06-13 11:10] Crashillo commented on #2292
Layout PR #3662

[2018-06-13 13:36] Crashillo commented on #3595
Layout PR #3665

[2018-06-13 13:50] Crashillo commented on #3343
Fast signup - #3665

[2018-06-14 06:56] jpaulin commented on #2826
@josepjaume This would be super! Even if the manual borrows content from sites like OWASP and others, nevertheless, it's a sign that the you know the stuff and especially for someone who is totally un-initiated, a newbie to the project, would have a lot of benefit from having a clear path to go.

[2018-06-14 08:12] Crashillo commented on #2840
To keep consistency, please refer to this designs, for instance:
- https://decidim-design.herokuapp.com/public/consultations-vote
- https://decidim-design.herokuapp.com/public/consultations-vote-confirm

Always there are any modal, let's use `reveal` foundation classes, copy the general markup, and edit the contents.

PD: Buttons are ok like you've implemented, the links have old designs for that.

[2018-06-14 08:22] agustibr commented on #2840
ok, thanks @Crashillo :+1:

[2018-06-14 08:51] Crashillo opened #3667 "Modal contents width"
**Describe the bug**
To keep modal consistency on design, get rid off the margins/paddings for the text. Also, split text due to its length.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://meta.decidim.org/users/sign_up
2. Click on *Sign up*, with no other actions

**Screenshots**
Old
![imagen](https://user-images.githubusercontent.com/817526/41401624-9ab438a4-6fc0-11e8-9b61-81

[2018-06-14 08:59] mrcasals commented on #3653
@juliesimon I'm copying the commit from your fork to this repo 😄

[2018-06-14 08:59] arnaumonty commented on #2840
It looks good to me. If you think that is necessary to keep the consistency, @Crashillo could you provide the design for these alerts?

[2018-06-14 09:02] mrcasals commented on #3667
@decidim/lot-mods can you check this please?

[2018-06-14 09:43] mrcasals commented on #3644
Hi all! This seems to be an error from `faker`, the gem we use to generate fake data. I've opened a PR to fix it, but I need some feedback from the gem team 😄

Once this is solved, we'll update the dependency!

[2018-06-14 09:51] #3653 closed

[2018-06-14 13:10] Crashillo opened #3670 "Large names break card footer"
**Describe the bug**
Large phase name in th card footer breaks design

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://participa.somenergia.coop/processes?filter=all

**Expected behavior**
Ellipsis the text

**Screenshots**
![imagen](https://user-images.githubusercontent.com/817526/41413882-c172b776-6fe4-11e8-975d-a320ba8f28d6.png)

[2018-06-14 13:29] mrcasals commented on #3670
Is this screenshot using the new cards? Because the new card it's using what seems to be the correct layout to trim this text:

https://github.com/decidim/decidim/blob/adb81c0c96d28c6aad8e92094c4b5fa50e03dead/decidim-participatory_processes/app/cells/decidim/participatory_processes/process_m/footer.erb#L3-L8

[2018-06-14 13:30] agustibr commented on #3595
@decidim/product does the "_Asking for consent to new users_ modal" comply with the "GDPR: Unbundled consent on user registration" #3319 ?  :thinking:

[2018-06-14 13:30] mrcasals commented on #3670
Update: this is a screenshot of a process card, with a long step name. As you can see, it's using ellipsis:

![](https://i.imgur.com/miuj1rs.png)

My guess is that the screenshot form the issue is using old cards, so we can close this. @Crashillo can you confirm this?

[2018-06-14 13:33] Crashillo commented on #3670
My bad! You're right, SomEnergia uses an old version:

[code]

Close this 😇

[2018-06-14 13:35] #3670 closed

[2018-06-14 13:45] Crashillo commented on #3640
Here we're facing two possibilities/scenarios:

#### Expand the card-M

We can control when there's only one card, and then, via CSS, remove some classes. This have to be done when integrating. That's gonna deform the picture may have.

![imagen](https://user-images.githubusercontent.com/817526/41415342-a3f840b8-6fe8-11e8-9081-f4ec409b0bb1.png)

#### Replace with a highlight process

Instead alter

[2018-06-14 13:56] furilo opened #3672 "Ways to customize home blocks"
Part of #3343

@xabier suggested several improvements related to what is shown in the home page, and how:

- Secondary banner with call-to-action-button needs to be placed further down the home page, below the first row of participatory processes or bellow all participatory spaces-items.
- Order/weight processes and assemblies so the display order can be managed
- Highlighted assemblies display fi

[2018-06-14 14:32] furilo commented on #3639
Issue updated with suggestion from @andreslucena

[2018-06-14 15:32] furilo commented on #2594
Here are two quick sketches of a radial chart, taking into account the number of assemblies in MetaDecidim - what is the expected number of assemblies that are going to be represented? Maybe we should design to support many more items? Also, how many levels? @decidim/product

![imagen](https://user-images.githubusercontent.com/24740/41422262-d99b5c5e-6ff8-11e8-8ad7-ee093e4ef753.png)

[2018-06-14 15:36] agustibr commented on #2840
@Crashillo I've reviewed the modal styles, I attach a screenshot:

![screenshot from 2018-06-14 17-33-07](https://user-images.githubusercontent.com/210216/41422447-39b3286a-6ff9-11e8-8094-04970df2f6de.png)

Does it look good?

[2018-06-14 15:41] Crashillo commented on #2840
`p` tag is wrapped by `.row`or `.column` classes, isn't it? Unwrap it. Leave it as a sibling of `reveal__header`

[2018-06-14 16:06] agustibr commented on #2840
Please, @Crashillo can you review the code here https://github.com/decidim/decidim/pull/3109/files#diff-8e1dc6a2bfa4fdf5aca48e1e6501aefc in the PR? it'll be easier

is this file: `decidim-proposals/app/cells/decidim/proposals/irreversible_action_modal/show.erb`

thanks

[2018-06-15 07:56] rbngzlv commented on #3233
@decidim/product can you review this in my staging, please? For now, you can view the list of invitations and the user can accept or reject it from the email. In a following PR I'll add:

- The invitation to `specific users`
- Move the invite form above the invites list

[2018-06-15 10:40] #3533 closed

[2018-06-15 11:42] MarcReniu opened #3674 "Enhance ParticipatorySpaces with a BIG refactor"
**Description**
Dealing with #3347, I found that is really difficult to retrieve `Proposals` for one specific `Organization`. `ParticipatorySpace`'s polymorphism disables the possibility to configure joins/includes from the `Proposal` model. For example,
[code]
generates an [`ActiveRecord::EagerLoadPolymorphicError`](http://api.rubyonrails.org/classes/ActiveRecord/Associations/ClassMethods.html#mo

[2018-06-15 12:04] tramuntanal commented on #3674
Other alternatives are:
- Denormalize schema and add `organization_id` column to `Component`.
- Use one header table for all common columns and specific tables for each subtype's specific columns. This idea is described as "Do it With Delegation" in [this article](http://nathanmlong.com/2013/05/better-single-table-inheritance/).

[2018-06-15 12:48] tramuntanal commented on #3584
After some googling and search in rubygems, I found some gems that are somehow related to document parsing and can help:
- **doc2text** (GPL): converts .odt or .docx files into markdown. [doc2text](https://rubygems.org/gems/doc2text)
- **odt2html** (LGPLv2.1): good example on how to parse odt documents. [odt2html](https://rubygems.org/gems/odt2html)
- **yomu2** (MIT): uses Java's Apache Tika libra

[2018-06-15 14:04] Crashillo commented on #2840
Review comments in PR

[2018-06-18 09:41] tramuntanal commented on #3674
Hi @decidim/lot-core and @decidim/product ,
This refactor directly affects #3347. It is not blocking but we don't want to implement the complex queries twice so if we don't have feedback on this soon we will proceed to query the current schema. We would like to refactor participatory_spaces tables but it must be agreed with core how we do it and, if possible, have core's collaboration.

Now we hav

[2018-06-18 10:13] Xfolchf opened #3677 "Translation mistake on Initiatives component"
**Describe the bug**
here's a mistake on catalan translation for the advice about which kind of signatures are collected for an initiative...
The issue is that for an initiative are signatures and not supports what are needed, but it says: "this citizen initiative only collects presential supports" when it should be written "presential signatures".

https://meta.decidim.org/processes/bug-report/f/

[2018-06-18 10:18] Xfolchf opened #3678 "Duplicity of questions in Consultations"
**Describe the bug**
The questions that are asked within Consultations are duplicated. It has no sense that it comes out twice even if the vote is counted only once.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12762

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/41530840-ae2c4e60-72f1-11e8

[2018-06-18 10:20] Xfolchf opened #3679 "Filter of proposals by category does not work on the map"
**Describe the bug**
Tested in the space Assemblies.
By filtering the proposals for a particular category, these are filtered on the cards, but all the proposals on the geolocation map continue to show.
The geolocation info on the map should only be displayed on the results of the filter.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12760

**To Reproduce**
Steps to reproduce the

[2018-06-18 10:24] Xfolchf opened #3680 "Editing a proposal loses geolocation"
**Describe the bug**
Tested in the assemblies module.
When editing a proposal with geolocation, the "Address" checkbox appears unchecked and if you save the proposal, it is saved without the geolocation information.
When you modify the proposal, if it is geolocated, the checkbox should be activated and keep the geolocation info.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12759

[2018-06-18 12:11] xabier commented on #3503
hi @mrcasals we are not sure how much work this involves. Let me explain what the priority is and you @decidim/developers take the technical decision.

1. We need the granularity of scales as explained in https://github.com/decidim/decidim/issues/2023 , it it turns out to be very complex the last level of the hierarchy is the less important: admins by component-item.
2. We need to matrix this gran

[2018-06-19 06:43] jpaulin commented on #3365
@mrcasals IMHO that above seems to cover the update. Thanks!

[2018-06-19 07:56] carolromero commented on #3672
Hi @furilo, from the @decidim/product point of view this works well. Indeed this solution is the most scalable in order to incorporate new modules.
Let's see what @decidim/lot-core  says about the technical complexity of implementing it.

[2018-06-19 16:11] juliesimon opened #3682 "Include author_id in exports"
**Is your feature request related to a problem? Please describe.**
So far, when exporting the proposals, there is no info about the author of a proposal. Which is surprising since in the comments export, there's a column `author_name`. We thought it wasn't possible to export the name of the users who participated since it was not open-data compliant.
<img width="950" alt="capture d ecran 2018-06-1

[2018-06-21 09:13] robertgarrigos opened #3685 "error while using docker to install"
**Describe the bug**
Trying to install decidim locally using docker I got this error:
```rbenv: version `2.5.1' is not installed (set by /decidim/development_app/.ruby-version)```

**To Reproduce**
Steps to reproduce the behavior:
Follow the instructions to install decidim using docker found here: https://github.com/decidim/decidim/blob/master/docs/getting_started.md

The last step:
```bin/rails s

[2018-06-21 09:58] deivid-rodriguez commented on #3685
Actually I think those are wrong. Does it work if you change `cd development_app; bin/rails server` with `d/rails server`?

[2018-06-21 10:17] Xfolchf opened #3686 "Recomposition of answers when you do the survey module"
**Describe the bug**
We have recently created a survey in a process, and once you answer all the proposals and you will validate the survey, in case you have forgotten to answer a question, when the message says "There have been errors in responding to the question survey ", it automatically replaces all the answers that you made to the lowest position of each response, so that if you do not revie

[2018-06-21 10:29] Xfolchf opened #3687 "There are no Components in the initiative menu in the Admin Panel by the user"
**Describe the bug**
The user who creates the initiative does not view the components section as if he did view and could edit the administration. The error is found in the Admin Panel that the user visualizes when creating the initiative.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12856

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](http

[2018-06-21 10:31] Xfolchf opened #3688 "Order processes on the processes page"
**Describe the bug**
Process cards do not follow any deductible criteria when it comes to showing on the processes page. However, if you are logged in, they are displayed by up date creation.
I think they should always be displayed according to the same criterion, creation date, for example.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12883

**Extra data (please complete the fol

[2018-06-21 10:38] Xfolchf opened #3689 "Start of the technical validation of the initiatives with 2 selected (user view)"
**Describe the bug**
The user who created the initiative, as well as the members of the promotion committee, can activate the technical validation from 2 approved members. He should not leave until he has 3 members approved in the committee. The error is found in the space initiatives from the point of view of the user.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12855

**Screen

[2018-06-21 10:54] Xfolchf opened #3690 "Eliminate specific AAPP vocabulary for neutral vocabulary for initiatives"
**Describe the bug**
In the course of the creation of the initiative, the support text refers to Initiatives "citizens", "city", "neighborhood". We await a more neutral vocabulary. The error is found in the help text in the creation of initiatives.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/41714901-1568

[2018-06-21 10:56] Xfolchf opened #3691 "Invitations to Initiatives are sent before they are published"
**Describe the bug**
I've just received an invitation to contribute to an initiative created for someone I'm following and after clicking the link in the email to the initiative, a tab with meta.decidim.org's home page is rendered with the following message "No tens permís per realitzar aquesta acció".

I guess I've received the invitation before the invitation was published but I'm not sure about

[2018-06-21 11:03] robertgarrigos opened #3692 "installation script error"
**Describe the bug**
Got this error while trying to install with the installation script:

[code]

**To Reproduce**
 just created an ubuntu 16.04 dropled on digitalocean, done the basic stuff and then followed instructions to install with the installation script (https://github.com/alabs/decidim-install/blob/master/install_decidim.bash)

[2018-06-21 11:05] Xfolchf opened #3693 "Official proposals do not allow denunciation or moderation"
**Describe the bug**
The official proposals do not allow denunciation and / or moderation, this is a problem if you need to hide it for a client error.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12842

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]

[2018-06-21 11:48] Xfolchf opened #3694 "Creation of encounter component and default page in initiatives"
**Describe the bug**
Once any initiative is created, by default a component found and a component page are created. You should not create any component by default. It is in the space initiatives, within the configuration of the initiative.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12840

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](http

[2018-06-21 11:51] Xfolchf opened #3695 "Assembly users do not have access to all content"
**Describe the bug**
When you create an administrator user for an assembly, it does not have access to all the administration options, only to the information option. You can not access components, files, etc.
In addition, you can view the list of other organs you should not see (even though you do not have access to configuring them)

https://meta.decidim.org/processes/bug-report/f/210/proposals/

[2018-06-21 11:56] Xfolchf opened #3696 "Start of the technical validation of initiatives with 0 members in the Promotion Committee (Administration)"
**Describe the bug**
From the administration, the request for technical validation can be submitted without meeting the minimum requirement of being 3 members in the Promotional Committee. It could happen that an initiative is published with no member in the Promotion Commission. Until having 3 selected members, you should not let send the validation request

**Screenshots**
If applicable, add scr

[2018-06-21 12:41] deivid-rodriguez commented on #3692
This is getting fixed at #3684.

[2018-06-21 14:04] robertgarrigos commented on #3692
ok thanks

[2018-06-21 14:04] #3692 closed

[2018-06-21 14:13] robertgarrigos commented on #3685
yep, that was the problem. now it's working. thanks @deivid-rodriguez. I've created a PR for this

[2018-06-21 14:13] #3685 closed

[2018-06-21 14:51] Xfolchf opened #3698 "Admin menu missing on assemblies"
**Describe the bug**
Admin menu on assemblies is missing for those who only have administrations permission for this component, as seen on image attached:

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/41726837-49c5ba86-7573-11e8-8b9c-36af54e8c116.png)

**Extra data (please complete the following information

[2018-06-21 15:14] furilo opened #3699 "Home Block/Page: Last activity / Activity feed"
Part of #3343

The idea is to offer a feed of last activity in the home (and maybe a full last activity page). The objective is to offer a shortcut to last activity directly from the home, saving users the step of going inside each procces/space to see what is happening. In the end, it's just another path to discover content on top of what we have.

We'd have to decide what types of activity is wo

[2018-06-21 15:16] furilo opened #3700 "Home Block/Page: Upcoming events"
Part of #3343

The idea is to offer a list of upcoming events from all spaces (and maybe a full events page). The objective is to offer a shortcut to all events from the home, saving users the step of going inside each procces/space to see what is happening. In the end, it's just another path to discover content on top of what we have.

## First skecthes

The block shown on the home page. Position

[2018-06-21 16:33] Xfolchf opened #3701 "Incomplete url in notifications for add a file"
**Describe the bug**
The url is incomplete and users can not access the interest page (where the notification has occurred). The problem comes with notifications in the mail regarding the upload of files.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12886

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.c

[2018-06-21 18:43] robertgarrigos opened #3702 "have some docs on putting decidim on production"
**Describe the solution you'd like**
I would love to have some documentation on putting a decidim install on production. I'm now using the manual installation documentation which describes the process of installing decidim on a local environment, this is accessing it at localhost:3000. But, how can I access it thru a domain? How should I configure the server for a production site? Is there anythin

[2018-06-21 20:12] Digharatta commented on #3702
Hi Robert,
seems likes developers are on vacation, so let me share my humble experience. I struggled with deployment, but eventually managed to do it with the help of excellent instructions from GoRails:

https://gorails.com/deploy/ubuntu/16.04

Just skip the Capistrano setup. Instead of PostgreSQL setup described on GoRails, use PostgreSQL  setup from Decidim manual installation documentation.

h

[2018-06-21 20:32] robertgarrigos commented on #3702
thanks @Digharatta I'll give it a look and let know how it goes

[2018-06-22 07:00] mrcasals commented on #3702
Hi all! Yes, we've been out of the office, but we're back now 😄

@robertgarrigos @Digharatta we deploy all our installations on Heroku, which takes care of all the system setup, and allows setting up domains (it's not free though). We don't have a proper guide, but you can check https://github.com/codegram/decidim-deploy-heroku which should help you

[2018-06-22 07:10] mrcasals commented on #3698
Duplicated of #3695, closing this one!

[2018-06-22 07:10] #3698 closed

[2018-06-22 07:12] mrcasals commented on #3696
@decidim/product is this really a bug, or is it the expected behaviour? I don't see the metadecidim link, so I don't know who reported the issue 😞 /cc @Xfolchf

[2018-06-22 07:14] mrcasals commented on #3694
This is an intended behaviour AFAIK, please @decidim/product can you confirm this?

[2018-06-22 07:15] mrcasals commented on #3693
@decidim/product can you confirm this is a bug and not an intended behaviour?

[2018-06-22 07:17] mrcasals commented on #3690
@Xfolchf can we have the original link to metadecidim for this please?

@decidim/product we'll need a new text for this, can you work on this please?

[2018-06-22 07:18] mrcasals commented on #3689
Seems to be a duplicate of #3696. Closing this one.

[2018-06-22 07:22] mrcasals commented on #3682
@decidim/product thoughts on this?

[2018-06-22 07:29] #3667 closed

[2018-06-22 07:30] #3646 closed

[2018-06-22 07:36] mrcasals commented on #3678
One list shows highlighted questions, the other list shows all the questions for that consultation. That's the same behaviour we use in the processes list, for example, where we see some highlighted elements and then we see the whole list. Some elements might be repeated.

I don't think that's a bug, but I'd leave this to @decidim/product.

[2018-06-22 07:42] mrcasals commented on #3677
@decidim/product can you fix this on Crowdin please?

[2018-06-22 07:42] mrcasals commented on #3193
This might still be happening.

[2018-06-22 07:46] mrcasals commented on #3674
I'd denormalize the `components` table and add the `organization_id` there. I'd try to avoid STI, although the "do it with delegation" approach could be interesting too.

Still, I think the easiest solution is denormalizing the `components` table.

[2018-06-22 07:55] tramuntanal commented on #3574
Hi @mrcasals ,
A fast solution to this is to make the field readonly then forcing the user to use the calendar widget to select the date although it is not very usable for birth dates.
Is it ok for you?

[2018-06-22 07:56] mrcasals commented on #3574
Works for me, but I'm not really using the admin part of the platform, so I can't tell you. You might need to ask @decidim/product

[2018-06-22 08:07] mrcasals commented on #3689
@Xfolchf why was this reopened?

[2018-06-22 08:08] Xfolchf commented on #3689
I think they are not the same,one is from the user view and the other from the administrator view

[2018-06-22 08:18] tramuntanal commented on #3574
This bug is not in the admin part, is in the front. For example when verifying with document and birthdate.

[2018-06-22 08:45] Digharatta commented on #3702
Here's the quintessential element of the future guide: sign up for Digital Ocean with [my referral link](https://m.do.co/c/80e8746ed98f ) and get $10 in credit, or [sign up with CodeAnywhere](https://devopscube.com/get-free-digital-ocean-credits/) and get $35 credit, or use [current promo](https://try.digitalocean.com/performance/?refcode=e8a7842ff717&utm_campaign=Referral_Invite&utm_medium=Referr

[2018-06-22 08:45] mrcasals commented on #3689
Oh, OK!

[2018-06-22 08:46] mrcasals commented on #3574
@tramuntanal this will happen for every date picker form input, I guess

[2018-06-22 09:05] tramuntanal commented on #3574
Ah, ok, I thought there were different helpers for Admin and front, but makes better sense to reuse the same ones. :+1:

I've just made the PR against 0.12-stable with the "readonly fix", but I'll keep working on this next week so that the user is able to enter the date manually (I'll do it in another PR against master this time).

[2018-06-22 09:10] robertgarrigos commented on #3702
I already have an account with digitalocean, sorry. Thanks, anyway.

I tried to follow your instructions to deploy decidim and everything went ok until I decided to create the decidim application. Then I got this error:
[code]
which I already reported here: https://github.com/decidim/decidim/issues/3692

So I got stucked. I'll give a try to heroku.

[2018-06-22 09:31] tramuntanal commented on #3584
Hi @decidim/product,
Just a couple of questions:
1. in which section of the Admin will this feature appear?
1. you say that the Admin first uploads the document, then sets  some parameters, and finally the document is processed and cards are generated. Why have 2 steps before the generation of the cards? Couldn't we ask the parameters to the Admin in the same form where the file is uploaded? (cc/

[2018-06-22 09:40] furilo commented on #3584
@decidim/product should we invest some time thinking on a UI fitted for this, or just use existing elements? I don't know if creating cards from sections is a viable idea... what if we have a text with 300 "sections"? For example: https://decide.madrid.es/legislation/processes/49/draft_versions/13#art-culo-269-servicios-de-inspecci-n - We would end up having 300 cards. How would we browse them lin

[2018-06-22 10:07] #3695 closed

[2018-06-22 10:33] oriolgual commented on #3492
@andreslucena @MarcReniu I guess this can be closed now, right?

[2018-06-22 10:35] MarcReniu commented on #3492
@oriolgual Sure! If we found something, we can create a new issue

[2018-06-22 10:35] #3492 closed

[2018-06-22 12:40] tramuntanal commented on #3584
@decidim/product An example of a structured participatory text in Markdown will be great.
I'm imagining something like:
[code]

[2018-06-22 16:13] robertgarrigos commented on #3702
Is there anyway of getting rid of this error: #3692?!? right now I cannot install decidim on my server. Tried many different ways... :-(

[2018-06-22 16:38] Digharatta commented on #3702
IMHO, this error won't occur if you'll install another version. As far as I know, one can specify the version of the gem, when using stable versions.

[2018-06-23 06:51] robertgarrigos commented on #3702
There is only one version of gem decidim, 0.12.0

```gem list | grep decidim```

gives

[code]

trying to install a previous versions just gives an error:

[code]

[2018-06-23 06:53] robertgarrigos commented on #3702
ah but this is doing something:

```gem install decidim:'< 0.12.0'```

I'll let you know whether it worked or not.

[2018-06-23 10:45] robertgarrigos commented on #3702
ok. I could install decidim:0.10.1 without that error. other versions (0.11.1 and 0.11.2) gave that error.w

[2018-06-23 10:49] Digharatta commented on #3702
Congratulations!

[2018-06-23 11:21] robertgarrigos commented on #3702
well, not really.... I did install decidim 0.10.1 on a digitalocean ruby image. I could create the decidim app but could not go further because other errors with the database. I guess because that image already sets up de database, amongst other things I cannot understand (this is my first approach to rails....)

now I tried also on another digitalocean dropled which a configured all the way as yo

[2018-06-23 11:48] Digharatta commented on #3702
Hi Robert,
I can share with you the snapshot of my Digital Ocean installation, which works by some miracle.
All I need for that is your e-mail.
There are both stable and development versions installed. You can choose one of them in Nginx configuration file.

[2018-06-23 12:08] robertgarrigos commented on #3702
that would be great! you can get me on robert at garrigos dot cat. thanks

[2018-06-23 12:19] Digharatta commented on #3702
Sent your way! That's how it works: http://decidim.org.ua/ (development version, stable one couldn't stand the melodious beauty of Ukrainian language) Good luck!

[2018-06-23 14:00] tramuntanal commented on #3584
Uml for the persistence:
[code]

I'm not sure if Document is needed but probably will be useful for persisting some general information or meta-information for the whole document.

[2018-06-23 14:11] deivid-rodriguez commented on #3702
@robertgarrigos I'm sorry about the errors you're getting. The generators are very hard to test because it's difficult to simulate the real environment where they run... So they sometimes have regressions :( Anyways, the error should be fixed and released soon.

Regarding this error:

[code]

This is a weird one from our side, for some reason we released `0.11.1`, but no `0.11.0`... Specially misl

[2018-06-23 14:33] robertgarrigos commented on #3702
thanks @Digharatta . I have not received anything yet though...
thanks @deivid-rodriguez now your keeping me busy :-) Thanks you so much. I'll give it a try right now

[2018-06-23 15:04] robertgarrigos commented on #3702
yes!! installed with the good generator :-D

now, I have to learn how to do all the rest ;-)

[2018-06-23 17:15] robertgarrigos commented on #3702
thanks @deivid-rodriguez I got my dev app running. Now, I would need some help on what to go from here. I'm new to rails and a bit lost. I'm aware that this is not the place to ask for such a help. I've found the forum at the meta site, however it's not being used much.

In any case, I cannot access as admin nor as user, but I do can access as system user. How can I access as admin?

[2018-06-23 18:15] robertgarrigos commented on #3702
I have already did:

```bin/rails db:create db:migrate db:seed```

which should had created the data and all example users, but I can only login as system.

[2018-06-23 20:18] Digharatta commented on #3702
Yes, that happened to me as well.

[2018-06-23 20:56] robertgarrigos commented on #3702
But you have a working app. How did ypu solev this?

[2018-06-23 22:44] deivid-rodriguez commented on #3702
@robertgarrigos I don't know why that would happen... You can try booting the rails console and see if the admin user is really there:

[code]

[2018-06-24 04:46] Digharatta commented on #3702
@robertgarrigos I created a new organization in the System panel, with Ukrainian language available. Somehow this works miracles every time. At least the front page shows up. Oh, the beauty of Ukrainian :-)

[2018-06-24 05:53] Digharatta commented on #3702
@deivid-rodriguez Thank you, there's the admin user:

<Decidim::User id: 1, email: "admin@example.org", created_at: "2018-06-16 15:36:14", updated_at: "2018-06-16 15:36:14", decidim_organization_id: 1, name: "Christiana Glover", locale: "en", avatar: nil, newsletter_notifications: false, delete_reason: nil, deleted_at: nil, admin: true, managed: false, roles: [], email_on_notification: false, nick

[2018-06-24 08:44] robertgarrigos commented on #3702
Exactly the same happens to me.

@deivid-rodriguez I can see the admin user on the console, but cannot login as admin either.... you can try it at decidim.garrigos.cat:3000

[2018-06-24 14:51] robertgarrigos commented on #3702
Also, I've created a new admin user with the instructions in deploy section on rails console. Than I can login into /system with that new user credentials, but not in front page.

[2018-06-24 16:55] Digharatta commented on #3702
@robertgarrigos Deploy section provides the instructions to create System user, and that's exactly what you've got. The way to create Admin user should be similar, but a tad different.

https://stackoverflow.com/questions/12418584/seeding-users-with-devise-in-ruby-on-rails
https://gorails.com/forum/some-good-ways-of-seeding-data-in-my-app

[2018-06-24 18:13] deivid-rodriguez commented on #3702
Maybe you need to edit the organization's host in DB to match your domain. The default on seeds is localhost but you have a different domain.

[2018-06-24 18:44] Digharatta commented on #3702
Or maybe it's "decidim_organization_id: 1" of seeded Admin user?
The frontpage didn't show up until I created the new organization, - so the "decidim_organization_id" must have changed.

[2018-06-25 08:05] mrcasals commented on #3269
This is still happening, I guess

[2018-06-25 08:17] carolromero commented on #3552
@Crashillo do we have the layout for this? thanks!

[2018-06-25 08:22] Crashillo commented on #3552
No, I'm not working on it yet, I'm on #3398. Should I give priority to this?

[2018-06-25 08:31] mrcasals commented on #3552
Related to #3209.

[2018-06-25 08:49] mrcasals commented on #3629
Layout got merged, we need to implement it.

[2018-06-25 08:59] xabier opened #3709 "EPIC: Conference/events module"
# This is an EPIC for Conference module

* This EPIC comes from Barcelona's public procurement process, whose specifications are detailed at meta.decidim: [https://meta.decidim.org/processes/roadmap/f/123/results/6920?locale=es ](https://meta.decidim.org/processes/roadmap/f/123/results/6920?locale=es )

## Summary

This module will be a configurator and generator of Conference/Event pages, underst

[2018-06-25 09:40] mrcasals commented on #3702
Once you've created a System admin, you can visit `/system` and create an organization there. The email used there is the one that will be used to admin that organization, and can be the same as the one used for the system admin.

[2018-06-25 10:15] virgile-dev commented on #3699
@furilo we were just brainstorming about this the other day.
Blog articles should be included in the recent activity column. I would even have a column just for it as it will most likely showcase the lastest news about the platform.

[2018-06-25 10:57] robertgarrigos commented on #3702
@deivid-rodriguez once you create the app and seed it, there is already a new organitzation (id:1), indeed with localhost. I couldn't edit that organization (when you click edit you cannot see all its fields: no name and admin email, nor locale) so I created a new one with the right domain. I created a new system admin also and when trying to delete the seeded system user I got an error:

[code]

[2018-06-25 11:10] arnaumonty commented on #2594
@furilo to give you some examples in Barcelona case we have two different levels of assemblies: sectorial and territorial :
- Territorial: [](http://ajuntament.barcelona.cat/participaciociutadana/es/organos-de-participacion-territoriales)
- Sectorial: [](http://ajuntament.barcelona.cat/participaciociutadana/es/organos-de-participacion-sectoriales)

[2018-06-25 11:17] furilo commented on #3640
@carolromero @decidim/product a couple of examples of the big card in a full page

![adaptive cards 2](https://user-images.githubusercontent.com/24740/41847346-fc3c5ee6-7879-11e8-8473-7f72d24c1391.png)

![adaptive cards](https://user-images.githubusercontent.com/24740/41847347-fc5cd658-7879-11e8-9365-dd96889b0632.png)

[2018-06-25 11:40] deivid-rodriguez commented on #3702
Can you not change the domain for an organization? :/

[2018-06-25 11:50] arnaumonty commented on #3398
As we decided in our last meeting we should add an access link to general stats of the site in the footer.
cc @MarcReniu @furilo

[2018-06-25 12:07] andreslucena commented on #3702
Just to answer the first question, regarding "have some docs on putting decidim on production", on aLabs.org we're working on an opinionated guide regarding how do we do deploy of a production application, normally we use: rbenv + rbenv-vars + capistrano + nginx + passenger + postgresql  - we're hoping to have this

On the other hand, regarding production installation, @gmarpons is going to propos

[2018-06-25 12:26] arnaumonty opened #3711 "Add descriptive text in collaboartive drafts list page"
In order to improve the understanding of what a collaborative draft is, we should add a description/help box to describe and explain it, as it works in proposals (Announcement).

![captura de pantalla de 2018-06-25 14-24-15](https://user-images.githubusercontent.com/3855859/41850036-7a3e426a-7883-11e8-9669-27bbf4c0b5be.png)

related to: #3049

[2018-06-25 14:16] deivid-rodriguez commented on #3644
This should now be fixed in `faker`. If you point to faker's master in your `Gemfile`, it should no longer crash.

[2018-06-25 14:34] carolromero opened #3712 "EPIC: Contextual Help System"
# This is an EPIC

## Summary

### EPIC description
A system of contextual support will be designed for the entire platform, which will allow contextual help text to be inserted at various points in the platform.

### Main related issues

- [ ] MVP - #3973
- [ ] Process header and menu design explorations #4230
- [ ] ~~System help / Process intro https://github.com/decidim/decidim/issues/4136~~
-

[2018-06-25 14:47] arnaumonty opened #3713 "Add breadcrumb in detail collaborative drafts page"
In the same way, as [Accountability](https://meta.decidim.org/processes/roadmap/f/123/results?filter%5Bcategory_id%5D=185&filter%5Bscope_id%5D=&locale=ca) module does, the breadcrumb should allow participants to return to collaborative drafts list page.

[2018-06-26 06:50] mrcasals commented on #1858
Nope, keep it, stalebot!

[2018-06-26 07:18] mrcasals commented on #3284
This is still happening I guess /cc @decidim/lot-mods

[2018-06-26 07:20] mrcasals commented on #3296
No, keep it

[2018-06-26 07:52] jpaulin opened #3715 "Suggestion for a note / chapter to the Decidim administrator's manual: How to enter API key for the map functionality"
**Describe the bug**
When an admin has installed the Decidim, they might end up in a situation where the map
for a "event" (nevermind terminology) is blank - ie. it does not show a working map.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Decidim from source (clone from Github)
2. Do all steps necessary in the README.md (install/setup Decidim)
3. Run Rails server (ie. run Decidim)

[2018-06-26 08:21] robertgarrigos commented on #3702
@deivid-rodriguez Yes, you can change the domain for an organization, but not the name and email of the admin, nor the locale. Even more, you has to create a new organization in order to show a front page. Seeded one doesn't work.

@andreslucena These are good news ;-)

To everyone: I've just created a proposal at meta.decicim.org (https://meta.decidim.org/assemblies/eix-tech/f/157/proposals/12888

[2018-06-26 08:35] jpaulin commented on #3715
**Solution guidelines**

So, what the issue was about in my case (being a developer), was that "rbenv" by itself did not read (and make effective) the `.rbenv-vars` file in project root folder.

The map functionality in Decidim needs these 2 variables set:
[code]
The said rbenv needed a plugin called **rbenv-vars** installed in to my home folder under
~/.rbenv/plugins/

Basically:
Not a Decidim is

[2018-06-26 09:47] Xfolchf opened #3717 "Notification in French with Decidim in Catalan and Spanish"
**Describe the bug**
A participant of a Decidim configured in Catalan and Spanish has received a notification in French.

This Decidim but, is in the multitenant with other Decidim of which one is configured in French.

The user should receive the notification with the selected language in the Decidim configuration that he uses.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12889

[2018-06-26 09:49] Xfolchf opened #3718 "Wrong name for supports when are exporting proposals"
**Describe the bug**
File that is generetaed by exporting shows word votes and not word supports. As we are in proposal and not in consultation that's a bug.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12890

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/41903691-e48b5d7a-7936-11e8-8925-c3

[2018-06-26 12:43] tramuntanal commented on #3584
I'm answering the questions myself to document what we talked yesterday:

1. in which section of the Admin will this feature appear?
There will probably be a specific "Participatory texts" component that will allow only to generate one type of cards (Proposals?)
1. is this a module itself or it must be implemented inside an already existing module?
It will be a `decidim-participatory_texts` module

[2018-06-26 13:55] oriolgual opened #3719 "Error when creating a long proposal"
**Describe the bug**

When trying to create a proposal with more then 1500 characters there's a `ActionDispatch::Cookies::CookieOverflow` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create a really long proposal
2. Continue
3. You get an error when being redirected to `/complete`

**Expected behavior**
I can create a really long proposal.

**Screenshots**
If applicable, add

[2018-06-26 13:56] oriolgual commented on #3719
@decidim/lot-mods @agustibr can you review this please?

[2018-06-26 14:00] furilo commented on #3699
Hey @virgile-dev thanks for the input!! We'll be sending some updates about this soon.

[2018-06-26 14:05] agustibr commented on #3719
@oriolgual I'll check it

[2018-06-26 14:28] #3607 closed

[2018-06-26 14:44] isaacmg410 commented on #3709
@decidim/product, can you create the specific issues for MVP and 1st iteration, please?
In addition, do you agree to name this new module as 'Decidim: Events::Event' ?

[2018-06-26 14:45] xabier commented on #3709
hit @isaacmg410 since the term "Event" is ambiguous, it is better to call it `decidim-conferences`

Let me finish this EPIC first (there are still some missing parts) and we can create the MVP.

[2018-06-26 15:26] xabier commented on #3709
@decidim/product @decidim/lot-core I have finished specifying this EPIC, before we move into the MVP, lets clarify doubts

[2018-06-26 16:09] paarals commented on #3696
if its an expected behaviour we must change the instructions that give us in the step comission promote. now it says a minimum 3 users, that's why I reported as a bug.

![discussion_promotecomission](https://user-images.githubusercontent.com/40388743/41925113-f0193952-796b-11e8-8732-f516ac8dbccf.jpg)

[2018-06-27 08:37] oriolgual commented on #3709
Yes. This option was considered and approved on sprint-planning meeting.

I'm not sure that was we agreed on. The consensus was the we would create a new participatory space (Conference). This new space would provide the registration and agenda features and would depend on the meetings module (but without actually needing to modify meetings).

[2018-06-27 09:40] tramuntanal opened #3725 "Authorship for Proposals list have disappeared"
**Describe the bug**
When listing proposals with the m-cards, authors do not appear anymore.

**To Reproduce**
1. Go to some participative space with proposals component active and some proposals
2.  proposal list

**Expected behavior**
In the m-card for proposals, the authorship should appear, either official or the given author.

**Screenshots**

**Extra data (please complete the following infor

[2018-06-27 12:45] mrcasals commented on #3629
PR implementing the design can be found at #3728

[2018-06-27 16:17] deivid-rodriguez commented on #3702
And changing the domain of the organization to match your domain (instead of being `localhost`) does not allow the default admin to login?

[2018-06-27 19:18] xabier commented on #3709
@oriolgual

Thanks for your input. I see no contradiction with what I said. If there these is a specific part of my paragraph that you think doesn't fit with what you say, let me know. Maybe I didn't explain myself properly or I misunderstood something.

[2018-06-28 07:16] mrcasals commented on #3702
Run `rails c` on your server and paste this there:

[code]

This updates the `host` attribute for the seeded organization, so the default admin can login.

[2018-06-28 07:19] oriolgual commented on #3709
I was referring to "is to reuse the Organs as a template", I just wanted to make sure that we wouldn't use any of the code related to assemblies (although we can reuse the idea of having speakers as members an such).

[2018-06-28 07:37] oriolgual commented on #3674
What about doing this with two queries? One to get the participatory spaces from an organization (quite inexpensive) and another to get all the proposals (which would also avoid joins and performance issues).

[2018-06-28 07:39] mrcasals commented on #3674
@oriolgual I guess the problem is getting all these participatory spaces: you don't know how many you have, and you'll have to make a single query for every type of space you have installed.

[2018-06-28 07:42] oriolgual commented on #3674
Oh, that's true 🤔

[2018-06-28 08:15] agustibr commented on #3719
@oriolgual actually the proposal is created after the `compare step` as *a draft*, as you point is the `GET` that is causing the `CookieOverflow` error on the `create step` and the `compare step`,  so if this is changed to a `POST` solves it, does it seams appropiate to you?

[2018-06-28 09:25] Xfolchf opened #3739 "Validation of the length of the proposals"
**Describe the bug**
When creating a proposal, before the comparison, the size is not validated (neither is the user showing what is the maximum size).
This can cause errors to the server in the case of very long proposals (as they are passed through URL).
The maximum size for users should be shown and pre-validated in the browser.

https://meta.decidim.org/processes/bug-report/f/210/proposals/128

[2018-06-28 09:32] mrcasals opened #3740 "Proposal date is broken in proposal page"
**Describe the bug**
After moving proposals to the `Coauthorable` feature, the proposal page shows the author data in a weird way:

![](https://i.imgur.com/hjE28dn.png)
**To Reproduce**
Visit any proposal page.

**Expected behavior**
 the date and flag button are on a new line, when they should be on the same line as the proposal author. Also, some styles seem to be lost since they previously show

[2018-06-28 10:00] Xfolchf opened #3742 "Not able to follow proposal/meeting within search results"
**Describe the bug**
Although I have signed in on the platform, when I try to follow another user the system shows this message: "Please sign in before performing this action".
More information on image attached.

https://meta.decidim.org/processes/bug-report/f/210/proposals/12893

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserc

[2018-06-28 10:03] oriolgual commented on #3674
After discussing it off-line with @mrcasals and @josepjaume I'd like to take step back and think about this feature.

We currently have a statistics system that could be used for this if we expanded it a little bit. My main concern is
creating all these visualizations directly from each component, resource or participatory space, the performance hit
would be too much and you would still depend on

[2018-06-28 10:08] mrcasals commented on #3742
@decidim/lot-mods this seems to come from not passing the current user to the context of the cards in the search, can you check it please?

[2018-06-28 10:29] mrcasals commented on #3674
@MarcReniu we're not talking about how to fetch the data, we're talking about how to *store* the data. You can keep using GraphQL to fetch it.

[2018-06-28 10:36] josepjaume commented on #3674
@MarcReniu what @oriolgual says and what we discussed are compatible things. GraphQL is only a means to move data from the back-end to the front-end. You can can definitely create a Type to represent a `metric`.

[2018-06-28 10:39] oriolgual commented on #3739
Dup of #3719

[2018-06-28 10:39] #3739 closed

[2018-06-28 10:39] MarcReniu commented on #3674
You don't need to create any `rake task` to do this. Denormalizing Components (as done in the PR) you could generate materialized views. They will be automatically updated, and even add some caching in the queries.

[2018-06-28 10:40] oriolgual commented on #3719
@agustibr even if you change it to post you still need to redirect the user to the create page right? And you'll still have the `CookieOverflow`

[2018-06-28 10:51] mrcasals commented on #3674
I guess you mean the work done on #3603. First of all, sometimes you need to drop work you've been doing for some times because the approach might be wrong. That's something that *can* happen. But #3603 is looking good, actually, so you don't need to drop anything. You can keep the GraphQL part, which looks really good! The only problem with that PR is how you get the data.

We have some logic in

[2018-06-28 11:08] agustibr commented on #3719
Yes but as the proposal will be persisted in the db, the only info sent is the `proposal_id` fixing the error, hopefully this afternoon I'll create a PR (I'll ping you).

On the other hand, as the draft creation only sets the `title` and `body` attributes, the `complete` step does an `update` with all the attributes, including `attachments` so will also fix #3034 and will enable attachment edition

[2018-06-28 11:12] robertgarrigos commented on #3702
I deleted seeded admin user, so I basically are f...d. I will delete app and database to create the app again

[2018-06-28 11:21] tramuntanal commented on #3674
Ok, in fact having a metrics table was what I first recommended :cry:
This has the advantage of allowing us to reuse logic in Ruby (published? etc.. -as you already said-).

But I'll keep with this de-normalization issue so that querying is simpler, not only for Data Viz, but for many other features.

SQLviews are not hard if you don't have dynamic and complicated logic to build them. We've used t

[2018-06-28 12:07] xabier commented on #3709
@oriolgual thanks for clarifying. Don't you think that the best way to create a new Participatory Space (Conferences) is to "copy-paste" the structure of Organs or get inspiration of its internal structure and methods (to start with it is the most similar to what Conferences demand)?

[2018-06-28 12:09] xabier commented on #3709
Anyway, this is none of my business :smile: it is up to developers to see how code is reusable or rewritable for each case. I was just trying to help. But the last word is yours.

[2018-06-28 12:15] Digharatta commented on #3702
@mrcasals Sorry, this didn't work.

Well, seeded admin couldn't login well before the creation of new organization. There's some deeper trouble.

In the Nginx error log, there's:

[code]

[2018-06-28 12:18] mrcasals commented on #3702
@Digharatta those seem to be warnings, which shouldn't crash your app, so the problem might be somewhere else...

[2018-06-28 12:24] Xfolchf opened #3743 "Conference/events module MVP"
# This is an MVP

## :tophat: Description
We will base this MVP in the features described in the EPIC's

### Features
This module needs to offer the following features for admins:
- [x] Send invitations by email

#### General Conference information

- [x] Title of the conference
- [x] Slogan
- [x] Hashtag
- [x] Dates
- [x] Conference Venue(s)
- [x] Brief description of the conference
- [x] Extensi

[2018-06-28 12:40] Xfolchf commented on #3709
@isaacmg410 MVP done

[2018-06-28 15:33] agustibr commented on #3742
:eyes: yes sure!

[2018-06-28 15:48] agustibr commented on #3742
@mrcasals passing the `current_user` to the `context` soved the issue! :smile:

[2018-06-29 07:45] agustibr commented on #3696
@mrcasals the link to meta.decidim.org => https://meta.decidim.org/processes/bug-report/f/210/proposals/12841

[2018-06-29 07:47] #2930 closed

[2018-06-29 07:48] arnaumonty commented on #2930
We close this issue. This is not a priority right now.

[2018-06-29 11:01] oriolgual opened #3746 "Assembly admins can list other assemblies"
**Describe the bug**
Assembly admins can see other assemblies at the list even if they aren't admins or members.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.decidim.codegram.com/admin/assemblies
2. Login as `assembly_1_admin@example.org` with `decidim123456`
3. You'll see two assemblies

**Expected behavior**
You should only see one assembly.

[2018-06-29 11:03] agustibr opened #3747 "User invitation form doesn't render the text of the newsletter checkbox in the contact permissions section"
**Describe the bug**

The user invitation form doesn't render the text of the `newsletter` checkbox in the "Contact permissions" section, and once submited raise an error.

**To Reproduce**
Steps to reproduce the behavior:
1. If someone has invited me, I'll receive an email with a link to complete/confirm my account
2. Click on the link in the email
3. Scroll down to  "Contact permissions"
4. See

[2018-06-29 12:28] furilo commented on #3209
A quick update on progress. We'll finish a definitive version next week, so don't judge yet ;)

![imagen](https://user-images.githubusercontent.com/24740/42092140-23b28e92-7ba8-11e8-9980-bd8af1ceda6c.png)

![imagen](https://user-images.githubusercontent.com/24740/42092187-4440596e-7ba8-11e8-9738-3c75313544ba.png)

And a sneak preview of our conf tool ;)

![screencast 2018-06-29 14-26-40](https://u

[2018-07-02 07:47] isaacmg410 commented on #3743
@decidim/product

This should not be in 1st Iteration? Since it is where will the section of the program be done?

[2018-07-02 08:14] Xfolchf opened #3750 "User invitation form doesn't render the text of the newsletter checkbox"
**Describe the bug**

The user invitation form doesn't render the text of the `newsletter` checkbox in the "Contact permissions" section, and once submited raise an error.

**To Reproduce**
Steps to reproduce the behavior:
1. If someone has invited me, I'll receive an email with a link to complete/confirm my account
2. Click on the link in the email
3. Scroll down to "Contact permissions"
4. See a

[2018-07-02 08:19] Xfolchf opened #3751 "Receiving notification when someone endorses and/or comments my proposal"
**Describe the bug**
So far, if I don't follow my own proposal, I don't receive a notification letting me know that someone has either endorsed or commented my proposal. I might miss a comment that I need to reply to. And when the "proposals" component is used during a call for project for a participatory budget, it is good to be notified that someone has endorsed my proposal so that I can contact