[2018-11-26 15:44] magwas commented on #4575
the same result with

    wget http://get.decidim.org -O install_decidim.bash;bash install_decidim.bash

[2018-11-26 15:49] magwas commented on #4575
workaround: run db:seed separately.
Please update the documentation and install_decidim.bash

[2018-11-27 08:32] oriolgual commented on #4572
This is intentional, see https://github.com/decidim/decidim/pull/3225#discussion_r181637865

Decidim only installs its migrations and not other engines or plugins migrations, you should also run `rake name_of_the_engine:install:migrations`

[2018-11-27 08:43] Xfolchf commented on #3347
@MarcReniu As we talk in the last meeting, this topic of the Epic is pending: "All the visualizations will be accompanied by a button to download the data in CSV format"

[2018-11-27 08:49] MarcReniu commented on #3347
@Xfolchf I'm working on it

[2018-11-27 09:10] ailobe commented on #3752
Hi @decidim/lot-px @decidim/product ,
This is the layout of the buttons.
Consider that when the user is not logged in, instead of follow button there is a text: "Sign in or sign up to participate". And when amendments are not enabled, there is no amend button.
![participatory_text_cell_buttons](https://user-images.githubusercontent.com/40306853/49070289-9610d080-f22b-11e8-97e8-b84cd1cdc28d.png)

[2018-11-27 09:13] mrcasals commented on #3752
@ailobe in case you aren't using it, check the `FollowButtonCell` to render that button. If the user is not logged in, it still shows the button, but a tooltip is added prompting the user to log in.

[2018-11-27 09:47] #2828 closed

[2018-11-27 09:58] ailobe commented on #3752
Thanks @mrcasals. Considering I checked the correct file, I think the follow button cell doenst work correctly. Because the button is disabled, the user cannot really interact with the button and the tooltip doesnt show.
https://github.com/decidim/decidim/blob/d81df5466fc922b7e19d4c9f01b89ef822e9b181/decidim-core/app/cells/decidim/follow_button/show.erb#L26
If I change the disabled part, the butto

[2018-11-27 13:19] Hilfe opened #4583 "Exception migrating AddOrganizationAsAuthor"
**Describe the bug**
Upgrading decidim from 0.13 to 0.15, the process is cancelled when is migrating the AddOrganiztionAsAuthor. I suspect that the participatory_spaces was deleted or it's wrong.

**Expected behavior**
If participatory_space is null continue migrating.

**Stacktrace**
Decidim::Component#organization delegated to participatory_space.organization, but participatory_space is nil: #<D

[2018-11-27 13:38] mrcasals commented on #4583
@Hilfe hi! Looks like you have some inconsistent data in your DB: you have some components that belong to a participatory space that doesn't exist. We should totally ensure this doesn't happen, but meanwhile you can look for those components and remove them from the DB.

[2018-11-27 13:50] Hilfe commented on #4583
Thnaks @mrcasals! Yes, looking in API the component(id:12) is null, and these assembly(id:5) have an others components. Im gonna check what is happening inside DB and try to delete this component

[2018-11-27 13:55] mrcasals commented on #4583
@Hilfe looking at the stacktrace you posted, the Component with ID 12 belongs to a Process with ID 5, and this process is not in the DB. I don't see it talking about assemblies.

[2018-11-27 14:08] Hilfe commented on #4583
Maybe i'm messing... Yes, process with id 5 doesn't exist but Assemblies and Processes belongs to participatory_spaces, no?

[2018-11-27 14:17] mrcasals commented on #4583
Nope! Assemblies and Processes and independent resources and live in different tables. They are both conceptually "participatory spaces" because they implement the `Participable` concern, and thus they have components and they allow for participation.

Components belong to a "participatory_space" because this is a polymorphic relation (process, assembly, initiative, conference...).

[2018-11-27 15:44] tramuntanal commented on #4572
I see...
I'm not sure about this decision. We must take into account that Decidim is not a monolithic app with plugins, instead it is an aggregate of modules.
At least we may have a task to upgrade all modules of the family `decidim-*` or allow `decidim:upgrade` to accept an `all` param to only upgrade all modules, and by default it will upgrade only "official" modules.

[2018-11-27 16:48] furilo commented on #4515
The first idea would be to make it appear as a breadcrumb, but since when you navigate to the parent element, you don't have a direct access to the child again, I don't think I would put it as a breadcrumb.

Thus, this simple text to give context:

![image](https://user-images.githubusercontent.com/24740/49097106-6209cf80-f26c-11e8-8da5-3b096b548a49.png)

[2018-11-27 17:37] ahukkanen opened #4584 "Elements with non-unique ID on filtering pages"
**Describe the bug**
On the listing pages that have filtering on them (such as proposals, meetings, etc.), the filtering DOM elements are duplicated in the source with the same IDs.

This causes e.g. Chrome to show the following error in the developer console:

`[DOM] Found 2 elements with non-unique id #element_id: (More info: https://goo.gl/9p2vKq) `

**To Reproduce**
Steps to reproduce the beha

[2018-11-28 09:32] oriolgual commented on #4572
Maybe we could try to list all the modules that will copy migrations and only automatically install those that start with `decidim`?

[2018-11-28 09:34] mrcasals commented on #4584
Hi @ahukkanen! Thanks (again!) for your report!

Rails autogenerates these IDs, based on the model and field names. Since both filters views (`filters_small_view` and `filters`) render the same form, based on the same model object, the generated IDS are the same. We'll have to override them manually somehow.

[2018-11-28 09:37] mrcasals commented on #4572
Change should be applied here:

https://github.com/decidim/decidim/blob/ce638efe62015bdcb919a0a6ce55f945a6f9d320/decidim-core/lib/tasks/decidim_tasks.rake#L4-L31

We need to check what tasks use the `choose_target_plugins` one as a dependency, just in case, and if everything's OK then we can change how this task behaves.

[2018-11-28 09:43] ahukkanen commented on #4584
@mrcasals Maybe by providing a `:namespace` option for the form?

Also, see:
https://github.com/rails/rails/blob/8e095d699e9e6e626bdc53db7f756cf478a2c48c/actionview/lib/action_view/helpers/tags/base.rb#L102-L104

[2018-11-28 09:44] mrcasals commented on #4584
Oooh, I wasn't aware of that option! That looks awesome, thanks for the tip! 😄

[2018-11-28 11:44] Hilfe commented on #4583
decidim-core/lib/decidim/coauthorable.rb:105:in `add_coauthor'

[2018-11-29 15:25] leio10 opened #4596 "Proposals created from collaborative drafts don't copy their address and category"
**Describe the bug**
When publishing a collaborative draft, the created proposal don't has its address and category.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a proposal component in a participatory space with categories and activate the "Geolocation" feature
2. Create a collaborative draft and assign it an address and a category.
3. Publish the collaborative draft
4. See the mi

[2018-11-30 08:18] mrcasals commented on #4596
Hi @leio10! Thanks for the bug report!

@decidim/lot-mods can you check this please? 😄

[2018-11-30 09:36] ailobe commented on #4207
Hi @decidim/product ,
Related to https://github.com/decidim/decidim/issues/3852#issuecomment-443144107, I also checked the links and they work fine in master. Shoud this issue be closed?

[2018-11-30 09:52] carolromero commented on #4207
Hi @ailobe,
We have this problem with our General Assembly in meta.decidim.org:
![imatge](https://user-images.githubusercontent.com/23509895/49281743-9f997300-f48d-11e8-91e7-a5d72f2525f7.png)

![imatge](https://user-images.githubusercontent.com/23509895/49281650-5b0dd780-f48d-11e8-99fb-3c45fb7e98ae.png)

We gave @isaacmg410 access to the admin the first time we reported this, but not sure if he co

[2018-11-30 13:36] #4122 closed

[2018-11-30 14:03] mrcasals commented on #4122
This has been merged and is pushed to staging, if you want to check it! @decidim/product

[2018-11-30 14:48] #4248 closed

[2018-11-30 16:05] tramuntanal commented on #4596
Yes, it seems logical to copy address and category no @agustibr @decidim/product ?

[2018-11-30 16:18] tramuntanal commented on #4572
Another option may be to expand this list to an optional yml configuration file.
Or to look for a `has_decidim_migrations` engine  variable (I'm not an expert with engines but I guess Decidim can iterate over them).

[2018-12-01 13:03] #2538 closed

[2018-12-03 01:51] #4183 closed

[2018-12-03 09:31] ailobe commented on #4131
@carolromero , can you please create a new parent assembly (a private one, for example) and a new child assembly inside it in metadecidim? I have permissions to the backend but I've been told to only take a look.

I need to know if the problem lies with the old assemblies or is it something more generalized. I haven't been able to reproduce the problem in a development app generated in master; eve

[2018-12-03 11:59] Xfolchf opened #4606 "Error in viewing comments on Last Activity (HOME)"
**Describe the bug**
In the section of the last activat (Home) it is not displayed correctly that activity of  comments type that have mentions realized to other users

https://meta.decidim.org/processes/bug-report/f/210/proposals/13403

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/49372513-35860580-f6fb-11

[2018-12-03 12:01] Xfolchf opened #4607 "Notification and/or mail missing when registering for a Meeting"
**Describe the bug**
1. When I register for a meeting and I have "email notifications" de-activated on my account I don't receive an email with the registration code for the conference.

2. I should receive a code with that code, or display it when I register, or, at least, I should receive a notification. Ideally I should be asked how do i want to receive the code when I am registered, and maybe

[2018-12-03 12:04] Xfolchf opened #4609 "Change official logo footnote"
**Describe the bug**
It is not possible to change the official footer logo on meta.decidim.org

Error:
translation missing: es.activemodel.errors.models.organization.attributes.official_img_footer.allowed_file_content_type

https://meta.decidim.org/processes/bug-report/f/210/proposals/13351

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.g

[2018-12-03 12:09] Xfolchf opened #4610 "Broken link on the Meta website"
**Describe the bug**
In this section there is a link to a Telegram group that no longer exists or is not accessible:

In this link: https://meta.decidim.org/assemblies/eix-tech?locale=es  in the 2nd paragraph:

"Puedes unirte a este eje o grupo de trabajo del proyecto Decidim viniendo a las reuniones mensuales que realizamos dentro de las SOM (Sesiones Operativas Metadecidim) o bien uniéndote al c

[2018-12-03 12:12] Xfolchf opened #4611 "Add title of the participatory space to the Card of meetings, to the general list of meetings"
**Describe the bug**
Add the title of the participatory space to the Meeting Card of the general list (calendar) of the meetings.

An example of how to apply it is to show it as it is being done with the search results card.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13405

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images

[2018-12-03 12:54] ailobe commented on #4207
Hi @carolromero , I see there's a new private assembly in metadecidim "Equip Decidim". I don't know if it's related to https://github.com/decidim/decidim/issues/4131#issuecomment-443644651 , but can you please create a new child assembly to check if new parent/child assemblies display properly?

[2018-12-03 13:10] mrcasals commented on #4610
This is not a Decidim bug. Admins of Metadecidim should handle this from the admin section.

[2018-12-03 13:10] #4610 closed

[2018-12-03 13:15] mrcasals commented on #4606
We should add the `text-ellipsis` CSS class there

[2018-12-03 13:16] mrcasals commented on #4607
@decidim/lot-mods can you check this please?

[2018-12-03 13:29] oriolgual commented on #4606
I don't think this is the problem @mrcasals, we should use the presenter for the root commentable the same way we do at `ProposalActivityCell` or `MeetingActivityCell`

[2018-12-03 13:32] mrcasals commented on #4606
Ah, true! I didn't read the description and thought the error was with the resource name link...

[2018-12-03 15:15] #4606 closed

[2018-12-03 15:17] #4596 closed

[2018-12-03 15:43] #4042 closed

[2018-12-03 18:36] mrcasals commented on #4170
The original link in Metadecidim has 0 comments and 0 adhesions. Apart from that, this is not a bug, that's a whole new feature.

Closing.

[2018-12-03 18:36] #4170 closed

[2018-12-03 18:37] #4540 closed

[2018-12-04 08:00] mrcasals commented on #2284
I think this was dropped in favor of #3837, can we close this @decidim/product ?

[2018-12-04 08:05] mrcasals commented on #2265
The epic issue (#4122) is now closed. Should we close this one too?

[2018-12-04 08:05] mrcasals commented on #2265
The epic issue (#4122) is now closed. Should we close this one too @decidim/product ?

[2018-12-04 10:35] #3837 closed

[2018-12-04 10:59] #2284 closed

[2018-12-04 11:00] #2265 closed

[2018-12-04 13:08] ailobe commented on #4555
I'm looking into this and found that I cannot access an Initiative if I'm not logged in, except if the status is accepted, published or expired. Is this a bug @decidim/product ? Also, an Expired Initiative (show) has a card status of Rejected (index).

[2018-12-04 14:36] #4422 closed

[2018-12-04 14:52] oriolgual opened #4619 "Meeting admin form error when only one locale"
**Describe the bug**

When editing a meeting with an organization with only one locale, the form isn't rendering correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an organization with only one locale
2. Sign in to the admin
3. Add a meeting component to a participatory space
4. Create a meeting
5. Edit the meeting
6. See error

**Expected behavior**

The meeting title and des

[2018-12-04 14:52] oriolgual commented on #4619
@decidim/lot-mods @isaacmg410 could you please take a look at this?

[2018-12-04 15:01] isaacmg410 commented on #4619
I will check

[2018-12-04 15:54] bracintosh opened #4622 ""New initiative" action error - v0.15.1"
Hello, I installed the new version (0.15.1) on a Digital Ocean droplet, and I found an issue with the initiatives: No matter which user does it, when you click the "New initiative" button, an internal server error happens:
![image](https://user-images.githubusercontent.com/9437319/49454194-0c2cae80-f7bb-11e8-9b0a-e85c23394ea7.png)

I made sure that at least one initiative type exists, and tested w

[2018-12-05 07:56] mrcasals commented on #4622
This is the real error:

[code]

We'll try to work on a fix! 😄

[2018-12-05 08:33] mrcasals commented on #4439
Talked offline with @decidim/product and here's what's left to do in this issue:

1. Remove all events that are not directly related to the user. Eg, only events affecting to the user should generate notifications/emails (you've been invited to a group, your proposal has been answered/commented, etc). Activity generated by people you follow does not count as event and should be removed to clear up

[2018-12-05 08:33] mrcasals commented on #4439
@decidim/product please can you confirm this is correct? 😄

[2018-12-05 08:40] #4611 closed

[2018-12-05 11:41] oriolgual commented on #4622
I wasn't able to reproduce this, did you precompile your assets?

[2018-12-05 13:20] #4426 closed

[2018-12-05 13:22] #4619 closed

[2018-12-05 14:09] oriolgual commented on #4551
What's the status on this?

[2018-12-05 14:36] oriolgual commented on #4622
I'll close this then, if you still have problems please reopen.

[2018-12-05 14:36] #4622 closed

[2018-12-05 14:40] oriolgual commented on #4425
Closing since I'm not able to reproduce it.

[2018-12-05 14:40] #4425 closed

[2018-12-05 14:41] ahukkanen opened #4630 "Google OAuth button not compatible with Google branding guidelines"
**Describe the bug**
We submitted one Decidim instance to the Google OAuth review process and it bounced back because the Google sign in button incorporated in Decidim does not meet Google's branding guidelines.

The branding guides are available for reading here:
https://developers.google.com/identity/branding-guidelines

The main issue is the displayed logo, the button itself I believe can pass

[2018-12-05 14:47] oriolgual commented on #4406
Can't reproduce with latest version:

![image](https://user-images.githubusercontent.com/5254/49521119-027f7580-f8a5-11e8-978f-25ac0bac03d6.png)

[2018-12-05 14:47] #4406 closed

[2018-12-05 15:11] oriolgual commented on #4344
Won't fix, it was a `HEAD` request.

[2018-12-05 15:11] #4344 closed

[2018-12-05 15:39] #4546 closed

[2018-12-05 18:05] #4374 closed

[2018-12-05 19:47] #4264 closed

[2018-12-05 19:48] #4527 closed

[2018-12-05 19:48] #4373 closed

[2018-12-05 19:49] #4609 closed

[2018-12-05 22:01] clauded opened #4635 "Docker documentation"
**Is your feature request related to a problem? Please describe.**
There's a Decidim docker image in the public repo of Docker (https://hub.docker.com/r/decidim/decidim/tags/). There's no documentation on how to use this image.

**Describe the solution you'd like**
A clear and concise guide to run this docker image (with all parameters documented).

**Describe alternatives you've considered**
Aski

[2018-12-05 23:06] bracintosh commented on #4622
@oriolgual That worked, thank you so much! :) Nonetheless, I'm having the same issue as in an older version of Decidim I have installed in another server: Initiatives can only be edited by admin users, if a normal user creates an initiative, he cannot edit it. It's that an intended behavior?

[2018-12-06 08:43] #2976 closed

[2018-12-07 08:47] oriolgual commented on #4622
I'm not sure about that, @decidim/product can you answer this please?

[2018-12-07 08:51] oriolgual commented on #4221
Twitter changed their policies on applications, if this happens you need to review your twitter application and make sure the callback url is correct:

`https://YOUR_HOST/users/auth/twitter/callback`

[2018-12-07 08:51] #4221 closed

[2018-12-07 08:58] oriolgual commented on #4171
This is something specific to decidim-barcelona, not decidim.

[2018-12-07 08:58] #4171 closed

[2018-12-07 09:02] oriolgual commented on #4247
I haven't been able to reproduce this with master, I guess we fixed it?

[2018-12-07 09:02] #4247 closed

[2018-12-07 09:08] oriolgual commented on #4172
This can be solved by activating the `votes hidden` option at the admin panel.

[2018-12-07 09:08] #4172 closed

[2018-12-07 10:30] oriolgual commented on #4147
This was caused by bad data (component missing its space).

[2018-12-07 10:30] #4147 closed

[2018-12-07 10:33] #4216 closed

[2018-12-07 10:41] #4175 closed

[2018-12-07 10:48] #4156 closed

[2018-12-07 10:55] mrcasals opened #4640 "We might be sending notifications to the wrong users"
**Describe the bug**
After #4282, authors are a polymorphic resource. Now take this piece of code from current `master`:

https://github.com/decidim/decidim/blob/85ab1857357be1d069a2aa5c5b42f582d86127f4/decidim-proposals/app/commands/decidim/proposals/admin/update_proposal_category.rb#L57-L64

The `recipient_ids` gets a list of author IDs and sends the notification to those users, but it assumes t

[2018-12-07 11:36] mrcasals commented on #4118
This happens when a long word overflows the box. In the screenshot, the email overflows it.

@Crashillo can you check this please?

[2018-12-07 11:38] mrcasals commented on #4117
No longer valid, since the invitation system was removed.

[2018-12-07 11:38] #4117 closed

[2018-12-07 11:43] mrcasals commented on #4114
No longer reproducible on master.

[2018-12-07 11:43] #4114 closed

[2018-12-07 11:49] mrcasals commented on #4005
@decidim/product can you check this please?

[2018-12-07 11:57] mrcasals commented on #4583
Sorry for the delay @Hilfe! Yes, this seems to be caused by inconsistent data in your DB. We've just merged #4641 to avoid this problem in the future.

In your case, the problem comes from a proposal that cannot find its own organization. This might happen because the component is not present, or because the participatory space of the component is not present.

[2018-12-07 13:13] Hilfe commented on #4583
Thanks @mrcasals! Im gonna try to fix bad data and upgrade.

[2018-12-07 13:15] #4146 closed

[2018-12-07 13:35] #4607 closed

[2018-12-07 13:50] mrcasals commented on #4035
@decidim/lot-mods this is solved, right?

[2018-12-07 14:48] #3900 closed

[2018-12-07 15:37] arnaumonty opened #4644 "EPIC: Signature process of an initative"
# This is an EPIC to improve the signature process of an initiative
## Summary
The process to sign an initiative need to be enhanced by adding new steps in the signature process in order to improve the system, improve its abstraction and providing more security.

## EPIC motivation
To enhance the security process and adapting the requirements coming from the city of Barcelona we propose a set of d

[2018-12-07 17:47] tramuntanal commented on #4035
I gues yess, can you confirm @ailopezglez ?

[2018-12-07 17:54] tramuntanal commented on #4640
I'd bet for option 2, send object id and type, but then we can not ignore whatever is not a User because when the recipient is an Organization it means that we're in front of an official resource. And the event may need response from Admis, so they must be notified.

Also it would be great to log all unknown entities for better debugging problems in production environments.

[2018-12-10 07:49] mrcasals commented on #4035
@tramuntanal I think the mention is wrong, maybe you wanted to ping @aitorlb ?

[2018-12-10 08:13] aitorlb commented on #4035
Right now, amendments can only be created/withdraw/accepted/rejected from the public view.

Any user can create amendments and can choose to author it as: a **user** or as a **user group**.

The users that can accept/reject amendments are: the **proposal's creator author** and an **organization admin**.

If what is desired is to be able to create amendments as an organization, that is not currentl

[2018-12-10 08:31] aitorlb commented on #4490
@decidim/product this issue cannot be addressed until we have more information about it. We have not been able to reproduce the problem.

[2018-12-10 11:42] tramuntanal commented on #4035
Yes @mrcasals I was mentioning @aitorlb , thanks!

[2018-12-10 21:06] arnaumonty commented on #2270
This issue has been solved with #4122 and Managed Users.

[2018-12-10 21:06] #2270 closed

[2018-12-11 09:47] arnaumonty commented on #4005
Hi @juliesimon and @mrcasals we have been discussing and we agreed that this is not a bug. In order to have more coherence, the action in M-card shouldn't be shown when the action is disabled (in case of endorse and supports).

[2018-12-11 09:47] #4005 closed

[2018-12-11 09:49] oriolgual commented on #4583
[code]

I've created this script to clean the database, in case you need it @Hilfe.

I'll close this since since we got #4641 merged.

[2018-12-11 09:49] #4583 closed

[2018-12-11 11:59] #3540 closed

[2018-12-11 13:41] entantoencuanto opened #4647 "Add a reference code to initiatives"
This issue is part of the EPIC: Signature process of an initiative #4644

* [ ] Generate and display a reference code of initiatives for users in the same way as proposals. Example: example: BCN-INIT-2018-11-13554
* [ ] Display id column in admin list of initiatives.

[2018-12-11 13:59] entantoencuanto opened #4648 "Add minimum committee members setting to initiatives"
This issue is part of the EPIC: Signature process of an initiative #4644

* [ ] Add a setting to initiative types with minimum committee members required to allow the initiative to be sent to technical validation prior to publication (0 ~= blank is allowed)

[2018-12-11 14:09] entantoencuanto opened #4649 "Add type of authorization required to sign an initiative setting to initiative types"
**EDIT**: To be done after https://github.com/decidim/decidim/issues/4677

This issue is part of the EPIC: Signature process of an initiative #4644

- [x] Configure type of authorization required to sign an initiative, based on the available authorizations for the organization the initiative belongs to.
- [x] The users with the corresponding authorization should be able to sign initiatives, otherw

[2018-12-11 14:18] entantoencuanto opened #4650 "Add setting to enable digital signatures in initiative type"
This issue is part of the EPIC: Signature process of an initiative #4644

* [ ] Add initiative type configuration flag to enable digital signature.

When disabled, as a user the mechanism of signing an initiative should be as it is now?

cc/ @decidim/product

[2018-12-11 14:29] entantoencuanto opened #4652 "Add setting to initiative types with list of extra user fields to be collected in signature"
This issue is part of the EPIC: Signature process of an initiative #4644

* [x] For each type of initiative in admin include a list to set which extra user attributes has to be collected signing an initiative:
  * Name and surname,
  * DNI / NIE / Passport
  * Date of birth
  * Postal code.
* [x] Also add an optional text box with legal information to be displayed in the extra user attributes form

[2018-12-11 14:51] entantoencuanto opened #4653 "Implement signature data storage"
This issue is part of the EPIC: Signature process of an initiative #4644

* [ ] Save personal data configured in admin panel for initiative types in a field with an extra security layer and a timestamp of signature provided by a third for each signature.
* [ ] log signature creation excluding personal information and user who did it.

Is there more information about timestamp provided by a third t

[2018-12-11 14:54] entantoencuanto opened #4654 "Add an initiative type setting to enable SMS verification step"
This issue is part of the EPIC: Signature process of an initiative #4644

* [ ] Add an initiative type setting to enable SMS verification step.
* [ ] Include this step depending on configuration to users signature flow once previous steps passed

[2018-12-11 15:03] entantoencuanto opened #4655 "Generate downloadable data of signatures"
This issue is part of the EPIC: Signature process of an initiative #4644

Add actions to admin panel to:
* [x] Generate and download logs of signatures.
* [x] Generate and download lists of signatures in PDF format (take a look at decidim_conferences for this) with:
  * Identifier of the initiative
  * Title of the Initiative
  * Date of start and date of the end
  * Number of Initiatives
  * List

[2018-12-11 15:06] entantoencuanto opened #4656 "Document number verifications in initiatives signature"
This issue is part of the EPIC: Signature process of an initiative #4644

Add these steps to vote creation (sign):

* [x] Check that provided document number matches with the hash stored in the authorization process.
* [x] After that check that the document number hasn't been already used to sign the initiative, a checksum with Document number and initiative should be enough.

[2018-12-11 15:08] entantoencuanto opened #4657 "Sign initiative user flow in front."
This issue is part of the EPIC: Signature process of an initiative #4644

* [x] Enable/disable steps and change forms depending on configuration for initiative type in admin panel.

[2018-12-11 15:09] entantoencuanto opened #4658 "Sign initiative user flow in front"
This issue is part of the EPIC: Signature process of an initiative #4644

* [ ] Enable/disable steps and change forms depending on configuration for initiative type in admin panel.

[2018-12-11 15:10] #4658 closed

[2018-12-11 15:11] entantoencuanto commented on #4658
Duplicated issue

[2018-12-11 15:20] arnaumonty commented on #4649
Hi @entantoencuanto, just two imports to clarify:
- There are different authorization systems in Decidim. In Decidim.Barcelona we are using the authorization with Barcelona Census (provinding the following information: DNI, postal code and date of birth. There are other systems to authorize in Decidim: Identity document, SMS or Code by postal letter. The first task is that you can assign different

[2018-12-11 16:04] arnaumonty commented on #4652
@entantoencuanto

Yes, because when we sign we have to provide the DNI in order to be saved on the list of signatures. And in the case of Barcelona we just ask for DNI to check with Barcelona census, but we just save a hashed version of DNI and not the DNI number.

We add all the fields and all of them should be mandatory.

- [ ] Attending that we are on decidim repository and maybe other instance

[2018-12-11 16:16] arnaumonty commented on #4653
Hi @entantoencuanto !

We are evaluating different options of timestamp services provided by catalan governemnt or spanish government. We'll try you give you all the documentation ASAP.

Actually, in the case of initiatives, we don't want anonymous votes because we want to know the list of people who are signing an initiative, in order to check it after if its necessary. But the identity of a pers

[2018-12-12 07:35] ahukkanen opened #4660 "Content localization issues for non-signed in users"
**Describe the bug**
Currently if you switch to a Decidim instance any other language than the default locale and click some of the URLs in Decidim's cells, the "locale=xx" is not being passed to the new URL. There are also some
other localization issues related to non-signed in users which apply for other locales than the default locale:

- [ ] Links in cells mess up do not carry the locale in th

[2018-12-12 07:52] mrcasals commented on #4660
Argh, nice catch and very thorough report @ahukkanen, thanks for your work!

[2018-12-12 09:16] ahukkanen commented on #4660
This seems to also apply to the paths generated by this method:
https://github.com/decidim/decidim/blob/35642a52c7f9464166f38b65c3dc7a15f4dcd1a9/decidim-core/app/cells/decidim/card_m_cell.rb#L21-L23

[2018-12-12 09:42] josanFFiG commented on #4490
@aitorlb We have more information about:
Instead of "invitations" it should be written "inscriptions".

[2018-12-12 10:07] ahukkanen commented on #4660
Yet another place where it's not working correctly always even with the proposed fixes:
https://github.com/decidim/decidim/blob/d3ec8cba75df5f9ff75624ff26eb4b9310c733e3/decidim-participatory_processes/app/views/decidim/participatory_processes/participatory_processes/show.html.erb#L37

Some of the blocks rendered there add the "?locale=xx" to the URL and some do not.

[2018-12-12 10:23] Hilfe commented on #4583
Thanks!! @oriolgual and @mrcasals for your replies. Yesterday, while you were responding i was working on the db to fix it. I had to create a new no public participatory proccess and change  all the components referents to the process deleted to the new no public process. I couldn't delete the components because there were related proposals. Delete process... no more!

[2018-12-12 10:59] ahukkanen commented on #4660
Another place can be found from the Comments React component:
https://github.com/decidim/decidim/blob/91e0a841cdafc5bd593593a308f0b46693e91619/decidim-comments/app/frontend/comments/add_comment_form.component.tsx#L113-L114

Not particularly related to the cells but generally to this issue.

[2018-12-12 11:53] ahukkanen commented on #4660
Few more URLs that don't carry the "locale":
https://github.com/decidim/decidim/blob/362876e80c023518a3a232c7521be02407911467/decidim-core/app/helpers/decidim/cta_button_helper.rb#L17
https://github.com/decidim/decidim/blob/a58eb460b868166d515ef313c6f8bc3168ab353e/decidim-core/app/cells/decidim/content_blocks/highlighted_content_banner/show.erb#L14

[2018-12-12 12:33] ahukkanen commented on #4660
For fixing reference, this has been monkey patched to the Helsinki instance with these two commits:
https://github.com/City-of-Helsinki/decidim-helsinki/commit/225a4d34fb210de073d0bb1eb64095b15068ad3f
https://github.com/City-of-Helsinki/decidim-helsinki/commit/6d28e6c0dfcc2e064c68ee8d7b7d484232f0cbeb

[2018-12-12 13:13] mrcasals commented on #4439
PR #4621 (merged!) implements the interests part, as described in https://github.com/decidim/decidim/issues/4439#issuecomment-444401669:

[2018-12-12 13:23] mrcasals commented on #4439
As discussed offline with @carolromero, instead of moving all notifications to events we'll let users determine what kind of notifications they want to receive:

- All notifications
- Notifications of activity that affects me directly

This will be configurable from the account settings page.

[2018-12-12 13:40] arnaumonty opened #4661 "EPIC: New Iteration on administration of Initiatives"
# This is an EPIC to improve aspects in the administration of the initiatives.

## Summary
The process to administrate the initiatives need to be enhanced by improving the experience on their administration.

## EPIC motivation
To enhance the usability on the administration panel in initatives section.

## As an administrator in the Admin Panel I want to:

### Initiatives list page
- [ ] give an a

[2018-12-12 13:41] Crashillo commented on #4118
I'm checking [here](https://meta.decidim.org/processes/welcome/f/168/meetings/1048), appending text to the sidebar and it seems it was already fixed.

Anyway, would it be possible when people report bugs to include the url the error was found? As the same as they provide screenshots.

[2018-12-12 13:43] arnaumonty opened #4662 "EPIC: New Iteration of PX on initiatives"
# This is an EPIC to improve the Participant Experience on initiatives.

## Summary
In order to enhance the participant experience on initiatives, we propose a set of measures to apply in different pages of initiatives

## EPIC motivation
Facilitate the usability by the end user on initiatives and standardise the design with the other parts of the platform.

## Sections

### Initiative List Page (

[2018-12-12 14:39] mrcasals commented on #4118
@Crashillo the reported issue was caused because someone added an email address in that field, which caused the layout to break. If you think this is not a bug, then we can close it.

[2018-12-12 14:54] amiedes commented on #4650
Hi @arnaumonty!

Do you mean that we have to move the setting from the initiative to the initiative type or that we keep it in both places and adjust the signature types shown in the initiative form depending on if the corresponding initiative type allows digital signatures?

[2018-12-12 15:54] Crashillo commented on #4118
At the end, I was hooked on this. Take a look at #4664.

By the way, I noticed both integrated and design markups are slightly different. Mostly, missing classes. You may check out the code at https://decidim-design.herokuapp.com/public/meetings/meeting-view

[2018-12-12 17:03] arnaumonty commented on #4650
Hi @amiedes,

We should keep in both places because we (as an admins) have to be able to decide if we allow or not digital signatures. In case if we allow it the final user has to dicide if wants digital/physical/mixed signatures. In case we don't allow it we can't choose, we just allow physical. Let me know if you need any other clarification.

[2018-12-12 23:47] arnaumonty commented on #4650
Good question @amiedes. I would say yes because it shouldn't affect the initiatives submitted because they have chosen a way to collect the signatures. And the use case that we have in Barcelona is that for example, we gonna have an initiative type just with physical signatures but maybe in the future, we will open to digital too, and we have to be allowed to do it.

This is a bit different case,

[2018-12-13 09:07] tramuntanal commented on #4551
I think that the work on statistics and the work on data vizz should be coordinated. Who's responsible of statistics refactoring?

[2018-12-13 09:09] tramuntanal commented on #4244
No @isaacmg410 it has still to be fixed. I've changed assignee.

[2018-12-13 09:15] #4115 closed

[2018-12-13 09:30] carolromero commented on #3852
Hi @aitorlb I'm testing this right now, I'll let you know in a moment.

[2018-12-13 09:36] #4118 closed

[2018-12-13 09:45] carolromero commented on #3852
@aitorlb I just created a new private assembly and its child, and it's working fine. I added you as a private user. You'll see the assembly "Test private parent assembly".
So we have the problem with previous assemblies. And it's a problem because our general assembly has a lot of content and we can't delete and recreate everything all over again.

[2018-12-13 09:48] carolromero commented on #4490
@aitorlb yes, we are talking about Registrations.

[2018-12-13 09:52] aitorlb commented on #3852
Thanks very much @carolromero , that's what I was expecting.
@decidim/lot-core could you send me the DAM to take a look?

[2018-12-13 10:11] carolromero commented on #4551
@tramuntanal I guess refactor of statistics is a task for @decidim/lot-core.

[2018-12-13 13:03] mrcasals commented on #4407
@Xfolchf why was this reopened?

[2018-12-13 17:16] Xfolchf commented on #4407
@mrcasals because is not solved? the last input was that you need more inforation

[2018-12-13 17:44] mrcasals commented on #4407
But we still don't have any new information about this, right? So we can't reproduce it...

[2018-12-13 19:48] marienfressinaud opened #4667 "Cannot db:seed when changing default locale (Faker issue)"
## Steps to reproduce

- initialize a development_app (actually with Docker but my guess it happens without too)
- change the default locale to `:fr` in `config/initializers/decidim.rb`

[code]

- setup or reset the DB

## What is expected

Seeds finished successfully and DB is populated.

## What happened

[code]

~My guess is that Faker hasn't enough `country_code` in French locale since Decidim

[2018-12-14 10:59] amiedes commented on #4648
I have a couple of questions about this issue:

- Now the minimum number of committee members before sending to validation is only enforced for regular users. Admins and user groups can bypass it. Is this on purpose or should I enforce it for all of them?
- There's also a global setting for the committee size: `Decidim::Initiatives.minimum_committee_members`. We can remove it or use it as a fallba

[2018-12-14 12:34] Xfolchf opened #4669 "When I login to the Meeting Detail, it redirects me to the map"
**Describe the bug**
1. I enter into the detail of a meeting, without being logged in as a User for example in "https://meta.decidim.org/assemblies/eix-lab/f/130/meetings/1159"

2. In the top bar, click "Enter"

3. I login with my user.

4. I'm redirected to the page with the meeting map. ("Https://meta.decidim.org/static_map?sgid=BAh7CEkiCGdpZAY6BkVUSSI2Z2lkOi8vbWV0YWRlY2lkaW0vRGVjaWRpbTo6TWVldGl

[2018-12-14 12:36] Xfolchf opened #4670 "There is no functionality for Search admin users in the admin part"
**Describe the bug**
As an admin user, I would like to have the administrator user search on the / admin / users page as it applies to User groups, Offices, etc.

When a platform has many admin users, it is very difficult to find the user in particular.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13419

**Extra data (please complete the following information):**
 - Device: [e.g.

[2018-12-14 12:38] Xfolchf opened #4671 "Attributing Parent Assembly make child assembly disappear from admin page"
**Describe the bug**
- Go to an assembly page
- Attribute a Parent Assembly to this assembly
- Save
- Go back to assembly admin page : child assembly disapear from list and can be edited through the visual interface

[the child assembly still exists and can be found manually through something like adding ".../assembly-identifier/edit" at the end of your url]

https://meta.decidim.org/processes/bug

[2018-12-14 12:40] Xfolchf opened #4672 "The body of the proposal is not rendered correctly"
**Describe the bug**
Quan introdueixes un enllaç (sense espais) en el contingut d'una proposta, aquest no es "talla" i passa per sobre del sidebar de la proposta. Veure imatge adjunt.

https://meta.decidim.org/static_map?sgid=BAh7CEkiCGdpZAY6BkVUSSI2Z2lkOi8vbWV0YWRlY2lkaW0vRGVjaWRbTo6TWVldGluZ3M6Ok1lZXRbmcvMTE1OQY7AFRJIgxwdXJwb3NlBjsAVEkiDGRlZmF1bHQGOwBUSSIPZXhwaXJlc19hdAY7AFRJIh0yMDE5LTAxLTEwVDE2

[2018-12-14 13:10] mrcasals commented on #4671
@decidim/lot-mods can you check this please?

[2018-12-14 13:11] mrcasals commented on #4672
@Crashillo this seems to be the same bug you fixed some days ago, but in another section. Can you check it please?

[2018-12-14 13:22] entantoencuanto commented on #4656
Hi, @decidim/product!

I have a doubt with this. If the organization doesn't have enabled the census verification, but the personal data user extra fields collection is enabled for the initiative, do we have a mechanism to match provided document with a hash in the database other than the census verification?

In case not, we should allow users signatures?

[2018-12-14 20:57] bracintosh commented on #4622
@mrcasals Could you help, please? This issue is driving me mad, I can't find a workaround :(

[2018-12-17 08:42] oriolgual commented on #4670
This is not a bug but a feature request.

[2018-12-17 11:51] #4672 closed

[2018-12-17 14:58] arnaumonty commented on #4656
Hi @entantoencuanto

I'd said no but maybe @andreslucena or @oriolgual can confirm it. Maybe it should work with ID verification too but I'm not sure if we keep the hash in the same way as census verification.

In Epic #4644 is defined, in "As an administrator I want to":

- [ ]  For each type of initiative the extra fields to fill in when the user sign, have to be enabled or disabled from the adm

[2018-12-17 14:59] furilo opened #4674 "Improve initiative list page"
From https://github.com/decidim/decidim/issues/4662

- [ ] Improve the design of this page with an Image and an information text about what the initiatives are.
- [ ] Apply the design of M-cards of proposals to Initiatives.

[2018-12-17 15:06] arnaumonty commented on #4648
Hi @amiedes

In the case of Barcelona the initial condition to present an initiative is to be a verified user group or a committee with three members. I didn't know about the admin exception. But yes this is on purpose. Maybe the expected behaviour is to have a flag to allow /or not user groups, but this is not necessary at this stage.

[2018-12-17 15:11] furilo commented on #4674
For the design of the Initiatives page we could go with a scheme as in processes - https://meta.decidim.org/processes?locale=es

- intro help box
- featured initiatives
- list of initiatives (with the new filter, showing by default active ones, etc)

In principle, I don't see any special reason to design anything specific. Thoughts @arnaumonty @decidim/product ?

[2018-12-17 15:20] mrcasals commented on #4667
Maybe we should force the locale to English for seed data? What do you think, @marienfressinaud?

[2018-12-17 15:23] furilo opened #4675 "Initiative page / Update action buttons and UX"
From #4662

- [ ] After to sign, the red button should show "Already signed" and not "sign". Review the UX of this action.
- [ ] Apply the same design as the proposals in all action buttons: Sign (Using the same design as Suports), Endorse, Comment, Follow (ie. https://meta.decidim.org/processes/welcome/f/170/proposals/12190)

[2018-12-17 15:27] furilo opened #4676 "Initiatives / Improve"
From #4662

- [ ] Rethink and redesign the section that we have in the top header at the right side. One option is to show the period when the signatures are open and do not show anything when the initiative it can't be signed.

[2018-12-17 15:31] furilo commented on #4676
@arnaumonty @decidim/product by this we are referring to the top part of the sidebar, right?

[2018-12-17 16:04] arnaumonty commented on #4648
@amiedes

It seems good to me to use it as a fallback.

No, it shouldn't be shown in the wizard

[2018-12-17 16:08] arnaumonty commented on #4674
We can't use featured initiatives because we have to show all the active initiatives at the same level. Maybe we should show it in a random order. We have another solution which is to have the same design as we have now but adding the M-card type with the image.

CC @furilo @decidim/product

[2018-12-17 16:10] arnaumonty commented on #4676
@furilo, no. Is referred to the header of the initiative.

[2018-12-17 18:16] amiedes opened #4677 "Support requiring multiple authorizations for voting/endorsing items"
This issue is part of the EPIC: Signature process of an initiative #4644

Pending investigation:

* Check how the proposal-auth method is stored now in DB
* Check how the "Authorization required" popup knows that the missing permission is due to a missing authorization

Related PRs:

* https://github.com/decidim/decidim/pull/3804

[2018-12-17 18:23] marienfressinaud commented on #4667
I'm OK with that solution, but I don't know why localization was introduced in seeds in first place so maybe it isn't a good solution for everyone

[2018-12-18 09:39] furilo commented on #4674
OK. So just a random list of initiatives in M-Cards, right?

[2018-12-18 09:43] furilo commented on #4676
Sorry @arnaumonty - This would be the current design of an initiative:

![image](https://user-images.githubusercontent.com/24740/50145304-909a2980-02b1-11e9-973c-a886a93fe474.png). Are we talking about the steps box? Call me if you want ;)

[2018-12-18 09:43] mrcasals commented on #4674
Just in case: initiatives already have a designed M-Card:

![](https://i.imgur.com/UibX8Av.png)
(https://decidim-design.herokuapp.com/public/library/pattern-library#patternCardsM)

I'm not sure if this is about improving it or what, but just in case! 😄

[2018-12-18 12:17] aitorlb commented on #3852
@decidim/product @decidim/lot-core can we have a dump of the DB so we can better debug?

[2018-12-18 15:18] oriolgual commented on #3852
@aitorlb can you contact me privately?

[2018-12-19 09:57] amiedes commented on #4677
Hi, @arnaumonty. Related to [your comment](https://github.com/decidim/decidim/issues/4649#issuecomment-446240187) in #4649 I have a few questions.

Regarding the form to edit the required verifications for a component or resource, apart from being able to select many of them we have to take into account that a verification system may define custom required parameters (like the required postal code

[2018-12-19 12:18] arnaumonty commented on #4677
Hi @amiedes,

We have identified the first complexity here. In this case, we are configuring the authorization for the initiative types and we can have different scopes for each type of initiative. This means that If we have for example a type of initiative for a determined scope (for example District A), we should have the limitation of the authorization to District A. In case of decidim.barcelon

[2018-12-19 12:20] arnaumonty commented on #4676
Yes. We don't have steps in initiatives

[2018-12-19 12:30] arnaumonty commented on #4674
Thanks @mrcasals . I was proposing to add images to the initiative M-card in the same way as [proposals](url
![image](https://user-images.githubusercontent.com/3855859/50220277-345b0680-0392-11e9-8a81-9de2be444531.png)
):
![screenshot from 2018-12-19 13-29-21](https://user-images.githubusercontent.com/3855859/50220286-38872400-0392-11e9-8e8c-61496dd36a8b.png)

[2018-12-19 12:32] arnaumonty commented on #4644
Hi @amiedes @furilo @entantoencuanto
Here we have the documentation to integrate the timestamp:
[https://github.com/ConsorciAOC/Applet-de-signatura ]([](https://github.com/ConsorciAOC/Applet-de-signatura) )

[2018-12-19 13:25] oriolgual opened #4684 "Collaborative Drafts fail when reported"
**Describe the bug**

When a collaborative draft is reported the mail job fails.

**To Reproduce**

Report a collaborative draft as spam.

**Expected behavior**

The admins should receive an email when a collaborative draft is reported.

**Stacktrace**

https://sentry.io/share/issue/40d9bfab8eb0405183f18db501c415e0/

**Additional context**

It seems that collaborative drafts haven't implemented th

[2018-12-19 14:15] Crashillo opened #4685 "Order-by widget misplaced in comments section"
**Describe the bug**
Comment heading and order by component are pulled too close.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.decidim.codegram.com/processes/at-in/f/12/proposals/10
2. Scroll down to Comments

**Expected behavior**
A gap between them.

**Screenshots**
![imagen](https://user-images.githubusercontent.com/817526/50225310-7428ea80-03a0-11e9-9cb9-eefad858b

[2018-12-20 00:38] apardo opened #4689 "I can't seed the database, Faker problem"
I can't seed the database in production environment, Faker error:

$ echo $RAILS_ENV
production

$ grep faker Gemfile
gem "faker", "~> 1.9"

$ bin/rails db:seed
Creating seeds for the participatory_processes space...
rails aborted!
NameError: uninitialized constant Decidim::Faker
/home/ubuntu/decidim_application/db/seeds.rb:9:in <main>
bin/rails:4:in <main>
Tasks: TOP => db:seed
(See full trace by

[2018-12-20 07:36] furilo commented on #4676
We should just ommit that box completely? I think the design stands well without it.

[2018-12-20 07:40] furilo commented on #4674
OK, so to wrap up:

- for the intro: new help box, or hero like in the homepage?
- list: m-cards with images, new filter; random order for the active ones

[2018-12-20 10:23] Xfolchf opened #4691 "Error showing meetings that takes place during more than a day"
**Describe the bug**
Meetings during more than a day are shown as past events the day just the day after the starting date.
If a meeting is taking place on from desember 18th and ending january 16th, this event will be shown as past on desember 19th and so on...

https://meta.decidim.org/processes/bug-report/f/210/proposals/13430

**Screenshots**
If applicable, add screenshots to help explain your

[2018-12-20 10:26] Xfolchf opened #4692 "Multiple authorship is lost when collaborative draft is published"
**Describe the bug**
1. When a collaborative draft is published it only maintains the first authors, the rest are lost. 2. I expect all co-authors of the draft to appear in the author-list of the draft, it otherwise makes no sense to write it collaboratively. 3. I found this bug here at meta.decidim. you can see it here:

COLLABORATIVE DRAFT: https://meta.decidim.org/processes/decidim-gov/f/961/co

[2018-12-20 10:42] mrcasals commented on #4692
@decidim/lot-mods can you check this please?

[2018-12-20 11:39] andreslucena opened #4693 "EPIC: Improve Multitenant"
This is an EPIC to improve some Multitenant features.

## Summary
In order to enhance the organization (tenant) experience, we propose a set of measures to apply

## EPIC motivation
Facilitate the adaptation of any tenant with some basic features: styling, emails, texts, verification by CSV.

## Issues

- [ ] [CSV census for verifications](https://github.com/decidim/decidim/issues/4694)
- [ ] [Dif

[2018-12-20 11:41] andreslucena opened #4694 "CSV census for verifications"
This issue is part of the EPIC: Improve Multitenant #4693

In the case of Decidim Barcelona Organizations, in order to give a solution to organizations that already have another external census system, it is necessary to import a file in CSV format with a list of emails of the members of said organization.

[Discussion on MetaDecidim](https://meta.decidim.org/processes/roadmap/f/122/proposals/1342

[2018-12-20 11:42] andreslucena opened #4695 "Different SMTP server for every tenant"
This issue is part of the EPIC: Improve Multitenant #4693

A need that each organization that uses an instance within Decidim has is that it can not configure a different email sending address for each instance. It is necessary that the SMTP access data can be defined differently by each instance, either through code, or through the instance administration panel (/admin) or in the system administr

[2018-12-20 11:43] andreslucena opened #4696 "Adapt image (CSS) for every tenant"
This issue is part of the EPIC: Improve Multitenant #4693

In order to adapt the image of each organization it is necessary to be able to configure the different SCSS color variables that are defined in the app/assets/stylesheets/decidim.scss file:

// // Variables
//
// $primary: #ef604d;
// $secondary: #599aa6;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;

These variables shou

[2018-12-20 11:44] andreslucena opened #4697 "Different terminology by tenant"
This issue is part of the EPIC: Improve Multitenant #4693

Each organization has different terminology for communication with its users (for example: citizens, associates, affiliates, sympathizers, vote, support).

So that this adaptation is not too costly economically will be made through YAML files defined by each instance through the i18n API of Ruby on Rails, and improve project documentation

[2018-12-20 11:47] mrcasals commented on #4696
I don't think this can be done on assets precompilation time. You'll need to use CSS custom properties and set them from the layout.

See #1558, #1779

[2018-12-20 11:54] mrcasals commented on #4697
You'll need to manually replace the whole strings, and you'll need to identify what keys you need to overwrite. For example, if you want to replace "asambleas" (Spanish word, with a feminine gender) to "órganos" (masculine gender) you need to adapt the whole sentence so that genders match.

Example, a this key:

[code]

A naive approach would be doing something like this:

[code]

And call it like

[2018-12-20 11:57] aitorlb commented on #4692
I've checked in master and the proposal that is the result of a collaborative draft has all contributors (accepted users that requested acces to edit) as coauthorships.

**Collaborative draft with one contributor**
![col_authors](https://user-images.githubusercontent.com/40306853/50283230-844ed180-0455-11e9-97bc-991275c40538.png)

**After the contributor edits, the version authors counter augments

[2018-12-20 12:11] aitorlb commented on #4692
Another issue is that a contributor has the same rights as the collaborative draft creator_author: he/she can **publish** the collaborative draft whenever they want (it could be too early) and **accept/reject** access requests from other users.
I think it should be changed so that contributors have only the right to edit and nothing more. What do you think @decidim/product ?

[2018-12-20 12:19] aitorlb commented on #4692
@decidim/product @carolromero I'm assuming the coauthorships that are shown have been created by accepting edit access request, no?

[2018-12-20 12:53] tramuntanal commented on #4694
@andreslucena has somebody assigned the "Improve Multitenant" EPIC? We have a module doing more or less this.. we can integrate it into Decidim

[2018-12-20 13:32] mijailr commented on #4694
Hi @tramuntanal i'm working in this feature, i will check your implementation. Any help is welcome.

[2018-12-20 13:34] tramuntanal commented on #4684
We'll work on this next year :tada:

[2018-12-20 13:37] tramuntanal commented on #4694
@mijailr this is the module: https://github.com/CodiTramuntana/decidim-verifications-csv_emails

[2018-12-20 15:42] tramuntanal opened #4707 "Avoid failing redirects in omniauth strategies"
**Describe the bug**
When an omniauth strategy, after a failure, redirects to any action in `OmniauthRegistrationsController` `CurrentOrganization` middleware is bypassed and the `NeedsOrganization` module prevents access to the redirected  `OmniauthRegistrationsController#****` action.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a strategy configured
1. Make it fail (for example, i

[2018-12-20 15:45] #4691 closed

[2018-12-21 13:57] Xfolchf opened #4710 "Avatar doesn't get changed"
**Describe the bug**
Avatar doesn't get changed when added a new one in the user profile. I tried to delete it first then upload a new image, but it is shown always the old one.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13432

[2018-12-21 13:59] Xfolchf opened #4711 "Error on languages duplicating a meeting"
**Describe the bug**
When duplicating a meeting: title and description (in the rest of the fields yes), texts doesn't maintained in the different languages ​​enabled on the platform; that is, at least in the view of the administration board, in all languages ​​are displayed in the same language as the one you use to navigate the platform.
Let's say I'm using the platform in "Catalan":
1. I create

[2018-12-21 14:01] Xfolchf opened #4713 "Anchor links to comments don't work"
**Describe the bug**
When I receive a notification from Decidim about a comment, the link provided in the email notification takes me at the top of the page which makes it super hard to find which was the comment I received a notification about.

Would be better if the page loaded at the level of page where the comment is located.

https://meta.decidim.org/processes/bug-report/f/210/proposals/1342

[2018-12-21 14:03] Xfolchf opened #4714 "As a registred user I can answer a survey with verification"
**Describe the bug**
When I configure the survey with verification, I expect that only verificatied usuers (also by type of verifier) can answer.

Now, all registred users can answers although survey is restricted. With that, we can not secure survey with verifiers.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13425

**Extra data (please complete the following information):**
 -

[2018-12-22 17:12] ahukkanen commented on #4660
Found another one for the force authenticated routes, e.g.
https://github.com/decidim/decidim/blob/151c5422cef036c7546d7232b88f4943a65bcf89/decidim-proposals/app/controllers/decidim/proposals/proposals_controller.rb#L18

This goes to Devise at:
https://github.com/plataformatec/devise/blob/40f02ae69baf7e9b0449aaab2aba0d0e166f77a3/lib/devise/failure_app.rb#L153

Which is basically calling `decidim.n

[2018-12-22 19:21] ahukkanen commented on #4660
The same applies for the error messages being generated by the Devise failure app:
https://github.com/plataformatec/devise/blob/40f02ae69baf7e9b0449aaab2aba0d0e166f77a3/lib/devise/failure_app.rb#L85

When that is called, the `Decidim::LocaleSwitcher` has not had a chance to do anything since it's run `around_action`:
https://github.com/decidim/decidim/blob/master/decidim-core/app/controllers/conce

[2018-12-23 10:11] ahukkanen commented on #4660
I changed the title since this is a bit wider problem than just content cells. I've also listed the found issues in the beginning of the issue.

[2018-12-23 23:30] arnaumonty commented on #4676
No, we should rethink it, attending that we don't have steps, but we have a piece of important information to highlight which is the state (If signatures are open or not).

[2018-12-26 03:01] #4296 closed

[2018-12-27 08:35] aitorlb commented on #4490
So, intead of _invites_, it should say _inscriptions_?

[2018-12-27 09:01] aitorlb commented on #3852
@oriolgual I'm having authentification issues while running the following:
`pg_restore -d db_name /path/to/your/file/dump_name -c -U db_user`

[2018-12-27 09:57] aitorlb commented on #4207
@decidim/product @Xfolchf This particular problem seems no longer an issue as children assemblies are accessible (but they dont display properly as described in #3852 -I'm working on it-). If so, could we close this issue?
The link of the screenshot works fine: https://meta.decidim.org/assemblies/eix-relat
Also, I've checked all these children links: https://meta.decidim.org/admin/assemblies?paren

[2018-12-27 10:31] aitorlb commented on #4131
@decidim/product @Xfolchf This particular problem seems no longer an issue as new children assemblies (which display properly) are accessible also from the parent assembly page. If so, could we close this issue?
You can check it with this private assembly that @carolromero made (you have to add yourself as a private user):
https://meta.decidim.org/assemblies/test-parent-assembly

[2018-12-27 10:46] aitorlb commented on #3852
@decidim/product @decidim/lot-core  Thanks to @oriolgual (for giving us access to the db dump) I've been able to pinpoint the problem:
- The `children_count` counter is negative for some (2) assemblies (one of them has children)
- This particular issue can be fixed right now by updating the values correctly through the console.

As for the future, apart from understand why is this happening, of co

[2018-12-28 08:34] aitorlb commented on #4692
@decidim/product @Xfolchf I realized this issue is fixed in decidim 0.16-stable https://github.com/decidim/decidim/pull/4605

[2019-01-01 17:35] #2292 closed

[2019-01-02 09:07] armandfardeau commented on #4689
May i suggest the following command :

` SEED=true bundle exec rake db:seed`

[2019-01-03 10:11] magwas opened #4724 "Cannot see proposals: NameError (undefined local variable or method current_component' for #<Decidim::Proposals::ProposalsController)"
**Describe the bug**
When I click on proposals for a process, an internal error occurs

**To Reproduce**
in a new installation
1 create a process
2 add proposals component
3 publish everything
4. go to the process
5.. goto proposals

**Expected behavior**
An empty list of proposals shown.

**Stacktrace**
Jan  3 11:07:03 elektori elovalasztas[31569]: [a40c3ae7-e2a3-46e1-aa6c-5caac3ff1259] Processin

[2019-01-04 10:53] mrcasals commented on #4711
@decidim/lot-mods is this part of your work? Can you check this please? 😄

[2019-01-04 10:58] mrcasals commented on #4660
Thanks for the write-up! That's really helpful! 😄

[2019-01-04 11:03] mrcasals commented on #4692
@ailopezglez closing, then!

[2019-01-04 11:03] #4692 closed

[2019-01-04 11:33] sicambria opened #4725 "Decidim installer script fail - unknown attribute 'nickname'"
**Describe the bug**
Decidim installer script fails: https://github.com/alabs/decidim-install

**To Reproduce**
Steps to reproduce the behavior:
1. Create fresh VM with Ubuntu 16.04 LTS
2. Execute commands found on https://github.com/alabs/decidim-install
$ wget http://get.decidim.org -O install_decidim.bash
$ bash install_decidim.bash

3. See error after 10-15 minutes later: ActiveModel::UnknownA

[2019-01-05 03:52] #1971 closed

[2019-01-05 14:11] #4400 closed

[2019-01-05 14:11] #4365 closed

[2019-01-06 06:18] #4378 closed

[2019-01-08 08:02] #4707 closed

[2019-01-08 08:06] #4684 closed

[2019-01-08 08:12] isaacmg410 commented on #4711
I wil check

[2019-01-08 10:13] microstudi commented on #2623
This issue should remain open, API is not full-featured yet!

[2019-01-08 17:20] ahukkanen opened #4740 "Notification emails are sent with wrong language in some occasions"
**Describe the bug**
The notification emails get sent in wrong language in some occasions.

This happens when two of the following conditions are met:

- The user which triggered the notification has a different locale in her current session than the message recipient
- The message recipient does not have the locale set for their account

In the latter case I think the preferred locale would be th

[2019-01-11 09:40] #3827 closed

[2019-01-11 10:23] leio10 opened #4748 "Collaborator role for a participatory process in admin zone "can't do anything""
**Describe the bug**
For a collaborator user of a participatory processes is hard to perform a modification. When accessing the admin zone, the list of participatory process doesn't offer anything to do.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a collaborator user for a participatory process
2. Login with that user
3. Go to admin zone

**Expected behavior**
Participatory process m

[2019-01-11 10:30] leio10 opened #4749 "Invalid options shown to participatory process collaborator users"
**Describe the bug**
For a collaborator user of a participatory processes, when accessing to the edit page throught the participatory front page, the admin main menu offers options that the user is not allowed to perform.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a collaborator user for a participatory process
2. Login with that user
3. Visit the participatory process page
4. Click

[2019-01-11 10:42] mrcasals commented on #4748
Yup, this was reported earlier in https://github.com/decidim/decidim/issues/2023#issuecomment-336370826 because I didn't understand what was the purpose of the "Collaborator" role. Unfortunately, this was left unattended.

/cc @decidim/product

[2019-01-11 14:06] jsperezg opened #4751 "Geocoding seems to be broken in Decidim 0.15.1"
**Describe the bug**
I've Decidim 0.15.1 with geocoding enabled. When I try to access a meeting the application hangs with the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Assemblies
2. Click on one assembly
3. Click on 'Meetings'
4. See error

**Expected behavior**
It should show the meetings

**Screenshots**
![image](https://user-images.githubusercontent.com/17019

[2019-01-11 15:02] arnaumonty commented on #4748
Hi guys! The main purpose of this role is to give permissions to admin panel to look into the unpublished contents in order to review it, but don't giving them the ability to edit it. It was designed for example to be used by politicians who doesn't manage the administration of Decidim but they have to validate contents. Probably is not the best way to proceed but we inherit this from the beginnin

[2019-01-11 15:13] entantoencuanto opened #4753 "Digital signature for PDF files"
This issue is part of the EPIC: Signature process of an initiative #4644

The PDF file containing signatures must include a digital signature with a certificate. The current gem used to generate PDF files (https://github.com/mileszs/wicked_pdf) doesn't have the functionality to include signatures.

There are some alternatives:

* To use the [signature applet](https://github.com/ConsorciAOC/Applet-

[2019-01-11 17:46] armandfardeau commented on #4725
Hi @sicambria,

I tried to reproduce your error, unfortunately I don't have any.
You can check this on this vagrant machine :

[code]

[2019-01-11 23:51] #3843 closed

[2019-01-11 23:51] #4047 closed

[2019-01-13 16:44] #4123 closed

[2019-01-14 09:32] carolromero opened #4754 "Statistics blocks number overlaps text underneath"
**Describe the bug**
Check screenshot from metadecidim.
Resolution tested is iPhone 6/7/8

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/51104828-86ebdf00-17e7-11e9-9d1c-89c122973806.png)

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/13500

[2019-01-14 09:38] carolromero opened #4755 "New participatory process doesn't appear in home page of participatory process"
**Describe the bug**
I create a new process. In the example, today January 9. I publish it and I consider it a current process since it indicates that it begins on January 9th and ends 19th. When I go to the home page of participatory process, this process is not shown. Only the processes created before are shown. This error happens at 0.15 and is repeated at 0.16.

**Screenshots**
![image](https:

[2019-01-14 09:41] carolromero opened #4756 "Missing some translations when someone I follow its officialitzation is updated"
**Describe the bug**
When I receive a notification in my email because one participant that I follow updating its officialitzation, there are some missing translations for Catalan and Spanish languages.
For example, this translation is missing: "ca.decidim.events.users.user_officialized.email_outro"

**Expected behavior**
I expected to see the translation correctly

**Screenshots**
If applicable,

[2019-01-14 10:11] carolromero opened #4757 "The activity stream and timelines do not display proposals"
**Describe the bug**
1. The activity stream (e.g. https://meta.decidim.org/last_activities) or the timelines (e.g. https://meta.decidim.org/profiles/xabier/timeline) do not display the proposals (and probably other contents), I can only see comments.
2. I expect all types of content to display both on the personal timelines and global activity streams.
3. I found this bug on meta.decidim v.0.16 an

[2019-01-14 10:17] carolromero commented on #4757
Also I'm not sure this is happening to everybody but there is some problem when accessing my activty tab: https://meta.decidim.org/profiles/carol/activity

[2019-01-14 12:56] tramuntanal opened #4760 "Change the title of a Participatory Text without uploading a file"
**Is your feature request related to a problem? Please describe.**
It is now not possible to change the title of a Participatory Text without uploading a new participatory text file.

Also the edition route for the Participatory Text metadata/file import is broken and should be enabled.

**Describe the solution you'd like**
It should be possible to update the meta information of a Participatory Te

[2019-01-14 13:22] #4650 closed

[2019-01-14 15:01] carolromero commented on #4515
Hi @furilo I see now that this was not finally implemented. Good and simple solution. Can we apply it? Thanks

[2019-01-14 15:53] carolromero opened #4764 "Participatory texts file format support in admin"
**Describe the bug**
 When loading the file it is not known which is the expected format for the import. There should be an example file linked in both Markdown and Open Office formats.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/51123703-e6b0ad00-181c-11e9-97f8-da684e4852f1.png)

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/

[2019-01-14 15:56] carolromero opened #4765 "Participatory texts - error uploading UTF-8 files"
**Describe the bug**
I get an error when I try to upload a file that has UTF-8 characters (accents, etc.).

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/13767

[2019-01-14 16:00] carolromero opened #4766 "Loose restrictions on creating / editing proposals from admin"
**Describe the bug**
There are too many restrictions on editing proposals when uploading them as participatory texts.
For example:
- The title of the proposal must be at least 15 characters.
- Capitalized titles are not supported.

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/13768

[2019-01-14 16:02] carolromero opened #4767 "Participatory texts - several format issues in document view"
**Describe the bug**
In the document view, the formatting is broken and does not keep:
- Line breaks.
- Lists (numbered or not).
- URL links.
- Does not support images.

## Related PRs
- [x] Line breaks: #4782
- [x] Lists (numbered or not): #4780
- [x] URL links: #4790
- [x] Does not support images: #4791

## Screenshots
![image](https://user-images.githubusercontent.com/23509895/51124237-1613e980

[2019-01-14 16:05] carolromero opened #4768 "Sorting filter in frontend proposals navigator doesn't work properly"
**Describe the bug**
I've noticed that sorting by the most recent proposals doesn't work well.
Also, **when you select a filter there is no indicator that it is being processed** and this causes confusion.

To reproduce:
1. Go to "https://meta.decidim.org/processes/bug-report/f/210/"
2. Select "Order proposals by most recent".
3. Scroll down and you will see a proposal created today among older on

[2019-01-14 16:08] carolromero opened #4769 "Last Activity feed stopped working properly"
**Describe the bug**
Last Activity module stopped recording activity in the platform or at least is not being shown in the homepage.

To reproduce:
- Check last item displayed in Activity feed: https://meta.decidim.org/
- I've created several proposals after this item and they are not being displayed, like this one:
https://meta.decidim.org/processes/bug-report/f/210/proposals/13770

**Additional

[2019-01-14 16:09] arnaumonty commented on #4644
Hey @entantoencuanto,

 I have opened the petition on CAOC site to receive support in the integration of Timestamp. Please review the documentation provided [in my last comment](https://github.com/decidim/decidim/issues/4644#issuecomment-449727797). I'll resend any kind of information that they send to me.

[2019-01-14 16:12] carolromero opened #4770 "Participatory texts - review workflow document upload"
**Describe the bug**
#### What went wrong?
1. When you upload a new document as a participatory text, you have a preview to check that everything is in order, but if it's not, if there is an error, you don't have the option to go back and reload it again.
This means that in order to repeat the operation you have to create a new component of proposals, not being able to delete the first one. And yo

[2019-01-14 16:14] carolromero opened #4771 "Participatory texts - repeated notifications when making an amendment"
**Describe the bug**
When making an amendment to a proposal, several notifications about the same event are generated (I'm not sure how many notifications, more than 7 sure).

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/51124935-c3d3c800-181f-11e9-8439-ec8af3bb8dac.png)

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/13773

[2019-01-14 16:16] carolromero opened #4772 "Assemblies filter doesn't work properly"
**Describe the bug**
The functionality of filtering Assemblies by type has been incorporated. However, when you select an assembly type it does not appear as selected and there is no indicator to show that the filter is being applied.

To reproduce go to https://meta.decidim.org/assemblies?filter=working_group

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/13

[2019-01-14 16:18] carolromero opened #4773 "Assemblies with child assemblies card design"
**Describe the bug**
I'm sure this has been reported before but I've been unable to find the issue in github :(

In the same way that for processes groups we have a stacked card design, assemblies that have child or sub-assemblies should use that same design indicating how many assemblies it contains.

Design here: https://decidim-design.herokuapp.com/public/library/pattern-library#patternCardsM
*

[2019-01-14 16:49] carolromero opened #4774 "Error when entering a Conference event"
**Describe the bug**
To reproduce click on any event in:
https://meta.decidim.org/conferences/jam17/program/974

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/13779

[2019-01-14 20:17] mrcasals commented on #4760
Well I added the bug label because I considered that the edition was broken, but OK!

[2019-01-15 10:22] carolromero commented on #4766
Hi @decidim/lot-core, we were just commenting with @tramuntanal that these restrictions come from the proposals. We need to loosen them because we have already come across real use cases where they cause problems.

[2019-01-15 11:54] tramuntanal commented on #4765
I guess the problem you've found is the following exception that i get raised when uploading the participatory_text.md file "Also, utf-8 characters should be supported. For example: "Cançó de Sangtraït"." concatenated at the end:

[code]

[2019-01-15 12:04] tramuntanal commented on #4765
There are two cases to take into account:
1. When a UTF-8 file with only ASCII "compatible" characters in it is uploaded via browser, all browsers send it as UTF-8 and Rails sets its encoding to UTF-8.
1. But if the file contains non ASCII "compatible" characters, all borwsers (Firefox, Chrome and Edge) send it as ISO-8859-1 and Rails sets its encoding to ASCII-8BIT (that's ASCII but with unknown

[2019-01-15 14:35] Crashillo commented on #4754
Done in #4775

[2019-01-15 14:39] tramuntanal commented on #4765
So as a summary, from Decidim application we don't know which is the encoding of the markdown files that the user uploads. Then some encoding conflicts may raise while processing the Participatory Text.

@decidim/product @decidim/lot-core To solve this situation I propose to use https://github.com/brianmario/charlock_holmes gem to detect the encoding of the uploaded plain text files and transcode

[2019-01-15 14:42] tramuntanal commented on #4764
Is this a bug or an enhacement?

[2019-01-15 15:08] tramuntanal commented on #4767
I'll comment each format element:
- **Line breaks**: should work,
[code]

- Lists (numbered or not). There was no definition in how to proceed with lists. What should happen with lists?
  - Create a single proposal with all list items in it? (current behaviour)
  - Create a proposal for each list item?

- URL links. You are right, I thought Proposals did not accept rich text in their body. I'll fi

[2019-01-15 15:11] tramuntanal commented on #4770
I guess that this are enhancements instead of bugs because this is the design for the Admin Panel that was proposed and accepted: https://github.com/decidim/decidim/pull/3949

By the way, I've already opened issue #4760 to allow to change the title and description of a Participatory Text without having to upload a new file.

[2019-01-15 15:14] tramuntanal commented on #4771
@aitorlb can you check if this is a problem in Decidim code base or a problem in meta.decidim.org  please? (I also had a notification being sent again and again because some problem in meta.decidim but the code base was correct)

[2019-01-15 15:59] aitorlb commented on #4771
@decidim/lot-core can you provide the logs, please?
@carolromero how many email do you recieve when creating an amendment? Can you check it, please?

[2019-01-15 22:57] #2706 closed

[2019-01-17 09:19] aitorlb commented on #4772
Hi @carolromero , I'm gonna fix it in a moment. But you have to help me by being specific of what you want.

[2019-01-18 09:30] aitorlb commented on #4771
hi @carolromero , it only sends 1 notification in local development. Let's hope once we take a look at the logs if we're able to pinpoint the problem..

[2019-01-18 09:41] carolromero commented on #4770
Hi @tramuntanal, indeed this is the approved design, but the problem is the behavior of the component in case there is an error with the file upload, and IMHO that should be taken into account when programming it.

Thanks, also I think this is not so different from the above, considering that there is also no design for editing the title and description. By the way, where is the description shown?

[2019-01-18 09:53] tramuntanal commented on #4770
Probably I could have raised a hand, my fault. But why it is so clear that it had to be taken into account when programming but not when designing it or when approving it?

Anyway we'll enhance this feature as requested because it is not usable this way. Can you provide your expected workflow and designs please? (maybe a "reset current text" checkbox in the form?

Regarding the description it is n

[2019-01-18 10:06] carolromero commented on #4767
They work only inside the proposal, not in the document view. You can check it here:

**Proposal view**
https://meta.decidim.org/processes/decidim-gov/f/988/proposals/13909

**Document view**
![imatge](https://user-images.githubusercontent.com/23509895/51379266-4fdf3b80-1b0f-11e9-8d95-1acb9d890076.png)

Lists should be imported as a single proposal. I haven't had the chance to test it because this

[2019-01-18 10:44] carolromero commented on #4772
@aitorlb sounds good! thanks

[2019-01-18 12:59] aitorlb commented on #4751
We've had this issue and was fixed by upgrading to decidim 0.15.2 #4680

[2019-01-19 02:15] #4403 closed

[2019-01-19 02:15] #3044 closed

[2019-01-19 14:37] #4461 closed

[2019-01-20 17:57] #3584 closed

[2019-01-21 10:35] Graf63 opened #4779 "undefined method current_feature' for class Decidim::Components::BaseController'"
Hi,
I restart my nginx and now i've got this error message :
The application encountered the following error: undefined method current_feature' for class Decidim::Components::BaseController'
I run the update of decidim but nothing...
Thanks

[2019-01-21 15:09] sicambria commented on #4725
@armandfardeau thanks for the script! Using a proxy I run into errors even after running:
_set http_proxy=http://IP...:8080
set https_proxy=%http_proxy%
vagrant plugin install vagrant-proxyconf
set VAGRANT_HTTP_PROXY="%http_proxy%"
set VAGRANT_NO_PROXY="127.0.0.1"
vagrant up_

_https://stackoverflow.com/questions/19872591/how-to-use-vagrant-in-a-proxy-environment_

**Vagrant console output:**
defa

[2019-01-21 16:06] aitorlb commented on #4772
@carolromero I added a gif to the PR

[2019-01-21 16:14] aitorlb commented on #4779
Try upgrading to decidim 0.15.2 to fix it #4680

[2019-01-21 16:47] aitorlb commented on #4779
First, check what decidim version are you using on your Gemfile.

[2019-01-21 17:01] Graf63 commented on #4779
Great with the 0.15.2
Thanks

[2019-01-21 17:01] #4779 closed

[2019-01-21 23:20] armandfardeau commented on #4725
It's pretty clear, you're vagrant box has no connection. The proxy conf is invalid.

[2019-01-22 15:02] #4774 closed

[2019-01-22 15:02] #4754 closed

[2019-01-22 15:04] #4772 closed

[2019-01-23 03:24] #3824 closed, assigned to nobody

[2019-01-23 03:24] #4129 closed, assigned to nobody

[2019-01-23 09:00] magwas commented on #4724
Here is the install: https://github.com/magwas/elovalasztok/

[2019-01-23 10:56] arnaumonty commented on #4551
As we agreed in the [comment](https://github.com/decidim/decidim/pull/4416#issuecomment-434662119) done by @carolromero  this PR #4416:

I'd say we use the following calculation for both:

- Users: filter by `created_at` field
- Processes: filter by all `published`
- Assemblies: filter by all `published`
- Proposals: filter by `published`, not `withdraw` and not `hidden`
- Accepted Proposals: filt

[2019-01-23 11:08] tramuntanal commented on #4771
@aitorlb how is this going?
cc/ @carolromero

[2019-01-23 11:12] oriolgual commented on #4766
We could move the validations to the public forms so admins can create proposals with less restrictions.

[2019-01-23 11:12] tramuntanal commented on #4766
Then are you taking this issue @decidim/lot-core ?

[2019-01-23 11:19] tramuntanal commented on #4764
@carolromero do you think that somethink like [this](https://github.com/decidim/decidim/issues/3584#issuecomment-399428912) will be ok?

[2019-01-23 11:22] aitorlb commented on #4771
@decidim/lot-core I would need to check the server logs to further progress on this issue.

[2019-01-23 14:59] aitorlb commented on #4779
@Graf63 could you tell me which version of rails was on your Gemfile.lock when the problem appeared?
We think it may be trigered with `rails (5.2.2)`

[2019-01-23 15:01] aitorlb commented on #4751
@jsperezg could you tell me which version of rails was on your Gemfile.lock when the problem appeared?
We think it may be trigered with `rails (5.2.2)`

[2019-01-23 15:02] Graf63 commented on #4779
Hi,
Yes it's this version...
Rails 5.2.2
ruby 2.6.0p0 (2018-12-25 revision 66547) [x86_64-linux]

[2019-01-23 15:03] jsperezg commented on #4751
@aitorlb I can't remember. I've upgraded to Decidim 0.6.0 and the issue dissapeared

[2019-01-23 15:11] aitorlb commented on #4751
Ok, thanks. Seems that decidim >= 0.15.2 fixes it, but the problem only appears with rails 5.2.2

[2019-01-24 09:05] Graf63 opened #4783 "ExecJS::RuntimeError: SyntaxError: Unexpected token , in JSON at position 3"
Hi
I wanted to install initiative and i've got the error :ActionView::Template::Error (The asset "decidim/initiatives/application.js" is not present in the asset pipeline.):

So i wanted to precompile but i have this error "ExecJS::RuntimeError: SyntaxError: Unexpected token , in JSON at position 3" and i don't know where my problem is.

Thanks

** Invoke assets:precompile (first_time)
** Invoke a

[2019-01-24 09:17] alexcg1 opened #4784 "Docker install: Can only login as system@example.org"
I got Decidim working perfectly on Docker (Ubuntu Xenial) running on my localhost - no problems at all.

I'm testing it out on my digitalocean server at http://68.183.62.183:3200/ right now. Going to that URL kicks me to /system/admins/sign_in and I can only sign in as the system@example.org user from the initial db seed. Running exact same docker image on my localhost sent me to normal login page

[2019-01-24 10:12] tramuntanal commented on #4765
So as a summary, from Decidim application we don't know which is the encoding of the markdown files that the user uploads. Then some encoding conflicts may arise while processing the Participatory Text.

@decidim/product @decidim/lot-core To solve this situation we have 2 options.

1) To check the incoming file encoding, if it is UTF-8, we'll do nothing and go directly to the parsing, but if we're

[2019-01-24 10:22] ybabel opened #4785 "Docker install fails on d/rake development_app : doc2text.git is not yet checked out"
Hello,
I tried to install decidim with docker. I get that error for the 2nd step `d/rake development_app` :

[code]

I used the instructions from the documentation : https://github.com/decidim/decidim/blob/master/docs/getting_started.md
`d/bundle install
d/rake development_app
d/rails server`

First step `d/bundle install` worked fine :
[code]

Version used :
[code]
I don't know ruby. I don't know

[2019-01-24 14:03] Leopold194 opened #4786 "Staggered letters"
**Describe the bug**
In the phone versions, the words are missplaced

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'phone versions of Decidim'
3. Scroll down to 'active consultations' or 'active assemblies'
4. See error

**Expected behavior**
Not having the words cut out

**Screenshots**
<img width="262" alt="capture d ecran 2019-01-24 a 14 58 10" src="https://user-images.githubuserc

[2019-01-25 12:15] operez-ddgi opened #4793 "Private users bulk upload"
When creating a private process, the administrator is required to create the private users one by one. This can be a long and tedious task if there's a large amount of users to be added.

It would be useful to have an option to upload a CSV containing two columns: name and email. After upload, the file should be processed and a user created for every single line.

This solution would ease the crea

[2019-01-25 14:01] tramuntanal commented on #4767
All formatting modifications are now ok:
![imatge](https://user-images.githubusercontent.com/199462/51742127-28511b80-2099-11e9-8baa-9e5da5e2b2b8.png)

And result in the following presentation:
![imatge](https://user-images.githubusercontent.com/199462/51750313-044e0400-20b2-11e9-9f62-cc34e47aacba.png)

[2019-01-25 18:41] #1436 closed

[2019-01-25 18:41] #4142 closed

[2019-01-28 09:17] carolromero opened #4795 "Debate category is not saved correctly"
**Describe the bug**
When editing the information of a debate created previously (already existing), category that had been assigned this debate disappears. If you do not realise about this bug and publish the changes, this debate would not show the pre-assigned category before editing the general information of the debate (title, description, instructions to participate, schedule).
https://meta.d

[2019-01-28 09:28] carolromero opened #4796 "I can't comment as a Group"
**Describe the bug**
I tried to leave a comment as a member of a group but, although I see the 2 options (comment as Carol or as a member of DecidimTeam), if I select the group the comment gets saved as Carol.

**Screenshots**

![imatge](https://user-images.githubusercontent.com/23509895/51826342-1795e500-22e7-11e9-928c-4d78650b93fa.png)

**Extra data (please complete the following information):**

[2019-01-28 09:40] carolromero opened #4797 "Pixelated photo when a process is displayed on the homepage"
**Describe the bug**
The active process that appears in the homepage takes the long description. It should take the short description.

Related to https://github.com/decidim/decidim/pull/3970

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/51827172-06e66e80-22e9-11e9-8dd8-29e761b77263.png)

**Extra data (please complete the following information):**
 - Decidim Version

[2019-01-28 09:45] carolromero opened #4798 "Error homepage of internal links with locale as a parameter"
**Describe the bug**
When you are not registered or logged in as a user, and you click on any button (participate, sign up, start, participate, activate, etc.) on the homepage, they redirect you to the correct page, but with the default locale of the application, although you have selected another language in the locale switcher of head.

**Expected behavior**
I hope that, if I have a locale selec

[2019-01-28 09:52] #4767 closed

[2019-01-28 09:53] #4325 closed

[2019-01-28 09:54] carolromero opened #4799 "Attachments are lost when publishing a collaborative draft proposal"
**Describe the bug**
When a collaborative draft is converted or published as proposal the attachment image is lost.

**Expected behavior**
I expect the attachment to be inherited.

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installation:
 I found this bug here:
-Collaborative draft: https://meta.decidim.org/processes/decidim-gov/f/961/collaborat

[2019-01-28 09:58] #4711 closed

[2019-01-28 10:09] #4648 closed

[2019-01-28 10:43] carolromero opened #4800 "The comments filter has been moved to the left"
**Describe the bug**
The comment filter has lost its original position. It is shown on the left and should appear on the right.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/51831204-d6570280-22f1-11e9-90a4-a5634535405c.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installation: MetaDecidim

[2019-01-28 12:32] isaacmg410 commented on #4798
@decidim/lot-core Check the comments in metadecidim, please.
https://meta.decidim.org/processes/bug-report/f/210/proposals/14207
This is not happening only at homepage, this is happening everywhere on cells are used.

[2019-01-28 13:53] tramuntanal commented on #4439
Hi @decidim/product is the last part of this issue going to be implemented?
I mean this part:
"""
Management of notifications
  Sending notifications based on the interests declared by the participant. The list of interests to show will be the list of Scopes defined by the organization.
"""

That I guess will allow admins to send a newsletter to any groups of interest, isn't it?

[2019-01-28 14:10] microstudi commented on #4798
A part from this changes in the generated urls (which are nice). Maybe it would be nice to add a session variable to store the value of the local chosen language.
It should work as a fallback so if you follow (or just write in the URL bar) some link without the locale variable,  you'd still be navigating in your preferred language.

[2019-01-28 16:48] iokese commented on #4610
Acabo de ver este comentario, lo paso al Meta https://meta.decidim.org/processes/bug-report/f/210/proposals/13409

[2019-01-29 09:12] papaeng89 opened #4804 "No receive validation code after create meeting"
No receive validation code after create meeting

Steps to reproduce the behavior:
1. Go to Process/Components/Meetings
2. Create Meetings
3. I no see registration code or receive by mail the registration code

I don't understand why

Thanks

Chris

[2019-01-29 14:25] oriolgual commented on #4798
@isaacmg410 if including the routes in the cell fixes the bug I'm OK with this 👌

@microstudi that could work, the `LocalesController` would need to be updated.

[2019-01-29 14:26] oriolgual commented on #4798
@microstudi that could work, the `LocalesController` would need to be updated.

[2019-01-29 15:05] isaacmg410 commented on #4669
@decidim/product @decidim/lot-core Any improvement with this bug?

[2019-01-29 15:21] #4760 closed

[2019-01-29 15:26] #4539 closed

[2019-01-29 17:23] tramuntanal commented on #4770
Hi @decidim/product we'll add
- [ ] a reset button which will remove all unpublished participatory text content.
- [ ] a save button to persist changes before publishing

If the admin does not like the uploaded participaory text she will have to click RESET ALL (the new button), confirm (alert in the button), and then click the current IMPORT DOCUMENT again.

- [ ] Optionally we can render all car

[2019-01-30 03:48] #4305 closed

[2019-01-30 03:48] #4048 closed

[2019-01-30 12:52] carolromero opened #4807 "I can't edit a collaborative draft"
**Describe the bug**
When I try to click the edit button for the collaborative draft, I automatically get an error. Both the author and the co-author.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/51982358-10610980-2496-11e9-9096-872f28e20092.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installation: https://m

[2019-01-30 13:34] aitorlb commented on #4807
In local development works as expected. I would need to see the logs for this one @decidim/lot-core

[2019-01-30 13:46] carolromero commented on #3363
I'm reopening this since it is still not solved.

[2019-01-30 13:52] carolromero commented on #3635
I'm closing this since this is not a bug, but a pending development for user groups notifications.

[2019-01-30 13:52] #3635 closed

[2019-01-30 14:06] isaacmg410 commented on #3635
@carolromero then, a user_group should not be able to adhere to a proposal, right?

[2019-01-30 14:40] carolromero commented on #3635
@isaacmg410 Yes, it can, but there are no notifications about it

[2019-01-30 16:14] carolromero commented on #3693
@decidim/lot-core this is a bug

[2019-01-30 17:53] carolromero commented on #3906
This has been solved. Closing it.

[2019-01-30 17:53] #3906 closed

[2019-01-30 17:59] carolromero commented on #3945
This is not a bug. Closing this one.

[2019-01-30 17:59] #3945 closed

[2019-01-30 18:39] carolromero commented on #4407
@paranoix could you please chime in and give a little more context on this? Thanks!

[2019-01-31 08:59] #4551 closed

[2019-01-31 11:09] carolromero commented on #4111
This has been solved. Closing

[2019-01-31 11:09] #4111 closed

[2019-01-31 14:16] andreslucena commented on #4786
Hi! Thanks for the report. Seems like this is the line that generates this bug:
https://github.com/decidim/decidim/blob/ac004017b013f18b09abbce063247934dcc07bcd/decidim-core/app/assets/stylesheets/decidim/modules/_cards.scss#L412

[2019-01-31 18:44] xabier commented on #4784
Sorry you are not getting any answer from developers here. I just saw you had the problem solved at gitter: https://gitter.im/decidim/decidim?source=orgpage

:+1:

[2019-01-31 21:50] carolromero commented on #4490
Hi @aitorlb, I'm sorry about the misunderstanding. I've rewritten the issue and I hope it's a little clearer now. The problem is in the error message.

[2019-02-01 09:31] aitorlb commented on #4804
You mean when you join a meeting from the public view (where users interact) or when creating a meeting from the back office (admin dashboard)?

[2019-02-01 10:58] aitorlb commented on #4771
@decidim/lot-core the amendment of the screenshot was created on Friday 11/01, if you need to cut the logs.

[2019-02-01 11:50] tramuntanal commented on #4439
Thanks a lot for your reply @carolromero! This "Newsletters are out of the scope of this issue." note clarifies some possible improvements. :+1:

[2019-02-01 14:00] #4799 closed

[2019-02-02 18:02] #4427 closed

[2019-02-02 18:02] #4569 closed

[2019-02-02 18:02] #3816 closed

[2019-02-02 18:02] #3893 closed

[2019-02-03 16:06] #4354 closed

[2019-02-03 17:01] papaeng89 commented on #4804
When creating a meeting from back office ( admin dashboard )

[2019-02-04 08:46] isaacmg410 commented on #4797
@decidim/lot-core I think that this may be because it don't use the short description. Also, it use the whole description.

[2019-02-04 09:45] ahukkanen commented on #4584
This is still an issue.

[2019-02-04 09:46] ahukkanen commented on #4630
This is an issue that prevents any Decidim application out there to pass the manual reviews of Facebook and Google.

[2019-02-04 12:07] paarals commented on #3503
Can anybody tell us in what state this issue is? It's planned to be done?

[2019-02-04 14:31] carolromero opened #4816 "Hashtags are not rendered in the user's timeline"
**Describe the bug**
When I go to my public profile, in the section of the timeline, if there is any hashtag it is not rendered.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/52214135-3c62fd00-2891-11e9-9536-3c6683babc53.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installation: Metadecidim

**Additional conte

[2019-02-04 14:57] #4798 closed

[2019-02-04 16:37] tramuntanal commented on #4568
Hello linter guy :wave: :wave: :smile:
I did not saw your anwer :(
I'll look for some time to check the configuration!

[2019-02-04 16:39] andreslucena commented on #3677
Fixed on translate.decidim.org

[2019-02-04 16:39] #3677 closed

[2019-02-04 19:39] mayanktap commented on #4800
Hi @carolromero ,
I have raised [PR](https://github.com/decidim/decidim/pull/4818) corresponding to this issue. Can you please review the PR or assign someone as reviewer to the PR?

[2019-02-05 07:49] carolromero commented on #4800
Hi @mayanktap, thank you for the PR! @decidim/lot-core could you please review this?

[2019-02-05 07:56] #4800 closed

[2019-02-05 08:12] josepjaume commented on #4800
Done @carolromero !

[2019-02-05 11:40] andreslucena commented on #3623
This is already fixed, I've checked it on meta.decidim.org

![invalid token error on metadecidim](https://user-images.githubusercontent.com/717367/52271149-388fb300-2943-11e9-91b8-c983904347ed.png)

[2019-02-05 11:40] #3623 closed

[2019-02-05 12:18] andreslucena commented on #4797
There are 2 bugs here:
1) Pixelated photo when single process.

As far as I see, I think this is a problem with the picture itself, if you put a small photo then it resizes with quality loss.

![imagen](https://user-images.githubusercontent.com/717367/52272634-b786ea80-2947-11e9-84f9-9bf8eb64f965.png)

@carolromero could you try it with a bigger image?

2) When there's a single process it shows th

[2019-02-05 12:18] #4797 closed

[2019-02-05 12:23] andreslucena commented on #4669
@isaacmg410 I'm trying to reproduce this but I couldn't. Maybe it's related with OS/Browser. Can you reproduce this? Thanks

[2019-02-05 12:33] isaacmg410 commented on #4669
@andreslucena it's still happening.

[2019-02-05 12:36] andreslucena commented on #3039
I've just talked offline with @carolromero and she just confimed it with meta.decidim.org and sandbox.decidim.org and it doesn't share the scopes. I'm closing this issue.

[2019-02-05 12:36] #3039 closed

[2019-02-05 12:45] andreslucena commented on #4113
Regarding

It seems like it's a configuration error. Now we see this error:

_Hi ha hagut un error_
_La URI de redirecció no és vàlida._

cc @decidim/lot-core

[2019-02-05 12:47] carolromero commented on #4630
Hi @ahukkanen thanks for reporting and documenting this! Do you think you could do a PR to make the changes to adapt to the guidelines?

[2019-02-05 14:40] ahukkanen commented on #4630
@carolromero We unfortunately don't currently have any client willing to cover the development cost of that. They either have their own self-managed authentication system or don't care about this.

You actually only need to pass the manual review in case you want to get access to more user information through these APIs. The basic authentication will still work regardless of passing the review pro

[2019-02-05 15:50] tramuntanal commented on #3635
Sorry, the case is that when endorsing as a user_group, a notification is being sent to all user's followers, but it is rendered as if it was from the user.

Maybe we should add a check and do not send notifications from user groups?

[2019-02-05 16:33] carolromero commented on #4490
Hi @aitorlb I've reproduced this on 0.16 and it's working fine. Closing this issue.

[2019-02-05 16:33] #4490 closed

[2019-02-06 06:42] mayanktap commented on #4757
Hi @carolromero ,
As per my understanding(_Checked global activity streams but didn't verified it with personal timelines_), I guess this is working fine and it seems like a bug because the results are arranged on the basis of creation date and all the cases of activity type other than **comment** are not created in recent times, that's why not appearing on the 1st page.

For instance, the first *

[2019-02-06 08:07] carolromero commented on #4757
Hi @mayanktap,

The thing is that there has been activity, check for instance the **Report a bug** process, there you can see proposals from yesterday:
https://meta.decidim.org/processes/bug-report/f/210/proposals?component_id=210&order=recent

In fact, I see now that in the specific case of **proposals** is filtering the activity backwards, you can see the proposals prior to 20th December: :think

[2019-02-06 08:22] andreslucena commented on #3562
Possible duplicated #3328

[2019-02-06 10:04] mayanktap commented on #4757
@carolromero ,

Confirming my understanding that there are proposals which are created after 20th Dec and are not visible in the link(https://meta.decidim.org/last_activities?utf8=%E2%9C%93&filter%5Bresource_type%5D=&filter%5Bresource_type%5D=all)

[2019-02-06 11:00] #4572 closed

[2019-02-06 12:15] josepjaume commented on #4769
Hi @carolromero - I've been digging into the issue. This bug was introduced with  the removal of a relevant part of the code which created the Activity on the #4567 PR:

https://github.com/decidim/decidim/commit/31ad56e56a6d2e62a2a540d3c3428fc65387eea1#diff-4ff754f7e49bb72f4a1de9ad2781064aL26..L44

[2019-02-06 12:43] carolromero commented on #4769
Hi @decidim/lot-mods could you please check this?

[2019-02-06 13:33] josepjaume commented on #3363
Hi @carolromero - the badge's colorization is fixed on #4825. I'm not sure which style should categories have though, do you have an example?

[2019-02-06 14:39] aitorlb commented on #4769
Thanks @josepjaume for investigating. Indeed I did not know that it was a relevant part of the code which created the Activity feed and I should have made sure that I wasn't removing something important!

I see that the Activity feed was introduced here https://github.com/decidim/decidim/pull/4130 and it seems that for proposals it filters the logs by action "publish" https://github.com/decidim/de

[2019-02-06 15:21] carolromero commented on #4757
duplicated of #4769

[2019-02-06 16:32] carolromero commented on #4769
Hi @aitorlb, in my view:
- If the proposal is **published through the wizard**, a first version is saved (only one, not one for each step of the wizard).
- If the proposal is **published from a draft**, a first version is saved (draft modifications remain only as versions of the draft).

[2019-02-06 16:52] aitorlb commented on #4769
@carolromero I understand what you're saying is after publishing a proposal there should be only one version.

[2019-02-06 17:13] carolromero commented on #4769
@aitorlb yes, that's correct :)

[2019-02-07 09:27] aitorlb commented on #4769
@carolromero updating a proposal should create a new version? A new proposal amendment should appear in the Activity Feed?

[2019-02-07 09:49] carolromero commented on #4769
@aitorlb editing a proposal should create a new version and the amendments should appear in the activity feed, yes. Does it makes sense to you as well?

[2019-02-07 10:10] carolromero opened #4826 "Amendments can't be blocked"
**Describe the bug**
There is no way to block amendments, so you can see the existing ones but not send new ones.

**Expected behavior**
I expected to have a setting to block the submission of new amendments

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installation: Metadecidim

**Additional context**
https://meta.decidim.org/processes/bug-report

[2019-02-07 10:33] carolromero opened #4827 "Counter intuitive verification Lock icons"
**Describe the bug**
In the user's account/Authorizations.
When you have a verification pending the lock icon appears locked. After verifying, the icon appears unlocked. This is confusing because all security related features in software use just the opposite metaphor: the icon appears unlocked when you don't have the security think, and the icon appears locked when you are secured.

**Screenshots

[2019-02-07 10:34] #3709 closed

[2019-02-07 10:36] #2718 closed

[2019-02-07 10:37] #2840 closed

[2019-02-07 10:39] #3347 closed

[2019-02-07 12:09] #2708 closed

[2019-02-07 12:14] andreslucena commented on #3988
Hi! Thanks for the report @Digharatta

It's already fixed on last version:

![imagen](https://user-images.githubusercontent.com/717367/52410906-390e8200-2ada-11e9-8f95-29aa93bbd195.png)

I'm closing this issue.

[2019-02-07 12:14] #3988 closed

[2019-02-07 12:17] andreslucena commented on #4689
Exactly, the logic is that you shounldn't seed a production database. Maybe we should add a check for environment?

[2019-02-07 15:23] josepjaume commented on #3363
@carolromero sorry, didn't read the last bit. The reason you point to is correct; it happened with version control and AFAIK there's no specific design for that. So I woudln't consider it a bug, just suboptimal UI.

[2019-02-07 15:24] josepjaume commented on #3363
Closing this unless @carolromero doesn't agree with it, in that case just reopen ;)

[2019-02-07 15:24] #3363 closed

[2019-02-08 08:25] ahukkanen commented on #4669
I can confirm this bug on Ubuntu 18.04 and Chrome browser.

[2019-02-08 09:05] ahukkanen commented on #4669
The reason for this is that the last request on that page is to `/static_map`. That page's controller extends `Decidim::ApplicationController` which has the `:store_current_location` before action defined for all requests.

https://github.com/decidim/decidim/blob/c8a1d1cd4de76e6f7ffd22a3d7ad7a69c4ceb508/decidim-core/app/controllers/decidim/application_controller.rb#L29

Therefore what happens here

[2019-02-08 09:23] carolromero opened #4829 "Free text field data from a survey is not downloaded correctly"
**Describe the bug**
Exporting survey results to CSV or XLS does not download free text information when linked to a multiple-choice question.
However, if the question is a free-text question, it does download the answer.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/52469270-4b94c400-2b8b-11e9-9fde-bfff1002cd82.png)

**Extra data (please complete the following info

[2019-02-08 09:38] lu-hamani commented on #4829
Hi @carolromero
We fixed it in 0.12 here => https://github.com/OpenSourcePolitics/decidim/pull/420
I know we are still way behind 😅 but the bump to 0.16 is ongoing

[2019-02-08 09:50] ahukkanen commented on #4669
There is now a fix available for this at #4830.

[2019-02-08 09:51] carolromero opened #4831 "Admin search engine on initiative doesn't work properly"
**Describe the bug**
When trying to find an initiative by any word in the initiative title from the admin panel, the search engine does not return any results.
On the other hand, it does return results if the exact title is entered.

**Expected behavior**
I was expecting that it would return results that match the word typed in the search engine.

**Screenshots**

![](https://i.imgur.com/PjpypwY.g

[2019-02-08 10:03] paarals commented on #4551
Good morning @carolromero. Are you sure that putting the same word into two different concepts helps the user experience? In my opinion, it creates confusion as the user can think that the total number of users who have taken part in a participation action is the ones that are calculated on the homepage.

In fact, @arnaumonty in his last comment also says "users" instead of "participants".

[2019-02-08 10:23] carolromero opened #4832 "Fix the order in which meetings in the amin panel are displayed by default"
**Describe the bug**
Right now it is very confusing when there are a lot of meetings because apparently the list does not follow a logical order in terms of dates.
One solution would be to display by default the meetings in the admin panel by creation date, descending order.

**Screenshots**
Example view of meetings list:
![imatge](https://user-images.githubusercontent.com/23509895/52472529-cd88eb

[2019-02-08 10:28] carolromero opened #4833 "Videos are not shown in the description of the debates"
**Describe the bug**
When I use an embed url to insert a video I expect it will be displayed in the description of the debate. Instead it only appears on the M card.

We should use a reflector in decidim_sanitize instead of simple_format.
Please see comments about this in: https://meta.decidim.org/processes/bug-report/f/210/proposals/14192

**Screenshots**
![imatge](https://user-images.githubuserc

[2019-02-08 10:35] carolromero opened #4834 "Clicking on edit a proposal from the frontend leads you to the general table of proposals"
**Describe the bug**
As admin, when reviewing a proposal from the frontend, I click on the "Edit" option and it takes me to the general table of proposals in the admin panel

**Expected behavior**
I was expecting to access the specific proposal straight away in order to edit it.

**Screenshots**

![](https://i.imgur.com/oSdwzUA.gif)

**Extra data (please complete the following information):**
 - D

[2019-02-08 11:23] carolromero commented on #4829
Hi @lu-hamani thanks for pointing it out

[2019-02-08 17:44] carolromero commented on #4551
Hi @paarals,

At the **concept level** (forget about the metrics now), _users_ and _participants_ are the same in our case. In other words, what in any digital platform are _users_, we call them _participants_, since we are talking about software for participatory democracy. Calling them participants introduces a political nuance: someone who participates has more agency capacity than someone who

[2019-02-09 14:37] moustachu commented on #3562
Most of the times, these issues are reported by clients with old school IT constraints ...
We're still working to push a "final" fix for this one but for the record please advised people that IE11 is obsolete and might not be supported in the near future

https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/The-perils-of-using-Internet-Explorer-as-your-default-browser/ba-p/331732

[2019-02-09 18:32] #3890 closed

[2019-02-09 18:32] #3888 closed

[2019-02-09 18:32] #4205 closed

[2019-02-11 08:13] xabier commented on #4551
thanks for the explanation @carolromero it perfectly captures de spirit of what is meant by *participant*

[2019-02-11 09:55] #4635 closed

[2019-02-11 11:31] #4786 closed

[2019-02-11 11:36] #4769 closed

[2019-02-11 14:42] andreslucena commented on #4697
Related with this:
* https://meta.decidim.org/processes/roadmap/f/122/proposals/12401
* https://meta.decidim.org/processes/roadmap/f/122/proposals/12143

[2019-02-11 16:55] #4568 closed

[2019-02-12 16:57] entantoencuanto commented on #4656
Additionally, the metadata of the authorization associated with the verification should be consistent with the other personal data provided by the user and information about the initiative scope. In this way the authorization handler would detect if the user belongs to the correct scope. For this, the authorization handler should be able to generate a metadata hash containing information about the

[2019-02-12 17:11] arnaumonty commented on #4656
@entabtoencuanto It seems a good solution, but we should take into account if always the user is providing this information or not and what happens if not, or maybe providing just one of two items. It would be possible to generate a hash for each one? Tomorrow we have a product meeting, we can comment it and we can have a call just to clarify the best option.

[2019-02-13 09:04] andreslucena commented on #2033
Reopening this issue as one new admin has told me that has it.
We should at least have the string translated.

[2019-02-13 09:13] andreslucena commented on #2033
A solution could be copying [these i18n files](https://github.com/carrierwaveuploader/carrierwave-i18n/blob/master/rails/locales/es.yml)

[2019-02-13 10:07] armandfardeau commented on #4784
Hi @alexcg1

I'm answering just for other people to know about your issue.
There is a little misconception on system admin and organization admin.
A system admin manages the whole organization and the organization admin only manages their one.
Hence you can't log on system view with an admin.

During initial deployment, it's normal to be kicked out to system view because you don't have a proper ho

[2019-02-13 13:50] #4669 closed

[2019-02-13 16:01] ponentesincausa commented on #2033
@will94290 how did you solved it?

[2019-02-13 16:30] agustibr commented on #4035
Since #4282 and #3985 were merged into `master` this issue is solved.

[2019-02-13 16:30] #4035 closed

[2019-02-14 11:12] oriolgual commented on #4834
As an explanation: the link is going to the admin list because when we added the Edit button link admins couldn't edit proposals.

[2019-02-14 11:50] carolromero commented on #4834
Thanks for clarifying @oriolgual

[2019-02-14 15:52] #4832 closed

[2019-02-15 08:19] #4816 closed

[2019-02-15 08:20] #4829 closed

[2019-02-15 08:22] #4831 closed

[2019-02-15 08:42] npettiaux commented on #2073
I've submitted a request on crowdin to help with the translation to French

[2019-02-15 09:27] oriolgual commented on #4784
@alexcg1, as @armandfardeau you should login as a System admin and create your first organization from there. At development you could se admin/example because we seed the development app with default data, but not at production.

[2019-02-15 09:27] #4784 closed

[2019-02-15 09:30] oriolgual commented on #4113
This is a problem with multi-tenant deploys that I'm not sure how to solve. Since `edu.decidim.org` and `meta.decidim.org` share the same deploy they are both configured with `omniauth-decidim` as a login provider, but the OAuth application created at decidim.barcelona only knows about metadecidim, so it can't redirect to edu.

[2019-02-15 09:36] oriolgual commented on #4807
Here's the stack trace @aitorlb @tramuntanal https://sentry.io/share/issue/a3a1cc47d4e04d0cb4f7c8c1e4f5dfe1/

[2019-02-15 10:07] entantoencuanto commented on #4661
I'm taking a look at the initiative answer process, and I see that answer fields are enabled if the initiative is accepted in the initiative edition form. I've detected a pair of issues:
* There is a mandatory url field.  In front the response is wrapped in an `a` tag with the url. Is this correct?
<img width="1013" alt="screen shot 2019-02-15 at 10 52 41" src="https://user-images.githubuserconten

[2019-02-15 11:10] paarals commented on #4755
There's no bug. It was my mistake. Sorry.

[2019-02-15 11:16] lu-hamani commented on #4827
@opensourcepolitics/dev
Do you want to take care of it ?

[2019-02-15 11:30] oriolgual commented on #3397
Closing since from previous discussions it seems it was the expected behaviour.

[2019-02-15 11:30] #3397 closed

[2019-02-15 11:46] #4755 closed

[2019-02-15 17:38] #4833 closed

[2019-02-16 00:31] #4796 closed

[2019-02-16 00:31] #4757 closed

[2019-02-16 00:32] #4768 closed

[2019-02-16 19:53] #4244 closed

[2019-02-17 10:16] #4766 closed

[2019-02-17 14:21] mayanktap commented on #4827
Hi @carolromero ,
Please find the raised [PR](https://github.com/decidim/decidim/pull/4818) corresponding to this issue. Can you please review the PR or assign someone as reviewer for this PR?

[2019-02-17 15:12] #4647 closed

[2019-02-17 16:58] #4827 closed

[2019-02-18 10:36] tramuntanal commented on #4113
Hi @oriolgual, If I may ask you a question..
Is it a limitation of the current decidim oauth2 service? or it is only that `decidim.barcelona` is not configured for `edu.decidim.org`.

Or summarizing, can `omniauth-decidim` give service to multiple Decidim instances? or it only allows 1 to 1 configuration?

[2019-02-18 11:11] oriolgual commented on #4113
You could have different decidim instances configured as an available login, but then you would need a different login button for each one.

It's like if you wanted users to login with two different Twitters (if that was an option), or to use two different Twitter credentials.

[2019-02-18 11:27] tramuntanal commented on #4770
@decidim/product This Issue can be closed as [all features](https://github.com/decidim/decidim/issues/4770#issuecomment-458629147) are now implemented.

[2019-02-18 11:41] tramuntanal commented on #4773
I wouldn't classify it as a bug but a next iteration enhancement. @isaacmg410 We take it!

[2019-02-18 11:45] tramuntanal commented on #4826
@agustibr can you please provide further insight on the definition of this feature please?

[2019-02-18 11:48] isaacmg410 commented on #4773
@decidim/product in my opinion the concept of Group of Processes is diferent than the Assemblies Parent.

Use the same template for a group of processes and for a parent assembly, may cause confusion to the user. Additionally, at the admin level, they are managed differently, and they can still be more confusing

[2019-02-18 12:02] carolromero opened #4865 "Unable to manage Consultations components"
**Describe the bug**
When you create a Consultations and add a component it does not allow you to manage it, message: "You do not have permission to perform this action".

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/52949695-51ee2180-337d-11e9-96a1-128bd7dfa785.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.15

**Additional

[2019-02-18 12:21] carolromero opened #4866 "Wrong dates debates and Order Debates"
**Describe the bug**

The dates of the debates that are displayed on the "M" card don't correspond to those that appear in the detail of the debate.
For instance check:
https://meta.decidim.org/processes/welcome/f/169/debates/28
https://meta.decidim.org/processes/welcome/f/169/

On the other hand, according to code, it says that they are ordered by ascending start date, but at visual level this is

[2019-02-18 12:26] arnaumonty commented on #4653
@entantoencuanto I understand that we can check this two checkboxes and close the issue right?

[2019-02-18 12:31] agustibr commented on #4826
Hi @carol an admin within the Admin panel, can enable or disable the Amendment feature as described in #2292 , what you expected seams reasonable but it's out of the #2292 scope or not defined, so I wouldn't consider it a bug.

[2019-02-18 12:36] carolromero opened #4867 "The withdrawn proposals are taken into account with the limit of proposals per user"
**Describe the bug**
When a Proposal Component has limited the creation number of proposals per user (for example 3) and the user has created three proposals, then whithdraqn them, it does not allow to create a fourth proposal.

**Expected behavior**
I understand that the limit of proposals, shouldn't be taken into account if the proposals are withdrawn.

**Extra data (please complete the followin

[2019-02-18 12:38] arnaumonty commented on #4661
Hi @entantoencuanto

It shouldn't be mandatory

The expected behaviour is to keep the number of physical signatures

Yes, it should be active for all the states, because all the initiatives need an answer. Actually it is just needed mainly for accepted and rejected states. The published could work because extra information can be needed, and the created, validated, and discarded doesn't apply beca

[2019-02-18 12:39] carolromero opened #4868 "When a user deletes himself, his authorization is not deleted"
**Describe the bug**
When a user deletes himself, his authorization is not deleted.

**Expected behavior**
I understand that it should be removed, because in the future if user wants to re-register on the platform, it can be verified with the same data.

**Extra data (please complete the following information):**
 - Decidim Version: 0.15

**Additional context**
https://meta.decidim.org/processes/b

[2019-02-18 12:51] carolromero opened #4869 "I can comment as a normal user in a private assembly"
**Describe the bug**
As a normal user (no private user) I can comment on a private assembly where is available.

**Expected behavior**
I expect that if i'm not a private user I can't participate.

**Extra data (please complete the following information):**
 - Decidim Version: 0.16

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14247

[2019-02-18 13:47] aitorlb commented on #4826
Hi @carolromero ,
All amendments features (except proposal control version) depend upon the first point of #2292:

It seems that what you expected is to be able to activate amendments **and** enable/disable amendment creation. I agree with @agustibr that this behaviour was undefined at the developing stage.

[2019-02-18 13:59] carolromero opened #4870 "Broken metrics task: comment"
**Describe the bug**
When running bundle exec rake decidim:metrics:one["comment"] it breaks due to a missing method:

NoMethodError: undefined method `manager_class' for nil:NilClass

How to replicate it:
1. Create the development app with Decidim
2. Run bundle exec rake decidim:metrics:one["comment"]

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/52955702-a13c4e00-3

[2019-02-18 14:04] carolromero opened #4871 "Broken metrics task: results (wrong SQL query)"
**Describe the bug**
We have an application running Decidim 0.16.0, the task bundle exec rake decidim:metrics:one["results"] generates the following error:

ActiveRecord::StatementInvalid: PG::GroupingError: ERROR: column "decidim_accountability_results.id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: ...ipatory_space_id", decidim_components.id ORDER BY "decidim_a

[2019-02-18 14:08] tramuntanal commented on #4870
@aitorlb can you please check this?

[2019-02-18 14:09] tramuntanal commented on #4871
@aitorlb can you please check this?

[2019-02-18 14:10] tramuntanal commented on #4695
Don't close

[2019-02-18 14:19] carolromero opened #4873 "Cannot copy/paste in the description field of assembly meetings"
**Describe the bug**
In the field "description" of the meetings of an assembly the action copy/paste is not allowed. Neither with keyboard nor with mouse.

**Extra data (please complete the following information):**
 - Decidim Version: 0.15.2
 - Decidim installation: https://www.decidimmataro.cat/

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14254

[2019-02-18 14:27] carolromero opened #4874 "Unable to create meetings within an assembly"
**Describe the bug**
When attempting to create a meeting within an assembly, it displays a message saying that there has been a problem creating the meeting leaving the title and description fields empty.

**Extra data (please complete the following information):**
 - Decidim Version: 0.15.2
 - Decidim installation: https://www.decidimmataro.cat/

**Additional context**
https://meta.decidim.org/pr

[2019-02-18 15:33] oriolgual commented on #4874
@decidim/lot-mods can you take a look at this? It seems it has to do with hashtags. If I set the `hashtaggable` attribute to false at the admin form for meeting I can paste content.

[2019-02-18 15:34] oriolgual commented on #4873
@decidim/lot-mods can you take a look at this? It seems it has to do with hashtags. If I set the `hashtaggable` attribute to false at the admin form for meeting I can paste content.

[2019-02-18 16:26] isaacmg410 commented on #4873
I think the problem is because the textarea editor with quill.js and the hashtags javascript that goes into conflict.
I have been reviewing the Design App's library patterns and there is no such editor with hashtaggs. It is something that @decidim/lot-px has to look at.

[2019-02-18 16:27] isaacmg410 commented on #4874
I've been check in master and it works...

[2019-02-18 16:31] aitorlb commented on #4804
@papaeng89 , sorry for the delay. I forgot about this.
The registration code is received by the users and the admin validates it from the back office.

[2019-02-18 16:40] aitorlb commented on #4771
@oriolgual this is a reminder we'll also need the stack trace for this issue. thanks

[2019-02-18 18:26] tramuntanal commented on #4113
Mmm ok. If I get it correctly then probably this credentials should be filled from the system admin of each organization instead of setting them in the `secrets.yml`. Also in the system admin, organizations could have a flag to dis/enable each omniauth integration.

[2019-02-18 18:26] oriolgual commented on #4874
It also works for me (sorry if you received a notification about this, I previously commented on the wrong PR).

[2019-02-18 18:29] tramuntanal commented on #4807
@aitorlb can you update this issue please?

[2019-02-18 18:34] tramuntanal commented on #4867
Hi @decidim/product ,
This question was already raised: https://github.com/decidim/decidim/issues/2289#issuecomment-353560258
And answered as Withdrawn proposals should be kept in the count: https://github.com/decidim/decidim/issues/2289#issuecomment-353726725

[2019-02-19 07:19] isaacmg410 commented on #4874
Don't worry @oriolgual.
Maybe, this is solved with one of this PR. https://github.com/decidim/decidim/pull/4623 https://github.com/decidim/decidim/pull/4535

[2019-02-19 07:42] oriolgual commented on #4873
@isaacmg410 in any case, you should be able to copy/paste content regardless of the UI. Also, I've seen erratic behaviour when trying to write the description of a meeting, while I'm typing some parts of the text disappear.

[2019-02-19 07:45] isaacmg410 commented on #4873
@oriolgual what you mean with that:

Can you put any video that shows it?

[2019-02-19 08:07] oriolgual commented on #4873
I've tried to reproduce but I wasn't able, ignore this then, sorry.

[2019-02-19 08:09] #4764 closed

[2019-02-19 08:11] oriolgual commented on #4113
I'm not sure this can be done at runtime, you need to define an OmniAuth strategy for each OAuth provider, see https://github.com/decidim/metadecidim/blob/master/config/initializers/omniauth_decidim.rb

[2019-02-19 08:13] oriolgual commented on #4771
Sorry @aitorlb, but there's no stacktrace per se since there wasn't an error. Maybe you could import a copy of the database and try it locally?

[2019-02-19 08:30] oriolgual commented on #4874
Should we close this @carolromero ?

[2019-02-19 08:32] aitorlb commented on #4771
That would be great @oriolgual

[2019-02-19 08:52] #4867 closed

[2019-02-19 10:05] carolromero commented on #4874
Ok, closing

[2019-02-19 10:05] #4874 closed

[2019-02-19 10:16] aitorlb commented on #4804
Also, make sure that you have _this_ activated if you want to recieve emails:

![recieve_emails](https://user-images.githubusercontent.com/40306853/53007547-c1284c00-3437-11e9-8529-7b07b81665dd.png)

[2019-02-19 12:18] tramuntanal commented on #4113
In the https://github.com/omniauth/omniauth/wiki/Strategy-Contribution-Guide there's a "Setup Phase" explained: This optional phase allows developers to configure a strategy dynamically at runtime.

We must see how Devise manages the `options` but it seems possible to leave it blank and then, during strategy initialization, retrieve each organization's info from DB. I even think to remember there'

[2019-02-19 12:58] carolromero commented on #4868
Closing this since we are having the discussion in metadecidim and this is not a bug.

[2019-02-19 13:18] #4868 closed

[2019-02-19 13:30] oriolgual commented on #4113
Thanks for investigating @tramuntanal, it might be possible then (although I think then the OAuthApllication model would need to be updated too). In any case, I wouldn't consider this a bug, but an enhancement.

[2019-02-19 15:05] #4866 closed

[2019-02-19 18:00] papaeng89 commented on #4804
Hi aitorlb,
Yes Send notification by mail is actived but nothing in my mailbox

[2019-02-19 19:29] aitorlb commented on #4807
This issue has been fixed in #4877
Thanks very much @armandfardeau !

[2019-02-19 19:29] #4807 closed

[2019-02-19 19:33] #3852 closed

[2019-02-19 19:33] #4131 closed

[2019-02-19 20:46] aitorlb commented on #4870
Hi @carolromero , I'm seeing that the task `comment` doesn't exist, that would be `comments`.

Available metric tasks, all in **plural** form:
- users
- participants
- followers
- participatory_processes
- assemblies
- comments
- meetings
- proposals
- accepted_proposals
- votes
- endorsements
- survey_answers
- results
- debates

[2019-02-19 20:54] aitorlb commented on #4871
Thanks very much @carolromero and @amiedes for this wonderful job. We'll get back to you soon.

[2019-02-20 04:02] mijailr commented on #4694
The PR #4719 is ready to be merged.

[2019-02-20 16:14] armandfardeau commented on #4807
@aitorlb You're welcome ;)

[2019-02-22 07:58] mrcasals commented on #4299
Closing in favor of #4873

[2019-02-22 07:58] #4299 closed

[2019-02-22 08:19] #4291 closed

[2019-02-22 08:35] mrcasals commented on #4725
@sicambria @armandfardeau what's the status of this issue? Can we close it?

[2019-02-22 09:19] #4670 closed

[2019-02-22 09:41] ahukkanen commented on #4697
I'd like to add here that we are currently developing a module that allows customizing specific terms from the UI:
https://github.com/mainio/decidim-module-term_customizer

It allows you to map the specific term customizations to different contexts, including:

- Specific organization (the one you are currently logged in at)
- Specific participatory space (selecting from a list of all spaces)
- Sp

[2019-02-22 10:07] mrcasals commented on #4749
@leio10 I'm trying to reproduce this bug, but I'm not able to. I'm using the development app with its seed data, but I also ran this in the console:

[code]

This is done to get the collaborator user for process 1 and make it an admin of process 2. Then logging in and visiting the processes section in the admin renders this:

![image](https://user-images.githubusercontent.com/491891/53235167-7b66c

[2019-02-22 10:13] mrcasals commented on #4749
Actually, let me do it the other way around and I'll preemptively close it. If you think this should be reopened, or I missed something, we can reopen it 😄

[2019-02-22 10:22] mrcasals commented on #4713
Related to #2116, which was closed due to inactivity.

The problem is that when the page is rendered, the element the anchor points to does not yet exist, as it's rendered by react. We have a few options:

1. Remove react and render everything from the backend
2. Server-render the react components, keeping react on top.
3. Wait until React has finished rendering the components, get the anchor hash

[2019-02-22 10:27] mrcasals commented on #4713
Actually, I don't think that's a bug. Feature works, but can be improved, so I'll label this as enhancement.

[2019-02-22 10:34] mrcasals commented on #4697
@ahukkanen wow, looks promising! @andreslucena would this solve the issue for you? 😄

[2019-02-22 10:38] mrcasals commented on #4640
#4663 separates the recipients between "affected_users" and "followers" of the affected resource. When I implemented the PR I took the chance and changed how we send the notification: now instead of sending IDs, we're sending the whole resource (kind of what the Option 2 in the opening post suggests).

Closing this!

[2019-02-22 10:38] #4640 closed

[2019-02-22 10:39] mrcasals commented on #4630
@decidim/lot-px can you check this?

[2019-02-22 12:03] mrcasals commented on #4740
@ahukkanen thank you very much for such detailed reports, seriously ❤️ They're really useful when debugging, and the fact that you include a suggested solution is a huge plus!

Thanks for making our work easier! 😄

[2019-02-22 12:51] tramuntanal commented on #4713
React use in the project is anecdotal right now (maybe only comments). I'd take a bet: remove it "forever" or define it as a standard from now on and define when we all should use it.

[2019-02-22 13:09] #4756 closed

[2019-02-22 13:13] mrcasals commented on #4713
I'd remove it, sincerely. As you say, it's anecdotal in the system, and increases the learning curve of developing Decidim, as it adds React & typeScript to the list of technologies Decidim uses.

Still, it's a big change which we (@decidim/lot-core) can't handle right now. So if anyone's up to the challenge, go for it! 😄

[2019-02-22 13:19] tramuntanal commented on #4713
We can't either do this transversal refactor right now, I was adding my opinion on this. (welcome back by the way! :vulcan_salute: )

Although if there is a group of developers/organizations with this interest we can add some work regarding comments in assemblies.

[2019-02-22 13:24] mrcasals commented on #4710
I tried locally and the avatar gets updated as expected. I could also remove it so it got back to the blank avatar, then update to a new one.

Closing.

[2019-02-22 13:24] #4710 closed

[2019-02-22 17:11] leio10 commented on #4749
@mrcasals it takes me a while to find out what is the problem here, but finally I remembered :smile:

After this:
![imagen](https://user-images.githubusercontent.com/453545/53258455-f0a3b680-36cc-11e9-82db-5c82786ab9f3.png)
you should click in a component tab (e.g. Debates) and there should be the Edit button that takes you to the "broken" admin screen

[2019-02-24 21:41] #4652 closed

[2019-02-24 22:05] #4649 closed

[2019-02-25 07:37] #4740 closed

[2019-02-25 08:08] #4795 closed

[2019-02-25 08:13] mrcasals commented on #4749
Ah, I see! Sorry it took so long for us to work on this...

I'll try to reproduce the error and work on it! 😄

[2019-02-25 09:05] mrcasals commented on #4748
@arnaumonty @decidim/product should we remove this collaborator role, then? Is someone using it?

/cc @leio10

[2019-02-25 09:07] mrcasals commented on #4749
@leio10 PR in #4899!

Also, in #4748 I suggest we remove the collaborator role, since it can't really do much. Discuss it there! 😄

[2019-02-25 09:44] josanFFiG commented on #4748
Yes we are using this @mrcasals . At least in decidim.barcelona we assign this role just is terms @arnaumonty explained before: to look into unpublished contents in order to review and validate contents.

[2019-02-25 11:01] mrcasals commented on #4748
@josanFFiG how do you use it? You give a link to the public page to the collaborator? Or give a link to the admin site?

[2019-02-25 12:16] #4696 closed

[2019-02-25 12:45] andreslucena commented on #4697
@ahukkanen looks pretty well, we'll check this out, thanks :D

[2019-02-25 12:50] ahukkanen commented on #4697
@andreslucena Cheers, feel free to leave any feedback, it's still pretty new.

Update also to the previous comment that we have now released the first version which also ships with the translation searching UI. It's been installed also to an actual instance where it is being tested in a live environment as we speak.

Because of this, I've also removed the development status notices from the README

[2019-02-25 13:07] mrcasals commented on #4697
@andreslucena can we close this issue then?

[2019-02-25 15:03] armandfardeau commented on #4725
@mrcasals On my end this can be closed unless @sicambria has a different view on this.

[2019-02-25 15:29] #3651 closed

[2019-02-25 16:25] sicambria commented on #4725
Without proxy it fails for me again. Full log attached, I'm not sure what
went wrong.

Some issues in the log:

default: dpkg-preconfigure: unable to re-open stdin: No such file or
directory

default: ActiveRecord::NotNullViolation: PG::NotNullViolation: ERROR:  null
value in column "users_registration_mode" violates not-null constraint

default: Creating seeds for decidim-core...
default: /tmp/va

[2019-02-25 16:29] sicambria commented on #4725
Full log: https://paste.ee/p/MC8Yp

[2019-02-25 19:15] ahukkanen commented on #2496
I think this should deserve another discussion and evaluation of the possible ways to implement this.

This became again relevant at Helsinki where 200 people were waiting at an event because they could not input new content to the system.

The reason was that the admin forgot to activate the correct step. The steps and their permissions had been already correctly set in advance.

[2019-02-26 07:36] oriolgual commented on #4725
It seems that the previous seeding did not finish correctly. Could you reset the database, remigrate and seed again?

[code]

[2019-02-26 09:32] josanFFiG commented on #4748
We just give them permission and they manage themselves helped by the participation technician that manage/ responsible for the process in order to review contents, structure and so, for its validation or not. They used to be same people on each District so they already now how to manage.

[2019-02-26 14:38] #4749 closed

[2019-02-27 07:49] #3925 closed

[2019-02-27 20:47] sicambria commented on #4725
Sure!

Let's login:
**vagrant ssh**

These four commands seem to run successfully.

_...
-- Creating debates component seeds for the participatory space with ID: 4...
-- Creating sortitions component seeds for the participatory space with ID: 4...
-- Creating blogs component seeds for the participatory space with ID: 4...
Setting random values for the "invitations" badge...
Setting random values f

[2019-02-28 07:54] oriolgual commented on #4725
Apparently `match?` for String is only available from Ruby 2.6, can you update?

[2019-02-28 08:10] mrcasals commented on #4725
I'm using 2.5.3, which is the one Decidim uses:

https://github.com/decidim/decidim/blob/626e95a231c675e9492560e1dc7a3a47b9917c61/.ruby-version#L1

And I don't have this problem, can you try upgrading to at least this version? 😄

[2019-02-28 09:31] carolromero opened #4913 "Missing part of url notification where a file is attached"
**Describe the bug**
When I receive a notification about a new uploaded attachment, part of the url is missing.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/53556222-b65e6d00-3b43-11e9-9c66-847aad27b04c.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.16

**Additional context**
https://meta.decidim.org/processes/bug-report/f/21

[2019-02-28 09:45] aitorlb commented on #4913
@carolromero This was fixed in #4880 . Don't know when it will be available.

[2019-02-28 09:58] microstudi commented on #4133
I have more information about this bug.
It happens when someone tries to authenticate using using decidim as a OAuth provider.
It **only happens** when the user in the Decidim auth server (in this case decidim.barcelona) **has uploaded an image** as avatar.
I guess this error started the moment meta.decidim allowed to signup using decidim.barcelona.
This affects me very much, so I'll be looking in

[2019-02-28 10:12] mrcasals commented on #4913
Closing this, then!

[2019-02-28 10:12] #4913 closed

[2019-02-28 10:37] carolromero opened #4914 ""Back" link brings to "Complete" step when comparing proposals"
**Describe the bug**
*When I was creating a proposal, at the "Compare" step, I clicked on the "Back" link which brought me to the "Complete" step.

**Expected behavior**
I expected to be back to the "Create your proposal" step. I was disturbed mainly because the forms are slightly different.

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installati

[2019-02-28 10:48] mrcasals commented on #4914
This should be assigned to @decidim/lot-mods, since it's something they did 😄 See https://github.com/decidim/decidim/pull/3744 for example

[2019-02-28 10:51] carolromero opened #4915 "Email is case-sensitive during sign-in"
**Describe the bug**
A user tried to login with an email in upper case, but it failed because the email wasn't found.

**Expected behavior**
I expected the email to be case insensitive and the login to success, in particular because Devise seems to be configured like this (see https://github.com/decidim/decidim/blob/master/decidim-core/config/initializers/devise.rb#L54). It is in fact a bug in the

[2019-02-28 10:56] carolromero opened #4916 "Failure when filtering initiatives by tag"
**Describe the bug**
When you want to filter an initiative by a tag the platform fails. See the following link from the Decidim Barcelona site: https://www.decidim.barcelona/initiatives?filter%5Btype%5D%5B%5D=1

The problem is code related and it should be present in all Decidim installations. The specific error error is: Cannot eagerly load the polymorphic association :author

The stacktrace is i

[2019-02-28 14:03] sicambria commented on #4725
Great it works! :)
Could you please update the Ruby version here: http://get.decidim.org ?

For future reference:
_cd decidim_application/bin
rbenv install 2.5.3
rbenv local 2.5.3
./update
rails s_

[2019-02-28 14:57] mrcasals commented on #4725
@andreslucena can you take care of this update, please? Since the file uses content from a gist we can't update it!

[2019-02-28 15:49] carolromero commented on #4914
ok sorry @mrcasals

[2019-03-01 00:15] #4676 closed

[2019-03-01 08:53] #4133 closed

[2019-03-01 08:56] oriolgual commented on #4725
We should also update it at decidim's gemspec

[2019-03-01 09:00] oriolgual commented on #4916
This was fixed by #4614

[2019-03-01 09:00] #4916 closed

[2019-03-04 09:48] #4439 closed

[2019-03-04 10:29] mrcasals commented on #4725
@andreslucena we're bumping the required Ruby version of Decidim to 2.5.3. Can you move the code of your gist to a repo so we can send PRs, please?

[2019-03-04 13:08] #4915 closed

[2019-03-04 14:47] oriolgual commented on #3334
Closing since I haven't seen flaky related errors recently.

[2019-03-04 14:47] #3334 closed

[2019-03-04 14:58] oriolgual commented on #3554
I've tried this with master and I can't reproduce it.

[2019-03-04 14:58] #3554 closed

[2019-03-04 14:59] oriolgual commented on #3573
Can't reproduce this at master.

[2019-03-04 14:59] #3573 closed

[2019-03-04 15:01] oriolgual commented on #3841
Closed by #4641

[2019-03-04 15:01] #3841 closed

[2019-03-05 08:00] #3575 closed

[2019-03-05 09:47] #3693 closed

[2019-03-05 09:54] mrcasals commented on #3863
Solved in `decidim-barcelona`.

[2019-03-05 09:54] #3863 closed

[2019-03-05 09:58] mrcasals commented on #3864
Fixed in `decidim-barcelona`

[2019-03-05 09:58] #3864 closed

[2019-03-05 09:58] #3746 closed

[2019-03-05 10:07] mrcasals commented on #3905
Fixed in #4130

[2019-03-05 10:07] #3905 closed

[2019-03-05 10:09] mrcasals commented on #3814
As stated in the original link in MetaDecidim, this is no longer happening.

[2019-03-05 10:09] #3814 closed

[2019-03-05 10:10] mrcasals commented on #4331
Closing as this does not affect the layout.

[2019-03-05 10:10] #4331 closed

[2019-03-05 10:13] mrcasals commented on #3777
The user was trying to edit a process that did not exist (ie they had a typo in the URL, or the process slug changed right before they visited the page).

Closing.

[2019-03-05 10:13] #3777 closed

[2019-03-05 10:15] oriolgual commented on #3688
Processes are currently ordered by two criteria: promoted status and end date.

[2019-03-05 10:15] #3688 closed

[2019-03-05 10:16] mrcasals commented on #3688
Also, the criterias were unified in #3728.

[2019-03-05 10:18] mrcasals commented on #3269
Spelling has been fixed as of #4908.

[2019-03-05 10:18] #3269 closed

[2019-03-05 10:20] mrcasals commented on #4685
This is no longer happening in `master`:

![image](https://user-images.githubusercontent.com/491891/53798537-b93cd180-3f38-11e9-9902-fbcb1afcb821.png)

Closing.

[2019-03-05 10:20] #4685 closed

[2019-03-05 10:21] oriolgual commented on #3637
Can't reproduce

[2019-03-05 10:21] #3637 closed

[2019-03-05 10:22] mrcasals commented on #3922
Duplicated of #3863, fixed in `decidim-barcelona`.

[2019-03-05 10:22] #3922 closed

[2019-03-05 10:23] mrcasals commented on #3067
Closing since this is a Quill.js issue.

[2019-03-05 10:23] #3067 closed

[2019-03-05 10:34] mrcasals commented on #3813
Can't reproduce in `master`.

[2019-03-05 10:34] #3813 closed

[2019-03-05 11:00] mrcasals commented on #3686
This "only" happens on `single-option` questions (radio buttons). Fix is on the way.

[2019-03-05 11:14] mrcasals commented on #3686
Check #4934 for a bugfix.

[2019-03-05 12:00] mrcasals commented on #3923
Duplicate of #3864

[2019-03-05 12:00] #3923 closed

[2019-03-05 12:00] mrcasals commented on #3917
Duplicate of #3864

[2019-03-05 12:00] #3917 closed

[2019-03-05 13:23] mrcasals commented on #3764
Can't reproduce

[2019-03-05 13:23] #3764 closed

[2019-03-05 13:33] mrcasals commented on #4265
Looks like someone was trying to hack into the system and failed. Closing!

[2019-03-05 13:33] #4265 closed

[2019-03-05 13:40] mrcasals commented on #3983
I can't replicate this 😞 Closing this.

If it comes up again, please open another issue! 😄

[2019-03-05 13:40] #3983 closed

[2019-03-05 13:51] mrcasals commented on #3851
Can't reproduce, closing this.

[2019-03-05 13:51] #3851 closed

[2019-03-05 14:45] mrcasals commented on #4019
Closed in #4936

[2019-03-05 14:45] #4019 closed

[2019-03-05 17:39] #3686 closed

[2019-03-05 22:26] #4003 closed

[2019-03-06 08:07] mrcasals commented on #3903
Hi! After a second thought, I don't think that's really a bug: the feature works as expected. This would be an enhancement, I'm changing the labels!

[2019-03-06 08:15] mrcasals commented on #3907
Can't reproduce in current `master`, this works as expected with a component with hidden supports.

[2019-03-06 08:15] #3907 closed

[2019-03-06 08:38] mrcasals commented on #4660
Hi @ahukkanen! It seems #4809 already addressed most, if not all, of these issues here. There's #4798 that seems to be a duplicate of this issue, and is addressed by #4809.

I've checked and these work:

- Any links from cells
- Any links inputted by the user
- Any links from `resource_locator`

What I found doesn't work:

- When a logged-in user is navigating in a non-default locale and logs out,

[2019-03-06 09:00] #4660 closed

[2019-03-06 09:17] mrcasals commented on #3904
Can't reproduce in current `master`. Currently, if one of the two components have the supports hidden, the supports are not rendered. If both have the supports visible, they display properly:

![image](https://user-images.githubusercontent.com/491891/53869703-05e7e180-3ff9-11e9-8e65-71dbdf5f8fb2.png)

Closing!

[2019-03-06 09:17] #3904 closed

[2019-03-06 09:20] mrcasals commented on #4029
To publish a consultation question you need to edit, scroll to the bottom and click the "Publish" button:

![image](https://user-images.githubusercontent.com/491891/53869948-81e22980-3ff9-11e9-898c-b6f79f2e85d6.png)

[2019-03-06 09:20] #4029 closed

[2019-03-06 10:37] oriolgual commented on #4407
Closing since we can't still reproduce it.

[2019-03-06 10:37] #4407 closed

[2019-03-06 11:31] #3914 closed

[2019-03-06 13:18] mrcasals commented on #4202
I tried moving the files to `lib/`, but got weird errors and I decided to stop. I also checked https://github.com/rmosolgo/graphql-ruby/issues/1505#issuecomment-449407799 but it doesn't seem to apply in our case.

I'll leave this as a known bug, but since we can't do much here I'm closing the issue.

[2019-03-06 13:18] #4202 closed

[2019-03-06 13:20] mrcasals commented on #3766
Can't reproduce in current `master`.

[2019-03-06 13:20] #3766 closed

[2019-03-06 13:38] #4865 closed

[2019-03-06 13:39] mrcasals commented on #3328
Closing in favor of #3562

[2019-03-06 13:39] #3328 closed

[2019-03-06 13:42] mrcasals commented on #3761
A lot of work has been done in surveys lately and I can't reproduce it anymore. Closing!

[2019-03-06 13:42] #3761 closed

[2019-03-06 13:43] mrcasals commented on #4145
Duplicate of #3761

[2019-03-06 13:43] #4145 closed

[2019-03-07 11:42] ahukkanen commented on #3562
@moustachu I would just like to emphasize that when the platform is meant to be used for governmental large organizations, this is still the reality in many places. Updating systems can take even 10+ years for some organizations, even after the official end of life. And many of their internal employees also need to use the system.

I have been presenting Decidim here in Finland for a few cities th

[2019-03-07 13:01] mrcasals commented on #3562
My other option was to completely rewrite comments, dump React/Typescript and use Rails views, but the problem might still persist in other JS files, so at least the current solution (#4946) will take care of those 😄

Thanks @ahukkanen for the awesome reports, once again!

[2019-03-07 13:11] #4714 closed

[2019-03-07 13:12] #3562 closed

[2019-03-08 14:25] oriolgual commented on #4753
Can this be closed? @arnaumonty

[2019-03-08 15:34] arnaumonty commented on #4753
I think that this is solved. But just wait to have the confirmation of @entantoencuanto

[2019-03-08 16:20] entantoencuanto commented on #4753
Yes, I think that the issue can be closed

[2019-03-08 16:59] #4753 closed

[2019-03-10 21:58] #4657 closed

[2019-03-11 08:19] carolromero opened #4952 "Child assemblies are still shown despite having been unpublished"
**Describe the bug**
Despite unpublishing them, child assemblies are still visible on the parent assembly home page, as you can see in: https://www.decidim.barcelona/assemblies/CEMB

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Decidim installation: Metadecidim

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14285

[2019-03-11 11:12] tramuntanal commented on #4952
@aitorlb can you check it please?

[2019-03-11 11:18] tramuntanal commented on #4870
Issue was resolved by the previous comment.

[2019-03-11 11:18] #4870 closed

[2019-03-11 11:20] #4770 closed

[2019-03-11 11:30] tramuntanal commented on #3569
We'll review this.

[2019-03-11 11:31] tramuntanal commented on #3643
@decidim/product this issue is waiting your response :D

[2019-03-11 11:36] tramuntanal commented on #4914
@aitorlb will take a look at it

[2019-03-11 11:36] carolromero commented on #3643
Hi @tramuntanal following the current error message line, let's show:
"There was a problem withdrawing your proposal"

[2019-03-11 14:37] arnaumonty commented on #4655
We still should solve the styles of pdf signatures list

[2019-03-11 15:50] #4555 closed

[2019-03-11 15:55] arnaumonty commented on #4116
Attending that each organization will have its own use of Initiatives we decided to link to the following page URL (....../pages/initiatives). This page doesn't exist, have to be created. I'm not sure which is the best solution: 1) Document better or 2) Create the page by default when you activate the Initiative engine with no content and then you edit the page. What do you think about that @mrcas

[2019-03-11 15:57] arnaumonty commented on #4007
@mrcasals @oriolgual can you check this. I'm not able to reproduce it

[2019-03-11 15:57] arnaumonty commented on #3849
@mrcasals @oriolgual can you check this. I'm not able to reproduce it

[2019-03-11 15:58] arnaumonty commented on #3763
@mrcasals @oriolgual can you check this? I'm not able to reproduce it

[2019-03-11 16:05] arnaumonty commented on #3696
One aspect of this issue has been solved in #4648 and is related to the EPIC #4644 being the minimum number of member of a committee a setting that you can configure. Maybe we have to edit the original explanation text linking to /pages/initiatives and eliminate the number of minimum members of the committee.

[2019-03-11 16:08] arnaumonty commented on #3694
Yes it is designed in this way. This is not a bug.

[2019-03-11 16:08] #3694 closed

[2019-03-11 17:57] josanFFiG commented on #4952
NOTE: https://www.decidim.barcelona/assemblies/CEMB is actually being reused, url refering to this bug have changed, new url is not able for users now.

[2019-03-11 18:09] josanFFiG opened #4958 ""Delete button"is completely missing for assemblies component."
**Describe the bug:**
We haven't been able to find delete button for assemblies nowhere on administration panel.
Use to be place at least on the main information page from each assembly on previous versions.

[https://meta.decidim.org/processes/bug-report/f/210/proposals/14298](https://meta.decidim.org/processes/bug-report/f/210/proposals/14298)

**Extra data:**

- Decidim Version: 0.17.x
- Decidi

[2019-03-11 18:32] mrcasals commented on #4958
This feature was removed on #4641 because it was bugged and caused a lot of problems. I wouldn´t qualify this as a bug but as an enhancement or a new feature.

Reasoning behind this can be found in #4641.

/cc @decidim/product

[2019-03-11 18:36] mrcasals commented on #4116
I don't think we can detect when the initiatives engine is enabled (maybe we can add a migration to the engine that creates the page though).

[2019-03-11 18:37] mrcasals commented on #3849
Duplicate of #4007

[2019-03-11 18:37] #3849 closed

[2019-03-11 18:37] mrcasals commented on #3763
Duplicate of #4007

[2019-03-11 18:37] #3763 closed

[2019-03-11 19:12] oriolgual commented on #4116
Maybe when creating an initiative, we could check if there's a static page with the matching slug and create it if it's missing.

[2019-03-11 19:13] oriolgual commented on #4958
This affects assemblies because they're a participatory space, not just a component.

[2019-03-11 20:48] dependabot[bot] opened #4960 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-12 07:29] #4960 closed

[2019-03-12 09:27] isaacmg410 commented on #3928
I'm not been able to reproduce this error. Have you got more information? params[:u] is present?

[2019-03-12 09:29] tramuntanal commented on #3643
Hi @carolromero can I propose "This proposal can not be withdrawn. Maybe it already has supports or you don't have authorship."

[2019-03-12 09:35] tramuntanal commented on #3643
In fact, the case when the user is not the author is already controlled and the current msg is "You are not authorized to perform this action".

So the case we're in front of is only due to existence of votes. May the message then be "This proposal can not be withdrawn because it already has supports."

[2019-03-12 09:53] carolromero commented on #3643
Hi @tramuntanal I'd go for the second one then:
"This proposal can not be withdrawn because it already has supports."

[2019-03-13 08:50] isaacmg410 commented on #3801
Everything is done!

[2019-03-13 08:50] #3801 closed

[2019-03-14 12:57] #4952 closed

[2019-03-18 10:17] ahukkanen commented on #4873
This issue still exists in 0.16.0 and the processes space. Cannot paste content to the meeting's description field either with CTRL+V or by right clicking the area and selecting "paste". Neither method works.

[2019-03-18 11:31] #3643 closed

[2019-03-18 11:34] #3569 closed

[2019-03-18 19:42] ahukkanen commented on #4873
There is now a fix for the current solution at #4980 but in my opinion this kludge should be replaced by something better. There are still outstanding issues with quill+tribute integration as already mentioned by @oriolgual and also at:
https://github.com/zurb/tribute/issues/87
https://github.com/zurb/tribute/issues/103

This PR fixes it for now, but still leaves these issues unresolved. The curre

[2019-03-18 21:41] mrcasals commented on #4873
Maybe drop Quill and use Trix? https://github.com/basecamp/trix It's the one coming with Rails 6, and has nice support for handling attachments.

[2019-03-18 22:03] ahukkanen commented on #4873
@mrcasals It's probably wise to wait for a stable Rails 6 release before that since ActionText also ships with those parts that are needed e.g. for the attachments to work with Trix out of the box. Swapping it right now is gonna be more work than it's worth. But definitely after that, I support swapping it.

It seems to work nicely together with Tribute as well:
https://gorails.com/episodes/at-men

[2019-03-19 07:50] mrcasals commented on #4873
So what do you suggest we do meanwhile @ahukkanen? Should we merge #4980?

[2019-03-19 07:52] mrcasals commented on #4873
Well, I merged the PR!

[2019-03-19 07:52] mrcasals commented on #4873
Should we close this issue then?

[2019-03-19 07:59] ahukkanen commented on #4873
@mrcasals Yeah, this can be closed as it's resolved by #4980.

A new ticket should be opened for the editor replacement listing all issues with the current one, at least:

- Issues with handling of the mentions/hashtags
- Including images in the content, as discussed at #4595

[2019-03-19 10:54] isaacmg410 commented on #3928
@decidim/product @decidim/lot-core still waiting response...

[2019-03-19 14:16] mrcasals commented on #3928
We don't have any other context than this here.

[2019-03-19 14:20] oriolgual commented on #4007
This was closed by #4626

[2019-03-19 14:20] #4007 closed

[2019-03-19 14:32] #4871 closed

[2019-03-19 14:33] mrcasals opened #4981 "Use trix instead of quill.js"
As explained in #4873, quill.js is giving us problems. I suggest we move to https://github.com/basecamp/trix, which is the default one in Rails 6 and also would enable us to properly implement #4595, even if we don't use `ActiveStorage`

[2019-03-19 14:34] mrcasals commented on #4873
Closing in favor of #4981.

[2019-03-19 14:34] #4873 closed

[2019-03-19 14:38] #4914 closed

[2019-03-21 08:55] isaacmg410 commented on #3928
But, this is still happening? I can't reproduce it...

[2019-03-21 10:08] agustibr opened #4992 "Enhancement to surveys: Add ID and created_at when exporting survey particpant answers"
The ID and created_at fields will be added so that it can be exported to .csv and can be easily managed by the administrator and sorted by creation. When the ID field exists there will be no problem with duplicate records, since they will be differentiated even though the creation date is the same.

via: [**Metadecidim**: Enhancement to surveys: Id + Visible without logging](https://meta.decidim.o

[2019-03-21 10:11] agustibr opened #4993 "Enhancement to surveys: readonly questionnaire to non logged participants"
Users of the platform, even if they are not logged in, should be able to see the questions in the questionnaires. These questions can not be answered, since it will not be possible to control that the same user responds more than once to the questions, thus losing the reliability and integrity of the answers.

via: [**Metadecidim**: Enhancement to surveys: Id + Visible without logging](https://met

[2019-03-21 10:54] aitorlb opened #4994 "Chronologically order participatory processes"
Currently, participatory processes are displayed ordered always in the following maner:

The proposal is to show the newest first.

The following changes will be made to participatory processes filters:
- **Past**: order by closest `end_date`
- **Active**, **All**, **Upcoming**: order by closest `start_date`

#### Related to
https://meta.decidim.org/processes/roadmap/f/122/proposals/14213

[2019-03-21 11:46] mrcasals commented on #4994
@decidim/product is this accepted?

[2019-03-21 11:47] #4993 closed

[2019-03-21 11:48] #4992 closed

[2019-03-21 11:49] mrcasals commented on #3928
Closing this issue.

[2019-03-21 11:49] #3928 closed

[2019-03-22 11:17] aitorlb commented on #4771
Hi @decidim/product , I have a questions related to this issue:
- What happens if a recipient of a notificaion/email is an organization?
- Who should be notified? All admins?

[2019-03-22 11:26] aitorlb commented on #4640
I'm having issues in #4771 because the recipient is an organization:

recipient = #<Decidim::Organization:0x00007f9be41a1530>
recipient.respond_to?(:notification_types) = false

recipient = #<Decidim::Organization:0x00007f9be41a1530>
recipient.respond_to?(:notification_types) = false

[2019-03-22 13:05] agustibr opened #5000 "Change Space button text CTA when it has no components"
**Feature**
When a Space does not have any component (enabled or active), the Call to Action button will say "More Info" and not "participate".

This could be applied to:

-  Assemblies
- Participatory Processes
- Conferences

Related to: [**Metadecidim**: Change text button assemblies when there are no components](https://meta.decidim.org/processes/roadmap/f/122/proposals/14315)

[2019-03-22 13:05] carolromero commented on #4771
Hi @aitorlb,
As a general criteria, the admin/s of that particular participation space should be notified, not all (super)admins.

[2019-03-22 13:42] aitorlb commented on #4771
Thanks @carolromero , I see that this issue was resolved in #4663, it was only a matter of updating the amendments code.

[2019-03-22 16:24] #4515 closed

[2019-03-25 10:36] carolromero commented on #4994
Hi @aitorlb and @mrcasals yes, this has been discussed and accepted.

[2019-03-25 12:50] tramuntanal opened #5007 "[EPIC] Department Admin"
## Summary
Right now, when an organization's department wants to create a participative process, it is Administrator's responsibility to create the process and assign the administrators of the proces as requested by the department.

This development wants to solve the previous situation by adding a new "Department Admin" role in Decidim so that big organizations don't accumulate this bureaucratic

[2019-03-25 12:58] tramuntanal opened #5008 "Create new "Department Admin" role"
Platform's Admins should be able to create users with the new "Department Admins" role.

This will require to:
- [ ] create a new Admin role.
- [ ] Create admin form will render a help explaining the area == department "metaphor".
- [ ] when the new "department admin" role is created, a department (area) selector should appear for the Admin to select the department for this user.
- [ ] When the ne

[2019-03-25 13:32] aitorlb opened #5009 "Processes and Assemblies: Table headers sortable links"
#### Feature
Change table headers to sortable link so participatory processes and assemblies can be sorted in the admin dashboard by:
- Title
- Created at
- Private
- Published

Additionally, add new table column to participatory processes (with sortable table header):
- Process group

#### Related to
https://meta.decidim.org/processes/roadmap/f/122/proposals/14327

[2019-03-25 13:38] mrcasals commented on #5007
Hi @tramuntanal! What do you think about working towards https://github.com/decidim/decidim/issues/3503? The needs are clear for Generalitat de Catalunya, and having a bunch of roles might work well for big organizations but might be chaotic for smaller ones. Working towards dynamic roles would let organizations define their own roles, and then assign, for each role, what permissions it holds. The

[2019-03-25 13:49] andreslucena commented on #5007
What's a "Department"? Is that an Area or a Scope?

I agree with @mrcasals but I can understand that making the change as described on #3503 could be outside of the scope of the current contract.

[2019-03-25 14:11] andreslucena commented on #5007
Related with https://meta.decidim.org/processes/roadmap/f/122/proposals/14293

[2019-03-25 14:45] tramuntanal commented on #5007
Hi @andreslucena a "Department" is an Area. An Area of the organization. We'll explain the department/area relation in the help of the admin panel.
[code]

Right now the scope of our task has already been defined so we're not able to take #3503.

Also, I think that #3503 does not resolve this feature (#5007) because what we want here is to define a set of spaces that a given Admin role can see and

[2019-03-25 14:51] mrcasals commented on #5007
Well, you could adapt #3503 to make it work for your case!

[2019-03-25 16:27] tramuntanal commented on #5007
Right now the scope of our task has already been defined so we're not able to take #3503.

[2019-03-25 18:23] mrcasals commented on #5007
@tramuntanal @decidim/product sorry if I missed something, but the link to metadecidim (https://meta.decidim.org/processes/roadmap/f/122/proposals/14293, version 1) explicitly tate "dynamic role" in the title, but then reading the description I dont understand how is the proposed role dynamic in any way.

Also, the related issue in the client repo (https://github.com/gencat/participa/issues/51) al

[2019-03-25 18:45] mrcasals commented on #5007
I copied my previous comment on MEtaDecidim, so we can keep the discussion there if you want.

[2019-03-26 14:24] tramuntanal commented on #5007
Refused by @decidim/product at meta.decidim: https://meta.decidim.org/processes/roadmap/f/122/proposals/14293

[2019-03-26 14:24] #5007 closed

[2019-03-26 14:25] tramuntanal commented on #5008
#5007 is not going to be implemented in Decidim.

[2019-03-26 14:25] #5008 closed

[2019-03-28 09:00] carolromero opened #5018 "Error related to special characters to user names"
**Describe the bug**
We have had two problems related to special characters:

-A user who has a name and signs of parentheses, when trying to change the locale can not.
-When you invite the platform administrator from the system, if the name contains special characters, you can not accept the invitation.

The problem may come from the gem device and the behavior with the special characters

**Scre

[2019-03-28 09:16] carolromero opened #5019 "Random order is re-calculated when user goes back to proposals list"
**Describe the bug**
In case the user browses back and fort between the proposals list and then a single proposal, the random order is being recalculated constantly. This is very confusing for the user because they lose track where they are going.

In case the random order is the default, it should carry the random seed in the URLs to avoid this issue.

**Extra data (please complete the following

[2019-03-28 09:20] carolromero opened #5020 "Stats for processes: Participants"
**Describe the bug**

The metric of participants must be calculated from:
Participants (calculated from unique users who have performed any of these actions):

Create a proposal (problems)
Create a debate
Answer a survey
Leave a comment
Give support to a proposal (problems)
Endorse
Vote a participatory budgeting project

Currently, if a proposal is official (the proposal is from the organization a

[2019-03-28 09:24] ahukkanen commented on #5019
I was recently thinking about this and there is actually still the problem with this that if the user clicks the back button in their browser, there is no way to store the random seed in the URL.

Maybe a better way would be to store it in a session variable to ensure it is always set?

[2019-03-28 09:36] carolromero opened #5021 "UTF8 & Unicode & Crashes"
**Describe the bug**
More of a gotcha for those in the English speaking world.

The default encoding in config/database.yml is unicode.

My ubuntu system defaults to UTF8 encoding, and when I installed postgres it defaulted to UTF8 encoding.

I was getting lots of "PG Invalid byte sequence for encoding UTF8" crashes and it took me awhile to workout what was going on.

I ended up trashing my databa

[2019-03-28 09:45] carolromero commented on #4834
reopening this since it is still happening

[2019-03-28 10:35] carolromero commented on #4834
sorry my bad! it's working as expected :)

[2019-03-28 10:35] #4834 closed

[2019-03-28 11:22] tramuntanal opened #5024 "Participatory text - Amendments are displayed in the index of the participatory text"
#### This is a bug report

#### What happened?
The amendments that are created in the participatory texts are displayed in the index.

See "Article 4 Objectives" at the bottom of the following image:
![imatge](https://user-images.githubusercontent.com/199462/55153953-008f3a00-5154-11e9-89ff-0faf1c33565a.png)

#### What do you expect?
Amendments should not be rendered in the participatory text.

[2019-03-28 11:34] tramuntanal commented on #5020
Hi @decidim/product we'll check it with @MarcReniu and @aitorlb  but is this a bug (participants from official proposals are not taken into account), a change (specifications for what a participant is) or both?

[2019-03-28 12:19] ahukkanen commented on #5021
I have also seen lots of these errors and have always wondered what is causing this. This has happened on machines which have PostgreSQL default set to `utf8` and with Decidim configured to use `unicode`. However, I am not quite convinced simply changing the `unicode` encoding to `utf8` in the database configs would fix this.

I have also managed to fix this by scrapping the database and creating

[2019-03-28 13:56] #5024 closed

[2019-03-29 08:15] #5000 closed

[2019-03-29 20:59] ahukkanen commented on #5019
Also one thing to note about this is the mentions through the content parsers. The mentions look quite ugly in case the random seed is carried in the URL. Normal users do not realize that these parameters are irrelevant regarding the mention.

This would support carrying the random seed (and possibly the search parameters as well) in session variables.

[2019-03-31 10:14] #4724 closed

[2019-04-01 07:25] isaacmg410 opened #5027 "[EPIC] Segmentation of the target audience of the Newsletter (Selective Newsletter)"
## Is your feature request related to a problem? Please describe.
There is currently a need to select the sending of newsletters beyond whether users become followers of a participatory process or participation space (gamification). You want to be able to send newsletters according to the participation or the interest of the users.

The idea is to extend the functionality that already begins to ha

[2019-04-01 07:44] isaacmg410 opened #5028 "[EPIC] Segmentation of the target audience of the Newsletter (Selective Newsletter)"
## Is your feature request related to a problem? Please describe.
There is currently a need to select the sending of newsletters beyond whether users become followers of a participatory process or participation space (gamification). You want to be able to send newsletters according to the participation or the interest of the users.

The idea is to extend the functionality that already begins to ha

[2019-04-01 07:45] mrcasals commented on #5027
Hi @isaacmg410, some parts of this issue are not translated to English, can you translate them please? 😄

[2019-04-01 07:47] mrcasals commented on #5027
Also, isn't #5028 a duplicate of this one? 😕

[2019-04-01 07:48] isaacmg410 commented on #5027
ups, sorry, De good one is #5028 I will close this one

[2019-04-01 07:48] #5027 closed

[2019-04-01 07:54] carolromero opened #5029 "Undefined method `nickname' for Decidim::Organization"
**Describe the bug**
When a user follows an organization the notifications give a server error.
Message: undefined method `nickname' for Decidim::Organization
Error Class: ActionView::Template::Error
Where: notifications#index
App Version: Rails/5.2.2

**Additional context**
https://metadecidim.s3.amazonaws.com/uploads/decidim/attachment/file/2111/backtrace.pdf
https://meta.decidim.org/processes/b

[2019-04-01 08:03] carolromero opened #5030 "Unauthorized actions with user manager roles"
**Describe the bug**
If a user is given the user manager permissions, they cannot access many of the actions on the site. I believe this is unintentional since these users can still be real users of the system that need to perform actions on the site (the same way as "normal" admins can).

I believe the reason can be found from the following line of code:
https://github.com/decidim/decidim/blob/6a

[2019-04-01 08:10] mrcasals commented on #5029
@decidim/product how do you follow an organization? 😕

[2019-04-01 08:11] carolromero opened #5031 "IE11 - Notification settings are not working"
**Describe the bug**
The notification settings under My account > Notification settings are not working with IE11.

When clicking on the settings switches, nothing happens. Nothing is also logged to the developer console.

**Extra data (please complete the following information):**
 - Decidim Version: 0.17

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14307

[2019-04-01 08:16] carolromero opened #5032 "The verifier errors are shown duplicated one over the other"
**Describe the bug**

Errors are shown duplicated one over the other. (see attached image)

This is because the helper of the verifier form, 'authorization_form_for' inherits from 'decidim_form_for' and this one, already has its way of rendering the errors with the method 'base_error_messages'

Check: https://github.com/decidim/decidim/blob/7372946d74f88820a3ff710373f2fab6460ca435/decidim-core/app

[2019-04-01 08:22] carolromero opened #5033 "Cannot cancel an up/a down vote on a comment"
**Describe the bug**
Currently after the user has up or down voted a comment, that cannot be cancelled.

It should be possible for the users to cancel their actions due to misclicks. The current functionality can lead to unintended visibility for a comment that may not deserve it (or the other way around).

**Extra data (please complete the following information):**
 - Decidim Version: 0.16
 - Dec

[2019-04-01 09:12] carolromero opened #5034 "Do not notify if the user triggers a notification to themselves"
**Describe the bug**
When I leave a comment where I refer to a proposal that I have created myself, the system sends a notification to me.

In my opinion, this is unnecessary and should be considered a bug because I know that I just referred to the proposal, as it was me that left the comment.

In general, I think all notifications sent to the user that triggered them should be omitted for that us

[2019-04-01 09:48] carolromero commented on #5029
@paranoix could you please chime in? Are you referring here to Organization as a Group?
I realize now that I can not see the content of the attached PDF file :/

[2019-04-01 10:55] #4783 closed

[2019-04-01 11:15] ahukkanen opened #5035 "Multifield sections do not currently work correctly with IE11"
I add this issue directly to GitHub because Metadecidim got broken when I reported the issue there.

**Describe the bug**

The `<template>` tag used in various dynamic multifield forms in Decidim does not function properly in IE11. When used in IE11, the contents of the `<template>` element are interpreted to be inside the form itself. Therefore, this may break in case the `<template>` tag appears

[2019-04-01 11:17] ahukkanen opened #5036 "Content sanitizing breaks proposal content"
**Describe the bug**
Apparently there is some content sanitizing happening that causes the proposal page to break. An example of such page can be seen at:
https://meta.decidim.org/processes/bug-report/f/210/proposals/14372

**Extra data**

- Decidim Version: 0.16
- Decidim installation: Metadecidim

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14373

[2019-04-01 11:20] carolromero commented on #5020
Hello @tramuntanal, I consider it a bug. Note that the specifications state that a participant is anyone who performs any of the actions listed above, regardless of who is the author of the proposal.
Which leads me to think: will the same thing happen with proposals that come from a meeting or a group? Can you check it too? Thanks!

[2019-04-01 11:55] #4785 closed

[2019-04-01 16:40] tramuntanal commented on #5020
Hi @carolromero !
Yes indeed the fact that participation in official proposals is being ignored is a bug. My question was asking if actions that define a participant had changed, but @isaacmg410 told me that this conditions remain the same.

Of course, @aitorlb is going to check this issue and also review it for meeting and group proposals. Thanks for the insight!

[2019-04-02 01:55] #4654 closed

[2019-04-02 10:47] #4869 closed

[2019-04-02 12:25] #4793 closed

[2019-04-02 16:04] tramuntanal opened #5040 "Do not allow to delete areas when they have dependent models"
When an area has dependent models, i.e. processes or assemblies, it is still possible to delete it.

It should not be possible to delete an Area if it has dependent elements.

[2019-04-03 07:09] #5031 closed

[2019-04-03 07:11] #5033 closed

[2019-04-03 08:48] carolromero commented on #5028
Hi @isaacmg410 thanks for creating the issue with the detailed specifications.
Just a couple of questions:
- From your mockup it can be inferred that the Scope selector is multi-selection, right? That is to say, an admin can select more than one scope to send the newsletter.
- I also understand that sending newsletters to the entire platform will continue to work as before, that is, to **all parti

[2019-04-03 08:58] isaacmg410 commented on #5028
@carolromero thats it!
- Admin can select more than one scope to send the newsletter.
- Yes! It will works as before. It will send to the users who have a confirmed account, and have activated the option to receive newsletters (not notifications). Always will check if user have activated the option to receive newsletters (included when sent to participants and followers)

[2019-04-03 09:26] carolromero commented on #5028
Sounds good! thanks for the info. Can't wait to check this very-long-wanted feature :)

[2019-04-03 10:14] aitorlb opened #5046 "Filter spaces by scope and area"
#### Feature
Filter spaces by scope and area. Applied to:
- Processes
- Assemblies

#### Related to
https://meta.decidim.org/processes/roadmap/f/122/proposals/14211

[2019-04-03 19:23] #5040 closed

[2019-04-03 19:26] tramuntanal commented on #5040
Closed via #5041

[2019-04-04 08:37] israelbuitron opened #5049 "PG::UndefinedFunction: ERROR: operator does not exist: jsonb - unknown"
I was installing an instance of Decidim, and when I execute `bin/rails db:migrate`, it throws these messages:

[code]

Error messages point to method `up` at line `6` in `db/migrate/20190404024613_rename_maximum_votes_per_proposal_to_threshold_per_proposal.decidim.rb`:
[code]

[2019-04-04 09:20] mrcasals commented on #5049
Hi @israelbuitron! What version of PostgreSQL are you using?

Minimum required version is 9.5, as per https://github.com/decidim/decidim/blob/master/docs/manual-installation.md

[2019-04-04 09:38] #4771 closed

[2019-04-04 12:08] arnaumonty opened #5051 "Call to action button in steps box in a participatory process is not working correctly"
The call to action button in steps box is not working correctly:

![image](https://user-images.githubusercontent.com/3855859/55553554-c9370500-56e0-11e9-9c09-d68a82ec0233.png)

The configuration of the URL of the call to action is done from [here](https://meta.decidim.org/admin/participatory_processes/bug-report/steps/1100/edit?locale=ca ) in the configuration of the steps.

It seems that there is

[2019-04-04 12:17] mrcasals commented on #5051
Ah yes, the button appends the DB content (in this case, `/f/210/proposals/new`) to the current URL (in this case, `meta.decidim.org/processes/bug-report?locale=ca`). This causes a wrongly-formatted URL.

We need to grab the current URL, strip the params, append the DB content and reappend the params.

[2019-04-05 07:07] #5035 closed

[2019-04-05 09:17] israelbuitron commented on #5049
@mrcasals  Yes, I have installed PostgreSQL `9.5`:
[code]

[2019-04-05 10:34] arnaumonty opened #5055 "The process stats doesn't show correctly."
The process stats doesn't show correctly on:
- Home page
- process main page
- statistics process page

URL: https://meta.decidim.org/
Screenshot:
![image](https://user-images.githubusercontent.com/3855859/55621848-e6caa400-579e-11e9-9240-e58dd57bee69.png)

URL: https://staging.decidim.codegram.com/processes/quod-autem
Screenshot:
![image](https://user-images.githubusercontent.com/3855859/55621481

[2019-04-05 10:51] mrcasals commented on #5055
Possibly a side-effect of #4696, we'll need to investigate.

[2019-04-05 10:57] arnaumonty opened #5056 "Origen filters don't work properly on proposals"
Origen filters don't work properly on proposals:
- It doesn't count properly
- it doesn't filter properly, filtering by origin Citizens.

URL: https://staging.decidim.codegram.com/processes/quod-autem/f/3/proposals?utf8=%E2%9C%93&filter%5Bsearch_text%5D=&filter%5Borigin%5D=&filter%5Borigin%5D=citizens&filter%5Bstate%5D=&filter%5Bstate%5D=except_rejected&filter%5Bactivity%5D%5B%5D=&filter%5Bcategor

[2019-04-05 11:20] arnaumonty opened #5057 "I can't create new component proposals in a process"
I can't create new component proposals in a process
it returns a 500 error.

It happens de same when you try to save an existing proposals component. It happens the same in assemblies.

URL to reproduce the error:
https://staging.decidim.codegram.com/admin/participatory_processes/quod-autem/components?type=proposals

[2019-04-05 14:10] arnaumonty opened #5058 "User Groups can't create initatives"
User groups verified should be able to create a citizen initiative but in 0.17 they can't.

On the wizard of creation initiatives, there is no field to select user or user group creating the initiative as we have in proposal creation

Related to #3893

[2019-04-06 08:51] KrzysztofMadejski opened #5059 "Add bundler version to documentation (Bundler v2.0.1 doesn't work)"
I tried to create account on Decidim but registration screen keeps coming back after clicking "register".  Both on Catalan and English version.

Please add `gem install bundler -v "~>1.17"` to the documentation. Using current bundler (2.0.1) results in an error:
[code]

[2019-04-06 09:45] KrzysztofMadejski commented on #5059
Another problem with setting up decidim:
Also default passwords for user & admin & system don't work `user@example.org | decidim123456` . The hash for development is set, is it possible that hashing methods depends on gem versions or sth else?

[2019-04-06 10:19] KrzysztofMadejski commented on #5059
Regarding original issue: Either specify bundler or update Gemfile as mentioned here:
https://github.com/decidim/decidim/blob/master/Dockerfile.design#L14-L18

[2019-04-06 17:44] #5046 closed

[2019-04-06 17:44] #5009 closed

[2019-04-06 17:44] #4994 closed

[2019-04-06 22:13] aitorlb opened #5062 "Add new metadata fields to ParticipatoryProcesses"
#### Feature
Add new metadata fields to `ParticipatoryProcesses`:
- `cost`
- `has_summary_record`

#### Related to
https://meta.decidim.org/processes/roadmap/f/122/proposals/14386

[2019-04-07 19:00] tramuntanal opened #5063 "Extend module's Permissions"
This is to open a discussion about how to extend the permissions system in order to be able to extend User's permissions. The origin of the interest can be found here:
- https://meta.decidim.org/processes/roadmap/f/122/proposals/14330
- https://meta.decidim.org/processes/roadmap/f/122/proposals/14293

Right now I see that `NeedsPermission` implements the api for the permissions system. `NeedsPermi

[2019-04-08 07:03] mrcasals commented on #5062
@decidim/product is this accepted? I don't see any comment/endorsement in the original proposal in MetaDecidim.

[2019-04-08 07:28] mrcasals commented on #5063
Yes, the order is relevant! The later you evaluate a permission, the more importance it has. This is because an allowed permission can be disallowed, but a disallowed one cannot be allowed later in the chain:

https://github.com/decidim/decidim/blob/0bae12cc8d1765ed1fadfd06038936c907e8f9ad/decidim-core/app/models/decidim/permission_action.rb#L24-L31

See how the `allow!` method checks for the stat

[2019-04-08 07:54] carolromero opened #5065 "In e-mail notifications, the participant's nickname is not rendered correctly"
**Describe the bug**
When I receive an email notification and a participant has been mentioned, her nickname does not appear well rendered.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/55707541-20402100-59e4-11e9-9380-49ca31ee0da4.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.17
 - Decidim installation: Metadecidim

[2019-04-08 07:55] oriolgual commented on #5057
This is a specific error for decidim-staging (the database is full).

[2019-04-08 07:55] #5057 closed

[2019-04-08 08:07] oriolgual commented on #5056
In this cases since the proposals had multiple authors, it was including them becase the other authors were users, not the organization.

[2019-04-08 08:16] oriolgual commented on #5056
This is because it's including emendations in the search but then they don't get rendered

[2019-04-08 08:21] oriolgual commented on #5056
@decidim/lot-mods could you please take a look at this? `ProposalSearch` should ignore emendations I guess.

[2019-04-08 08:30] carolromero commented on #5062
@aitorlb yes please, let's try to follow the workflow to save comments here and there :relieved:
As agreed in [Metadecidim](https://meta.decidim.org/processes/roadmap/f/122/proposals/14386) this should be moved to Generalitat's repository

[2019-04-08 08:35] andreslucena commented on #5063
Hi! Is there any link to Meta to understand the use case here? Thanks

[2019-04-08 08:40] oriolgual commented on #5055
Confirmed it is related to #4882, see: https://github.com/decidim/decidim/pull/4882/files#diff-406e8a56bb4d4ec200b20a456a8e729aR16

The problem is that previously to the change Sass was converting the hex value to a RGB one, but this isn't happening with custom properties.

@mijailr @andreslucena could you please take a look at this?

[2019-04-08 08:41] mrcasals commented on #5062
Closing this issue and the related PR.

[2019-04-08 08:41] #5062 closed

[2019-04-08 09:01] tramuntanal commented on #5056
@oriolgual I think to remember that @decidim/product agreed to render emendations in the list of proposals (as emendations are one kind of proposals).

@agustibr can you check if the problem is
- that emendations should be filtered from count
- or that emendations should be ignored when counting

Also, a few days ago I did a PR to hide emendations in participatory texts. I think that PR should not

[2019-04-08 09:06] tramuntanal commented on #5056
The PR I meant is https://github.com/decidim/decidim/pull/5025/files and reviewing it, it should not be the culprit of the behaviour change.

[2019-04-08 09:06] oriolgual commented on #5058
@arnaumonty I'm able to create a initiative as a user group with the latest version. Keep in mind that the user group must be verified, and you should be an admin of it. Also, the field doesn't apepar until the `create` step.

[2019-04-08 09:06] #5058 closed

[2019-04-08 09:10] oriolgual commented on #5056
Just to help with something, emendations aren't rendered because of this:

https://github.com/decidim/decidim/blob/master/decidim-proposals/app/views/decidim/proposals/proposals/_proposal.html.erb#L4

[2019-04-08 09:10] josanFFiG commented on #5058
Checked! And solved! Thanks @oriolgual !

[2019-04-08 09:11] oriolgual commented on #5056
The problem, I guess, is that the search is not taking into account if amendments are enabled.

[2019-04-08 09:12] isaacmg410 commented on #4958
Since, this is caused by this https://github.com/decidim/decidim/pull/4641, it's not a bug caused by `lot-mods`

[2019-04-08 09:15] carolromero opened #5066 "In the activity, the proposals of the groups of participants show the participant who created it"
**Describe the bug**
In the activity block, if a group of participants makes a proposal or a comment, it shows the participant who made the comment or proposal on behalf of the group of participants.

:point_right: Also, in email notifications, the participant's name is displayed instead of the group name.

**Expected behavior**
I expect that in the activity block, the group of participants and no

[2019-04-08 09:32] aitorlb commented on #5062
@decidim/product How about the grouped common fields in the admin dashboard for processes and assemblies? Do you want that in another PR?
- Admin assemblies form (large image)
https://drive.google.com/file/d/156sZkkx4sPT5cF-nSP93znUN9NMrrJbf/view?usp=sharing
- Admin processes form (large image)
https://drive.google.com/file/d/1-4sW6xDnbxIfmVrhf8Jkhp-0m92Yp2TA/view?usp=sharing

[2019-04-08 09:35] andreslucena opened #5067 "Can't create Participatory Texts"
As an Administrator of the platform I can't create Participatory Texts.

# Explanation

When I:
* Create a Proposals Component
* Configure it with "Participatory texts enabled"
* Go to "Import document" (on "Manage" -> "Participatory Texts")

I get a 500 error.

Checked on http://staging.decidim.codegram.com (master) and on https://dddc.decodeproject.eu (0.17.0).

# Traceback
[code]

[2019-04-08 09:38] andreslucena commented on #5067
On staging it can be checked here: http://staging.decidim.codegram.com/admin/participatory_processes/similique-perspiciatis/components/85/manage/participatory_texts/new_import (Could change when database rebuilds)

[2019-04-08 09:39] isaacmg410 commented on #5067
@andreslucena it's fixed since this https://github.com/decidim/decidim/pull/5015 was merged into master.

[2019-04-08 09:51] aitorlb commented on #5056
There are a bunch of things that do not take  `amendments_enabled` into account.

I propose that @decidim/product decides the behaviour of this and this [other issue](https://github.com/decidim/decidim/issues/4826), which are related.
- What should happen with existing amendments after disabling the feature?

[2019-04-08 10:07] carolromero commented on #5062
@aitorlb yes, if you could that, thank you!

[2019-04-08 10:39] tramuntanal commented on #5063
Hi @andreslucena ,
This Issue comes from:
- https://meta.decidim.org/processes/roadmap/f/122/proposals/14293
- https://meta.decidim.org/processes/roadmap/f/122/proposals/14330

I'm updating it now.

[2019-04-08 10:54] tramuntanal commented on #5063
Thanks @mrcasals for your quick feedback.
I'll take your comment about the ordering of the permissions into account.

[2019-04-08 12:39] andreslucena commented on #2623
I've just updated the checklist with Assemblies and Pages - they're already exposed on GraphQL

[2019-04-08 13:20] agustibr commented on #5056
@tramuntanal when developing `amendments` it was agreed to show `emendations` in `proposals#index` with the possibility to filter them.

[2019-04-08 13:31] tramuntanal commented on #5056
So @oriolgual is right, the problem is in the `ProposalSearch`. Can you check it @aitorlb or @agustibr please?

[2019-04-08 14:01] aitorlb commented on #5056
@tramuntanal there's two ways we can go about this:

When `amendments_enabled` is false:
- `ProposalSearch` should ignore existing amendments (which are hidden)
- Existing amendments should not be hidden

I guess that the second option is what @carolromero complained about in #4826

Obviously, there's no need to modify `ProposalSearch` if the second option is chosen.

[2019-04-08 14:10] andreslucena commented on #5067
Ok, confirmed that's fixed on staging and 0.17-stable. Thanks!
Closing this issue

[2019-04-08 14:10] #5067 closed

[2019-04-08 14:21] tramuntanal commented on #5056
@aitorlb when `amendments_enabled` is `false`, then `ProposalSearch` should ignore existing amendments (which are already hidden in the view) so that they are not counted.

[2019-04-08 18:32] aitorlb commented on #5029
It would be interesting to know what created this notification.

[2019-04-09 12:45] carolromero opened #5072 "Error visiting a proposal on a participatory text-enabled component"
**Describe the bug**
If I have a proposals component with some proposals, and I activate the "participatory text" flag for the component, and I visit a proposal in the public area, then I get a server error (undefined method `title' for nil:NilClass).

**Expected behavior**
I expected to be able to visit the proposal.

**Extra data (please complete the following information):**
 - Decidim Version:

[2019-04-09 12:50] carolromero opened #5074 "Error 500 when creating a participatory text without an uploaded file"
**Describe the bug**
If I have a proposal component with the "participatory texts" flag active, and I try to create a participatory text without uploading any file, the platform generates a server error (undefined method "content_type" for nil).

**Expected behavior**
The form should validate there's an uploaded document.

**Extra data (please complete the following information):**
 - Decidim Vers

[2019-04-09 12:56] carolromero opened #5075 "Free textfield in survey disabled when clicking on it on Safari"
**Describe the bug**
This bug could only be reproduced with Safari on Mac. Chrome and Firefox are unaffected.

When answering a question with alternatives (single choice, multiple choice or ranking), if a free text alternative is available, clicking on the textfield will uncheck the box, making it impossible to enter text.

This is more annoying than blocking as using TAB or clicking many times wi

[2019-04-09 13:13] #4826 closed

[2019-04-09 13:13] #5056 closed

[2019-04-09 13:45] carolromero opened #5077 "Impossible to access/edit/delete a page"
**Describe the bug**
I created a Page called "history" in lid.decidim.barcelona:

https://lid.decidim.barcelona/pages?locale=en

Then some problems came up. It is not possible to:

1-Acces to the page, with or without participant logged:
https://lid.decidim.barcelona/pages/https:%2F%2Flid.decidim.barcelona%2Fassemblies%2Finvestigacion%2Ff%2F336%2F?locale=en

2- Try to edit this page (via admin pan

[2019-04-10 08:08] oriolgual commented on #5077
It seems that we aren't validating the `slug` for static pages, a full URL was used as slug and was causing the problems.

[2019-04-10 11:06] arnaumonty commented on #4773
We have been discussing this in @decidim/product and we should go ahead with this. We really need a way to show if we have child assemblies.

cc/ @tramuntanal @isaacmg410

[2019-04-11 18:10] #5051 closed

[2019-04-12 10:00] mrcasals commented on #5077
So, to solve this, these steps need to be done:

1. The user should edit the static page slug and leave it as `investigacion`. This should fix their issue. @carolromero can you tell them?
2. I'll work on fixing the form so that only paths are allowed.

[2019-04-12 10:56] carolromero commented on #5077
.@mrcasals OK I tell them

[2019-04-12 11:00] oriolgual commented on #5077
@mrcasals @carolromero the issue is already solved at production!

[2019-04-12 13:16] mrcasals commented on #5018
Since #4317, user names don't allow weird characters, but I guess some might still have them.

I'll add a migration that removes them.

[2019-04-14 09:04] aitorlb commented on #4804
@papaeng89 are you still having issues?
The validation code is generated when a user (can be an admin, try it) joins a meeting from the public view. Then, that code can be validated from the backoffice by an admin.

[2019-04-15 08:59] papaeng89 commented on #4804
Hi @aitorlb,

It's works !!! Thanks a lot

papaeng

[2019-04-15 09:00] #4804 closed

[2019-04-15 09:01] aitorlb commented on #4804
You're welcome, @papaeng89 ! Sorry for replying so late.

[2019-04-15 11:36] #4693 closed

[2019-04-15 12:36] #4689 closed

[2019-04-15 13:24] agustibr commented on #5055
I think this should be fixed with Pull Request #5071 (merged)

[2019-04-15 14:31] #5020 closed

[2019-04-16 07:16] #5055 closed

[2019-04-16 11:03] aitorlb opened #5089 "Add optional parameter :col_sep to CSV exporter"
Currently, `Decidim::Exporters::CSV` exports all data separated by `;`.

https://github.com/decidim/decidim/blob/a29846eb785401a54bde989f270b306fe4b6f733/decidim-core/lib/decidim/exporters/csv.rb#L19

It would be nice to add an optional parameter so the `String` placed between each field can be changed.

[code]

[2019-04-16 11:03] aitorlb commented on #5089
@decidim/lot-core are you interested in this?

[2019-04-16 13:38] oriolgual commented on #5089
Sure!

[2019-04-21 17:20] #2033 closed

[2019-04-23 10:08] tramuntanal commented on #5074
As commented in meta.dedicim: I removed the validation to allow updating the metainformation of the Participatory Text without having to upload a file. So the form should validate there's an uploaded document only on create.

[2019-04-23 17:07] #4675 closed

[2019-04-25 10:24] PierreMesure opened #5096 "Import from proposal to budget component loses scope"
**Describe the bug**

When importing proposals in a budget component, the scope is systematically reset to Global.

This is of course very annoying because the scope must then be set manually for each budget and the risk of error during data reentry is big.

This bug was reproduced on Decidim Staging.

**Extra data:**

- Decidim Version: 0.18.dev (Decidim Staging)

**Additional context**
https://m

[2019-04-25 10:52] PierreMesure opened #5098 "Extra useless button on the admin page for accountability statuses"
**Describe the bug**

There is a button named "Statuses" which doesn't seem to be of any use next to the title of the block.

Reproduced on staging, you can see it on this [page](http://staging.decidim.codegram.com/admin/participatory_processes/odio-architecto/components/15/manage/statuses) for example.

**Screenshot**

![](https://metadecidim.s3.amazonaws.com/uploads/decidim/attachment/file/2156/

[2019-04-25 11:12] carolromero opened #5100 "Everyone can see the activity of private processes"
**Describe the bug**
In the last activity block, non-private participants also view the participation of a private process. If it is a private process, I hope that only private participants can see the participation.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/56731821-b0f45c00-675b-11e9-9cbe-b6c6805911d7.png)

**Extra data (please complete the following informati

[2019-04-25 11:22] tramuntanal commented on #5100
Hi @decidim/product , activities were added after private processes so the responsible for the fix should be the activities developers.

[2019-04-25 11:42] carolromero commented on #5100
@decidim/lot-core could you please take a look at this? Thanks!

[2019-04-26 14:24] #4653 closed

[2019-04-26 15:24] #4695 closed

[2019-04-26 21:17] #4661 closed

[2019-04-28 05:03] #4694 closed

[2019-04-29 12:09] gagarine commented on #4635
This one should be reopened. The docker documentation is lacking.

Also the doc https://github.com/decidim/decidim/blob/master/docs/getting_started.md#c-using-docker-experimental is not clear neither.

[2019-04-29 12:13] andreslucena opened #5104 "Provide "good" password rules"
**Is your feature request related to a problem? Please describe.**
As a user, I expect to have all the information I need to fill the registration form. Unfortunately, it happens that there are constraints on the password that aren't explicitly given.

**Describe the solution you'd like**
Since the main rule is "minimum 10 characters" (unless configured differently), I expect this rule at least to

[2019-04-29 12:20] gagarine opened #5105 "Provide a description for docker image on docker hub"
The image on https://hub.docker.com/r/decidim/decidim have no description and instruction.

It was already reported on #4635 (closed by bot)

[2019-04-29 13:21] arnaumonty commented on #3689
Solved here #4648

[2019-04-29 13:21] #3689 closed

[2019-04-30 09:20] #4773 closed

[2019-04-30 12:08] #5074 closed

[2019-04-30 12:09] #5096 closed

[2019-04-30 12:10] #5098 closed

[2019-04-30 14:01] #4713 closed

[2019-05-02 13:43] #5077 closed

[2019-05-02 14:03] #5018 closed

[2019-05-02 15:26] #4655 closed

[2019-05-02 15:27] #4656 closed

[2019-05-02 15:31] #4644 closed

[2019-05-02 15:33] #2966 closed

[2019-05-02 15:34] #3566 closed

[2019-05-02 15:34] #3567 closed

[2019-05-02 15:36] #3634 closed

[2019-05-02 15:37] arnaumonty commented on #3687
This is not a bug, it is designed in this way. We need to create admin permissions at the level of each component in order to solve this.

[2019-05-02 15:37] #3687 closed

[2019-05-02 15:40] arnaumonty commented on #3690
I will leave it as:
"Quin és l'àmbit de la iniciativa?"
"Which is the scope of the initiative"