[2019-05-02 15:43] tramuntanal commented on #5072
@decidim/product can you please give feedback to @aitorlb 's questions?

[2019-05-03 10:51] andreslucena commented on #5105
Thank you for your report, we'll change it.

You can check how to use it on [decidim/docker README](https://github.com/decidim/docker#how-to-use-it).

[2019-05-03 11:12] andreslucena opened #5113 "Disable "sortitions" and "budgets" by default"
**Is your feature request related to a problem? Please describe.**
As a developer, when I create a default application I have lots of modules enabled by default. There are some modules that they may not needed by my organization, but I can't disable them.

**Describe the solution you'd like**
Disable by default *budgets* and *sortitions* modules. They should be commented like we do with *conferenc

[2019-05-03 13:33] #4697 closed

[2019-05-04 00:38] gagarine opened #5114 "Accessibility issues (WCAG 2.0 AA)"
Rocket report a lot of error regarding accessibility:
https://rocketvalidator.com/s/5b768a15-cf7b-47de-9d9d-17879d9018f3/v

In Switzerland, every new website has to follow WCAG 2.0 at the AA level (I guess UE has the same kind of laws). At first glance, decidim do not seem to respond to this requirement. Yet even their is a lot of errors, most are certainly quickly fixed.

The eCH0059 accessibilit

[2019-05-04 10:33] #4748 closed

[2019-05-04 16:57] mijailr opened #5115 "Invitations Badge only for admins"
**Describe the bug**
I see the logic of friends invitations was deleted in #4430 but the badge is still there and only is posible to earn if you are admin and send "private users" invitations.

So we have to remove this badge because is not possible to all users to send invitations.

I can make a PR if we are agree with that.

**To Reproduce**
Try to send invitations as normal user.

**Expected be

[2019-05-07 10:44] #4662 closed

[2019-05-07 10:44] #4674 closed

[2019-05-08 09:02] oriolgual commented on #5105
Fixed at Docker Hub!

[2019-05-08 09:02] #5105 closed

[2019-05-08 09:05] tramuntanal commented on #5072
Hello @decidim/product feedback please

[2019-05-08 14:25] tramuntanal commented on #4958
@josanFFiG take into account that the same happened in Participatory Processes, the delete button has disappeared.

[2019-05-08 14:26] tramuntanal commented on #4958
@josanFFiG take into account that the same happens for Participatory Processes, the "delete" button has disappeared.

[2019-05-09 10:13] josanFFiG commented on #4958
It was on MetaDecidim from the begining at: https://meta.decidim.org/processes/bug-report/f/210/proposals/14298

[2019-05-10 10:18] carolromero opened #5118 "Terms and conditions aren't shown on an event registration process"
**Describe the bug**
Although we have fulfill Terms and Conditions for registration to an event as an admin...
When participants make registration Terms and Conditions are not shown on the window for accepting them.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/57520323-a621f580-731d-11e9-9c75-f19239a49e13.png)

**Extra data (please complete the following information

[2019-05-10 10:23] carolromero opened #5119 "Resend confirmation instructions - Hard to understand error message"
**Describe the bug**
On any Decidim instance:
- Click Sign In
- Click "Didn't receive confirmation instructions?"
- Leave the field blank
- Click "Resend confirmation instructions"

You will get the following type of error message:
"2 errors prohibited this no users from being saved:
- Decidim organization not found
- Email can't be blank"

If you write an unexisting email to the field, the second

[2019-05-10 10:31] carolromero opened #5120 "Impossible to make a form in a duplicate meeting"
**Describe the bug**
"When you try to configure the registration form you have no problem if it is a meeting that the admin created.

The problem comes when the meeting 1 is duplicated at meeting 2. Meetnig 2 does not have the possibility of making the form (it is not saved the meeting 1).

The attached image shows the error."

**Screenshots**
![image](https://user-images.githubusercontent.com/235

[2019-05-10 10:45] carolromero opened #5121 "Consultations created before version 0.16 do not work if there is no scope (global scope)"
**Describe the bug**
Version 0.16 requires that consultations have an scope assigned. This was not necessary in previous versions. Based on this requirement, the consultations created in older versions do not work with the update at 0.16.

To control this possibility, you could do a migration to add the scope or a rake task. You could also opt for a try (: name), since it currently looks for an sc

[2019-05-10 10:48] carolromero opened #5122 "Impossible to add a link on a meeting description"
**Describe the bug**
You are able to do it in admin but when saving the meeting.
The field I'm talking about is the attached image.

**Screenshots**

![image](https://user-images.githubusercontent.com/23509895/57522072-09158b80-7322-11e9-9c2e-e64102dbf57c.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.17

**Additional context**
https://meta.decidim.org/proc

[2019-05-10 10:52] carolromero opened #5123 "Continuity badge counter does not reset"
**Describe the bug**
I connect 6 consecutive days (my continuity badge says "You have connected for 6 consecutive days at some point." and "Connect for 4 consecutive days to get to the next level!").
I go on weekend.
On Monday, Tuesday and Wednesday I connect again each day, and each of this days my continuity badge says the same messages: "You have connected for 6 consecutive days at some point."

[2019-05-10 10:56] carolromero opened #5124 "Dynamic multifield sections do not currently work correctly with IE11"
**Describe the bug**
"The `<template>` tag used in various dynamic multifield forms in Decidim does not function properly in IE11. When used in IE11, the contents of the `<template>` element are interpreted to be inside the form itself. Therefore, this may break in case the `<template>` tag appears inside a form element.

The dynamic `<template>` tags are used for example in:

- https://bit.ly/2OC

[2019-05-10 11:00] #3712 closed

[2019-05-10 11:01] carolromero opened #5125 "When you create a meeting, notification is sent to the participants even if it is not published"
**Describe the bug**
When you create a meeting, notification is sent to the participants even if it is not published.

The notification should arrive when the component meeting is enabled. Since the administrator has no privacy when configuring the meeting

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/57522856-8988bc00-7323-11e9-8f09-730b04a89675.png)

**Extra data (

[2019-05-10 11:05] aitorlb opened #5126 "Error when following Upgrade notes"
**Describe the bug**

The `CHANGELOG.md` in `0.16-stable` branch states to run [some code](```console) on the console to update `User follow counters`, but when you run it, you get:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to `decidim 0.16.1`
2. Execute migrations
3. Execute code from Upgrade notes
4. See error

**Expected behavior**
The code is run without errors.

[2019-05-10 11:05] carolromero opened #5127 "The reason field has been lost for impersonification"
**Describe the bug**
When the administrator impersonate a participant, it asks for a reason (as seen in the logs). On the form, now it does not exist when you try to do the impersonation.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/57523055-3e22dd80-7324-11e9-86f7-a18572aaf7fd.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.1

[2019-05-10 11:09] carolromero opened #5128 "Limitation of characters in "creating" step initiatives"
**Describe the bug**

The step of "creating" an initiative is limited to a maximum of characters.

The other steps, as compares, are not limited to a maximum of characters and you can add more characters.

I expect the bug is that the "create" step should not be limited to characters, because to explain an inciativa you need a lot of text.

If not, I excpect the step "create" tell me what error I

[2019-05-10 11:11] carolromero opened #5129 "In the minutes of the session, a blank box appears if there is only audio or video"
**Describe the bug**
In the minutes, we can inesrt videos or audio urls. If you only put one of the two (in this case, video), a blank box appears below (since nothing has been indicated). The blank box should not appear if we have not indicated anything in the Dashboard.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/57523370-154f1800-7325-11e9-8883-b6b4fb182dde.png)

[2019-05-10 11:16] carolromero opened #5130 "Invitation to participate blocks user registration"
**Describe the bug**
If a user is invited to participate in a private assembly or process, an invitation is sent via email.
If the user does not receive this email (for whatever reason), she cannot register on the platform on his own, the platform warns her that she has a pending invitation.

This may result in a user never being able to register if invited and not receiving the link to accept the

[2019-05-10 11:29] aitorlb commented on #5126
@mrcasals should the Upgrade notes be updated? There's a migration that deletes the `:following_users_count` column in #4616 ...

[2019-05-10 11:31] carolromero opened #5131 "Default org colors still show up for a milisecond at loading"
**Describe the bug**
When choosing different colors for the org with the color picker, when loading pages you can still see the default preloading before the new ones are applied.

Try refreshing you 'll see the bug : http://staging.decidim.codegram.com/processes

**Screenshots**

https://metadecidim.s3.amazonaws.com/uploads/decidim/attachment/file/2173/big_May-09-2019_06-44-27.gif

**Extra data (

[2019-05-10 11:35] carolromero opened #5132 "Header snippets field can't be updated"
**Describe the bug**
When you try to update the field, it is not saved. Even if you click on the update button.

This field is not in the default application. Is optional.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/57524555-71676b80-7328-11e9-94bf-88020c4365c8.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.17

**Additional

[2019-05-10 12:09] carolromero commented on #5072
Hi @aitorlb, no, it shouldn't be possible to enable `participatory_texts` when there are existing proposals. Sorry fot the late reply

[2019-05-10 12:35] aitorlb commented on #5118
@carolromero is it Decidim Version: 0.17 or 0.16.x?

[2019-05-10 16:00] #3085 closed

[2019-05-10 16:00] #3094 closed

[2019-05-10 16:00] #3545 closed

[2019-05-11 11:19] tramuntanal commented on #5118
@aitorlb the description of the issue says v0.17.

[2019-05-11 20:17] aitorlb commented on #5118
@tramuntanal yes, but in [metadecidim](https://meta.decidim.org/processes/bug-report/f/210/proposals/14282) is filed as 0.16.x.

@carolromero It seems to me that the problem is that the admin has activated **Registration form enabled** but has not filled the form yet... There are two registration terms:
####  meeting/registrations
![modal](https://user-images.githubusercontent.com/40306853/5757446

[2019-05-12 20:37] virgile-dev commented on #2775
I was really digging this card design for the project cards. We've received feedback that the current ones are super austeras. Are we still thinking of implementing it ?
![](https://user-images.githubusercontent.com/4933/36531245-915870e6-17bd-11e8-89bd-62bedb6d173c.png)

[2019-05-13 11:05] tramuntanal commented on #5125
Hi @decidim/product , Meeting notifications were not implemented by @decidim/lot-mods

[2019-05-14 11:17] carolromero commented on #5118
@josanFFiG could you please chime in and confirm this? Thanks

[2019-05-14 13:33] josanFFiG commented on #5118
Original issue was for v.0.16.x.
This issue on v.0.17.x seems to be solved.
Otherwise, registrations to a meeting do not necessary have a registration form, it's not must to activate forms if you don't not need more information about participants, is it?

Talking about Terms and conditions for registration to meetings:
- There's a defatult field for Terms and conditions, called "terms and conditio

[2019-05-14 14:47] #4113 closed

[2019-05-16 07:21] paarals commented on #4661
just to know, but an admin can sent to technical validation although not all the members are required in the promoter commission?

[2019-05-17 17:21] #3636 closed

[2019-05-20 08:16] tramuntanal commented on #4981
Don't close as Rails 6 is coming!

[2019-05-20 16:11] #5089 closed

[2019-05-21 16:49] gagarine opened #5143 "You can still delete an organization (and it fail)"
You can still delete an organization via /system/organizations/ID (the link is on the title of the organization) then the system redirect to /system/organizations/1 but the organization was deleted and you get a 404.

It should redirect to /system/organizations and delete the organization.

Their is other bug, but they are marked are stale by the bot.
#2066
#1777

Also I believe than removing the

[2019-05-21 17:00] gagarine opened #5144 "Provide a way to test email configuration in system"
Email configuration can be a bit hard to setup.

Right now the first time the system send an email is when you add a organization. If the email fail you can't login in the organization and you can't delete this organization.

Providing a small form so peoples can try to send email to an arbitrary address would be pretty handy. For example in a new section "System Tools".

[2019-05-22 07:51] gagarine opened #5145 "Icon are not displayed on try.decidim"
No more icon in the entiere website http://try.decidim.org/
![image](https://user-images.githubusercontent.com/164074/58156724-0c403e00-7c77-11e9-8f9c-b8e613e0acff.png)

[2019-05-22 11:40] gagarine commented on #2066
This bug should be reopened.

[2019-05-22 13:22] raphaeljolivet commented on #4356
@frichtre :
Hi, how did you fixed this issue please ?

[2019-05-22 14:51] #5129 closed

[2019-05-22 14:52] #5120 closed

[2019-05-27 10:43] #5072 closed

[2019-05-28 11:52] #2841 closed

[2019-05-28 14:17] mrcasals commented on #4981
@tramuntanal trix is already open-source, so no need to wait for it to start moving the text editors! 😄

[2019-05-28 14:47] tramuntanal commented on #4981
Yes @mrcasals but Rails 6 also comes with ActionText that ties Trix with other parts of the framework. But I haven't checked it yet, maybe you are right and development may start without ActionText :smile:

I was just wanting to stop the robot from closing the issue

[2019-05-28 15:03] carolromero commented on #4981
hey @mrcasals @tramuntanal I'm excited to see activity in this issue, needless to say that it's probably the most desired functionality of Decidim. :heart_eyes:
@tramuntanal  if you take a look at it, do you think it could go into the original request of the Generalitat?

[2019-05-28 16:52] tramuntanal commented on #4981
Hi @carolromero , there's nothing related with rich text in CodiTramuntana's current developments :(
but we'll propose it from now on.

[2019-05-29 08:13] carolromero opened #5155 "Cannot search for #hashtags in proposal search bar"
**Describe the bug**
See capture attached

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/58540314-6f8f1a80-81f9-11e9-8fea-0f9be7dffcb7.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.16

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14585
Related to #2458

[2019-05-29 08:17] carolromero opened #5156 "Include asterisk in the required field"
**Describe the bug**
In the configuration of an Assembly, it is possible to add Members.

To configure Members, there are a number of required fields. The "Select position" field is not marked as mandatory but can't be created without indicating it.

Or is it asteric, or there is no validation?

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/58541030-dfea6b80-81fa-11e

[2019-05-29 08:34] carolromero opened #5157 "Icon overlay to menu"
**Describe the bug**
On the badge page, when you display your profile menu, the "continuity" badge explanation icon overlaps the drop-down menu.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/58542039-10cba000-81fd-11e9-803e-3c387d190877.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.17

**Additional context**
https://meta.dec

[2019-05-29 08:45] carolromero opened #5158 "Error accepting admin invitation"
**Describe the bug**
There's an error on accepting admin invitation.
We have received invitation mail, and clicking the link to complete registration (user to become admin was a new one on platform).
After fulfilling all the information and accepting "Terms of use", and when we click on "Save", we get a blank screen (as seen on image).

**Screenshots**
![imatge](https://user-images.githubuserconte

[2019-05-29 08:51] carolromero opened #5159 "Error 422 for password too short when they invite you"
**Describe the bug**
When you accept the invitation, and you finish your registration process, you have to put a password. If the password is less than 6 characters, it is not valid and it gives error.

The expected behavior is that non-validation comes in the form of a message so that the participant knows what happens.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895

[2019-05-29 16:07] tramuntanal commented on #5155
Hi @decidim/product this component was not implemented by us and the scope of the hashtags was not to be searchable in the Proposals component.

[2019-05-30 07:47] #5104 closed

[2019-06-03 07:30] cyrillefr commented on #5128
Ola, Hello,
I thought I might like to contribute a bit and so had a look at that issue.

I have found why there is a server side problem.
Data within each steps are stored in user 's session. And session is handled with cookies.
By default, Rails allows a maximum of 4 Kb in cookies storage.
So, if the description takes too much space, this issue will appear.

Displayed error in development mode is

[2019-06-03 08:06] #5156 closed

[2019-06-03 11:00] tramuntanal commented on #5028
This Feature has already been implemented and merged here: https://github.com/decidim/decidim/pull/5039

I'm closing, @isaacmg410 notify if there's something pending please

[2019-06-03 11:00] #5028 closed

[2019-06-03 11:03] tramuntanal commented on #5122
@isaacmg410 can you check please?

[2019-06-05 07:34] carolromero opened #5173 "#hashtag not rendered correctly in notifications and emails"
**Describe the bug**

1. When notifying a participant that a proposal was created/commented/ammended/... and has a hashtag in the title.
2. The notification about a resource that has a hashtag in the title is not rendered as expected: #hashtag ; instead the non-parsed gid of the hashtag is shown: gid:/decidim-development-app/Decidim::Hashtag/1/hashtag
3. Found in notifications and emails sent to p

[2019-06-05 07:38] carolromero opened #5174 "Private assemblies are shown when becoming childs from another assembly"
**Describe the bug**
Parent assemblies shows all their child although one is private as shown on image.
We expect private assemblies not to be shown if they aren't transparents (only private users must see a private assembly)

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/58938598-7ed01400-8775-11e9-9053-eba4d2fb9734.png)

**Extra data (please complete the following

[2019-06-05 07:47] carolromero opened #5175 "I'm only getting notifications from the people I follow"
**Describe the bug**
I am following a process in Metadecidim and theoretically I should receive notifications of all the activity that occurs in that process (someone makes a proposal, leaves a comment. etc.).
But I have noticed that I only receive notifications from the participants I follow. If someone performs an action in the process and I'm not following them, I don't get any notification.

*

[2019-06-05 07:54] carolromero opened #5176 "Group endorsements do not work properly"
**Describe the bug**
When I try to endorse a proposal as a group, selecting the group takes me to the group page, instead of staying in the proposal and showing that the endorsement has been made.

Right now you have to go back to see if the endorsement was successful. Sometimes you have to do it twice because the first time is not registered.
I attach an example (in this case it is registered the

[2019-06-05 07:58] carolromero opened #5177 "Mentions to a participant are not rendered correctly in email notifications"
**Describe the bug**
When I get an email notification mentioning a participant, the mention is not rendered correctly

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/58939824-51d13080-8778-11e9-9603-79f620a1e6dd.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.17

**Additional context**
https://meta.decidim.org/processes/bug-repo

[2019-06-05 11:29] carolromero commented on #5128
Hi @cyrillefr, thank you for taking the time to review this! Pinging here to @entantoencuanto or @furilo to see if the can take a look and confirm this.

[2019-06-05 12:04] tramuntanal commented on #5063
@decidim/lot-core I guess this issue can be closed as #5069 has already been merged.

[2019-06-05 12:04] #5063 closed

[2019-06-05 14:00] mijailr commented on #2066
+1 to reopen this

[2019-06-06 11:39] Hilfe opened #5182 "Loading wrong default locale"
**Describe the bug**

After upgrade from 0.15 to 0.17-stable, decidim it's loading a wrong locale.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to erabaki.pamplona.es in a browser not cached
![](https://i.gyazo.com/aa0842d8da9aa95f84baa9ab6fbaa41c.jpg)

2. You can see, that default locale is English, when in Admin UI, default locale is ES. And in decidim.rb ```  config.available_locale

[2019-06-06 21:56] mijailr opened #5183 "Nil values on change assembly creation_date"
**Describe the bug**
In the form of an assembly for 0.17.1 are using `Decidim::Attributes::TimeWithZone` for a Date input so when the assembly is saved the values of creation_date, duration, and closing_date are nil.

**To Reproduce**
Steps to reproduce the behavior in 0.17.1:
1. Try to edit a assembly and change the creation_date
2. Save the assembly
3. Now the creation_date is nil

**Expected be

[2019-06-11 11:34] #5049 closed

[2019-06-11 13:34] #3503 closed

[2019-06-11 15:41] tramuntanal commented on #2066
+1 to reopen

[2019-06-11 18:00] mijailr commented on #5182
Bug verified on 0.17-stable

[2019-06-12 13:21] isaacmg410 opened #5191 "Bug running migration "Fix user names ""
**Describe the bug**

When you upgrade to the latest version and the migration is added and executed `FixUserNames` (https://github.com/decidim/decidim/blob/0.18-stable/decidim-core/db/migrate/20190412131728_fix_user_names.rb), it fails because there are users who are "deleted". No `email`, no `name`, no `nickname`, and `deleted_at` is present.

Issue on MetaDecidim: https://meta.decidim.org/proce

[2019-06-12 16:38] albanc26 opened #5192 "Official Decidim documentation is broken"
**Describe the bug**
Wether you click the Administrators manual or the developpers manual from https://decidim.org/docs/, you get the following error message when clicking again onto any entry linked on the left menus of theses pages. As a result, no page of the documentation can be read.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.decidim.org/develop/en/introduction/

[2019-06-14 07:35] jsperezg opened #5195 "Issue when accessing ..."
**Describe the bug**

As administrator, when accessing the cesus the application hangs with an internal error:

This image do not shows the error, but the link that fails instead.

![image](https://user-images.githubusercontent.com/1701962/59491459-170d7d80-8e87-11e9-8f66-5f2ba46af4c9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Login as administrator.
2. Click on 'Participans'
3. Cl

[2019-06-14 09:23] albanc26 opened #5196 "Organization admin creation fails in dead loop if using the same email as Decidim global admin"
If you install Decidim yourself, here are chances you will be using the same email address for managing your global Decidim installation AND for managing the first organization created : yours.

In this case, the organization gets properly created, the invitation is properly sent to the supplied email adress, but when you click the invitation link in the email, you face a blank page in Decidim and

[2019-06-14 09:30] albanc26 commented on #2066
+1 to reopen. This is a necessary feature, and it will be especially usefull for getting out of [issue 5196](https://github.com/decidim/decidim/issues/5196). The administrator should be warned that all organization related content will be erased as well (since those datas are linked to the organization entry, they have to be deleted first in order to be able to delete the organization entry due to

[2019-06-17 11:06] carolromero opened #5201 "Date fields do not show year"
**Describe the bug**
In the admin panel, fields containing a date do not show the year, only the month, day, and time.

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14612

[2019-06-17 11:17] carolromero opened #5202 "Not possible to upgrade 0.17 without conferences"
**Describe the bug**
If the tenant doesn't have enabled conferences, it's not possible to make the upgrade to 0.17.

**Extra data (please complete the following information):**
 - Decidim Version: 0.17

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14613

[2019-06-17 12:53] dependabot-preview[bot] opened #5203 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-17 13:08] dependabot-preview[bot] opened #5204 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-17 13:08] #5203 closed

[2019-06-17 13:38] #5204 closed

[2019-06-17 13:44] dependabot-preview[bot] opened #5205 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-17 13:45] #5205 closed

[2019-06-18 09:51] oriolgual commented on #5196
I haven't been able to reproduce this. I've created a new decidim app, created a system admin with my email, created a new organization with my email as admin and accepted the invitation correctly.

Could you please add steps to reproduce this?

[2019-06-18 10:03] oriolgual commented on #5182
I can't reproduce with master, could you please add steps to do it?

[2019-06-18 10:10] oriolgual commented on #5177
Related to #4518

[2019-06-18 10:28] paarals commented on #5182
1)Update from 0.16 to 0.17.
2)The language of the organization is in Catalan.
3) At the code level, the application is taking the language [EN], which is by default. You can force it to get another one at the code level.

The problem, especially happens at multitenant level. We have organizations that have the language of the organization in Catalan and others with the language of the organization

[2019-06-18 11:13] oriolgual commented on #5182
Thanks @paarals, could you please tell me:

* Which locales are available at `config/initializers/decidim.rb`?
* Which is the default locale at this file?
* Which locales are available for that organization? Which is the default one?

[2019-06-18 11:19] paarals commented on #5182
Hi @oriolgual, this is what we have:

`config.available_locales = [:en, :ca, :es, :eu, :fi, :fr, :gl, :it, :nl, :pt, :ru, :sv, :uk]`

`config.default_locale = :en`

`:ca, :es. default = :ca`

[2019-06-18 13:10] dependabot-preview[bot] opened #5212 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-18 13:49] #5191 closed

[2019-06-18 14:12] oriolgual commented on #5182
OK, I've found the issue (related to #4809). I'll submit a PR with the fix, meanwhile, you can add this to your application controller and it should fix it:

[code]

[2019-06-18 14:45] oriolgual commented on #5145
/cc @andreslucena

[2019-06-19 08:36] carolromero opened #5218 "Suports stat on processes doesn't follow the same criteria than the other stats"
**Describe the bug**
While stats for proposals, endorsments, followers, participants, meetings.
Show incremental numbers, stat for supports shows numbers per day, showing as global number suports collected last day someone has given suport to proposals.
We expect supports' stat to follow the same criteria than others.

**Screenshots**

![image](https://user-images.githubusercontent.com/23509895/59

[2019-06-19 08:51] carolromero opened #5219 "Locale update fails on sanity checks"
**Describe the bug**
The problem I've found is very similar to what reported and apparently not resolved with https://github.com/decidim/decidim/issues/3983.

When I try to update the locales the snaity checks fail during the verification.

The same error happens in dev and prod environment with recommended configuration in your guide (Ubuntu 18.04, ruby 2.5.1 and decidim 0.17.0), of course no loc

[2019-06-19 09:00] carolromero opened #5220 "Fast sign-up form doesn't have any captcha"
**Describe the bug**
We have detected that since the introduction of the fast signup option, we are having a lot of spam registrations. We need to incorporate an invisible captcha in the same way as the original registration form did.

**Extra data (please complete the following information):**
 - Decidim Version:0.18

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/prop

[2019-06-19 09:03] carolromero opened #5221 "The filter by scope to initiatives doesn't work"
**Describe the bug**
If we click on the filter, it currently does nothing. It should act as the filter of scopes in the general search engine.

**Screenshots**
![image](https://user-images.githubusercontent.com/23509895/59751998-cd0b0a00-9281-11e9-8559-8499d3571dc2.png)

**Extra data (please complete the following information):**
 - Decidim Version: 0.18

**Additional context**
https://meta.decidi

[2019-06-21 09:15] carolromero opened #5225 "Participatory text with wrong format should return an error on upload"
**Describe the bug**
When I upload a participatory text not compliant with the format expected by the application, the file upload generates an error visible on the log

I, [2019-05-13T14:10:12.080021 #121877] INFO -- : [3711be75-85d8-4bb3-934f-64513c8c8cc5] Completed 500 Internal Server Error in 25ms (ActiveRecord: 2.8ms)
F, [2019-05-13T14:10:12.081692 #121877] FATAL -- : [3711be75-85d8-4bb3-934f

[2019-06-26 07:18] isaacmg410 commented on #5218
@decidim/product As discussed in [Metadecidim](https://meta.decidim.org/processes/bug-report/f/210/proposals/14619), this is already solved.
I will close the issue

[2019-06-26 07:18] #5218 closed

[2019-06-26 08:45] isaacmg410 commented on #5118
@josanFFiG, I just checked with the latest version of master, what you said, "that it does not take the terms and conditions of use by default" and I think it is not a bug, if not it is a configuration error.

I will try to explain myself as best I can, if there is something that is not understood, we can discuss it.

- When you create the "Meetings" component, as you say, you can write the terms

[2019-06-26 09:13] isaacmg410 commented on #5122
@decidim/product @decidim/lot-core As I said in metadecidim, I'm not able to reprodcue the bug, can you give more information please?

Thanks

[2019-06-26 09:47] isaacmg410 commented on #5122
the issue has been withdrawn from Metadecidim, because it no longer happens. I close the issue

https://meta.decidim.org/processes/bug-report/f/210/proposals/14410#comment_21908

[2019-06-26 09:47] #5122 closed

[2019-06-26 10:12] paarals commented on #5225
I add Gian Luca Corso comments for better explanation:

[2019-06-27 07:32] paarals commented on #3690
Hi, I will discard the [old proposal](https://meta.decidim.org/processes/bug-report/f/210/proposals/12838)  in pro of the [new one](https://meta.decidim.org/processes/bug-report/f/210/proposals/14664). The reason is that initiatives have changed since version 0.17 but we still have the same problem with the specific vocabulary of AAPP in initiatives.

thanks

[2019-06-27 08:23] carolromero opened #5236 "Content of the forms in the admin panel is deleted when you change language"
**Describe the bug**
In admin, when you fill in a text field, if you change the language selector the text is deleted.

**Expected behavior**
I expect to be able to change the selector without the content of the form fields being deleted.

**Screenshots**
![forms-admin](https://user-images.githubusercontent.com/23509895/60249505-454a7e80-98c5-11e9-8d22-3295703ecdaa.gif)

**Extra data (please compl

[2019-06-27 08:42] carolromero opened #5237 "Notification of registrations enabled when creating a Conference"
**Describe the bug**
I just created a conference in the admin panel -without publishing it-, and I automatically get a notification that registrations are enabled. This was reported before but I didn't find the issue.

**Expected behavior**
* I do not expect to receive any notification when I create a conference.
* I expect to be notified of "Registrations Enabled" **only** if registrations are en

[2019-06-27 10:38] isaacmg410 commented on #5237
@carolromero I've been checking the bug, and I would add that only the followers will be notified when the conference is published and registrations enabled.

PR is coming :smile:

[2019-06-27 11:00] carolromero commented on #5237
Hi @isaacmg410 just so you know, me and other admins have been getting notifications later (I assume because Pau is updating the Conference) and these are also notifications that do not have to be generated for administrators.

See:
![imatge](https://user-images.githubusercontent.com/23509895/60261033-366ec680-98db-11e9-85ed-efc94696f4ec.png)

![imatge](https://user-images.githubusercontent.com/23

[2019-06-27 11:28] isaacmg410 commented on #5237
Carol, I'm disagree with what you say.

All notifications are sent to the followers of the conference. (not just to administrators). As with other types of participatory spaces (processes and assemblies), when they are created, all admins are added as followers of that space.

You are recieving this notifications because Pau has edited one of the "important" fields ( start_date, end_date, or locat

[2019-06-27 11:51] carolromero commented on #5237
@isaacmg410 this is not correct.
I'm sorry because maybe I haven't explained myself well enough. I'm not talking about making a difference between administrators and participants.  Of course an admin is automatically a follower of the space it manages, so it should be.

What I mean is that in any other space (process, assembly), **if created and not published**, no notification is sent. Please cor

[2019-06-27 12:04] isaacmg410 commented on #5237
Sorry @carolromero I didn't understand that..

i will check and confirm that!

[2019-06-27 13:09] isaacmg410 commented on #5237
@carolromero I had applied the changes before the comment you said here, https://github.com/decidim/decidim/issues/5237#issuecomment-506314342 :smile:

In PR #5240, the notifications will be sent if the conference is published.

[2019-06-28 14:34] demonodojo opened #5243 "Oauth2 integrations doesn't shows the oauth reported name"
**Describe the bug**
When setting up an oauth2 integration, you can provide a name in the omniauth strategy, but when showing the buttons to sign in using oauth, this name is ignored and the register name is used to show the sign in buttons.

**To Reproduce**
Steps to reproduce the behavior:

Go to any instance using Decidim's default theme + Custom OAuth
Click "Sign in"
Scroll down to the OAuth b

[2019-07-03 13:47] #5174 closed

[2019-07-05 09:15] armandfardeau opened #5257 "wicked_pdf require error when using Decidim::Initiatives"
**Describe the bug**
When uncommenting Decidim::Initiatives in the Gemfile, I encountered an error which I manage to solve.

Seems like to dependencies where missing, after adding `gem "wicked_pdf"`
and `gem "wkhtmltopdf-binary"`, all returns to normal.

Aren't these two supposed to be installed with the gem Decidim::Initiatives, am I missing something?

**To Reproduce**
Steps to reproduce the beh

[2019-07-05 17:23] virgile-dev commented on #5220
Hey @carolromero,
@armandfardeau was telling me that invisble captcha are easy to pass by, how about implementing a visible captcha ?

[2019-07-06 15:01] Freelensia opened #5258 "Cannot ignore master branch for builds"
I know that we can enable builds to run for PRs only. We have that turned on.

I also know that we can add branch whitelists and blacklists. Our setting is currently the following:
`general:
  branches:
    ignore:
      - staging
      - /releases\/.*/`

This works somewhat. When we PR from a feature branch to staging, only feature branch is built. The staging branch is ignored.

But when we merg

[2019-07-08 12:17] carolromero commented on #5220
Hi @virgile-dev I'm not sure about the visible captcha, specially for accessibility reasons. I see that there is a whole open debate on this subject here: https://www.w3.org/TR/turingtest/#sotd
Thoughts @andreslucena?

[2019-07-08 12:43] oriolgual commented on #5220
Also, the signup form has an invisible captcha, see https://github.com/decidim/decidim/blob/master/decidim-core/app/views/decidim/devise/registrations/new.html.erb#L28

I don't think the issue is with having a captcha or not, it's with the fast signup feature :/

[2019-07-08 13:22] tramuntanal commented on #5118
@decidim/product @decidim/lot-core  feedback please :D

[2019-07-08 14:08] oriolgual commented on #5118
Could you please verify this?

[2019-07-08 14:25] oriolgual commented on #5258
I'm sorry but I think this issue is not related to Decidim.

[2019-07-08 14:25] #5258 closed

[2019-07-08 15:10] josanFFiG commented on #5118
On v.0.18.x it seems to work as expected.
1. I have added meeting component to a process and fullfilled Terms and Conditions by default.
2. I have created a new meeting without fulfilling any specific Terms and Conditions for this meeting.
3. Registrations opened
4. When registering to meeting, Terms and conditions by default are shown.
This was the flow tested for the first time before reporting

[2019-07-08 15:16] josanFFiG commented on #5118
About this...
YES! It's possible to create a Component either if the "required" fills are empty
![Captura de 2019-07-08 17-14-26](https://user-images.githubusercontent.com/27766903/60821557-0f01de80-a1a4-11e9-998e-0d618588b015.png)
![Captura de 2019-07-08 17-13-24](https://user-images.githubusercontent.com/27766903/60821568-12956580-a1a4-11e9-8152-edbc381b21eb.png)

[2019-07-08 16:29] #4677 closed

[2019-07-09 08:37] PierreMesure commented on #3099
Not sure if this is fixed but the conference module addresses some of these problems now. I'll close it.

[2019-07-09 08:37] #3099 closed

[2019-07-09 08:51] PierreMesure commented on #5257
Same problem, @armandfardeau. I also fixed it by adding `gem "wicked_pdf"` (but only this one) in the Gemfile of my app.

[2019-07-09 12:09] #5113 closed

[2019-07-10 02:09] #5114 closed

[2019-07-10 10:53] gagarine commented on #5114
Robot are sooooo annoying.

[2019-07-11 13:38] tramuntanal opened #5265 "Dashboard crashes when Proposals are deleted due to ActiveLog"
**Describe the bug**
The problem is that proposal drafts can be removed, but the Admin Activity Log, when renders Proposals takes for granted that the associated resource, when a Proposal, there's always there. But this is not always true.

Culprit: Admin Log (rendered in the Dashboard and in the Admin Activity Log).

The crash raises in Decidim::Proposals::ProposalPresenter.title:L44 with the typ

[2019-07-12 11:59] #3903 closed

[2019-07-12 12:23] tramuntanal opened #5268 "Metrics crash when zombie resources exist"
**Describe the bug**
We've found that the metrics system may crash on older installations due to the existence of zombie resources.

This is the case of zombie Proposals where its parent component doesn't exist anymore.

How we face this situation is what I would like to expose here.
- Should the metric system control the existence of zombie resources that make it crash? I don't think so. On the c

[2019-07-16 13:10] #5126 closed

[2019-07-17 22:26] microstudi commented on #5182
The problem is deeper than just setting the default locale. Accept-Language is not detected properly either.
This is my proposal to solve it:
https://github.com/decidim/decidim/pull/5272

[2019-07-18 11:26] orovellotti opened #5273 "List of instal"
Is there a list of live install somewhere ?

We have set it up here in marseille but we would like some help in how to lauch and animate it.

Thanks

[2019-07-22 08:28] gagarine commented on #5143
Someone has to kill this robot.

[2019-07-22 08:29] gagarine commented on #5144
Stale bot you are lame :P.

[2019-07-25 14:05] #5237 closed

[2019-07-25 14:11] #5118 closed

[2019-07-25 14:11] #5265 closed

[2019-07-25 14:14] #5182 closed

[2019-07-25 15:39] oriolgual commented on #5144
Please submit feature requests to [metadecidim](https://meta.decidim.org/processes/roadmap?locale=en), thanks!

[2019-07-25 15:39] #5144 closed

[2019-08-03 18:03] #4981 closed

[2019-08-05 07:08] #5173 closed

[2019-08-05 07:08] #5177 closed

[2019-08-05 07:08] #5195 closed

[2019-08-09 10:50] andreslucena commented on #5273
Hi @orovellotti
Sorry for the delay, most of the team is on holidays on these weeks.
What do you mean with "list of live install somewhere"?
We have:
* A list of all the known installations on https://decidim.org/usedby/
* A checklist with all the things that you should check before publishing a Decidim installation on production: https://github.com/decidim/decidim/blob/master/docs/checklist.md
*

[2019-08-12 21:16] papaeng89 opened #5292 "Error in french translation in meeting and conference in file fr.yml"
The field "date" translate with "Rendez-vous amoureux"

"Rendez-vous amoureux"  prefered replace with "Date"

Thanks

[2019-08-12 22:57] #5183 closed

[2019-08-13 00:08] papaeng89 opened #5293 "Error page when i configure component in processes"
Decidim v0.18.0

**Describe the bug**
Unable to acces configure page component in process

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Processes
2. Click on Process
3. Choose components
4. Click configure component
5. Error page

**Expected behavior**
When i would like configure component, i have error page
 fix https://github.com/decidim/decidim/pull/5165 is applied

**Screenshots*

[2019-08-13 00:21] papaeng89 commented on #5293
The solution is here : https://github.com/Platoniq/decidim-install/issues/34

SOLUTION :
bundle exec spring stop
bundle install
RAILS_ENV=production bundle exec rake assets:precompile
sudo service nginx restart

[2019-08-13 00:21] #5293 closed

[2019-08-13 14:25] armandfardeau opened #5295 "Error when generating external component: uninitialized constant Decidim::Generators::ComponentGenerator::Bundler (NameError)"
**Describe the bug**
When generating an external component, after entering the description, an error occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Install decidim-generators
2. Generate external component
3. Enter description
4. See error

**Expected behavior**
I expect the component to be generated correctly.

**Screenshots**
![image](https://user-images.githubusercontent.com/20

[2019-08-13 17:32] gagarine commented on #2066
This stale bot is one of the most stupid pile of code I ever encounter.

[2019-08-13 17:41] mijailr commented on #2066
We have to discuss what is the best way to implement this functionality, should be considered as important for the logic of multi-tenancy.

Delete and export/backup a organization, i think we should target to that.

[2019-08-16 10:43] armandfardeau opened #5298 ".gitignore and .circleci not present in generators/component_templates on Osx"
**Describe the bug**
When generating a component with `decidim --component my_component_name` two errors occurred:
* Could not find ".gitignore" in any of your source paths. Your current source paths are:
/Users/armandfardeau/.rbenv/versions/2.5.3/lib/ruby/gems/2.5.0/gems/decidim-generators-0.18.0/lib/decidim/generators/component_templates
* Could not find ".circleci/config.yml" in any of your sou

[2019-08-19 13:05] armandfardeau commented on #5298
Same issue using docker image:
[code]

[2019-08-20 16:07] aitorlb opened #5301 "MoveUsersGroupsToUsersTable migration create invalid records"
**Describe the bug**

While upgrading from decidim `0.17.1` to `0.18.0` and executing the migration [`FixUserNames`](https://github.com/decidim/decidim/blob/master/decidim-core/db/migrate/20190412131728_fix_user_names.rb) we have found that some of our oldest application have `Decidim::UserGroup` records that are invalid because they don't have an `email`; all of them were created via [`MoveUsersG

[2019-08-20 16:20] aitorlb commented on #5301
I think we could either modify the `FixUserNames` migration to skip validations or modify the `UserGroup` model to not validate email on records that come from old user groups (similar to managed users).
cc @decidim/lot-core

![user_group_diff-min (1)](https://user-images.githubusercontent.com/40306853/63364917-cb8bba00-c376-11e9-9fda-e5a4c4e953b8.png)

[2019-08-20 18:05] teusbenschop opened #5302 "Cannot send email"
**Describe the bug**
A clear and concise description of what the bug is.

Last time when setting up Decidim 0.17.0, and configuring sending email via Gmail it worked right out of the box.

Now I have set up Decidim 0.18.0 from scratch, and have done the same email setup, but this time it won't send email via Gmail.

The email setup works from the console though, it sends email from there.

Example

[2019-08-22 08:55] microstudi commented on #2623
Please, reopen this

[2019-08-24 11:02] #5196 closed

[2019-08-24 14:02] #5212 closed

[2019-08-24 16:02] #5145 closed

[2019-08-26 05:57] dependabot-preview[bot] opened #5309 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-08-27 14:04] albanc26 commented on #5302
I don't have the knowledge to fix them, but I obviously there are some things wrong in the code :
- So many lines output in the log and not a single relevant information for debugging the ongoing email connexion ! This email connexion log is absolutely USELESS
- Once an organization has been created, if the email sent to the administrator has failed, there is no possibility to attempt to send it a

[2019-08-27 14:19] teusbenschop commented on #5302
I agree to what @albanc26  says.

Eventually I resolved it as follows:
1. Setup exim4 to deliver emails via Gmail.
2. Change Action Mailer delivery method to "sendmail".

It worked right away.

Good ol'e Linux to the rescue! :)

Here are the notes for setting up exim4 to send email via Gmail.

Setup sending mail through sendmail and exim4.

$ apt install exim4

$ dpkg-reconfigure exim4-config
Mail

[2019-08-28 11:21] albanc26 commented on #5302
I must say I was facing the very same issue as you do : decidim wouldn't send the emails thru delayed jobs, but the action mailer test with the console you suggested would also work successfully for me.

After 6 hours of testing, I finally found out the source of the problem. I was typing an erroneous value in the field vaguely named "address" in the new "Smtp settings" section of the organization

[2019-09-03 15:14] #5243 closed

[2019-09-13 07:05] oriolgual commented on #5220
I think the only way would be to have a real captcha or challenge to prove you're a human, otherwise I don't know how to stop bots without forcing to verify the email :/

[2019-09-13 12:24] cquest opened #5334 "SMTP HELO without hostname"
By default, decidim does not provide a hostname during the SMTP HELO phase when sending emails (at least on our vanilla manual install). Such hostname less HELO are rejected by some SMTP servers like postfix.

**To Reproduce**
Follow manual decidim install, register a new user.

**Expected behavior**
Since RFC 821 (August 1982), the SMTP HELO command is supposed to provide a hostname.

**Extra dat

[2019-09-13 13:42] oriolgual commented on #5334
Do you have more information on how the HELO should be set? I'm not sure it's something Decidim should handle, since in the end it's just a Rails app.

[2019-09-13 13:45] oriolgual commented on #5334
Oh, I think we should add the `domain` setting at the SMTP setting for each organization, right?

[2019-09-13 13:49] oriolgual commented on #5334
@mijailr any specific reason on why there are some options not added to the SMTP settings? (I'm not blaming, I just want to make sure I'm not missing anything).

[2019-09-13 14:40] mijailr commented on #5334
@oriolgual when we discussed the issue of SMTP we had agreed that given the configuration in different environments, it was very difficult for the form to include them all, so we decided to use the most standard configuration that would work with most SMTP servers that are properly configured, (with SSL / TLS certificates, hostname, default authentication methods, etc). This decision was for simpl

[2019-09-14 10:36] #5257 closed

[2019-09-14 10:58] cquest commented on #5334
The hostname provided during the HELO command with the SMTP server does not appear in the messages themselves (only maybe in the header).

You can set it to anything, for example the fqdn hostname on which decidim is running.

If it is empty, it may cause the remote SMTP server to reject the connection (does not go beyond HELO).

Even "HELO decidim" will be ok, but "HELO" is not RFC compliant.

[2019-09-16 10:30] oriolgual commented on #5175
@carolromero I can't seem to be able to reproduce this. I follow the bug report process and I get notifications for everything. Are you notifications settings like these?

![image](https://user-images.githubusercontent.com/5254/64951260-b9ba0b80-d87d-11e9-901f-c5d7dc4a1eb9.png)

[2019-09-16 10:39] oriolgual commented on #5334
@cquest but this is something any Rails application is affected right? It's not a particular Decidim setting.

[2019-09-16 10:56] tramuntanal commented on #5225
Hi @decidim/product I'm closing the issue as the bugfix has already been merged to master.

[2019-09-16 10:56] #5225 closed

[2019-09-16 12:32] #5201 closed

[2019-09-16 15:13] oriolgual commented on #5021
I'm not sure if this is actually a bug, and if it is, it's nothing specific to Decidim, it's probably related to Rails. From Decidim we don't have any special configuration regarding the encoding of the database, and as @ahukkanen points out, `unicode` and `utf8` are the same at Postgres.

If this reappears please provide more information so we can find the culprit.

[2019-09-16 15:13] #5021 closed

[2019-09-16 15:48] oriolgual commented on #5034
I'm not able to reproduce this, it might be fixed by #4663

[2019-09-16 15:48] #5034 closed

[2019-09-17 09:04] oriolgual commented on #5301
Closed by #5321

[2019-09-17 09:04] #5301 closed

[2019-09-17 13:36] #5268 closed

[2019-09-17 16:08] oriolgual commented on #5065
Dup of #5177

[2019-09-17 16:08] #5065 closed

[2019-09-20 15:56] #5066 closed

[2019-09-20 15:56] #5127 closed

[2019-09-20 15:56] #5176 closed

[2019-09-20 15:56] #5221 closed

[2019-09-20 15:56] #5032 closed

[2019-09-20 15:56] #5119 closed

[2019-09-20 15:56] #5130 closed

[2019-09-20 15:56] #5159 closed

[2019-09-20 15:56] #5100 closed

[2019-09-20 15:56] #5309 closed

[2019-09-20 15:59] oriolgual commented on #5292
Fixed!

[2019-09-20 15:59] #5292 closed

[2019-09-20 16:07] oriolgual commented on #5036
Can't reproduce now, I guess it was fixed by #5037

[2019-09-20 16:07] #5036 closed

[2019-09-20 16:34] oriolgual commented on #5302
I couldn't find where it says `address` as a label, since the original pull request (#4698) the name was "SMTP hostname":

![image](https://user-images.githubusercontent.com/5254/65343351-092d6e00-dbd5-11e9-83bb-eb70724590ac.png)

Maybe it was a wrong translation?

[2019-09-20 16:34] #5302 closed

[2019-09-20 16:37] #5158 closed

[2019-09-20 16:47] albancGIT commented on #5302
Hello Oriol,

Yes, I have the French translation enabled. So it is possibly due to a mistranslation.

Thank you for taking care about this issue.

[2019-09-20 21:35] #5298 closed

[2019-09-20 21:36] #5131 closed

[2019-09-23 05:54] dependabot-preview[bot] opened #5351 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-23 08:56] oriolgual commented on #5125
@paarals I know it's been a long time but I've tried reproducing this and I couldn't, this is what I did:

* Follow a participatory space
* Create an unpublished meeting component
* Create a meeting in the component

And I didn't receive any notification. Please ping me or reopen this if you think something is still not working as expected.

[2019-09-23 09:29] paarals commented on #5125
Hi @oriolgual, I tried again and I was enabled to reproduce. Maybe u don't set to receive the notification via mail? Have did you try with a non-admin participant?

[2019-09-23 10:52] oriolgual commented on #5125
I repeated it with a regular user and can't seem to reproduce it (I'm using latest version deployed at http://staging.decidim.codegram.com/). Which version are you using?

[2019-09-23 11:17] paarals commented on #5125
Hi @oriolgual, I've registered with my mail to be able to receive the notification. but the account confirmation email did not arrive. may not the email be configured?

[2019-09-23 13:53] oriolgual commented on #5125
Fixed @paarals, it still have seed data 😅

[2019-09-26 12:37] oriolgual commented on #5125
Any news on this @paarals?

[2019-09-26 13:23] oriolgual commented on #5202
Fixed by  https://github.com/decidim/decidim/pull/5206

[2019-09-26 13:23] #5202 closed

[2019-09-26 14:32] carolromero commented on #5220
Ok, I understand that then we made a mistake in the definition of this functionality :/
Closing this issue and we will propose to remove the fast sign-up feature.

[2019-09-26 14:32] #5220 closed

[2019-09-26 15:29] paarals commented on #5125
video: https://imgur.com/a/ibnER8r cc/ @oriolgual

[2019-09-27 08:41] #5143 closed

[2019-09-28 22:01] #5125 closed

[2019-09-30 08:33] carolromero commented on #5029
I'm closing this since we haven't received feedback from @paranoix

[2019-09-30 08:33] #5029 closed

[2019-09-30 10:57] carolromero commented on #5175
Hi @oriolgual, yep, my configuration looks like this:
![imatge](https://user-images.githubusercontent.com/23509895/65872719-8305ea00-e381-11e9-920c-b721d91b726a.png)
And I just checked it out and it keeps happening. For example, I follow the "Support forum" process but only receive notifications from the people I follow. There has been activity from other people that I haven't received anything fr

[2019-09-30 14:21] oriolgual commented on #5157
Can't reproduce now, I'll reopen if there's feedback at Metadecidim

[2019-09-30 14:21] #5157 closed

[2019-09-30 19:45] tramuntanal opened #5379 "[BUG] The privacy feature doesn't duplicate in a new process of an original private process"
**Describe the bug**
The privacy feature doesn't duplicate in a new process of an original private process.

**Related with Meta**
- https://meta.decidim.org/processes/bug-report/f/210/proposals/14800

**To Reproduce**
Steps to reproduce the behavior:
1- I create a private process
2- Duplicate the private process
3.1- The duplicate process is public
3.2- The duplicate process should be private

**

[2019-09-30 21:43] #5295 closed

[2019-09-30 21:43] #2066 closed

[2019-09-30 21:43] #5019 closed

[2019-09-30 21:43] #5175 closed

[2019-09-30 21:43] #5219 closed

[2019-10-01 10:08] lsattem opened #5384 "No 'create' button on initiatives page"
Hi! I've probably done something wrong along the way, or just misunderstood how this is supposed to work. I've set up a Decidim server and it mostly runs alright, but I can't seem to find any 'create' button on the initiatives page. There are no errors in the log when I load the page. I followed the Platoniq installation guide to set up Decidim, and the guide in the decidim-initiatives plugin gith

[2019-10-01 10:50] lsattem opened #5385 "Proposals list results in "internal server error""
**Describe the bug**
I don't know if this is a bug, or if I've just set up things the wrong way. When i open the proposals list for a process, i get a page

**To Reproduce**
Steps to reproduce the behavior:
1. Installed Decidim using the Platoniq guide (on Ubuntu 18.04)
2. Added proposals plugin (as well as wicked_pdf, pages, budgets, admin and initiatives)
3. Created a process and a proposal
4. O

[2019-10-01 12:18] aitorlb commented on #5385
Hi,
This is has been fixed in https://github.com/decidim/decidim/pull/5303 .
You should update the `decidim` gem.

[2019-10-01 12:28] oriolgual commented on #5124
Dup of #5035

[2019-10-01 12:28] #5124 closed

[2019-10-01 13:11] lsattem commented on #5385
That fixed the issue! Thanks :)

[2019-10-01 13:11] #5385 closed

[2019-10-02 06:05] #5075 closed

[2019-10-02 06:05] #5030 closed

[2019-10-02 08:10] #5273 closed

[2019-10-02 08:24] carolromero commented on #4233
Hi @furilo @Crashillo we're reviewing pending bugs. Can you take a look at this one? Thanks

[2019-10-02 09:30] paarals opened #5388 "The assembly itself can be assigned as a mother assembly"
**To Reproduce**

1- Create an assembly.
2- Edit Assembly -> Mother Assembly: The assembly itself.
3- The assembly disappears from the public part
4- The assembly disappears from the Configuration Board.

**Solution**
An assembly cannot assign itself as a mother assembly.

**Extra data (please complete the following information):**
 - Device: [Desktop]
 - Browser: [Firefox]
 - Decidim Version: [0.

[2019-10-04 09:11] carolromero commented on #5384
Hi @lsattem! Are you logged in? The "New initiative" button appears when you are logged in (I know this is a usability bug, we have identified it for future improvement).
Please confirm if that is the case to dismiss other issues. Thank you!

[2019-10-04 09:31] lsattem commented on #5384
Hi! Yup, I'm logged in. It's the same on your Decidim Demo page (https://try.decidim.org/initiatives). I made a user there now and opened the initiatives page, but there's no 'New Initiative' button present.

[2019-10-04 09:40] carolromero commented on #5384
mmm It's weird, I'm logged in with the demo account and it does show up
![imatge](https://user-images.githubusercontent.com/23509895/66197891-94aa0300-e69b-11e9-86fd-5a69f9198033.png)

[2019-10-04 10:10] lsattem commented on #5384
I did not log in with the demo account, but created a new one. Perhaps that makes a difference?

This is how it looks for me:
![Screenshot from 2019-10-04 12-08-23](https://user-images.githubusercontent.com/39769064/66199772-ba390b80-e69f-11e9-96e8-3973418f1754.png)

[2019-10-04 10:24] lsattem commented on #5384
In case it matters, I'm using Chrome on Ubuntu.

[2019-10-04 10:39] carolromero commented on #5384
Yeah, I just reproduced it. The initiatives are linked to some verification system.
I'm having some configuration problems with the demo, but maybe in your environment you can check this out:
1. As admin enable a verification system
2. Log in as a participant and verify yourself
3. You should see the "New initiative" button.

Again, I see this as a sub-optimal design issue, but it is the current f

[2019-10-04 11:02] lsattem commented on #5384
I think I've fulfilled the first point. You get a mail with a verification link, at least. Or do you mean selecting `code by postal letter`, `organization census` or `identity documents` under `/admin/authorization_workflows`?

My colleague registered and clicked the link in the confirmation mail. No button could be seen.

[2019-10-04 11:14] carolromero commented on #5384
Yes, I mean one of the authorizations: code by postal letter, organization census or identity document.

[2019-10-04 11:25] lsattem commented on #5384
I'm uncertain how I'm supposed to use the two first verification methods, as I can't find any obvious button on the user profile for providing their verification data. And the last one  ("Organization's Census") causes the server to throw this error:
[code]

Perhaps I've done something wrong during my Decidim setup or config

[2019-10-04 11:44] carolromero commented on #5384
I'm sorry @lsattem,It seems that I am not able to reproduce the complete cycle with the verification systems :sweat: , but I will get back to you as soon as I can, ok?

[2019-10-07 11:09] paarals opened #5400 "ParticipatoryText workflow creates multiple versions"
**Describe the bug**
ParticipatoryText workflow is creating multiple versions: when importing proposals from a document, when updating the imported proposals and when publishing the participatory text.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Proposal Component
2. Click on Enable Participatory Text
3. Import a document
4. Edit the current document before publishing
5. See the e

[2019-10-08 08:40] andreslucena opened #5405 "Broken docker-compose"
**Describe the bug**
Our installation with docker-compose is broken.
I think there's a mix up between the images that we've published on Docker Hub:
* By default we're telling Docker and docker-compose that we use the image decidim/decidim
* This image only deals with generating the Decidim application, NOT for starting the containers of the application: there are multiple dependencies missing

Af

[2019-10-08 08:41] andreslucena commented on #5405
I'd love to hear feedback regarding this issue :)

[2019-10-08 10:39] carolromero opened #5406 "Endorsement as a group is duplicated if made by 2 different people"
**Describe the bug**
I endorse a proposal as a group, but if another member of the group also endorses it, the group endorsement is duplicated.

**To Reproduce**
Steps to reproduce the behavior:
1. Endorse a proposal as a Group
2. Ask another group member to endorse the same proposal as a Group
3. See duplicated endorsement

**Expected behavior**
My expectation is that endorsement as a group will

[2019-10-08 13:41] #5400 closed

[2019-10-08 18:12] Marseillais-es opened #5408 "impersonation with simple form census direct"
Here Marseille! we want to use a simple form with the name (normal) and date of birth of the person to represent a person. I'm desperate, there's something I did not understand. Can someone give me an example, that of Barcelona etc ... does not work. Thank you to everyone ! you will find the files set up here : http://citoyen-ne-s-de-marseille.fr/wp-files/eg-transparency/?dir=DIVERS/DECIDIM

[2019-10-09 09:41] paarals opened #5409 "In a private and transparent assembly non-private users can amend"
**Describe the bug**
In a private and transparent assembly alone private users can amend. Currently, any **non-private user** can also amend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an Assembly
2. Click on Private & Transparent visibility
3. Invite private users
4. Configure proposal component and enable the function to amend and publish it
5. Log in as a non-private user of th

[2019-10-09 21:23] clauded opened #5410 "Cant start Decidim: couldn't find file 'decidim' with type 'application/javascript'"
**Describe the bug**
Trying to install Decidim 0.18.0. When running **bin/rails assets:precompile db:migrate RAILS_ENV=production** I get the following error:

`Sprockets::FileNotFound: couldn't find file 'decidim' with type 'application/javascript'`

In the logs, there's a similar error when trying to display the admin page (no page is displayed):

`ActionView::Template::Error (The asset "decidim

[2019-10-10 13:48] oriolgual commented on #5410
Until we find the culprit you can downgrade sprockets version with:

`gem "sprockets", "~> 3.7.2"`

[2019-10-10 14:09] oriolgual commented on #5410
To fix it, we need to upgrade our manifests following these guides:

https://github.com/rails/sprockets/blob/3.x/UPGRADING.md
https://github.com/rails/sprockets/blob/master/UPGRADING.md

[2019-10-11 10:12] microstudi commented on #5405
Totally true, I tried to use the provided image to create an instance of Decidim, it didn't work. I ended by creating a custom Dockerfile which works pretty well (but it's slower the first time).
Find relevant files here:

https://github.com/Platoniq/decidim-hacks/blob/master/docker-compose.yml
https://github.com/Platoniq/decidim-hacks/tree/master/docker

[2019-10-16 12:55] oriolgual commented on #5408
Which version of Decidim are you using? Is the code available as open source so we can check it?

[2019-10-16 13:05] oriolgual commented on #5405
We also have an example docker-compose working with Docker Swarm, Docker FLow as a load balancer, postgres and postgres backup:

https://github.com/AjuntamentDeSabadell/decidim-sabadell/blob/master/docker-compose.yml

[2019-10-17 11:21] josanFFiG opened #5425 "Error when a meeting becomes author of a proposal"
**Describe the bug**
Error when a meeting becomes author of a proposal

**To Reproduce**
After assigning the authorship of a proposal to a meeting, whether:
- if you click on the author (a meeting),
- or if you want to see the meeting through the public view of the meetings component...
the system sends you back an error message and there is no way to enter in the meeting again.

To complete the i

[2019-10-17 12:08] josanFFiG opened #5426 "Error downloading "My data""
**Describe the bug**
Error trying to download "My data"

**To Reproduce**
Trying to download "My data" through the link received via mail (you can apply for it on Participant Settings --> My Data --> Download the data/ Request data) I get an Error:500:
"There was a problem with our server
Please try again later."
I have tried it on different moments in time through the year.

**Expected behavior**

[2019-10-17 16:31] virgile-dev opened #5428 "Unable to add a sortition component"
**Describe the bug**
As an admin when trying to add a sortition component to a participatory process the application crashes.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.decidim.codegram.com/admin/participatory_processes/test/components
2. Click on 'Add component'
3. Scroll down to 'Sortitions'
4. Click on 'add component'
5. See error

**Expected behavior**
The compon

[2019-10-17 17:25] virgile-dev opened #5429 "Sortition component select draft proposal"
**Describe the bug**
The sortition components selects proposals that are still in draft.

In order to complete the test I created a [proposal component with just one draft.](http://staging.decidim.codegram.com/processes/et-quo/f/77/).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://staging.decidim.codegram.com/processes/et-quo/f/17/sortitions/6'
2. See that the proposal selecte

[2019-10-17 17:46] virgile-dev opened #5430 "When not enough proposals to select in category sortition component selects random proposals"
**Describe the bug**
When not enough proposals to select in category sortition component selects random proposals.

For example :
- I have 1 proposal category A, 2 in category B
- I make a sortition for 2 proposals, in category A

The sortition module will select a proposal for category A and one random from category B.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://staging.de

[2019-10-18 07:43] #5409 closed

[2019-10-18 09:12] virgile-dev opened #5431 "Hashtag field cannot be filled by initiative author and doesn't display anywhere"
**Describe the bug**
Application crashed when as a user I try to fill the hashtag field in admin.
Hashtag field can only be filled and saved when initiative is sent to validation and filled by admin.
Hashtag inputed is not visible anywhere on the initiative public page.

**Expected behavior**
I should be able to save the hashtag inputed as a user.
Hashtag should be displayed on the initiative page

[2019-10-21 07:06] isaacmg410 commented on #5379
Closing as https://github.com/decidim/decidim/pull/5391 is merged

[2019-10-21 07:06] #5379 closed

[2019-10-21 08:57] #5429 closed

[2019-10-21 08:58] #5388 closed

[2019-10-21 10:31] isaacmg410 opened #5438 "[EPIC] Support/Vote without the need to be registered to Decidim"
## Is your feature request related to a problem? Please describe.

As a resident of a municipality, I want to have the possibility to vote / support the proposals and the participatory budgets, without having to register to Decidim platform.
I just want to check DNI/NIE and birthdate against the verification method and asking for the sex (Man / Women / No binary)

Must be met at:
- [ ] Proposals c

[2019-10-21 17:12] virgile-dev opened #5440 "Initiative states bugs"
**Describe the bug**
- Validating initiatives should display on the initiative [index](http://staging.decidim.codegram.com/initiatives? utf8=✓&filter%5Bsearch_text%5D=&filter%5Bstate%5D=&filter%5Bstate%5D=open&filter%5Btype%5D%5B%5D=&order=random) ID : i-2
- Created initiatives shouldn't display on the [index](http://staging.decidim.codegram.com/initiatives?utf8=✓&filter%5Bsearch_text%5D=&filter%5

[2019-10-22 14:09] tramuntanal commented on #5438
@decidim/product @decidim/lot-core we're ready to start but can you give usability feedback first about how we approach the views/popups?

[2019-10-22 16:05] tramuntanal opened #5443 "Obsolete migrations in decidim-surveys"
## Is your feature request related to a problem? Please describe.
When a brand new Decidim app is generated the following tables are created:

![image](https://user-images.githubusercontent.com/199462/67305564-cfae9200-f4f5-11e9-829b-363ac1dc6d51.png)

this tables are reminiscences from when Forms were part of Surveys.

In old installations admins should destroy this tables when its content is mig

[2019-10-23 07:55] oriolgual commented on #5443
I'd suggest to add a new migration (or to update the ones that migrated to forms) that checks if these tables are empty and drops them, instead of deleting old migrations. This way we make sure that anyone that updates their Decidim deployment has a correct state.

[2019-10-23 08:03] oriolgual commented on #5438
Wouldn't it be easier to allow registering users via an authorization? Much like Twitter/Faacebook login works. An example:

1. A Decidim organization has a verification enabled, a census one for example.
1. An admin enables the option to allow users registering via the Census authorization.
1. When the user is not logged in and the popup is presented to the user there's an extra button to login w

[2019-10-23 08:06] oriolgual commented on #5438
The wording could also be updated to make it easier for the users, instead of saying "Sign up with the Census" we could say "Participate with the Census" or something like this.

I think this approach has a lot of benefits, since users would automatically have an authorization and it's flexible enough for everyone.

[2019-10-23 08:56] isaacmg410 commented on #5438
@oriolgual we are agree to change to this.

1- A Decidim organization has a verifcation enabled, a census one for example. (Take in mind, that only will work with Direct Verifications)
2- An admin enables the option to allow users make actions without register.
3- When the user is not logged in and the popup is presented to the user there's an extra button to "Verify yourself as a real person to p

[2019-10-23 09:23] oriolgual commented on #5438
My idea was that the admin could only choose one authorization as the valid to use for signup, but even it there were multiple option what would be the problem? Too many login options?

[2019-10-23 09:38] tramuntanal commented on #5443
Updates from older versions don't clean these tables. The migration copies its contents instead (as you requested).
Older installations will never get rid of these tables unless the administrators follow what is recommended in the Changelog.

[2019-10-23 09:43] oriolgual commented on #5438
I was talking with @mrcasals offline about this and he pointed out that we *need* a login option too. Otherwise people won't be able to use Decidim again if they're logged out.

[2019-10-23 09:45] oriolgual commented on #5438
As a side note, we should ensure everything works OK when users don't have an email (don't send them notifications via email, etc).

[2019-10-23 10:16] aitorlb commented on #5438
@isaacmg410 was thinking about incompatible verifications for users (i.e. verifications meant to be used only by user groups), but you're right that that could be easily managed in the settings, so no "problem" there.

Yes, but we always had in mind the possibility of requiring different authorizations for different actions, so we were thinking of using the component permissions for this:

- Allow

[2019-10-23 10:41] aitorlb commented on #5438
@oriolgual, keep in mind that the requirements from the client were:

- We want users that don't want to register to the platform to still be able to vote proposals and budgets.

Since the client did not want an express signup but for non registered users to be able to participate via authorizations only, we went for the component permissions route.

What you say makes a lot of sense for decidim,

[2019-10-23 12:32] oriolgual commented on #5438
I understand the "users that don't want to register" is probably meant that they want to skip aall the email/social network signup, right?

From my point of view I think the signup via an authorization options allows voting "without registering" and it's actually less work than the other option. User will just click on the "Participate/Register/Continue (use any verb here) with the Census (or any

[2019-10-23 12:38] aitorlb commented on #5438
@tramuntanal what do you think?

[2019-10-24 07:45] paulinebessoles opened #5447 "PDF Signature export of Initiatives doesn't work"
**Describe the bug**
When trying to export the PDF of signatures of an initiative, I'm redirected to a 500 Internal Server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging.decidim.codegram.com
2. In the admin panel, click on an Initiative
3. Click on "Export PDF of signatures"
4. See error

**Expected behavior**
The export feature should work properly.

**Screenshots**
![

[2019-10-24 10:53] lsattem commented on #5384
Hi! @carolromero, have you had any luck reproducing the error?

[2019-10-24 11:43] arnaumonty opened #5449 "Administration of registrations and speakers on conferences doesn't work well"
**Describe the bug**
We have identified two minor bugs in two specific sections on conferences module.

* Registrations:
- [ ] I can't eliminate a registration type.

* Speakers:
- [ ] The speakers' page list doesn't show the pagination numbers.

**To Reproduce**
1. Resgistration types: /admin/conferences/conferencename/registration_types
2. Speakers: /admin/conferences/conferencename/speakers

[2019-10-24 15:20] clauded opened #5450 "Registering a new organization with non default language result in a crash of Sidekiq(mailers)"
**Describe the bug**
Fresh installation of Decidim 0.19.0. Registering a new organization with non default language result in a crash of Sidekiq(mailers):

` I18n::InvalidLocale ("fr" is not a valid locale)
`

**To Reproduce**
Steps to reproduce the behavior:
1. Install Decidim 0.19.0 (with Redis and sidekiq)
2. Register a new organization (registration email sent correctly)
3. Edit config/initial

[2019-10-24 18:58] clauded commented on #5450
Solution: restart sidekiq service (as well as nginx) after changing decidim locales.

[2019-10-24 18:58] #5450 closed

[2019-10-25 07:15] isaacmg410 commented on #5438
As discussed offline, I will close this task, as it will not be accepted to decidim:master

[2019-10-25 07:35] carolromero opened #5451 "Extend the capabilities of the Quill text editor"
## Extend the capabilities of the Quill text editor
ref: ED022
### User story
As a participant I want to have more options for text editing in the frontend, being able to add links and apply predefined styles to texts.
As an admin I want to have more options for text editing in the backend, being able to add links and apply predefined styles to texts.

**Current implementation (2 modes)**

a) Tool

[2019-10-25 07:37] carolromero opened #5452 "Add search bar and filters option for the proposals component from the administration panel"
## Add search bar and filters option for the proposals component from the administration panel
ref: ED002
### User story

As an admin, I want to be able to:
* search for proposals from the admin panel by ID or title
* filter by status, category and scopes
* select how many proposals are shown per page

**Mockup1 (Search bar and pagination)**

![imatge](https://user-images.githubusercontent.com/235

[2019-10-25 07:38] carolromero opened #5453 "Add search bar and filters option for the participation spaces from the administration panel"
## Add search bar and filters option for the participation spaces from the administration panel
ref: ED005
### User story

As an admin, within each type of space (Processes, Assemblies, Initiatives, Consultations, Conferences), I want to be able to:
- search for a participation space by title
- filter by: date range, private/public, status (published, unpublished)
- select how many spaces are show

[2019-10-25 07:39] carolromero opened #5454 "Add search bar and filters option for participants from the administration panel"
## Add search bar and filters option for participants from the administration panel
ref: ED006
### User story

As an admin, I want to be able to:
- search for a participant from the admin panel by name, nickname or email (the email column will be added through another contract).
- select how many participants are shown per page.

URL:
https://www.decidim.barcelona/admin/officializations

### Relat

[2019-10-25 07:40] carolromero opened #5455 "Expand search engine capabilities"
## Expand search engine capabilities
ref: ED018
### User story

As a participant, I want to be able to search any content on the platform.

![image](https://user-images.githubusercontent.com/23509895/67505777-2ea60f80-f68c-11e9-8bbb-b71e209d8878.png)

### Related issues
https://meta.decidim.org/processes/roadmap/f/122/proposals/13502

### Tasks
- [x] Extend results for participation spaces and com

[2019-10-25 07:41] carolromero opened #5456 "Improvements to mentions"
## Improvements to mentions
ref: ED024
### User story

As a participant, by mentioning another participant with @ in the comments, I want to be able to see a list with the possible names there are.

![imatge](https://user-images.githubusercontent.com/23509895/67454893-21f1cf00-f62c-11e9-9d4c-56ad37338c99.png)

### Related issues
https://meta.decidim.org/processes/roadmap/f/122/proposals/13151

###

[2019-10-25 07:42] carolromero opened #5457 "Lock users after multiple wrong attempts of login"
## Lock users after multiple wrong attempts of login
ref: ED017
### User story

To eschew attacks of brute force, we need to lock users after multiple wrong login attempts on a given window of time.

URL: https://github.com/plataformatec/devise/wiki/How-To:-Add-:lockable-to-Users

### Related issues
https://meta.decidim.org/processes/roadmap/f/122/proposals/12723

### Tasks

[2019-10-25 09:41] microstudi commented on #5456
After technical discussion this will divided into 2 PRs:
1. Improve the Graphql API to show users and let search by @nickname and username
2. Modify the React Comments view to handle the tribute library.

[2019-10-25 11:40] carolromero commented on #5456
great, I've updated the issue with those tasks

[2019-10-25 14:14] carolromero commented on #5384
Hi @lsattem,
Sorry I'm late. I've finally been able to reproduce it, and it works well.
To clarify: the only condition to be able to register an initiative is that you have created a type of initiative. It is not necessary to activate a verification system.

In the case of try.decidim.org, which you reported that you do not see the button with a user created by you, is because you have not confirm

[2019-10-29 07:58] oriolgual commented on #5405
FYI: I've update the previous docker file to aadd support for LetsEncrypt SSL certificates.

[2019-10-29 10:17] tramuntanal commented on #5257
This was solved here: https://github.com/decidim/decidim/pull/5206

[2019-10-30 10:32] isaacmg410 commented on #5449
@arnaumonty can you give more information or  tell me how to reproduce the error about.

I've tried it locally, and I've always been able to remove it. Except when there is an inscription made, which can only be unpublished.

[2019-10-30 13:37] antoinegaboriau1 opened #5464 "Remove the process header compression to low definition"
**Describe the bug**
With the 0.18 design, a process banner seems to be automatically compressed to 1000 px width while the section might be wider on laptop/desktop screens. Banners appear in low definition on good quality/retina screens. We used to have better definition in 0.12 I think. Can we improve this?

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a process page (for example

[2019-10-30 13:40] valentinchaput commented on #5464
Same issue on Decidim's staging http://staging.decidim.codegram.com/processes/tenetur-quia

[2019-10-30 13:54] isaacmg410 opened #5465 "undefined method `gsub' for 8:Integer"
**Describe the bug**

When you visit a proposal that is an amendment generated via seeds, it returns the following error ``` undefined method 'gsub' for 8:Integer.```

This is because you can not do the "diff" of a field when it is not a string.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Development app
2. Go to a proposals component page.
3. Click on an amendment card
4. See e

[2019-10-31 14:51] #5449 closed

[2019-11-04 10:13] carolromero opened #5470 "Search box does not appear on mobile"
**Describe the bug**
In the mobile version there is no way to access the general search box. We have a design for it in https://decidim-design.herokuapp.com/public

![imatge](https://user-images.githubusercontent.com/23509895/68113263-acbbaf00-fef3-11e9-8abf-d812b79a5e5d.png)

**Expected behavior**
I would expect to be able to use the search from my mobile device.

**Screenshots**
![imatge](https:

[2019-11-04 10:27] carolromero commented on #1826
Hi, I reopen this issue that had been previously solved, and in release 0.19 the components menu displayed by default in mobile has disappeared.

[2019-11-04 17:59] paulinebessoles opened #5471 "Maps are not working on mobile phone"
**Describe the bug**
Maps are not responsive on mobile phones. When clicking on a marker, the map zooms out and the card doesn't appear.
Furthermore, the rare times the card appears, it's too large for the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.decidim.barcelona/processes/patrimonigracia/f/3257/
2. Inspect the map element
3. Click on a counter on the map, t

[2019-11-04 19:20] aitorlb commented on #5451
Regarding https://github.com/decidim/decidim/pull/5037#issuecomment-479594422, I guess that from now on we are now considering proposals as _safe content_ and we will sanitize the body instead of strip all the tags.

/cc @andreslucena

[2019-11-05 13:57] aitorlb commented on #5451
Also, as Quill automatically encodes the text, which is already mentioned in the comment:

The user content (proposal body) will not be saved as-is to the database, but any HTML tags entered as text (without using the editor) will be encoded.

[2019-11-06 13:56] carolromero opened #5476 "Missing notification for registered participants when invited to a private space"
**Describe the bug**
When inviting participants by uploading a csv file, no notifications are sent to already registered participants.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin/participatory_processes/NAME/participatory_space_private_users/csv_import/new'
2. Click on 'import via CSV'
3. Upload CSV file
4. Registered participants do not receive notification

**Expected beha

[2019-11-06 15:20] paulinebessoles opened #5477 "Statistics automatically displayed when creating a new participatory process (0.20)"
**Describe the bug**
When creating a new participatory process, when I don't check the "Show statistics" box, the statistics are displayed on the user panel anyway. I have to come back in the information sub-menu of the process in the admin panel to uncheck this parameter.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the participatory process menu on the admin panel of "http://stag

[2019-11-07 13:24] aitorlb commented on #5451
Hi @decidim/product , regarding:

The proposals feature is very extensive and quite complex as it comprises:
- Collaborative drafts
- Participatory texts
- Amendments
- Version control (diffing)

Is it OK if we implement the rich text editor for _strict_ proposals only?

[2019-11-08 10:49] carolromero commented on #5451
Hi @aitorlb, If we have to prioritize, we can leave the last 3 out of the scope (participatory texts, amendments and version control), but collective proposals (collaborative drafts) should offer the same options as individual proposals.

[2019-11-08 15:25] teusbenschop opened #5481 "Google Oauth2 login leads to "Invalid credentials""
Here are three screenshots that show that logging in through Google leads to "Invalid Credentials".

<img width="435" alt="Screenshot 2019-11-08 at 16 19 56" src="https://user-images.githubusercontent.com/1310167/68487727-e2d69700-0243-11ea-98c1-6b3f236a5fed.png">

<img width="478" alt="Screenshot 2019-11-08 at 16 20 14-quick-blackout-redactor" src="https://user-images.githubusercontent.com/131016

[2019-11-11 14:36] aitorlb commented on #5451
As mentioned offline, I found that collaborative drafts needs a refactor before this feature can be compatible, but I think it will be relatively easy once the refactor is done.

Here's a proposal in meta that mentions some of the problems related to the current state of collaborative drafts:  [Collaborative Draft Form improvements](https://meta.decidim.org/processes/roadmap/f/122/proposals/14397)

[2019-11-12 11:06] Jordi-Miro commented on #5451
**The task**

-   Add internal setting to configure if editor is displayed on the frontend. Disabled by default

Should be implemented with an internal global setting.

[2019-11-12 11:51] carolromero opened #5489 "Add proposals sorting filters"
ref: ED012
### User story

As a participant, I want to be able to sort proposals by
- Random
- Recent
- Most suported
- Most endorsed
- Most commented
- Most followed
- With More authors

![image](https://user-images.githubusercontent.com/23509895/67587258-c884bf80-f753-11e9-9660-e4102aa2f680.png)

### Acceptance criteria

- [x] I can sort proposals by the following options:

- Random
- Recent
- M

[2019-11-12 11:54] carolromero opened #5490 "Order categories"
ref: ED004
### User story

As an admin, I want to be able to define the order in which the categories are displayed through the admin panel (using weights or similar mechanism).

![imatge](https://user-images.githubusercontent.com/23509895/67439732-6dd65100-f5f7-11e9-8dfb-f6bc5b7c36f8.png)

URL: https://www.decidim.barcelona/admin/SPACE/SPACENAME/components/categories/
### Acceptance criteria

- [

[2019-11-12 12:11] carolromero opened #5491 "Add terms of use acceptance when inviting new administrators"
ref: ED009
### User story

As an admin, I want to be able to add a text of terms of use to invitations that are sent to new administrators (all roles), which they have to accept before being able to access as such.

It needs to be configurable, like the Help Section in Configuration tab. The default text could be something like that:
[code]

![imatge](https://user-images.githubusercontent.com/2350

[2019-11-12 12:13] carolromero opened #5492 "Add a filter "My proposals" at the list of proposals"
ref: ED011
### User story

As a participant, I want to be able to filter the proposals I have made in a participation space.
Incorporate a filter in the sidebar of the proposal browser to facilitate the retrieval of the proposals made by the user who has logged in.

Note: Add "Activity" under "Origin".

![imatge](https://user-images.githubusercontent.com/23509895/67451488-dbe33e00-f620-11e9-875d-a

[2019-11-13 08:22] ahukkanen commented on #4981
Is there any active discussion about the Rails 6 upgrade for Decidim?

I am particularly eagerly waiting for the upgrade in order to move to Trix and improve the rich text editor capabilities in Decidim.

[2019-11-14 12:59] carolromero commented on #4981
Hello @ahukkanen,

We did discuss it because of this improvement we're making now.
The conclusion was that Trix would indeed be the natural evolution once we upgrade to Rails 6. But it's not clear yet when we're going to do that upgrade. The development team thinks it's best to wait a reasonable amount of time before taking that step.

Maybe @andreslucena or @tramuntanal want to chime in.

[2019-11-17 18:20] #3622 closed

[2019-11-18 07:32] paulinebessoles opened #5501 "Debate comments don't work on official debates"
**Describe the bug**
When enabled, comments don't work on official debates.
They work on debates created by participants, but not on official ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://staging.decidim.codegram.com/admin/participatory_processes/ipsam-incidunt/components/7/edit'
2. Click on 'Comments enabled'and update the component
3. Go to the corresponding page on t

[2019-11-18 14:48] jarvisct commented on #5492
There is already an "Activity" filter, which depends on supports being enabled and which facilitates the retrieval of the proposals **supported** by the user who has logged in.

![Screenshot_2019-11-18 Proposals - At quo et dolor iusto - Thiel Group(1)](https://user-images.githubusercontent.com/57717422/69061737-0a82e780-0a1a-11ea-9d2e-b6b69a30c7ac.png)

So we suppose that what is being asked is t

[2019-11-18 15:06] carolromero commented on #5492
Hi @jarvisct where did you see that filter?

[2019-11-18 15:30] aitorlb commented on #5492
In the proposal index, after enabling the component step settings "Supports enabled" and when the user is logged in.

The filter comes from https://github.com/decidim/decidim/pull/495

[2019-11-18 16:59] #5470 closed

[2019-11-19 08:49] tramuntanal commented on #5452
Hi @decidim/product & @carolromero , I now see you specified "design required" but we agreed to implement filters based on https://github.com/OpenSourcePolitics/decidim/pull/476 correct?

[2019-11-19 08:55] carolromero commented on #5452
Hi @tramuntanal that's correct, but please do attach here the mockup so we can validate it. Thanks!

[2019-11-19 09:39] andreslucena commented on #5481
Hi @teusbenschop
I think this could be that isn't saved correctly.
Could you check this on your rails console?

[code]

You should see your client's secrets and id.

[2019-11-19 09:45] tramuntanal opened #5504 "Integrate the "Process group" functionality within the "Processes" menu in the admin panel"
ref: ED003
### User story

The aim is to improve the coherence in the admin panel among the participation spaces.

**Processes**

![](https://i.imgur.com/EO2cBWh.png)

**Processes Groups**

![](https://i.imgur.com/kDp2wZ1.png)

URL: https://www.decidim.barcelona/admin/participatory_process_groups

### Acceptance criteria
- [x] A secondary navigation menu is added to Processes tab with 2 menu items

[2019-11-19 09:46] tramuntanal commented on #5504
@decidim/product we can start working on this issue. Can you please specify? it seems that the screenshot does not correspond to what is requested. Meanwhile we'll perpare a mockup.

[2019-11-19 10:42] teusbenschop commented on #5481
Hi @andreslucena

Thank you for the response.

Running the
```$ RAILS_ENV=production bundle exec rails console ```
and the
```$ RAILS_ENV=production bin/rails console```
leads to the same results, as follows:

[code]

[2019-11-20 11:59] jarvisct commented on #5454
@carolromero

You mean extending the filter in `/admin/officializations` to meet the new requirements, right?

![Screenshot_2019-11-20 Tillman-Hahn](https://user-images.githubusercontent.com/57717422/69237251-88b7c900-0b95-11ea-89aa-7e827541cddc.png)

[2019-11-20 12:45] andreslucena commented on #5481
It seems like the config/secrets.yml has an error, that should work as far as I see.
Can you send a link with the code for the application so I can review it please?
Thank you.

[2019-11-20 13:48] carolromero commented on #5492
Hi @aitorlb and @jarvisct sorry for the delay.

Thanks Aitor, I didn't remember that we already had that filter.

@jarvisct yeah, this is probably a better option. Just to give you all the context, in the future we plan to change the operation of other filters in the filter bar, which currently work as radio button and we realized that they would work better as checkboxes. Specifically the `origin

[2019-11-20 14:18] aitorlb commented on #5489
@carolromero

Should the order of the filters be the same as in the description?

[2019-11-20 14:25] carolromero commented on #5489
Hi @aitorlb correct, in that order. Thanks!

[2019-11-20 14:28] carolromero commented on #5454
@jarvisct exactly!

[2019-11-20 16:56] teusbenschop commented on #5481
Thank you @andreslucena  for looking deeper into this.

The application consists of ```gem "decidim", "0.18.0"``` in the ```Gemfile``` of folder ```~/decidim-app``` and installed following the instruction. That is Decidim itself.

Then the Google Login was created as follows:

Edit ```~/decidim-app/config/secrets.yml```.

Change a part to:

[code]

If you would like to login to the Ubuntu VPS runn

[2019-11-20 17:03] carolromero opened #5508 "The Google + sharing button should be deleted on Decidim"
**Describe the bug**
As Google + has been closed by Google, the Google + button shouldn't appear anymore with the sharing buttons.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/23509895/69260335-fa0c7180-0bbf-11ea-80d1-f7d9d9354530.png)

**Additional context**
https://meta.decidim.org/processes/bug-report/f/210/proposals/14924

[2019-11-20 18:39] carolromero opened #5509 "Cluttered conference sessions in confirmation mail"
**Describe the bug**
When a conference registration confirmation email is sent, sessions appear cluttered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://lid.decidim.barcelona/conferences/DataPolitik/registration?locale=en
2. Register on any session
3. Go to your email
4. See error

**Expected behavior**
I would expect sessions to be ordered by the time they are scheduled.

**

[2019-11-21 16:01] aitorlb commented on #5508
It was deleted in #5270 internally, but it needs to be configured at **app level** via initializer:

[code]

[2019-11-21 16:41] #5456 closed

[2019-11-22 09:00] tramuntanal commented on #5489
Merged

[2019-11-22 09:00] #5489 closed

[2019-11-22 10:50] #5334 closed

[2019-11-22 15:24] aitorlb commented on #5453
@decidim/product

I cannot advance with this until we agree on a design https://github.com/decidim/decidim/pull/5503#issuecomment-557514450

[2019-11-23 12:48] carolromero commented on #5453
Here you have the designs

**Processes**
![processes(1)](https://user-images.githubusercontent.com/23509895/69478875-adab7680-0df7-11ea-8f30-ff48979a9b0c.png)

**Assemblies**
![assemblies(1)](https://user-images.githubusercontent.com/23509895/69478891-d0d62600-0df7-11ea-9718-329251e95932.png)

**Conferences**
![conferences(1)](https://user-images.githubusercontent.com/23509895/69478893-d6337080-0d

[2019-11-25 11:46] #5457 closed

[2019-11-25 15:29] #5490 closed

[2019-11-26 11:14] tramuntanal commented on #5452
We'll review the layout with @agustibr , @microstudi  and @tramuntanal

[2019-11-26 11:33] carolromero opened #5520 "Display the number of participants subscribed to a newsletter"
ref: ED007
### User story

As an admin I want to know:
- The total number of subscribers to the newsletter.
- When composing a newsletter and defining the segmentation, I want to know the number of people who will receive it, whether they are participants or followers of a space.

*Total number of subscribers counter*

![imatge](https://user-images.githubusercontent.com/23509895/69705818-95d53a80-

[2019-11-26 11:36] carolromero opened #5521 "Improve the visibility of the button of “new [component]”"
ref: ED014
### User story

As a participant, I want the “new proposal”, "new debate" and "new initiative" button to be more visible.

*New proposal*

![](https://i.imgur.com/yz5kJTF.png)

*New debate*

![](https://i.imgur.com/fzLz8fP.png)

*New initiative*

![](https://i.imgur.com/wh0afMq.png)

### Related issues
https://meta.decidim.org/processes/roadmap/f/122/proposals/12327

[2019-11-26 12:49] carolromero opened #5523 "Include "endorsement" and "follow" actions for blog posts"
ref: ED016
### User story

As a participant, I want to be able to endorse and follow a blog post.

The endorsement functionality is active only for proposals. but to promote full social network style communication within the platform it would be very valuable if this action was available in other components, the blog being next on the priority list.

It is proposed to refactor the endorsements, so

[2019-11-27 09:29] #5455 closed

[2019-11-27 10:47] tramuntanal commented on #5523
@carolromero this issue includes making the blog posts followable, correct?

[2019-11-27 12:00] jarvisct commented on #5523
I will be doing 'Canviar ample columna + posar-hi action-card amb comentaris i followable'

[2019-11-27 12:02] jarvisct commented on #5520
I will be doing with @victorol1

[2019-11-27 12:11] carolromero commented on #5523
@tramuntanal that's correct, issue updated, thanks!

[2019-11-27 13:15] aitorlb commented on #5453
@carolromero can you give feedback for the following?

I can't imagine how it would work inside the filters dropdown.

![filters](https://user-images.githubusercontent.com/40306853/69726206-4efc3a80-1120-11ea-8c02-1afb0738ebcb.png)

[2019-11-27 13:20] tramuntanal commented on #5452
Hi @carolromero ,
This is the mockup we propose:
![image](https://user-images.githubusercontent.com/199462/69726500-02fdc580-1121-11ea-93e1-9c0ddc935fa2.png)

[2019-11-27 13:36] carolromero commented on #5452
hi @tramuntanal this works fine. Go ahead, thanks!

[2019-11-27 13:46] carolromero commented on #5453
Hi @aitorlb that's a good question :thinking:
With the filters option that we have chosen, I think it is not feasible to add a specific filter for dates.

Unless the rest of the @decidim/product say that it is essential to be able to filter by date range (and in that case we will have to think of a solution), for me it is enough the possibility of being able to sort the spaces by date of creation.

[2019-11-27 15:13] jarvisct commented on #5520
@carolromero
Should not appear only one 'New newsletter' button?

[2019-11-27 15:51] carolromero commented on #5520
Hi @jarvisct yes, you're right, it's redundant, but the admin panel has so many small inconsistencies that we're not going to solve them all now.
If you have to take time to remove it better not to waste time with what already works, because it does not bother either.
As soon as we can we will do a proper admin redesign :pray:  :grimacing:

[2019-11-27 16:27] andreslucena opened #5529 "500 on "Organization's census""
**Describe the bug**
As an admin user, when I upload a CSV file through the "Organization's census" on /admin/csv_census/ I get a 500 error with the following log:

**To Reproduce**
Steps to reproduce the behavior:

0. Log in as admin user
1. Go to  /admin/csv_census/
2. Upload CSV file with any data
3. Click on "Upload file"
4. See error

**Expected behavior**
To not have a 500

**Screenshots**
N

[2019-11-28 07:37] victorol1 commented on #5521
Hi, can I get the task assigned?

[2019-11-28 07:37] victorol1 commented on #5520
Hi, can I also get assigned with @jarvisct please

[2019-11-28 14:46] paulinebessoles opened #5531 "Unpublished processes & assemblies are displayed in public profiles"
**Describe the bug**
Unpublished processes and assemblies are displayed on public profiles and accessible to visitors (section "Follows") in multiple cases :
- Admin follows an unpublished participatory process or assembly
- Admin follows a private participatory space or assembly
- User has followed a participatory space or assembly that has been unpublished or turned private

_**It seems that onc

[2019-11-28 14:57] paulinebessoles opened #5532 "Participatory process admin doesn't have access to "Private users" in admin"
**Describe the bug**
Participatory process admin have access to all the sub-menu of the process he administrates, except for the "Private users" sub-menu.
Then, he can't add users to a private participatory process.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging.decidim.codegram.com
2. Log in with user@example.org
3. Go in the admin panel
4. See error in http://staging.decidim

[2019-11-29 07:24] #5351 closed

[2019-11-29 07:39] victorol1 commented on #5520
@aitorlb assign me again

[2019-11-29 07:39] victorol1 commented on #5521
@aitorlb assign me again

[2019-12-02 08:08] victorol1 commented on #5521
Pending review: https://github.com/decidim/decidim/pull/5535

[2019-12-02 08:12] paarals opened #5536 "It shows an incorrect schedule in the home page meetings"
**Describe the bug**
It shows an incorrect schedule in the home page meetings

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the Meeting Component
2. Create a meeting after the current day
3. Activate the bloc of meetings on the home page
4. See the start time of the meeting on the home page is one hour before the time shown in the detail of the meeting

**Expected behavior**
The

[2019-12-02 10:27] carolromero commented on #5453
Hey @aitorlb I confirm that @decidim/product agrees with my comment above and I've updated the issue accordingly. Thanks!

[2019-12-02 13:13] aitorlb commented on #5453
@carolromero

It seems that Conferences, Initiatives and Consultations cannot be private/public.

[2019-12-03 12:41] agustibr commented on #5504
Hi! @decidim/product I've added screenshots to the open PR #5545 related to this issue

[2019-12-03 22:23] #5465 closed

[2019-12-05 09:19] andreslucena commented on #5508
@aitorlb can we add it on the CHANGELOG as a Upgrade Note? I see that's enabled [even on Decidim Barcelona ](https://github.com/AjuntamentdeBarcelona/decidim-barcelona/blob/4ab6878657c80eedb743b9396fd0be128dc27596/config/initializers/social_share_button.rb#L6)

[2019-12-05 09:20] andreslucena commented on #5481
Can you confirm that you've followed the instructions on [enabling Google login on Decidim](https://github.com/decidim/decidim/blob/master/docs/services/social_providers.md#google)?

[2019-12-05 11:00] tramuntanal commented on #5492
Merged into master, closing issue.

[2019-12-05 11:00] #5492 closed

[2019-12-05 17:41] teusbenschop commented on #5481
Yes, I can confirm that I have followed the instructions provided in the link on enabling Google login on Decidim.

Just now I have created a new project in the Google Cloud and have followed the same instructions again, with a different client ID and client secret. But the results are the same as before:

Could not authenticate you from GoogleOauth2 because "Invalid credentials".

[2019-12-09 08:05] paarals opened #5552 "Notification of changing statuts in initiatives is incorrect"
**Describe the bug**
When the initiative goes from technical validation to a new status (accepted or rejected) the notification received indicates: change of state to **technical validation.** Actually, It should say: the initiative has the status: accepted / rejected

[2019-12-09 11:44] #5155 closed

[2019-12-11 08:23] victorol1 commented on #5520
Pending review: https://github.com/decidim/decidim/pull/5555

[2019-12-11 15:24] mrcasals commented on #5123
I've added some possible solutions in the proposal discussion!

[2019-12-12 13:25] mrcasals commented on #5425
I've been assigned to this, but I can't reproduce this problem on `master`. It looks like it was solved by 35b69c9cb80fba850109ca9fce0edb97b5280856 (from Oct 1st, 2019) and #5482 (Nov 8th, 2019).

@carolromero can you please close this?

Thanks.

[2019-12-12 13:28] mrcasals commented on #5425
Also, note that the commit solving this was made ***before*** opening this issue.

[2019-12-12 13:37] mrcasals commented on #5464
I was assigned this issue. @decidim/product I'll remove the resizing!

[2019-12-12 13:59] mrcasals commented on #5501
I have been assigned this issue.

This is intended. Official debates can be:

1. Open during a time window. This kind of debates have a start and end time. Comments are only open during this time window.
1. Fully open. They don't have a time window, so comments are always open.

In the case of the example and screenshots, the debate is only open during a time window, and at the time of taking the

[2019-12-12 14:21] paulinebessoles commented on #5501
Thank you for the answer @mrcasals !

[2019-12-12 14:21] #5501 closed

[2019-12-12 14:25] mrcasals commented on #5430
I have been assigned to this issue.

I can't reproduce this in current `master`. It seems it was fixed by https://github.com/decidim/decidim/pull/5412, which was opened a week before reporting this issue.

@decidim/product can you close this issue? Thanks!

[2019-12-12 14:29] mrcasals commented on #5430
Proof that it works as expected on current `master`: see that I have asked for 4 items to be selected, but only 2 were actually selected (the category had only those 2 items)

![image](https://user-images.githubusercontent.com/491891/70720449-1f3e5c80-1cf4-11ea-8cff-9ca54f4814ba.png)

[2019-12-12 15:50] oriolgual commented on #1826
@carolromero I can't reproduce this in Meta, Barcelona or our staging. Could you provide some URL where this is happening?

[2019-12-12 17:01] #5123 closed

[2019-12-12 17:24] #5521 closed

[2019-12-12 17:26] #5504 closed

[2019-12-13 08:14] mrcasals opened #5572 "Move tests to GitHub Actions"
I know feature requests are disabled, but since this is a purely repo-related request, not even related to the Decidim library *per se*, I though GitHub is still the best place to discuss this. If you think I should open this in MetaDecidim please tell me and I'll do it!

The idea is to move the test suite to GitHub Actions. It's now a released feature, seems stable, and it's free for open-source.

[2019-12-13 11:18] #5430 closed

[2019-12-13 11:20] paarals opened #5573 "Selctive newsletter is not sent to participants correctly in consultations"
**Describe the bug**
The selective newsletter does not make the query correctly. When you send a newsletter to a participant in a query, this should send to those participants who are in the definition of participant + someone who votes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Newsletter
2. Check participants and 1 consultation.
3. See error

[2019-12-13 11:24] carolromero commented on #1826
Hi @oriolgual I can reproduce it in Meta. If you go for example to: https://meta.decidim.org/processes/roadmap
I see this:
![imatge](https://user-images.githubusercontent.com/23509895/70796803-78b19480-1da3-11ea-8d2f-ed780434e053.png)

and not this:
![imatge](https://user-images.githubusercontent.com/23509895/70796865-836c2980-1da3-11ea-8ea9-c7463edbb751.png)

[2019-12-13 11:31] #5425 closed

[2019-12-13 11:37] mrcasals commented on #1826
But it hasn't disappeared, the menu is there, but it's collapsed by default. What should be done here? Uncollapse it by default?

[2019-12-13 11:40] carolromero commented on #1826
Exactly that (that's what it says in the issue description)

[2019-12-13 11:54] #5464 closed

[2019-12-13 18:11] #5508 closed

[2019-12-16 08:59] josanFFiG commented on #5425
I have just tryed on v.0.19 and it still happens.
Some images ansd instruccions to help you reproduce this bug:
1. Define a meeting as the author of the proposal.
![Captura de pantalla de 2019-12-16 09-49-49](https://user-images.githubusercontent.com/27766903/70892750-067ec100-1fea-11ea-9767-2f05d651c9c8.png)
2. Go to the meeting, and link proposal to the meeting.
![Captura de pantalla de 2019-12-

[2019-12-16 10:54] josanFFiG commented on #5425
I think I've checked on a master instance and apparently you are right @mrcasals: it works!

[2019-12-16 21:34] tramuntanal commented on #5572
Yes we were also discussing this in the last internal meeting. It is a very good idea if it can run many jobs in parallel. But in short term I find it difficult to be configured, maybe during next year :smile:

Do you already have experience with GitHub Actions?

[2019-12-16 21:51] #5410 closed

[2019-12-17 11:58] mrcasals commented on #5572
Glad to hear that!

At Codegram we've started using them for some smaller private projects. We're doing it in a test-and-fail basis, so I understand moving the whole Decidim suite to GitHub Actions would take some effort.

Maybe we could ask for help to GitHub directly? We could use the Community forums or similar.

[2019-12-17 12:13] carolromero opened #5581 "Install the term-customizer module for all instances of Barcelona"
ref: ED014
### User story

As an admin I want to be able to customize the language used in the platform and change the generic terms at the level of the whole instance, of a process, or of a component.
For example, use the term "Organs" instead of "Assemblies" which is the default.

Since there is a module developed by the community that allows this (https://github.com/mainio/decidim-module-term_c

[2019-12-19 09:38] arnaumonty opened #5588 "Move the Version box below the action buttons box"
## Description
The version control is important to have it but it needs less visibility to prioritize the interaction actions (Support, Endorse, Comment and Follow). This is why we propose to move it below the action buttons box to have more consistency in the distribution and hierarchy of the information

## Proposed Design
![versions](https://user-images.githubusercontent.com/3855859/71163133-c4

[2019-12-21 22:35] mijailr commented on #5572
We can make a progressive migration to Github Actions, starting with some decidim like the core first and creating the parallel jobs little by little.

[2019-12-22 13:51] #5408 closed

[2019-12-29 10:37] #5443 closed

[2019-12-31 15:21] #5384 closed

[2020-01-08 09:47] andreslucena opened #5600 "Save statistical fields to verification"
ref: PP002

### User story

**Is your feature request related to a problem? Please describe.**
As an admin, I want to have better data on the demographics of the participants of the platform.

**Describe the solution you'd like**
As an admin, I want to be able to download a CSV with the census data (when she was born, which district she belongs, which gender does she have) for the participants on

[2020-01-08 09:49] andreslucena opened #5601 "Predefined template in proposals"
ref: PP032

### User story

**Is your feature request related to a problem? Please describe.**

As a process admin, I want to be able to define some kind of guide to show to participants on specific processes that require special information.

**Describe the solution you'd like**

As a process admin I want to enable a predefined text (template) in the proposals, so that participants can follow a g

[2020-01-08 09:50] andreslucena opened #5602 "Improve navigation and visualization of proposals and projects by scope, category, origin and status"
ref: PP031

### User story

**Is your feature request related to a problem? Please describe.**

As a visiting user, I want to be able to navigate the proposals and budgets better. I'm frustrated when I try to see Proposals that belongs to more than one Status. For instance I want to be able to better filter on Status:

![](https://i.imgur.com/0KNoZkv.png)

Right now it's impossible to see "All exc

[2020-01-08 09:51] andreslucena opened #5603 "Add avatar to proposals that come out of a meeting"
ref: PP030

### User story

**Is your feature request related to a problem? Please describe.**

As a visiting user, is not easy to differentiate a Proposal when it comes out of a Meeting.

**Describe the solution you'd like**

I want to see some kind of Avatar or Icon of the Meeting when it comes from a Meeting (that is, when it is created from the Admin Panel and linked to a meeting through the "

[2020-01-08 09:52] andreslucena opened #5604 "Automatic 'follow' of registered participants in meetings"
ref: PP028

### User story

**Is your feature request related to a problem? Please describe.**

As a registered user of a meeting, I want to receive information about it automatically, without having to follow it manually.

**Describe the solution you'd like**

After registration, I should see on the same alert: "You have joined the meeting successfully. Because you have registered for this meetin

[2020-01-08 09:53] andreslucena opened #5605 "EPIC: Improve the Comments component"
ref: PP024

**Is your feature request related to a problem? Please describe.**

As a registered user, I miss some options for having a better navigation and some missing features that could allow to enrich the discussion.

**Describe the solution you'd like**

I want to be able to:
* hide (and show) comments by threads [ref: PP024-1] #5606
* to be able to make quotes [ref: PP024-2] #5608
* to be a

[2020-01-08 09:54] andreslucena opened #5606 "Hide (and show) comments by threads"
ref: PP024-1

### User story

**Is your feature request related to a problem? Please describe.**

As a visitor, I'm sometimes frustrated on reading Proposals or other pages with Comments on Decidim when there are too much comments.

**Describe the solution you'd like**

It'd be nice to have a ways to be hiding the comments when I've finished reading it like other platforms do (ie Meneame). When th

[2020-01-08 09:55] andreslucena opened #5608 "To be able to make quotes on comments"
ref: PP024-2

### User story

**Is your feature request related to a problem? Please describe.**

As a registered user making a reply to a comment some times I want to make quotes to something that the other participant is saying.

**Describe the solution you'd like**

As a registered user I want to be able to make quotes (embed, mention comments in a new comment). As a de-facto standard on other

[2020-01-08 09:55] andreslucena opened #5609 "To be able to get the URL of a comment"
ref: PP024-3

### User story

**Is your feature request related to a problem? Please describe.**

As a visitor sometimes I want to link to another comment.

**Describe the solution you'd like**

To have a unique URL to see a comment thread as other platforms that have comments threading has. It should be really clear that there other comments on this Proposal.

**Describe alternatives you've consi

[2020-01-08 09:56] andreslucena opened #5610 "To disable spam links on comments"
ref:  PP024-4

### User story

**Is your feature request related to a problem? Please describe.**

At the moment we're only adding rel=noopener to links on comments

**Describe the solution you'd like**

For SEO purposes we should add rel=nofollow to user generated content on comments.

**Describe alternatives you've considered**
N/A

**Additional context**

More information: https://pointjupiter.

[2020-01-08 14:04] mrcasals commented on #5600
Hi @andreslucena! We'll need the complete gender list for this, but do you really need this data? It's a sensible personal data and I'm not sure how the Spanish data protection law (LOPD) affects on this.

How do you expect to generate the CSV? If it's via a rake task only someone with access to the server can execute this.

I'm not sure I understand the actions. A list like `2, 25, endorsement, g

[2020-01-08 18:06] rfsaldanha opened #5612 "Can't create new initiative type"
**Describe the bug**
When I click at the "New Initiative Type" button, a "There was a problem with our server" page is show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Initiaves Menu, Initiatives Types
2. Click on 'New Initiative Type'

**Expected behavior**
To create a new initiative type.

[2020-01-09 08:26] mrcasals commented on #5601
I'll take this issue (I don't have permissions to assign it to myself!)

[2020-01-09 08:48] oriolgual commented on #5600
_I'm not sure this issue should be in this repo, since it's something specific to Decidim Barcelona_

@mrcasals the rake task should generate the CSV (maybe with a job) and send it via email (the recipients should be in an ENV var)

Interactions is the sum of all those values.

[2020-01-09 10:20] mrcasals commented on #5601
PR is ready to be reviewed!

[2020-01-09 10:32] mrcasals commented on #5603
Taking this issue! (I don't have permissions to assign myself to it)

[2020-01-09 11:14] mrcasals commented on #5604
I'll take this one!

[2020-01-09 14:16] mrcasals commented on #5604
@decidim/product this is already on staging! Log in with the default user and try to register to a Meeting (make sure you don't already follow it), you'll see how you'll start following it and the related alert.

[2020-01-09 14:18] mrcasals commented on #5603
@decidim/product this is already on staging! I created a proposal from a meeting to simplify your work:

http://staging.decidim.codegram.com/processes/quibusdam-enim/f/12/proposals/43

See how the avatar shows properly. Also, on the meetings list.

You can try creating a new proposal yourself in case you want to check the whole workflow!

[2020-01-09 14:18] mrcasals commented on #5601
@decidim/product this is already on staging! I checked it manually and everything looked good, but please do check it! 😄

[2020-01-10 17:01] carolromero commented on #5604
@mrcasals works perfectly :)

[2020-01-10 17:06] carolromero commented on #5601
hi @mrcasals I just tested it and it works perfectly. The only doubt I have is that the text box doesn't have a WYSIWYG editor. Is there a reason it wasn't included?

[2020-01-10 21:21] clauded opened #5618 "Unable to migrate to 0.20.0 with db:migrate error"
I'm trying to migrate from 0.19.0 to 0.20.0. When running db:migrate, I get the following error:

[code]

[2020-01-10 21:34] clauded commented on #5618
I was able to have to migration working by running:
[code]
However, I would like to know why my instance was in this state and how to avoid this error next time?

[2020-01-11 09:18] #5426 closed

[2020-01-12 16:48] #5477 closed

[2020-01-13 07:46] mrcasals commented on #5601
Yes! When non-admin users create a new proposal, they don't get a WYSIWYG editor. If we put a WYSIWYG editor in the admin, then the non-admin users would get raw HTML code in the body textarea, and this sounded wrong to me.

[2020-01-13 07:47] mrcasals commented on #5601
Yes @carolromero! When non-admin users create a new proposal, they don't get a WYSIWYG editor. If we put a WYSIWYG editor in the admin, then the non-admin users would get raw HTML code in the body textarea, and this sounded wrong to me.

[2020-01-13 08:00] carolromero commented on #5601
Yes @mrcasals, but recently we have included the option to have a WYSIWYG editor in the frontend: https://github.com/decidim/decidim/issues/5451
And since activating the editor is optional, I thought you didn't include it because of some incompatibility with this.

[2020-01-13 08:42] mrcasals commented on #5601
I was not aware of this PR, this increases the difficulty of the issue. I'll try to come up with some solution.

[2020-01-13 08:53] mrcasals commented on #5601
Actually @carolromero #5451 blocks this issue. If I need to consider #5451, then I have to build on top of it, since both issues affect the same part of the code, so I need to wait until that PR is merged (last update was 28 days ago). Waiting will affect the delivery date of this issue, and might make us deliver the issue later than the specified date, since it no longer depends on our team.

Eit

[2020-01-13 10:02] carolromero commented on #5601
Hey @mrcasals, how about we merge this one and open a specific issue to add this later?

[2020-01-13 10:02] mrcasals commented on #5600
@decidim/product just a reminder, we still need the gender list!

[2020-01-13 10:13] mrcasals commented on #5601
@carolromero works for me! I'll ask for reviews on the PR then 😄

[2020-01-13 13:31] mrcasals commented on #5600
@decidim/product if this field is a dropdown, then it needs a prompt. I'm currently using this:

![image](https://user-images.githubusercontent.com/491891/72259630-3c2ac000-3611-11ea-9ef0-4c461ac4eddc.png)

But I'm not sure if this is good. Can you provide text for one, please? (translated to English, it says "Please, select the gender you identify with best")

[2020-01-14 09:40] mrcasals commented on #5600
Hi @decidim/core! We're going to implement this issue using the Metrics system, but I see no docs on how to implement my own metrics, and the code doesn't have much documentation on how to work with it.

Could you provide some docs for this ASAP please? 🙏

Thanks!

[2020-01-14 09:51] #5451 closed

[2020-01-14 09:57] #5520 closed

[2020-01-14 09:59] #5536 closed

[2020-01-14 10:57] andreslucena commented on #5600
@mrcasals regarding the gender list, we'll have these options:

1. Man
2. Woman
3. Non-binary

We'll also need a help text on this field:

[2020-01-14 13:30] mrcasals commented on #5600
@decidim/product I still have some doubts about what does the `total` field represents. Is it the number of people that have performed the action? Or the number of times the actions has been performed?

Also, the fact that the participatory space type is missing is intended or you forgot about it? Because if we have an assembly with ID 1 and a process with ID 1, you won't know which one is it

[2020-01-14 14:14] mrcasals commented on #5600
More doubts, @decidim/product: can you confirm the list of actions and what they are supposed to calculate?

- Comment: number of comments left in the given component
- Endorsement: Number of endorsements inside of a component. Only makes sense for proposal components. **It will ignore any initiative endorsement**.
- proposal creation: Number of proposals created in the given component. **Only mak

[2020-01-14 15:19] htmlboy opened #5621 "Design proposal for #5602"
Design solution for #5602 (Improve navigation and visualization of proposals and projects by scope, category, origin and status)

Solved in PR: https://github.com/decidim/decidim/pull/5636

[2020-01-14 15:41] clauded opened #5622 "ip_hash always empty in anonymous survey results"
**Describe the bug**
We've created an anonymous survey and answered this survey as anonymous user. When inspecting the results (table decidim_forms_answers), ip_hash field is always empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Create anonymous survey as an admin
2. Logout
3. Answer survey
4. Export results or display data in psql (select * from decidim_forms_answers;)

**Expected b

[2020-01-14 17:23] tramuntanal commented on #5573
@jarvisct can you provide more information about this bug?

[2020-01-14 17:29] #5529 closed

[2020-01-14 17:33] tramuntanal commented on #5532
@decidim/product is the behavior described in this issue intended or should be corrected?

[2020-01-15 09:18] carolromero commented on #5532
hi @tramuntanal this is not intended and should be corrected. Thanks!

[2020-01-15 10:04] microstudi commented on #5622
It looks like the ip_hash is not getting passed to the form. I'll look into it.
However, the important field in order to distinct unuthenitcated user users is the `session_token`. Is that present?

[2020-01-15 13:03] #5491 closed

[2020-01-15 15:01] andreslucena commented on #5600
The number of people that have performed the action

Yes, participatory space type is missing

Yes, supports is missing

[2020-01-15 22:59] clauded commented on #5622
Yes, the session_token is present. What's the use of ip_hash?

[2020-01-16 10:59] andreslucena commented on #5600
One last thing, on the frontend we should say "Sex" instead of "Gender".

[2020-01-16 11:42] tramuntanal commented on #5618
Hi @clauded , it seems to me that the 20191211192037 migration was executed in the past but somehow deleted from the `schema_migrations`. From which version are you upgrading?

[2020-01-16 12:08] aborruso opened #5625 "Is there RSS for proposals"
Hi,
is there RSS for proposals? If yes what's the default URL for dedicim website?

Thank you

[2020-01-16 12:11] tramuntanal commented on #5600
Hi @mrcasals , regarding [your comment](https://github.com/decidim/decidim/issues/5600#issuecomment-574088462).
As you have found and you will know from when you were in core, the metrics system is not suitable for general data mining, it simply retains two counters for each day, the count for that day and the accumulate until that day. And the main restriction is that this each metric (metric_typ

[2020-01-16 12:30] mrcasals commented on #5600
@tramuntanal hi! Yes, I found that it didn't suite my needs, so I created another module with the specific code for Barcelona.

[2020-01-16 14:54] clauded commented on #5618
This was migrated from 0.19.0 (initial setup done with 0.18.0). Is there a way to make sure all db migrations tasks have been performed and then fix the schema_migration table?

[2020-01-17 10:21] andreslucena opened #5628 "EPIC: Improve the flow of responses"
ref: PP035

### User story

**Is your feature request related to a problem? Please describe.**
As a Valuator or a Participatory Process admin that has to Answer Proposals it gets very frustrating on all the flow. For instance:
* for finding the proposal from the frontend to the backend
* answering the proposal itself as I can't see the comments nor the metadata/statistics of a given proposal
* fil

[2020-01-17 10:22] andreslucena opened #5629 "Access to the action of answering from the frontend"
ref: PP035-1

### User story

**Is your feature request related to a problem? Please describe.**
As a valuator or a participatory process admin it's frustrating to find the proposal from the frontend to the backend to answering it, as the Edit button sends me to the full list of proposals on the admin page and it doesn't scale well when there are hundreds of Proposals.

**Describe the solution you

[2020-01-17 10:23] andreslucena opened #5630 "Improve the answer page (private notes/reply/metadata)"
ref: PP035-2

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator that needs to Answer Proposals,he it's really frustrating because I have three different pages that I need to see to get the "full picture":
* The Proposal show page
* The Private Notes for information that other administrators can give me
* The Answer form itself

**Describe the so

[2020-01-17 10:24] andreslucena opened #5631 "Add costs fields to proposal answers"
ref: PP035-3

### User story

**Is your feature request related to a problem? Please describe.**

As a user who evaluates proposals, I want to have more possibilities when it comes to responding to them. Specially on Participatory Budgeting processes, I need to be able to add metadata related with economical costs.

**Describe the solution you'd like**

Add costs fields to proposal answer:

- cost

[2020-01-17 10:24] andreslucena opened #5632 "Linking Processes with other processes"
ref: PP037

### User story

**Is your feature request related to a problem? Please describe.**
As an admin of a participatory process, I want to be able to link a participatory process to other existing processes.

**Describe the solution you'd like**
To have the same feature as assemblies of "Related participatory processes".

This relation should be bi-lateral (as if I relate Participatory Proce

[2020-01-17 10:25] andreslucena opened #5633 "New user profile: "Valuator""
ref: PP034

### User story

**Is your feature request related to a problem? Please describe.**

As a administrator of a participatory process that has to coordinate the answering of Proposals, I want to be able to configure a new Role that can answer only proposals that are relevant to their Area (or expertise). For instance, on the context of a city council, she'll be a public servant of a the ar

[2020-01-17 10:26] andreslucena opened #5634 "Make visible the link between proposals and meetings when the author is a meeting"
ref: PP027

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator when I create a new Proposal through the admin panel, when I configure that "This proposal comes from a meeting", it's frustrating to configure it as I always need to also manually configure the "Proposals created in the meeting" on the Meeting Close form.

**Describe the solution you

[2020-01-17 10:26] andreslucena opened #5635 "Process Activity and Metrics Improvements"
ref: PP004

### User story

**Is your feature request related to a problem? Please describe.**
As an admin I want to better configure if Metrics get shown on a given Participatory Process, and as an user I want to see more data on Activity. Also the terminology is not the same on backend and frontend and it's frustrating.

Finally, as a user sometimes on Activity I think that's clickable but it do

[2020-01-17 10:50] htmlboy opened #5637 "Design proposal for #5606 #5609 and #5608"
Design solution for improved comments ( #5606 #5609 #5608)

Solved in PR: https://github.com/decidim/decidim/pull/5641

[2020-01-17 13:20] mrcasals commented on #5630
@andreslucena this seems wrongly formatted? There's a sentence that's not finished, and text in Spanish, can you check it please?

[2020-01-17 16:16] #5604 closed

[2020-01-17 16:20] #5603 closed

[2020-01-20 09:51] Maugz opened #5639 "Global scope not selectable in filters of processes"
**Describe the bug**
'Global Scope' cannot be selected in the Scope filter of a process after selecting a more precise scope area.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any processes
2. On General Info page just scroll down to FILTERS with 'Scopes' enabled
3. Select any area in the drop down filed of "Scope" and confirm
4. Try to select Global Scope from the same drop down fi

[2020-01-20 10:28] mrcasals commented on #5600
@decidim/product I'm still not understanding the `interactions` action. The rest of actions are counting *how many people performed the action*. So, interactions, as defined, has different interpretations:

Given these example stats for a given component, and assuming only these stats exist to simplify it:

- comment: users 1, 2, 3, 4, 5 have commented
- endorsement: users 4, 5, 6, 7, 8 have endor

[2020-01-20 10:46] carolromero commented on #5600
Hi @mrcasals, the correct one is number 2: the number of people that performed ANY of those actions. Only counts each user **once**. Thanks!

[2020-01-20 21:33] #4630 closed

[2020-01-20 21:41] #1826 closed

[2020-01-20 22:05] microstudi commented on #5622
actually, it was a requirement from the security team in order to be able to collect entries from the same ip if it was necessary.

[2020-01-21 07:58] mrcasals commented on #5600
Ok, thanks!

[2020-01-21 08:27] #5588 closed

[2020-01-22 08:27] htmlboy opened #5645 "Proposal cards and proposal views with the same tags format"
Design proposal related to #5602

Solved in PR #5646

[2020-01-22 09:20] eva-sl commented on #5602
Hi @decidim/product,

For the  AC: "As a visitor I can see the Categories consistent between the filter listing page and the proposal page"
We've got this UX proposal:
https://github.com/decidim/decidim/pull/5646

Can you check it? We are afraid that the location icon may not work in all the contexts. If not, will explore other options. Also, if you can give us more insights of this AC it will be

[2020-01-22 12:54] carolromero commented on #5602
Hi @eva-sl as commented offline, the AC "As a visitor I can see the Categories consistent between the filter listing page and the proposal page" refers to applying the design of the category tags shown in the proposal list to the proposal detail page. So it should look like this:

![imatge](https://user-images.githubusercontent.com/23509895/72895783-86e9bd80-3d1e-11ea-85bb-09f043f0ac1f.png)

![ima

[2020-01-22 13:04] eva-sl commented on #5602
Hi @decidim/product

On that note, in the AC related to the "highlighted"  ones:

 What makes it highlighted? Depending on it there is a lot of (backend) work.

Also are some points:
- It applies to: Categories, Areas(or Scope?) and Budgets?
- It's not possible to do it by login -→ some users are not verified/censed
- We will never know the maximum of hilghlited items, so the given solution in the

[2020-01-22 13:13] eva-sl commented on #5602
ok, thanks!

[2020-01-22 14:01] mrcasals commented on #5600
Hi @decidim/product! PR should be ready for reviews https://github.com/AjuntamentdeBarcelona/decidim-barcelona/pull/281

Since this is only for Decidim Barcelona, I'm not sure how to proceed with the staging step, since we Codegram don't have access to those apps. How should we proceed?

/cc @tramuntanal

[2020-01-22 14:07] mrcasals commented on #5600
In case it helps reviews, here's an example of the email it sends and the attachment, compressed as a ZIP file because GitHub doesn't allow CSV uploads:

![image](https://user-images.githubusercontent.com/491891/72900717-adacf180-3d28-11ea-890d-0e61829a72e6.png)

[stats.csv.zip](https://github.com/decidim/decidim/files/4097677/stats.csv.zip)

[2020-01-23 10:54] carolromero commented on #5602
Hi! After discussing it offline, we have agreed that instead of using highlighted filters we will reorder the current filters.

The new order of the filters is:
- Status
- Scope
- Category
- Origin
- Activity
- Type
- Related to

[2020-01-23 11:07] tramuntanal opened #5648 "Localized fields appear blank when editing meetings"
**Describe the bug**
When entering the edit meeting screen of an already existing meeting, in the admin panel, all localized fields appear blank; even when in the front-end the same meeting correctly shows the content of this fields.

This happens when the organization has one available_locale only. When the organization has two or more locales, the edit of a meeting works as expected.

**To Repro

[2020-01-23 11:15] PierreMesure commented on #5631
Hey @andreslucena, it's great that you're adding this to Decidim! I'd like to add that Consul has a field to explain why the project was unfeasible if it is marked as such!

![image](https://user-images.githubusercontent.com/7223028/72979880-91b55880-3dd9-11ea-80e3-5f750d55a527.png)

Another thing that you might need to take into consideration is that civil servants want to announce the evaluation

[2020-01-23 11:54] tramuntanal commented on #5600
hi @decidim/product are you ok having this feature as a decidim-barcelona customization? shouldn't it be a module in its own?

[2020-01-23 12:58] andreslucena commented on #5630
@mrcasals you're right as usual, we've already fixed it

[2020-01-23 13:31] mrcasals commented on #5645
Hi @decidim/product! The layout we currently use for proposal scopes and categories allows for this case:

![image](https://user-images.githubusercontent.com/491891/72988423-8586c680-3dec-11ea-86e9-62ee81bd506e.png)

Note how the category was changed, and this change was publicly visible in the layout. If we change the layout to use the squares used in cards we lose this visibility.

Should we dro

[2020-01-23 13:35] mrcasals commented on #5645
Agh, changing the category from the admin side does not generate a new version of the proposal, so we'll need to find another way around this

[2020-01-23 17:36] arnaumonty commented on #5645
Could be shown as a list using the tag design and removing the "FIELD AS" title?

[2020-01-24 08:20] mrcasals commented on #5602
@decidim/product https://github.com/decidim/decidim/pull/5649 changes the filter order for proposals. I see there's some acceptance criteria for highlighted scopes in budgets, too. How should we handle this part?

[2020-01-24 08:37] andreslucena commented on #5608
I've reviewed it on Staging. Just a quick comment, that when I try:

This is (what I hope to be) a reply

I see both as a quote, but I actually think is the expected behaviour (as we can see here on Github). Even on the [Wikipedia article linked](https://en.wikipedia.org/wiki/Posting_style#Quoted_line_prefix) it says: "Sometimes the insertion of a quoted line marker will cause one original line to

[2020-01-24 09:18] mrcasals commented on #5608
@andreslucena exactly, I think that's Markdown's expected behavior!

[2020-01-24 09:43] carolromero commented on #5645
I agree that could work!

[2020-01-24 09:59] #5601 closed

[2020-01-24 10:58] mrcasals commented on #5606
@decidim/product this is live on staging! You can check it here, for example, where I set some replies for you to try:

http://staging.decidim.codegram.com/processes/itaque-at/f/12/proposals/12

[2020-01-24 12:24] htmlboy commented on #5645
Updated design:

![Screenshot 2020-01-24 at 13 20 25](https://user-images.githubusercontent.com/468685/73068979-dcec6b80-3eac-11ea-9e21-459cb2cbd320.png)

[2020-01-24 13:29] carolromero commented on #5608
I checked it too. The only doubt I have is: how will a participant know the syntax for making quotes?

[2020-01-24 13:38] eva-sl commented on #5602
@decidim/product

In our first approach related to improve the filters and as is explained in the _solution you'd like description_ it says "change radio buttons for checkboxes."

But in the AC:
- "As a visitor I can filter through multiple Categories, Areas, Scopes and Answer types on Budgets"
For `scopes` and `answer type` is clear, but we need to know how to apply it in **Categories** and **Are

[2020-01-24 13:51] mrcasals commented on #5608
Probably at some point we should add some way to explain the syntax that can be used. For example, I never remember how to mention proposals!

[2020-01-24 14:20] carolromero commented on #5645
@htmlboy looks good to me! The only issue would be that a long list of tags could be generated vertically, but actually a proposal can have at most one category and one scope associated with it, so I think it works perfectly :)

[2020-01-24 14:55] carolromero commented on #5606
@mrcasals I just reviewed this. A couple of doubts:
- As a visitor, instead of seeing the text "Hide replies" / "Show replies" I see the string `hide_replies` / `show_replies` (as registered user it looks fine).
- As a visitor, I don't see the number of responses but as a registered user I do. Is there a reason for this?
- I haven't been able to reproduce the AC: "As a visitor when I revisit I can

[2020-01-24 15:07] mrcasals commented on #5606
@carolromero regarding your doubts:

These two problems are due to the strings not being translated into Catalan yet. Try it in English and it will work as expected!

I sincerely missed this AC! Let me explore technical options for this.

[2020-01-24 15:13] carolromero commented on #5606
You're right!

[2020-01-24 16:06] mrcasals commented on #5606
@carolromero I've deployed a change to keep the state between visits. Can you review it so we can send this PR to technical review, please? 😄

[2020-01-24 16:20] carolromero commented on #5606
Checked and sent to technical review :rocket:

[2020-01-24 18:50] #5600 closed

[2020-01-24 21:23] clauded commented on #5618
Tried another migration and cannot reproduce original bug.

[2020-01-24 21:23] #5618 closed

[2020-01-24 22:08] clauded opened #5659 "Unable to display notifications after upgrade to 0.20.0"
**Describe the bug**
Decidim installation migrated from 0.18.0 to 0.20.0. After upgrade, clicking the notification icon for a logged in user result in error 500.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a normal user in decidim
2. Upgrade to 0.20.0
3. Upgrade DB schema
4. Run manual migration fixes for 0.20.0
5. Click the notification icon for that user who logged in while D

[2020-01-27 09:57] carolromero commented on #5602
@mrcasals I've just updated the AC according to what we agreed.

@eva-sl you mean that selecting the parent category will not also select the nested categories, right? Let's apply it anyway and in future iterations we will look into changing the behavior between parent and child categories.

You're right! Filters updated in the AC :)

[2020-01-27 11:42] mrcasals commented on #5609
@decidim/product this is now live in staging for you to review!

I set up some comments here so you can test the feature:

http://staging.decidim.codegram.com/processes/nihil-dolor/f/3/proposals/7

[2020-01-27 13:47] mrcasals commented on #5609
@decidim/product I've updated the code to scroll to the comments section when checking a single comment, can you review it?

[2020-01-27 13:50] carolromero commented on #5609
yep, I think we got it now. Thanks!

[2020-01-28 10:15] PGrecoo opened #5667 "Set default avatar"
**Describe the bug**
I'm not able to set a default avatar in decidim, I just want to set a different avatar for users that log in with @gmail.com for ex. How can I do?

Thanks for the reply

**Extra data (please complete the following information):**
 - Device: [Desktop]
 - Device OS: [Ubuntu 18.04]
 - Browser: [Firefox]
 - Decidim Version: [0.18]

[2020-01-28 12:11] carolromero commented on #5635
Hey @mrcasals here is the calculation of Participants: https://github.com/decidim/decidim/issues/5020

[2020-01-28 15:06] mrcasals commented on #5630
Talked offline with product:

- We'll use the "Answer" action icon to refer to this new page from the proposals list in the admin section
- Even though we considered it, we'll keep the Edit Proposal page *separate* from this new one
- Rankings will not appear in the proposal public page

[2020-01-28 15:09] mrcasals commented on #5632
Talked offline with product:

- Any user that can administrate the process can link processes (process admin and organization-wide admins)
- Processes can be linked with processes in any status (published/non-published). The frontend part will need to show only the published ones.

[2020-01-30 08:53] mrcasals commented on #5634
@decidim/product this is now live in staging, can you check it please? 😄

[2020-01-30 10:10] ivan-mr opened #5675 "Can't create initiative with long description body"
**Describe the bug**
When starting the process of create an initiative, on the previous_form screen (where there are the title and description fields form), if the value introduced on description is very big (around 2000 chars), it fails on continuing to the next step.

This is caused because all information of the form is saved in a cookie. If the information is too big it is raised a Cookie Over

[2020-01-30 12:55] carolromero opened #5677 "EPIC: Add improvements to conversations"
ref: ED019
### User story

**Is your feature request related to a problem? Please describe.**
As a participant I want to have more options when sending private messages from the platform, such as attaching links and configuring who I want to receive messages from.

I'd also like to have a better user experience, such as going directly to the last message I have exchanged with someone. I'd also lik

[2020-01-30 12:58] carolromero opened #5678 "Scroll automatically to the last message of a conversation thread"
ref: ED019-1
### User story

**Is your feature request related to a problem? Please describe.**

As a participant, when entering a conversation, I'd like to go straight to the last message I exchanged with someone

**Describe the solution you'd like**

I want to have an automatic scroll to the last message when I enter a conversation

**Does this issue could impact on users private data?**
No

###

[2020-01-30 13:02] carolromero opened #5679 "Add option to "Receive messages from everyone" on my profile"
ref: ED019-2

### User story

**Is your feature request related to a problem? Please describe.**

As a participant I'd like to have the option for only receive private messages from people that I already follow.

**Describe the solution you'd like**

I want to have an option "Receive messages from everyone" on my user profile checked by default on the [Notifications page of my user account](https:

[2020-01-30 13:03] carolromero opened #5680 "Be able to add links in conversations"
ref: ED019-3

### User story

**Is your feature request related to a problem? Please describe.**
As a participant, when I add a link in a message from a conversation it is not clickable and I have to manually copy and paste the link into the browser.

**Describe the solution you'd like**
I want the links added to a conversation to be automatically parsed as it's done on comments.

**Does this issu

[2020-01-30 14:32] carolromero opened #5681 "Conversations with more than one participant"
ref: ED020

### User story

**Is your feature request related to a problem? Please describe.**
As a participant, I want to be able to have private conversations with more than one person.

**Describe the solution you'd like**
- I want to have a "New conversation" button and a search engine for participants
- If I select participants with whom a conversation already exists I want to scroll automati

[2020-01-30 14:36] carolromero opened #5682 "EPIC: Add mentions and private messages for groups"
ref: ED021

### User story

**Is your feature request related to a problem? Please describe.**
As a participant I want to be able to mention groups in comments and also to send private messages to groups.

**Describe the solution you'd like**
As a particpant, I want to be able to:
- Be able to mention groups [ED021-1] #5683
- Send private messages to groups [ED021-2] #5776

### Acceptance criteria

[2020-01-30 14:39] carolromero opened #5683 "Be able to mention groups"
ref: ED021-1

### User story

**Is your feature request related to a problem? Please describe.**
As a participant I want to be able to mention groups in comments and get group members notified.

**Describe the solution you'd like**
As a particpant, I want to:
- Mention any group in a comment, using autocomplete
- Members of a group are notified when I mention that group

**Additional context**
htt

[2020-01-31 08:37] #5609 closed

[2020-01-31 09:34] carolromero commented on #5602
Hi, we have tested this but we found some odd behaviors:
- If we try to do a test and select for example only the accepted proposals, [the proposals with other statuses are also shown](http://staging.decidim.codegram.com/processes/nihil-dolor/f/3/proposals?utf8=%E2%9C%93&filter%5Bsearch_text%5D=&filter%5Bstate%5D%5B%5D=all&filter%5Bstate%5D%5B%5D=accepted&filter%5Bscope_id%5D%5B%5D=all&filter%5Bsc

[2020-01-31 10:14] carolromero commented on #5634
@mrcasals this is looking good :smiley:
http://staging.decidim.codegram.com/processes/nihil-dolor/f/3/proposals/46

[2020-01-31 10:21] mrcasals commented on #5634
Yay! I'll ask for technical reviews then 😄

[2020-01-31 15:19] mrcasals commented on #5630
@decidim/product I've deployed this to our staging, can you check it please?

[2020-02-03 08:41] mrcasals commented on #5633
@decidim/product this "Valuator" role, what participatory spaces should it apply? In the issue description only processes are mentioned, but should it also apply to other participatory spaces?

Currently, spaces with roles are:

- Processes
- Assemblies
- Conferences

[2020-02-03 15:46] carolromero commented on #5633
Hi @mrcasals, it's those 3 spaces. Thanks!

[2020-02-03 16:36] carolromero commented on #5630
Hey @mrcasals, some things I'm missing:
- view the related meetings
- view the proposal's attachments
- have a link to start a conversation with the Author. (Only ICYMI, we have an option already implemented in the [Participants section](http://staging.decidim.codegram.com/admin/officializations) to send them messages from the admin. I don't know if it's feasible to do it the same way, or you can

[2020-02-03 18:16] teusbenschop commented on #5481
The issue is stale, yes, that's true.
But a solution is not yet there, at least not that I know of as of today.
If it may be kept open a bit longer, that would be great.

[2020-02-04 07:52] mrcasals commented on #5630
Oh, I forgot about that part, sorry. Working on it!

[2020-02-04 09:28] mrcasals commented on #5630
@decidim/product I've deployed a new version with the missing fields! 😄 Can you check it please?

[2020-02-04 10:04] carolromero commented on #5630
@mrcasals this is going to be super helpful. On behalf of Decidim admins I say

![](https://media.giphy.com/media/IcGkqdUmYLFGE/source.gif)

just one thing, can you check the sending of messages to the participants? that's not working.

[2020-02-04 10:09] mrcasals commented on #5630
@carolromero it's not working because you're trying to contact yourself, and conversations with yourself are not allowed in Decidim. I'll add a fix to remove the conversation link if author and current user are the same.

[2020-02-04 10:32] carolromero commented on #5630
right, that makes sense :sweat_smile: ok, let me know when it's ready and we'll send this to technical review. Thanks!

[2020-02-04 10:51] mrcasals commented on #5630
@carolromero I've just deployed a new version with the fix!

[2020-02-04 12:52] mrcasals commented on #5633
@decidim/product another doubt, have you thought a way to unassign a valuator from proposal? For example, should this action be done from the proposal info page?

[2020-02-04 14:12] carolromero commented on #5633
@mrcasals, good question. Actually we could use 2 different ways to unassign permissions to valuators.
- First one is a 'bulk' type through the Actions menu, for cases where you have to reassign teams of valuators in several proposals:

![imatge](https://user-images.githubusercontent.com/23509895/73751487-80683680-475f-11ea-9bb9-3f7c73838dfb.png)

- Second one is individual, on the proposal inform

[2020-02-04 14:37] mrcasals commented on #5633
@carolromero Regarding the unassigning bulk action, I'm not so sure about how to work on it technically, but I'll figure it out 😄

Checking what valuators are assigned to a given proposal is something defined in the issue description:

Still, I had it in mind, so we're good. Regarding what option to unassign from a single proposal, I'd take the first one: I don't think the valuator email and invit

[2020-02-04 14:46] carolromero commented on #5633
I rely on your magic ✨

All right then!

[2020-02-04 16:55] carolromero commented on #5523
Hi @tramuntanal and @jarvisct!
A couple of comments after reviewing this:
- The "Follow" option is missing.
- The width of the columns should match the width of the columns in Proposals so that the "Endorse" button is not distorted.
- The "Most commented post" column doesn't make much sense on the post page (it was actually added because there was an empty space left), so now it's better to remove

[2020-02-05 08:44] mrcasals commented on #5632
@decidim/product this has been deployed at staging! I've created an unpublished process to show that unpublished processes do not appear in the public page, and linked the processes, but please do tinker around to check the feature 😄

[2020-02-05 10:07] carolromero commented on #5632
It works like a charm :ok_hand:

[2020-02-05 14:24] jarvisct opened #5689 "Skipped date time format in meetings form"
**Describe the bug**
On admin dashboard, when editing meeting form, _start date_ and _end date_ appears with database date time format. When submitting the meeting form, the form is invalid because date time fields are interpret like blanks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the admin dashboard and edit one existing meeting.
2. Click on 'Update'.
3. See error.

**Expected

[2020-02-05 14:33] mrcasals commented on #5633
@carolromero @decidim/product regarding this 👆, I need the #5671 PR to add the list, so I'm getting blocked due to the amount of unmerged reviews 😞 I can keep working on other parts of the PR, but I'll soon get blocked until that PR is merged.

[2020-02-05 14:34] mrcasals commented on #5629
@decidim/product this issue needs #5671 to be merged before starting it.

[2020-02-05 15:22] mrcasals commented on #5633
Hi @decidim/product, another issue: this Acceptance Criteria:

Should this be done via the new filters? I'm trying to make it work, but I suspect the system is not flexible enough to handle what we're doing here 😕

[2020-02-05 16:32] carolromero commented on #5635
@htmlboy I've updated the issue, hope is clearer now!

[2020-02-05 17:35] carolromero commented on #5633
Hi @mrcasals, regarding this, we were thinking that one solution would be to use the search options to filter proposals by the name (or nickname) of the evaluator assigned to them. Something like this:

![imatge](https://user-images.githubusercontent.com/23509895/73866858-d44d4b00-4845-11ea-810a-2cde842788de.png)

Or even like this:
![imatge](https://user-images.githubusercontent.com/23509895/7386

[2020-02-05 17:38] carolromero commented on #5633
@decidim/core I'm sure you're aware, just pinging about the PRs piling up :grimacing:

[2020-02-06 08:28] mrcasals commented on #5633
Took me a while to fight the current implementation, but I managed to get the filter-based solution working (instead of typing the valuator name in the search field). Thanks!

[2020-02-06 11:00] carolromero commented on #5630
Hey @mrcasals, sorry to chime in with a last-minute change, but we are already seeing that we will need to make a change due a scale issue :grimacing:

The list of endorsers should be limited to 5 and add a "truncate" or similar with "and XX more". I say this because in Barcelona we are already receiving proposals with more than 60 endorsers.

Is it better to change this now? Do you prefer to make

[2020-02-06 12:04] mrcasals commented on #5630
@carolromero I need this PR reviewed ASAP because it's blocking me in other PRs, I'll add a new PR on top of this one to truncate the list of endorsers.

I guess you still want to see all endorsers, right? I'm thinking about a toggle to show all/only show 5. Or is it enough if I just list 5 of them and direct the admin to the proposal public page to see the rest of endorsers? (The toggle takes mor

[2020-02-06 12:08] carolromero commented on #5630
@mrcasals, let's go with the easy one (link to the proposal public page to see the rest of endorsers), it's good enough. Thanks!!

[2020-02-06 13:33] mrcasals commented on #5630
@carolromero I've updated the PR (it was a small fix that could be done quickly) and deployed a new version to staging in case you want to check it out! I've also updated the screenshot in the PR to reflect the change.

[2020-02-06 14:13] carolromero commented on #5630
@mrcasals this is perfect :heart_eyes:

![imatge](https://user-images.githubusercontent.com/23509895/73944498-fe107b80-48f2-11ea-8184-edcf3bf11f4a.png)

Thanks!

[2020-02-06 16:09] #5689 closed

[2020-02-08 08:04] tramuntanal commented on #5452
Hi @carolromero , this issue should be closed via https://github.com/decidim/decidim/pull/5503 do we close it?

[2020-02-08 08:15] #5452 closed

[2020-02-08 08:22] tramuntanal commented on #5453
Closing issue via https://github.com/decidim/decidim/pull/5503

[2020-02-08 08:22] #5453 closed

[2020-02-08 08:22] tramuntanal commented on #5454
Closing via https://github.com/decidim/decidim/pull/5503

[2020-02-08 08:22] #5454 closed

[2020-02-08 13:13] #2623 closed

[2020-02-08 15:55] #5645 closed

[2020-02-08 16:00] #5610 closed

[2020-02-09 20:44] #5608 closed

[2020-02-09 20:49] #5634 closed

[2020-02-10 08:47] andreslucena opened #5692 "Change authentication for HERE.com service"
### User story

**Is your feature request related to a problem? Please describe.**

As an implementer of Decidim when I need to configure a new installation I can't configure HERE.com maps anymore, as they've changed the way the handle authentication:

[Source](https://developer.here.com/documentation/authentication/dev_guide/topics/app-credentials.html)

**Describe the solution you'd like**

To h

[2020-02-10 09:11] mrcasals commented on #5630
Hi @decidim/product! @tramuntanal raised an issue: the icon to access the proposal info page might be misleading:

![image](https://user-images.githubusercontent.com/491891/74135918-77f37e00-4bed-11ea-8be9-39597352f718.png)

The correct button is the 2nd one, the "answer" one. @tramuntanal suggested using an "info" icon:

![image](https://user-images.githubusercontent.com/491891/74136025-a709ef80-

[2020-02-10 11:00] carolromero commented on #5630
Hi @mrcasals, thanks for the ping. @tramuntanal we thought about this. We think it's better to keep the current icon used to answer the proposals, which is still the main action. Thanks!

[2020-02-10 12:28] tramuntanal commented on #4116
Hi @decidim/product ,
We'll take this issue and will implement [the solution suggested by @oriolgual ](https://github.com/decidim/decidim/issues/4116#issuecomment-471680950).

For this, we need a default content for the static page. Can you provide one?

[2020-02-10 13:06] mrcasals commented on #5633
@decidim/product I've deployed this to staging! Please, note that there's a couple of things that are blocked by #5630 so they haven't been implemented yet (showing the list of valuators in the proposal page, and unassigning valuators from that page; it's not done because that page is not yet merged into master). Apart from that, the rest of the features should be done. Can you check it please?

[2020-02-10 13:35] mrcasals commented on #5631
Hi @decidim/product! Small question, do these fields really need to be mandatory? This would make all previous proposals in any installation become invalid, so they someone (an admin) will need to update them filling these values... I feel that's a lot of work, and in some cases setting a cost might not be needed (for example, when a proposal is rejected because it's not valid for the current part

[2020-02-10 14:00] mrcasals commented on #5631
Ah, I hadn't seen this part of the description, all good then!

[2020-02-10 14:03] mrcasals commented on #5631
@decidim/product I guess this this checkbox is a component configuration, but is it a step configuration or a global configuration?

[2020-02-10 14:08] carolromero commented on #5631
@mrcasals you have a point anyway. It's true that it's a setting, **configurable by phase** BTW, but it doesn't make much sense to assign a cost and a report to a rejected proposal.
Still we want to "force" that information to be provided by the admins. Is it possible to make it mandatory for any not rejected proposal?

[2020-02-10 14:14] #5606 closed

[2020-02-10 14:15] mrcasals commented on #5631
Yes, we can make the fields only mandatory if the state is different than "Rejected"!

[2020-02-10 14:20] #5630 closed

[2020-02-10 14:27] carolromero commented on #4116
Hi @tramuntanal, can we also modify the hard-coded text of the banner and change it so that it applies in a generic way?

**Banner text**
Initiatives are a means by which anyone can intervene so that `Organization_name` can take action in defense of the general interest that lies within its areas of competence. What initiative do you want to launch? (More information).

**More information text**
"

[2020-02-10 14:33] carolromero commented on #5631
Great! In fact we have come to the conclusion that it only has to be **mandatory for accepted proposals**. I have updated the AC accordingly. Thanks!

[2020-02-10 14:37] carolromero commented on #5633
Hi! I've tried this and it works fine! The only strange thing I detected and thought was a bug with the filters, is that it doesn't show the name of the Valuator but a number, maybe the ID? It's the same with Scopes and Categories. Any idea why this happens @tramuntanal?

![imatge](https://user-images.githubusercontent.com/23509895/74158922-3083e680-4c1b-11ea-97c3-3a22cf9858a8.png)

[2020-02-10 15:13] mrcasals commented on #5633
Mh, not sure, but in my machine it works fine (check the screenshots in the PR)

[2020-02-10 15:20] mrcasals commented on #5633
#5630 has been merged, so I'll keep working on this issue, adding the missing points.

[2020-02-10 17:55] PierreMesure commented on #5631
Hey, it is as important if not more that rejected proposals get a justification. So the field report should be present in both cases. See my comment on how CONSUL deals with it above.

[2020-02-10 17:56] PierreMesure commented on #5631
Citizens need to know why a proposal got refused, always. Civil servants need to justify that decision. Otherwise, anything can be refused.

[2020-02-10 17:59] carolromero commented on #5631
Hi @PierreMesure no worries, we're not changing the answer box, just adding new fields. And yes, for rejected proposals it is mandatory to attach an explanation.  That's already the case now and it's not going to change :)

[2020-02-10 20:07] clauded opened #5697 "Slow display of surveys"
**Describe the bug**
When a survey has a lot of response (400 or more for example), it can take 15 seconds to display the survey page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a survey with multiple questions
2. Fill in the survey (if possible hundreds of answers)
3. Goto the page of the survey (either authenticated or not)
4. The survey will take a long time to display

**Expe

[2020-02-11 09:45] #5632 closed

[2020-02-11 13:35] mrcasals commented on #5633
@decidim/product I've deployed this PR to staging, all the Acceptance Criteria should be done now, can you review it please? 😄

[2020-02-11 14:21] microstudi opened #5699 "User previously invited are DELETED when registering"
**Describe the bug**

Users created through invitations are deleted when the same user register to Decidim independently. This causes tables having relations to that users to be orphan and potentially breaks the system.
One case where this happen is when a user is invited to a private space, if the user registers to the platform ignoring the invitation, the users created previously is deleted and

[2020-02-11 15:03] mrcasals commented on #5631
@decidim/product I've deployed this to staging, can you check it please? (Remember you'll need to enable the cost fields in the component step settings!)

[2020-02-11 15:06] mrcasals commented on #5602
@decidim/product we've deployed this to our staging, can you check it please?

[2020-02-11 16:06] agustibr commented on #5635
@decidim/product this has been deployed to `staging`! 😄

[2020-02-11 17:01] PierreMesure commented on #5631
Sorry, I misunderstood! All good then!

[2020-02-11 20:04] carolromero commented on #5633
@mrcasals this works beautifully :heart:
The only issue is that I keep seeing numbers instead of the valuators names, but I think it's related to the filters because it happens in others too. Sending this to tech review :rocket:

[2020-02-11 20:43] carolromero commented on #5631
@mrcasals just a couple of comments:
- I was expecting, based on the mockup, to have some read more/read less toggle for the report text (I'm aware that it's not in the definition of the story) Would it be complicated to implement something like this from 200 characters upwards, for example?
- Dumb question: Why do I see the cost in $? :sweat_smile: Does it have to do with the configuration of the

[2020-02-11 21:03] carolromero commented on #5635
Hi @agustibr this is looking good! :)

[2020-02-12 08:06] mrcasals commented on #5631
About the dollar sign, it's due to the configuration of the staging app.

I'll work on adding the toggle!

[2020-02-12 08:36] carolromero commented on #5602
Hi I just reviewed this and it's working just fine! :tada: :tada: Congrats! I know this was a tough one!
Just one minor detail, the direction of the arrows in the fold-outs should be reversed because as it is now it is counter-intuitive. If we change this we're good to merge! :blush:

[2020-02-12 08:50] #5605 closed

[2020-02-12 10:00] carolromero opened #5701 "The proposals filters in the admin panel do not show the values"
**Describe the bug**
In the admin panel there are new filters to filter proposals according to several criteria: Type, Status, Scope, Category and Assigned Valuator.
The last 3 filters do not show values but numbers (presumably the IDs?)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any participatory process in the admin panel and click on the component 'Proposals'
2. Click on 'Filte

[2020-02-12 10:58] mrcasals commented on #5631
@decidim/product I've deployed a new version of this issue, now featuring the text toggle! Can you check it again please? 😄

[2020-02-12 11:11] carolromero commented on #5631
:heavy_check_mark: Checked! We're good to go now! Thanks!

[2020-02-12 14:30] leio10 opened #5702 "Amendment proposals filtering by state is not working"
**Describe the bug**
When filtering proposals by "Evaluating" state, some proposals in that state don't appear in the results. Specifically, those who represent an amendment to other proposals.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a proposals component with "Evaluating" proposals and "Evaluating" amendments too
2. Click on "Evaluating" filter.
3. See error

**Expected behavi

[2020-02-13 08:44] agustibr commented on #5629
@decidim/product this is deployed this to `staging`, can you check it please? 😄

[2020-02-13 15:26] carolromero opened #5708 "Configure permissions at district (scope) level for the different components"
ref: PP003

### User story

**Is your feature request related to a problem? Please describe.**

In [Barcelona's participatory budget process](https://www.decidim.barcelona/processes/PressupostosParticipatius), citizens will be able to vote on projects in two different districts, in which they are registered and in another district of their choice (see #5711). As an administrator I need to configur

[2020-02-13 15:26] carolromero opened #5709 "EPIC: Improve the Budgets component"
ref: PP019

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator of a Budgets style participatory process, I need multiple improvements to the current flow.

**Describe the solution you'd like**

* Improve the budget cards and the budget page (ref: PP019-01) #5710
* Complex voting on Budgets (ref: PP019-02) #5711
* Improve finish page on Budgets (r

[2020-02-13 15:29] carolromero opened #5710 "Improve the budget cards and the budget page"
ref: PP019-01

### User story

**Is your feature request related to a problem? Please describe.**

As a promoter of a participatory budgeting project, I want to see more information about my project.

**Describe the solution you'd like**

The following fields should be added:
- Brief description (with character limitation)
- Be able to add an image

**Describe alternatives you've considered**
To c

[2020-02-13 15:38] carolromero opened #5711 "Complex voting on Budgets"
ref: PP019-02

### User story

**Is your feature request related to a problem? Please describe.**

As a participatory process administrator, I want to be able to configure a Budget voting process with the following configuration:
* A participant can vote on two districts:
  1. on her district (related with PP003) #5708
  2. on other district that she has chosen
* A participant can change her votes

[2020-02-13 15:39] carolromero opened #5712 "Improve finish page on Budgets"
ref: PP019-03

### User story

**Is your feature request related to a problem? Please describe.**

After a Participant has voted on Budgets it's not so clear that the vote has been saved.

**Describe the solution you'd like**

We need to review/improve this page with design when the voting has finished.

We would send an email when the user has completed their voting, with the following template:

[2020-02-13 15:41] carolromero opened #5713 "Show an error if a Participant close Budgets voting without saving them"
ref: PP019-04

### User story

**Is your feature request related to a problem? Please describe.**

As a Participant when I'm voting on Budgets I need to confirm the vote, but it's not clear

**Describe the solution you'd like**

As a quick fix, to show an error if a Participant is closing the page without saving with the [onbeforeunload event](https://developer.mozilla.org/en-US/docs/Web/API/Windo

[2020-02-13 15:43] carolromero opened #5714 "Show and sort votes on Budgets after voting step"
ref: PP019-05

### User story

**Is your feature request related to a problem? Please describe.**

As a Participant when I go to view the results of a Budgets it's not clear which Projects are the ones that have received more votes.

**Describe the solution you'd like**

After the voting step has finished as a Participant I can see the Projects ordered by votes. At the moment we only see the votes

[2020-02-13 15:45] carolromero opened #5715 "Show selected projects after voting step on Budgets"
ref: PP019-06

### User story

**Is your feature request related to a problem? Please describe.**

As a participatory process administrator I need a way to check/mark which Projects are the ones that have been selected.

**Describe the solution you'd like**

After the voting step has finished, as a Participant I can see which Projects have been selected.

**Describe alternatives you've considered*

[2020-02-13 15:51] carolromero opened #5716 "Publish all the Answers to Proposals at once"
ref: PP019-07

### User story

**Is your feature request related to a problem? Please describe.**

As a participatory process administrator I need a way to publish answers given to proposals at the same time on certain processes.

**Describe the solution you'd like**

I want to have a checkbox "Publish proposals answers immediately" on Proposals step settings where I can control when I want to pub

[2020-02-13 15:56] carolromero opened #5717 "Improve UI for Proposals relations with Meetings"
ref: PP040

### User story

**Is your feature request related to a problem? Please describe.**

As a participatory admin it's very frustrating when I have to relate Proposals to a Meeting when I'm closing the Meeting on the "Proposals created in the meeting" field.

The problems I found are:
* It's very difficult to find the Proposals as they're ordered by name
* If I select a Proposal and then I

[2020-02-13 15:59] carolromero opened #5719 "Change the scope of one or more proposals"
ref: PP041
### User story

**Is your feature request related to a problem? Please describe.**
When participants submit their proposals, it is possible that sometimes the scope selected may not be correct. As a process administrator I need a way to assign a different scope to one or more proposals, just as I can do with categories.

**Describe the solution you'd like**
I would like to have an optio

[2020-02-13 16:40] carolromero opened #5721 "Request authorization update with the municipal registry (padró) or with SMS code"
ref: PP001

### User story

**Is your feature request related to a problem? Please describe.**
As a verified participant in Decidim Barcelona, if I am verified in a certain district and then I move to another district it is not possible to ask for a new authorization.

**Describe the solution you'd like**
As a verified participant, I want to be able to request a new authorization, if I have change

[2020-02-13 17:34] carolromero opened #5722 "Allow to see a participant's email from the admin panel"
ref: PP038

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator there are sometimes where I need to contact a participant directly but the she could have the email notifications deactivated so she'll never receive it.

**Describe the solution you'd like**
To be able to see a given participant email only as an administrator. This information will b

[2020-02-13 17:39] carolromero opened #5723 "Participants search by email"
ref: PP009

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator, it's frustrating when I need to find a participant to make it official, because I can only search by the participant's name or nickname.

**Describe the solution you'd like**
To be able to search by participant's mail.

**Describe alternatives you've considered**
N/A

**Additional co

[2020-02-13 17:45] carolromero opened #5724 "Add Activity to Assemblies"
ref: PP005

### User story

**Is your feature request related to a problem? Please describe.**
As a visitor, I want to easily see (on the same page) the amount of proposals, supports and meetings in a given Assembly

**Describe the solution you'd like**
To have the "Activity" section on the Assembly page, as we do with Participatory Processes

**Describe alternatives you've considered**
To have ot

[2020-02-13 17:55] carolromero opened #5725 "Add general statistics in the administration panel"
ref: PP006

### User story

**Is your feature request related to a problem? Please describe.**

As an administrator I want to see the "Organization metrics" even if there aren't active on the Homepage Content Block.

**Describe the solution you'd like**

To be able to see the "Organization Metrics" in the administration panel. It should also include data on the number of people who have selected e

[2020-02-13 17:58] carolromero opened #5726 "Meetings created by Participants or Groups"
ref: PP029

### User story

**Is your feature request related to a problem? Please describe.**

As an authorized participant or verified group, I want to be able to create meetings without the intermediation of an admin.

**Describe the solution you'd like**

In order to create new meetings as an authorized participant or verified group, the following modifications are necessary:
* An option on th

[2020-02-13 18:05] carolromero opened #5727 "Change design notifications and newsletter"
ref: PP007

### User story

**Is your feature request related to a problem? Please describe.**
As an admin most of the times I want to add an image or to be able to define a Call To Action for a newsletter.

**Describe the solution you'd like**
As an admin, I want to have more options when it comes to the newsletter layout:
- be able to insert an image and control its position in relation to the t

[2020-02-13 18:14] carolromero opened #5728 "EPIC: Improve the Survey component"
ref: PP025

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator, sometimes I need to prepare Surveys that are really long (more than 20 questions). This is really frustrating as a participant as I see all the questions on the same page and it demotivates me. Also as a participant some Surveys don't look good on mobile navigation.

**Describe the s

[2020-02-13 18:15] carolromero opened #5729 "Display number of responses in the survey administration panel"
ref: PP026

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator, when I want to see how many Surveys where answered, I need to Export the results (and recieve them by email) to see how many Surveys where completed/answered.

**Describe the solution you'd like**
To see on the Components admin section how many Surveys where completed.

**Describe al

[2020-02-13 18:17] carolromero opened #5730 "Be able to search for a New Assembly member by email on an existing participant"
ref: PP008

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator of an assembly, when I need to add an Existing participant, it's frustrating to find a user when I only know her email and not know her name nor nickname.

**Describe the solution you'd like**
To be able to search by email on an Existing participant of a New Assembly Member

**Describ

[2020-02-13 18:20] carolromero opened #5731 "Visibility of the organization chart"
ref: PP011

### User story

**Is your feature request related to a problem? Please describe.**
As an administrator there are some cases where I don't want to show the Assemblies organization chart, as this is something that depends on the organization.

**Describe the solution you'd like**
As an administrator, I want to be able to manage the visibility of the organization chart. For doing this we

[2020-02-13 18:26] carolromero opened #5732 "Default follow as a new role of any participation space"
ref: PP012

### User story

**Is your feature request related to a problem? Please describe.**
As a new participant who is assigned a new role in a participation space, I need to manually follow that space to get notifications of the new activity in it.

**Describe the solution you'd like**
To automatically follow a participation space when I get assigned a role (Administrator/Collaborator/Moderat

[2020-02-13 18:33] carolromero opened #5733 "Receive notification of the role I have been assigned"
ref: PP013

### User story

**Is your feature request related to a problem? Please describe.**
As a new role user, when an administrator assigns me I don't receive any kind of notification that I have a new role assigned. For instance, when I'm assigned as:
* an Administrator to a Participatory Process
* a Moderator to an Assembly
* a Collaborator to a Participatory Process

**Describe the solutio

[2020-02-13 18:35] carolromero opened #5734 "Show in the administration panel only the assemblies in which I have permission"
ref: PP014

### User story

**Is your feature request related to a problem? Please describe.**
As an assembly administrator (a user that has permissions *only* to admin one or more Assemblies), I see all the assemblies, even the ones where I don't have permissions to edit nor access.

**Describe the solution you'd like**
I expected to only see the assemblies that I have permissions to edit, like w

[2020-02-13 18:43] carolromero opened #5735 "Image on the Initiatives page"
ref: PP015

### User story

**Is your feature request related to a problem? Please describe.**

As a promoter of an Initiative, I want them to be nicer to see and differentiate between them when I'm navigating through the Initiatives listing.

**Describe the solution you'd like**

To have the "Proposal with image" design applied to Initiatives.

https://decidim-design.herokuapp.com/public/library/

[2020-02-13 18:45] carolromero opened #5736 "EPIC: Management of the initiatives by the promoters from the front-end"
ref: PP016

### User story

**Is your feature request related to a problem? Please describe.**

As an administrator of Decidim, I'm worried that users who have to promote an Initiative can access the admin panel (although limited to only their initiatives). I'm worried about security and usability reasons:
- Security:
  - our backend forms are not that well sanitized as our frontend forms
  - if t

[2020-02-13 18:49] carolromero opened #5737 "Visibility of the new initiative button"
ref: PP017

### User story

**Is your feature request related to a problem? Please describe.**
As a visiting (non logged in) user, when I visit the Initiatives listing page (/initiatives) I don't know that's possible to create New Initiatives.

![](https://i.imgur.com/aMeO1g1.png)

**Describe the solution you'd like**
I want to be able to see the new initiative button even if I am not logged in. I

[2020-02-13 18:50] carolromero opened #5738 "Visibility of completed initiatives"
ref: PP018

### User story

**Is your feature request related to a problem? Please describe.**
As a visitor, when I go to Initiatives listing public page, if there isn't any Initiative on Open status (Validating, Accepted, etc) I don't see any Initiative on the list.

![](https://i.imgur.com/vyirOOR.png)

**Describe the solution you'd like**
I want to see the Initiatives on Closed status with an a

[2020-02-13 19:01] carolromero commented on #5629
@agustibr this goes smoothly! As someone who has suffered from the lack of this option so far, I am deeply grateful :laughing: Thanks!

[2020-02-14 11:09] agustibr commented on #5629
Thank you @carolromero 😊

[2020-02-14 16:20] carolromero commented on #5633
Hi @mrcasals, giving a second review to this feature, we found a couple of things that I had overlooked and should be changed:
- The proposals counter assigned to the valuator is not updated correctly. See for instance:

![imatge](https://user-images.githubusercontent.com/23509895/74545473-36decf00-4f49-11ea-9cca-70cb1b43170e.png)

- According to AC _"As a Valuator I can only see and access the Pr

[2020-02-15 16:16] #5602 closed

[2020-02-17 10:56] mrcasals commented on #5633
@carolromero I've hidden the Export button for users that don't have permissions to use it.

Regarding the sidebar changes, they are not easy to implement. I'll try to come up with something, but both changes might require considerable amount of work...

[2020-02-17 11:43] mrcasals commented on #5633
More context to my previous comment, for clarity:

#### Counter

It uses a static number, calculated without context. What's asked is to show a different number depending on the user that is looking at it, based on the access the user has to proposals. This implies sending context to the piece of code that calculates this number. This number is actually the amount of proposals in the given compone

[2020-02-17 12:29] carolromero commented on #5633
@mrcasals wow, thanks for the explanation! Every day you learn something new about Decidim :))

**About the counter**

Yes, I agree to treat it as a bug

**About the list of components**

what I meant was that we do want valuators to be able to export proposals (even though this was not specified in the issue). sorry if I expressed myself wrong :grimacing:

**About the export**

Great that we can

[2020-02-17 12:51] Leusev commented on #5701
Hi @carolromero
I was assigned to this issue but I couldn't reproduce it in localhost. Could you give me some more related info about this issue please?
For example, it fails in windows while it works in linux or IOs ? Where (instance/url) can I check it please?
Thanks in advance

[2020-02-17 12:53] mrcasals commented on #5701
@Leusev I think she checked Codegram's staging:

http://staging.decidim.codegram.com/

[2020-02-17 13:29] mrcasals opened #5746 "Proposal component counter doesn't match the proposals list"
**Describe the bug**

In the admin section, the counter of the proposals component in the sidebar doesn't match the proposal list. This number is actually the amount of proposals in the given component that are not withdrawn and are not hidden by moderation, but the proposal list is actually listing them anyway. Note how the sidebar counter shows 6 proposals, but the list actually lists 7 of them,

[2020-02-17 14:10] agustibr commented on #5602
👏 👏 @leio10

[2020-02-17 14:23] carolromero opened #5747 "Category tags are shown next to each other and not on top of each other"
**Describe the bug**
Categories are shown as labels in detail view, but they appear side by side and should be shown one on top of the other

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.decidim.barcelona/processes/PressupostosParticipatius/f/3768/proposals/17296
2. Scroll down to Categories
3. See labels

**Expected behavior**
I'd expect to see the labels on top of each

[2020-02-17 14:24] carolromero commented on #5701
That's right, thanks Marc

[2020-02-17 14:25] carolromero opened #5748 "Replace tooltip "Show proposal" with "Answer proposal""
**Describe the bug**
When I hover over the answer proposal icon I see "Show proposal" and it should say "Answer proposal"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.decidim.codegram.com/admin/participatory_processes/id-delectus-scope/components/73/manage/'
2. Hover over the answer icon
3. See tootlip

**Expected behavior**
I'd expect to see the tooltip "Answer propo

[2020-02-17 14:49] Leusev commented on #5701
ok, thanks! @mrcasals @carolromero

[2020-02-17 16:27] agustibr commented on #5748
@decidim/product  the `staging` server is updated with the fix #5750.

As stated on the PR description, keep in mind that when answering is enabled and the user (admin) has permission to answer the tooltip will show "Answer proposal", but on other cases "Show proposal" such as when answering is disabled (via component settings) or when the proposal is an emendation or the user has no permission to

[2020-02-17 18:15] carolromero opened #5754 "Minimum voting of budget projects per participant"
ref: PP042

### User story

**Is your feature request related to a problem? Please describe.**
As a participatory process administrator, I'd like to be able to set the minimum number of budget projects that participants must vote.

**Describe the solution you'd like**
As there is already an option to define the voting criteria for projects, I want a section in the component configuration called "V

[2020-02-17 18:25] carolromero commented on #5748
@agustibr oh now I understand what @mrcasals  told me about @tramuntanal's suggestion! From his [comment](https://github.com/decidim/decidim/issues/5630#issuecomment-584024334) I didn't get that indeed other roles can _see_ but not _answer_ a proposal.
In that case I think Olivers proposal is fine:
![imatge](https://user-images.githubusercontent.com/23509895/74678362-0f8f3880-51bb-11ea-9e68-eea32c

[2020-02-18 09:34] Leusev commented on #5701
Hello @carolromero @mrcasals
it seems that the issue is due to missing translations:
![image](https://user-images.githubusercontent.com/9702463/74722995-1f9a2d00-523a-11ea-93eb-a11e2e545cbb.png)

By updating that installation, the issue will be solved http://staging.decidim.codegram.com/
Thanks in advance
Greetings

[2020-02-18 10:44] #5635 closed

[2020-02-18 11:02] jesusdb commented on #4116
Hello, when I do all the steps provided by @mrcasals, I cannot reproduce the bug.

I tried it with the development_app and also installing a new decidim app, but even without running the seeds, the "More information" link works (the page exists).

### Screenshots
When clicking the "More information" link, the following page shows up:
![Selección_004](https://user-images.githubusercontent.com/61017

[2020-02-18 13:03] microstudi opened #5756 "Error using omniauth custom providers"
**Describe the bug**
It seems that the introduction of custom OAuth providers in #5516 breaks previous customized initializers.
If you have an initializer configuring some custom OAuth and upgrade it to the latest Decidim (aka that includes the commit https://github.com/decidim/decidim/commit/012b5b1342824f5d5566d9aad0fb55705e8be8f8) you'll find that you won't be able to start rails, with this kin

[2020-02-18 17:18] mrcasals commented on #5631
Closed by #5695

[2020-02-18 17:18] #5631 closed

[2020-02-18 17:23] mrcasals commented on #5701
@Leusev uhm, it sounds weird that it's looking for the `foo.filters.category_id_eq.values.10` i18n key, specially the `values.10` part... 😕 This key does not exist in this file in the `develop` branch:

https://github.com/decidim/decidim/blob/0443f93a89e2fa6e1b9f4dfb0f909531936dd532/decidim-admin/config/locales/en.yml#L298

[2020-02-19 08:01] mrcasals commented on #4116
@jesusdb I can no longer reproduce it either, guess it was fixed during this year and a half 😅

[2020-02-19 08:24] agustibr commented on #5748
@carolromero I've updated `staging`, so it should work as these screenshots.

- The `current_admin` has permission to **answer** the proposal:
  <img width="1069" alt="Screenshot 2020-02-18 at 12 06 51" src="https://user-images.githubusercontent.com/210216/74731116-b4575780-5247-11ea-93cf-6393bd0c1c72.png">

- Answering is disabled (from component settings) or `current_admin` **can't answer** (is

[2020-02-19 09:01] Leusev commented on #5701
Right @mrcasals , I'll take another look to get deeper into
Thanks!

[2020-02-19 16:31] agustibr commented on #5701
Hi @Leusev! I think that the failing translations (for categories, scopes and valuators) should be looked up in the database, not in the .yml files, as they are dynamic. The working ones are static and are on .yml
😄

[2020-02-20 08:11] mrcasals commented on #5572
Lately I've been playing with GitHub Actions and I think it has some pros and cons that are worth noting here:

Pros:

- It's free (but CircleCI is too!)
- It doesn't have a parallelism limit (or limit is quite high). CircleCI has a parallelism of 4 simultaneous builds, which slows development
- It's integrated with GitHub and there are a lot of reusable actions, so we could check things other tha

[2020-02-20 09:34] Leusev commented on #5701
Hi @agustibr !
ok, I'll check it! thanks a lot!

[2020-02-20 11:04] mrcasals commented on #5633
@carolromero I've re-deployed this to staging, letting valuators export proposals and hiding the unaccessible components. Can you check it please?

[2020-02-20 11:33] Leusev commented on #5701
Hi @carolromero
as @agustibr suggested, that translations are managed throught 'Settings' option in app management.
As I could see, that 'Scope' missing translations options:
![image](https://user-images.githubusercontent.com/9702463/74928613-2495e280-53da-11ea-9bbd-b8c3e1ecfee9.png)
corresponds to 'Settings' / 'Scopes' management translations, as seen on image, 'cause first one corresponds to 19

[2020-02-20 12:42] carolromero commented on #5633
@mrcasals I've checked this:

:heavy_check_mark: Valuators can only see the proposal component with their assigned proposals
:x: Valuators can't export proposals. Throws out the message: "You are not authorized to perform this action"

[2020-02-20 13:02] carolromero opened #5764 "Cost field in proposals shows the currency depending on the language"
**Describe the bug**
The cost field of the proposals shows the currency symbol depending on the language.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.decidim.codegram.com/processes/deleniti-enim/f/12/proposals/8?locale=en
2. Switch to 'Catalan'
4. See the curreny change

**Expected behavior**
I expect the currency is the same in all languages.

**Screenshots**
![doll

[2020-02-20 13:33] jarvisct commented on #5440
Hello @virgile-dev,

In **Describe the bug** you wrote

But in **Expected behavior** you wrote

- Should be appear created initiaves on the index? Or not?

- What do you mean with _ID : i-1_, _ID : i-2_ ...?

In **Expected behavior**

- Where should appear the reason why initiaves are accepted / discarded?

[2020-02-20 13:51] mrcasals commented on #5764
In order to solve this, change this line:

https://github.com/decidim/decidim/blob/24f9fecf432cb8db3e0bf646ed406d1dddbc4243/decidim-proposals/app/cells/decidim/proposals/cost_report_cell.rb#L17

To this:

[code]

[2020-02-20 14:34] mrcasals commented on #5633
@carolromero this should be fixed in staging now! Can you re-check it please?

[2020-02-20 14:53] carolromero commented on #5633
@mrcasals correct, export working now! :tada:

Being picky, the only option that still appears and shouldn't because of lack of permissions is "Add component" :grimacing: Is it complicated or can we get rid of it too?

![imatge](https://user-images.githubusercontent.com/23509895/74945924-d0e6c180-53f8-11ea-93c9-5aab85899488.png)

[2020-02-20 15:06] jesusdb commented on #5440
Hello @virgile-dev and @carolromero,

In **Describe the bug** you wrote

But in **Expected behaviour** you wrote

- Should the created initiatives appear on the index? Or not?

- What do you mean with _ID : i-1_, _ID : i-2_ ...?

In **Expected behaviour**

- Where should appear the reason why initiatives are accepted / discarded?

[2020-02-20 15:14] jesusdb commented on #4233
@carolromero @Xfolchf
I tried to reproduce the issue with the browsers above mentioned but I couldn't. I think the issue was resolved in the next Decidim versions

[2020-02-20 16:50] agustibr commented on #5748
@carolromero this part of the comment was referring to this issue 😉
you are right, for the valuators is not working as expected 🥶, I'll ping you back when fixed and updated on the staging instance!

[2020-02-20 17:11] carolromero commented on #5748
Thanks @agustibr!

[2020-02-20 17:13] carolromero commented on #4233
Maybe @ahukkanen can confirm if that's still happening, since this was a long time ago

[2020-02-20 17:42] agustibr commented on #5748
@carolromero The issue with the valuator role & the tooltip is solved! 😃
So logging with this role sees the _comment icon + "Answer proposal" tooltip_

You can check it on the staging server.

<img width="1416" alt="Screenshot 2020-02-20 at 18 30 04" src="https://user-images.githubusercontent.com/210216/74962311-f3d0a000-540f-11ea-8f23-87f7647f8c90.png">

[2020-02-20 18:05] agustibr commented on #5719
Hi! @decidim/product, we have a UX doubt about what is expected, once the "Change Scope" is clicked, to select the new scope for the proposals; A `<select>` such as categories or should we use the `scopes picker`?

- `<select>`:
  <img width="478" alt="Screenshot 2020-02-20 at 18 53 51" src="https://user-images.githubusercontent.com/210216/74964285-79098400-5413-11ea-8878-2c3f3c43a813.png">
- `sco

[2020-02-21 08:18] mrcasals commented on #5633
@carolromero okay, I've deployed a fix to staging, can you re-check it please?

[2020-02-21 10:08] lucamezzolla opened #5769 "Try to change root path"
**Describe the bug**
I would like my site to reply to this address: "url/decidim" and my routes.rb file is:
[code]
In application_controller.rb I have:
[code]
Everything works perfectly, but the content of the asset files that are called are seen only without "/decidim"... why?

[2020-02-21 10:28] microstudi commented on #5769
Maybe you might try something like this when generating the assets:
[code]
In any case, it should be Rails standard procedure for this cases, this article goes through a bunch of methods: https://bianjp.com/posts/2016/04/04/deploy-rails-appliction-to-sub-uri

[2020-02-21 11:18] lucamezzolla commented on #5769
Thank a lot! This article is very helpful! :)

[2020-02-21 11:45] mrcasals commented on #5715
Votes/supports are already shown (configured by a checkbox in the component configuration section).

[2020-02-21 11:49] andreslucena commented on #5710
Some examples of these kind of processes on the past:
* https://omastadi.hel.fi/processes/omastadi-lantinen/f/112/?locale=en
* https://ecrivons.angers.fr/processes/BP2019/f/139/
* https://www.decidimmataro.cat/processes/DecidimPressupostMataro/f/99/

[2020-02-21 12:37] jesusdb opened #5772 "It is not possible to create an initiative without description even though the description field has no asterisk of "required"""
**Describe the bug**
As administrator, when I try to create an initiative with a blank description, the page throws an error indicating that the field is mandatory, however, that field doesn't have an asterisk of "required".

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to initiatives
2. Place a title and leave "description" blank
3. Click on "Continue"
4. You won't be able to continue

[2020-02-21 15:02] mrcasals opened #5773 "Develop CI builds are failing because of rubocop lints"
**Describe the bug**
We can't run test suites from PRs based from the `develop` branch because Rubocop complains about duplicated spec examples:

https://circleci.com/gh/decidim/decidim/310857

I guess the rule is new, or something changed, but this should be fixed because it's blocking our development.

**To Reproduce**
Steps to reproduce the behavior:
1. Check a build from a PR based on `develop

[2020-02-21 15:02] mrcasals commented on #5773
@decidim/core can you check this, please? 🙏

[2020-02-21 15:05] microstudi commented on #5572
I've been using github-actions as well while developing decidim modules. They work very well in that context. However there simple tests, just one job (check [this project](https://github.com/Platoniq/decidim-module-comparative_stats) if curious).

I agree that a huge benefit would the the increased parallelism. They allow up to 20 jobs in parallel and, I am not completely sure, but I think that t

[2020-02-21 15:20] microstudi commented on #5773
I've been looking at some of those files and it seems that rubocop is right, there is repeated code. But it's been there for a while, strange that the failure appears now

[2020-02-21 15:25] mrcasals commented on #5572
OMG you're right!! It's so big and blue that I actually missed it 😂

![image](https://user-images.githubusercontent.com/491891/75046722-e675ed00-54c5-11ea-9144-be1a68d52de9.png)

I think this is one of the biggest drawbacks, but we could cache the development app and maybe even the migrations, I guess. Still, on CircleCI we're still creating it for every CI build (without caching it), so I guess i

[2020-02-21 16:04] microstudi commented on #5572
Great, I'll bring this discussion to try to tackle this seriously. When #5773 is fixed, I'll try to finish at least a prove of concept and I'll share with you all to improve it.

I guess is fine to repeat the step of creating the test app if we don't find any viable way to cache it. Thanks for the links! I'll look into it too.

[2020-02-21 16:28] carolromero commented on #5719
@agustibr we use the scopes picker. Maybe we'll change the selector in the future, but until we do, it's better that it's always the same everywhere. Thanks!

[2020-02-21 16:30] carolromero commented on #5748
Yes! working ok now! :)

[2020-02-21 16:33] carolromero commented on #5633
:heavy_check_mark: Valuator profile completed! Good job!

[2020-02-21 17:20] ahukkanen commented on #4233
@jesusdb @carolromero

Yes, the bug still exists.

Here is a step-by-step screen instruction how to replicate the bug in Chrome:
![proposal-supports-progress-bug](https://user-images.githubusercontent.com/864340/75055870-73c53b80-54de-11ea-993e-89a2bed37921.png)

Please note that **as I have mentioned**, you will need a **specific older version** of the webkit rendering engine to see this in an ac

[2020-02-21 17:26] agustibr commented on #5719
Ok! let's use the `scopes picker`