[2018-03-12 14:47] arnaumonty opened #2978 "Activity log for administrators (2nd iteration)"
This issue defines the 2ns iteration of all the actions in order to register all the activities carried out by the various user profiles with the date and time of the action performed, the URL where the change was made, and, if applicable, the field that has been modified and the previous and the new value.

#### Main related issues
- EPIC: Activity log for administrators, moderators and verifiers

[2018-03-12 15:07] arnaumonty opened #2979 "Allow to activate and publish participatory spaces from the Admin Panel"
The activation/deactivation of the participatory spaces in the admin and in the main Menu should be done from the admin panel.

The expected behaviour should be:
- [ ] Activate/deactivate the participatory space in the Admin Panel
- [ ] Publish/unpublish the participatory space in the Main Menu

With the activation, we should be able to edit the participatory spaces without being public
When we pu

[2018-03-13 08:50] Xfolchf opened #2984 "Endorsement doesn't generate notifications to followers"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
The whole point of endorsements is that followers of the endorsers receive a notification. I followed user @alotria , he endorsed a bug, and I received no notification. I expected to receive a notification that @alotria endorsed the bug proposal

https://meta.decidim.barcelona/processes/bug-

[2018-03-13 09:03] mrcasals commented on #2984
Fixed by #2970, already backported to `0.10-stable`.

Closing this!

[2018-03-13 09:03] #2984 closed

[2018-03-13 09:09] xabier commented on #2336
Unique nickname is ok. Let's follow the same rules as Twitter. Not sure we should need some kind of distinction for user groups that sets them appart from individual users, but this doesn't affect officialization. I think it is ok with this, I suggest we move this EPIC to the fridge in case somebody wants to make improvements on this.

[2018-03-13 11:58] isaacmg410 commented on #2969
I check it

[2018-03-13 12:05] isaacmg410 commented on #2965
@decidim/lot-core can we relate with the issue #2969 ?

[2018-03-13 12:13] isaacmg410 commented on #2965
@decidim/product In short, you want to change the name of "Maximum votes per proposal" to "Treshold per proposal" no? And change the alerts that are showed in public view?

@decidim/lot-core do you think it's okay to only change the translation? Or should we also change the name of the field?

[2018-03-13 13:21] mrcasals opened #2988 "Differentiate replies to my comment from replies created by a user I'm following"
# This is a Bug Report

#### :tophat: Description
Currently, notifications do not differentiate replies to your comment from replies created by a user you are following. This makes notifications confusing.

I suggest we create a new event type (`comment_created_by_followed_user`) to show different texts from both events.

#### :pushpin: Related issues
None

#### :clipboard: Additional Data

* ***D

[2018-03-13 14:30] xabier commented on #2965
Yes!

[2018-03-13 15:01] deivid-rodriguez commented on #2821
Hei! On Sunday and yesterday I worked on a proof of concept for this. I couldn't finish it, and I can't allocate more time for it, so I'm posting here my refactoring proposal:

* [ ] Migrate step settings from the component to the participatory process step (to a new `settings` column). Step settings will no longer be configurable in the component (per step), but in the participatory process step

[2018-03-13 15:04] isaacmg410 commented on #2965
@decidim/lot-core @mrcasals @josepjaume @oriolgual can anyone say something about this, please?

[2018-03-13 15:08] javierarce opened #2993 "Create design to show the public agenda of a meeting"
This issue belongs to the EPIC Improvements on Meetings #2841.

A new agenda section must be added to show the agenda of a meeting defined in https://github.com/decidim/decidim/issues/2861#issuecomment-369328165

[2018-03-13 15:31] javierarce commented on #2861
@carolromero I've added a ticket for that :)

[2018-03-13 15:42] javierarce commented on #2837
After our meeting yesterday we decided:

- Use the yellow footer with a bigger border for cards that belong to Spaces.
- Use the card with multiple borders pictured here https://github.com/decidim/decidim/issues/2837#issuecomment-368934194 for Process groups.

[2018-03-13 15:53] arnaumonty commented on #2840
I paste some initial (handmade) mockups @javierarce

- Proposal List Page:

![photo_2018-03-13_16-37-38](https://user-images.githubusercontent.com/3855859/37353004-b9551e2a-26de-11e8-912d-87ba0fd37693.jpg)

- Drafts List Page:
![photo_2018-03-13_16-37-47](https://user-images.githubusercontent.com/3855859/37353048-cbb0704c-26de-11e8-8f22-3ccda3f99bff.jpg)

- Draft page:
![photo_2018-03-13_16-50-01]

[2018-03-13 15:56] xabier commented on #2840
@decidim/lot-px please check out, there is some design required here. We are re-using as much as we can and only a couple of new buttons, a card-type, icon and little else is needed unless you come up with extra ideas.

[2018-03-13 23:24] deivid-rodriguez opened #2997 "JS quoting style"
# This is a style discussion

#### :tophat: Description

I want to enable quote checking in our JS files. Any preference on the style?

* _Single_: it's currently the majoritary style, ~ 100 offenses.
* _Double_: our preference for ruby, but less common here, around ~200 offenses.
* _Backtick_: seems nice, but it's the least common (~ 400 offenses) and it takes 2 keystrokes on a Spanish keyboard..

[2018-03-14 07:55] mrcasals commented on #2997
Note that backtick is used to easily interpolate variables, so single/double quotes and backtick should be allowed (after we decide the quote style).

As a reference, I think https://prettier.io/ uses double quotes for strings.

[2018-03-14 08:01] mrcasals commented on #2965
@isaacmg410 I was waiting for @decidim/product to answer first.

I'd change both the locale and the field name.

[2018-03-14 08:08] isaacmg410 commented on #2965
@mrcasals thanks mark! The "problem" in this field is that it is the `settings` field and it is a json which stores other fields ... In order to change the name of this field, a migration must be made that occurs for each of the `Component` of type `Proposal`, enter the `settings` field and change the` maximum_votes_for_proposal` to `treshold_per_proposal`. Is that correct? Will not migration be v

[2018-03-14 09:06] rbngzlv commented on #2709
IMHO I think that `decidim` is used for many different organizations, and that's why I've implemented nesting without level limit. It is done and working well, so, I don't see any advantage on limiting this to just one level. Or do you have a long-term problem in mind that I don't see?

Also, a intermediate approach can be to add a setting to customize the maximum levels.

Anyways, @decidim/produc

[2018-03-14 09:35] rbngzlv commented on #2964
@deivid-rodriguez I agree with you.

We should be able to use one way or another depending on the type of the PR.

Also we can rebase multiple-commit PR's if we want a linear history in `master`.

[2018-03-14 09:54] javierarce commented on #2862
@decidim/product phases 1 to 3 are all managed using the same drafting editor, right? The only difference is who is allowed to do the editing then?

And in other to reduce the complexity of the UI and the models behind this feature, I think adding video and audio links could be handled by the drafting editor instead of creating new form elements. What do yo think?

[2018-03-14 10:15] deivid-rodriguez commented on #2997
Backtick will be always allowed for interpolation but if you choose the backtick style, also for non interpolated strings. That's what I like about that style, I don't have to think whether I'm interpolating or not nor change the quoting style when a string starts being dynamic.

[2018-03-14 10:32] deivid-rodriguez commented on #2964
Yeah, I prefer the "create a merge commit" over the "rebase button" in github's UI because the reference to the originating PR is lost when rebasing (at least it was when I last tried it). But other than that it's a nice option...

[2018-03-14 10:46] deivid-rodriguez commented on #2997
I vote for double quotes, by the way! :)

[2018-03-14 10:48] mrcasals commented on #2997
I don't know any style guide that enforces the use of backtick quotes everywhere (although I'm not really versed on JS).

I'm +1 for double quotes too!

[2018-03-14 10:50] deivid-rodriguez commented on #2997
Me neither, I discovered it because I saw it used in `decidim-surveys`, then went to `eslint` and saw that it was actually supported.

[2018-03-14 11:43] javierarce commented on #2862
Here's a wireframe for this functionality.

Based in our meeting this week, I've also added some small improvements in the UI of the meeting table that would be useful to extend to other sections in the admin (namely, linking the title of the item to the editing view and adding a combo box to execute actions on the items, which in this case will just hold the remove option).

I've also split the m

[2018-03-14 16:39] rbngzlv commented on #2997
I vote for double quotes too, as it is our preference for ruby.

[2018-03-14 17:13] rbngzlv opened #3007 "Add a compact method to commands"
# This is an enhancement discussion

#### :tophat: Description

I'm also a PHP developer, and it has the [compact method](http://php.net/manual/en/function.compact.php), so a possible improvement to `Rectify::Command` has come to my mind when working with a large form.

This is my proposal:

[code]

So, this `command`:

[code]

Would be:

[code]

I have a working version, so would there be interes

[2018-03-14 18:09] deivid-rodriguez commented on #3007
@rbngzlv I think you can get the same effect with

[code]

[2018-03-14 18:23] rbngzlv commented on #3007
@deivid-rodriguez oh yeah! Your are right, I had not looked if there was a way to access all the attributes of the form.  :see_no_evil:

Thank you! Closing ...

[2018-03-14 18:23] #3007 closed

[2018-03-14 18:52] deivid-rodriguez commented on #3007
No problem! :wink:

[2018-03-15 07:59] mrcasals commented on #3007
I actually never use it and end up with gigantic hashes... 😅

[2018-03-15 08:59] oriolgual commented on #2965
@isaacmg410 I don't think the migration would that slow, we don't have any Decidim instance with that many components.

[2018-03-15 09:00] isaacmg410 commented on #2965
@oriolgual can you check the PR #2994?

[2018-03-15 10:20] carolromero commented on #2709
@oriolgual  @rbngzlv I'd leave it unlimited. I don't see any reason right now to limit it.

[2018-03-15 14:33] juliesimon commented on #1817
Hi all !

I'm reopening this issue because we have a client who wants to allow only users over a certain age **and/or** from a certain postal code to participate (almost exactly what you did for Barcelone and Sant Cugat).

From what I understood, is that you coded directly in the authorization handler the method to ensure that the users were over 16 : https://github.com/AjuntamentdeBarcelona/decid

[2018-03-15 14:38] oriolgual commented on #1817
That's something that would be really nice to have @juliesimon (although I'm not sure how to handle the UI for this). We don't have any plan in the short term to develop something like this, but PRs are welcomed!

[2018-03-15 16:25] deivid-rodriguez commented on #2755
Any comment about this @josepjaume?

[2018-03-15 19:44] deivid-rodriguez opened #3013 "Shared specs for every role are expensive"
# This is a Discussion Trigger

#### :tophat: Description

Right now we have a lot of shared specs for the admin backend that test full scenarios for every admin role. This is expensive since we are talking about full suites with different scenarios that get run twice. However, there's normally no "role specific code" anywhere in our controllers, forms, views or commands, so in most situations eit

[2018-03-15 21:54] #2282 closed

[2018-03-15 22:10] #2969 closed

[2018-03-15 22:41] deivid-rodriguez commented on #2971
Hei @jvendrell, #3014 should fix this. Give it a try and let me know if you find more of those errors!

[2018-03-16 08:08] mrcasals commented on #3013
I don't like the duplicity either. How would you handle this? Only test for admins, and for space admins simply test the abilities?

[2018-03-16 08:15] mrcasals commented on #2971
I'm closing this issue meanwhile. If the bug is not fixed in `master` we can reopen this issue 😄

[2018-03-16 08:15] #2971 closed

[2018-03-16 08:27] oriolgual commented on #3013
Maybe we can test only with space admins, since admins can usually do everything.

[2018-03-16 08:34] oriolgual commented on #2997
OK on using the same as Prettier

[2018-03-16 09:35] isaacmg410 opened #3018 "Renaming treshold to threshold"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description
Rename the fields from treshold to threshold in master

For bug reports:
* What went wrong? Correcting the missing threshold field

#### :pushpin: Related issues
* #2969 #2965

[2018-03-16 09:44] juliesimon commented on #1817
@oriolgual thanks for your answer !

What I don't get then is how you configure the authorization handler permissions in the backoffice and what is the purpose of the "options":
For instance, for the action "Vote" of proposals, what are the options you can pass ? We thought this might be the place were you indicate that you only want people over 18 to have access to this action.

[2018-03-16 09:48] #3018 closed

[2018-03-16 09:55] mrcasals commented on #1817
@juliesimon the Options field takes a JSON object with conditions, eg:

[code]

This would only authorize users with these values in the authentication. This means only users with these *exact* values will be allowed. We cannot currently handle cases like "born before year 2000" or "with postal code either 08224 or 08232".

The original use case was for Barcelona, as they wanted some process where

[2018-03-16 10:38] deivid-rodriguez commented on #3013
Not sure, I think I would see how much we save in CI and then decide if that's worth and how to proceed. @oriolgual's suggestion seems sensible.

[2018-03-16 10:39] deivid-rodriguez commented on #2997
Let's do it!

[2018-03-16 10:44] isaacmg410 commented on #2841
@decidim/product After reviewing it with @rbngzlv, we have some doubts to be determined before, Monday meeting.

 **Manage meetings**
1. Duplicate or copy face-to-face meetings. --> MVP Do all the meeting fields have to be copied? Does this also imply copying attachments and folders? Inscriptions should also be copied?
2. Export/Import meetings --> MVP  Does it refer to the public part? If so, we

[2018-03-16 14:04] xabier commented on #2841
hi  @rbngzlv and @isaacmg410 I have just completed the EPIC, there are many open aspects to be specified.

Some answers to your question:

Only the configuration, the use case here is that many meeting are often similar, nothing of the content of the meeting like minutes, comments, prosals, attachement, etc. should be copied. nor inscriptions (who has subscribed): but title, place, hour, title, de

[2018-03-16 14:08] jsperezg opened #3023 "Missing translations"
# This is a Bug Report

#### :tophat: Description

After creating a new organization the administrator user is invited. If this administrator tries to login before accepting the invitation an error message like this appears:

translation missing: es.devise.failure.user.invited

[2018-03-16 14:21] mrcasals commented on #3023
Thanks for reporting this!

This seems to be a duplicate of #1858, closing this one!

[2018-03-16 14:21] #3023 closed

[2018-03-16 14:39] ferblape commented on #2484
I think this issue can be closed.

[2018-03-16 14:39] ferblape commented on #2469
I think this issue can be closed.

[2018-03-16 14:44] #2484 closed

[2018-03-16 14:44] #2469 closed

[2018-03-16 15:41] #2968 closed

[2018-03-16 17:27] tramuntanal commented on #2840
@decidim/product I'm leaving here some questions to be clarified in the next meeting.

# 1st iteration questions
- Why you mention "Drafts applicable for initiatives"? I'm understanding that a Draft belongs to the Proposals module which corresponds to a Component that can be configured in any space..
- We can see an "estado" label just before the description. What is this?
  - Will a draft have st

[2018-03-18 12:10] xabier opened #3025 "Download links broken at desing-app"
# This is a Bug Report

#### :tophat: Description

For bug reports:

* What went wrong?

When visiting https://decidim-design.herokuapp.com/public/style-manual the links contained within do not work

* What did you expect should have happened?

I expected to be able to download those documents

[2018-03-19 08:22] javierarce commented on #2840
Ok, in terms of elements they seem ok. I'm not sure of the placement of the edit, collaborate, and publish buttons, though. I'll submit a wireframe/design for this soon.

[2018-03-19 08:25] mrcasals commented on #2056
@decidim/product I'm re-taking this issue!

[2018-03-19 08:31] javierarce commented on #2840
I don't think we need to design a new M-Card for this. All the elements we need are already designed and implemented, we just need to hide elements we don't need:

<img width="719" alt="screen shot 2018-03-19 at 09 28 43" src="https://user-images.githubusercontent.com/4933/37585043-fe4995d8-2b57-11e8-8178-6903fdf3b254.png">

I'd say to show "Draft" instead of "Accepted", use the color for the "Sin

[2018-03-19 10:01] javierarce commented on #2840
I'll add another questions:

- Can authors publish any version of the draft, not just the last one?
- Is it possible to edit old drafts?
- Is it possible to make an old draft, the current version?
- Are comments associated with each version or do they belong to the proposal itself?

[2018-03-19 10:31] Xfolchf opened #3030 "I cannot update the Question in the Consultations"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
I have created a Question for testing the funcionality. First time it worked, but when updating information now appears the message:
"The page you are looking for has not been found"

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12315

#### :pushpin: Related issues
* #

[2018-03-19 10:34] Xfolchf opened #3031 "I could not attach a picture when notifying a bug"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
I attached the picture, and later, when visualizing the result, the picture was missing

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue***: 0.9.x
* ***Browser & version***:
* ***Screenshot***:
* ***Error messages***:
* ***URL to reproduce the error***:

[2018-03-19 10:35] arnaumonty commented on #2840
@tramuntanal

The collaborative space should work on initiatives too. Here's there are two ways to proceed:

1. Drafts as a part of proposals module (and then adapt to initiatives) or
2. Drafts as a new module connected to proposals module
I'm not sure which is the best option (it's a technical decision), maybe @decidim/lot-core could help advising this. Probably the 1st one is the easiest. If we

[2018-03-19 10:38] Xfolchf opened #3032 "It's not possible to eliminate an Admin user who has not accepted the invitation"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
When inviting an Admin user, if that does not accept the invitation and do not enter the nickname, the platform doesn't allow to  remove. When trying to delete it, the server's fixer log said that it is not possible to delete because the nickname is blank. "ActiveRecord :: RecordInvalid (The

[2018-03-19 10:39] arnaumonty commented on #2840
@javierarce

Good point. I would say just the last one.

We should always iterate on the last draft. @mrcasals can you confirm this?

 I would say, attending the control version, no. @xabier what do you think?

They belong to the whole draft (proposal)

[2018-03-19 10:41] Xfolchf opened #3033 "There is no translation in spanish to update an Admin user"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
There is no translation in spanish to update an Admin user
'translation missing: es.devise.invitations.user.updated'

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12302

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue***:
* ***Browse

[2018-03-19 10:43] Xfolchf opened #3034 "While editing my bug notification I could not acces the "attachements" box"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
After realising that my attachment was missing I accessed the "Edit proposal" menu and the Attachment box was missing too.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12317

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue***:
* ***

[2018-03-19 10:48] Xfolchf opened #3035 "It's needes to always highlight the content banner image"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Whenever I make a change to the Appearance of my Decidim I must re-upload the image of "Banner highlighted content".
I miss the one there and forces me to put another one in order to save the changes.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12307

#### :clipboard

[2018-03-19 10:51] Xfolchf opened #3036 "When user has no nickname nothing displays in conversation title"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
When user has no nickname nothing displays in conversation title. It's kind of anoying has I don't know who I'm having a conversation with.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12308

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

*

[2018-03-19 10:53] Xfolchf opened #3037 "Administration of User Officialitation"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Through the Control Panel, I can see all the users of all the sentences that hang from the decisions of organizations.
Each instance should only be able to see the users registered on that instance.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12318

#### :clipboard:

[2018-03-19 10:55] Xfolchf opened #3038 "Documents and collections should move up to the top of webhooks and related content in process page"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Right now special content is displayed on the process home page: proposals, results, meetings, etc... whereas this special content (coming from components) has their own space within the process, documents do not have a special menu to visit. Documents are displayed bellow those views and th

[2018-03-19 10:57] Xfolchf opened #3039 "Shared data between organization"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Last week we reported a bug on users from all organizations being displayed in /admin/officializations. This was fixed promptly by Marc (thanks 😊), but I just realized that users were not the only data being shared and displayed between organizations. It's also the case for scopes as you can

[2018-03-19 11:03] Xfolchf opened #3040 "The date of the proposals does not appear on the XL card"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
The date of the proposals is only visible from the proposal browser, on the "M" size cards. When you click on the proposal the date does not appear.
This bug can be seen on this same card.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12338

#### :clipboard: Additional

[2018-03-19 11:22] carolromero commented on #2594
@javierarce we are reviewing issues related to Assemblies. To make improvements to the Assemblies homepage the design was pending. Have you been able to make any progress with this?

[2018-03-19 11:33] mrcasals commented on #3030
This issue was moved to decidim/decidim-module-consultations#81

[2018-03-19 11:33] #3030 closed

[2018-03-19 11:34] mrcasals commented on #3031
@Xfolchf does this come from Metadecidim? Can we have the original link?

[2018-03-19 11:34] mrcasals commented on #3032
I think this was already solved in 0.10.x, but will double check it.

[2018-03-19 11:35] mrcasals commented on #3033
Duplicate of #1858, closing this one.

[2018-03-19 11:35] #3033 closed

[2018-03-19 11:39] mrcasals commented on #3036
It's weird, as currently all users should have nickname.

[2018-03-19 11:41] mrcasals commented on #3037
Closed by #2912, will be released on 0.10.

[2018-03-19 11:41] #3037 closed

[2018-03-19 11:42] mrcasals commented on #3038
Closed by https://github.com/decidim/decidim/pull/2977

[2018-03-19 11:42] #3038 closed

[2018-03-19 11:49] Xfolchf opened #3041 "Notification sent event if proposal not published"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
I was submitting a proposal, at step "compare" I realized someone else posted the same idea so I left the page. Anyhow I received a notification email (since I'm following the process) about a new proposal being published (the proposal I didn't go through with).

#### :pushpin: Related issue

[2018-03-19 11:53] Xfolchf opened #3043 "Is it mandatory to start the text of the proposals with capital letters?"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
I can not create bugs in the process "I found a bug". When creating a bug proposal, an error appears (in the image): "it must start in uppercase". It can be seen that the text begins in uppercase. However, the error persists. The same thing happens when you start a phrase with a number ("1"

[2018-03-19 12:28] xabier opened #3044 "Improvement to meetings MVP"
This is an MVP for the EPIC #2841

## Manage meetings

### General

- [x] Duplicate or copy face-to-face meetings.

### New fields for Meetings

#### Pubic/Open/Transparent

- ~Public (yes/no/other): Shows whether attendance is open to the public or not. If the answer is other, a field should be added to write an explanation.~
- ~Open (yes/no/other): Indicates whether the meeting is open to direct

[2018-03-19 12:45] isaacmg410 commented on #2832
@decidim/product
As we have said in the meeting, this must be clarified.

At the moment, a participatory space can be a `private_space`, and limit users who have access to the space with the `PrivateUsers`, right?.

![captura de pantalla 2018-03-19 a las 13 13 46](https://user-images.githubusercontent.com/28536082/37596178-a2fa0c0c-2b7b-11e8-8b4e-928a9edc1a01.png)

Now, we are applying new charact

[2018-03-19 13:37] mrcasals commented on #2976
@decidim/product can we have an MVP for this please?

[2018-03-19 16:23] arnaumonty commented on #2840
@tramuntanal I've updated the EPIC with the specs commented this morning

@javierarce we can use the M-Card for proposals attending the following different fields:
- [ ] We will keep all the other fields:
  - [ ] Title
  - [ ] Authors (will be more than one). Maybe we can show 3 and "...." or "show more" or the number of authors ("and X more")
  - [ ] State: Open/Closed
  - [ ] Description
  - [ ]

[2018-03-19 16:38] tramuntanal opened #3045 "Do not force Postgresql user to be admin"
# This is a Discussion

#### :tophat: Description
When some module requires Postgresql extensions like trigram (pg_trgm) or unaccent, a migration is added that adds this extension by executing `CREATE EXTENSION IF NOT EXISTS "pg_trgm"`.

When a developer/sysadmin finds that this migration crashes she has 2 options:
1. Grant admin permissions to Decidim's user
1. Comment the content of the migratio

[2018-03-19 18:23] xabier commented on #2840
We have to start simple and with current features. That means with our control version system, which is simple. I am pretty sure our current control version doesn't allow to re-establish old versions. Only to compare. So MVP: participants can only publish last version. If they want to revert they can always create a new version with old content

[2018-03-19 18:30] xabier commented on #2840
@arnaumonty

I think the simpler option is to consider all co-authors equal, it simplifies permissions etc.

[2018-03-20 10:15] mrcasals commented on #3045
It'd be cool to have this, but we (@decidim/lot-core) can prioritize this right now.

PRs are welcome, though! 😄

[2018-03-20 10:49] Xfolchf opened #3048 "Time error configuration on debates"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
At least in debates, there's an error when seting hours...
At starting time of 1 hour, and at ending of 2 in between of what is set/saved and what is shown afterwards.
Image attached is the result for this configuration:
- starting: 19/03/2018, 08:00
- ending: 28/04/2018. 23:55
Check the tim

[2018-03-20 10:52] deivid-rodriguez commented on #2216
I'm pretty sure this one is fixed now. Tentatively closing.

[2018-03-20 10:52] #2216 closed

[2018-03-20 11:02] deivid-rodriguez commented on #3045
Yes, I like the idea too. Are you looking for something similar to [this](https://github.com/alabs/nolotiro.org/blob/a61b4b383ce39bd1ef98369768f4a11826bb3f8c/db/migrate/20161117184157_enable_indexes_on_like_queries.rb#L1-12)?

[2018-03-20 11:09] tramuntanal commented on #3045
Yes, [this](https://github.com/alabs/nolotiro.org/blob/a61b4b383ce39bd1ef98369768f4a11826bb3f8c/db/migrate/20161117184157_enable_indexes_on_like_queries.rb#L5) is exactly what I meant.

[2018-03-20 11:12] tramuntanal opened #3049 "Collaborative Draft MVP"
# This is an MVP

## :tophat: Description
We will base this MVP in the features described in the EPIC's 1st iteration block but it won't be exactly the same.

### Features
- [x] Publish CollaborativeDraft as Proposal:
  - [x] A button in the proposals list will show the list of collaborative drafts in any state sorted by date DESC.
  - [x] Make Proposals co-authorable.
- [x] Seeds
- [x] Make Colla

[2018-03-20 11:23] deivid-rodriguez commented on #3045
No, please, go ahead! ☺

[2018-03-20 11:23] Xfolchf commented on #2727
@oriolgual have you contact with @Bishal KC to get more information or to try to reproduce this bug?

[2018-03-20 11:30] tramuntanal commented on #2840
@decidim/product I've added a link to the MVP and a "Request collaboration Work-flow" section in the EPIC description in this page.

[2018-03-20 11:33] Xfolchf commented on #3031
@mrcasals yes, sorry, I forgot:
https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12316

[2018-03-20 12:08] carolromero opened #3050 "Gamification MVP"
This is an MVP for the EPIC #2976
## Notifications

### General improvements to notification system

Design: https://github.com/decidim/decidim/issues/3121

- [ ] When clicking on the notification it should be marked as already read and dissapear from the list
- [ ] Types of notification need to be distinguished and filtered
  - [ ] Comments: new comments to my proposals, responses to my comments,

[2018-03-20 12:10] carolromero commented on #2976
@mrcasals sorry for the delay, here there is: https://github.com/decidim/decidim/issues/3050

[2018-03-20 12:19] Xfolchf commented on #3044
@tramuntanal @isaacmg410 could you estimate this issue?

[2018-03-20 12:20] Xfolchf commented on #3050
@josepjaume could you estimate this issue?

[2018-03-20 12:36] tramuntanal commented on #3044
Hi @Xfolchf, we need first to have the designs approved and implemented, also it has definition conflicts with assemblies that must be clarified. @decidim/product @isaacmg410 asked in this EPIC or in iteration 1 of assemblies.

[2018-03-20 12:42] jsperezg opened #3052 "hardcoded translations"
# This is a Bug Report

#### :tophat: Description
The file decidim-proposals/app/views/decidim/proposals/proposals/_endorsements_card_row.html.erb has some hardcoded tranlations inside:

aria_label: "Comentarios"

[2018-03-20 13:05] mrcasals commented on #3052
@decidim/lot-mods can you take care of this, please?

[2018-03-20 13:06] isaacmg410 commented on #3044
@decidim/product @Xfolchf As @tramuntanal  has said, in order to give an estimate for this issue, first, we need to clarify some doubts and have the design implemented.

Yesterday I asked in the meeting and we agreed that the doubts of the #2832 will be commented there. Can you clarify first the doubts, please? before beginning to develop the type of meetings..

Also, What type of field needs to b

[2018-03-20 14:13] tramuntanal commented on #3045
Done in PR https://github.com/decidim/decidim/pull/3053

[2018-03-20 14:13] javierarce commented on #2594
I'm afraid I put more effort in other issues and missed this one… I'll finish a proposal for this soon so we can move on.

[2018-03-20 14:23] oriolgual commented on #2976
@carolromero @decidim/product some comments:

- what are the data that the admins can change? Just the number of actions and temporality or also the number of levels per achievement?
- Are there any badges or it's just notifications?

If so:
- If admins can update the criteria, what happens with already existing badges? Should they be deleted and recalculated?
- Where should we show the earned bad

[2018-03-20 14:35] xabier commented on #2893
hi @Crashillo how is this going?

[2018-03-20 14:41] xabier commented on #2458
and what is missing for #2684 to be accepted? @Xfolchf can you do a follow up of these dependencies? thanks

[2018-03-20 14:57] xabier commented on #2918
Now that 0.10 is out, whenever the bugs are solved for the absolute threshold it is ok if you start doing this @isaacmg410

[2018-03-20 15:01] javierarce commented on #2862
@decidim/product could you have a look to the wireframes, please?

[2018-03-20 15:21] xabier commented on #2862
You are right.

I like the wireframes you have done. Together with the minutes, it would be convenient to have the column Agenda. Also, take into account that right now it is the lock symbol what brings you to the minutes, this is a horrible admin experience.

[2018-03-20 15:26] xabier commented on #2056
@mrcasals great news. This is really critical right now, so let us know about the progress, resolving this issue will some many dependencies :+1:

[2018-03-20 16:14] carolromero commented on #2976
Hi @oriolgual

Admins can enable/disable **Gamification Categories** through the admin panel. The reason is that different categories may (or may not) apply depending on the organization. For example, in the case of a cooperative that uses Decidim for its internal democratic processes it doesn't make sense the use of "Ambassador" Category.

There will be badges, they are described in the issue. Bu

[2018-03-20 16:21] Crashillo commented on #2893
I'm missing something here. Regarding as the piece of code you @deivid-rodriguez attached in the description, the commit moves the anchor and the partial **inside** the upper block. That's correct.

Nevertheless, the code in `master` has not include that change. Has been actually merged? cc/ @decidim/lot-core

This block belongs to a partial/widget/whateveryouwannacallit to render the adhesions li

[2018-03-20 16:39] PierreMesure opened #3054 "Reference prefix technically needed but not required to try to save settings"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

Seems like you can't save your settings with an empty Reference prefix
at [http://localhost:3000/admin/organization/edit](http://localhost:3000/admin/organization/edit)

* What did you expect should have happened?

There is no asterisk so I expected to be able to have no reference prefix.

* What was the config

[2018-03-20 16:48] javierarce commented on #2861
Ok, here are the designs for this feature:

### Initial state of the meeting page

There's a new box that will contain a list of first level items and an action to create a new one.

![agenda - initial state](https://user-images.githubusercontent.com/4933/37668268-62b0d22c-2c64-11e8-90ac-206fef8529c9.png)

### Meeting with some items
Once the user has added items in the agenda, a list appears. Ite

[2018-03-20 16:57] deivid-rodriguez commented on #2893
I only posted the diff here for discussion (just like I mentioned the alternative `height: 0` approach), but as you noticed, nobody has proposed a PR to integrate it into master.

Some doubts remain however. What about the list of attachments as @mrcasals mentioned? What about the fact that the "button component" will appear after everything on mobile if we move the markup as @htmlboy noticed? Is

[2018-03-20 20:49] xabier commented on #3054
hi @PierreMesure thanks for reporting this bug! I hope @decidim/developers can respond tomorrow, welcome to the community :smile:

[2018-03-21 07:58] javierarce commented on #2862
I see, yes, the lock icon hides an important functionality. I think we can remove the icon and place the form inside the collaborative tool.

Regarding the agenda column… that will be managed inside the edit page of the meeting (as shown [here](https://github.com/decidim/decidim/issues/2861) Do you mean we should add a link with an anchor to go the position of the agenda inside that page?

[2018-03-21 08:24] carolromero commented on #2832
Hi @isaacmg410, Indeed, that would be redundant.
To avoid this, it would be best to integrate the private (closed) Assemblies into the options under Characteristics, so the selectors would be:
- Characteristics of Assembly `boolean`: Open / Closed (and yes, Public is discarded as an option).
- Transparent `checkbox`: If you have selected Open, the Transparent field displays checked by default and

[2018-03-21 08:35] mrcasals commented on #3054
Hi @PierreMesure! Thanks for reporting this! I've created #3056, which solves this error 😄

[2018-03-21 08:38] xabier commented on #2862
Mmmm, don't we get too big a config-edit page for the meeting? also, agenda-setting is something that will not always be used. So, I suggest we make it a different section or something.

[2018-03-21 08:42] xabier commented on #3032
thanks @mrcasals

[2018-03-21 08:43] xabier commented on #3036
this might be due to a bad update, I see this is happening on a Decidim instance that has been behind releases for some time.

[2018-03-21 08:43] xabier commented on #3036
maybe @virgile-dev can report on this

[2018-03-21 08:49] xabier commented on #2967
@Xfolchf please make sure the bugs are reported on the appropriate repository. cheers

[2018-03-21 09:06] agustibr commented on #2840
About the naming of this this type of _collaborative-proposal-drafts_,
I think they can be named **_"Proposal Blueprints"_** as its a synonym for draft or sketch and means preliminary plan and clearly differentiates them from _proposal drafts_ that are created by individual participants.

Launchpad (software collaboration platform) uses this concept to help track the ideas/features intended to imp

[2018-03-21 09:18] #3054 closed

[2018-03-21 10:10] jsperezg opened #3058 "Problem with GraphQL API"
# This is a Bug Report

#### :tophat: Description
This bug huppened  for me only once. I've not been able to reproduce it. Seems something related to the load order.

What I've appreciated in the web is that comments were dissabled. The backend raised the following error:

RuntimeError (Duplicate type definition found for name 'ComponentInterface'):

After this error any request to /api finished

[2018-03-21 10:18] mrcasals commented on #3058
@jsperezg I remember seeing something similar, and @josepjaume fixed it here: https://github.com/decidim/decidim/pull/2939

Are you running the latest `master` version?

[2018-03-21 10:24] carolromero commented on #2832
After discussing it offline with @isaacmg410 , one solution that does not conflict with the development of `private_spaces` is this:

- `Private` field (checkbox): remains the same as the other spaces. If it is not activated, the Assembly is public and open (anyone can participate in it).
- `Transparent` field (checkbox): by default it is activated and disabled. If you activate the Private field,

[2018-03-21 10:30] isaacmg410 commented on #2832
@carolromero So we keep the 'special_features' field? or not?

[2018-03-21 10:32] xabier commented on #2840
Thanks for your input @agustibr but we really want collaborative to be displayed on the name. Also blueprint has other meanings. How about simply *collaborative draft* ?

[2018-03-21 10:35] carolromero commented on #2832
@isaacmg410 Since it's already done and it's an informative field, let's keep it. I'll update the EPIC with these changes.

[2018-03-21 10:36] javierarce commented on #2862
Well, we could do that, since it's not a very big change, but I think we should have detected this in the wireframes stage :/

[2018-03-21 10:45] javierarce commented on #2862
Also, the setting for the agenda is handled per meeting? Or is a site-wide configuration?

[2018-03-21 10:48] jsperezg commented on #3058
I'm using the following version:

gem "decidim", git: "https://github.com/decidim/decidim", branch: "0.10-stable"

[2018-03-21 10:57] javierarce commented on #2862
In the closing form we have the following items:

- Report
- List of organizations that attended
- Number of attendees
- Number of contributions
- Proposals created in the meeting

Does it make sense to move all those fields except for "Report" to the bottom of the collaborative form and remove the "Close" option?

[2018-03-21 11:03] mrcasals commented on #3058
@jsperezg mhhh the PR I'm linking is appears in this branch 😕 I guess you're using the latest version of that branch, then?

@josepjaume can you check this?

[2018-03-21 11:11] josepjaume commented on #3058
Maybe I didn't fix all of it. Here's another attempt! https://github.com/decidim/decidim/pull/3059

[2018-03-21 11:15] mrcasals opened #3060 "Move test coverage to CodeClimate"
# This is a Developer Experience feature

#### :tophat: Description
Once tried at #2192, but we decided not to push it forward at the time. Some problems with CodeCov kept arising, so I suggest we try it once again, and see if it's a better fit for us. Also, it would mean less 3rd-party services for the project.

#### :pushpin: Related issues
* #2192

#### :clipboard: Additional Data
Does not appl

[2018-03-21 11:27] josepjaume commented on #3050
Hi,

Before trying to estimate this, we should probably split this in more defined issues, explaining their precise scope. How are they displayed? What messages (and which precise text) does the participant receive when these actions happen?

Some of them pose issues in their implementation (as discussed on our previous meeting), like the "sharing" functionality (Diffusion). There's no way to figu

[2018-03-21 12:58] agustibr commented on #2838
@carolromero I've just created the #3064 PR to solve this issue.

[2018-03-21 13:06] #3058 closed

[2018-03-21 13:07] mrcasals commented on #3058
We'll backport it to `0.10-stable`

[2018-03-21 13:21] Crashillo commented on #2893
Hey, @decidim/lot-mods you should take a look at this

[2018-03-21 13:32] carolromero commented on #3050
Hi @josepjaume,

I see your point, and agree that some of them raise unsolved questions. Let's start with the clear ones. I'll split it in smaller issues and close this one.

[2018-03-21 13:33] deivid-rodriguez commented on #2893
To further clarify, in case someone is as confused as @Crashillo and I were:

I posted the diff as a possible solution for discussion, but I didn't check the design app (assuming it was syncronized). It turns out that my diff coincidentally matches the approved markup in that design app, so that (understandably) confused @Crashillo.

To sum up, this is a problem introduced when integrating the adh

[2018-03-21 13:47] agustibr commented on #2840
@xabier, Ok
I thought the name was not decided yet.

[2018-03-21 13:56] mrcasals commented on #3058
@jsperezg this has successfully been backported to `0.10-stable`, can you update your branch and try again? 😄

[2018-03-21 15:33] xabier commented on #2862
ups, not sure I understand @javierarce sorry :(

[2018-03-21 15:35] xabier commented on #2840
@arnaumonty @carolromero are you ok with this?

[2018-03-21 15:36] carolromero commented on #2840
+1  to _collaborative draft_

[2018-03-21 17:25] javierarce commented on #2840
Ok, here are some initial screens for the view draft page:

### Author view (current draft)

This is the view an author sees when she's looking at the newest/current version of a draft.

![author view current draft](https://user-images.githubusercontent.com/4933/37725969-83a51652-2d34-11e8-9232-8462ed3ec86b.png)

### Author view (previous draft)

In case the draft is a previous one, we show some i

[2018-03-21 17:34] xabier commented on #2840
nice!!! :heart_eyes:

[2018-03-21 18:52] deivid-rodriguez opened #3067 "Unremovable trailing paragraph after embedded videos"
# This is a Bug Report

#### :tophat: Description

When embedding a video on a rich text field, a trailing paragraph is always generated, which generate a visually unpleasant space on the final content. If you try to remove it from the editor, the whole video is removed. Apparently `quilljs` needs this to work so we would need to hide the visual space via JS or CSS when needed.

#### :pushpin: Rel

[2018-03-21 18:59] deivid-rodriguez opened #3068 "Codeclimate PR check shows as green when actually failing"
# This is a Bug Report

#### :tophat: Description

For example, #3022 was introducing some markdown offenses, but was marked as "all good". See https://codeclimate.com/github/decidim/decidim/pull/3022.

Is this expected?

#### :pushpin: Related issues
_None_.

#### :clipboard: Additional Data
_None_.

[2018-03-22 06:31] jsperezg opened #3070 "Are generators broken?"
# This is a Bug Report

#### :tophat: Description
When I try to generate external development app or the dummy app inside a docker container, the generation fails with the following error:

NoMethodError: undefined method `full_gem_path' for nil:NilClass
/code/lib/generators/decidim/install_generator.rb:145:in `scss_variables'

[2018-03-22 08:27] mrcasals commented on #3070
It works gret for me on `master`, but I'm not using docker...

[2018-03-22 08:32] mrcasals commented on #3068
Ugh, that's weird, I've asked them via Twitter, let's hope they answer soon enough. Otherwise I'll send them an email or something.

[2018-03-22 09:00] deivid-rodriguez commented on #3070
You need to have decidim globally installed on the container (`gem install decidim`). Can you try?

[2018-03-22 09:27] jsperezg commented on #3070
@deivid-rodriguez @mrcasals continue failing. I've cloned a fresh copy this morning in order to isolate it from any change in my working copy. The steps to reproduce it are:

[code]

What I've done for the moment is fixing the scss_variables method like this:

[code]

It's a dirty fix that allows me to continue working but I assume that there is an error elsewhere.

[2018-03-22 09:28] jsperezg commented on #3070
@deivid-rodriguez Installing the decidim gem inside docker had no effect. Same error.

[2018-03-22 09:32] #3045 closed

[2018-03-22 09:34] deivid-rodriguez commented on #3070
But have you installed `decidim` globally via `gem install decidim`. Generators pick up this scss file from the installed version in `decidim-core` so you currently need to install decidim via `gem install decidim` to simulate the real usage. I guess we could detect a "development copy situation" and pick up the file from the working copy if available but it's not how it currently works.

[2018-03-22 09:35] jsperezg commented on #3070
@deivid-rodriguez I've executed gem install decidim and tried again to generate the development app. Same result.

[2018-03-22 09:36] jsperezg commented on #3070
Generating the test app fails with the same error message

[2018-03-22 09:36] deivid-rodriguez commented on #3070
Sorry I wrote before reading your last comment. That `nil` you're getting there means `decidim-core` is not installed so I have no idea what's going on 😔

[2018-03-22 09:38] jsperezg commented on #3070
@deivid-rodriguez I agree with you that it's weird. The thing here is that after patching the function the process continues and migrations and all stuff from core appears in the generated apps. IMHO seems a loading order problem. IT's simply that, when this funciton is executed Core has not been loaded yet.

[2018-03-22 09:48] deivid-rodriguez commented on #3070
It is expected that your patch works, the only difference is that the generated application won't have that file installed.

[2018-03-22 10:11] javierarce commented on #2862
Oh, which of my comments? The last one? :)

[2018-03-22 10:27] mrcasals commented on #3013
I think this can be solved by the new permissions system introduced at #3029 (unmerged as of now), as it changes a little bit how the permission is checked. More info there!

[2018-03-22 10:30] deivid-rodriguez commented on #3013
I had no words to describe how awesome that PR is, that's why I only enjoyed it silently :)

[2018-03-22 10:31] PierreMesure opened #3074 "Compressed images can be bigger than original"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

I saw on AWS that two images were uploaded, the original file and a version that seemed smaller (in height and width) and more compressed. The problem is that for my PNG logo, the second file was smaller but heavier. So I decided to upload an image that would be the exact width of the compressed version. The re

[2018-03-22 10:34] PierreMesure commented on #3074
Forgot to say I use ImageOptim to optimise my PNG without loss. It also deletes the metadata which might account for the additional 4Ko. Let me add more examples with different sizes.

[2018-03-22 10:36] mrcasals commented on #3074
Thanks for the report, @PierreMesure!

Extra examples will help with debugging this issue, so they are very welcome.

[2018-03-22 10:37] #3048 closed

[2018-03-22 10:38] PierreMesure commented on #3074
Yes, here is a much more speaking example.

I upload an image that's 1200x240 and 15 895 octets.
![dinriksdag-logo-color-with-text](https://user-images.githubusercontent.com/7223028/37765763-6417ccda-2dc5-11e8-8b49-30e3e0c1cd8a.png)
The compressed image is exactly half the size (600x120) but weighs 26 133 octets
![medium_dinriksdag-logo-color-with-text](https://user-images.githubusercontent.com/72

[2018-03-22 10:47] jsperezg commented on #3070
Since it's for development purposes I find it acceptable. Do you think it is necessary to add a comment to explain the intent of the extra line?

[2018-03-22 10:59] deivid-rodriguez commented on #3070
@jsperezg So I can indeed reproduce the issue, and not sure why it happens. But it's fixed by running the command on a bundler context. `bundle exec rake development_app` instead of `rake development_app`. In general, always prefix commands with `bundle exec` on a development context. Can you try?

Also, have a look at the `docker` binstubs at the `d/` folder. You can achieve the same thing withou

[2018-03-22 11:01] xabier commented on #2862
I think I understand now. All those fileds should go to the report section

[2018-03-22 11:07] jsperezg commented on #3070
It works! @deivid-rodriguez,

A million thanks!

[2018-03-22 11:07] #3070 closed

[2018-03-22 11:08] jsperezg opened #3076 "Integrate decidim sortitions"
# This is a Feature Proposal

#### :tophat: Description
After some discussion [here](https://github.com/decidim/decidim-initiatives/issues/121#issuecomment-374979690) we agreed on integrating decidim sortitions inside the main repository for Decidim.

Other issues for integrating consultations and initaitives will be openened soon as well.

[2018-03-22 11:10] isaacmg410 commented on #3044
@decidim/product @decidim/lot-px  How should we show the new meeting fields?

[2018-03-22 11:59] deivid-rodriguez commented on #3070
No problem @jsperezg!

[2018-03-22 12:07] tramuntanal commented on #3049
@decidim/product @xabier Sorry I may not have been clear enough when listing required designs. Let me clarify:
- "Draft detail (show collaborative draft)": The detail/show page for a collaborative draft, corresponds to your draft page sketch in the epic.
- "Proposal detail corresponding originated from a collaborative proposal.": This is the detail/show page for a proposal that has been originated

[2018-03-22 12:21] tramuntanal opened #3079 "Collaborative Space implementation details"
# This is a Discussion about how Collaborative Drafts should be implemented

## :tophat: Description
Collaborative spaces are described in the EPIC #2840, and its main entity has been named "Draft" until it becomes a "Collaborative Proposal".

### Collaborative Drafts Insights
At the moment Drafts will only be able to become Proposals in Participatory Processes, but it is planned to use them in In

[2018-03-22 12:37] tramuntanal commented on #2840
Great design! only my two cents:
- why an author has an "edit proposal" button and an accepted co-author has a "collaborate" button. Are this buttons for different purposes or are the same or it is an error and both should have same text?
- For me, when arriving here form a shared link, it is difficult to get in the context that it is a collaborative draft. Maybe some subtitle explaining it is a c

[2018-03-22 13:35] efueger commented on #3068
Hi @deivid-rodriguez 👋 - just replied to @mrcasals 's [tweet](https://twitter.com/mrcasals/status/976738302136070144)

- markdownlint ships with a default severity level of info, which means those issues won't fail the PR.

---

You can change severity in your .codeclimate.yml: http://bit.ly/2G9jzmP

![image](https://user-images.githubusercontent.com/2053833/37773397-df8b9598-2db3-11e8-96dc-fb7139

[2018-03-22 13:38] mrcasals commented on #3068
@deivid-rodriguez they've answered linking me to this:

https://docs.codeclimate.com/v1.0/docs/issues#section-issue-severity
https://twitter.com/codeclimate/status/976813881590009857

Should we up the severity of this check?

[2018-03-22 13:39] mrcasals commented on #3068
Oh wow, real-time, uh! Thanks for chiming in, @efueger! We'll probably bump the severity 😄

[2018-03-22 13:40] deivid-rodriguez commented on #3068
Nice! Thanks @efueger, that's good to know. I assume `bundler-audit` severity level is also `info`?

@mrcasals Yeah, I would bump the severity :+1:.

[2018-03-22 13:40] mrcasals commented on #3068
@deivid-rodriguez the docs for `bundler-audit` do not specify anything of its severity level, but I guess we can manually set it anyway

https://docs.codeclimate.com/v1.0/docs/bundler-audit

[2018-03-22 13:52] efueger commented on #3068
@mrcasals - at first glance:
- it looks like bundler-audit itself [assigns the criticality](https://github.com/rubysec/bundler-audit/blob/b7123d7b294f244165d9469f22b37a559e235fc2/lib/bundler/audit/advisory.rb#L92) of an issue.

- the  bundler-audit plugin (what you're using with Code Climate) [defaults to "normal"](https://github.com/codeclimate/codeclimate-bundler-audit/commit/a19fe1cc10d115d2e38

[2018-03-22 14:05] xabier commented on #3044
@isaacmg410 at the metadata box, until design proposed something, is that ok?

[2018-03-22 14:09] xabier commented on #3049
@javierarce has done mockups here, hope it hekps: https://github.com/decidim/decidim/issues/2840#issuecomment-375027270

Let me know if this is insufficient

[2018-03-22 14:11] deivid-rodriguez commented on #3068
Thanks for all that info, very interesting. Something I see is that `bundler-audit` checks for a cvss2 score, but what's assigned nowadays seems a more recent standard, cvss3. For a quick look, the score would've been normal severity anyways.

I mentioned `bundler-audit` because I was surprised that `codeclimate` never notified us about the [loofah vulnerability](https://github.com/decidim/decidim

[2018-03-22 14:21] arnaumonty commented on #3079
Yes, it could be applied in assemblies, it works as the component proposals and should be used as any other component in any other participatory space.

Actually is not a participatory space, it's a previous (and optional step) in the proposal creation process and it could be a new module (or component) or be part of the proposals component. In both cases exist the relation between them because wh

[2018-03-22 14:25] arnaumonty commented on #2840
If everyone agrees I modify the title of the EPIC to "Collaborative proposals". Using the term "space" generates confusion with participatory spaces.
cc/ @decidim/product @decidim/lot-core  @decidim/lot-mods

In relation to #3079  opened by @tramuntanal

[2018-03-22 14:26] mrcasals commented on #3060
Although code can be adapted from #2192, here's a nice little guide by CodeClimate themselves to integrate their Test Coverage with CircleCI 2.0 with multiple test suites:

https://docs.codeclimate.com/docs/circle-ci-test-coverage-example#section-circleci-20-using-multiple-test-suites

We should do the same, although for a lot more jobs 🤷‍♂️

[2018-03-22 14:29] arnaumonty commented on #2840
Maybe it is better to show the same action to all the authors (the main author and all the collaborators). Actually, they will have the same rights.

We can use a help text box above the title of the draft, explaining how you can collaborate.

[2018-03-22 14:43] xabier commented on #2840
The `colllaborate` button should only appear for those that demand to collaborate, non-(co)-authors. Good point @tramuntanal

[2018-03-22 14:57] Xfolchf opened #3082 "Authorizations / Census"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
When entering my data in the Census  I got ERROR (the server does not work, try later) at the time of sending ... I got it to the third,

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12367

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

* ***

[2018-03-22 15:01] tramuntanal commented on #3079
Regarding this last question:

I think that @mrcasals was pointing out that if we allow to publish older versions than the last one, we're leaving many questions in the air like, Once a draft has been published from an older version than the last..:
- what version should we show when opening the draft from the drafts list? latest? published?
- how should the published version be distinguished from

[2018-03-22 15:02] Xfolchf opened #3083 "Pages display order is not the same in 'pages/index' and in the main_footer"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
This is a minor bug, but on the pages/index, pages are ordered accordingly to title ASC whereas in the main footer the pages are ordered from the most ancient to the most recent one.
Maybe it would be better if pages in main_footer were alphabetically ordered as well ?

https://meta.decidim.

[2018-03-22 15:10] tramuntanal commented on #3049
@decidim/product @decidim/lot-px I think we can manage to start with the views when we have this designs implemented. If we find that we need more I'll let you know asap.

[2018-03-22 15:12] tramuntanal commented on #3079
@decidim/lot-core Any consideration about our proposal? are you ok that a Collaborative Draft should be a new model? and a Collaborative Proposal will be a kind of the current Proposal model?

[2018-03-22 15:13] mrcasals commented on #3079
@tramuntanal I've pinged @oriolgual and @josepjaume offline, let's wait for their input too!

[2018-03-22 16:01] PierreMesure opened #3085 "Updating user profile doesn't fare well with password autofill"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

When I try to update my profile, my password manager autofills the field New Password, mistaking it for a regular password field.

This makes the update fail because there are different content in the two password fields. There's no way for the user to expect this because the two password fields are hidden and

[2018-03-22 16:27] xabier commented on #3049
hi @tramuntanal I though you had not seen the mockup. Sorry!

I am not sure I completely understand your questions :sweat_smile: Let me try:

Yes,

Yes. We need to wait for this, but right now I would simple put it bellow the metadata box, bellow the identifier.

[2018-03-22 17:15] xabier commented on #3079
My two cents on one of questions raised:

* The entity `Collaborative proposal` should be a proposal with the following details:
   * It can have multiple authors
   * Its "origin" is `collaborative` (different from `official`, `meeting` or `citizen`)
   * Its page includes a link to the draft

* Only the last version of the draft should be published. The older versions are just history

[2018-03-22 18:14] javierarce commented on #3044
Here's a first iteration of the meeting page. Since I'm introducing some new elements, I'd like to present it unfinished so you can all give me feedback:

![meeting](https://user-images.githubusercontent.com/4933/37789449-3e8f773a-2e04-11e8-8fde-5db73660cd4c.png)

Some notes for this screen:

- This is the view of a closed meeting with minutes. The open version would be exactly the same but withou

[2018-03-23 09:13] #3043 closed

[2018-03-23 09:31] oriolgual commented on #3079
- I agree that using collaborative space is quite confusing
- Why do we need Collaborative Proposal to be a new entity? Isn't it enough to have a regular Proposal with some collaborative drafts linked? (and with the attributes @xabier mentioned)

[2018-03-23 10:03] josepjaume commented on #3031
Hi,

I've been investigating this and I think I could reproduce the bug. When attaching a file, if any validations field (body length, caps, etc), the image gets lost and you have to re-attach it again.

If the proposal can be sent on the first try (without any errors), this doesn't happen.

We should find a way to carry attachments during the validation process. But since it's not a critical bug

[2018-03-23 10:09] rbngzlv commented on #2832
@carolromero @javierarce I'm finishing the assembly members feature, I've seen that there is a proposed design to show the members in the public part:

![screen shot 2018-03-23 at 10 54 01](https://user-images.githubusercontent.com/2051199/37823334-7369fefa-2e89-11e8-86a2-6e96a830c726.png)

I've some questions:

- Is it definitive? The markup is implemented?
- We have to separate the current membe

[2018-03-23 10:13] rbngzlv commented on #3031
@josepjaume This solves your bug? https://github.com/carrierwaveuploader/carrierwave#making-uploads-work-across-form-redisplays

[2018-03-23 10:22] tramuntanal commented on #3079
@decidim/product @oriolgual
"Collaborative Proposals: are planned to be a Proposal with a link to its originating Draft." This is our bet, not to create a new entity for a Collaborative Proposal.

The new entity is planned for "Drafts: are planned to be a new entity inside the decidim-proposals module. CollaborativeDraft will be its entity name."

One must take into account that all comments in th

[2018-03-23 10:27] josepjaume commented on #3031
It turns out that we can't use that, because we're not using `carrierwave` in the context of the `form` but the model instead. Can't see an easy way out of here. I tried to keep the `TempFile` path between requests, but that's not a good solution - your request might get served by a different worker that doesn't have access to the same disk.

One solution could be to create another wizard step spe

[2018-03-23 10:27] josepjaume commented on #3031
Thanks for the comment BTW 👍

[2018-03-23 10:31] oriolgual commented on #3079
@tramuntanal I guess I didn't explain myself: I understood that there would be a new `CollaborativeProposal` entity, if it's only the drafts I'm OK with it!

[2018-03-23 10:50] virgile-dev commented on #1139
Hey @andreslucena , @xabier
This was asked by our clients on several occasions.
Is this something that you guys are planning to work on again ?

[2018-03-23 11:31] rbngzlv commented on #2832
@decidim/product We need a `weight` attribute on members to sort them, right?

[2018-03-23 12:33] rbngzlv commented on #2832
@decidim/lot-px We need a icon for the members section:

![screen shot 2018-03-23 at 13 30 50](https://user-images.githubusercontent.com/2051199/37829289-c22f2280-2e9e-11e8-9f05-0f14be7896ca.png)

[2018-03-23 12:57] carolromero commented on #2832
Yep, good point :)

Regarding Members design:

Let's go ahead with de design, I don't think we have the markup ready, though. @Crashillo could you confirm?

We show only current members, and from the administration panel you can see the history of members to see the changes that have occurred.

So how does the introduction of a new member who already has a Decidim account work? You enter her nickn

[2018-03-23 13:17] Crashillo commented on #2832
@rbngzlv @carolromero yep, markup is not yet ready. You might wanna use `people` icon, for members, in the meanwhile.

[2018-03-23 13:17] agustibr commented on #3079
@decidim/product Another question, how should the "Proposal limit per user" behave?

If the limit is set to 1, and a `citizen` has published a Proposal and its a cooauthor of a `collaborative`, will it be able to be published/promoted?

Should there be a (optional) limit for the `collaborative`?

[2018-03-23 13:52] xabier commented on #2292
you got it now!

[2018-03-23 13:54] mrcasals commented on #2292
@decidim/product what's the difference between this and #2840? 😕

[2018-03-23 13:56] #3041 closed

[2018-03-23 14:02] xabier commented on #2292
Amendments are post-collaboration

[2018-03-23 14:27] arnaumonty commented on #2292
@mrcasals exactly, collaborative drafts is a previous and collective step before creating a proposal. The amendments work after a proposal is created. For example, the city council create a proposal but it can receive amendments in order to be improved. This is different than collaboration to create a new proposal.

[2018-03-23 14:30] deivid-rodriguez commented on #3060
By the way, I think codeclimate coverage _does not_ have automatic PR coverage comments. To me it's actually another reason to migrate, but if some enjoys these comments then we need to reconsider...

[2018-03-23 14:30] mrcasals commented on #3060
I absolutely never check them, actually 😅

[2018-03-23 14:31] deivid-rodriguez commented on #3060
Me neither... I take them as noise.

[2018-03-23 14:34] xabier commented on #2292
Collaborative dynamics imply that you trust your collaborators, whereas participatory dynamics like amendments need to be robust to attacks, so the mechanics are different. So the idea is that you first collaborate with peers, then you put your proposal on a potentially hostile environment, where you are still open to improvements (amendments) but these need to be accepted

[2018-03-23 14:47] #2997 closed

[2018-03-23 16:44] xabier commented on #1139
Well we are leaving this to connect it with gamification/engagement and a full redesign of the user profile page. Any specs are welcome. It is not something we want to leave out of the roadmap

[2018-03-23 16:45] xabier commented on #2832
a silly question here: why are we not using the M-cards for these?

[2018-03-23 16:54] javierarce commented on #2832
I thought about that, but I feel they would be too tall and would make the page longer. Also, from the bottom elements of a card I think the only one that would make sense here would be the follow button.

[2018-03-23 16:57] xabier commented on #3079
hi @agustibr

I am not sure where this "proposal limit" comes from... I need to think on the use case, it might be that some other City Council demanded to add this limitation, or that it was suggested for security reasons.

In any case I think the following solution is save for both:

* We have two limits: one to create proposals directly and another limit to create collaborative drafts. But they

[2018-03-23 16:57] rbngzlv commented on #2832
And remind that not all members are associated with an existing user on the platform, so some cards will not have photo and nickname and can't have a follow button, comments counter, etc.

[2018-03-23 17:09] xabier commented on #2832
mmmm.... these are all good reasons @javierarce  and @rbngzlv ! . But let me argue against to see how far we can get on the consequences:

* Different display forms for different use cases increases the cost of maintenance of design and also complexifies user experience.

* This is a killer argument :) but I have the following doubt: should we allow non-registered users to be members? if we do tha

[2018-03-23 17:43] carolromero commented on #2832
@xabier I think we have a very specific use case here, so let me argue in favour of the design decision ;)

To begin with, we must differentiate 2 aspects about the information on members of an assembly:

a) Thinking about the institutional context, for example the _Consells_ of Barcelona City Council. This information must be public and accessible to all citizens. That is, even if the president o

[2018-03-23 18:39] PierreMesure commented on #3085
[Mine](http://github.com/digidemlab/decidim) is a few days old so I guess it's Lastpass not respecting the standard 'autocomplete=off' and detecting the password field anyhow.

[2018-03-23 19:51] PierreMesure opened #3094 "Chrome suggests sensitive values in Impersonate User page"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

When I fill in the form to impersonate a user, Chrome suggests me previously entered value. This is a security issue because this could potentially allow me to connect without the person's ID card (i.e. consent).

This is minor because the date is not suggested (because of the datepicker) and because you log al

[2018-03-24 10:18] mrcasals commented on #3085
Here are a couple of suggestion by people in StackOverflow:

https://stackoverflow.com/questions/20954944/stop-lastpass-filling-out-a-form

For example, the `data-lpignore` attribute, of making the whole form `autocomplete="off"` instead of just the inputs.

[2018-03-24 10:47] leio10 commented on #3085
Please, check [this PR](http://github.com/decidim/decidim/pull/2529) too. AFAIK browsers dont obey autocomplete because it's considered safer remembering passwords than trusting in the user (easy passwords, post-its, etc). I guess that we will have to find hacks for different browsers (or plugins as lastpass) to remove autocomplete feature in sensible fields. :(

[2018-03-24 17:09] PierreMesure commented on #3085
Wouldn't it be easier to just disable these fields when they are hidden? Or to just move them to another page? It seems that this is general good practice, many web services have password updating as a separate page away from the infos.

[2018-03-24 22:04] leio10 commented on #3085
I agree with you @PierreMesure, the password changing feature should be on a different page. But anyway, I think that the problem with autocompletion attribute and the browsers behavior will still be there. :disappointed:

[2018-03-26 06:19] xabier commented on #2832
OK! let's move on. I am waiting forward to see this implemented :smile:

[2018-03-26 07:14] mrcasals commented on #3085
I agree with @PierreMesure, the easiest solution for this is moving those fields to another page

[2018-03-26 07:15] mrcasals commented on #3094
Related to https://github.com/decidim/decidim/issues/3085#issuecomment-375866155, we should make this form non-autocompletable.

[2018-03-26 08:12] tramuntanal commented on #3049
@decidim/product button in the proposals list

![access_collaborative_drafts](https://user-images.githubusercontent.com/199462/37894341-3a7e8a64-30de-11e8-8c67-afe5affdce53.png)

[2018-03-26 09:09] javierarce commented on #2840
Regarding the "collaborate" text of the button… yes, it's better that we use "Edit proposal" like in the author version, I missed that detail.

And here's a version of the non-yet-collaborator view with a help message:

![non-collaborator](https://user-images.githubusercontent.com/4933/37897218-fb3354fe-30e5-11e8-880c-4e29c63fcef2.png)

[2018-03-26 09:14] javierarce commented on #3049
+1 just let's add it a left margin of 16px.

[2018-03-26 09:17] javierarce commented on #2861
Hi! Can we start creating the HTML for this?

[2018-03-26 09:21] #3076 closed

[2018-03-26 09:24] PierreMesure opened #3097 "Title and subtitle of a participatory process are required at model level but not at form level"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

Just a confusing behaviour when you create a participatory process (and it's maybe the case for other elements), the form doesn't have a 'required' asterisk for the title and subtitle fields. But when you try to save the element without the subtitle, you get an error message.

* What did you expect should have

[2018-03-26 09:27] PierreMesure commented on #3097
I would love to submit a push request myself but I've looked at the code and it's broken up in so many pieces that I don't feel confident enough. Hopefully, I'll be able to do it more and more in the coming weeks/months. 😅

[2018-03-26 09:40] PierreMesure opened #3099 "One-day steps cannot be created in processes"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

It doesn't seem to be possible to create a process step that is only one day long.

![capture d ecran 2018-03-26 a 11 17 21](https://user-images.githubusercontent.com/7223028/37898568-7414edb2-30e9-11e8-84e3-2bdb0bd8ac35.png)

* What did you expect should have happened?

If this is by design (but I couldn't fin

[2018-03-26 09:45] PierreMesure opened #3100 "Writing dates manually doesn't work in New Process Step form"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?

Typing dates manually instead of picking them with the datepicker will usually result in them not being saved. As a side effect, it will also bypass any error message.

![capture d ecran 2018-03-26 a 11 35 46](https://user-images.githubusercontent.com/7223028/37898722-dad28f00-30e9-11e8-891

[2018-03-26 09:50] tramuntanal commented on #3049
@javierarce is there some css class or row to be used for this?

[2018-03-26 10:03] Crashillo commented on #3049
It is, you may add `ml-s` class to the 2nd button

[2018-03-26 10:37] agustibr commented on #3079
hi @xabier,  the "Proposal limit per user" is configured by the administrator, in the components settings:

![screenshot from 2018-03-26 12-35-16](https://user-images.githubusercontent.com/210216/37901704-67f7b768-30f2-11e8-82a9-ad424c1c14b2.png)

[2018-03-26 10:54] mrcasals commented on #3013
@deivid-rodriguez on #3029 I'm removing some of the duplicated specs: `process_admin_manages_proposals_spec.rb` is the file that is being removed. On my machine, this file accounts for ~4min of tests (the whole test suite for proposals takes 19-20min), so that's an improvement of 20%...

Basically I'm removing it because it's testing exactly the same as `admin_manages_proposals_spec.rb` (although

[2018-03-26 11:15] mrcasals commented on #3097
Hi @PierreMesure! Thanks for the bug report!

I'm trying to reproduce this bug in my local machine, using latest `master`, but I can't:

![](https://i.imgur.com/QbOZdPF.png)

I've tried creating a process with an errored form, and it keeps showing me the asterisk, marking the field as required, as you can see in the screenshot.

Are you using any special configuration?

[2018-03-26 12:08] mrcasals commented on #3099
@decidim/product can you check if this is done by design? If it isn't, we'' work on a fix.

Docs: https://github.com/codegram/date_validator

[2018-03-26 12:09] mrcasals commented on #3100
@PierreMesure thanks for the report, we'll work on it!

[2018-03-26 12:35] PierreMesure commented on #3097
It's really strange, I tried with a vanilla [decidim](https://github.com/digidemlab/decidim-sweden) and the asterisks are there. But with mine, which has literally no difference except a few CSS modifications to make the top bar white, no asterisks on Chrome nor on Safari.

You can find the differences [here](https://github.com/digidemlab/decidim-sweden/compare/master...DinRiksdag:master) if you w

[2018-03-26 12:48] javierarce commented on #2594
Hi! Here's my proposal for the home page:

![assemblies](https://user-images.githubusercontent.com/4933/37907007-28c46624-3104-11e8-9fba-d85c16b1166e.png)

- I've used the m-sized cards to display the highlighted assemblies instead of creating a new smaller card.
- Instead of filtering directly in this page (as suggested by @arnaumonty), I'd like to suggest to have a separate view (similar to othe

[2018-03-26 12:48] mrcasals commented on #3097
@PierreMesure that's weird 😕 I'll close the issue since I can't reproduce it.

I see your app is generated via a fork of decidim (https://github.com/digidemlab/decidim/) instead of the official repo, is there a reason for this? You might be missing bugfixes and improvements in your app if you don't use the official one

[2018-03-26 12:48] #3097 closed

[2018-03-26 12:51] xabier commented on #2861
Yes, looks great to me! thanks!

[2018-03-26 12:52] xabier commented on #2862
absolutely yes!

[2018-03-26 12:53] xabier commented on #3079
@agustibr well, lets make this simple then. we just copy this and make it independent and we only check it for the creation, not co-authoring.

[2018-03-26 12:56] xabier commented on #3099
hi @PierreMesure can you explain a use case where a step/phase is shorter than one day?

I am not sure we have intentionally designed this... but a good way to fake a participatory process is to leave very short periods of time for processes.

[2018-03-26 13:00] agustibr commented on #3079
@xabier ok

[2018-03-26 13:38] PierreMesure opened #3101 "Decidim core locale should use organisation name"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

The string "Your short, unique identifier in decidim" should use the organisation's name, not decidim.

* What did you expect should have happened?
* What was the config you used?
* What stacktrace or error message from your provider did you see?

For feature proposals:
* What is the use case that should be sol

[2018-03-26 13:42] PierreMesure commented on #3101
There is also one occurrence [here](https://github.com/decidim/decidim/blob/1b0ce6576f3716a36b47bed4616188d973116466/decidim-admin/config/locales/en.yml#L254) but I'm not sure you want to replace this one.

[2018-03-26 13:54] jsperezg opened #3104 "Integrate decidim consultations in decidim"
# This is a Feature Proposal

#### :tophat: Description

Integrate Decidim Consultations (https://github.com/decidim/decidim-module-consultations) in Decidim.

[2018-03-26 14:08] xabier commented on #2594
Excellent!

[2018-03-26 16:15] xabier commented on #2594
After today's meeting:

* Remove the header image
* Add explanation text box (to explain the participatory space)
* We won't use search yet
* Include tab or mini-filter to navigate all the m-size cards
* Remove map

[2018-03-26 17:02] carolromero commented on #2832
Hi @isaacmg410 @javierarce @Crashillo,

Finally, to solve the issue of having many fields in the Assemblies home page, we have agreed to use the same solution as for Consultations, which is to add a _"read more..."_ button: https://github.com/decidim/decidim/pull/3061

The homepage elements will be displayed in this order:
- Description (short and long)
- Read more button (the following additional

[2018-03-27 06:51] isaacmg410 commented on #2832
OK @carolromero I will apply this functionality.
Only to confirm, to a process the order of the last blocks are:

- Documents
- Photos
- Upcoming events
- proposals
- Results

And now for assemblies, uou are proposing that the order be:

- Upcoming events
- Related documents
- Related photos
- Related processes

is that okey?

cc:// @javierarce @Crashillo @decidim/product

[2018-03-27 07:00] #2838 closed

[2018-03-27 07:12] PierreMesure commented on #3099
My use case is to have a step taking place on only one day, not less (although one could argue that having the freedom to make it shorter could be useful as well). This step doesn't require any citizen input, it corresponds to deliberation from the authorities, but it still needs to appear in the timeline.

I think it would be important for steps that are almost instant (like a vote by a parliamen

[2018-03-27 07:14] PierreMesure commented on #3099
I totally understand your point about shorter consultations being less participative. But I'm not sure that making the 2 days the minimum is enough to prevent that behaviour. Why not 3? Or 5? It's just an arbitrary number.

[2018-03-27 07:53] xabier commented on #3099
I guess the feature here was there to simplify. I think it is ok to have more granularity and I don't think there are strong reasons to oppose shorter steps for processes. So, from the product side,  you are welcome to add this feature if you need it.

Regarding the use case you mention. In parlamentarian activity  or any other type of council meeting, it is very rarely the case that decisions are

[2018-03-27 08:45] #3101 closed

[2018-03-27 08:45] #3060 closed

[2018-03-27 09:18] PierreMesure commented on #3097
I did that at a time when I had just switched from Consul and I hadn't fully understood how Decidim worked. I'll probably change that soon.

[2018-03-27 10:13] carolromero commented on #2832
@isaacmg410 Yep, that's correct.

[2018-03-27 10:15] mrcasals commented on #3068
@deivid-rodriguez PR #3107 increases the severity level of the markdownlint checks and fixes the issues reported.

@efueger if it's not too much to ask, can you check the previous comment by @deivid-rodriguez? Thanks fo the support!

[2018-03-27 12:17] deivid-rodriguez commented on #3013
Yeah, that's really good news! This issue will be iteratively closed as we migrate to the new system.

[2018-03-27 14:30] tramuntanal commented on #3049
@decidim/product, @decidim/lot-px  collaborative drafts list

![captura de 2018-03-27 16-22-24](https://user-images.githubusercontent.com/199462/37974032-201d8004-31dc-11e8-8f7b-89b3531769bb.png)

[2018-03-27 14:49] jsperezg opened #3110 "Issue generating development app."
# This is a Bug Report

#### :tophat: Description

I've found this bug while trying to fix my tests for PR #3106 .

The file lib/generators/decidim/install generator.rb looks like this:

[code]

The line executing migrate and seed in the same process breaks does the opposite of what is commented above. In my case, decidim soritions had its hero image added in a later migration. For this reason the

[2018-03-27 16:16] javierarce commented on #2594
Here's an update on the assemblies home applying the feedback from yesterday's meeting:

![assemblies](https://user-images.githubusercontent.com/4933/37980237-faf13578-31ea-11e8-9bb4-3e7cea20fbdd.png)
![filter](https://user-images.githubusercontent.com/4933/37980238-fb222476-31ea-11e8-8400-f8d4ed1491e7.png)

- I'd made some tweaks to the filters design that I could extend to similar sections (but

[2018-03-27 16:24] deivid-rodriguez commented on #3110
This keeps causing confusion... :disappointed: It's my bad failing to explain what I'm trying to achieve, I'll try to reword that comment to improve the explanation.

The idea is exactly to catch these situations earlier than end users. If you're getting this error, it means that users running the same command as in the generator will get the same failure you're getting. So the code as it is was u

[2018-03-27 16:39] deivid-rodriguez commented on #3110
I have an idea to check this through a proper (reasonably fast) lint spec instead of relying on that line being there! But for now bear with me here :)

[2018-03-27 18:26] efueger commented on #3068
Sorry! Missed getting back to this.

- I'm not 100% sure when it was fixed, but that issue has a "fixed" status on [PR #3073](https://codeclimate.com/github/decidim/decidim/pull/3073) in Code Climate:

![image](https://user-images.githubusercontent.com/2053833/37986460-82623290-31c9-11e8-81df-5be8db685e87.png)

(It's not going to show now on master, because it was fixed prior to merging.)

----

L

[2018-03-28 06:59] mrcasals commented on #3110
So this means this is the expected behaviour, I'm closing the issue!

[2018-03-28 06:59] #3110 closed

[2018-03-28 07:21] javierarce commented on #2862
Ok, here's what I propose then:

In the home page of the meetings section, we have two groups of meetings: the open and the closed ones. We can edit the minutes independently or close the meeting.

I've also added a link to edit the agenda, but I think the agenda could lived in the main form, as showcased [here](https://github.com/decidim/decidim/issues/2861)

![meetings - home](https://user-image

[2018-03-28 08:51] javierarce commented on #2832
I've created a new icon for members (and another one for "profile", in case we need one). Let me know if you like it so we can update the current one:

<img width="329" alt="members_icon" src="https://user-images.githubusercontent.com/4933/38018698-ee04c9a2-3275-11e8-97e2-532637b4f9f6.png">

[2018-03-28 10:32] carolromero commented on #2832
@javierarce excellent, I say go ahead with this one for Members

[2018-03-28 11:02] carolromero commented on #2594
hey @javierarce we're getting closer, I can't wait to see the new Assemblies home page working!

- If I'm not mistaken, the Assemblies cards will also have an image, right?
- I like the solution you found for the filters. No doubt it is more visible than the one we currently have for Processes.

[2018-03-29 14:23] deivid-rodriguez commented on #3068
Thanks for getting back @efueger!

As you point out, the check behaved as I would expect in codeclimate and in the browser extension. It correctly reported the `loofah` vulnerability when it was there and stopped reporting it when we fixed it.

I was initially surprised that it didn tag PR's with a failing status while the check was failing but after a second thought I think this actually makes se

[2018-03-29 14:23] #3068 closed

[2018-03-29 15:29] mrcasals commented on #3068
Yup, I agree! Thanks for gettin back, @efueger! :smile:

[2018-04-03 06:57] #3025 closed

[2018-04-03 07:36] jsperezg opened #3118 "Integrate Decidim Initiatives into Decidim"
# This is a Feature Proposal

#### :tophat: Description

Integrate Decidim Initiatives into Decidim.

[2018-04-03 08:37] juliesimon opened #3120 "Some categorie names do not show up in proposals export"
# This is a Bug Report

#### :tophat: Description
On one case, when we try to export the proposals, category name column stays blank. But there are categories for these proposals.
On another process, the export of proposals works perfectly fine, with category names being here.

#### :pushpin: Related issues

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue***: ht

[2018-04-03 08:47] mrcasals commented on #3120
@juliesimon thanks for the report! Can you give us the URL of the proposal component that fails, please?

[2018-04-03 09:39] juliesimon commented on #3120
@mrcasals https://ecrivons.angers.fr/processes/BP2018/f/30/ here is the URL (french only), we tried several times and still the same issue

[2018-04-03 09:39] javierarce opened #3121 "Redesign users profile page"
Related to the EPIC #2976

In order to show the badges, notifications, etc. and to allow users to share their profiles in the platform, a new user profile is necessary.

[2018-04-03 11:02] #2829 closed

[2018-04-03 13:07] javierarce commented on #3121
Here are some initial wireframes for the users profile, @decidim/product (plus I've also simplified the navigation bar).

[2018-04-03 13:40] isaacmg410 commented on #3044
@decidim/product @decidim/lot-core Some doubts about it:

right now, admin can restrict access to users who want to join to the meeting with the `component` permissions, then does that make sense? In my opinion, no.

[2018-04-04 06:47] isaacmg410 commented on #3044
@javierarce I like the design;
Some things to keep in mind.

1. How do we show the label `closed` if admin have selected `other` option and they can write a text to describe it?

2. The horizontal box that indicate the location of the meeting, if Geocoded is enabled, it shows an image of a map with a link to open the largest map, would we lose this functionality?

@decidim/product:
Can you give yo

[2018-04-04 06:56] jsperezg opened #3126 "Specs for participatory process do not pass in #3125"
# This is a Bug Report

#### :tophat: Description
Working with the PR regarding to integration of gems Consultation and Initiatives I've found that the specs for Decidim Participatory Processes do not pass.

These are the output for the failing specs:

[code]

[2018-04-04 06:57] jsperezg commented on #3126
I forgot to comment that I pulled all the changes from master and rebased but it continues failing.

[2018-04-04 07:09] mrcasals commented on #3126
Hi @jsperezg! The builds on `master` are green, so this is likely due to a change introduced by your own PR #3125.

The `decidim-initiatives/app/models/decidim/initiatives/abilities/admin/attachments_ability.rb` file is letting any user with access to the admin panel to work on attachments, everywhere, so there's the problem. You using `user.admin?`, but this method only returns whether the user i

[2018-04-04 07:27] javierarce commented on #3044
Oh, I hadn't thought of that, I'll propose you a solution for it.

Yes, I think it doesn't give much value to the users, since the image is too small to really see anything.

[2018-04-04 07:52] javierarce commented on #3044
@isaacmg410: the "other" label that you mention is intended to close the meeting or is just informative?

[2018-04-04 07:57] jsperezg commented on #3126
It worked! Thanks @mrcasals

[2018-04-04 07:57] #3126 closed

[2018-04-04 07:57] isaacmg410 commented on #3044
@javierarce I will say just informative, but there are three types and three options of each one to choose.

A meeting could be:
     Public (yes, no, other (with string field to write the definition of this field))
     Open (yes, no, other (with string field to write the definition of this field))
     Transparent  (yes, no, other (with string field to write the definition of this field))

I wil

[2018-04-04 08:30] mrcasals commented on #3126
You're welcome! 😄 This is one of the reasons why we're moving away from abilities (see #3029): they allow a global state to be mutated from different parts of the app that we can't really control, so they might cause weird errors...

[2018-04-04 08:52] juliesimon opened #3128 "Missing locales on "my account" page"
# This is a Bug Report

#### :tophat: Description

On "my account" page, the labels of  the text fields "About" and "Personal url" do no translate in the different languages.
You can see this bug when you're connected and on this page : http://staging.decidim.codegram.com/account?locale=es
And I couldn't find the path for the locales, so far the ones at `root > decidim > profiles > show > about_me

[2018-04-04 08:57] mrcasals commented on #3128
Thanks for the report, @juliesimon! We'll work on it!

[2018-04-04 09:05] mrcasals commented on #3128
@juliesimon PR #3129 adds the missing keys, but this fix won't appear until 0.11 I'm afraid. Since you are using a fork, you can copy the changes to your fork and it will be solved, or simply add those keys to your `fr.yml` file 😄

[2018-04-04 09:40] AlberAG commented on #2840
Hi everyone! Great job. Look amazing.

Im not sure about if you are open to ideas right now. Will comment three just in case is useful.

Maybe you think how comments and suggestion funcionalities enable **crowdsourcing collaboration**.
In an stage where the proposal has and structure and enough content, collaborators would like to call massive collaboration of anonymous people. This means develop

[2018-04-04 09:51] rbngzlv commented on #2709
@decidim/product I think that this issues is done, as the last pending PR was merged yesterday.

/cc @carolromero @isaacmg410

[2018-04-04 10:24] mrcasals opened #3131 "Clarify consultation videos URL format"
# This is a Feature Proposal

#### :tophat: Description
When you create a consultation you can add an introductory video. The seed data uses a YouTube video (which I think it shouldn't, as the YouTube video player tracks the users and that's the reason we don't integrate with Google Analytics), but the URL you need to enter is not the video URL, which makes it really confusing.

I suggest we use s

[2018-04-04 10:49] javierarce commented on #3121
I've started to work on the gamification aspects of the profile and I've come up with this idea of having a page to showcase the badges a user has earned:

![badges](https://user-images.githubusercontent.com/4933/38303448-65864d9e-3806-11e8-8ee3-e89675a5ea4e.png)

[2018-04-04 10:50] javierarce commented on #2976
Regarding the badges, I've added a wireframe in this issue to show how they could appear inside the profile of a user: https://github.com/decidim/decidim/issues/3121

[2018-04-04 11:51] xabier commented on #2976
![gamificacion](https://user-images.githubusercontent.com/537284/38305940-0bc949c4-380f-11e8-983b-7ad4b6d9f994.png)

Some ideas as to how to manage an incremental and complex design of engagment/gamification categories and the levels within

[2018-04-04 14:33] javierarce commented on #3121
Let me know what you think so I can start working on the final design, please.

[2018-04-05 07:07] #3128 closed

[2018-04-05 15:02] carolromero commented on #3121
Hi @javierarce,

We've been reviewing the wireframes, nice job as usual :sunglasses:

My comments, according to whether the tabs are private or public.

**_Public_** - everyone can see this info visiting my profile
* **My activity (badges included?):**
In this tab you see all the content generated by a participant: proposals, comments, etc.
It could also be the place to present info about gamifica

[2018-04-05 17:11] gmarpons commented on #424
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time and didn't have any feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](

[2018-04-05 17:11] #424 closed

[2018-04-05 17:14] gmarpons commented on #425
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time and didn't have any feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](

[2018-04-05 17:14] #425 closed

[2018-04-05 17:33] sdivad commented on #1990
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:33] #1990 closed

[2018-04-05 17:34] sdivad commented on #2264
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:34] #2264 closed

[2018-04-05 17:35] sdivad commented on #2261
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:35] #2261 closed

[2018-04-05 17:36] sdivad commented on #2244
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:36] sdivad commented on #2180
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:36] #2180 closed

[2018-04-05 17:37] sdivad commented on #2174
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:37] #2174 closed

[2018-04-05 17:39] sdivad commented on #2160
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:39] #2160 closed

[2018-04-05 17:39] sdivad commented on #2252
Hi! We're doing a little of early spring cleaning :smile:
We've detected that this issue has been open for a long time without receiving feedback.
We're closing this one as we want to have a better organization on the GitHub ecosystem.
If you want to propose this again, we recommend that you create the [feature request](https://meta.decidim.barcelona/processes/roadmap?locale=en) or [bug report](ht

[2018-04-05 17:39] #2252 closed

[2018-04-05 23:45] deivid-rodriguez opened #3140 "Flaky spec on consultations"
# This is a Bug Report

#### :tophat: Description

I run into what it seems like a flaky spec on `decidim-consultations`. See https://circleci.com/gh/decidim/decidim/78277. The sooner we deal with flakies, the easier they are to fix, so I'm reporting it in case someone has an idea. Unfortunately I don't have time to investigate now...

#### :pushpin: Related issues
* #3106.

#### :clipboard: Addit

[2018-04-06 06:47] mrcasals commented on #2244
Hi @sdivad, I'm reopenning this issue because this should be done sooner or later 😄

[2018-04-06 08:45] isaacmg410 opened #3141 "Detail of the process shows all the proposals of that process."
# This is a Bug Report
#### :tophat: Description
* What went wrong?
In the detail of the process shows all the proposals of that process. It doesn't filter if the proposals are draft, or are withdrawd. But when we go to the page of proposals, we only see those proposals that are published.

Also the statistics of proposals counts 2,

* What did you expect should have happened?
I want only to view

[2018-04-06 11:19] deivid-rodriguez opened #3144 "Component list ordering is changed after component being updated"
# This is a bug report

#### :tophat: Description

Currently the component list order on a participatory space's admin dashboard is changed when the component configuration is updated. The updated component is bumped to the first position, so I assume it orders it by the `updated_at` column.

In my opinion, this list is meant to be short and single paged, and the `updated_at` timestamp is not disp

[2018-04-06 16:15] #2709 closed

[2018-04-07 20:46] deivid-rodriguez opened #3149 "When endorsing a proposal, user's name is not added to endorsement list until page is reloaded"
# This is a Bug Report

#### :tophat: Description

Just that little JS bug, the user's name should be added dinamically to the endorsement list, just like the endorsement count is updated.

#### :pushpin: Related issues
_None_.

#### :clipboard: Additional Data
_None_.

[2018-04-09 07:54] rbngzlv commented on #3044
@decidim/lot-core we need to implement a survey in meeting registrations. I started adding a `registration_questions` attribute to `meetings`, but I'm thinking that this will require to save answers from users, validations, etc.

So, perhaps we can use the `surveys` module for this? At first sight, we will add a dependency between modules (although we can look to make it optional), but in the end

[2018-04-09 08:04] mrcasals commented on #3149
@decidim/lot-mods can you check this please?

[2018-04-09 08:19] Xfolchf opened #3154 "When editing a proposal you can unintentionally change the author"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?

I have my user associated with the organization (user_group) coditramuntana:
1- I publish a proposal like coditramuntana
2- when editing the proposal during the first 10 minutes, the author that appears in the select of the editing form is no longer coded if not olive
3- Since I have not no

[2018-04-09 08:30] xabier commented on #3050
We need to make progress on this.

[2018-04-09 08:38] Xfolchf opened #3155 "Importing proposals can create duplicate proposals"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?

The functionality of importing proposals from another component, in case of importing several times, once again imports proposals that have already been imported.
This fact, by not being able to eliminate proposals to the component, can result in a massive duplication of proposals within th

[2018-04-09 08:45] Xfolchf opened #3156 "Error in the translation of Upcoming Encounters in Catalan"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Text error of upcoming encounters in Catalan.

It's written "Properes trrobades"
The detail of an assembly or a process is wrong

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12373

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

* ***Decidim

[2018-04-09 08:51] Xfolchf opened #3157 "Define the minimum fields to export meetings to Asia"
# This is a Feature Proposal

#### :tophat: Description

For feature proposals:
* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.

We need to define the minimum necessary fields to export meetings to Asia (Information of equipments and agenda)

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

* ***Deci

[2018-04-09 09:03] Xfolchf opened #3158 "Datepicker doesn't display the right date format in french"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
In the backoffice, when selecting start and end dates of a process, the date format is %m/%d/%Y when french locale is activated, whereas it should be %d/%m/%Y.
French datepicker locale is ok in fr.yml.
I checked on the staging platform and the format is %d/%m/%Y no matter the language (engli

[2018-04-09 09:04] Xfolchf opened #3159 "Use target "_blank" for attachments & external links"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
For all links, routes, etc. that are related to attachments or external links (outside domain), it's common to add "_blank" target to them.

This is not the case for Proposals attachment's urls, neither in Twitter tags links. They should open a new tab, to not lose the current location in pl

[2018-04-09 09:06] Xfolchf opened #3160 "After removing a proposal, it keeps saying I have created one"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
In proposals feature (in SOM Assembly), after having created a proposal and removed it, Decidim says I can't create a new one

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12388

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

* ***Decidim dep

[2018-04-09 09:08] Xfolchf opened #3161 "Two buttons "create" and "send" when creating a managed user"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
So far, when the dummy authorization handler is activated, there are two buttons"create" and "send" appearing when creating a new managed user.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12378

#### :pushpin: Related issues
* #12345

#### :clipboard: Additional Data

[2018-04-09 09:12] Xfolchf opened #3162 "Clicking on an attachment does not open in a new tab"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
In the Proposals component, the attachments open in the same browser tab where you are viewing Decidim. This happens especially with PDFs or images, which are formats that browsers currently recognize and allow to visualize.

When I just read the pdf, I intuitively close the tab and this cau

[2018-04-09 09:17] Xfolchf opened #3163 "Editing homepage appearance error"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?
There's a bug when editing homepage appearance at least at decidim.barcelona.
Every time you edit something related to appearence and you try to update changes, there's an error message shown.
This is because image of the "Highlighted content banner" disappears although you were not editing this section, so you

[2018-04-09 10:26] carolromero commented on #2594
Hi @Crashillo could you start working on this?

[2018-04-09 10:45] Crashillo commented on #2594
The Assemblies m-card is already designed, so we just have to updated the `home` view (at least).
But, on the other hand, which chart you wanna use at the bottom? @javierarce provided you a couple of frameworks up here, which do you prefer?

[2018-04-09 10:51] carolromero commented on #3018
@josepjaume could you confirm is this the bug we were talking about this morning?

[2018-04-09 13:10] deivid-rodriguez commented on #3161
I think this is a bug in decidim that has always been there, but only manifested on the dummy authorization handler since https://github.com/decidim/decidim/pull/2438 (which added a partial for it).
If the handler uses a custom partial, the new managed user template should defer the rendering of the button to the template.

[2018-04-09 13:27] andreslucena opened #3166 "Etherpad integration"
#  Feature Proposal: Etherpad integration

## User story

* As a Participant, when I attend a meeting I want to be able to write minutes collaborative and to have access to the minutes and agenda so I can track the content of the meeting.
* As an admin, when opening a meeting, I want participants to help me take minutes of the meeting collaborativelly and to further use this minute drafts for the

[2018-04-09 13:33] Xfolchf opened #3167 "Linking proposals to results for accountability"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
We should we able to link the proposals when creating a new result for accountability.
Currently when a new result is created, the proposals can not be linked (even proposals are not shown).
You must create the result first without links wanted, save it and re-enter in order to be able to se

[2018-04-09 13:41] Xfolchf opened #3169 "Adhesions should not be Enable by default"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Adhesions are currently enable by default in the control panel.
Adhesions have also been activated by default in processes that were already closed.
Could Adhesions were not enable by default?

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12407

#### :pushpin: Related

[2018-04-09 13:44] Xfolchf opened #3170 "When I create a proposal I see the draft proposal from someone else!"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
A user has entered a proposal and left it as a draft. Another user went to the wizard to create another proposal and the default draft proposal for this  user comes with the other user draft by default.

I expected the empty fields to exit with the second user or even a default text.

I foun

[2018-04-09 13:45] xabier opened #3171 "Integrate new design cards"
# This is an integration issue

@decidim/lot-px has long being working on a new design for Decidim cards which are to be displayed everywhere in decidim. https://github.com/decidim/decidim/issues/2828

These new design needs to be integrated for the 0.11.0 release, given that the design is completed and available in the design-library

[2018-04-09 13:45] andreslucena opened #3172 "Bug on Pattern Library link on Design App"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?
When I go to Pattern Library on Decidim design app, I get a redirecting error.
http://decidim-design.herokuapp.com/public/library/pattern-library

* What did you expect should have happened?
To see the Pattern Library without errors

* What was the config you used?
Default on http://decidim-design.herokuapp.com/

[2018-04-09 13:46] deivid-rodriguez commented on #3167
Yes, I run into this this morning while having a look at the "data-picker" thing for reviewing #3138. Thanks for reporting :+1:.

[2018-04-09 13:57] deivid-rodriguez opened #3173 "Proposal page no (longer?) shows creation time"
# This is a Bug Report / Feature Proposal

#### :tophat: Description

When I go to https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12409?locale=es, I cannot see when it was created... I'm not totally sure, but I think this information used to be visible in the proposal page?

#### :pushpin: Related issues
_None_.

#### :clipboard: Additional Data
_None_.

[2018-04-09 15:35] rbngzlv commented on #3173
@deivid-rodriguez it seemed to me that this was commented in an offline meeting.

And ... yes, you are right, I found the issue: https://github.com/decidim/decidim/issues/3040 (the title is not the best).

[2018-04-09 15:50] deivid-rodriguez commented on #3173
Right, thanks & sorry for the duplicate, leaving it for the other ticket then!

[2018-04-09 15:50] #3173 closed

[2018-04-09 17:35] rbngzlv commented on #3141
@decidim/product I'm hiding the proposals that are `drafted` or `moderated`, but the `withdrawn` proposals can be shown?

[2018-04-09 17:50] carolromero commented on #3141
@rbngzlv the approach should be to highlight random proposals that you find in the main component of proposals. Let's hide the `withdrawn` proposals too.

[2018-04-10 06:56] mrcasals opened #3178 "Error in thresholds"
# This is a Bug Report

#### :tophat: Description

We're getting reports of `undefined method `positive?' for nil:NilClass` for proposals:

[code]

Maybe it's lacking a default value?

#### :pushpin: Related issues
* #2693

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue***: 0.10
* ***URL to reproduce the error***: https://sentry.io/share/issue/ef042c59fb554ff38

[2018-04-10 06:56] mrcasals commented on #3178
@decidim/lot-mods can you take a look at this, please?

[2018-04-10 07:13] mrcasals commented on #3169
I think that's a decision that belongs to @decidim/product 🤷‍♂️ I don't have a strong opinion on this.

[2018-04-10 07:34] mrcasals commented on #3044
@rbngzlv the only thing that comes to mind is that components belong to spaces, and not other components, and we have never considered this option before, but if you find an elegant solution for this then go ahead, let's try it and see what comes from it.

[2018-04-10 08:24] virgile-dev commented on #2073
Hey @mrcasals !
Thanks for letting me know.
Did you pass my request to @josepjaume ? or should I contact someone else ?

[2018-04-10 08:56] mrcasals commented on #2073
@virgile-dev I'm sorry, what request should I pass? It looks like Crowdin removed the option to invite collaborators, so they have to request access first:

https://crowdin.com/project/decidim

[2018-04-10 09:00] virgile-dev commented on #2073
Sorry I miss-understood your first comment.

[2018-04-10 09:00] #2073 closed

[2018-04-10 09:04] virgile-dev commented on #2073
saravdv just applied to the dutch translation team.

[2018-04-10 09:04] mrcasals commented on #2073
@virgile-dev no problem 😄

[2018-04-10 09:42] Xfolchf commented on #3157
The minimum data that the application requests are the name of the act, the dates, timetables, the address and the thematic classifications of the registry.

The minimum data to register an act are those necessary so that a person has all the necessary information to be able to participate in this act ...
Do you have to register? where and when?  to whom do I have to address? who organizes it?
Mod

[2018-04-10 12:50] Crashillo commented on #2594
All cards are in the `pattern-library`. Chart framework is not yet chosen cc/ @decidim/product.
Filters I'm on it, it will update in the desing app relative to assemblies, and you'll find there the filters

[2018-04-10 13:46] rbngzlv commented on #2832
@decidim/lot-px the icon for members is available somewhere?

[2018-04-10 14:25] Crashillo commented on #2832
Hi, @rbngzlv, I gonna create a PR with just an update of the `icons.svg` file asap. Might you use these names in the templates? They are which I gonna name in the file.

![imagen](https://user-images.githubusercontent.com/817526/38562629-53ef3094-3cdb-11e8-89f5-7d3109d2d5cb.png)

[2018-04-10 14:54] isaacmg410 commented on #3044
@decidim/product Could you have advanced with the definition of the types of meetings? We need it to continue with development.
Here you will find what you have done up to now about types of meetings, organizers, and minutes I hope feedback

@Crashillo do you have any HTML created?

[2018-04-10 14:57] isaacmg410 commented on #2594
@Crashillo can you tell me the path of the file? I can't find it

[2018-04-10 15:08] Crashillo commented on #2594
`http://localhost:3000/public/library/pattern-library` I've tested in `master`

[2018-04-10 15:14] furilo opened #3188 "Move subresults to main column"
# This is an enhancement

#### :tophat: Description

Due to design changes, the main column for a result usually has a big gap between the end of the description and the listing of results.

Move these results to the main column.

ie. https://www.decidim.barcelona/processes/pam/f/8/results/2658

[2018-04-10 15:15] Crashillo commented on #3044
I'm working on the admin interface, but not the public one. Anyways, it's still pending some stuff TBD, I'll try to start with it asap, but it won't be definitive.

[2018-04-10 15:17] Crashillo commented on #3172
Hey @josepjaume is it related with the deployment perhaps? `master` is right now ok

[2018-04-10 15:18] furilo opened #3189 "Change name to subresults to the results listed in a result"
# This is an enhancement discussion

#### :tophat: Description

In a result page (ie. https://www.decidim.barcelona/processes/pam/f/8/results/2658) we have a listing of "results", which sounds a little bit reiterative as what we are already seeing is a result.

There is a proposal to name that sublist as "Subresults" - @decidim/product ok with that?

[2018-04-10 15:21] furilo opened #3190 "Accountability results CSV format"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

Right now the CSV used to import results to Accountability has a different format that the one that Decidim offers to export that same information. The objective is to make this two files have the same format. I understand that the easiest thing is just to adapt the export format to the import one.

[2018-04-10 15:44] javierarce commented on #3044
Regarding [this question](https://github.com/decidim/decidim/issues/3044#issuecomment-378497862), what about using a yellow banner to show the custom "other" label?

![meeting_custom_status](https://user-images.githubusercontent.com/4933/38567531-c1447d74-3ce6-11e8-9a4e-9098ed9f1cdc.png)

[2018-04-10 15:47] carolromero commented on #2594
Hi @Crashillo Let's go with [OrgChart](https://github.com/BernhardZuba/d3js-orgchart).

The Patterns library url it's not working, the bug is already reported in #3172

[2018-04-10 16:53] carolromero commented on #3044
Here you will find what you have done up to now about types of meetings, organizers, and minutes I hope feedback

Hi @isaacmg410 let's follow the same logic as we did in Assemblies: https://github.com/decidim/decidim/issues/2832#issuecomment-374891249
Which in the case of a Meeting will be:
- Open: anyone can see it and participate.
- Private: only participants _registered by invitation_ can see i

[2018-04-10 17:49] PierreMesure opened #3193 "Process group updating doesn't redirect to process groups list."
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

When you update a process group, the redirection is show instead of edit. The result is not aesthetically pleasing but the most important is probably that this is not consistent with the other forms in the admin dashboard which take you back to the list of objects of the same type (in that case, process groups)

[2018-04-11 06:46] isaacmg410 commented on #3044
@carolromero I'm not sure about this functionality.  What invited users should use?
At the moment the users that are invited are from the participatory process (assembly or process) and not all spaces have private users.
Should we create another user management system for meetings?

We need to discus this better..

[2018-04-11 07:29] mrcasals commented on #3193
Hi @PierreMesure, thanks for the report! We'll try to find a moment to work on a fix 😄

[2018-04-11 08:02] carolromero commented on #3044
@isaacmg410 I was referring to this (it is included in the [EPIC](https://github.com/decidim/decidim/issues/2841)):

i understand that this allows participants to register manually by sending an invitation via email (I'm not sure it's done, though).

[2018-04-11 08:03] mrcasals commented on #3044
I was reviewing the MVP PR for this issue, and I was wondering how are we explaining what "open/closed", "public/private", "transparent/opaque" mean for a meeting (I don't understand what an "opaque meeting" is), and I started checking the design suggestions but I can't seem to find any place where this data is shown.

I'm sure I'm missing it, can someone point me to the right place to find this i

[2018-04-11 08:16] #3141 closed

[2018-04-11 08:44] #3170 closed

[2018-04-11 08:50] mrcasals commented on #3044
My doubts were solved by @isaacmg410 via chat:

[2018-04-11 10:31] tramuntanal commented on #3170
Hi @mrcasals! where should I backport this fix?

[2018-04-11 10:32] mrcasals commented on #3170
@tramuntanal tis should be backported to 0.10, I guess

[2018-04-11 11:11] deivid-rodriguez commented on #218
All README's have basic information now. I think this series of issues can be closed even if there's of course room for improvement.

[2018-04-11 11:17] PierreMesure opened #3202 "Events that last more than a day get displayed as one day"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?

I created an event in an assembly that lasts several days. This seems to be allowed by Decidim as one can input different days for the start and end dates. But there is no way for a user to tell that this event starts and ends on several days.

* What did you expect should have happened?

* What was the config

[2018-04-11 12:39] #218 closed

[2018-04-11 12:40] #220 closed

[2018-04-11 12:40] #219 closed

[2018-04-11 12:40] #216 closed

[2018-04-11 12:42] deivid-rodriguez commented on #1078
I think this has already been fixed.

[2018-04-11 12:42] #1078 closed

[2018-04-11 12:59] mrcasals commented on #3202
We should think of a way to show both dates, considering the start and end date might not be in the same month or in the same year even /cc @decidim/product

[2018-04-11 14:53] carolromero commented on #1139
Hi, I'm closing this issue we are now working on the new Public Profile page (user activity is included): #3121

[2018-04-11 14:53] #1139 closed

[2018-04-11 14:59] javierarce commented on #3121
Here's some work in progress of the user profile design:

![timeline other](https://user-images.githubusercontent.com/4933/38624927-9441c0ca-3da9-11e8-9c8a-cf1a5e38b6ee.png)
![timeline](https://user-images.githubusercontent.com/4933/38624928-946fc880-3da9-11e8-9c7b-607693a0fb58.png)
![notifications](https://user-images.githubusercontent.com/4933/38624925-94187a62-3da9-11e8-8ac9-8cc7a7d3f0f0.png)

[2018-04-11 16:10] carolromero opened #3209 "Gamification categories and User badges"
This issue is related to the EPIC #2976

##  Categories and User badges

There are 4 categories defined according to the type of interaction with the platform (Promotion, Creation, Participation and Diffusion). Within each category several badges are available.

Badges are used to reward certain actions. It's a graphical way of showing progress. Promotes the creation of an identity and reputation

[2018-04-12 07:03] #3161 closed

[2018-04-12 07:52] #3172 closed

[2018-04-12 14:15] javierarce commented on #2594
So now that we have decided on a type of chart, I'll design some little "cards" for each assembly in the diagram.

Correct me if I'm wrong, but we should show the title of the assembly and the type (and maybe the number of members?)

[2018-04-13 06:52] #3188 closed

[2018-04-13 06:55] mrcasals commented on #2594
The name of the organization, maybe? (ie "Ajuntament de Barcelona")

[2018-04-13 08:14] tramuntanal opened #3218 "Master is too unstable"
# This is a Discussion

#### :tophat: Description
`master` is too unstable to use it as a base for developing new features.
As the state of `master` is most of the time with tests failing, Pull Requests become very difficult to get right. It is becoming usual to take around 5 days to get a PR right.
Then if this PR is not quickly merged into `master`, automatic merging rapidly disappears and anoth

[2018-04-13 08:25] carolromero commented on #2594
Hi! @javierarce yes, name of the organization should be the root.

That would be perfect: title, type and members. One important detail, does this type of chart allows to stablish horizontal relationships?

[2018-04-13 08:39] mrcasals commented on #3218
I detect some cases here that should be handled differently:

#### Conflicts
Decidim is an actively developed project with a lot of PRs, and this can cause friction between PRs, that's normal and expected. Usually the only conflicts are on the CHANGELOG, and when this happens on a PR that has been approved and test are green I solve the merge conflict and merge the PR straight away without waiting

[2018-04-13 08:40] javierarce commented on #2594
No, I guess we should modify the code to allow that.

[2018-04-13 08:43] isaacmg410 commented on #2841
@decidim/product can you prepare the next iteration for meetings, please?

[2018-04-13 09:25] tramuntanal commented on #2872
@decidim/lot-core This issue is becoming more relevant. Affected issues are:
- search engine: core needs to "talk" with other "resources" (not only components but also users, spaces, ...)
- collaborative drafts: a new collaborative draft entity is emerging inside Proposals, it will be a resource, but not a component.

Is any work planned on this?
\cc @decidim/product

[2018-04-13 09:27] mrcasals commented on #3218
Also, CircleCI has an Insights panel:

https://circleci.com/build-insights/gh/decidim/decidim/master

It reports a random failure in a spec called `Participatory Processes when going to the participatory process page behaves like has attachment collections when collection is empty is not present`

[2018-04-13 11:02] deivid-rodriguez commented on #3218
Some quick thoughts here. For the rebasing  problem, there's https://github.com/servo/homu/blob/master/README.md. But I've never configured it but it doesn't look super easy to setup. I know the `bundler` team uses it successfully.

For the changelog conflicts issue, there's some tweaks to git that can help. I'd have to look for the exact setting but it was some special git config that you add to

[2018-04-13 11:29] javierarce commented on #2840
@tramuntanal It should be the first one. I'll create an issue to update the second one.

[2018-04-13 11:38] deivid-rodriguez commented on #3218
By the way, out of the last 35 master build, 6 failed. I would to check but I'll guess half of those  were due to "the rebasing issue". That would leave us with ~5% flakies. There's definitely room for improvement but  it's not that bad :)

[2018-04-13 11:45] tramuntanal commented on #2728
Hi @decidim/product isn't this issue done? should we close it?

[2018-04-13 13:42] #3178 closed

[2018-04-13 13:46] oriolgual commented on #3202
/cc @Crashillo @javierarce

[2018-04-13 13:49] mrcasals commented on #3218
Another way to speed things up would be having more concurrency on CircleCI. We currently have 9 concurrent jobs:

- 4 are given by CircleCI because we're an open-source project
- 5 are paid by Codegram

If we had more, we could split the slowest test suites (proposals, admin or processes take >10min each) in smaller test suites, so we could run eg system specs in one job and unit tests in another

[2018-04-13 13:52] deivid-rodriguez commented on #3218
In #3197 I split the current `main` job (around 9min) into `main` (4min) + `generators` (1min) :smiley:

[2018-04-13 13:55] mrcasals commented on #3218
@deivid-rodriguez what's this kind of sorcery?????? How do you get those savings?? 😮

[2018-04-13 14:34] javierarce commented on #3202
<img width="592" alt="screen shot 2018-04-13 at 16 31 42" src="https://user-images.githubusercontent.com/4933/38740687-79c01446-3f38-11e8-8f6e-1b79948e18c9.png">

[2018-04-13 16:02] tramuntanal commented on #3218
Thank you @mrcasals for your analysis I was not trying to point core as the culprit, but instead trying to put this problem into light.
In fact I agree that many times master unstability may be provoked by side effects after merging.
But this does not mean that it is affecting us (and many others I imagine) all the time. Some times I spend hours in the loop rebase/merge against master, push, wait

[2018-04-13 16:35] deivid-rodriguez commented on #3218
I think it's not current even offered as a service, only self-hosted... Seems like too much hassle probably :disappointed:.

[2018-04-16 08:31] xabier commented on #2594
I don't see a major problem, any tree structure can accommodate horizontal links. ket's start with this.

Regarding the parent node. Is it possible not to have a parent node? I can see situations where it might be a problem to attach an Assembly to the Organization as parent node. If it is possible to leave that field empty it would be great. Otherwise let's move on as is.

[2018-04-16 08:34] xabier commented on #3121
nice job @javierarce ... sorry to be late on this. This is simply a question, not an specification: do you think this design is compatible with the following idea:

* User's profiel page is a participatory space, so users can activate components on their personal site: static pages, blog, meetings, etc.

[2018-04-16 08:34] xabier commented on #2706
hi @tramuntanal do we have progress with this?

[2018-04-16 08:55] carolromero commented on #2832
Hi @rbngzlv could you make any progress on Members section?
@isaacmg410 other than Members, I understand that we are missing some minor changes to close this issue, right?

[2018-04-16 08:56] javierarce commented on #2594
Yes, that is possible… we just need to modify the code. It's not really a library, just a small d3.js sketch so we can tweak it and adapt it as much as we want.

It could be as easy as hiding the root node and its paths. We'd end up having something like this:

<img width="899" alt="screen shot 2018-04-16 at 10 56 12" src="https://user-images.githubusercontent.com/4933/38799455-d59e2f9a-4164-11e8-

[2018-04-16 08:57] andreslucena opened #3228 "Invalid error message on catalan (invalid email or password error)"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?
When I try to log in with an existing user but a wrong password on the "ca" (catalan) locale, I get this error message:

* What did you expect should have happened?
To have the message on a human readable way ("your email or password are wrong" on catalan)

* What was the config you used?
Default

* What stacktr

[2018-04-16 09:05] javierarce commented on #3121
Yes, I think it will still work, but if we need to add more sections we'll probably want to reduce the number of elements in the navigation (we could get rid of "Badges", and combine "Following and Followers" or remove it altogether since we have links to those sections from the profile box in the left)

[2018-04-16 09:06] xabier commented on #3044
@isaacmg410 please can you update the checkboxes on this MVP? I am not sure about how much progress has been done. cheers!

[2018-04-16 09:14] andreslucena commented on #2173
Hi all!
Just an update with this issue, we're going to tackle this features [with these issues](https://gist.github.com/andreslucena/ac9799d15af451ad774fa89fedf17516). Please review and give feedback.

[2018-04-16 09:20] Xfolchf opened #3229 "Unable to change Categories on proposals"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
Trying to change Categories (to add in fact) for several proposals (they had none assigned before) on a process hosted on decidim.coterrats.com:
- After selecting the proposal, "Actions" botom appears (this botom used to be always visible on other functionalities)
- The option "Change Catego

[2018-04-16 09:25] isaacmg410 commented on #3044
@xabier Checkboxes are already updated. PR are in progress.

[2018-04-16 09:26] mrcasals commented on #3229
@decidim/lot-mods can you check this please?

[2018-04-16 09:47] agustibr commented on #3229
@Xfolchf, this is maybe because there are no child categories? and only parent categories?
Only child categories can be selected.

This feature was asked in the issue #2291 :

+ [Comment in Proposals can be recategorised · Issue #2291 · decidim/decidim](https://github.com/decidim/decidim/issues/2291#issuecomment-358593990)
+ [Comment in Proposals can be recategorised · Issue #2291 · decidim/decidi

[2018-04-16 09:50] xabier commented on #3171
@decidim/lot-core @decidim/lot-px hello?

[2018-04-16 09:53] xabier commented on #3031
This needs to be solved. Please @josepjaume let us know

[2018-04-16 09:54] xabier commented on #3040
@rbngzlv can we have this for 0.10.1 or 0.11?

[2018-04-16 09:56] xabier commented on #2719
Can we test this feature accepting decidim.barcelona participant's identification at meta.decidim? @josepjaume ?

[2018-04-16 09:58] andreslucena commented on #2719
@oriolgual

How are you with the rest of these developments?

[2018-04-16 09:59] xabier commented on #2334
hi @oriolgual can you detail what is missing to complete this EPIC? thanks!

[2018-04-16 10:01] javierarce commented on #2594
Here's a design proposal for the chart component:

![org chart](https://user-images.githubusercontent.com/4933/38802826-bcf23b90-416d-11e8-8478-478d3a43f94a.png)

[2018-04-16 10:02] javierarce commented on #2594
We could probably add a legend indicating the number of assemblies plus other details (parity?)

[2018-04-16 10:05] xabier commented on #2830
Can we close this issue? is there any progress? @agustibr ?

[2018-04-16 10:07] xabier commented on #2589
Is there any progress with this? @tramuntanal let us know if there is something blocking this.

[2018-04-16 10:07] isaacmg410 commented on #2832
@carolromero to what minor changes do you mean?
I think, that only Members are missing, no ?

[2018-04-16 10:13] xabier commented on #2594
Nice @javierarce , can we move this to layout?

[2018-04-16 10:13] carolromero commented on #2594
@javierarce looks great, no need for legend for the moment

[2018-04-16 10:14] xabier commented on #2714
Is there any progress with this? @decidim/lot-px should we close this issue?

[2018-04-16 10:15] xabier commented on #2707
how is this going?

[2018-04-16 10:15] mrcasals commented on #3229
So @agustibr if a category has no child, but has no parent either, it can't be selected? 😕 That'd be totally unexpected for me, as a user

[2018-04-16 10:16] xabier commented on #2591
how is the `cell` thing going?

[2018-04-16 10:17] mrcasals commented on #3031
Maybe a way to work around this problem would be allowing proposal authors to add attachments *after* the proposal is created too.

[2018-04-16 10:20] xabier opened #3230 "Integrate Blog in decidim/decidim"
This issues is created to track the integration of the blog component in decidim/decidim.

This issue is related to

- PRs:  #3221  #2430
- Issues: #1650

[2018-04-16 10:27] tramuntanal commented on #3049
Hi,
- Seeds finished
- at the List of Collaborative drafts:
  -  list of collaborative drafts in any state sorted by date DESC. *
  -  left side counter and filters
  - integration of Proposal cells is blocking m-cards (I hope to have it unblocked this week)
- WIP the show collaborative proposal page
Next:
- creation wizzard

[2018-04-16 10:28] Crashillo commented on #2714
According the task list, the search bar at the top menu is fully integrated, but there was no decision at the homepage.
Might we close this issue and iterate over it in a future when you guys choose a solution for the homepage?

[2018-04-16 10:42] javierarce commented on #2714
If I can squeeze in super quickly another proposal for the search inside the page… what about a solution like this?

![search_two](https://user-images.githubusercontent.com/4933/38804715-9f84d008-4173-11e8-81c8-7f2698681db1.png)

[2018-04-16 10:43] tramuntanal commented on #2706
This depends on the unblocking of cells for Meetings (already in `master`) and Proposals (depends on a problem in author cell for which we're preparing a test to be solved by @decidim/lot-core).

[2018-04-16 10:55] xabier commented on #3189
Hi @furilo yes, this makes sense, it is otherwise confusing for participants. Sorry for the late response to this issue.

[2018-04-16 10:57] deivid-rodriguez commented on #3218
I just found https://github.com/bors-ng/bors-ng, which seems friendlier to setup.

[2018-04-16 10:59] tramuntanal commented on #2589
Hi @decidim/product it would be great to schedule some time of @decidim/lot-core to abstract the Resourceable concept because it will be needed to add more elements (different than components) to the search: spaces, users, collaborative drafts, etc..

[2018-04-16 11:10] carolromero commented on #2832
@isaacmg410 I mean changes like this one: [https://github.com/decidim/decidim/issues/2832#issuecomment-376238374](https://github.com/decidim/decidim/issues/2832#issuecomment-376238374)
it would be great to be able to test the full functionality in a single staging. Do you think it's possible @isaacmg410 @rbngzlv ?

[2018-04-16 11:31] isaacmg410 commented on #2832
#2832 (comment) These changes are done! and also in master! So if @rbngzlv deploy to his staging you can test all there

[2018-04-16 11:34] isaacmg410 commented on #3044
@xabier I think that using the "closed" name for when "private" can conflict with when the meeting is "closed", which is now used when the meeting is over and the report is made. That's why it was said to use the name "private"

my proposal is:

- Open
- Private - transparent
- Private

What you think?, @decidim/product

[2018-04-16 11:35] carolromero commented on #2832
great! @rbngzlv if you can give feedback on Members progress I will test later in staging.

[2018-04-16 11:37] xabier commented on #2841
@isaacmg410 thanks for asking for next iteration. I will do this during the afternoon.

[2018-04-16 11:47] agustibr commented on #3229
@mrcasals that's why [I asked](https://github.com/decidim/decidim/issues/2291#issuecomment-358593990). Now I've seen that in the create/edit form if the `category` has no childs the parent is selectable. I'll do a PR to solve this issue as soon as I can.

[2018-04-16 11:51] mrcasals commented on #3229
I simply thought you wanted to ask `product` instead of `core`, as this doesn't seem a technical doubt to me 😕

[2018-04-16 11:52] xabier opened #3233 "Improvement to meetings 1st Iteration"
This is a 1st iteration of EPIC #2841 after MVP #3044

## Improve meeting management

- [x] [PR #3305] Apply the following design for meeting agenda administration: #2861 (PR #3174)
- ~[ ] Apply the following design for meeting minutes administration: #2862 (PR #3377)~

## Manage registrations, attendance and notifications

- [x] Specific users or email addresses can be invited to the meeting and

[2018-04-16 12:52] agustibr commented on #3229
No problem @mrcasals , should this fix be backported?

[2018-04-16 12:56] xabier commented on #2594
great @Crashillo @rbngzlv can you confirm?

[2018-04-16 12:59] mrcasals commented on #3229
I guess! @agustibr

[2018-04-16 13:27] mrcasals commented on #1971
Here's a nice tutorial on how to work with ActiveStorage in someone wants to work on this issue:

https://evilmartians.com/chronicles/rails-5-2-active-storage-and-beyond

[2018-04-16 16:16] xabier commented on #3169
I don't think this is critical and I see no harm on making old items endorsable

[2018-04-16 16:37] xabier commented on #2862
hi @javierarce , sorry I couldn't provide feedback for this on time.

I like your design. There is just one more thing we need to include here, it is needed for the next iteration, see #3233

* Attendees will receive a registration code for the meeting.
* Admins should be able to include these codes somewhere.

Where do you see this to be included?

For the rest I think the wireframes cover everyt

[2018-04-16 16:46] xabier commented on #2862
Also,

Easiest way to implement "amendments" to minutes is simply to have a private section with comments previous to the publication. I am not sure how best to include this flow into the platform and the meeting page.

[2018-04-16 16:52] xabier commented on #2841
@isaacmg410

DONE, please checkout #3233

[2018-04-16 17:01] xabier commented on #3229
This is how it should work.

[2018-04-16 17:03] xabier commented on #2589
@tramuntanal thanks!

[2018-04-17 06:39] xabier commented on #2728
yes, done!

[2018-04-17 06:39] #2728 closed

[2018-04-17 06:54] mrcasals commented on #3169
So @decidim/product shall we close this issue?

[2018-04-17 07:27] isaacmg410 commented on #3233
@xabier @decidim/product
Some doubts.

Which one? where can we see it? where can we find it?

Is it possible that this is already done?

Can we make a meeting to clarify this? How are you thinking about it?

We need the PR accepted and merged into master, to apply Agenda

[2018-04-17 07:30] xabier commented on #3202
Meetings should not last more than 2-4 hours, otherwise we are talking of Conferences or Big Events, composed of different Meetings and a module for this is planned soon.

I don't oppose this, I think it is ok to add the possibility, particularly for events that could start late night, but I don't see this as a major problem. I say this in case it is non trivial to change the layout of meetings al

[2018-04-17 07:32] xabier commented on #3121
@javierarce ok, I just wanted to be sure we are not precluding any future development on making Participant spaces, component driven in the future. Simplifying as you propose sounds very good to me. Since the mockups is already quite complete. Let's leave it as is, keeping in mind that it is possible to simplify it to accommodate future developments. Maybe we can move this to @Crashillo ?

[2018-04-17 07:36] xabier commented on #3031
For a short period of time or always?

This bug is critical since some participatory process, specially those where proposals are complex and developed in meetings, have attachments. Also when proposals include images or screenshoots. We can't ship a release that blocks a feature that is used. How can we solve this ASAP?

[2018-04-17 07:41] mrcasals commented on #3031
@xabier if the bug reported is the one @josepjaume talks about, then this problem is not new, it has been around since the beginning of proposals.

I was thinking we could enable it for the same period of time a user can edit their own proposal.

[2018-04-17 08:33] tramuntanal commented on #3040
It seems that @josepjaume made it disappear in this commit: https://github.com/decidim/decidim/commit/e2b60abdc09104c9600cc016b1bbb632f3be7253#diff-45c5b1499ee5281d1ce650a33758a1acL16

Related with this PR: https://github.com/decidim/decidim/pull/1422

(Thanks @rbngzlv for the investigation)

[2018-04-17 08:35] mrcasals commented on #3040
@tramuntanal @rbngzlv nope, that PR moved the date to the `decidim-proposals/app/views/decidim/proposals/proposals/_author.html.erb` file.

[2018-04-17 08:38] rbngzlv commented on #3040
I think that I'm wrong, the commit I mentioned has moved it to a partial (is the last line, and I have overlooked). Give me a moment, please.

[2018-04-17 08:39] rbngzlv commented on #3040
Yes @mrcasals, you are right. You are faster than me writing xD

[2018-04-17 08:42] tramuntanal commented on #2589
Yes @decidim/product , it is this!

[2018-04-17 12:38] mrcasals commented on #3159
For the atatchments, see issue #3162.

[2018-04-17 12:44] mrcasals commented on #3160
Mhhhh does this have to do with @decidim/lot-mods work? Can you guys check it please?

[2018-04-17 12:44] mrcasals commented on #3160
My guess is that this is not taking into account the withdrawn proposals

[2018-04-17 13:25] mrcasals commented on #3036
Closing, as all users should now have a nickname. Please, reopen it if you keep having this issue.

[2018-04-17 13:25] #3036 closed

[2018-04-17 13:30] mrcasals commented on #3140
Found another one at https://circleci.com/gh/decidim/decidim/86056

[2018-04-17 13:31] mrcasals commented on #3169
I'll preemptively close this issue. Please reopen if you think it's appropiate.

[2018-04-17 13:31] #3169 closed

[2018-04-17 14:38] #3159 closed

[2018-04-17 14:50] Crashillo commented on #2861
PR https://github.com/decidim/decidim/pull/3174

[2018-04-17 15:00] javierarce commented on #2993
Design is here: https://github.com/decidim/decidim/issues/3044#issuecomment-375407043

[2018-04-17 16:06] javierarce commented on #2862
Here's a wireframe for the invite feature. I started working on this before I saw @isaacmg410  comment in the other thread, so maybe what I'm showing here doesn't make sense:

![invitations](https://user-images.githubusercontent.com/4933/38882242-ec4e868a-4269-11e8-870a-1deb58b3a9ce.png)

This form would appear in a new section, accesible from the edit page of a meeting.

[2018-04-17 16:24] #3154 closed, assigned to mrcasals

[2018-04-17 16:27] #3163 closed

[2018-04-17 16:27] #3162 closed

[2018-04-17 16:30] tramuntanal commented on #2589
To be able to sort results temporarily I'm adding a new `date` attribute to components.
I propose:
- Proposals date: `published_at`
- Meetings date: `start_time`

[2018-04-18 07:15] #3229 closed

[2018-04-18 07:47] oriolgual commented on #3121
@decidim/product I don't see a way to filter notifications with the new design (see #3050), maybe it should be added?

Also, could you confirm what the timeline is and which information should be displayed?

[2018-04-18 07:54] oriolgual commented on #2266
Can we close this then @xabier ?

[2018-04-18 07:56] oriolgual commented on #2268
Should we move this to https://github.com/AjuntamentdeBarcelona/decidim-barcelona maybe?

[2018-04-18 07:57] oriolgual commented on #2269
Should we move this to https://github.com/AjuntamentdeBarcelona/decidim-barcelona maybe?

[2018-04-18 08:00] oriolgual commented on #3157
Should we move this to https://github.com/AjuntamentdeBarcelona/decidim-barcelona ?

[2018-04-18 08:00] carolromero commented on #3121
hi @oriolgual , yes there is a drop-down list. Here:

![imagen](https://user-images.githubusercontent.com/23509895/38918440-fcbb8d4a-42ed-11e8-9041-af06d9d7b064.png)

Timeline: Private activity feed of everything you are following. This brings out the fact that maybe then, Notifications could be limited to some specific ones. For example maybe we don't need to get a notification for every action t

[2018-04-18 08:01] mrcasals commented on #3202
I think we should support events that start and end in different times. @javierarce you design is nice, can you come up with something for the M-sized cards, as in the screenshot in the issue description?

Also, the new design cards are not handling properly this case:

![](https://i.imgur.com/5304ZMX.png)

[2018-04-18 08:08] mrcasals commented on #3121
@carolromero yes, it appears in the wireframes, but it doesn't appear in the current version of the design:

![image](https://user-images.githubusercontent.com/491891/38919082-da53fc90-42ef-11e8-8704-b97bdbef70de.png)

So, what's exactly the difference between timeline and notifications? I understood timeline as a log of all the actions that user has performed 😕 The thing is, I don't see anything

[2018-04-18 08:28] carolromero commented on #3121
@javierarce could you review this please?

Ok. I understand the simpler way to move forward is:
- Timeline: log of all actions made by the user.
- Notifications: as they are now, you get a notification about every object you follow.
Pinging @decidim/product here.

[2018-04-18 09:58] rbngzlv commented on #3040
Ok, I think it was disappeared when the unique nicknames were introduced: https://github.com/decidim/decidim/commit/2e2931aaf03e4374cd71c43f610f055b1a4e27df#diff-4385024b52d43f495ab1c0114e1d4d23L21.

Anyway we have done a PR to restore it.

[2018-04-18 10:54] rbngzlv opened #3250 "Can we run CI builds only in PR and not every branch?"
# This is a Feature Proposal

#### :tophat: Description

Just pushed a branch to the repo and I've seen that tests are being executed in Circle CI without an open PR. So if a developer is pushing new commits to the branch, force pushing, etc. we are enqueuing builds, right?

![screen shot 2018-04-18 at 12 41 54](https://user-images.githubusercontent.com/2051199/38927722-f9924456-4306-11e8-8a6e-260

[2018-04-18 10:56] mrcasals commented on #3250
We had it since a few days ago, but then we can't check that branches like `0.10-stable` are correctly passing, since they are not PRs. In a backport PR, we found some problems on the `0.10-stable` branch unrelated to that PR and were not detected because of this problem.

If you can think of any other solution for this, please tell us! 😄

[2018-04-18 10:56] deivid-rodriguez commented on #3250
Yes, that option was on initially. Then I think it was turned off for a while, and now it looks back on. In my opinion it should be on. Why would you push if you don't want to open a PR or get CI feedback?

[2018-04-18 11:00] deivid-rodriguez commented on #3250
I normally run related tests locally for the feature I'm working on. But if I'm doing a big refactoring that affects too many parts of the application, I may push the branch ang get CI to give me feedback about the whole thing. But that doesn't mean I'll open a PR just yet. That's why I like this option on.

[2018-04-18 11:01] mrcasals commented on #3250
Same here, but I do usually open a PR early on, to get early feedback and easily explore changes 🤷‍♂️

[2018-04-18 11:03] deivid-rodriguez commented on #3250
I should probably do that more often but I feel like overwhelming you with my experiments lol

[2018-04-18 11:05] deivid-rodriguez commented on #3250
@rbngzlv I recommend to "push politely" to alleviate this issue. And I'll apply the same thing to myself, since I normally push without caring about other people builds, and that's bad since we have scarce resources.

[2018-04-18 11:53] deivid-rodriguez commented on #3218
@decidim/lot-core What do you think about `borgs-ng`? It seems pretty straighforward to setup. I find it pretty cool to merge PR's by talking to a bot :laughing:.

[2018-04-18 12:05] mrcasals commented on #3250
Related: note that CircleCI still doesn't have autocancel of workflows, so I manually cancel redundant workflows during my office time. As I explained in https://github.com/decidim/decidim/issues/3218#issuecomment-381066592, we are using 9 containers, currently, of which 4 are given by CircleCI and 5 are paid by Codegram. If, somehow, we had more containers, and, if CircleCI implemented the autoca

[2018-04-18 12:08] deivid-rodriguez commented on #3250
Yeah, autocancelling would make a big difference... I've been watching the [circleCI ticket](https://discuss.circleci.com/t/auto-cancel-redundant-builds-not-working-for-workflow/13852) for ages but no progress...

[2018-04-18 12:13] oriolgual commented on #3218
@deivid-rodriguez I'm not sure about adding another service that needs to be maintained and running, if it's extremely necessary we could consider but I'd try to avoid going down this road.

[2018-04-18 12:15] deivid-rodriguez commented on #3218
As I understood it, it's public hosted for open source repos, so there'd be no need to mantain anything, just install the github application, just like circleCI or codeclimate.

[2018-04-18 12:26] deivid-rodriguez commented on #3218
Yeah, well, of course it would mean changing our workflows, so we need to be willing to do that.

Ok, no problem! :smiley:

[2018-04-18 12:27] deivid-rodriguez commented on #3218
For the curious about how this workflow works in real life, you can check the [bundler](https://github.com/bundler/bundler) or [rust](https://github.com/rust-lang/rust) repos :)

[2018-04-18 12:29] deivid-rodriguez commented on #3250
Now it's even more popular! :)

[2018-04-18 12:38] #3040 closed

[2018-04-18 12:53] rbngzlv commented on #3250
This is a problem. I've done a research about this, and seems that whitelisting this branches doesn't work for now.

https://discuss.circleci.com/t/allow-branch-whitelist-to-override-only-build-pull-requests/6392
https://circleci.com/ideas/?idea=CCI-I-215

I think that we don't have any option to enforce developers to not push WIP branches. But perhaps we can inform them about this configuration c

[2018-04-18 13:13] oriolgual commented on #2719
@andreslucena check https://github.com/decidim/omniauth-decidim and https://github.com/decidim/omniauth-decidim

[2018-04-18 13:19] oriolgual commented on #2719
@xabier in order to do this we need to update decidim.barcelona to `0.11`

[2018-04-18 13:40] mrcasals commented on #3250
Also, @rbngzlv, you can add `[ci skip]` to end of the commit message so that Builds are skipped on CircleCI 😄

[2018-04-18 13:42] rbngzlv commented on #3250
It's the easiest solution, haha, but I tried it once and it did not work for me. Perhaps, I misspelled it, I'll give another try later.

[2018-04-18 13:45] oriolgual commented on #2334
@xabier we could add more notifications for initiatives, but I'd wait until we merge it to this repo so it's easier to add them!

[2018-04-18 13:50] Crashillo commented on #3233
Design is implemented in two PR related:
- Public part #3254
- Admin part #3174

[2018-04-18 13:55] deivid-rodriguez commented on #3218
Another tip for making our specs faster that I'll start applying when it does not sacrifice coverage or readability, is to try to "tell _less_ amount of _longer_ stories". For example, the following specs:

https://github.com/decidim/decidim/blob/5bcfba33716399e12d9228fef6c87c4c8ccab6b3/decidim-consultations/spec/system/vote_spec.rb#L53-L60

could be unified into

[code]

That means that any setup

[2018-04-18 13:57] deivid-rodriguez commented on #3250
Another option if you're doing heavy refactoring and want to do heavy usage of a CI without bothering anyone else is to setup CircleCI in your own fork, and push to that :)

[2018-04-18 13:58] mrcasals commented on #3218
Oh, damn, that's a good idea!

[2018-04-18 14:03] mrcasals commented on #3250
That's what I call "hacking the system" :trollface:

[2018-04-18 14:05] deivid-rodriguez commented on #3250
Try to do that against the `rails` repo, and tell me about it!

[2018-04-18 14:06] rbngzlv commented on #3250
It is interesting, we'll have faster feedback for our branches. We need to tweak the `.circleci/config.yml` file? For example It is uploading code coverage to codeclimate, no?

[2018-04-18 14:11] mrcasals commented on #3250
Another way to speed up tests could be sharing the containers on CircleCI. There's an option in the CircleCI admin section that lets you share some of your organization-paid containers with other organizations. This way we could all benefit from extra containers (apart of the 9 we have). I can't seem to find any public page on how to do that, but the option exists.

[2018-04-18 14:12] deivid-rodriguez commented on #3250
Yeah, but use it wisely... (like, don't push every single commit, for example) . TravisCI explicitly bans doing this on the `rails` repo because it probably would fuck up their resource availability... We don't want CircleCI banning us for abusing their service!

[2018-04-18 14:15] rbngzlv commented on #3250
I searched about this functionality earlier and I haven't found it! 😞

[2018-04-18 14:28] josepjaume commented on #3250
@rbngzlv & @deivid-rodriguez we did that on Codegram for a while and we ended up bottlenecking our own projects (since it *will* block all the containers and run one by one in order of addition xD). Not sure which organization you shared @deivid-rodriguez but that could be an issue.

[2018-04-18 14:32] deivid-rodriguez commented on #3250
I shared my plan with the `decidim` organization in the section "Plan > Share & Transfer" of my account.

[2018-04-18 14:35] rbngzlv commented on #3250
@josepjaume, so if we share containers with `decidim`, this containers will always be used exclusively by `decidim` organization?

[2018-04-18 14:40] deivid-rodriguez commented on #3250
I only have open source builds in my account so far, so CircleCI would be penalizing me for being a paying customer :rofl:.

[2018-04-18 14:53] oriolgual commented on #3140
Just for the record, it seems that the user wasn't logged in.

[2018-04-18 15:10] tramuntanal commented on #3218
Some other problem I've just found is this one: https://github.com/decidim/decidim/pull/3238#issuecomment-382340858
as @oriolgual said, it may be caused because `Faker` returns the same nickname twice in the same execution. Maybe some random number can be concatenated to generated nicknames to avoid this problem.

[2018-04-18 16:25] deivid-rodriguez commented on #3250
If I have a paying plan and I transfer the whole plan to an organization, I think this "blocking" makes sense since you're choosing to prioritize allocation of your payed resources to that organization. But I don't think this affects free builds. Let's see how this behaves, I don't think it's worth asking at this point?

Did you "recieve my share" by the way?

[2018-04-18 16:28] deivid-rodriguez commented on #3250
Ok, when I click on "Save" in the share form, I see a "Failed" message for like a tenth of a second. Seems like a CircleCI problem, will contact support :+1:

[2018-04-18 16:34] mrcasals commented on #3250
I think the best way to see it is checking how many parallel jobs are running on a workflow, so you can try to share your jobs, push a silly commit in some branch and wait until the test app is built (~2min) to get the component jobs running. We currently have 9 jobs, if you can see more of them then that's HUGE news 😁

[2018-04-18 16:36] deivid-rodriguez commented on #3250
Nono, I'm not that close yet. The only thing I can see if the `decidim` organization checked on the "Plans > Share & Transfer" section in my account. But it looks like the submission of that form is failing so I haven't really shared anything yet. I guess CircleCI support will fix the issue and at some point two more containers will appear :)

[2018-04-18 17:37] deivid-rodriguez commented on #3250
CircleCI answered, turns out it can't be done in our case (even if the UI makes you think the opposite). CircleCI support dixit: "The only way for a paid org such as decidim to get more containers would be to add them to their plan".

I'll discuss with codegram the possibility of funding one container myself.

[2018-04-19 06:55] mrcasals commented on #3250
Ouch 😞

[2018-04-19 07:15] #2894 closed

[2018-04-19 08:03] oriolgual commented on #1858
I've been investigating this locally and I haven't been able to reproduce any of the past errors. There's been a recent update to `devise-i18n` so they might have fixed the wrong keys?

[2018-04-19 08:11] #2861 closed

[2018-04-19 08:12] #2993 closed

[2018-04-19 08:25] mrcasals commented on #3250
@deivid-rodriguez so, I guess we (Codegram) could move our paid jobs to another organization (let's call it "Codegramdecidim" for example), so Decidim doesn't have any paid plan, and then make "Codegramdecidim" share its jobs with "Decidim".

Then any other organization/user with a paid plan could share their jobs with Decidim, I guess.

[2018-04-19 08:29] oriolgual commented on #3167
@decidim/lot-mods can you take a look at this? This seems relaed to #2348 and #2584. The system specs for results weren't updated to add this case (linking a proposal when creating/updating a result).

The error seems to be related because the route to search for proposals is scoped to a member instead of the collection.

[2018-04-19 09:04] deivid-rodriguez commented on #3250
Yeah, I understood the same thing from my conversation with support.

[2018-04-19 10:40] isaacmg410 commented on #3233
After discussing offline with @carolromero we agree not to put the agenda section in the main form. Since now, by including the meeting services, it is already very long.
Then, we will put an icon, in the meeting table, for the agenda. Can @decidim/lot-px help us choose the icon?

[2018-04-19 10:42] Crashillo commented on #3233
So you don't want use the current meetings icon, right? In such case, use `calendar`, in the meanwhile

[2018-04-19 16:13] ferblape commented on #3190
Closed in https://github.com/AjuntamentdeBarcelona/decidim-barcelona/pull/214, because is an issue just in that fork.

[2018-04-19 16:27] tramuntanal commented on #3167
I've already created a PR with the bugfix: https://github.com/decidim/decidim/pull/3262
I plan to add the tests, that did no exist before this features was refactored, in a follow-up PR.

[2018-04-20 06:49] mrcasals commented on #3190
@ferblape I'll close this one then 😄

[2018-04-20 07:06] agustibr commented on #2830
@xabier I'm working on it, I'll make a PR soon to fix this issue

[2018-04-20 08:29] andreslucena commented on #3218
Just to chime in, some obvious and not so obvious ideas/thoughts:
* We could also configure CI to not execute documentation PRs (ie #2887), it doesn't have much sense to execute this kind of PR
* Disable execution for PRs with [WIP] tag
* Some tunings on the CI config: being more aggressive about caching
* Distribute the load on CI on different teams.
* Change the provider and use something self-h

[2018-04-20 08:48] mrcasals commented on #3218
@andreslucena I'll try to give you my feedback for each bullet point 😄

We have linters on the Markdown files. We could skip all tests and just run the linters though, for example. We'd need to find some way to identify those documentation PRs, though, and from CircleCI we only have access to the branch name. Any other config (ie labels) require some custom code to handle the cases.

Same, we'd ne

[2018-04-20 09:01] andreslucena commented on #3218
Regarding the CI configuration, for instance on #3263 :

![imagen](https://user-images.githubusercontent.com/717367/39041573-4d5a5762-4489-11e8-8975-1f07dbfdff70.png)

I think there isn't any sense on having the CI on the first commit, right?

Also I've closed the PR but CI is still on the queue. I'd need to delete the branch to cancel the CI?

[2018-04-20 09:04] rbngzlv commented on #3218
This is the think we're discussing in #3250.

[2018-04-20 09:08] mrcasals commented on #3218
@andreslucena no, you need to cancel it manually on CircleCI, I'll do it myself.

[2018-04-20 09:12] rbngzlv commented on #3218
Related: @mrcasals have a feature request in Circle CI for auto-cancel redundant builds. It is marked as planned, but who knows when... https://circleci.ideas.aha.io/ideas/CCI-I-194

[2018-04-20 09:34] mrcasals commented on #2979
See #3251 for the related PR. Spaces can be activated (appears on admin) and published (appears on public area), and a space needs to be active before it's published.

[2018-04-20 10:02] mrcasals commented on #3144
Checking this, I see components have a `weight` attribute and which they are sorted by default in an ascendent mode. I think those components with the same weight should be sorted by their `manifest_name`, so that the order is kept between translations.

[2018-04-20 10:18] #3158 closed

[2018-04-20 10:45] mrcasals commented on #3035
Closed by #3244

[2018-04-20 10:45] #3035 closed

[2018-04-20 10:46] deivid-rodriguez commented on #3250
Parallel tests? Woow :tada:

Regarding "other services", I came across https://concourse-ci.org a while ago. It looks super powerful. There's also github's CI which looks powerful too, but it's a hard job to setup these things so I wouldn't move away from CircleCI for now...

[2018-04-20 10:46] mrcasals commented on #2988
Closed by #3004.

[2018-04-20 10:46] #2988 closed

[2018-04-20 10:48] mrcasals commented on #2764
@isaacmg410 is there any update on this?

[2018-04-20 10:53] isaacmg410 commented on #2764
@mrcasals All I know is that the PR was merged.

[2018-04-20 11:03] mrcasals commented on #2764
@isaacmg410 the only related PR I see was not merged, it was closed.

The PR says we could never replicate the bug.

[2018-04-20 12:49] #3230 closed

[2018-04-20 13:58] mrcasals commented on #2979
I've deployed this PR on Codegram's staging so you can check it @decidim/product

[2018-04-20 14:29] #3144 closed

[2018-04-20 16:12] carolromero commented on #2979
Checked it with Assemblies. Working ok, thanks @mrcasals

[2018-04-23 08:25] #2719 closed

[2018-04-23 10:08] javierarce commented on #3121
I added the missing notification filter in the design, sorry about that.

[2018-04-23 10:34] javierarce commented on #3202
Here's the design of the card with the option for a start and end date:

<img width="415" alt="screen shot 2018-04-23 at 12 27 51" src="https://user-images.githubusercontent.com/4933/39121676-9a323f26-46f2-11e8-9e3a-27b76784c85c.png">

cc @Crashillo

[2018-04-23 10:38] #2288 closed

[2018-04-23 13:07] agustibr commented on #3160
@decidim/product should the stats in the home exclude the withdrawn proposals?

[2018-04-23 13:50] #3118 closed

[2018-04-23 14:09] carolromero commented on #2862
Hi @javierarce yes, this totally makes sense. @isaacmg410 as we commented offline last week, I confirm you that we need this invitation interface to manage invitations.

[2018-04-23 15:20] xabier commented on #2872
Sorry for my late response. I took this a purely technical issues. From the product side this seems like a high value architectural investment.

[2018-04-23 15:39] Xfolchf opened #3268 "Unknown problem when creating a meeting"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
It seems that "Location" got blocked and marked with the red star despite the box was complete with text in the 3 languages.
It was impossible to publish the meeting, after having written everything.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12420

#### :pushpin: R

[2018-04-23 15:48] Xfolchf opened #3269 "Error in the start and end dates of the process in Catalan"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong?
The start and end dates of the process appear automatically with spelling mistakes: in Catalan the months go in lower case and you have to apostrophize.

https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12424

#### :pushpin: Related issues
* #12345

#### :clipboard: Additi

[2018-04-23 17:07] carolromero commented on #3160
Yes, let's exclude them from the stats

[2018-04-23 17:49] carolromero commented on #2832
Hi @isaacmg410 @rbngzlv I was taking a last look at the tasks defined in this issue and I see that this one was left behind:

I guess this affects Members as well as #3121. How difficult is it to include this in time for this week?
@javierarce can you think of a place to show it?

[2018-04-24 07:09] isaacmg410 commented on #2862
Hi @javierarce ! After talking with @carolromero offline last week, we agreed that the flow would be:

1. Admin fills the form, just as it is done right now. (without the code generation. This will be automatic, once user accept registration)
2. The invited user receives an email with two buttons, one to accept the invitation to the meeting, and another to reject.
     2.1. If user click and accep

[2018-04-24 07:39] agustibr commented on #3160
@carolromero Ok, thanks for the response

[2018-04-24 08:04] oriolgual commented on #2862
JFYI there's a quite simple invitation feature now at meetings: https://github.com/decidim/decidim/pull/1879

[2018-04-24 08:07] carolromero commented on #2862
Perfectly explained, thanks @isaacmg410 !

[2018-04-24 08:10] isaacmg410 commented on #2862
@oriolgual correct me if I'm wrong please.
I know that exists this simple invitation feature, but, is this possible that only sends and email with the link to automatic registration?

But there is any record of the invited users? and the state of the invitation?

What you think to create a new table `decidim_meetings_invitations` with the new fields?

[2018-04-24 08:27] tramuntanal commented on #3160
@carolromero In this comment https://github.com/decidim/decidim/issues/2289#issuecomment-353726725 @decidim/product specified that the stats should include withdrawn proposals.

[2018-04-24 08:33] tramuntanal commented on #3218
@decidim/lot-core Related with the above mentioned https://github.com/decidim/decidim/pull/3238#issuecomment-382340858 "random" problem with nickname. I've found that Faker already includes a unique feature that works as follows
[code]
Seeds can be refactored to use this feature that should avoid duplicates.

[2018-04-24 08:45] xabier commented on #3160
@tramuntanal that response is wrong in any case.  The whole idea of withdrawing proposals is that they don't compute on the stats. So organizations have a fair rate of made vs accepted proposals

[2018-04-24 08:55] Crashillo commented on #3050
Design PR https://github.com/decidim/decidim/pull/3261

[2018-04-24 08:58] Crashillo commented on #3121
PR https://github.com/decidim/decidim/pull/3261

[2018-04-24 09:14] virgile-dev opened #3276 "Title is present twice in twitter and facebook metadata title"
# This is a Bug Report / Feature Proposal)

#### :tophat: Description
Hey!
Inspecting a participatory process presentation page's html we can see that the title is displayed twice in the twitter and facebook meta data attribute.

Here is the page I used : http://staging.decidim.codegram.com/processes/suphorta
And here is the mata data attribute for the page
`﻿﻿<meta name="twitter:title" content="S

[2018-04-24 09:44] javierarce commented on #2862
Ok, here's the proposed design for this feature:

![invitation](https://user-images.githubusercontent.com/4933/39179375-753e8234-47b4-11e8-9eea-6db46eec89e6.png)

What I've changed from the wireframe, based on your feedback is:

- I've removed the option to generate the code.
- I've moved the code in the invite table to the first position (since it's the item that will be used to identify a person

[2018-04-24 09:46] javierarce commented on #2862
Also, if you feel it would make sense to enable bulk operations (like "delete all selected items", "resend these invites", etc.) we could add checkboxes and a combo to handle those actions.

[2018-04-24 09:49] isaacmg410 commented on #2862
Right now I'm not sure if the code belongs to the `invitations` or `registrations`? Maybe @decidim/product or @decidim/lot-core can say something here.

[2018-04-24 09:54] javierarce commented on #2862
Oh, true, in any case I made a mistake.

"if a user click and accept de invitation, another email is sent confirming the registration to the meeting, and the generated code is generated and placed automatically. "

That code should only appear in the items with the green status.

[2018-04-24 10:10] Crashillo commented on #3202
Design PR #3280 ready

[2018-04-24 10:26] deivid-rodriguez commented on #3218
Yeah, I think we already use it most of the times. Another trick is to use `find_or_initialize_by` + `update!` instead of `create!`.

[2018-04-24 10:33] oriolgual commented on #2862
@isaacmg410

Yes, that's the only ting it does

No, it's just a link to the registration (the same as a user clicking on the button at the website).

Yes, seems a good option. Although I'd add the code field to the registration, not the invitation. (You could link somehow the invitation with the registration if you need to display the code).

What I'm not sure is just listing invitations, if an ad

[2018-04-24 10:48] oriolgual commented on #3268
Can't reproduce, closing.

[2018-04-24 10:48] #3268 closed

[2018-04-24 10:49] oriolgual commented on #3218
I've added the `unique` part where it was missing at #3281

[2018-04-24 10:51] javierarce commented on #2832
I'll submit a design proposal today for this change, it shouldn't require much effort to adapt the current design or its implementation.

[2018-04-24 10:53] javierarce commented on #3121
Should we halt the PR until https://github.com/decidim/decidim/issues/2832#issuecomment-383663768 is done?

[2018-04-24 12:32] Maikhaa commented on #2050
@decidim/product: I have already made the changes, just checking before making a pull request that this is what it was expected?
Rejected proposals are not be visible by default, and this is how the filter looks like now:

![screen shot 2018-04-24 at 14 22 33](https://user-images.githubusercontent.com/13062734/39186653-6cd6c4c8-47cb-11e8-81ce-28a0f06e46f7.png)

[2018-04-24 12:34] mrcasals commented on #2050
@decidim/product see this! 👆 😄

[2018-04-24 13:07] javierarce commented on #2832
@carolromero should we show the role of the person in each assembly or group? If not, here's a simple solution to show assemblies and groups in a user profile:

<img width="701" alt="screen shot 2018-04-24 at 15 06 54" src="https://user-images.githubusercontent.com/4933/39188891-30898522-47d1-11e8-824c-9f04b349fc16.png">

The "read more" link is a toggle link that would show the full list.

[2018-04-24 22:52] deivid-rodriguez opened #3284 "Endorse button broken if endorse action is authorized"
# This is a Bug Report

#### :tophat: Description

If you add an authorization to the endorse action, the endorse button breaks and clicking on it does nothing (and raises an JS error in the browser), since this button is supposed to do two different things on click: show an identity selector and show the authorization modal. So it goes crazy.

I guess the easy way out would be to remove "endorse"

[2018-04-25 06:56] mrcasals commented on #3284
@decidim/lot-mods can you take a look at this, please? 😄

[2018-04-25 08:25] tramuntanal commented on #3284
@deivid-rodriguez what do you mean by adding an authorization?

[2018-04-25 09:08] mrcasals commented on #3031
We'll move it to the next release, since this is not a trivial bug to solve.

[2018-04-25 09:09] #2830 closed

[2018-04-25 09:11] mrcasals commented on #2832
@isaacmg410 @rbngzlv this issue is scheduled for release 0.11, and @decidim/product is asking us to release it today. Is there any PR on this thats needs to be reviewed/merged?

[2018-04-25 09:30] rbngzlv commented on #2832
There is an open PR for the assembly members feature that's is almost finished, but there are some pending work. https://github.com/decidim/decidim/pull/3008. Also:

- @decidim/product has asked for a change this morning and another comment has yet to be answered.
- @decidim/lot-core requested yesterday if is possible extract some similar code between two PR's. (I have not been able to take a look

[2018-04-25 09:42] mrcasals commented on #2832
OK, we'll wait until #3008 is merged then 👍

[2018-04-25 12:37] Crashillo commented on #2840
Design PR https://github.com/decidim/decidim/pull/3285

[2018-04-25 13:24] xabier commented on #2589
@tramuntanal that's cool! I confirm those are the date atributes we had in mind when redesigning the cards. Sorry for the delayed response.

[2018-04-25 13:26] xabier commented on #2266
@oriolgual the time might come to improve this i think we should use additional data but it is ok for now and this should go to the privacy EPIC and the GDPR EPIC.

[2018-04-25 13:26] #2266 closed

[2018-04-25 13:28] xabier commented on #2269
@oriolgual thanks for cleaning and clearing old issues. This one will be re-opened where appropriate and more detailed with the existing working group. I close this one now.

[2018-04-25 13:28] #2269 closed

[2018-04-25 13:37] xabier commented on #2334
@oriolgual :+1:

now that initiatives is integrated let me know if there is any stopper to add notifications regarding initiatives.

[2018-04-25 13:43] xabier commented on #3233
how is this evolving? @isaacmg410 do you still have unsolved questions? let me know. I hope we solved these questions during the sprint planning but keep this channel open if you still have doubts.

[2018-04-25 13:49] isaacmg410 commented on #3233
hey @xabier I'm working on it! I'm working implementing the agenda functionality. "fighting" with the subitems elements.. 😅

And for registrations, we are discusing in this [issue](https://github.com/decidim/decidim/issues/2862#issuecomment-383884522 ), if you want to take a look

For now, I don't have any unsolved questions.
Thanks for asking

[2018-04-25 13:51] xabier commented on #2764
hi @isaacmg410 @mrcasals I can't reproduce the bug in the same environment in which it was reported, so I close this issue. please @Xfolchf re-open if you think it is needed.

[2018-04-25 13:51] #2764 closed

[2018-04-25 14:12] xabier commented on #2862
here is the use case:

* I attend a meeting, there are limited places (e.g. seats). I need to prove that I registered. I use the code to do that. The code is taken and introduced on decidim by the meeting-admin. It returns INVALID if not valid or already used.
* A and B attended a meeting, showed their code, these codes where introduced on the platform. Only Decidim (as a platform) and not the adm

[2018-04-25 14:12] xabier commented on #3233
@isaacmg410 done! thanks

[2018-04-25 14:27] xabier commented on #2719
now that `0.11.0` is coming let's not forget to test this on meta.decidim. it is ok to close this now.

[2018-04-25 14:42] Crashillo commented on #2832
Done! You'll find a screenshot in the description

[2018-04-25 14:45] xabier commented on #3050
@Crashillo the PR looks really great, but there is a problem that I want to share:

Apart from the overall desing, which is great, and maybe @javierarce can help here: the biggest problem with notifications right now is that there are many and they are difficult to filter, select and notice the differences. We had a design for notifications, left by @htmlboy long ago, that used different icons to

[2018-04-25 14:48] xabier commented on #2050
I don't have a strong opinion on this, I can see benefits for all cases. Since there is no harm and we are just expanding the options here.... :+1:

[2018-04-25 14:52] xabier commented on #3121
@javierarce @Crashillo

Not sure how this was solved, but I don't think https://github.com/decidim/decidim/issues/2832#issuecomment-383663768 sould be a stopper. It is ok if we don't provide all the information, it can always be added latter. Let's be agile.

[2018-04-25 15:00] xabier commented on #2840
@AlberAG thanks for your input! We are aware of how good collaboration is. But this feature of Decidim is already defined, we can accommodate some input for details, but not macro-features like those present in Gdocs. Synchronous text editing, up to thousands of user is a huge challenge from the programming point of view. And this is not the functionality we are introducing here. We are not introd

[2018-04-25 15:02] javierarce commented on #3050
Sorry for the confusion! My idea was to use the icons we have for each kind of item / card. In the design I picked the same icon for a matter of speed, but it wasn't my intention to use it for all the notifications (that would defeat the purpose of them). Sorry if that wasn't clear.

[2018-04-25 15:06] xabier commented on #3050
@javierarce thanks for the explanation. What you explained was a hypothesis I had in mind, but I wanted to be sure. Nice to hear there will be different icons for each type of notification. Just an additional question: are we still having filters? (this might have been decided elsewhere, I just wanted to know)

[2018-04-25 15:29] xabier commented on #3140
maybe @jsperezg can help with this? not suer :open_hands:

[2018-04-25 15:34] xabier commented on #3149
@deivid-rodriguez thanks for reporting this. It was already reported here: https://meta.decidim.barcelona/processes/bug-report/f/210/proposals/12321?locale=en and here https://github.com/decidim/decidim/issues/2968 It is already fixed in master. If you report bugs through meta.decidim you might find the similar bugs through the proposal wizard :stuck_out_tongue_winking_eye:

[2018-04-25 15:36] javierarce commented on #3121
@Crashillo took care of that :) https://github.com/decidim/decidim/issues/2832#issuecomment-384312245

[2018-04-25 15:48] xabier commented on #3190
wait! this feature is really good for all decidim's not only Ajuntament de Barcelona. Please @ferblape unless CSV export is consistente in decidim/decidim with the CSV import (and the inconsistency only happens in Barcelona's instance) let's try to make this useful for all decidims.

@mrcasals in case we don't have result/accountability update with CSV for decidim/decidim... is there any reason fo

[2018-04-25 15:49] xabier commented on #3190
@mrcasals @ferblape feel free to re-close or to open a new issue if I am wrong!

[2018-04-25 16:04] xabier commented on #2979
@mrcasals are you planning to do this with consultations also? it would be great

[2018-04-25 16:08] xabier commented on #3131
thanks for pointing this out @mrcasals If I understood it correctly I totally agree! I am not sure how this can be done, or who could do it. @jsperezg was there any reason for including the embedURL?

[2018-04-25 16:11] xabier commented on #3157
@oriolgual yes, you are right. @Xfolchf could you re-create the integration issues on the barcelona repository please. Unless the integration is general enough we need to distinguish between Barcelona's code and generic Decidim. thanks!

[2018-04-25 16:11] xabier commented on #3157
and close this issue afterwards @Xfolchf please, thanks!

[2018-04-25 16:14] xabier commented on #2244
this one was a premature closing. @sdivad thanks for cleaning, @mrcasals thanks for recovering this one

[2018-04-25 17:05] carolromero commented on #2862
Considering the use case I agree that the codes should be directly associated with registrations.
In fact invitations are only a preliminary step, which may or may not result in registrations.
Related to this, I am commenting here an issue to take into account. It is currently possible to export registrations data with all attendees info (name, e-mail, etc.).

If we want to use codes to prevent an

[2018-04-25 17:09] xabier commented on #2862
@carolromero I am not sure I understand your point and it seems very important. I wasn't aware that attendees info could be exported. I don't think we want these at all for Decidim. We want instead to make the tool better so that there is no need to export this data.

[2018-04-25 17:12] carolromero commented on #2862
@xabier here is what I'm talking about:
![imagen](https://user-images.githubusercontent.com/23509895/39261361-8313e580-48bc-11e8-9cc8-9f1afd9c4bab.png)
I wasn't aware either until @isaacmg410 told me to.

[2018-04-25 17:37] tramuntanal commented on #2706
@agustibr @decidim/lot-core can you provide feedback about the mergin of Proposal's m-card cell into master please?

[2018-04-26 06:43] oriolgual commented on #2268
Yes @xabier, that's a good idea! WE can abstract that and leave the implementation of sending the SMS outside of Decidim!

[2018-04-26 06:47] oriolgual commented on #2334
I don't think so @xabier, we can start working on it!

[2018-04-26 06:51] xabier commented on #2268
I think we might be able to use some of the code done for code verification by @davizrodriguez

[2018-04-26 06:53] oriolgual commented on #3284
@tramuntanal I guess it's (as an example) if you need to authorise with the census before endorsing a proposal.

[2018-04-26 07:00] mrcasals commented on #2979
@xabier after 0.11 is released I'll update the PR so that the new spaces (Consultations and initiatives) work with this system too.

[2018-04-26 07:05] mrcasals commented on #2862
Meeting registrations were added on #1737. In that same PR, the exportation feature was added too.

[2018-04-26 07:30] xabier commented on #2979
@mrcasals this is more than welcome for 0.12 since we want to release the complete decidim-system and this is great news!

I have checked the boxes and left Consultations and Initiatives unchecked. I will move this issue to milestone 0.12

[2018-04-26 07:33] xabier commented on #2862
@mrcasals thanks for the explanation. Let's leave this as is for now. We should delete this export feature when we have available the option to send newsletter/notifications to registered users. The "selective newsletter" is on the roadmap but not yet implemented. Does this sound reasonable for all?

[2018-04-26 07:53] jsperezg commented on #3140
@xabier @mrcasals @deivid-rodriguez Works for me:

[code]

[2018-04-26 07:54] jsperezg commented on #3140
I forgot to mention that I've executed it against the last sources in master branch.

[2018-04-26 08:24] #3160 closed

[2018-04-26 08:59] tramuntanal commented on #3284
Ok, now I understand. The dual naming of authorization/verification was confusing me.

@decidim/lot-core and @decidim/product I guess that having the capability of endorsements to be authorizable (can be configured to require the user to be verified) is good, like votes or comments. So I'll go for a fix instead of removing them the capability of being authorizable. Ok?

[2018-04-26 09:17] xabier commented on #3284
ok!

this is very useful for some use cases, not critical but desirable.

[2018-04-26 09:43] xabier commented on #2764
@Xfolchf ok, then we leave this closed and will reopen only if the problem re-appears. cheers

[2018-04-26 09:54] agustibr commented on #2706
@tramuntanal hopefully soon, check https://github.com/decidim/decidim/pull/2897#issuecomment-384536125

[2018-04-26 11:06] javierarce commented on #2292
Ok, here's my proposal:

"In the proposal page an new button amend appears bellow the support button."

![8](https://user-images.githubusercontent.com/4933/39301863-f6b6c9e6-4950-11e8-8f0b-02fc2598e470.png)

---

"When clicking the amend button a proposal edition modal is opened (the same that the proposal creator has available during X minutes after the proposal is made)."

![8](https://user-imag

[2018-04-26 11:07] javierarce commented on #2292
I only have one doubt about the task: "If the amendment is accepted… the control version of the proposal displays a new edition with the author of the amendment".

Maybe we could have a toggle option to switch between the current view of the proposal and any given accepted amendment?

[2018-04-26 11:14] xabier commented on #2292
At a first sight... This seems perfect! @javierarce, congratulations!

[2018-04-26 13:17] andreslucena opened #3296 "Missing i18n on user invitation process"
# This is a Bug Report

#### :tophat: Description

For bug reports:
* What went wrong?
Missing i18n when accepting an invitation:

#### :clipboard: Additional Data

* ***Decidim deployment where you found the issue***: Decidimmataro.cat
* ***Browser & version***:
* ***Screenshot***:

![imagen](https://user-images.githubusercontent.com/717367/39308038-bedddc8a-4964-11e8-8b3e-371e5697e810.png)

* **

[2018-04-26 13:18] mrcasals commented on #3296
Related to #1858.

[2018-04-26 13:55] tramuntanal commented on #3049
@decidim/product is it the case that collaborative_drafts can be dis/enabled by the admin? or it will be a non configurable feature?

[2018-04-26 14:32] xabier commented on #3049
Good point @tramuntanal . We need this to be configurable. Some processes might no have time for a collaborative phase. Or an assembly might simply have a secretary that uploads the proposal that have been collaboratively developed in a meeting but don't need this feature

[2018-04-26 15:03] deivid-rodriguez commented on #3284
Sorry I'm late here! Yes, authorization vs verification is confusing... I use authorization because that's what the current code uses and the terminology that was agreed, but I think we should use verification instead. See https://github.com/decidim/decidim/issues/2845 for more context.

Anyways, how do you plan to fix the issue? Show the authorization pop up if the user is not authorized and only

[2018-04-26 16:03] deivid-rodriguez commented on #3140
@jsperezg This is why flakies are so hard to track down. Sometimes they pass, sometimes they don't. So the fact that the pass locally for you doesn't mean the flakyness is fixed... :(

I've noticed that flakiness of our tests has greatly increased in the last weeks. I guess it makes sense since we have introduced a lot of new stuff and potentially flaky tests. Have you noticed the same thing?

[2018-04-26 16:07] tramuntanal commented on #3049
@decidim/lot-px, css for the right-side-card for Proposal are too specific to be reused in CollaborativeDrafts. I neither can't find similar cards to what you proposed.

Can you link a similar card or provide css for CollaborativeDraft xl-card please?

This is what I have right now:
![access_collaborative_drafts](https://user-images.githubusercontent.com/199462/39317662-71bd288a-497c-11e8-8d74-322

[2018-04-26 16:14] deivid-rodriguez commented on #3149
It does not work for me :(. The endorsement count is updated but the endorsement list is not. It'd be nice to see the PR that fixed this.

Also I'm seeing another problem where I cannot endorse at all depending on the proposal (the identity selector either does nothing or takes me to the profile of the identity). I'll see if I can reliably reproduce although I won't have time for that in a while.

[2018-04-26 17:05] jsperezg commented on #3140
@deivid-rodriguez I know from @josepjaume that some of these issues are caused by controller tests. In fact I migrated a controller tests to system tests (outside of initiatives) for the initiative integration PR. I don't  know how neither why they affect, you should ask him about the details.

[2018-04-26 17:10] deivid-rodriguez commented on #3140
But these flakies happen on system tests so it's probably not related.

Migrating controller tests to system tests is good regardless in my opinion, so :+1: to that!

Thanks for your input anyways @jsperezg!

[2018-04-26 17:14] jsperezg commented on #3140
@deivid-rodriguez I'm pretty sure that you're understanding about rails internals is actually better than mine. I'm wondering if there is a way to know which one was the previous test executed. If the previous test was a controller test maybe we can find a connection.

[2018-04-26 17:15] deivid-rodriguez commented on #3140
There's, the `--format documentation` flag to `rspec`. Maybe it's not a bad idea to enable that in CI... :+1:

[2018-04-26 17:16] jsperezg commented on #3140
but I can enable it locally for the only purpose of diagnosing this issue

[2018-04-26 17:17] jsperezg commented on #3140
sorry, I didn't saw the 'no' and I though that you said that it was a bad idea ;\

[2018-04-26 17:17] deivid-rodriguez commented on #3140
Sure, you can do that as well.

[2018-04-26 17:48] deivid-rodriguez commented on #3250
Hei! I had another idea regarding this, and I think it might work quite well for our case!

We have a `main` job in our build that does the following:

* rubocop
* i18n linting
* erb linting
* npm & bundle sanity

Experience tells us that a great percentage of red PRs are because of one of these reasons. So, what if we make this job a prerrequisite for every other job? This way, PR's that are red

[2018-04-26 17:51] rbngzlv commented on #3250
This is a very good idea. Today I cancelled some workflows because I get this type of errors in my PR's.

[2018-04-26 18:02] xabier commented on #3190
Those attributes don't harm any Decidim. In fact they are very reasonably generalizable. I think we already had this discussion. It is too costly to maintain two versions of this feature without a strong reason for doing so.

[2018-04-26 21:59] deivid-rodriguez commented on #1858
@oriolgual Might be the case indeed but in my opinion the approach in #2696 is still the way to go...

[2018-04-27 07:14] #2714 closed

[2018-04-27 07:38] jsperezg commented on #3140
This is weird @deivid-rodriguez I'm locally executing it but even if I use the same seed the last test executed is diffrent from the one shown in the attached screenshot:

[code]

[2018-04-27 08:50] #3167 closed

[2018-04-27 09:08] #2822 closed

[2018-04-27 09:28] tramuntanal commented on #2845
Well, it comes to my mind the classical phrase:

Just my grain of salt: I find that in software security terms:
-  `authorization` is about permissions: "I'm authorized to do this or that action, or not".
- `Authentication` instead is about identity: "the document picture help in visually authenticating people".
- `Verification` and `validation` are ambiguous terms because you use them for both au

[2018-04-27 09:36] tramuntanal commented on #3167
@decidim/product this issue has been fixed and merged into master.

[2018-04-27 09:41] carolromero commented on #3167
great! thanks @tramuntanal

[2018-04-27 10:09] isaacmg410 commented on #3233
@decidim/product in my [staging](http://isaac.decidim.int.coditdev.net/), You will find a preview of the meeting agenda, Before continuing and creating the specs, can you give me some feedback?

[2018-04-27 10:14] carolromero commented on #3233
hi @isaacmg410 it throws an error when trying to create any agenda item: "There was a problem with our server". Can you check it please?
Otherwise the backend flow/interface looks good!

[2018-04-27 10:20] josepjaume opened #3308 "Content hashing to detect manipulation"
# This is a Feature Proposal

#### :tophat: Description
Decidim is pushing hard towards giving guarantees like traceability, transparency, and such. But not being deployed into a cryptographically secure blockchain-y platform (maybe some time in the future? 🚀 ), we'd still like to offer some tools to prevent data manipulation, or at least give the user some comfort over that. For that, we're intro

[2018-04-27 10:53] isaacmg410 commented on #3233
@carolromero Ups! Checked and solved! Can you test again please?

[2018-04-27 11:03] carolromero commented on #3233
@isaacmg410 I can now create an agenda with its agenda items. I can't see it in the frontend, though. Am I missing something?

[2018-04-27 11:12] Crashillo commented on #3049
Sorry, @tramuntanal I don't get you. Which XL-card? There is none. And what are those specific contents? I'm seeing that your markup is not corresponding which I've done (at design app) with. Is that what you refer? 😖

[2018-04-27 12:25] tramuntanal commented on #3049
Hey @Crashillo my last comment is from 20h ago! There was no XL-card (show CollaborativeDraft) in the design app at that moment. :laughing:

I've just reviewed your PR right now! :+1:

[2018-04-27 12:35] mrcasals commented on #3228
Related to #1858

[2018-04-27 17:44] xabier commented on #3308
It looks like a proper beginning. We are still far from providing guarantees, it would be great to send an email with a signature of the content using public-private key encryption. But this is a good first step towards IPFS like systems.

@josepjaume don't forget to take into account that the email and integrity code should never be generated before the time window for edition is completed. It co

[2018-04-27 17:49] xabier commented on #3308
A very nice advantage of this idea of sending an email is that the authors get a kind of Receipt of their proposal. The problem I was trying to solve with the cryptographic signing idea is that, since the hashing function is known, for reproductibilty, receipts can also be faked. But I guess we have to start somewhere!

[2018-04-30 11:37] tramuntanal commented on #2872
Hi @decidim/lot-core , this issue is starting to block the development of #3109 because
- we need the ResourceLocator to resolve CollaborativeDraft routes
- we need it to set CollaborativeDraft abilities (editable, creable,..)
- we need it for its cells

Remember that we're implementing CollaborativeDrafts inside Decidim::Proposals module, but it is not a component itself.

[2018-05-02 07:46] xabier commented on #3308
@jpaulin thanks for your input. This issue is just a beginning to increase the integrity guarantees of the content in Decidim. If you have specific suggestions or improvements don't hesitate to do it! cheers!

[2018-05-02 07:53] xabier commented on #2872
@decidim/lot-core this is a priority... let us know if there is anything we can do from product.

[2018-05-02 08:47] andreslucena opened #3314 "Right of Data Portability"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### :tophat: Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

*Controllers must make the data available in a structured, commonly used, machine-readable and interoperable format that allo

[2018-05-02 08:48] andreslucena opened #3315 "Right to be Forgotten"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### :tophat: Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

We need to track every deleted user id, so if we have to restore the database there is a procedure where an admin check that

[2018-05-02 08:49] andreslucena opened #3316 "Unmark "receive information" by default on user creation"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### :tophat: Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

We need to change the opt-out nature of our newsletter at the moment. We need to have it unchecked by default and it's also i

[2018-05-02 08:49] andreslucena opened #3317 "Pages version control"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### :tophat: Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

We need to have version control for a few pages, like Terms Of Services. It'd be better to have it on all kind of pages, to t

[2018-05-02 08:50] andreslucena opened #3318 "TOS accepted at field for users"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### :tophat: Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

We need to track when a user has accepted the TOS (Term Of Service), so if it gets changed we should show the TOS page to acc

[2018-05-02 08:51] andreslucena opened #3319 "Unbundled consent on user registration"
## This is a Feature Proposal

* This issue is part of the GDPR EPIC #3320

#### :tophat: Description

This is a feature proposal to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

We need to separate better on the user registration page what belongs to the TOS (Terms Of Service) and what belongs to the n

[2018-05-02 08:52] mrcasals commented on #3317
If it's about checking the ToS page, then it's a Static Page and this issue affects `decidim-core` only

[2018-05-02 08:53] andreslucena opened #3320 "EPIC: GDPR"
These are multiple feature proposals to have a better compliance with [GDPR (General Data Protection Regulation)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation).

- [x] Right of Data Portability #3314
- [x] Right to be Forgotten #3315
- [x] Unmark "receive information" by default on user creation  #3316
- [x] Pages version control #3317
- [x] TOS accepted at field for users #331

[2018-05-02 08:55] andreslucena commented on #2173
Hi all! We're going to close this issue on favour of #3320 so we can better discuss each one of the changes.

[2018-05-02 08:55] #2173 closed

[2018-05-02 10:39] isaacmg410 opened #3321 "Nicknames containing dots raise a 404"
# This is a (Bug Report / Feature Proposal)

#### :tophat: Description

For bug reports:
* What went wrong? When a nickname has a point, and you visit the user's profile page, it returns error 404.
For example: http://localhost:3000/profiles/talon.ryan
* What did you expect should have happened? To be able to see the page of the user
* What was the config you used? Decidim v.0.10.1. Also tested in