[2018-09-18 14:32] isaacmg410 commented on #4131
@decidim/lot-core @decidim/product
Have you tried to update metadecidim to 0.14.1?
I tried to reproduce the error locally, in branch 0.14.1 and master and I can not replicate the error ...
Also, I tried to reproduce into my staging, and can't reproduce..

[2018-09-18 14:36] carolromero commented on #4131
@decidim/lot-core is there a release 0.14.1 yet?

[2018-09-18 14:47] isaacmg410 commented on #4135
Talked offline with @Crashillo we accorded to group main content into one container. But, this is what happens...

I am in favor of changing the menu and doing it horizontally below the image.
@decidim/product what you think?

![screenshot-localhost-3000-2018 09 18-16-36-53](https://user-images.githubusercontent.com/28536082/45695708-46929200-bb62-11e8-903a-8359a880d3b3.png)

cc:// @furilo @Crashi

[2018-09-18 14:51] furilo opened #4136 "System help / Process intro"
Part of #3712

In the last meeting we discussed about a way to make it easy that new users understands how a process works with some kind of visual guidance. Here is a test.

It could work as a full column block, which would appear first in the page; actual content would just go below, and we could leave the same so nothing more needs to change. I think the flow of information feels natural: 1) th

[2018-09-19 07:29] mrcasals commented on #4131
@carolromero yes, v0.14.1 was released early this week.

@isaacmg410 v0.14.1 only fixes a migration and adds https://github.com/decidim/decidim/pull/4107, compared to v0.14.0 (which was yanked BTW). When the bug was reported on Metadecidim, the platform was already running v0.14.0.

[2018-09-19 08:06] furilo commented on #4136
Ideas:

- You can switch on the "Intro block" for a process (maybe also space?)
- Once on, you would be shown blocks for 1-2-3, and for each you could
define Heading, Start-End Date (if want to automatically controle button
availability),  Description, along with the Action of the button and its
label (actions could be derived direcly from the active components)

[2018-09-19 08:11] mrcasals commented on #4136
OK, sounds good!

[2018-09-19 08:41] mrcasals commented on #3672
@carolromero done! See #4137 😄

[2018-09-19 08:49] tramuntanal commented on #2284
Hi, @decidim/product
We, at CodiTramuntana, have already:
- developed a Verifier that uses a white list of emails (uploaded via csv):
https://github.com/CodiTramuntana/decidim-verifications-csv_emails
- upgraded a Verifier that uses document number + birth date also from a white list csv: https://github.com/CodiTramuntana/decidim-file_authorization_handler

Maybe we can manage to define a Verifier

[2018-09-19 09:00] tramuntanal commented on #4135
I think we don't want a different layout for conferences than the one for the rest of spaces/components, it will be confusing for the user. In the image posted by @isaacmg410 we can see a menu column, then a filter column and then two results columns, first two columns are very confusing, all components are thought to take advantage of the full width.

[2018-09-19 12:37] #3639 closed

[2018-09-19 13:42] mrcasals commented on #3672
#4137 has been merged, and all the tasks in https://github.com/decidim/decidim/issues/3672#issuecomment-403319855 have been done.

Closing this issue! 😄

[2018-09-19 13:42] #3672 closed

[2018-09-19 14:08] mrcasals commented on #4123
@carolromero can you assign some labels to this issue please? 😄

[2018-09-19 14:09] mrcasals commented on #3620
@tramuntanal what's the status of this issue? Can this be closed?

[2018-09-19 14:10] mrcasals commented on #3296
Closed by #4102

[2018-09-19 14:10] #3296 closed

[2018-09-19 14:11] mrcasals commented on #3740
Closed by #4120

[2018-09-19 14:11] #3740 closed

[2018-09-19 14:18] mrcasals commented on #3746
This is done on purpose so that assembly admins can access nested assemblies. Imagine this structure of assemblies:

- Assembly 1
- Assembly 2
  - Assembly 2.1

A user that is only admin of the Assembly 2.1 needs to be able to access it, but on the index we only show the root assemblies by default. In order to see Assembly 2.1 you need to inspect the Assembly 2.

We could directly list all the ass

[2018-09-19 15:34] carolromero opened #4140 "Don't show Child Assemblies in Assemblies general Homepage"
**Is your feature request related to a problem? Please describe.**
Now we have the option to relate and establish hierarchical relationships between Assemblies. The issue right now is that every single Assembly is shown in the Assemblies general homepage, so it makes very confusing the navigation and understanding relations between them.

**Describe the solution you'd like**
I'd like to see only p

[2018-09-19 19:55] arnaumonty opened #4141 "Rename the "officializations" admin page (/admin/officializations) by "participants" (/admin/participants)"
The admin page for officializations includes actions that are not officializations: like sending a message. This page will very probably include other actions in the future. This is why we should rename this page as "participants" because it keeps the same logic of the whole section of the admin panel. In the admin menu should be located below "Admins" and above "User Groups"

- Related to #2336

[2018-09-20 06:48] isaacmg410 commented on #4115
I tried it in the current version and that does not happen. See screenshots

@decidim/product Can you give more information about it? Some screenshots, url, etc.
Also, is it related to some development done by @decidim/lot-mods? If so, what?

Admin Proposals
![proposals-admin](https://user-images.githubusercontent.com/28536082/45800576-9e8bde80-bcb1-11e8-862f-7a39dce92d84.png)

Public Proposals
![

[2018-09-20 08:00] mrcasals commented on #3486
Current `master` has seed initiatives in the suggested states.

Closed by #3568.

[2018-09-20 08:00] #3486 closed

[2018-09-20 08:01] mrcasals commented on #1436
@decidim/product any updates on this? 😄

[2018-09-20 08:03] carolromero commented on #1436
@mrcasals soon we're going to have a person dedicated to generating definitive content to extract the seeds. Before the end of the year.

[2018-09-20 08:16] tramuntanal opened #4142 "Doorkeeper deprecation warning due to security bug CVE-2018-1000211"
**Is your feature request related to a problem? Please describe.**
Doorkeeper gem recommends upgrading to versions 4.4.0 or 5.0.0.rc2. Here is the description of the problem: https://seclists.org/fulldisclosure/2018/Jul/68

**Describe the solution you'd like**
I don't want to have known security issues so I guess upgrading Doorkeeper is worth it.

**Describe alternatives you've considered**
None.

[2018-09-20 08:45] mrcasals commented on #1436
Looking forward to it! 😄

[2018-09-20 08:49] mrcasals commented on #3802
This is the current looks of the proposals admin index page:

![](https://i.imgur.com/5oyQpFU.png)

Here, I've randomly added some "Edit proposal" links (the pencil icon):

![](https://i.imgur.com/W15Wni6.png)

I feel there's a lot of info in this page, and it will be hard to find what proposals are official and what aren't. @decidim/lot-px @decidim/product what should I do? Is it OK if I stick wi

[2018-09-20 09:26] tramuntanal commented on #3807
@decidim/product @decidim/lot-core As talked on Telegram this week, we're starting to implement Participatory Texts feature inside `decidim-proposals` module and will use `Proposals`.

[2018-09-20 09:30] Xfolchf opened #4145 "Exception: Decidim::Surveys::SurveysController#show"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/7fc6deb17f9c4456aae8499cf27986a9/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `questions' for nil:NilClass
  decidim/surveys/survey_form.rb:16:in `map_model'
    self.survey_answers = model.questions

[2018-09-20 09:32] mrcasals commented on #3807
@tramuntanal should we close this issue then?

[2018-09-20 09:32] Xfolchf opened #4146 "Exception: NoMethodError Sidekiq/Decidim::Surveys::SettingsChangeJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/528d19e57e6345c4808d01851a8d7749/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `name' for nil:NilClass
  decidim/events_manager.rb:24:in `publish'
    event_class: event_class.name,
  decidim/surveys/

[2018-09-20 09:34] isaacmg410 commented on #4135
@decidim/product we should be unblocked this..

[2018-09-20 09:35] Xfolchf opened #4147 "Exception: Module::DelegationError Decidim::Api::QueriesController#create"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/bb863ad5b55f427480001a2dd5052756/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `organization' for nil:NilClass
  decidim/component.rb:17:in `organization'
    delegate :organization, :categories, to:

[2018-09-20 09:37] Xfolchf opened #4148 "Exception: ActionView::Template::Error Decidim::Debates::DebatesController#index"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/d812548258274919b4a086895d3113a7/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::AmbiguousColumn: ERROR:  column reference "description" is ambiguous
LINE 1: ...= $4 AND ((title::text ILIKE '%comunitaria%') OR (descriptio...

[2018-09-20 09:38] isaacmg410 commented on #4131
I have not been able to reproduce the error. Has anyone been able to reproduce, other than on Metadecidim website?

[2018-09-20 09:40] Xfolchf opened #4149 "Exception: NoMethodError Decidim::Surveys::Admin::SurveysController#edit"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/1ee2f619314b48bf8733749b865ec60c/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `questions' for nil:NilClass

Extra data (please complete the following information):

Device: Desktop
Device OS: Mac OS

[2018-09-20 09:43] isaacmg410 commented on #3743
@decidim/lot-core @decidim/product this issue can already be closed

[2018-09-20 09:45] isaacmg410 commented on #3843
Design must be reassessed to fit the components correctly. Check: https://github.com/decidim/decidim/issues/4135

[2018-09-20 09:49] carolromero commented on #3743
Hi @isaacmg410 is there any staging where we can check the tasks? I've seen your staging instance, but I'm not quite following how is the design proposed by @furilo going to be implemented?

[2018-09-20 10:22] tramuntanal commented on #3620
Yes, choice has been opotion 1: not to index resources that are private.
For this, `Searchable.searchable_fields` declaration allows `index_on_create` and `index_on_update` callbacks.

[2018-09-21 07:56] furilo commented on #3802
ok for me!

[2018-09-21 08:05] carolromero commented on #3584
Hi @tramuntanal the description is correct. I've removed the old one.

I guess we need to add more options to the `actions` available? @furilo @decidim/product
![imatge](https://user-images.githubusercontent.com/23509895/45868350-c2205900-bd85-11e8-877f-14bf883647ac.png)

[2018-09-21 08:32] tramuntanal commented on #3584
Hi @carolromero ,
You can not "Publish as participatory text", you can only publish, and if we add the button here we also will need a new column to show which proposals are published and which ones aren't. "Publish as participatory text" seems to mean that there are proposals published differently, but once enabled the all proposals will be shown as participatory text for this component.

I was s

[2018-09-21 08:59] carolromero commented on #3802
yep, go ahead!

[2018-09-21 09:01] carolromero commented on #3802
eventually we'll need to put order in the management options, but we are not going to solve it now :)

[2018-09-21 09:18] carolromero commented on #3584
@tramuntanal yes, add a Participatory Texts blue button along with the others.

[2018-09-21 10:00] mrcasals commented on #4003
@virgile-dev we haven't had time to work on this yet 😞

[2018-09-21 10:44] #3339 closed

[2018-09-21 15:31] #3835 closed

[2018-09-21 20:41] idelfonsog2 commented on #3250
This was very helpful! thanks!

[2018-09-22 11:31] ahukkanen commented on #2124
I have now created a pull request for this at #4155.

I also modified the other error messages to make it clearer what went wrong.

[2018-09-23 11:45] ahukkanen opened #4156 "Comments component does not support latest GraphQL schema"
**Describe the bug**
Building the comments component works fine when working with the GraphQL schema copy currently included in the repository. However, if you try to regenerate the schema and recompile the component, you get a bunch of these errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the master branch
2. Create the dummy development app
3. Start the dummy developm

[2018-09-23 11:46] ahukkanen commented on #4156
@mrcasals Could you take a look at this issue since this originates from your commit?

[2018-09-23 14:41] #2281 closed

[2018-09-23 17:16] ahukkanen opened #4157 "Cannot leave specifically formatted comments - ProposalParser matches invalid URLs"
**Describe the bug**
If you try to leave a comment with any of the following strings, you will notice an exception at the backend and the user interface does not show any errors to the user. This seems to be quite a major issue making the commenting functionality very unstable for languages such as Finnish.

For example, the following sentences are proper Finnish which will cause the issue:
- Voit

[2018-09-24 07:35] mrcasals commented on #4156
Thanks for reporting this, @ahukkanen! We'll work on this as soon as possible 😄

[2018-09-24 07:38] mrcasals commented on #4157
@decidim/lot-mods can you check this, please?

[2018-09-24 07:50] #2124 closed

[2018-09-24 10:30] furilo opened #4159 "Usability tests improvements"
## Summary
After reviewing the results from usability tests, here are some things I would face. They are selected based on my perception of the size of the problem they imply, impact, and ease of improvement.  Please comment and complement the list, so we can create a final list.

### Notifications
This does not require design but I add it to the list as a usability improvement for @decidim/lot-co

[2018-09-24 12:39] ahukkanen commented on #4159
Are these results available for reading somewhere publicly?

[2018-09-24 12:57] mrcasals commented on #4159
That's a good question! @decidim/product are they available? 😄

[2018-09-24 13:01] #3802 closed

[2018-09-24 15:39] ahukkanen opened #4165 "Process filters not functional in IE11"
**Describe the bug**
The process filters are not functional in Internet Explorer 11. After clicking them, the loading message is shown but nothing happens.

Also, the URL of the page is changed to `/undefined` which breaks reloading of the page.

Originating from:
https://meta.decidim.org/processes/bug-report/f/210/proposals/13192

**To Reproduce**
Steps to reproduce the behavior:
1. Open any defa

[2018-09-25 07:43] mrcasals commented on #4165
Hi @ahukkanen! Thanks for the amazing report and your work fixing this issue! 😄 🎉

[2018-09-25 07:43] #4165 closed

[2018-09-25 09:11] mrcasals commented on #3595
We're about to start working on this, but we have some doubts @decidim/product:

- This new design suggests there are two types of registrations: a full one and a "fast" one (see last screenshot in https://github.com/decidim/decidim/issues/3595#issue-329781618). As a user I don't understand what a "full registration" is, the concept is weird. Also, why would I want to use a "full registration" if

[2018-09-25 09:12] Xfolchf opened #4168 "Process filters not functional in IE11"
**Describe the bug**
1. The process filters (upcoming, past, all) are not working. After clicking one of the filters, the view shows "Loading results..." but nothing happens.

2. I expected the correct proposals to appear instead of the "Loading results..." text.

3. I found this on meta.decidim.org when using with IE11 (11.0.9600.19080)

https://meta.decidim.org/processes/bug-report/f/210/proposa

[2018-09-25 09:13] mrcasals commented on #4168
Duplicate of #4165, this has already been solved.

[2018-09-25 09:13] #4168 closed

[2018-09-25 09:16] Xfolchf opened #4169 "Meeting detail renders wrong author card size"
**Describe the bug**
When viewing the detail of a meeting, the author card size is too big, showing too much info about the author.

To reproduce the behavior visit https://edu.decidim.org/assemblies/welcome/f/414/meetings/1136

I would expect to render the same author card as in proposals or blogposts...

https://meta.decidim.org/processes/bug-report/f/210/proposals/13176

**Screenshots**
If appl

[2018-09-25 09:18] Xfolchf opened #4170 "IMPORT/EXPORT Admin tasks don't show any info on admin dashboard"
**Describe the bug**
The Admin DASHBOARD show all admin tasks EXCEPT the IMPORT/EXPORT ones that don't report any data.

As a deferred tasks, any import or export can be at least these states:
- Initial (the task has been created by admin but not started yet).
- started (the task has started to be executed),
- ended OK (the task ended without error).
- aborted (the task ended due to an error, with

[2018-09-25 09:20] mrcasals commented on #4170
That's not a bug, that's a whole new feature.

[2018-09-25 09:21] Xfolchf opened #4171 "Errors on the Import of results of a process with a CSV file"
**Describe the bug**
This bug is a detail of incidents detected in a test of the process of loading data of the results progress data of the PAM process.

This test was carried out on the STAGING server, with the import file "projectmonitor_20180409172508.csv" (passed to EXCEL format), and attached to this bug report, and with the import result file "log-import-PAM .txt " extracted from the email

[2018-09-25 09:23] Xfolchf opened #4172 "Votes count appear on linked proposals even when votes are not activated"
**Describe the bug**
On osons.nancy.fr, votes are not activated on proposals.
When closing a meeting & adding linked proposals, a vote counter (with 0 vote) appear on the linked proposal.
https://participez.nancy.fr/processes/osonsnancy/f/23/meetings/35

https://meta.decidim.org/processes/bug-report/f/210/proposals/13161

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2018-09-25 09:25] Xfolchf opened #4173 "Error creating collaborative proposal"
**Describe the bug**
Creating a collaborative proposal fails. I tried it with a proposal that contained 595 characters in the body. If I make it shorter there is no problem. I had the maximum length of 1000 characters configured.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13194

[2018-09-25 09:28] Xfolchf opened #4174 "Exception: NoMethodError Decidim::Proposals::ProposalsController#compare"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/f322f257f6494bca8b274b75fb543eeb/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `[]' for nil:NilClass
  decidim/proposals/similar_proposals.rb:33:in `query'
    @proposal[:title],
  decidim/proposals/s

[2018-09-25 09:30] Xfolchf opened #4175 "Exception: ActiveRecord::RecordNotUnique Decidim::ParticipatoryProcesses::Admin::ParticipatoryProcessStepsController#create"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/fc56f1805e9c44038b8aa48530b67030/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::UniqueViolation: ERROR:  duplicate key value violates unique constraint "index_unique_position_for_process"
DETAIL:  Key (decidim_participatory_proce

[2018-09-25 09:33] mrcasals commented on #4174
@decidim/lot-mods can you check this please?

[2018-09-25 09:34] mrcasals commented on #4173
@decidim/lot-mods can you check this please?

[2018-09-25 09:35] Xfolchf commented on #3909
The problem persist in Decidim Barcelona

[2018-09-25 09:44] mrcasals commented on #3595
I think I've never been offered two different registration processes when signing up for a website. Since the "full registration" has very few extra fields, and all of them are standard (name, nickname and password), maybe we could add them to the "fast one" and make both processes equal? Nickname could even be autogenerated from the name, and can be replaced from the profile configuration page.

[2018-09-25 09:47] mrcasals commented on #3909
Decidim Barcelona is using v0.13.x. This was fixed on 0.14.0.

Closing.

[2018-09-25 09:47] #3909 closed

[2018-09-25 11:55] tramuntanal commented on #2538
This improvement will make admins' life easyer

[2018-09-25 12:00] tramuntanal commented on #4157
Thanks for your very detailed report @ahukkanen
we'll dive into the problem

[2018-09-25 17:42] carolromero commented on #4135
In order to unlock this, from @decidim/product we propose to change the vertical menu for a horizontal one.
Given that there is an EPIC of Usability improvements (#4159), and that **second level menus in general cause problems because users do not see them**, we will add to the list of improvements a redesign of these menus, and thus serve for Conferences and the rest of spaces.
cc/ @furilo @Crash

[2018-09-26 06:54] isaacmg410 commented on #4135
@decidim/lot-px Can you make another layout with this horitzontal menú? Or can we apply the same layout as other participatory spaces?

cc:// @decidim/product @carolromero

[2018-09-26 08:51] mrcasals opened #4182 "Some styles in admin are lost"
@Crashillo we used to have in the admin some form inputs that were in the same row, for example here:

https://decidim-design.herokuapp.com/admin/processes-new

At some point we lost those styles and we didn't realize. Do you have any idea of what might have happened?

[2018-09-26 08:52] carolromero commented on #4159
Thanks @furilo,

I've classified the list you posted and added a couple more of items:

**Newsletter**
- [ ] Display message text in email notifications (this does not require design but I add it to the list as a usability improvement for @decidim/lot-core to implement)

**Register / Login**
- [ ] We will have only one registration form at the individual level. The registration of user groups will

[2018-09-26 08:56] tramuntanal opened #4183 "Screenshots for failing system tests are too long"
**Is your feature request related to a problem? Please describe.**
Failing system tests generate a screenshot of the screen at the moment when the test failed so that the developer can see what is going on.
This screenshots are saved as image files in disk, and are named after the full name of the test. This full name normally is so long that is too long for a valid file system name and rspec fail

[2018-09-26 12:19] mrcasals commented on #4073
Another example of a similar test failing: https://circleci.com/gh/decidim/decidim/154225

[2018-09-26 12:19] mrcasals commented on #4073
Should be closed by #4185!

[2018-09-26 12:19] #4073 closed

[2018-09-26 14:07] mrcasals commented on #3893
@decidim/product I have some doubts here, but I can start working right away meanwhile they are solved:

- can a given user mention a User Group in a comment?
- can an admin remove admin rights from another user in the same group?
- can an admin remove a user from a user group? I see this in the design, but not in the specification of the issue.

[2018-09-26 14:17] carolromero commented on #3893
@mrcasals:

Yes

Yes, does it make sense for the first user to create a usergroup to be the admin of admins (aka capo dei capi :stuck_out_tongue_winking_eye: )?

Yes

[2018-09-26 14:21] mrcasals commented on #3893
@carolromero so you mean no one can remove the admin rights from the creator? This could be done, I guess.

[2018-09-26 15:38] arnaumonty commented on #3893
This can be problematic, but probably is less problematic than the other option. Let's try with this.

[2018-09-26 16:01] Crashillo commented on #4182
It's due to Foundation defaults. Unlike `decidim-core`, in `decidim-admin` we use XY Grid. Taking a look at the page you mentioned, you'll note that the layout classes used belonging to the Float Grid (`.row, .columns...`), as public part of Decidim does. Foundation has disabled Float & Flexbox Grid by default from `v6.4`

That could be solved in `decidim-admin/.../stylesheets/_decidim.scss` by se

[2018-09-26 16:44] tramuntanal commented on #4183
I think I saw somewhere that we had custom names for the screenshots but maybe I'm wrong
I execute with `bundle exec rspec` so I'm using the very same version declared by Decidim.

[2018-09-27 01:46] deivid-rodriguez commented on #4183
I think this is because the issue in Rails has not yet been fixed. I commented on the Rails issue with a potential explanation.

[2018-09-27 07:07] mrcasals commented on #4182
Ugh, that's no good, then, but it's be nice to have a fix on this. I mean, the layout is not broken, it's just that it used to be a little better. Do we have any migration guide to move to XY Grid?

[2018-09-27 07:28] isaacmg410 opened #4188 "Loss homepage hero image when update from 0.13.1 to 0.14.1"
**Describe the bug**
A clear and concise description of what the bug is.

When we made the udpate of v.0.13.1 to 0.14, hero image on homepage it's lost.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13217

**To Reproduce**
Steps to reproduce the behavior:
1. Has an app in 0.13.1, with homepage hero image
2. Make the upgrade to 0.14.1
3. Run migrations
4. See that hero image disapp

[2018-09-27 07:36] mrcasals commented on #4188
Custom text is also lost, we're checking this.

[2018-09-27 08:43] Crashillo commented on #4182
I was trying to make it work both grids together, but I couldn't 😖
Anyway, there's no migration guide, but..... https://youtu.be/tjjVKGeoi3A?t=4m15s 🎉

[2018-09-27 09:16] mrcasals commented on #4182
Oh, looks like it's a simple find&replace (*famous last words*). I'll try to work on that!

[2018-09-27 09:47] mrcasals commented on #4182
OK, I tried a quick find&replace of what the video says, and this is the result I get:

The "edit process" page:
![](https://i.imgur.com/27wnCPA.png)

This might need some work, so I'll leave it for another moment when I have more time to dig into this.

[2018-09-27 10:20] amiedes opened #4195 "Newsletter preferences lost after migration"
**Describe the bug**

In [this migration](https://github.com/decidim/decidim/blob/master/decidim-core/db/migrate/20180611121852_change_newsletter_notification_type_value.rb) related to [this issue](https://github.com/decidim/decidim/issues/3492) the `User#newsletter_notifications` attribute was changed per `User#newsletter_notifications_at `.

The following line is intended to migrate the values:

[2018-09-27 10:48] mrcasals commented on #4195
Hi @amiedes! Thanks for the report!

@decidim/lot-mods can you check this please?

[2018-09-27 10:52] MarcReniu commented on #4195
@mrcasals How can I do this safely? I mean, this is an "old" migration, but can I just modify it?

[2018-09-27 11:43] deivid-rodriguez commented on #4195
Thanks @amiedes, this is a great report and something to definitely keep in mind for the future. So how does this fail, does it crash, or it just does nothing silently?

If it's crashing, I guess we can just update the migration so new installations pick it up and old installations can fix the migration manually so they can run it?

If it's silently doing nothing, I think we need a new migration t

[2018-09-27 12:37] isaacmg410 commented on #3743
@carolromero @decidim/product you can find it in my staging :)

[2018-09-27 12:39] mrcasals commented on #3893
@decidim/product if a user group can be mentioned in a comment, who receives the notification? Everyone in the group? Only the admins?

[2018-09-27 13:05] mrcasals commented on #3893
More doubts and comments, @decidim/product. Sorry for the bunch of posts, but these doubts keep appearing as I work on the issue.

- The issue description does not show it, but the layouts show a description for a user group. We don't have this, so we'd need to add it, but there's no layout for this kind of profile editing. The same applies to the user group avatar and website.
- Do badges apply t

[2018-09-27 13:16] amiedes commented on #4195
Hi! You're welcome 😄

It fails silently. Even if it's an old migration I think this line should be removed (or fixed):

[code]

Otherwise, other installations of Decidim that upgrade to 0.13 will lose the information of which users were subscribed to the newsletter when doing `db:migrate`.

[2018-09-27 14:05] carolromero commented on #3893
I'd say only the admins. I'm picturing having large organizations with a lot of members and also a user belonging to several groups. To me it makes sense that the _dinamization_ it's done by the admins.

So, in general, usergroups can have members (that appear listed in a members tab, read below) and can have admins.  The latter are the ones who can perform actions "on behalf of" that usergroup.

[2018-09-27 14:14] mrcasals commented on #3893
I mean, for a single user we have a special section to edit the profile, integrated into the "Edit account" section. There you can edit the avatar, description and website URL. But the layout @decidim/lot-px gave doesn't show a way to modify this for a given user group. We'll need a way to edit this info.

[2018-09-27 14:27] carolromero commented on #4135
Thanks @isaacmg410, let's wait for the input from @decidim/lot-px , but I would say that regardless of the new design for the horizontal menu, the only adjustments to the Conferences specific design would be to move the CTA buttons that now appear on the left, to the right.

[2018-09-27 14:50] ahukkanen opened #4197 "Make badges functionality optional per organization"
**Is your feature request related to a problem? Please describe.**
It should be possible to configure whether the badges are enabled or not.

We have an upcoming Decidim instance which only uses a subset of Decidim's features and the badges functionality is not needed there and can cause some confusion among the users.

Looking at the code it doesn't seem very straight forward to disable the badge

[2018-09-28 06:31] isaacmg410 commented on #4135
@carolromero Are you referring to hero's CTA buttons? or move the whole sidebar to the right?

[2018-09-28 06:50] carolromero commented on #4135
@isaacmg410 I was referring to the whole sidebar
![imatge](https://user-images.githubusercontent.com/23509895/46192450-66ad1880-c2fb-11e8-9ecc-0fc03950131e.png)

[2018-09-28 07:59] tramuntanal commented on #4195
Hi @deivid-rodriguez we're already doing this with meta-decidim. It is strange that nobody found this until now. Thanks @amiedes for notifying!

[2018-09-28 09:07] isaacmg410 commented on #4135
@carolromero done! :)

[2018-09-28 09:18] mrcasals commented on #4197
Hi @ahukkanen! Thanks for the idea. I'm tagging this as an enhancement of an existing feature.

@decidim/product thoughts?

[2018-09-28 09:50] carolromero commented on #4197
Hi @ahukkanen!

Thank you for the proposal. In fact, this was already planned in our Gamification EPIC:
https://github.com/decidim/decidim/issues/2976#issuecomment-374658487 Let's see if we can do one more iteration.

Anyway, and as a methodological note ;) it is better that you publish the proposals in [metadecidim](https://meta.decidim.org/processes/roadmap/f/122/) because eventually we will clo

[2018-09-28 09:52] ahukkanen commented on #4197
@carolromero I know but I just feel it's a bit redundant and causing extra work reporting these.

I've taken the path that I create my **suggestions** (that may require further evaluation) in Metadecidim and direct "**what should**" type of issues directly to GitHub. With this issue I feel it's not something that needs to be discussed, this should be a feature.

[2018-09-28 12:59] mijailr opened #4200 "ViewModels - Cells documentation outdated | unclear"
**Describe the bug**
I follow the guide in [/docs/advanced/view_models_aka_cells.md](https://github.com/decidim/decidim/blob/c1982240a8a276c703dc9150bf89de9707bc566f/docs/advanced/view_models_aka_cells.md) and some of the steps are outdated or is unclear.

The part of **autoload view_model to module** is not implemented in some decidim-[components] and can't track if that file exists.

Following t

[2018-09-28 13:12] mrcasals commented on #4200
@mijailr you're right, you don't need to autoload the `ViewModel`, we use the one defined in `decidim-core` (`Decidim::ViewModel`), so we should remove this from the guides and remove all the remaining `autoload :ViewModel`, which don't actually work.

Apart from that, I don't understand what are you trying to achieve, and what are you doing in order to get this error message. Without a stacktrace

[2018-09-28 13:16] mrcasals commented on #4200
I've added #4201 to fix the docs and remove the unused code (those `autoload`s)

[2018-09-28 13:20] mijailr commented on #4200
The problem is implementing cells for a new component I think following this guide the cell is not loaded

[2018-09-28 13:22] #3898 closed, assigned to nobody

[2018-09-28 13:31] mijailr commented on #4200
Yes, both i think is loading `Decidim::CardCell` and ignore the definition of my custom ComponentCell

[2018-09-28 13:33] mijailr commented on #4200
in `Cell::ViewModel.view_paths` y can see the component cards and views path, but i think something is missing.

[2018-09-28 13:57] mrcasals commented on #4200
Without seeing the code, or without any more context, this is a little hard to debug. Are you calling the cell through the `card_for` method? If you are, then it assumes:

1. You are passing an object that includes the `Decidim::Resourceable` module in the model definition
1. In the `component.rb` file of your code, you are declaring a `component.register_resource(:my_resource)` section, and it de

[2018-09-28 15:15] deivid-rodriguez commented on #4195
You mean testing out the migrations against decidim data? What I meant is that it'd be great if we started unit testing data migrations. It's work, but I think it's worth it!

[2018-09-28 16:01] ahukkanen opened #4202 "GraphQL duplicate type definition issue during code reload (development environment)"
**Describe the bug**
The GraphQL API is causing the following exception being thrown breaking the comments component when code reloading happens:

[code]

This issue only exists in development environment where the Decidim classes are being reloaded after code changes happen on the application level.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the master branch
2. Create the dummy

[2018-09-28 18:46] mijailr commented on #4200
That was the magic, i did not know the model have to have `Decidim::Resourceable` this have to be included in the documentation of `view_models_aka_cells`.

[2018-09-29 10:39] ahukkanen commented on #4202
I added a fix/hack locally that removes the type definition folders from the Rails' `autoload_paths` and reloads the original definitions after the constant reloading has happened.

I think this confirms that moving these outside of the `app` folders would fix this problem until they find a permanent solution to https://github.com/rmosolgo/graphql-ruby/issues/1505.

Here is the fix in case someone

[2018-09-29 14:34] #3506 closed

[2018-09-29 15:34] #2589 closed

[2018-09-29 21:01] tramuntanal commented on #4195
Sorry, I did not understand you. Well I don't feel it will add value to test systematically (for example a create table) but in some cases like the one we have here indeed.

[2018-09-29 22:03] deivid-rodriguez commented on #4195
Ideally I'd like a `type: :migration` spec that for each migration N to be tested:
* Creates a temp DB and migrates it to N-1, on setup.
* Let's you create data, run the migration on make assertions on the data, on the test body.
* Drops the temp DB, on teardown.

That would take some work to implement, but once implemented I think it would make the migration system much more trustworthy.

[2018-09-30 10:41] carolromero commented on #3209
We will have a general explanation page of Decidim features and spaces (see #3712 Contextual Help System). We can establish that the badge is granted when the page is read to the end.

Ok, let's reframe it. Let's say you level up by visiting the platform for a consecutive number of days: 10, 30, 60. 180, 365. This is how Stack Overflow does it, for example. https://stackoverflow.com/help/badges/83

[2018-10-01 07:27] mrcasals commented on #3942
I think the "Deploy" section solves this:

https://github.com/decidim/decidim/blob/c1982240a8a276c703dc9150bf89de9707bc566f/docs/getting_started.md#deploy

@lupa18 can we close this issue?

[2018-10-01 07:34] mrcasals commented on #4200
@mijailr I've updated the PR to reflect this, thanks!

[2018-10-01 07:37] mrcasals commented on #4202
Hi @ahukkanen! Thanks (again!) for the amazing bug report, the patch and the solution! 😄

I think the best solution here is moving everything to the `lib/` directory until the issue in the gem is solved. @decidim/developers any comment here?

[2018-10-01 07:56] MarcReniu commented on #4202
IMHO I would prefer not to move files because this will affect all environments. Adding a temporal initializer for development until the fix seems good to me.

[2018-10-01 07:59] ahukkanen commented on #4202
@MarcReniu Yes, you are correct. Implementing the change would make it work consistently in all environments.

Now we have inconsistent behavior in the app depending on the environment.

[2018-10-01 08:16] mrcasals opened #4204 "Unique nicknames on multiple classes"
I'm working on #3893, and one of the requisites of that issue is that User Groups should be mentionable in a comment. Currently, only Users have nicknames. They include a concern called `Decidim::Nicknamizable`, which holds the logic to create nicknames.

Here are the options I have:

1. Don't make nicknames unique organization-wise. This means a User and a User Group could both have the same nick

[2018-10-01 08:30] oriolgual commented on #4204
No solution is perfect, but if I have to chose I'd go with `2.ii`, it's not as strong as having the database integrity but we can make sure with a custom validation that there are no user with a nick.

[2018-10-01 08:34] oriolgual commented on #4202
Having an initializer surely works as a hack/temporal solution, but not as a solution (and It doesn't seem this is going to be fixed soon at the gem). What's the issue with moving everything to `lib` @MarcReniu ?

[2018-10-01 08:52] arnaumonty opened #4205 "Limit the communication in conversations to users that I'm following"
In order to improve the communication system and avoid possible troubles in direct private communication in Decidim, the communication has to be limited to users with following relation.

The expected behaviour is:
- [ ] Limit the conversations to users that I'm following.
- [ ] Allow users to choose if they want to receive messages from everyone or just from the people that I'm following.
- [ ] A

[2018-10-01 08:53] Xfolchf opened #4206 "Generating a private user is not included in the record of administration activities [Assemblies]"
**Describe the bug**
When an admin generates a private user, it does not remain in the activity log and when it is deleted it does not either. I understand that in this way this privacy is not kept, and it does not separate the organ from the administration because it could generate itself, enter and be eliminated again without any record of this action.

https://meta.decidim.org/processes/bug-rep

[2018-10-01 08:55] MarcReniu commented on #4202
Dependencies, most of all.I

[2018-10-01 08:56] Xfolchf opened #4207 "Linking Assemblies"
**Describe the bug**
When linking 2 assemblies, the one that is below the other (in hierarchy) stops being accesible

https://meta.decidim.org/processes/bug-report/f/210/proposals/13220

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/46279125-8f861580-c568-11e8-99b5-a4cb4ae56598.png)

[2018-10-01 08:58] mrcasals commented on #4207
@decidim/lot-mods can you check this please?

[2018-10-01 08:58] Xfolchf opened #4208 "When adding members to an Assembly they don't show up publicly"
**Describe the bug**
When adding members to an Assembly they don't show up publicly, you can only find them through the admin pannel. Not from the front end.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13222

[2018-10-01 08:59] MarcReniu commented on #4202
If this does not affect GraphQL, I'm ok with this. I was thinking about file dependencies and all the effort to check that all works just for a fix in development environment.

[2018-10-01 09:00] isaacmg410 commented on #4207
@decidim/product can you describe the process to reproduce the error please? Also in which version occurs this?

[2018-10-01 09:01] ahukkanen commented on #4202
@MarcReniu The proposed change would not change anything functionality wise with GraphQL.

This would only affect autoloading, i.e. the GraphQL type definitions would be only loaded once during the application life cycle in all environments. This is already how it works in production environments, this would just make it work consistently in development too.

[2018-10-01 09:03] ahukkanen commented on #4202
And just to emphasize, I agree very much that the monkey patch should not be implemented in the core gems. I just put it here in case someone is looking for a quick fix for now.

[2018-10-01 09:06] Xfolchf opened #4209 "Exception: NameError Sidekiq/Decidim::DataPortabilityExportJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/4bebb07dfe064781a421ed087edc7875/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NameError: uninitialized constant Decidim::Results
  active_support/inflector/methods.rb:285:in `const_get'
    candidate = constant.const_get(name)
  ac

[2018-10-01 09:07] Xfolchf opened #4210 "Exception: Errno::ENOENT Sidekiq/Decidim::DataPortabilityExportJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/91534957ee3145f58b29b9228e48a67d/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
Errno::ENOENT: No such file or directory @ dir_s_mkdir - /app/decidim-barcelona/tmp/data-portability
  decidim/data_portability_file_reader.rb:32:in `mkd

[2018-10-01 09:09] Xfolchf opened #4211 "Exception: NoMethodError Sidekiq/Decidim::Proposals::NotifyProposalsMentionedJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/e34291269f824ffb96fb4f7ffdcc952f/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `linked_proposals' for nil:NilClass
  decidim/proposals/notify_proposals_mentioned_job.rb:8:in `perform'
    linked_propo

[2018-10-01 09:11] Xfolchf opened #4212 "Exception: ActionView::Template::Error Decidim::PagesController#show"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/cc0a14f5cc2b4313b1d5a2548768c8c8/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `title' for nil:NilClass
  bundle/ruby/2.5.0/gems/decidim-core-0.13.1/app/views/decidim/pages/decidim_page.html.erb:2:in

[2018-10-01 09:13] Xfolchf opened #4213 "Exception: NoMethodError Sidekiq/Decidim::DataPortabilityExportJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/7e1ea8ba6c784311b259dbaf29aa28aa/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `each_with_index' for #<Decidim::Surveys::SurveyAnswer:0x000000000be70ad0>
  active_model/attribute_methods.rb:430:in `me

[2018-10-01 09:15] Xfolchf opened #4214 "Exception: ActionView::MissingTemplate Decidim::PagesController#show"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/f24abca61cd74bd1820eccb1aca9fe59/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
  action_view/path_set.rb:48:in `find'
    find_all(*args).first || raise(MissingTemplate.new(self, *args))
  action_view/lookup_context.rb:116:in `find'

[2018-10-01 09:16] Xfolchf opened #4215 "Exception: ActionView::Template::Error Decidim::Accountability::VersionsController#show"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/1863bf7641724db6ae610a0ec6253391/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
I18n::InvalidLocale: "en" is not a valid locale
  i18n.rb:311:in `enforce_available_locales!'
    raise I18n::InvalidLocale.new(locale) if !locale_availa

[2018-10-01 09:18] Xfolchf opened #4216 "Exception: ActiveRecord::RecordInvalid Decidim::Devise::RegistrationsController#create"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/c0db48b642a5486f8e3ef5b7729c6992/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ActiveRecord::RecordInvalid: La validació ha fallat: Correu electrònic no està disponible, Nickname no està disponible
  active_record/validations.rb:80:

[2018-10-01 09:32] arnaumonty commented on #4207
@isaacmg410  I've been trying to reproduce the bug and I found that, in this example where [SOM Assembly](https://meta.decidim.org/assemblies/eix-comunitat?locale=ca) has three sons [Eix 1](https://meta.decidim.org/assemblies/eix-comunitat?locale=ca), [Eix 2](https://meta.decidim.org/admin/assemblies/eix-lab/edit?locale=ca), [Eix 3](https://meta.decidim.org/admin/assemblies/eix-px/edit?locale=ca),

[2018-10-01 10:15] #4188 closed

[2018-10-01 10:47] mrcasals commented on #4200
I consider this closed by #4201, if there's anything else we can reopen it! 😄

[2018-10-01 10:47] #4200 closed

[2018-10-01 12:19] furilo commented on #4129
Issue updated with a missing screen.

[2018-10-01 12:40] mrcasals commented on #4204
We're changing the approach to the original issue. UserGroups and Users will reside in the same DB table, so we won't have this problem anymore. It will also simplify the development of future improvements to UserGroups. UserGroups-specific data will reside in an `extended_data` JSON field in the DB.

Since both resources will reside in the same DB table, we won't have the nickname uniqueness prob

[2018-10-01 12:40] #4204 closed

[2018-10-01 14:31] carolromero commented on #3595
As we have agreed, we will have a single sign-up form, which will allow to register new users without having to validate the email.
Thus, the form will have the following fields: real name, nickname, password and email.

[2018-10-01 14:54] #3942 closed

[2018-10-01 19:09] ahukkanen opened #4217 "Data portability broken if user has submitted proposals with attachments"
**Describe the bug**
If the user has submitted any proposals that have images attached to them (and I would guess any attachments), the data portability feature does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the current master branch to run the dummy app and start it
2. Log in as the admin user
3. Go to account > my account > my data
4. Click "Request data" and see that

[2018-10-02 07:07] mrcasals commented on #4217
@ahukkanen thanks again for the detailed report!

@decidim/lot-mods can you check this please?

[2018-10-02 07:30] #2476 closed

[2018-10-02 09:29] carolromero commented on #2458
Closing this issue, waiting to reopen it when we have more cells of more components.

[2018-10-02 09:29] #2458 closed

[2018-10-02 11:57] Xfolchf opened #4220 "Exception: ActionDispatch::Cookies::CookieOverflow /processes/plamobilitatBCN/f/2624/proposals/compare"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/b8b5ab47f3854876bedf0057b8b9dee1/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ActionDispatch::Cookies::CookieOverflow: ActionDispatch::Cookies::CookieOverflow
  action_dispatch/middleware/cookies.rb:649:in `commit'
    raise Cookie

[2018-10-02 11:59] Xfolchf opened #4221 "Exception: OAuth::Unauthorized /users/auth/twitter"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/3ea5c6c3583843f880d2d6493b1e301d/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
OAuth::Unauthorized: 403 Forbidden
  oauth/consumer.rb:236:in `token_request'
    raise OAuth::Unauthorized, response
  oauth/consumer.rb:155:in `get_req

[2018-10-03 07:20] isaacmg410 commented on #4210
this issue  is a clone of #3918, so, it can be close @Xfolchf, no?

[2018-10-03 07:54] tramuntanal commented on #3398
Hi @decidim/product ,
In order to not block @MarcReniu . Do you agree in continuing with this issue until closed?
What is remaining is:
- Assemblies
- Participatory Processes
- Results (Accountability)
- Comments and Meetings

Also we need to know which ones are highlighted and which not.

Can you confirm/comment? We need feedback please

[2018-10-03 08:01] carolromero commented on #3398
Hi @MarcReniu and @tramuntanal, yes let's finish this issue first.
For highlighted elements, let's follow the proposed design:
![imatge](https://user-images.githubusercontent.com/23509895/46397715-33033180-c6f3-11e8-9bcf-b831419c73c7.png)

[2018-10-03 08:43] isaacmg410 commented on #4209
@decidim/lot-core I have been reviewing this issue and there are several things that make me crack down.

First of all, `Decidim::Result` not exisits in Decidim.

The results are not exported with the DataPortabilityExportJob since no user has created them.
`Decidim::DataPortabilitySerializers.data_entities` just return this classes
[code]

Second, `Result` depends on `Accountability` module, then

[2018-10-03 08:52] mrcasals commented on #4209
This `Decidim::Results` class seems to be in https://github.com/decidim/decidim-results, which is deprecated and not used anymore.

I checked this in the production DB, this is what I get:

[code]

[2018-10-03 08:55] isaacmg410 commented on #4209
Can you check with `Decidim::Results` in database please?

[2018-10-03 08:57] mrcasals commented on #4209
@isaacmg410 same results 😕

[code]

[2018-10-03 08:58] mrcasals commented on #4209
Same results apply for both Decidim Barcelona and Metadecidim 😕

[2018-10-03 09:05] mrcasals commented on #4209
We found out that Decidim Barcelona has some `Decidim::Follow`s that still depend on `Decidim::Results::Result`. I'll work to fix this.

[2018-10-03 11:19] amiedes opened #4227 "Extra error flash message on homepage when session expires"
**Describe the bug**

When the session expires and you click a link you're redirected to the homepage and two error flash messages appear. One saying the session has expired and a second one that just says "true".

**To Reproduce**

Steps to reproduce the behavior:

1. In the current `master` branch (now [aa8aa9b28](https://github.com/AjuntamentdeBarcelona/decidim-barcelona/commit/aa8aa9b287707f5a

[2018-10-03 12:00] mrcasals commented on #4227
I think this is caused by https://github.com/plataformatec/devise/issues/1777.

A good way to fix this could be this, maybe: https://github.com/coopdevs/timeoverflow/pull/380#discussion_r195193289

[2018-10-03 12:01] mrcasals commented on #4227
Thanks @amiedes for the report, BTW! 😄

[2018-10-04 07:36] #4217 closed

[2018-10-04 07:39] mrcasals commented on #3517
Closing this one in favor of #3540

[2018-10-04 07:39] #3517 closed

[2018-10-04 07:40] mrcasals commented on #3540
@decidim/product people keep having problems differentiating these two resources. Can we have some text, somewhere, explaining the differences between these two elements?

Thanks!

[2018-10-04 09:25] furilo opened #4230 "Process header and menu design explorations"
Here are some explorations about changes in process header and menu, in order to make the menu more visible and improve the phases indicator/CTA. Comments:

1. Hero style: we'd transition to a hero style, taking ideas from our [initial proposal](https://marvelapp.com/47870bd). The main reason is that this way we can have a more visible menu. Visually maybe its more appealling. We gain a little bit

[2018-10-04 09:45] furilo opened #4231 "Process menu: allow only one line"
We have situations like this where the menu takes more than one line:

![imagen](https://user-images.githubusercontent.com/24740/46465185-54821d00-c7c8-11e8-8bd9-698459f62b5d.png)

Now it's a problem to have several lines, with the new design (#4230) the problem would be bigger.

Possible solutions:

- Limit in the admin the lenght of the option menu (this does not solve the problem per se, but he

[2018-10-04 09:58] mrcasals commented on #4230
Looks good to me! I really liked your initial proposal when you presented it, so 👍 for me!

Just a question, the help section does not exist right now, right?

[2018-10-04 10:01] mrcasals commented on #4231
How do we calculate what elements don't fit in the menu? Since the names are customizable, I guess the only way to achieve this is via JS?

It bothers me that it might look like the "hidden" sections are not as important as the visible ones. What about showing them all, but making the menu laterally scrollable? We can limit the length of what is visible. It's a pattern I've seen in Android apps, f

[2018-10-04 10:28] Xfolchf opened #4232 "Sharing proposal with a link is not possible on touch screens"
**Describe the bug**
1. What went wrong?
When using a narrow touch screen device, the share link for a proposal is not completely visible and cannot be copied in the modal window. This is emphasized in the attached screenshot.

2. What did you expect to happen?
I would expect the share link to work with touch screen devices.

3. Where did you find this bug?
Default Decidim theme at Metadecidim.

4

[2018-10-04 10:29] mrcasals commented on #4232
Could be solved quickly by moving the URL inside an input

[2018-10-04 10:30] Xfolchf opened #4233 "The proposal card layout is broken on tablet portrait screens"
**Describe the bug**
1. What went wrong?
When using a narrow tablet portrait screen, the proposal card is broken as shown in the attachment. The progress bar spans below the button.

2. What did you expect to happen?
I would expect the layout not to break on tablet portrait view.

3. Where did you find this bug?
Default Decidim theme at Metadecidim.

https://meta.decidim.org/processes/bug-report/f

[2018-10-04 10:31] mrcasals commented on #4214
Can't reproduce, as the error says it fails to find the homepage.

[2018-10-04 10:32] Xfolchf opened #4234 "The proposal sidebar layout is broken on tablet portrait screens"
**Describe the bug**
1. What went wrong?
When using a narrow tablet portrait screen, the proposal sidebar layout is broken as shown in the attachment. The buttons look broken.

2. What did you expect to happen?
I would expect the layout not to break on tablet portrait view.

3. Where did you find this bug?
Default Decidim theme at Metadecidim.

https://meta.decidim.org/processes/bug-report/f/210/p

[2018-10-04 10:41] mrcasals commented on #4212
For some reason, Decidim Barcelona lacks the `Decidim::StaticPage` with the slug `"faq"`, which is taken for granted in the homepage, so the link fails.

[2018-10-04 10:49] mrcasals commented on #4212
I've added a redirection to the Barcelona app. Closing this.

[2018-10-04 10:49] #4212 closed

[2018-10-04 10:50] mrcasals commented on #3918
Closed by #4223

[2018-10-04 10:50] #3918 closed

[2018-10-04 10:50] mrcasals commented on #4213
Closed by #4223

[2018-10-04 10:50] #4213 closed

[2018-10-04 11:00] mrcasals commented on #3860
Duplicated of #4212.

[2018-10-04 11:00] #3860 closed

[2018-10-04 11:02] mrcasals commented on #3862
Duplicated of #3321.

This is solved in 0.14.x.

[2018-10-04 11:02] #3862 closed

[2018-10-04 11:35] carolromero commented on #4230
Hi @furilo, this is great! With this solution we're solving several problems at once. Also, your initial proposal always was a winner from the beginning :sunglasses:

Some comments / doubts:

- I love the hero style, and as you say, stays in tune with the current design of Conferences.
- Help system: definitely I'd go with your new proposal, I think it works very well. I understand that this are t

[2018-10-04 12:55] isaacmg410 commented on #4129
@furilo @decidim/lot-px Can we have the markdown of this section? Also, Have you designed the admin section to add the links?

[2018-10-04 14:09] #4227 closed

[2018-10-05 10:55] carolromero commented on #3540
I'm going to try to clarify what the original purpose of both was, but, **TL;DR: yes, probably right now they are redundant and we should just stay with Scopes**.

### Scopes
Scopes operate at the organization level (tenant) and the goal is to have several territorial layers (city, district, neighbourhood, etc.) which are then used to **define the scope of a given participation space** (process, a

[2018-10-05 11:58] #3717 closed

[2018-10-05 13:49] agustibr commented on #4173
Hi! I guess the reported error happens in the first step before the compare step.

So, this issue was inherited from the proposal wizard (fixed time ago for proposals) at the time of developing this feature.  :sob:

The exception raised is `ActionDispatch::Cookies::CookieOverflow in Decidim::Proposals::CollaborativeDraftsController#compare`

Related Issue and PR for `Proposal`:
+ [Error when creat

[2018-10-05 14:21] agustibr commented on #3901
Hi! @decidim/lot-core is there any progress on this issue?

As agreed in the last meeting, @decidim/lot-core should make the pertinent modifications so that the _official authorship_ can work with co-authorship's of the proposals.

[2018-10-05 14:31] agustibr commented on #4035
After talking about this issue offline, it was decided to solve it by enabling the buttons in the FrontEnd to the administrators (of the tenant or space) and that they would receive the notifications regarding the official proposals.
@decidim/lot-core is there any advance on it? can you tell me where I can follow the development?
thanks.

cc/ @decidim/product

[2018-10-05 15:16] agustibr commented on #4174
is this installation running the `0.14` Decidim version as stated in the issue's description?

as the code in the link does not seem from the stated version:

the query:

- ![screenshot from 2018-10-05 17-09-10](https://user-images.githubusercontent.com/210216/46543566-77442c80-c8c1-11e8-9ccd-69b0e872c7a6.png)
- https://github.com/decidim/decidim/blob/91ff0016089aa3c4ae2c9dee8728d55bcf08f44b/decid

[2018-10-08 07:15] mrcasals commented on #3816
@MarcReniu @Crashillo what's the status on this?

[2018-10-08 07:30] #4140 closed

[2018-10-08 07:31] mrcasals commented on #4174
@agustibr Decidim Barcelona is using `0.13.1` right now (you can check it via the [Monitor](https://decidim-monitor.herokuapp.com/))

[2018-10-08 07:35] mrcasals commented on #4035
@agustibr we have no news about this. Shouldn't this be part of the development of amendments? Why do you need us here?

[2018-10-08 07:36] mrcasals commented on #3901
@agustibr no progress yet.

[2018-10-08 08:04] furilo commented on #4230
@mrcasals the help section is the evolution of the banner call out we have. It would mean just adding the ability to add banners in more sections. Let's keep discussing in #3963

@carolromero Reus could look something like:

![imagen](https://user-images.githubusercontent.com/24740/46597699-8275a300-cae1-11e8-883e-720fa9ed2262.png)

I guess we have the OK to proceed to HTML. Please confirm @decidi

[2018-10-08 08:07] mrcasals commented on #4230
@furilo thanks! The issue you link to doesn't seem to be related to this, maybe you mistyped it? 😄

[2018-10-08 08:09] furilo commented on #4230
@mrcasals haha totally: here it is: #3973

[2018-10-08 08:17] carolromero commented on #4230
Hi @furilo we have pending this: https://github.com/decidim/decidim/issues/4231 before we move forward. Also, when you click the "More..." link, how is the complete menu displayed?

[2018-10-08 08:47] Xfolchf opened #4240 "Public profile navigation broken on narrow mobile screens"
**Describe the bug**
1. What went wrong?
The public profile navigation where user is able to navigate between the public profile links (notifications, conversations, follows, etc.) is not fully visible and accessible on mobile screens to the user. On some devices the menu items span over each other and on some other devices, the menu element spans over the sides of the screen.

2. What did you exp

[2018-10-08 08:56] Xfolchf opened #4241 "Exception: ActionView::Template::Error Decidim::PagesController#show"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/e318296d010d437cbc78f8da349f65e7/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ActiveModel::MissingAttributeError: missing attribute: welcome_text
  active_record/attribute_methods/read.rb:77:in `block in _read_attribute'
    @attri

[2018-10-08 08:57] mrcasals commented on #4241
This error was caused during a version update. Solved now.

[2018-10-08 08:57] #4241 closed

[2018-10-08 08:57] Xfolchf opened #4242 "Exception: NoMethodError Decidim::Proposals::ProposalsController#compare"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/04207ba6302e4e9e82623e11cad00b67/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `[]' for nil:NilClass
  decidim/proposals/similar_proposals.rb:33:in `query'
    @proposal[:title],
  decidim/proposals/s

[2018-10-08 09:16] Xfolchf opened #4244 "Exception: ActiveRecord::StatementInvalid Decidim::Proposals::Admin::ProposalsController#create"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/360e525ec8e44396bbd5fa1642f6c721/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::ProgramLimitExceeded: ERROR:  index row size 4848 exceeds maximum 2712 for index "decidim_proposals_proposal_body_search"
HINT:  Values larger than 1

[2018-10-08 09:30] tramuntanal commented on #3752
Hi @decidim/lot-px and @decidim/product ,
We have some things to be clarified before starting to work on the public part of Participatory Texts.

- The "Ver índice" button opens a layout in a new screen, shouldn't it be a floating or modal div?
- Under the title of the participatory text there is an author, a date and the number of comments. Is this correct? A whole participatory text does not hav

[2018-10-08 09:59] josepjaume commented on #3209
@carolromero I'm working on the information page, but there's nowhere to link it on the implemented design. Where should we link it from?

[2018-10-08 10:08] carolromero commented on #3209
@furilo could help here please? Is this planned in the design?

[2018-10-08 10:14] josepjaume commented on #3209
I've added a link to the top of the page, right after the description. We should move on.

[2018-10-08 10:15] josepjaume commented on #3209
@carolromero the issue with the approach is that it would work for a one-time badge, but not with a badge with levels (as you wouldn't know under what condition to get to the next level).

[2018-10-08 10:36] arnaumonty commented on #1872
https://github.com/decidim/decidim/pull/4150

[2018-10-08 10:44] arnaumonty commented on #1872
In order to close this issue, we propose:

- [ ] Apply control version in the edition of proposals done it by admins #4150

[2018-10-08 11:03] xabier commented on #3209
yes, including a continuation of the 10 original days.

[2018-10-08 11:04] amiedes opened #4247 "Duplicated JS request on Decidim::FollowsController#create"
Thanks for the celerity solving the issues! This is very helpful 😄

**Describe the bug**

Clicking on the "Follow" button of a proposal card generates two HTTP requests, where the second one produces a DB unique constraint violation because the item is already being followed.

**To Reproduce**

1. Setup a decidim application, create the db and load the seeds
2. Login as the default dev user (`user

[2018-10-08 11:34] andreslucena opened #4248 "Open Data: export to CSV"
**Is your feature request related to a problem? Please describe.**
As a researcher, I'd want some easy way to download all the public data. For the MVP:

* Proposals
* Meetings
* Results

**Describe the solution you'd like**
To have an Open Data section (linked on the footer for instance) where a user could download all by CSV.

All of these csv files should include all the metadata that each comp

[2018-10-08 12:30] mrcasals commented on #4174
We've updated Decidim Barcelona to the latest version, we can't keep supporting old versions forever and right now the platform is not stable enough for this.

[2018-10-08 12:33] mrcasals commented on #4174
Closing this.

[2018-10-08 12:33] #4174 closed

[2018-10-08 12:36] mrcasals commented on #4247
@amiedes thanks for the report! Can you check if this happens on a proposal page (a `show` action, instead of an `index` one), please?

[2018-10-08 12:38] furilo commented on #4231
@mrcasals lateral scroll: for mobile I think it's an OK solution, not so for desktop as users don't have the expectation of a menu under lateral scroll

@carolromero hidden options could be shown like this:

![imagen](https://user-images.githubusercontent.com/24740/46609329-d2fff700-cb07-11e8-83fa-85c2ef044318.png)

![imagen](https://user-images.githubusercontent.com/24740/46609308-c9768f00-cb07-1

[2018-10-08 12:40] furilo commented on #3209
@josepjaume @carolromero the idea is to reach this page via de "more information" links in the tooltip:

![imagen](https://user-images.githubusercontent.com/24740/46609392-05115900-cb08-11e8-99cf-4a5289a5c240.png)

In addition we could link to this page from the more information pages.

[2018-10-08 12:43] agustibr commented on #2292
@decidim/product, @decidim/lot-px what is the design or variant to render a CardM for _Amendments_?

[2018-10-08 12:58] furilo opened #4250 "Gender neutral badges"
@decidim/product confirm if this modification for the badges is ok:

<img width="152" alt="imagen" src="https://user-images.githubusercontent.com/24740/46610258-80740a00-cb0a-11e8-8378-748bdb9e2317.png">

<img width="154" alt="imagen" src="https://user-images.githubusercontent.com/24740/46610250-7a7e2900-cb0a-11e8-8e46-a6729221b432.png">

[2018-10-08 13:15] agustibr commented on #4035
Hi @mrcasals, is the `current_admin` available in the public website or how can it be handled if a user has admin permission on the current space?

[2018-10-08 13:18] mrcasals commented on #4035
You chan check wether the current user has permission to perform a given action on the `:admin` scope, and then set the permnission in the permissions file

[2018-10-08 13:33] carolromero commented on #4231
ok @furilo thanks, let's go ahead with the proposal.
cc/ @decidim/product

[2018-10-08 13:57] isaacmg410 commented on #4207
@arnaumonty I have been reviewing the issue that you are telling me, and the assembly you say has no assigned daughters.
Check the next screenshot,
![screenshot-meta decidim org-2018 10 08-15-56-17](https://user-images.githubusercontent.com/28536082/46613185-dba9fa80-cb12-11e8-9d22-11f75a8b09a5.png)

[2018-10-08 14:28] furilo commented on #4231
ok great

[2018-10-08 14:32] furilo commented on #3973
Questions:

- we are just evolving the current banner system, right? adding the ability to close it as shown in designs (#4230); every current banner will work the same way
- do we want to change de admin (maybe centralizing in one same page all the banners, so it is easy to change them)?
- what are the new pages/sections that will have banners?

[2018-10-08 14:37] carolromero commented on #3752
Hi @tramuntanal,

I don't know how @decidim/lot-px thought about it. @furilo could you please chime in here?

Yes, that's not correct. This shouldn't be in the whole participatory text layout:
![imatge](https://user-images.githubusercontent.com/23509895/46615020-86bcb300-cb17-11e8-9965-567579b2df57.png)

Correct. They should be independent of each other.

This doesn't necessarily have to be so. Re

[2018-10-08 16:04] tramuntanal commented on #4173
@agustibr who should solve the problem here? is it already solved?

[2018-10-08 16:19] tramuntanal commented on #4244
Hi @decidim/lot-core it has nothing to do with the search engine that uses full text search. This index was created in the second migration in decidim-proposals.

[2018-10-08 16:54] carolromero commented on #3973
yes, you convinced me the other day that is better in terms of usability if we keep the same design across the platform ;-)

ok, what we have in mind is managing the contextual help at 2 different levels:
- at a general level, this is the Full Help Page reusing this layout: https://www.decidim.barcelona/accountability/sections#planificacio which must include a section for each participation space

[2018-10-08 17:10] carolromero commented on #2292
hi @agustibr, ok I think at this point and in order to move forward we can go for this option:
![imatge](https://user-images.githubusercontent.com/23509895/46623272-68fa4880-cb2d-11e8-8f3b-a0c4d11455c7.png)
So the label "Amendment" will help to quickly identify it and for context you will see the participation space where it belongs.

cc/ @decidim/product

[2018-10-08 19:40] #3218 closed

[2018-10-09 07:14] mrcasals commented on #4173
@agustibr we updated Decidim Barcelona to 0.14.2 yesterday. This version includes #3744, which should fix this issue. Let's close this and reopen it if it happens again.

Sorry for the inconvenience! 😞

[2018-10-09 08:04] amiedes commented on #4247
@mrcasals sure! Yes, it also happens in the `show` action.

[2018-10-09 08:12] mrcasals commented on #4247
@amiedes thanks! This helps with the debugging 😄

We'll try to find a moment ASAP to work on this!

[2018-10-09 09:57] mrcasals commented on #3209
@decidim/product @xabier in https://github.com/decidim/decidim/issues/3893#issuecomment-425105754 I was told badges should work for user groups too. How are these badges going to work for user groups?

- Continuity: a user group does not "log in" or "visit" the platform.
- Attended meetings: a user group cannot attend a meeting
- Tutorial completed: there's no tutorial for use groups
- Diffusion:

[2018-10-09 11:54] xabier commented on #4231
Looks good to me!

[2018-10-09 12:09] carolromero commented on #3209
Hi @mrcasals, it makes sense for user groups to have badges. It's true that not all participant badges apply to user groups. But eventually we will add specific badges for user groups. At the moment we can use the badges of:
Proposals, Accepted Proposals, Initiatives, Debates

[2018-10-09 13:32] #4197 closed

[2018-10-09 14:15] mrcasals commented on #3893
I don't see any mockup of how  to create a user group from my own profile, is it OK if go ahead and improvise? @decidim/lot-px @decidim/product

[2018-10-09 14:18] furilo commented on #3893
This was going to be an option in the personal menu, right @decidim/product?

[2018-10-09 14:27] oriolgual commented on #4159
- I don't understand the "What affects me" feature, could you please elaborate?
- Any estimates on when the UX part of the improvements will be ready?
- Improve user search: does this mean the global search or when mentioning someone?
- About the active filter for search: what about the results that come from non-process spaces?
- Should we move the social media login icons?

@decidim/product @fur

[2018-10-09 14:31] oriolgual commented on #2283
I know we talked about this at the last meeting @decidim/product, but I forgot to update this. After reading the issue I'm not entirely sure of what we should do.

[2018-10-09 15:48] arnaumonty commented on #1872
@oriolgual yes we should record a version everytime that proposal is edited and saved.

[2018-10-10 07:08] mrcasals commented on #3893
@carolromero yeah, that's what I was going to do 😄

[2018-10-10 07:09] carolromero commented on #3893
perfect @mrcasals :blush:

[2018-10-10 07:47] oriolgual commented on #3973
@carolromero about the sections in the full help page, we'll have one for participatory space and one more to other content? Should the admins be able to create more sections?

[2018-10-10 07:52] oriolgual commented on #3973
At #4136 it seems that it only applies to processes, is this also for assemblies or just processes?

[2018-10-10 08:09] oriolgual commented on #4159
Which text is missing now?

We can already filter by type and the cards show the item type, right?

[2018-10-10 08:35] arnaumonty commented on #4250
@furilo Let's go with this last version. Great job!

[2018-10-10 08:38] carolromero commented on #4250
This is perfect @furilo

[2018-10-10 08:39] carolromero commented on #3973
Hi @oriolgual, ok I'm picturing something like this (this is only a quick mockup):

![imatge](https://user-images.githubusercontent.com/23509895/46723229-a2d76600-cc77-11e8-9628-970f84d43f27.png)

Therefore, I'd say that by default you will have a set of preloaded sections, and depending of the participation spaces you are using, you can publish/unpublish them.

So, admins should be able to create

[2018-10-10 08:43] oriolgual commented on #3166
* Should we display the iframe only for registered users, or only for people that have signed up at a meeting?
* Can you write down the disclaimer text?

[2018-10-10 08:44] josepjaume commented on #3209
Hi, I've just implemented the [Continuity Badge](https://github.com/decidim/decidim/pull/4257). The last badge to implement would be the "diffusion" one, but I'd strongly recommend against it as we don't have an effective way to track whether a user has shared something or not. The suggested solution (giving the score whenever clicking) is too weak IMHO and would be prone to abuse.

Thoughts @deci

[2018-10-10 08:51] oriolgual commented on #3837
How do we match the emails with the user groups (they don't have an email)?

[2018-10-10 08:54] oriolgual commented on #1872
@arnaumonty we explicitly didn't track these changes as versions since they are meant to fix typos or similar issues. Do we need to allow editing proposals any time or just during the N number of allowed minutes? Should official proposals be allowed to be edited always?

[2018-10-10 08:59] carolromero commented on #3973
Ok, let's recap to be on the same page.

We won't finally use the Process Intro proposal with the three content blocks since we are rethinking the whole "header/phases/menu/announcements" combo in this issue #4230.

#4136 was an exploration that has been finally discarded, so to avoid confusion, I will close and remove this issue from the Contextual Help System EPIC.

cc/ @decidim/lot-px @decidim/

[2018-10-10 09:05] carolromero commented on #4136
Hi, I'm closing this issue since we have finally decided to go with #4230 proposal.

[2018-10-10 09:05] #4136 closed

[2018-10-10 09:32] arnaumonty commented on #1872
@oriolgual on this issue we propose to extend the traceability to the edition of proposals just for admins (after the N minutes limitation by users). The reason to track is to avoid unexpected behaviours by admins. The edition should be allowed until the suports are enabled.

[2018-10-10 09:49] mrcasals commented on #3893
Just to be clear, there's no design of the "Create user group" form, I'll try to move forward by myself.

[2018-10-10 09:51] andreslucena commented on #3837
I don't understand this, on registration form for User Groups we ask for mail. Do you mean we don't confirm it? Or that technically in this form the email should be a personal email?

@oriolgual

[2018-10-10 09:57] mrcasals commented on #3837
@andreslucena when someone signs up as a User Group, we create a new user with the email, and create a User Group, and associate those two. Relating to #3893, that user would be the "founder"/"creator" of the user group, and no one would be able to remove them from the group.

But in #3893 the user group creation process is changing (see #4256 for a WIP PR), now the user groups are created from th

[2018-10-10 11:04] oriolgual commented on #1872
To recap: Admins should be able to edit an official proposal as long as supports aren't enabled and when they do it there should be a public history (like results) of the changes.

Is this correct @arnaumonty?

[2018-10-10 13:45] ahukkanen commented on #3503
This is something that has also been requested from us.

We came to conclusion that currently to bypass this, would be easier just make the necessary functionality in the front-end and manage the permissions with custom authorizations (part of a specific organization).

We also have in the requirements list e.g. that specific users should only ONLY be able to edit the meetings or budgeting project

[2018-10-10 16:36] Crashillo commented on #3752
Here it is https://github.com/decidim/decidim/pull/4258

[2018-10-11 08:59] mrcasals commented on #3893
@decidim/product @decidim/lot-px I have more doubts, now about the "Follow" feature: how is the design supposed to work?

To follow, now we have a single button. It shows whether you are following the given resource or not. If we let user groups follow things, we need to change the button:

1. On click, you need to select if you are acting as yourself or on behalf of a user group
2. We need a way

[2018-10-11 09:57] Xfolchf opened #4261 "Current tenant shows verifiers that aren't enabled on multi tenant system"
**Describe the bug**
1. What went wrong?
I create a new tenant on a multi tenant system. I enabled one verifier of the three available. But in backoffice of the tenant appears all of them.

2. What did you expect to happen?
I expected only see the verifier enabled in that tenant in the backoffice.

3. Where did you find this bug?
Multi tenant system. It appears on the backoffice of the tenant. I d

[2018-10-11 09:59] Xfolchf opened #4262 "Conversation threads don't diplay in the correct order (most recent first)"
**Describe the bug**
When I get a new private message, If the conversation with that person was already started, the thread doesn't move up.
I would expect that the most recent threads display at the top of the page.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13288

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubu

[2018-10-11 10:09] Xfolchf opened #4263 "Exception: NoMethodError Decidim::Surveys::Admin::SurveysController#edit"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/90f8941ac8b54dc7a2051880e5b0b160/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `questions' for nil:NilClass
  decidim/surveys/admin/survey_form.rb:20:in `map_model'
    self.questions = model.question

[2018-10-11 10:12] Xfolchf opened #4264 "Exception: ActionView::Template::Error Decidim::Initiatives::Admin::InitiativesTypesController#edit"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/16e339f1a7da4e879b3c46deb0113402/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
NoMethodError: undefined method `name' for nil:NilClass
  bundle/ruby/2.5.0/gems/decidim-initiatives-0.14.2/app/views/decidim/initiatives/admin/initiativ

[2018-10-11 10:14] Xfolchf opened #4265 "Exception: ActionController::InvalidCrossOriginR... Decidim::CookiePolicyController#accept"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/1649e105758e4b8a9c8f4ca5b94054cf/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ActionController::InvalidCrossOriginRequest: Security warning: an embedded <script> tag on another site requested protected JavaScript. If you know what

[2018-10-11 10:15] Xfolchf opened #4266 "Exception: Net::SMTPSyntaxError Sidekiq/Decidim::Admin::NewsletterDeliveryJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/564193b8cca34bf6910e1d5975a056b4/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
Net::SMTPSyntaxError: 501 Syntax error in parameters

  net/smtp.rb:969:in `check_response'
    raise res.exception_class, res.message
  net/smtp.rb:937:

[2018-10-11 10:17] mijailr opened #4267 "Error editing result in accountability"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Participatory Proccess accountability'
2. Click on 'Edit result'
3. See error

**Expected behavior**
This should display the edit form but error is displayed

**Stacktrace**
[code]

**Extra data (please complete the following information):**
 - Decidim Version: 0.14

[2018-10-11 10:20] mrcasals commented on #4267
It seems to be missing the `Decidim::ApplicationHelper`

[2018-10-11 10:28] mijailr commented on #4267
that is in the controller.

[2018-10-11 10:35] mijailr commented on #4267
i think `present` is not necesary in this line:

`<%= form.data_picker(:proposals, picker_options, prompt_params) {|item| { url:proposals_results_path(current_component, format: :json), text: "##{item.id}- #{present(item).title}" }} %>`

We can change to:

<%= form.data_picker(:proposals, picker_options, prompt_params) {|item| { url:proposals_results_path(current_component, format: :json), text: "

[2018-10-11 10:37] mijailr commented on #4267
i can make the PR if you like or if you know why the present method is used here, because in all decidim i cant locate a similar implementation.

[2018-10-11 10:46] mrcasals commented on #4267
`present` is used to find the presenter of the given item, which will normalise how to access the title. Maybe @isaacmg410 can give some more insights here, since I think he added the line.

I think including the `Decidim::ApplicationHelper` to the controller will be enough.

[2018-10-11 10:52] mijailr commented on #4267
The `Decidim::ApplicationHelper` is already in the controller, there have to be another reason, but to this implementation (this display only the title) i think is not necesary to retrieve a presenter.

[2018-10-11 10:56] mrcasals commented on #4267
I'm pretty sure there's a reason for that `present` to be there... It was added on #4081 by @isaacmg410, let's wait for his feedback here!

[2018-10-11 12:39] mrcasals commented on #3893
For "Invite users to the user group", and "Request access to be part of a member of a UserGroup", we need a way to list:

For "Invite users to the user group", we need a way to notify users that they have been invited. Should users be able to reject an invite? Where are all these invites listed?

For "Request access to be part of a member of a UserGroup", how is a user notified that their request

[2018-10-11 12:39] mrcasals commented on #3893
@decidim/product For "Invite users to the user group", and "Request access to be part of a member of a UserGroup", we need a way to list:

For "Invite users to the user group", we need a way to notify users that they have been invited. Should users be able to reject an invite? Where are all these invites listed?

For "Request access to be part of a member of a UserGroup", how is a user notified th

[2018-10-11 13:28] #3190 closed

[2018-10-11 13:53] isaacmg410 commented on #4267
@mrcasals @mijailr `present` is used to parse the title and display the hashtags in the title of the proposal correctly.

we need to change  `include Decidim::ApplicationHelper` to `helper Decidim::ApplicationHelper`

I will, create a PR to fix it

[2018-10-11 14:57] arnaumonty commented on #3893
@mrcasals

To follow, now we have a single button. It shows whether you are following the given resource or not. If we let user groups follow things, we need to change the button:

I don't think I can develop this part of the issue until this is solved. I'll focus on the user management meanwhile.

We have been discussing and one possible solution could be, in order to avoid 1. and 2. and 3. is to

[2018-10-11 15:03] carolromero commented on #3209
Hi @josepjaume, if this is the case let's discard the "diffusion" badge. Maybe in future iterations we have a better way to implement it.

Before closing this issue, though, there's an important question that we need to solve about the invitations badge. And it is related to the new data regulation, which says you can not send communications from the platform if the person has not given his consen

[2018-10-11 15:05] arnaumonty commented on #3893
Should users be able to reject an invite?

Yes

In your Groups tab page, in your public profile, using the same design as [here](https://user-images.githubusercontent.com/24740/44995001-7efe7180-afa1-11e8-89bb-c167e5878e3a.png)

In the notification page

I will reuse [this design](https://user-images.githubusercontent.com/24740/44995001-7efe7180-afa1-11e8-89bb-c167e5878e3a.png) in the Groups Tab i

[2018-10-11 15:54] carolromero commented on #4159
Regarding the first question, I'd move the conversation to #4123 or even better, let's open a new issue to discuss it. Ping @furilo @decidim/lot-px.

- Let's apply it for the global search.
- Regarding the search results and filter options, we need a matrix like twitter or facebook work:
So we'll keep the current filter box to filter by status (active, past, next, all) and the tabs to select the c

[2018-10-11 15:56] tramuntanal commented on #2268
Looking forward for this Verificator, there are organizations, other than the Bcn council, that may take profit from it.

[2018-10-12 08:21] #3592 closed

[2018-10-12 09:21] #2023 closed

[2018-10-12 12:04] tramuntanal commented on #4157
@ahukkanen The `URL_REGEX` was taken from a site that compared different regexps (sorry I can't remember the site). This one is the one that matched more variants of _valid_ URIs. So I guess "aaa:aaa" is a valid URI.

Anyway, this regexp is probably too wide. @decidim/product I'll take a simpler regexp that forces to make the protocol/schema explicit. This is, there should always be the `http(s):/

[2018-10-13 00:07] #3774 closed

[2018-10-13 18:07] #662 closed

[2018-10-14 21:00] arnaumonty commented on #1872
@oriolgual yes, but it shouldn't be a public history, just available for admins.

[2018-10-15 07:16] #4157 closed

[2018-10-15 08:34] xabier commented on #4122
@leio10 @andreslucena @mrcasals @oriolgual please check this issue. Particularly the Discussion session, I think it requires a specific meeting to clarify this. Cheers!

[2018-10-15 08:56] isaacmg410 commented on #3743
@decidim/product can we finally close this issue? and open a new one for the 1st Iteration?

[2018-10-15 09:11] #4267 closed

[2018-10-15 09:31] furilo commented on #4250
@Crashillo in the attached file are the modified badges referred in this issue. Please update them in the design app.

[index-simple.html.zip](https://github.com/decidim/decidim/files/2478142/index-simple.html.zip)

[2018-10-15 10:29] arnaumonty commented on #3166
#2841

[2018-10-16 07:46] mrcasals commented on #3893
As agreed offline, we'll leave these features for a future iteration:

- Let user groups have conversations
- Let UserGroups follow resources

This means we need to adapt the user groups sidebar to remove the "Follows" counter.

[2018-10-16 12:05] #4211 closed

[2018-10-16 18:18] #3611 closed

[2018-10-17 08:02] Crashillo commented on #4230
Design PR https://github.com/decidim/decidim/pull/4284

[2018-10-17 08:54] carolromero commented on #4230
Hi @oriolgual, yes we should. I now see that we've been talking about process header when in fact we're referring to space header.

[2018-10-17 11:06] madcsaba opened #4291 "Make it possible to change language when editing an organization in system admin"
it would be nice, to change the language, when in system admin you are editing the organization.
Currently it is not visible, when you edit the organization (can not see the language,that is already set). Is it a real usecase? I do not know, but for me it was.

[2018-10-17 12:12] mrcasals commented on #4291
Hi @madcsaba! Do you mind developing a little bit the description of the issue? The text looks like the one in the template, thanks!

[2018-10-17 15:16] madcsaba commented on #4291
yes, thanks! I think this was my first "real issue' and I was not aware, that that template text is sticy..

[2018-10-18 01:40] deivid-rodriguez opened #4296 "Use apartament gem or similar for multitenancy"
**Is your feature request related to a problem? Please describe.**

I commented this with @leio10 but never got to start a discussion. Because of a massive digression (I think I started investigating the reason of an N+1 query), it ocurred to me at some point that it'd be great that multitenancy in Decidim was implemented through separate DBs (or separate DB schemas). This would be great because:

[2018-10-18 01:40] deivid-rodriguez commented on #4296
I don't think I have time to work on something like this myself but I wanted to start a discussion :smiley:.

[2018-10-18 07:11] mrcasals commented on #4230
@decidim/lot-px we were discussing this in the PR, but I think it's better if everyone is involved here: what happens when a participatory space does not have phases/steps? Considering that right now we don't have a CTA, so I guess both the button and the steps "progressbar" should disappear? Wouldn't the box look weird then?

[2018-10-18 07:11] mrcasals commented on #4230
Also, @decidim/product 👆

[2018-10-18 07:16] mrcasals commented on #4296
I didn't know about this `apartament` gem! Looks very promising! But yeah, I'm mostly concerned about the migration path, and maybe the specs would need some refactor too.

Note that we currently don't delete organizations because of the difficulty to achieve so, so using `apartament` would solve it! 😄

[2018-10-18 07:16] Crashillo commented on #4230
I've updated the screenshot accordingly, @mrcasals
https://github.com/decidim/decidim/pull/4284#issuecomment-430897901

[2018-10-18 08:20] Xfolchf opened #4297 "Failed to create new assembly user"
**Describe the bug**
Decidim correctly creates a "new assembly user " to assign Administrator, contributor, or moderate role. Creates the user but does not send the invitation or displays the date in the admin panel (attached capture).
The proof is from a private assembly.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13295

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2018-10-18 08:30] furilo commented on #4048
@isaacmg410 I don't have in mind with precision which funcionality we need to provide. As an admin, we have to sleect some meetings that are available for the user to choose from when registering? In that case, I guess maybe just a list of the meetings with checkboxes, as several might be selected?

[2018-10-18 08:31] Xfolchf opened #4298 "Problem with the server when you pass followers page"
**Describe the bug**
When I set up a page in the numbering or 'next' in the lists of followers I get the message 'There has been a problem with our server'.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13293

[2018-10-18 08:31] isaacmg410 commented on #4297
@mrcasals I think that this is not related with our work. It is related with the creation of Admin Users for the assembly! We have not developed this section...

When the user exists in decidim, never send an invitation when gives permissions to admin section. Just send invitation when user not exists in decidim

[2018-10-18 08:33] isaacmg410 commented on #4048
@furilo I think so! To have a control of which meetings the user can attend. no? Otherwise, what sense does selective registration?
Maybe @decidim/product can give us more information

[2018-10-18 08:33] Xfolchf opened #4299 "Can't copy paste some camp body"
**Describe the bug**
There are some fields, usually camp body that I can't paste any text. For example, it happened on Meeting > Description.

I expected that I could do that in order to save time.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13291

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3389

[2018-10-18 08:37] Xfolchf opened #4300 "Member List Assemblies admin panel"
**Describe the bug**
The list of members of an assembly in the management panel only shows the first 15 members, from that number does not allow you to manage or displays them in the list of the Administration panel.

Also, the list of members of the Assembly is sorted randomly and search filtering seems not to work properly.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13294

[2018-10-18 08:54] Xfolchf opened #4301 "Exception: ActionView::Template::Error Decidim::Meetings::Admin::RegistrationsController#update"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/3b9c68555c1f4e1d84984948ead84ccb/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ArgumentError: First argument in form cannot contain nil or be empty
  action_view/helpers/form_helper.rb:440:in `form_for'
    raise ArgumentError, "Fir

[2018-10-18 09:38] furilo commented on #3973
This is a proposal for the admin screen to manage the new help system to offer banner-like announcements in main sections (as noted by @carolromero, announcements for specific spaces remain where they are now).

- We would have a pane for each section; each section can be active or not
- Each section has the intro text (for the announcement), and the extended version (for the help page)
- Place in

[2018-10-18 09:47] carolromero commented on #3973
Hi @furilo,
Just to double-check, in the help page we will show the intro text + the extended text, correct?

[2018-10-18 09:51] furilo commented on #3973
extended text, correct?

Yes, I'd start with that.

[2018-10-18 09:55] furilo opened #4303 "Signup form: Move the social media login buttons before the form"
Part of #4159

Do you need markup for this, @decidim/lot-core ?

[2018-10-18 09:59] furilo commented on #3343
Maybe we can close this issue @decidim/product ?

[2018-10-18 10:10] furilo opened #4304 "Welcome notification"
Part of #3973 #3712

When someone creates a user account, she receives a **welcome notification**. This notification is a customizable text from the admin with links to a general Help page.

![admin - welcome notification](https://user-images.githubusercontent.com/24740/47148016-cfbaf700-d2cf-11e8-9936-e877cc97b77b.png)

Designing this I thought if it makes sense that this custom message is also i

[2018-10-18 10:19] Crashillo commented on #4231
This feature is also included in https://github.com/decidim/decidim/pull/4284

[2018-10-18 10:19] furilo commented on #4304
Ping @decidim/product @decidim/lot-core - see my proposal in the issue

[2018-10-18 10:21] furilo commented on #3973
Btw, designing #4304 I just realized that we could have subsections in this new menu option:

Help system
-- Anouncements (this)
-- Welcome message

[2018-10-18 10:50] mrcasals commented on #4303
I don't think so, no!

[2018-10-18 10:54] mrcasals commented on #4298
@Xfolchf is this related to the user profile page?

[2018-10-18 10:58] mrcasals commented on #4300
@decidim/lot-mods is this related to #3008? can you check the bug please?

[2018-10-18 11:05] carolromero opened #4305 "Conference/events module 1st Iteration"
This issue is part of #3709
## Tasks

### Features

This module needs to offer the following features for admins:
- [x] [DONE #4443] Generate diplomas in an automated way for those who want one using an attendance panel that can be accepted/validated by the group arranging the event. --> design #4047
- [x] [DONE #4285 ] Automatically add and collect links to digital media websites covering the eve

[2018-10-18 11:06] #3743 closed

[2018-10-18 11:07] Xfolchf opened #4306 "Exception: ActionView::Template::Error Decidim::Initiatives::InitiativesController#index"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/9f9ca02ad5aa46efa872a37958ca6f13/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::DatatypeMismatch: ERROR:  argument of AND must be type boolean, not type record
LINE 1: ...17') AND (signature_end_date >= '2018-10-17') AND (decidim

[2018-10-18 11:09] Xfolchf opened #4307 "Exception: ActionView::Template::Error Decidim::Debates::DebatesController#index"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/56541ac9fe1a403087f4fe9e7b876d15/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::AmbiguousColumn: ERROR:  column reference "description" is ambiguous
LINE 1: ...lut mental en la infància i l’adolescència%') OR (descriptio...

[2018-10-18 11:14] isaacmg410 commented on #4305
@decidim/product We don't have design for these:

Can not put them in the description?

[2018-10-18 11:18] carolromero commented on #4305
@furilo can you chime in please?

[2018-10-18 12:16] carolromero commented on #3973
Help system
-- Anouncements (this)
-- Welcome message

![Alt Text](https://media.tenor.com/images/a872add2091f0e041e444c28954380f6/tenor.gif)

[2018-10-18 12:17] furilo opened #4309 "Search results improvements"
From #4159

- [ ] Add a filter in search results to filter based on a process status: or just Active-All, or the full 4 states we have in /processes (active, past, next, all)
- [ ] Search engine: Organize information in blocks/tabs per item type

[2018-10-18 12:43] oriolgual commented on #4297
@Xfolchf not sure then if it's a bug, since the user already exists in the system we don't send an invitation to sign up, as @isaacmg410 explains.

[2018-10-18 12:45] oriolgual commented on #4301
@decidim/lot-mods can you review this? Seems related to #3331

[2018-10-18 12:48] oriolgual commented on #4304
Works for me! Just a minor consideration: the email would be sent because of the notification.

[2018-10-18 12:53] Crashillo opened #4312 "Fixes on M-cards"
**Describe the bug**
- Participatory spaces on cards adjust to one line
- Background color on text title bar must be transparent

**To Reproduce**
Render any views with m-cards

**Expected behavior**
- Crop large spaces text
- Avoid white background on text title bar

**Screenshots**
![imagen](https://user-images.githubusercontent.com/24740/47156023-6d212580-d2e6-11e8-81f4-34685fb1c9ab.png)

Live

[2018-10-18 12:57] oriolgual commented on #4309
@furilo keep in mind that there are other spaces that don't have these states.

[2018-10-18 13:07] rbngzlv commented on #4301
The real PR related with this is https://github.com/decidim/decidim/pull/3833 (the linked on wasn't merged, it is closed). Anyways, is related with us so I'll take care of this.

[2018-10-18 13:10] mrcasals commented on #4148
Duplicated by #4307, closing this one.

[2018-10-18 13:10] #4148 closed

[2018-10-18 13:58] furilo commented on #4309
@oriolgual @decidim/product actuallly I'm a little bit blocked with the status filter - either we:

1) create different sub-pages for each of the result types (proposals, users, etc)
2) or offer filters that won't affect some types of results

Here is a first approach of all results in the same page.

![search improvements](https://user-images.githubusercontent.com/24740/47159586-7a421280-d2ee-11e

[2018-10-18 13:58] #4231 closed

[2018-10-18 14:03] furilo commented on #4305
@decidim/product what does "Allow the events to be followed via social networking (e.g. incorporating a Twitter feed)" means? Sorry I'm lost regarding to this.

[2018-10-18 14:06] mrcasals commented on #4304
@oriolgual I think we can disable the email when defining a new event type, so we should we good to go.

[2018-10-19 06:52] #4214 closed

[2018-10-19 06:53] mrcasals commented on #4214
Turns out the error was caused by an agent requesting the page in plain text format. We suspect this is caused by a bot.

[2018-10-19 07:28] mrcasals commented on #3979
Closed by #4223, this is a dup of #4213.

[2018-10-19 07:28] #3979 closed

[2018-10-19 07:32] mrcasals commented on #3920
This is already solved in Decidim BArcelona, as this error was specific of that installation.

[2018-10-19 07:32] #3920 closed

[2018-10-19 07:49] furilo commented on #4309
Then we are OK with always showing filters, although they apply only to
some kind of results?

[2018-10-19 08:18] mrcasals commented on #4220
This was solved when updating to 0.14.

[2018-10-19 08:18] #4220 closed

[2018-10-19 08:33] mrcasals commented on #3768
Someone tried to manually modify the URL. This does not happen by browsing the website.

[2018-10-19 08:33] #3768 closed

[2018-10-19 09:37] furilo commented on #4309
One thing I don't like about option one is that each click on each content
type would mean a new page load...

[2018-10-19 09:37] #3343 closed

[2018-10-19 09:48] mrcasals commented on #4215
Duplicate of #3783

[2018-10-19 09:48] #4215 closed

[2018-10-19 09:48] mrcasals commented on #3921
Duplicate of #3783

[2018-10-19 09:48] #3921 closed

[2018-10-19 09:51] carolromero commented on #4309
Yep... From the user's point of view it seems clear that it is better to show only what is applicable. Having subpages is the only technical solution, I suppose?
Thoughts @decidim/lot-core @decidim/product?

[2018-10-19 09:58] furilo opened #4321 "Apply new menu design to conferences in decidim-design"

[2018-10-19 10:13] oriolgual commented on #3916
Dup of #3765

[2018-10-19 10:13] #3916 closed

[2018-10-19 10:13] oriolgual commented on #4306
Dup of #3765

[2018-10-19 10:13] #4306 closed

[2018-10-19 10:27] #4297 closed, assigned to nobody

[2018-10-19 10:28] mrcasals commented on #4182
Closing as wontfix.

[2018-10-19 10:28] #4182 closed

[2018-10-19 10:29] mrcasals commented on #4149
Duplicate of #4263

[2018-10-19 10:29] #4149 closed

[2018-10-19 10:31] mrcasals commented on #4131
@decidim/lot-mods what's the status of this? I can't remember if this was finally fixed or not 😕

[2018-10-19 10:34] mrcasals commented on #4006
The issue in Sentry is already solved.

[2018-10-19 10:34] #4006 closed

[2018-10-19 10:40] mrcasals commented on #3908
This should have been part of #2938.

@decidim/lot-mods I see a related #4022, but I can't see how this PR fixes it from reading the code. Can you take care of this?

[2018-10-19 10:51] oriolgual commented on #4309
What do you mean by subpages @carolromero ?

[2018-10-19 10:56] carolromero commented on #4309
I mean that when you click on a component from the tabs section (let's say Proposals), if we want to show its specific filter box, you need to load a specific page for that, and if you later select Meetings with their filter options, that's a different psge (that's what I understood from @furilo comment).

[2018-10-19 10:59] oriolgual commented on #4301
@rbngzlv, @mrcasals already got the fix at #4319

[2018-10-19 11:03] rbngzlv commented on #4301
Thanks to both! The fix in the PR is correct.

[2018-10-19 11:42] carolromero commented on #4048
Hi @isaacmg410 and @furilo, yes, the functionality aims to "package" several meetings to allow partial or custom registrations. So I also understand that you need a drop-down list or something like that to select the meetings associated with each package.

[2018-10-19 11:44] carolromero commented on #4131
@mrcasals If it helps, I just checked Assemblies on your staging this morning and this was working fine..

[2018-10-19 11:56] #4301 closed

[2018-10-19 11:57] mrcasals commented on #4301
Oh sorry! I was not aware you had this assigned, I found the issue by checking Sentry 😞

[2018-10-19 11:58] #4307 closed

[2018-10-19 11:59] #4266 closed

[2018-10-19 12:00] #3901 closed

[2018-10-19 12:41] tramuntanal commented on #4206
@rbngzlv can you check please?
I understand that the problem is that we should leave a log (Traceable) when creating and deleting private users. Correct?

[2018-10-19 12:42] tramuntanal commented on #4131
@MarcReniu can you confirm that it's done please?

[2018-10-19 12:44] tramuntanal commented on #3908
@rbngzlv @isaacmg410 can you check please?

[2018-10-19 12:47] mrcasals commented on #4206
@tramuntanal correct!

[2018-10-19 12:49] mrcasals commented on #4233
@Crashillo can you check this please?

[2018-10-19 13:02] mrcasals opened #4325 "DataPortabilityExportJob: private method `file' called"
It looks like we're calling a private method here:

https://github.com/decidim/decidim/blob/52e9985a4c177269bb8b5aa9ffbbe7e9036ec59a/decidim-core/lib/decidim/data_portability_file_zipper.rb#L45

https://sentry.io/share/issue/3436d55923b54df1a7c3418748574a7e/

We should make sure this works as expected.

[2018-10-19 13:02] mrcasals commented on #4325
Hi @decidim/lot-mods this seems related to your work, can you check it please?

[2018-10-19 13:10] mrcasals opened #4328 "DataPortabilityExportJob: undefined method `file' for String"
We're calling `file` on a String:

https://github.com/decidim/decidim/blob/52e9985a4c177269bb8b5aa9ffbbe7e9036ec59a/decidim-core/lib/decidim/data_portability_file_zipper.rb#L42

https://sentry.io/share/issue/51718a25784c40779e96711fb9e0c74e/

We should fix this. The code docs says `image` is a URL here...

@decidim/lot-mods can you check this please?

[2018-10-19 13:15] Crashillo commented on #4233
I ain't able to replicate 😞 I wasn't found it in meta.decidim, and, in `master` branch, it works as expected, the progressbar is shrinking properly.

[2018-10-19 13:29] mrcasals commented on #4233
Closing as we can't reproduce it.

Thanks!

[2018-10-19 13:31] mrcasals commented on #4242
Closed by #3744

[2018-10-19 13:31] #4242 closed

[2018-10-19 13:33] mrcasals commented on #4209
Fixed!

[2018-10-19 13:33] #4209 closed

[2018-10-19 15:02] #3765 closed

[2018-10-19 17:39] ahukkanen commented on #4233
This is related to older version of WebKit. The screenshot is from iOS 10.3.3 and its Safari.

This same issue also exists on IE11 (v11.0.9600.191.29).

**Solution:**

Apply the following CSS to the button wrapper element **after** the `.progress__bar` element:

[code]

This gets it rendering consistently on most rendering engines.

**Tested:**

I tested this solution in the following browsers' de

[2018-10-19 17:56] deivid-rodriguez commented on #4296
The plan sounds good to me.

Step 1 would need to create a new schema when an organization is created, but also:
* Fill in the organizations table in the schema with the organization just created.
* Keep the middleware to select the current organization.
* In the "elevator" middleware to switch to the proper schema, we would need to check whether there's an explicit schema for the organization, an

[2018-10-19 18:04] ahukkanen commented on #4233
@mrcasals Could you please reopen?

[2018-10-19 18:56] furilo commented on #4048
OK, so adding to my [previous comment](https://github.com/decidim/decidim/issues/4048#issuecomment-430920771) each registration type would have its own page, where we would include a pane listing all available meetings with checkboxes (one per line), so we can select several meetings for each registration type. And a blue Update button to save it.

In the registration types screen, where we list a

[2018-10-19 19:00] furilo commented on #4309
OK I've just thought about a possible solution, let me sketch it on Monday!

[2018-10-22 06:28] isaacmg410 commented on #4328
I will review it

[2018-10-22 06:29] isaacmg410 commented on #4328
I will review it

[2018-10-22 06:29] isaacmg410 commented on #4325
I will review it. But Is it related to #4328  issue?

[2018-10-22 06:31] isaacmg410 commented on #4206
@tramuntanal This issue is my fault. I will check it

cc:// @rbngzlv

[2018-10-22 06:32] isaacmg410 commented on #4048
I understand that you refer to the part of admin not? @furilo

Will you make the design modification?

[2018-10-22 06:35] isaacmg410 commented on #4206
@tramuntanal This issue is my fault. I will check it

cc:// @rbngzlv

[2018-10-22 06:36] isaacmg410 commented on #4206
@tramuntanal This issue is my fault. I will check it

cc:// @rbngzlv

[2018-10-22 06:39] isaacmg410 commented on #4131
I do not think @MarcReniu  knows the status of this issue.
In one of the online meetings, I was talking with @arnaumonty, and he told me that it was working correctly and that he could not replicate the error.

[2018-10-22 06:45] isaacmg410 commented on #3908
@rbngzlv can you check this one, please?

[2018-10-22 06:46] isaacmg410 commented on #4208
@rbngzlv can you check this one, please?

[2018-10-22 07:12] isaacmg410 commented on #4131
@tramuntanal Marc does not know the issue state

[2018-10-22 07:15] MarcReniu commented on #4131
@tramuntanal I don't know anything about Assemblies workflow. I'm unavailable to check it :(

[2018-10-22 08:50] furilo commented on #4309
Here is my proposal: by default, we show all results, and in the sidebar info about number of results for each group, with a link-icon to filter these results. When you click, you are shown filter for this group and results only for this group.

![search improvements v2](https://user-images.githubusercontent.com/24740/47284608-3ef25d00-d5e8-11e8-9646-2a993c5dc66b.png)

![search improvements v2 fil

[2018-10-22 08:55] xabier commented on #4305
This means to have a box that includes a Twitter timeline of a hashtag and a user (e.g. organizer) during the conference. If you have a better idea it is welcome to substitute this one. What many conference website provide is some means to authomatically update social-network activity about the conference. The simplest, shortest way to implement this, to my knowledge, is to add a Twitter timeline.

[2018-10-22 08:55] xabier commented on #4305
This means to have a box that includes a Twitter timeline of a hashtag and a user (e.g. organizer) during the conference. If you have a better idea it is welcome to substitute this one. What many conference website provide is some means to authomatically update social-network activity about the conference. The simplest, shortest way to implement this, to my knowledge, is to add a Twitter timeline.

[2018-10-22 08:55] Crashillo opened #4331 "Unexpected margin-bottom on cards with tooltips"
**Describe the bug**
Unexpected margin-bottom on cards with `[data-toggle]` elements, usually, those which have a tooltip.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://meta.decidim.org/processes/welcome/f/170/

**Expected behavior**
Remove that margin

**Screenshots**
![imagen](https://user-images.githubusercontent.com/817526/47284620-49acf200-d5e8-11e8-9431-76a01afbda7b.png

[2018-10-22 08:59] xabier commented on #4305
This means to have a box that includes a Twitter timeline of a hashtag and a user (e.g. organizer) during the conference. If you have a better idea it is welcome to substitute this one. What many conference website provide is some means to authomatically update social-network activity about the conference. The simplest, shortest way to implement this, to my knowledge, is to add a Twitter timeline.

[2018-10-22 09:05] xabier commented on #4305
This means to have a box that includes a Twitter timeline of a hashtag and a user (e.g. organizer) during the conference. If you have a better idea it is welcome to substitute this one. What many conference website provide is some means to authomaticaly update social-network activity about the conference. The simplest, shortest way to implement this, to my knowledge, is to add a Twitter timeline.

[2018-10-22 10:28] furilo commented on #4309
Here is my proposal: by default, we show all results, and in the sidebar info about number of results for each group, with a link-icon to filter these results. When you click, you are shown filter for this group and results only for this group.

![search improvements v2](https://user-images.githubusercontent.com/24740/47284608-3ef25d00-d5e8-11e8-9646-2a993c5dc66b.png)

![search improvements v2 fil

[2018-10-22 12:11] mrcasals commented on #4325
I think those are two different issues @isaacmg410

[2018-10-22 12:13] mrcasals commented on #4131
OK, closing this then!

[2018-10-22 12:14] mrcasals commented on #4233
Thanks for the amazing reports, @ahukkanen! I'll let @Crashillo work on this 😄

[2018-10-22 12:15] mrcasals commented on #4331
Can we use SCSS's `extend` to quickly fix this?

[2018-10-22 12:16] mrcasals commented on #4305
I've deleting some duplicated comments.

[2018-10-22 12:38] furilo commented on #4048
Do you really need the markup for the admin screens? You just need to use existing components - which adds to the fact that we are running out of hours.

[2018-10-22 12:41] Crashillo commented on #4331
Mmm sure. I've just seen a `_toggle.scss` file, where we can append it there. But, that implies every `[data-toggle]` (Foundation feature) will add such property.
Do you say so because span tooltip is generated dynamically?

[2018-10-22 12:41] isaacmg410 commented on #4048
@furilo no. I was referring to the markup of the public side. should not it change?

[2018-10-22 12:45] isaacmg410 commented on #4305
@furilo and @decidim/product We have to define the flow of how the user gets the diploma.
Options:
- When the conference ends, does the admin have a button to send the diplomas to all registered and assisted users?
- Send diplomas, only to the users ho requested that diploma?
- How users, request that diplomas?
- It will be attached to an email?

[2018-10-22 12:51] mrcasals commented on #4331
No, I mean adding something like somewhere:

[code]

Would this solve the problems? Or is it too general?

[2018-10-22 13:29] Crashillo commented on #4331
Too generic. AFAIK `.has-tip` belongs to Foundation, so you don't handle when is used. On the other hand, in that way you would editing an external class, it's a bad practice.

[2018-10-22 13:45] mrcasals commented on #4328
Duplicate of #4217. Sorry for the inconvenience!

[2018-10-22 13:45] #4328 closed

[2018-10-22 14:18] mrcasals commented on #4331
Oh, I see. OK, we'll have to do that manually I guess.

[2018-10-22 14:22] Crashillo opened #4336 "Flex-basis value incompatible IE11"
**Describe the bug**
Flex-basis property, in IE11 requires some units, so auto/initial values are not allow.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://meta.decidim.org/processes/welcome/f/170/

**Expected behavior**
Keep one line for card_status

**Screenshots**
![imagen](https://user-images.githubusercontent.com/817526/47297722-3ca6f780-d616-11e8-8d5c-65ea03bbd6d3.png)

[2018-10-22 14:31] mrcasals commented on #3893
After today's work, only one part is left: "Invite users to user group". There's no design for this, and no more explanation, so I'll assume that only admins of the group can invite other users. I'll do this because if a member (non-admin) invites another user, then we need a process so that an admin can review that invitation. Since this is weird, and implies a lot of back-and-forths, I'll assume

[2018-10-22 17:06] arnaumonty commented on #3893
@mrcasals Yes, just admins can do this.

El lun., 22 oct. 2018 a las 16:31, Marc Riera (<notifications@github.com>)
escribió:

[2018-10-23 07:07] #3919 closed

[2018-10-23 09:22] Crashillo opened #4342 "Large titles on small areacharts"
**Describe the bug**
Large titles on small charts breaks the space available. Add `wrap` function to the texts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://staging.decidim.codegram.com/
2. Scroll down to 'Participation in figures'

**Expected behavior**
Wrap title into several lines. Keep all content inside the chart.

**Screenshots**
![imagen](https://user-images.githubuser

[2018-10-23 09:30] furilo commented on #3973
OK, here is another round, taking into account a variable number of sections (which I missed earlier - sorry!)

- Index page: lists all sections, some of them will be prepopulated.
- Edit page: you can edit a given section.

![admin - help system index](https://user-images.githubusercontent.com/24740/47350790-f81f6880-d6b6-11e8-9ee9-29650911be53.png)

![admin - help system - edit](https://user-ima

[2018-10-23 09:36] carolromero commented on #4305
@isaacmg410 to simplify the flow let's go with the first option: let's send an email at the end of the conference to everyone who has attended, regardless of whether they have requested it or not.

cc/ @furilo @decidim/product

[2018-10-23 09:42] furilo opened #4343 "Processes / Add view all button to sections"
Part of #4159

Add a full "view all" button below the first 4 items shown in a space page (meetings, proposals...) so users understand that there are more (now the view all link may not be seen).

[2018-10-23 09:43] Xfolchf opened #4344 "Exception: ActionController::UnknownFormat Decidim::Devise::SessionsController#new"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/cd0aba85e1d341839734b2f718601bd3/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ActionController::UnknownFormat: ActionController::UnknownFormat
  action_controller/respond_with.rb:213:in `respond_with'
    raise ActionController::Un

[2018-10-23 09:45] Xfolchf opened #4345 "Exception: ActionView::Template::Error Decidim::Meetings::Admin::RegistrationsController#update"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/36e16c95d9e240a58b923630e9c2feb4/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ArgumentError: First argument in form cannot contain nil or be empty
  action_view/helpers/form_helper.rb:440:in `form_for'
    raise ArgumentError, "Fir

[2018-10-23 09:58] furilo commented on #4309
I've updated the shot of the previous comment to add the "View all proposals" button (related with #4343)

[2018-10-23 09:58] mrcasals commented on #4345
This is solved in `master`.

[2018-10-23 09:58] #4345 closed

[2018-10-23 09:58] furilo commented on #4343
![add view all button](https://user-images.githubusercontent.com/24740/47352779-ef309600-d6ba-11e8-917e-090840a066a8.png)

cc @decidim/product

[2018-10-23 09:59] furilo opened #4346 "Cards: show only real name + minicard on hover"
Part of #4159

 Show only real name in cards and when you hover show user mini-card

[2018-10-23 11:15] MarcReniu commented on #3347
@decidim/product @carolromero  I'm currently blocked because the lack of definition for new iterations.

[2018-10-23 12:01] xabier commented on #4305
Sounds perfect to me. We send it once and that's it. In case we want to make it more sophisticated there are other improvements on the certificate that come to my mind (some kind of signing or hashing, username and additional information included on the certificate, etc.). But for now this is fine @isaacmg410 I agree with @carolromero

[2018-10-23 12:02] xabier commented on #4343
It looks correct to me! thanks @furilo

[2018-10-23 12:07] xabier commented on #3347
hi @MarcReniu I have been away from product for some time now. Where did you stop? what do you need?

I assume #3398 is complete right now and you are waiting for the next step? I would say next in priority is #3352. Unless @carolromero @elaragon state the contrary, go for #3352

[2018-10-23 13:35] mrcasals commented on #3893
With #4347 I've finished all the tasks in the MVP. @decidim/product I think we can close this issue and create another one for the 1st iteration 😄

[2018-10-23 13:49] Crashillo opened #4352 "Minor adjusts on user profile"
**Describe the bug**
- [x] Shrink line spacing on profile description
- [x] Shrink font size on followers/following numbers

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://decidim-design.herokuapp.com/public/profile/user-profile-public

**Expected behavior**
Styles as design.

**Screenshots**
![imagen](https://user-images.githubusercontent.com/817526/47365096-172ff180-d6db-11e8

[2018-10-23 14:01] furilo commented on #4346
Here are a couple of options @decidim/product

![user hover minicard](https://user-images.githubusercontent.com/24740/47365951-f10b5100-d6dc-11e8-81fe-aa7dfc81336b.png)

[2018-10-23 14:04] mrcasals commented on #1872
@decidim/product I'm about to start working on this. In order to clarify the use case, the only condition we have is that admins can edit official proposals at any time **if** supports are not enabled. Every time an admin edits an official proposal it should create an entry for the admin log, and the changes history should not be visible from the public area.

Is that right?

[2018-10-23 14:08] mrcasals commented on #4346
Note that these hover cards have to be hoverable and actuable (I should be able to click the links in those cards), in case this affects the implementation 😄

[2018-10-23 14:11] arnaumonty commented on #1872
@mrcasals yes but we decided that the limitation was until the proposal get 1 support, better than enable supports action.

[2018-10-23 14:16] mrcasals commented on #1872
Ok!

[2018-10-23 14:23] carolromero commented on #4346
@furilo we prefer the version without badges

[2018-10-23 14:26] carolromero opened #4354 "Stats for Processes"
This issue is part of the EPIC: Data Visualization #3347

## Process home page

This works as a metrics dashboard with various sizes for graphs: big, medium and small. The metrics to display in the bottom of the Process  home are:

- [x] Participants
- [x] Supports
- [x] Proposals

### Design mockup
![stats-process home](https://user-images.githubusercontent.com/24740/40732149-f71079a8-6432-11e8-8

[2018-10-23 14:41] carolromero commented on #3347
Hi @xabier, thanks for chiming in. Yesterday we talked about this with @MarcReniu and we agreed to continue with the next iteration which is **Process Stats**.
Marc, I have divided the original issue of stats for Home and for Processes. We can continue the conversation here: https://github.com/decidim/decidim/issues/4354
I'll close the Home Stats issue.

[2018-10-23 14:48] MarcReniu commented on #4354
@carolromero @Crashillo Areacharts in these screenshots are not the same than in "App design" ones. I can work with metrics processes but I will need modifications in charts rendering.

[2018-10-23 14:48] carolromero commented on #4354
@furilo @Crashillo We have updated in the description the list of specific components to visualize and their final disposition regarding the size of the graphs. We'll go with the no-sidebar option and red color. Could you apply the design accordingly? Thanks!

[2018-10-23 15:10] isaacmg410 commented on #4305
@decidim/product I have started to work with the types of registration and I have a doubt that I need you to solve it. How do you want to manage early and late registrations?

- Do you want two "price" field in the same Registration Type? One for early and another one for late registration?
- Do you want a date field to select the date when the registration is considered "late"?
- Should this two

[2018-10-23 16:03] tramuntanal commented on #4305
Normally these are two different registration tipes @isaacmg410

[2018-10-23 16:30] frichtre opened #4356 "Problem with the server during the processes editing"
**Describe the bug**
Hi,

When i am trying to set up a processes or an assembly, the website tells me at the end "There has been a problem with our server".

What do you know about this issue ?

Thank you very much !

[2018-10-23 18:07] kiwis2 opened #4357 "DB installation"
Hello!

So i have followed the steps to install the platform on my localhost i use GIT-Bash on windows and installed  PGADMIN
reached to the step to create the Database
 bin/rails db:create db:migrate db:seed
and after i got following error :
rails aborted!
ActiveRecord::StatementInvalid: PG::UndefinedTable: ERROR:  relation "decidim_organizations" does not exist
LINE 1: SELECT  "decidim_organizat

[2018-10-23 18:31] leio10 commented on #4357
Hi @kiwis2, I found a similar problem today and [proposed a change in the docs](https://github.com/decidim/decidim/commit/5b74b951f96450b64be6bb453c979f3ef49dd00f). I recommend you to run the seed task separately, as [it says now in the documentation](/docs/manual-installation.md).

[2018-10-23 20:29] xabier commented on #2283
hi @oriolgual it is all specified on the EPIC #4122, clearer and with more detail. We should close theses issues, the idea here is that a special admin role can verify participants, and their verifications must leave a trace on the admin log. Maybe you have already discussed this on @decidim/product meetings, sorry if that is the case.

[2018-10-23 20:35] xabier commented on #3347
Ups, sorry @carolromero and @MarcReniu ! :+1: to @carolromero priorization, I missed the product meeting.

[2018-10-23 21:57] kiwis2 commented on #4357
unfortunately didn't help : bin/rails db:create db:migrate db:seed ===
i get this : bash: bin/rails: No such file or directory

[2018-10-23 22:19] kiwis2 commented on #4357
same issue i tried all over again a new installation
![s_s](https://user-images.githubusercontent.com/44402753/47394213-6a796280-d722-11e8-991f-828b3721c6d0.jpg)

[2018-10-24 06:53] mrcasals commented on #4305
Yup, normally that's two different types of tickets

[2018-10-24 06:54] mrcasals commented on #4356
Hi @frichtre! We'd need a stacktrace, or a copy of the logs when this happens, and the version number of Decidim you're using. Otherwise it'll be really hard to figure out 😄

[2018-10-24 06:57] isaacmg410 commented on #4305
So, the best thing is to add a button to activate / deactivate the ticket, when the admin wants to. And that the admin can not remove the ticket if there are already registrations created?

[2018-10-24 06:58] oriolgual commented on #4357
@kiwis2 you need to run the commands separatedly:

[code]

[2018-10-24 06:59] #4357 closed

[2018-10-24 07:02] isaacmg410 commented on #4048
@decidim/lot-px @decidim/product Watch the videos that I attached, What do you think of this kind of selector with a filter to add the meetings? Do you like it?

![screencast-localhost-3000-2018 10 24-08-53-45](https://user-images.githubusercontent.com/28536082/47412274-8d7c3480-d76b-11e8-8589-f92bb965b0a1.gif)
![screencast-localhost-3000-2018 10 24-08-54-39](https://user-images.githubusercontent.

[2018-10-24 07:12] oriolgual commented on #2283
Closing this then in favour of #4122, thanks @xabier!

[2018-10-24 07:12] #2283 closed

[2018-10-24 07:19] furilo commented on #4048
I think its easier and faster to use the solution I proposed: a list of the meetings with checkboxes, so you just have the list available to see, and with one click you can choose a meeting. With your solution, how many clicks/screens changes would you have to make if you had to select, say, 15 meetings?

[2018-10-24 07:30] #4336 closed

[2018-10-24 07:37] carolromero commented on #4048
I agree with @furilo. It's faster to see all the events and select the ones that you want to group.

[2018-10-24 08:08] frichtre commented on #4356
Hi @mrcasals

Sorry ! The Decidim version is the lastest v 0.14.3 and the exception is the following :

I18n::MissingTranslationData: translation missing: fr.date.formats.datepicker
  i18n.rb:342:in `handle_exception'
    raise exception.respond_to?(:to_exception) ? exception.to_exception : exception
  i18n.rb:188:in `translate'
    result.is_a?(MissingTranslation) ? handle_exception(handling, res

[2018-10-24 08:43] kiwis2 commented on #4357
Hello,
I tried to run the commands separately, but unfortunately I'm getting the same issue

ActiveRecord::StatementInvalid: PG::UndefinedTable: ERROR:  relation "decidim_organizations" does not exist
LINE 1: SELECT  "decidim_organizations".* FROM "decidim_organization...
                                               ^
: SELECT  "decidim_organizations".* FROM "decidim_organizations" ORDER BY "dec

[2018-10-24 08:48] leio10 commented on #4357
I don't know why, but when you run `bin/rails db:create db:migrate` it is not creating the tables, only the database. Try to run every step separatedly:
[code]
The `migrate` step should output a lot of information (all the tables creations). If it is not, I guess you should check your previous steps to confirm that the application creation process is working properly.

[2018-10-24 08:59] kiwis2 commented on #4357
So I did them separately and apprantely the issue arise from _**bin/rails db:seed**_
here's a Screenshot
![s_s](https://user-images.githubusercontent.com/44402753/47419136-d4722600-d77b-11e8-88b7-6dedaa730687.jpg)

[2018-10-24 09:00] mrcasals commented on #4357
For some reason it's not migrating. Can you run `bin/rake decidim:upgrade` before migrating please?

[2018-10-24 09:16] kiwis2 commented on #4357
It worked!
Thank you all & Mrcasals, i ran the commands in this sequence :

bin/rails db:create
bin/rake decidim:upgrade
bin/rails db:migrate
bin/rails db:seed

- beside,
 when installing the gems (gem install decidim) i had to install "tzinfo-data" i do not know why it's not mentioned in the installation guide.

- other problem i faced, the database admin user, i could not change, while on the Gi

[2018-10-24 09:29] andreslucena commented on #3837
I think it's important to have this feature. We should also confirm the email for an UserGroup, it's the most generic way to authorize these on multiple organizations.
How difficult would be implementing this kind of confirmation? I think at the moment for simplicity and security we shouldn't allow changing it.

[2018-10-24 09:32] mrcasals commented on #1872
PR fixing this can be found at #4364.

[2018-10-24 09:56] kiwis2 opened #4365 "Decidim beginner"
Hi

So i have just started on deploying and learning about Decidim.
and i believe it's a great project, and i hope that i'll be adding value to it in the future.

I just wonder since there's no enough explanation for novice rails developers,  and the use of too much rails terms with explaining.

in system admin creation

what do we mean by decidim::System and where do i use that?
Since i used it i

[2018-10-24 11:41] tramuntanal commented on #4300
@isaacmg410 will take care of this

[2018-10-24 13:56] isaacmg410 commented on #4208
@decidim/product can you give more information?
I have 16 members in admin site and 16 members in public site!

This issue can be close...

![screenshot-localhost-3000-2018 10 24-15-54-48](https://user-images.githubusercontent.com/28536082/47435600-3d21c880-d7a5-11e8-8659-33f444429b01.png)
![screenshot-localhost-3000-2018 10 24-15-55-23](https://user-images.githubusercontent.com/28536082/47435603-

[2018-10-24 14:15] isaacmg410 commented on #4300
@decidim/product now the members list is sorted by `weight` and `created_at` fields both ascendent. This is not correct?.

Which sorted do you want? maybe sorted by `weight` ascendent and `created_at` descendent ?

[2018-10-24 14:32] carolromero commented on #4300
hi @isaacmg410 I understand that the most important here is to add pagination and fix the search and filters. The default sorting order is fine (I guess the person who reported the bug tried to sort by different columns in order to access the non-visible members due to the lack of pagination).

[2018-10-24 14:36] isaacmg410 commented on #4300
It is not possible to sort by different columns in members list. Then, go for fix pagination and filter and search :smile:

[2018-10-24 14:37] carolromero commented on #4208
Indeed this is a strange bug, but this is happening in Metadecidim with a specific assembly (the rest of assemblies works fine).

**Frontend**
https://meta.decidim.org/assemblies/comiteverificacio
**Backend**
![imatge](https://user-images.githubusercontent.com/23509895/47438424-b7a11700-d7aa-11e8-8d25-9b66ac81e64e.png)

[2018-10-24 14:39] isaacmg410 commented on #4208
If the members are cesaed, they don't show in the public site

[2018-10-24 14:46] carolromero commented on #4208
Wow! Well, if you look at it, the cessation date is 6 months from now.
We understood that you could set the cessation date a priori so you wouldn't have to remember it..

[2018-10-24 14:47] isaacmg410 commented on #4208
I just saw that the ceased_date is future. but the scope, to retrieve the not_ceased members is:
  `scope :not_ceased, -> { where(ceased_date: nil) }` I will change this scope to take account what you are saying!

Thanks @carolromero

[2018-10-24 14:48] carolromero commented on #4208
Great! Thanks @isaacmg410

[2018-10-24 15:03] isaacmg410 commented on #3908
I will check!

[2018-10-24 18:02] paranoix commented on #4300
Yes @carolromero , I meant that exactly, but with fixing the paging and filtering is enough. Thank you @isaacmg410  :)

[2018-10-25 07:08] Xfolchf opened #4373 "Exception: ActionView::Template::Error Decidim::Admin::LogsController#index"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/169b324a38144d28911ae347e4729eee/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
I18n::InvalidLocale: "en" is not a valid locale
  i18n.rb:311:in `enforce_available_locales!'
    raise I18n::InvalidLocale.new(locale) if !locale_availa

[2018-10-25 07:08] #4300 closed

[2018-10-25 07:09] #4208 closed

[2018-10-25 07:12] isaacmg410 commented on #3852
@decidim/product still waiting answer of this...

[2018-10-25 07:24] Xfolchf opened #4374 "Exception: ActionView::Template::Error Decidim::Accountability::ResultsController#show"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/c46da9a58c514a2fbb42069a474220f0/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ActiveRecord::RecordNotFound: Couldn't find Decidim::Accountability::Result with 'id'=1674 [WHERE "decidim_accountability_results"."decidim_component_id"

[2018-10-25 07:39] mrcasals commented on #3836
Working on this. Since there's no design on how to show this to the user, here's what I'll do:

I'll duplicate the "Share" modal, but instead of showing the current URL I'll show the .ics file URL. This way users can copy it and import it to their calendar system.

[2018-10-25 09:03] agustibr commented on #2292
Hi! @xabier
Yes the completed tasks were checked but at some point vanished away :man_shrugging:
I'll update them ASAP

[2018-10-25 09:33] carolromero commented on #4354
Hi @MarcReniu,

Yes, this is only for Processes

That's fine, those are just the criteria from which we're going to calculate the participants, but in the end we only want to see Participants in that metric.

cc/ @decidim/product

[2018-10-25 15:38] #3908 closed

[2018-10-25 21:03] kiwis2 opened #4378 "Admin page problem"
After successfully installing the framework.
I had the possibility  of logging in, but when using the path (localhost:3000/admin) i do not get the admin panel but the following :
![s_s](https://user-images.githubusercontent.com/44402753/47530198-2dd87300-d8aa-11e8-86cc-2968a4bcd118.jpg)

anyone could help out?
Many other pages are not appearing as well

[2018-10-26 06:50] isaacmg410 commented on #3801
@decidim/product @decidim/lot-px we need design on how to show in public site the meeting as an author.

[2018-10-26 09:59] carolromero commented on #3801
@furilo could you please think of a way to show that a proposal comes from a meeting?

[2018-10-26 10:00] isaacmg410 commented on #3801
The issue says:

[2018-10-26 11:16] agustibr commented on #2292
@xabier I've checked the completed tasks and added related PRs and Issues

[2018-10-26 12:28] kiwis2 commented on #4378
anyone please?

[2018-10-26 12:30] mrcasals commented on #4378
@kiwis2 try upgrading to 0.14.4, and try to send us the error stracktrace, please.

[2018-10-26 12:44] mrcasals commented on #3836
@decidim/product there are screenshots in the related PR: #4376.

[2018-10-26 12:57] kiwis2 commented on #4378
Hello Mrcasals and thanks for your support.
I have update as in the photo and made the necessary
![s_s](https://user-images.githubusercontent.com/44402753/47567616-535b9000-d92f-11e8-86f1-f4e686bf655d.jpg)
![s_s2](https://user-images.githubusercontent.com/44402753/47567617-535b9000-d92f-11e8-9704-85c45e8bcb21.jpg)

Error trace
[Action Controller_ Exception caught.pdf](https://github.com/decidim/de

[2018-10-26 12:59] mrcasals commented on #4378
The only thing I can think of right now is that you might have removed `decidim-assemblies` from your app, and that's why it's failing 😕

[2018-10-26 13:13] kiwis2 commented on #4378
Thanks for your response,
here's a list of installed gems,
![install_assemblies](https://user-images.githubusercontent.com/44402753/47568508-94ed3a80-d931-11e8-838d-a5bac8d69acc.png)

here's screenshot of the errors :
![1_s](https://user-images.githubusercontent.com/44402753/47568523-9fa7cf80-d931-11e8-834c-f512a8b7370e.jpg)
![2_s](https://user-images.githubusercontent.com/44402753/47568528-a17193

[2018-10-29 10:28] andreslucena commented on #1971
Could you please make this proposal on MetaDecidim? Thanks!

[2018-10-29 11:10] xabier commented on #1970
@mrcasals this issue is not completed nor tested. it is still under revision and to my knowledge there are different problems. I re-open. Please when a feature is completed tick the box on this issue. thanks!

[2018-10-29 11:58] microstudi commented on #2623
Regarding this issue, I've create a a pull-request in order to complete this task, for the moment partially, but I'm committed to advance if it's ok for you all.
I've also created the proposal in meta-decidim as required in the contribution guide:
https://meta.decidim.org/processes/roadmap/f/122/proposals/13308

[2018-10-29 14:55] kiwis2 commented on #4378
Anyone please?

[2018-10-29 20:43] JoaoSalinas opened #4400 "Problem to translate Decidim to 'pt-BR'"
Hi, first of all, sorry for my English, is not fluent. I needed a little help from google translate.
My name is João Pedro and I am trying to translate "Decidim" to use in "Rio Grande City Council", where i work.
I have an application running like the demo availeable in "demo.decidim.org", that I'm trying to translate the platform for 'pt-BR' and I'm not have success with this.
I try to create a n

[2018-10-30 09:38] andreslucena commented on #4400
Hi @JoaoSalinas
First of all, you should check the docs regarding [Decidim i18n](https://docs.decidim.org/developers-manual/en/advanced/managing_translations_i18n/).
You should start with a new database:

[code]

Then you should go to the system panel and add a new organization with this locale. Hope it helps.

Regarding the Crowdin files, as the docs say, we receive a PR automatically, ([for exam

[2018-10-30 09:40] andreslucena commented on #4378
Hi @kiwis2
Could you start with a fresh database?

[code]

Also if this doesn't work we should have access to the code you're working with so we can review it.

[2018-10-30 09:43] andreslucena commented on #4365
Hi @kiwis2
Could you solve this issue? (as far as I see I think that yes...)

Regarding Decidim::Sytem user, it should only be manually created on production environment. On development env we recommend to run `rails db:seed`, as it automatically creates lots of contents, including Decidim::System user.

Decidim::System is the panel where you can create and manage the different tenants inside the

[2018-10-30 10:00] Xfolchf opened #4402 "Followers badge doesn't show the actual number of followers"
**Describe the bug**
Followers Badge doesn't display the real number of followers

https://meta.decidim.org/processes/bug-report/f/210/proposals/13319

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/47710390-f879af80-dc32-11e8-8915-232bc1c529fe.png)

**Extra data (please complete the following information):**

[2018-10-30 10:03] Xfolchf opened #4403 "Display author in last activity widget"
**Describe the bug**
The author of an action must be shown in the activity feed of the home page.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13321

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/47710561-5b6b4680-dc33-11e8-81ab-cb7c647af3c4.png)

**Stacktrace**
If applicable, add the error

[2018-10-30 10:05] Xfolchf opened #4404 "Upcoming events in the home page"
**Describe the bug**
Upcoming events are displayed in descendent order. They should be shown in ascendent order.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13318

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]
 - Decidim Version: [e.g. 0.10] 0.15
 -

[2018-10-30 10:07] Xfolchf opened #4405 "Differences between Metrics and Stats"
**Describe the bug**
Metrics counters don't match Stats. Specifically in:
- Participants
- Process
- Assemblies
- Proposals
- Comments
- Supports

https://meta.decidim.org/processes/bug-report/f/210/proposals/13320

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]
 - Dec

[2018-10-30 10:10] Xfolchf opened #4406 "Newsletter Preview"
**Describe the bug**
The preview of bulletins in the previous step to send them does not work correctly.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13301

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/47710935-4e028c00-dc34-11e8-9616-a7c17e40952b.png)

**Extra data (please complete the fo

[2018-10-30 10:11] Xfolchf opened #4407 "Action buttons discussion inside an assembly"
**Describe the bug**
The action buttons for discussions are not displayed inside an assembly.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13302

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/47711042-8efaa080-dc34-11e8-9953-8f4fdf0078a3.png)

**Extra data (please complete the following inf

[2018-10-30 11:00] carolromero commented on #3973
@josepjaume regarding your proposal of improving static pages #4338 , take into account that we need also the design that @furilo has been working on.

[2018-10-30 14:55] oriolgual commented on #4404
Closed by #4398 & #4399

[2018-10-30 14:55] #4404 closed

[2018-10-30 14:56] oriolgual commented on #4405
@decidim/lot-mods @MarcReniu can you review this?

[2018-10-30 14:59] oriolgual commented on #4403
I wouldn't say this is a bug but an enhancement @decidim/product, the design didn't have this, see #3943

[2018-10-30 15:05] MarcReniu commented on #4405
@oriolgual I would need a "complete" copy of the DB to check that differences. Maybe are needed more test for corner cases that I didn't figured out yet

[2018-10-31 09:30] carolromero commented on #4403
Hi @oriolgual now I see that this was not in the previous layout and design, but it would be very useful to add the author, and so we also keep consistency with the structure we use in notifications. Can we add it?

[2018-10-31 09:40] MarcReniu commented on #4405
I detected some differences between Stats and Metrics calculations.

[2018-10-31 15:19] isaacmg410 commented on #4305
@decidim/product. I am starting to work with conference metadata and I have some doubts..

  Number of participating organizations and list
  Number of meetings included
  Number of speakers
  Number of interventions

- The attendees, are the users who have registered at the conference and who is confirmed?

- The participating organizations, are partners? Otherwhise, we don't have any kind of "or

[2018-10-31 15:22] frichtre commented on #4356
Hi, I am writing again about my issue with the sentry link :

https://sentry.io/share/issue/fa46419ad74b44029bb0597448998132/

I hope you will can to help me.

thanks

f

[2018-10-31 16:50] frichtre commented on #4356
fixed.

[2018-10-31 16:50] #4356 closed

[2018-11-02 13:47] #3193 closed

[2018-11-02 13:47] #3131 closed

[2018-11-02 13:47] #2244 closed

[2018-11-03 08:05] #4036 closed

[2018-11-05 08:37] #2979 closed

[2018-11-05 09:17] MarcReniu opened #4418 "Loofah vulnerability"
A new [Loofah](https://github.com/flavorjones/loofah) vulnerability has been detected. Explained in the following [issue](https://github.com/flavorjones/loofah/issues/154), an upgrade version must be done.

- Upgrade Loofah to version >=2.2.3

[2018-11-05 15:00] isaacmg410 commented on #4047
@decidim/product @decidim/lot-px what happens is there are more than one main organizers? Should we show them all? only the first one?

[2018-11-05 15:03] carolromero commented on #4047
@isaacmg410 let's go ahead with the current design (only one main organizer).

[2018-11-05 15:18] isaacmg410 commented on #4047
@carolromero, then if there are 4 main organizers, we take the first one :)

[2018-11-05 15:21] carolromero commented on #4047
correct!

[2018-11-05 15:22] isaacmg410 commented on #4305
@decidim/product @decidim/lot-px still waiting answer to [this comment](https://github.com/decidim/decidim/issues/4305#issuecomment-434728233)

[2018-11-05 16:40] furilo commented on #4354
@Crashillo review if some CSS is missing to accomplish this.

[2018-11-05 16:42] furilo commented on #3973
@decidim/lot-core do you need markup for this?

[2018-11-06 08:19] josepjaume commented on #4159
@carolromero in order to be able to better plan our work, do you think you could open another issue with the final work to be done with all its definitions?

[2018-11-06 09:33] Xfolchf opened #4422 "Private processes don't work"
**Describe the bug**
I have created a process and I have marked it as private. I have added a user to the process and when trying to consult the process it tells me that I don'thave permissions.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13323

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]

[2018-11-06 09:37] oriolgual commented on #4422
@decidim/lot-mods could you check this please?

[2018-11-06 09:45] Xfolchf opened #4423 "Exception: ArgumentError Sidekiq/ActionMailer::DeliveryJob"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/442bec3748934812b7ccb24ba02370aa/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ArgumentError: SMTP To address may not be blank: []
  mail/check_delivery_params.rb:21:in `check_to'
    raise ArgumentError, "SMTP To address may not be

[2018-11-06 09:47] Xfolchf opened #4424 "Exception: ArgumentError Decidim::AccountController#update"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/e83ad27af87c4bceb1e6e0a6a08f0f51/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
ArgumentError: string contains null byte
  active_record/connection_adapters/postgresql_adapter.rb:603:in `async_exec'
    @connection.async_exec(sql, ty

[2018-11-06 09:49] Xfolchf opened #4425 "Exception: ActiveRecord::RecordNotUnique Decidim::Devise::OmniauthRegistrationsController#facebook"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/d0fcc789c04042909b244858173395af/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::UniqueViolation: ERROR:  duplicate key value violates unique constraint "index_decidim_users_on_email_and_decidim_organization_id"
DETAIL:  Key (emai

[2018-11-06 09:51] Xfolchf opened #4426 "Exception: ActionView::Template::Error Decidim::Initiatives::InitiativesController#index"
Describe the bug
There was an exception on our error tracking.
More information: https://sentry.io/share/issue/f8c6bbff36344c10b06b83f4de513b60/

Expected behavior
We shouldn't have exceptions nor errors 500 on production environment.

Stacktrace
PG::GroupingError: ERROR:  column "decidim_users.id" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: ... "decidim_initiati

[2018-11-06 10:17] carolromero opened #4427 "Conferences review"
This issue is part of #3709
## Modifications
- [x] [DONE #4480 ]Remove right sidebar completely from the frontend
- [x] [Already done in master] ~~Remove "Conference" prefix from admin and group menu items like this~~

![imatge](https://user-images.githubusercontent.com/23509895/48056965-33d82900-e1b3-11e8-9161-dac3ff4d7198.png)

### Program

The program is built on meetings. Most of the time only

[2018-11-06 10:21] carolromero commented on #4305
@isaacmg410 we'll leave this outside the scope. Please review this issue with some changes needed #4427

[2018-11-06 10:35] carolromero commented on #3893
Hi @mrcasals we need to make some changes to the "Create group" form:
![imatge](https://user-images.githubusercontent.com/23509895/48058901-f75afc00-e1b7-11e8-9c61-5ec3b0f61547.png)

[2018-11-07 09:06] carolromero opened #4439 "User Centered Website Experience MVP"
This issue is part of #4123

### Tasks

#### Redesign of the public profile page

![imatge](https://user-images.githubusercontent.com/23509895/48062883-a0f3ba80-e1c3-11e8-9562-349d0d771ca0.png)
- [x] Remove tabs **Notifications** and **Conversations** [#4520]
- [x] Add new tab **Activity**. This tab will show all the public activity that the participant has generated. For the moment these are: cre

[2018-11-07 11:48] #3836 closed

[2018-11-07 12:15] #4418 closed

[2018-11-07 12:16] #2268 closed

[2018-11-07 15:07] #3880 closed

[2018-11-07 15:09] #4405 closed

[2018-11-07 15:37] #4304 closed

[2018-11-07 16:07] MarcReniu commented on #4354
@Crashillo Also, if you want to use GraphQL to retrieve data, you can make a POST request to https://meta.decidim.org/api with the following data:
[code]

[2018-11-08 10:19] Xfolchf commented on #2708
@tramuntanal Està pendent d'implementar el filtre per àmbits, tal i com es va parlar (disseny: http://decidim-design.herokuapp.com/public/assemblies/assemblies)

[2018-11-11 11:15] #3682 closed

[2018-11-11 13:16] #2918 closed

[2018-11-12 08:13] mrcasals commented on #4407
What are "discussions" in this context? @decidim/product

[2018-11-12 08:31] mrcasals commented on #4439
@carolromero are we dropping Conversations, then? Or where should they be displayed?

[2018-11-12 08:56] carolromero commented on #4439
We are removing Conversations and Notifications from profile tabs, but they
will be accessible from menu and icons

El lun., 12 nov. 2018 9:31, Marc Riera <notifications@github.com> escribió:

[2018-11-12 09:02] mrcasals commented on #4439
@carolromero but Conversations uses the profile tab layout to be displayed:

![](https://i.imgur.com/FAVJQVC.png)

Does this mean we need to move it away from the profile tab layout? Originally, that's how it was done, but then we were asked to move Conversation to the profile layout... Are we undoing this change?

[2018-11-12 09:22] carolromero commented on #4439
@mrcasals yes we are proposing this change since we need to add 2 more tabs to the user profile.

[2018-11-12 09:46] mrcasals commented on #3893
@carolromero while developing #4256 I made phone numbers and document numbers required, on purpose. Those fields were required on the previous version of the form, so I kept the behaviour.

Should I make those fields optional?

[2018-11-12 10:00] mrcasals commented on #4159
@decidim/product can you take care of @josepjaume's comment, please?

[2018-11-12 10:02] carolromero commented on #3893
@mrcasals with the new functioning of Groups (the way to manage them from the front-end etc), we will now have verified and unverified groups.

[2018-11-12 10:40] mrcasals commented on #4343
I'm checking this issue and I have some concerns on it. These sections (meetings, proposals, accountability) work this way:

1. Only one section per type appear in the page, even if multiple components of the same type are present. Eg, if a process has 2 proposals component, only 1 proposals section will appear.
1. Each section will find all resources of the given type, and show N, **independent o

[2018-11-12 11:07] mrcasals commented on #4303
See #4457 for a PR implementing this.

[2018-11-12 11:36] oriolgual commented on #4407
I think it means debates @mrcasals (by looking at the screenshot).

[2018-11-12 11:46] mrcasals commented on #3801
@decidim/product in this case, how are amendments accepted? And who can accept them? 😕

[2018-11-12 11:53] mrcasals commented on #3893
@carolromero done, check $4458! 😄

[2018-11-12 11:53] mrcasals commented on #3893
@carolromero done, check #4458! 😄

[2018-11-12 12:19] tramuntanal commented on #3801
hi @mrcasals amendments are accepted by the author of the amended proposal though a button. But we're in a meetings related issue here, why are you asking?

[2018-11-12 13:02] mrcasals commented on #3801
Because if the author of the proposal is a meeting, then I don't understand who can accept these amendments. An organization admin/process admin acts in the name of the meeting, and accepts amendments? Even if that person was not present in that meeting?

[2018-11-12 13:03] #4303 closed

[2018-11-12 13:38] mrcasals commented on #4346
@decidim/lot-px what's the status on this? Is the layout ready? 😄

[2018-11-12 13:57] mrcasals commented on #4159
@decidim/product I'm taking @carolromero's comment as the definitive list of things to do: https://github.com/decidim/decidim/issues/4159#issuecomment-424638034. I've checked the checkboxes of the things that are already done, and I've added some missing related issues, but some items are not detailed, are missing layout (all Search ones, first 2 items in Processes) or need some discussions. Can y

[2018-11-12 14:52] carolromero commented on #3893
Hi @mrcasals I'm late to the PR but I miss the link in the header text, which should point to the /Help section. It is important to explain what Groups are, what can be done with them and how they can be verified (this Document Number will vary in each organization and must be explained).

[2018-11-12 15:02] carolromero commented on #3893
Oh ok @mrcasals, no problem then, let's wait until de Contextual Help is finished :)

[2018-11-12 15:07] mrcasals commented on #3974
Dev notes:

We can reuse how the `UpdateMeeting` command implements this:

https://github.com/decidim/decidim/blob/df7237c296432f389a4a8d534c493288b365e9a7/decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb#L26
https://github.com/decidim/decidim/blob/df7237c296432f389a4a8d534c493288b365e9a7/decidim-meetings/app/commands/decidim/meetings/admin/update_meeting.rb#L62-L77

[2018-11-12 15:21] tramuntanal commented on #3801
Indeed it is a good question for @decidim/product @isaacmg410

[2018-11-12 16:34] carolromero commented on #3801
I agree with @isaacmg410. Who receives a notification about any interaction with that proposal, is the admin of space. For the amendments it should be the same (the most typical use case will be proposals that have been discussed and elaborated in person and perhaps their authors will not participate digitally later nor will they have a user account in Decidim).

[2018-11-13 07:55] arnaumonty commented on #4407
@oriolgual exactly

cc @mrcasals

[2018-11-13 07:58] mrcasals commented on #4230
@decidim/product @decidim/lot-px the related PR has been merged and the new layout is already on `master`, can we close this issue or is there something pending?

[2018-11-13 08:06] oriolgual commented on #3893
Pinging @josepjaume here, @carolromero what's missing from contextual help?

[2018-11-13 08:06] carolromero commented on #4230
@mrcasals @decidim/lot-px in this issue there is also the new design of announcements for contextual help. If this is also been merged we can close it.

[2018-11-13 08:08] oriolgual commented on #4230
Nope, we're still working on the announcements.

[2018-11-13 08:13] oriolgual commented on #4407
We'll need more information since I can't reproduce this at staging.

[2018-11-13 08:30] Crashillo commented on #4346
Not yet, sorry, @mrcasals, I'll let you know when ready.

[2018-11-13 08:43] mrcasals commented on #4159
@decidim/product apart from the doubts in the previous comment:

Currently, the "Official" filter returns only proposals where one of the authors is the Organization. The "Citizens" filter returns any organization where one of the authors *is not* an Organization. Imagine this scenario:

- Proposal A is authored by organization, only.
- Proposal B is authored by organization, user and user group.

[2018-11-13 08:50] carolromero commented on #3893
@oriolgual AFAIK we still have the MVP pending. Let's comment in #3973

[2018-11-13 09:18] isaacmg410 commented on #4427
@decidim/lot-core we need to find a solution to this.
Can we make these fields optionals? Without any implication?
Also, how can we mark a meeting like "CoffeBreak"?

[2018-11-13 09:19] josepjaume commented on #3893
@carolromero do we have content for the help pages?

[2018-11-13 09:28] isaacmg410 opened #4461 "Conference Metadata"
Data visualization
This data is a summary of the data collected at the end of each face-to-face meeting and is in addition to the data specific to the event.

- [ ]   Number of attendees
- [ ]   Number of participating organizations and list
- [ ]   Number of meetings included
- [ ]   Number of speakers
- [ ]   Number of interventions

[2018-11-13 09:37] oriolgual commented on #4427
Can't you overwrite these settings at `ConferenceMeeting` @isaacmg410?

[2018-11-13 09:40] mrcasals commented on #4427
Well, this clearly shows why a meeting is not a conference talk.

The only thing I can think of is letting conferences have `Events` (I don't know if this already exists), which can be related to meetings or not. If they are related to meetings, then they inherit its contents (title, authors, descriptions, location, dates...). If they don't have any related meeting, then they can set all these val

[2018-11-13 10:34] mrcasals commented on #3974
@decidim/product what text should we show here?

[2018-11-13 10:45] mrcasals commented on #4159
@decidim/product more doubts:

When User A sends messages to User B, we only send one single message to User B to avoid sending too many emails. Once User B visits the conversation, we consider the conversation is read, so if User A sends more messages we'll send another email:

- User A sends message to User B => we send an email to B
- User A sends message to User B
- User A sends message to Use

[2018-11-13 11:46] mrcasals commented on #3974
Talked offline with @oriolgual and came up with the following text:

Also, instead of making proposal followers follow the result we'll directly get the proposal followers and send them the notification.

[2018-11-13 14:05] carolromero commented on #4427
The problem with this is that you can't set "bar" as a location, you have to put a postal address.

[2018-11-13 14:09] mrcasals commented on #4427
@carolromero what location do you enter for talks? Can't you add the same for coffee breaks?

[2018-11-13 14:21] mrcasals commented on #4427
Also, from the screenshot, shouldn't Conferences have a different icon? Now it's using the "Assemblies" one.

[2018-11-13 14:23] carolromero commented on #4427
@mrcasals well, yes, we can. The question is, do we want to?
![imatge](https://user-images.githubusercontent.com/23509895/48418861-b4200080-e756-11e8-88d7-67d6cd2d34c3.png)
The design we validated didn't show this. But if this is good enough for the rest of @decidim/product, it's good enough for me as well.

[2018-11-13 14:35] furilo commented on #4343
I'd go with option 4.

[2018-11-13 15:04] isaacmg410 commented on #4427
@mrcasals

Yes, we need a diferent icon. @decidim/lot-px we need the icon.

@carolromero @decidim/product
just as a comment. At the initial meeting of conferences CdP, we agreed that the `MeetingsComponent`  would be used as conference events. With the features that already had.

[2018-11-14 10:11] MarcReniu commented on #4354
@decidim/product @carolromero Hello, I've been told that there is needed a functionality to "Download data" as CSV for charts in "All statistics" page.

Which data have to be _download_? The same showed in graphics?

[2018-11-14 10:41] carolromero commented on #4354
Hi @MarcReniu that's correct.

[2018-11-14 12:17] furilo commented on #4427
I understand it's only for the admin, right? In that case, we might just pick up one from the library. What about the Microphone?

https://decidim-design.herokuapp.com/public/library/pattern-library#patternIcons

![captura de pantalla 2018-11-14 a las 13 16 38](https://user-images.githubusercontent.com/24740/48481957-9c588300-e80f-11e8-9b02-59072c5d5e70.png)

[2018-11-14 12:17] Crashillo commented on #4354
[This PR](https://github.com/decidim/decidim/pull/4475) includes those chart styles missing

[2018-11-14 13:51] isaacmg410 commented on #4427
@decidim/lot-px @decidim/product
how should we proceed with this?

From this
![screenshot-localhost-3000-2018 11 14-14-51-08](https://user-images.githubusercontent.com/28536082/48486784-c6fd0880-e81c-11e8-9bcb-44f3be53e612.png)

To this?

![screenshot-localhost-3000-2018 11 14-14-50-29](https://user-images.githubusercontent.com/28536082/48486796-cbc1bc80-e81c-11e8-80c2-01a4820f255d.png)

[2018-11-14 13:53] furilo commented on #4427
+1

[2018-11-14 13:56] isaacmg410 commented on #4427
@furilo without changing any column size of partners, for example?

[2018-11-14 13:58] furilo commented on #4427
everything is liquid right? Why would you want to change it?

[2018-11-15 07:51] isaacmg410 commented on #4427
@carolromero @decidim/product

Already done in master. Is it okey?
![screenshot-localhost-3000-2018 11 15-08-50-48](https://user-images.githubusercontent.com/28536082/48538052-adf36680-e8b3-11e8-8930-57565450f231.png)

[2018-11-15 09:11] isaacmg410 commented on #4427
@decidim/product about this:

This behavior is the same everywhere. For example, if 'Speakers' not exists or 'AssemblyMembers' it returns a 404 page

[2018-11-15 09:22] josepjaume commented on #3973
I consider this closed since #4470, but without predefined content, as it hasn't been provided to us (except for the welcome notification).

Contextual help content applies to the whole of a participatory space and the same text is visible on the individual participatory space, as well as the index page.

[2018-11-15 09:50] mrcasals commented on #4346
PR implementing the design can be found at #4472

[2018-11-15 10:16] josepjaume commented on #4343
Yeah, option 3 seems the most consistent / useful / less misleading.

[2018-11-15 12:52] Xfolchf opened #4486 "The badges do not properly account the followers of my profile"
**Describe the bug**
The followers' badge says I only have a follower, but in reality I have 4.

I understand that 3 followers are before the implementation of the badges and the fourth after adding the badges

I expected to have 4 followers on badges

https://meta.decidim.org/processes/bug-report/f/210/proposals/13328

**Screenshots**
If applicable, add screenshots to help explain your problem.
!

[2018-11-15 12:54] Xfolchf opened #4487 "When editing a meeting, the description is filled in with the title text."
**Describe the bug**
When editing a meeting, the description is filled in with the title text.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13332

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/48554154-e60f9f00-e8dd-11e8-9575-677b6b90edde.png)

**Extra data (please complete the following in

[2018-11-15 13:08] mrcasals commented on #4487
Closed by #4483

[2018-11-15 13:08] #4487 closed

[2018-11-15 13:37] #4346 closed

[2018-11-15 13:50] Xfolchf opened #4488 "Hyperlinks for follow-up"
**Describe the bug**
Para el seguimiento al Pam es fundamental poder navegar desde la plataforma a los documentos iniciales del proceso.
Al ingresar a el botón "EL Proceso" (https://www.decidim.barcelona/processes/pam) luego de Què és el Pla d’actuació municipal de Barcelona? se nos ofrece un enlace a: Navega per la proposta inicial de l'Ajuntament, sin embargo, el enlace te redirige al home de De

[2018-11-15 13:53] Xfolchf opened #4489 "Processes are shown outside the groups"
**Describe the bug**
When a group of processes is done, the group processes are also shown individually.
In this way, the process space is somewhat disorganized and it is hard to find the information you are looking for.
On the other hand, it does not contribute anything to a group of processes and you can find these outside the group as well.

https://meta.decidim.org/processes/bug-report/f/210/p

[2018-11-15 13:55] Xfolchf opened #4490 "Activate invitations assemblies"
**Describe the bug**
When opening the registrations of a meeting of an assembly, if the body of the description is blank, instead of giving the standard error communicating that it is necessary to fill in the description field, it throws an error 500.
If you fill in the description there is no problem.

**Expected behavior**
I expected the standard error reporting that the description field is man

[2018-11-15 13:57] Xfolchf opened #4491 "Profile url error"
**Describe the bug**
This error occurs on the page of a meeting, the profile of the organizer appears at the top of the meeting's page, but the username instead of a @ is at you and clicking on it to visit the profile, it gives error. If @ extra removes the url, the error is solved.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13335

**Screenshots**
If applicable, add screenshots

[2018-11-15 14:07] mrcasals commented on #4488
This is not a Decidim bug, but something the Barcelona Town Hall needs to change from the admin section.

Closing.

[2018-11-15 14:07] #4488 closed

[2018-11-15 14:11] mrcasals commented on #4490
@decidim/lot-mods can you check this please?

[2018-11-15 14:35] carolromero commented on #4489
Hi @mrcasals in fact this is not intended. I remember we talked about it a few times. Logic says that if several processes are included in a group, only the group is shown in the general index of Processes (applying the same logic as the parent and child assemblies).
Also, we have a design that has never been implemented and that corresponds specifically to group of processes.

![imatge](https://u

[2018-11-15 14:59] mrcasals commented on #4489
@carolromero the design was implemented:

![](https://i.imgur.com/yZfIM76.png)

PR is #3395, discussion is https://github.com/decidim/decidim/issues/2828#issuecomment-388328604

I'll leave this open and try to work on it at some point, then.

[2018-11-15 15:11] #4343 closed

[2018-11-15 15:35] josepjaume commented on #4439
I think the issue is pretty clear - since we don't have an implemented layout for the "my interests" form, we'll use the mockup @carolromero is suggesting as a reference.

[2018-11-15 16:25] mrcasals commented on #4309
@decidim/product we sent you an email on Monday about this, but we're still waiting for an answer. Since @Crashillo has already started working on the layout, I'm translating the email and posting it here publicly to avoid double efforts.

---

This issue asks for an improvement of the global search system, so that the filters in the components search appear in the global search.as an example, if

[2018-11-15 16:34] tramuntanal commented on #4309
Hi @mrcasals good summary :+1:

[2018-11-16 09:10] mrcasals commented on #4489
@carolromero what happens if a highlighted process is also in a process group? Should we show it in the highlighted section? Or should we hide it?

[2018-11-16 09:18] carolromero commented on #4489
@mrcasals we had the exact same doubt with child assemblies. As a general rule, the highlight setting must allow to show any space as highlighted, independently of its dependencies with other spaces. So, as we have established with assemblies, if a process within a group is highlighted, it would appear in the highlighted section.

[2018-11-16 09:21] mrcasals commented on #4491
Related to #4169

[2018-11-16 09:57] carolromero commented on #4309
Hi @mrcasals thanks for the explanation.

Some questions/doubts about the changes you are proposing:
- Merging the current search systems will continue to be possible and we could address it in the future so that it works in the way we had initially planned.
- Would the search options be extended to more components/spaces or would they still be the current ones (Proposals, meetings, users)? I unde

[2018-11-16 10:14] mrcasals commented on #4309
Merging both systems requires a lot of work. It can be done, but we don't have time for it with the current state of things.

With our suggestion of changes, we would keep using the global search system as it is right now (proposals, meetings, users). If both search systems were merged then the global search would work for every resource type implementing a search.

Exactly. We can improve how cur

[2018-11-16 10:40] mrcasals commented on #4486
Duplicated of #4402

[2018-11-16 10:40] #4486 closed

[2018-11-16 10:57] mrcasals commented on #4402
Looks like we forgot to run `Decidim::Gamification.reset_badges` when updating versions, I'll do it on Metadecidim.

[2018-11-16 10:57] #4402 closed

[2018-11-16 10:58] oriolgual commented on #4309
What about the spaces or components that have no state? Like assemblies.

[2018-11-16 11:01] mrcasals commented on #4402
Solved!

![](https://i.imgur.com/hAdUQYE.png)

[2018-11-16 13:18] #4169 closed

[2018-11-16 13:18] #4491 closed

[2018-11-16 14:13] Crashillo commented on #4230
So @oriolgual, I'll assume @decidim/lot-core is on this. I update labels properly.

[2018-11-16 14:14] Crashillo commented on #4250
May we close this one? It's merged and it requires no backend integration

[2018-11-16 14:15] #2594 closed

[2018-11-16 14:16] Crashillo commented on #4321
May this issue be closed? Header was merged.

[2018-11-16 14:29] mrcasals commented on #4250
Closed by #4310 and #4311

[2018-11-16 14:29] #4250 closed

[2018-11-16 14:36] #4342 closed

[2018-11-16 15:15] oriolgual commented on #4321
@josepjaume can this be closed? Take into account it's referring to the design app.

[2018-11-16 15:16] oriolgual commented on #4230
Yes @Crashillo, and I think we can close this, thew new header and contextual help have been merged.

[2018-11-16 15:16] oriolgual commented on #4230
gg

[2018-11-16 15:16] #4230 closed

[2018-11-17 20:20] #4232 closed

[2018-11-19 09:14] mrcasals commented on #4122
@decidim/product @xabier @carolromero

This clashes with #4439, which adds a new section in the Account area to select some scopes. As #4439 is newer, I'll prioritize that issue instead of this one, so I'll ignore this item.

These two items clash IMO. If the admin can enable custom attributes for user profiles, but can't define them... It doesn't add much. What should we do here?

We currently ha

[2018-11-19 09:59] #4489 closed

[2018-11-19 10:09] #4141 closed

[2018-11-19 10:51] arnaumonty commented on #3752
@tramuntanal  as we commented in our last meeting we agreed to substitute the action button "follow" for the action button "amend" and the counter of amendments to each proposal as the other action buttons have.

But we should apply this when amendments (#2292 ) be finished.

![image](https://user-images.githubusercontent.com/3855859/48702297-de5b3d80-ebf0-11e8-92ef-71217178b939.png)

@decidim/lot

[2018-11-19 11:41] mrcasals commented on #3801
Should we close this isusue? What's left to do?

[2018-11-19 11:43] carolromero commented on #3801
No, we're waiting for @decidim/lot-px to provide the design.

[2018-11-19 11:45] mrcasals commented on #3801
But the PR is already merged: #4382. What design is missing?

[2018-11-19 12:25] carolromero opened #4514 "Chart Assemblies design"
After having tested the organizational chart for Assemblies Index we need to make some changes to the design:

- [x] Remove the background grid, as it makes it difficult to see the chart items clearly.
- [x] Adjust the filling of the Assemblies and the thickness of the lines that join them to make them more visible. See image below (note: It doesn't have to be gray, it's just an example.)
- [ ] Mo

[2018-11-19 12:37] isaacmg410 commented on #3801
The design that I applied, is what the issue said.

[2018-11-19 12:41] carolromero opened #4515 "Design to show the parent Assembly in a child Assembly"
We don't have a design to show the parent assembly related to a child assembly and the current solution is not visible enough:
https://meta.decidim.org/assemblies/eix-relat?locale=es
![imatge](https://user-images.githubusercontent.com/23509895/48707558-2a61ae80-ec00-11e8-92d4-cc0ac2d73f00.png)
We could apply a design reusing design elements we already have. @furilo could you please think of a solu

[2018-11-19 13:11] arnaumonty commented on #4122
@mrcasals

ok

The first one os to enable or disable attributes in the public profiles from the admin. For the MVP would be just the scopes and areas. The second allows to add custom attributes in the public profile, but this is the first iteration and is conditioned to the first iteration of participant attributes.

Is not like this, ti should be a new verification method.

This verification meth

[2018-11-19 13:29] tramuntanal commented on #4142
Keep it open stale-bot!

[2018-11-19 13:33] mrcasals commented on #4122
This is what I understand after @arnaumonty's comment: the first item allows displaying the areas/scopes the user has selected in #4439, and they should appear in the user profile. The second one would add other attributes (defined by an admin) to the profile. If this is true, this should be moved to #4439, and we'll probably need design for this.

Ok!

OK, just a clarification. The data entered b

[2018-11-19 14:56] furilo opened #4519 "Decidim Design / Update Card Stack"
https://decidim-design.herokuapp.com/public/library/pattern-library#patternCardsM, Card Stacks, does not correspond to the actual. It should show the card as show here:

https://github.com/decidim/decidim/issues/4489#issuecomment-439069152

[2018-11-19 22:20] tramuntanal commented on #3752
Yes @arnaumonty , we'll need the layout for the amend button with counter @decidim/lot-px

[2018-11-20 08:35] Xfolchf opened #4521 "Meeting minutes"
**Describe the bug**
When generating a record of a meeting, when making it public, instead of taking it by title "acta" put "minuts de trobada"

https://meta.decidim.org/processes/bug-report/f/210/proposals/13337

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g. iOS8.1, Windows 10]
 - Browser: [e.g. Chrome, Firefox, Safari]
 - Decid

[2018-11-20 08:41] mrcasals commented on #4521
@decidim/lot-mods can you check this please?

[2018-11-20 08:55] Xfolchf opened #4523 "Do not save bulletin settings in the notification settings"
**Describe the bug**
I try to activate the receipt of newsletters from the settings of my account (selecting the option and clicking "Save changes") and when I see the saved settings again, it is deactivated again.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13339

**Extra data (please complete the following information):**
 - Device: [e.g. iPhone6, Desktop]
 - Device OS: [e.g.

[2018-11-20 09:52] #3166 closed

[2018-11-20 10:10] mrcasals commented on #4122
Also, @decidim/product, this is how the form for the "ID Documents" verification looks for a user:

![](https://i.imgur.com/IxrLgbg.png)

I'll need some text to replace that heading for this new verification method.

[2018-11-20 12:41] #3857 closed

[2018-11-20 12:41] #2336 closed

[2018-11-20 13:50] amiedes opened #4527 "Incorrect presence validation may cause empty newsletters to be sent"
**Describe the bug**

The `subject` and `body` presence validations in the backoffice newsletter form only check that the attribute is present in the current locale. This causes that newsletters with the `subject` and `body` empty for other locales can be saved and sent.

Also, because of the way the `subject` and `body` are generated in [`NewsletterMailer`](https://github.com/decidim/decidim/blob

[2018-11-20 14:00] mrcasals commented on #4423
Closed by #4324

[2018-11-20 14:00] #4423 closed

[2018-11-20 14:13] mrcasals commented on #4527
Hi @amiedes! Thanks for the bug report!

I'm not sure about the best solution here, which one would you prefer? Considering we generally only enforce the presence of the default locale...

/cc @decidim/product thoughts?

[2018-11-20 14:30] mrcasals commented on #4424
Solved directly to the server.

[2018-11-20 14:30] #4424 closed

[2018-11-20 14:58] #4523 closed

[2018-11-20 15:34] #4261 closed

[2018-11-20 19:12] carolromero commented on #4309
Hi @mrcasals and @oriolgual,

Yes, I was asking only not to make decisions that compromise options in the future, but no, we won't do it right now.

Then, the solution can be to use the design made by @decidim/lot-px, keeping the Scopes, and adding the filters: All, Active, Past, Next. @oriolgual in the case of components within Assemblies would be shown as Active.
![imatge](https://user-images.gi

[2018-11-21 08:06] mrcasals commented on #4309
@carolromero sounds good! I'll start working on this right now. I only have one more doubt:

What about resources that do not belong to any space/component? Users, in this case. How should the filter apply?

[2018-11-21 08:54] #4312 closed

[2018-11-21 08:55] #4352 closed

[2018-11-21 09:14] #4519 closed

[2018-11-21 09:18] carolromero commented on #4309
Hi @mrcasals, I would say either apply the Active filter to them, or disable the filter when selecting a resource to which that filter does not apply. What do you think?

[2018-11-21 09:42] carolromero commented on #4309
@mrcasals yes, I was thinking more of showing it disabled rather than hiding it, but perhaps the latter is better in terms of the participant's experience? Rest of @decidim/product how do you see it?

[2018-11-21 10:15] oriolgual opened #4532 "Error when editing a meeting"
**Describe the bug**

Editing a meeting description or title with multiple locales causes the meeting to write the same content to all the locales (using the current one).

**Expected behavior**

Each locale should have their content.

**Screenshots**

![2018-11-21 11 13 02](https://user-images.githubusercontent.com/5254/48834573-733f7180-ed7e-11e8-8460-f006c2a614a7.jpg)
![2018-11-21 11 12 56](htt

[2018-11-21 10:48] Crashillo commented on #4514
Hi there, @carolromero take a look at this:
![2018-11-21 11 23 57](https://user-images.githubusercontent.com/817526/48835726-2dd07380-ed81-11e8-9afe-972690454bc1.gif)

As you have noticed:
- Background now is white
- Borders and lines are a little thicker
- Cards have a light-gray background
- The chart boundaries are smaller than the chart itself, in order to avoid cards moving outside

The probl

[2018-11-21 10:52] amiedes commented on #4527
Hi!

I think enforcing just the default locale and doing a fallback to it if the content is not present in other locales would be nice, but that's up to your product team.

[2018-11-21 10:57] mrcasals commented on #4527
@amiedes yes, that's what I'd do too! Let's wait for @decidim/product's response, but I think they'll agree with us 😄

[2018-11-21 11:18] carolromero commented on #4514
Hi @Crashillo, ok, I'll let you know once I try it. Thanks!

[2018-11-21 12:57] tramuntanal opened #4539 "Callback to automatically verify on omniauth registration"
**Is your feature request related to a problem? Please describe.**
We are facing many times the situation where user registration and verification are done together.

This use to happen when the organization has a third party DB with user information that Decidim access via OmniAuth or similars. This DB may provide authentication and verification at the same time.

The problem I'm posting about is

[2018-11-21 12:59] tramuntanal commented on #4539
@decidim/lot-core can you share your thoughts? Am I missing some already existing solution?
We'll be glad to implement some common solution in Decidim.

[2018-11-21 13:06] #4514 closed

[2018-11-21 13:54] tramuntanal commented on #4539
Yes, i was also thinking about it :+1: we'll work on this during this Autumn.

[2018-11-21 13:55] oriolgual commented on #4248
@arnaumonty about the extra column with the participatory space:

What do you need there? The name, id, URL, reference? Everything?

[2018-11-21 13:56] oriolgual commented on #4248
@andreslucena @arnaumonty this is an example CSV with proposals, would this format work (after adding the extra columns) at Open Data BCN?

[proposals-2018-11-21-49961.zip](https://github.com/decidim/decidim/files/2604452/proposals-2018-11-21-49961.zip)

[2018-11-21 14:12] mrcasals opened #4540 "Admin-created proposals are not indexed for the global search"
**Describe the bug**
#3618 fixed a bug that prevented non-published proposals to appear in the global search. To fix it, proposals were forced to be indexed only on update, considering that when a user creates a proposal from the public area it's first created as a draft. This works OK, but that PR introduced another bug: proposals created from the admin area are not indexed.

This happens because

[2018-11-21 14:12] mrcasals commented on #4540
@decidim/lot-mods can you check this please?

[2018-11-21 22:09] leio10 commented on #4539
Hi @tramuntanal, a few weeks ago [I've monkeypatched the OmniAuth registrations controller to achieve exactly that](https://github.com/podemos-info/programas2019/blob/master/app/controllers/decidim/devise/omniauth_registrations_controller.rb). I wanted to share it here because maybe it could helpful for you and to tell you that it would be great to have a nice way to do it. :smile_cat:

[2018-11-22 09:00] arnaumonty commented on #4122
Hi, @mrcasals, we have been discussing this, and the main goal of this part is to verify physically, but the use case is not for the users who don't have an account, is for registered users.

In this sense we have proceeded to reduce the complexity with the following actions, leaving out the creation of a new way to verify.

- We should add direct verification from the admin panel using a list of

[2018-11-22 09:34] Xfolchf opened #4545 "Language switcher doesn't work in Homepage widgets"
**Describe the bug**
Language switcher doesn't work in Homepage widgets. Also, when uploading a background image for the Hero image widget, it's not stored properly.

https://meta.decidim.org/processes/bug-report/f/210/proposals/13347

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/33894931/48894102-2cb34b00-ee42-11e8

[2018-11-22 09:38] Xfolchf opened #4546 "Limiting the value of projects for participatory budgets"
**Describe the bug**
Performing a simulation of a participatory budget of 9.500.000.000€ I tried to create a project of 5.803.980.100€ and gives the following error:

F, [2018-11-21T07:52:08.484510 #2831] FATAL -- : [d57dda0f-f395-4243-8c1e-9fede5c6e39a]
F, [2018-11-21T07:52:08.484637 #2831] FATAL -- : [d57dda0f-f395-4243-8c1e-9fede5c6e39a] ActiveModel::RangeError (5803980100 is out of range for A

[2018-11-22 10:36] vwasteels opened #4550 "how to set locales"
Hello,

I'm new to all this rails / ruby stuff, coming from PHP Laravel,

I can't find how to change locales, basic, I tried in ```config/initializers/decidim.rb``` :

[code]

But no luck,
Thanks !

[2018-11-22 10:46] mrcasals commented on #4122
After talking offline with @arnaumonty, this is what we agreed on doing.

Changes will only affect the "ID documents" verification method. The changes are intended to create offline "verification boothes", where users can be verified in person by showing their identity documents.

The ID documents verification method will now have two modes:
- Online: the current one, without any change. User uplo

[2018-11-22 11:01] Xfolchf opened #4551 "Inconsistent home page statistics vs dataviz (different numbers and labels)"
**Describe the bug**
1. The statistics displayed on the home page and the data visualization stats are inconsistent. Stats says "Participants", Dataviz says "Users" (it should be "Participants"), there are 534 participants and 678 users!. Votes (should actually say "Supports") are 1002 in Stat and 999 in Dataviz counter. Proposals are 522 in Dataviz counter and 519 in Stats.... There are more.

2.

[2018-11-22 11:38] mrcasals commented on #4551
@decidim/lot-mods can you check this please?

[2018-11-22 11:44] oriolgual commented on #4550
@vwasteels what do you mean by change locales? What do you want to do?

[2018-11-22 12:01] #4532 closed

[2018-11-22 13:37] MarcReniu commented on #4551
@mrcasals We already talked about this differences in the PR #4416. I guess that statistics is the one that have to be updated

[2018-11-22 13:41] Xfolchf opened #4555 "Sign button text doesn't change to "already signed" for initiatives"
**Describe the bug**
1. When clicking over the "Sign" button in Initiatives the button changes color but it doesn't change text, the button changes from red to green, yet it says "sign". Participants not familiar with color-codes, when already signed, will see a green button saying "sign" and they will click it to sign, to see that it changes to red, without knowing what that means.

2. Together w

[2018-11-22 13:43] vwasteels commented on #4550
ok thanks, I learned something :)

[2018-11-22 13:43] Xfolchf opened #4556 "[CRITICAL] Vote/support button not responsive"
**Describe the bug**
1. The Vote/suppor button is not responding to action: you push the button, counter doesn't add the button doesn't display "Already voted", unless the page is refreshed. This is a very critical bug, since participant can unvote, they might keep pushing the vote button without knowing if they vote has been finally counted or not. Refreshing the page is not an obvious action to

[2018-11-22 13:50] Crashillo commented on #4309
Design PR https://github.com/decidim/decidim/pull/4494

[2018-11-22 14:06] Crashillo commented on #3752
@tramuntanal since amend button looks like a hollow secondary button [(check here)](https://decidim-design.herokuapp.com/public/amendments/proposal-view-with-amendment-button), you may copy the follow button and remove the icon

[2018-11-22 14:08] Crashillo commented on #3752
Sorry, I wanted to say the comment button, if you need a counter on it

[2018-11-22 14:59] #4545 closed

[2018-11-22 20:47] tramuntanal commented on #4539
Hi @leio10 , I've already started the `ActiveSupport::Notification` implementation, but looking at your code I see it can also be a good alternative to implement an `after_action` method that looks for some class with convened nomenclature, if the class exists it is invoked, otherwise does nothing.
Conventions vs events...

[2018-11-23 08:48] isaacmg410 commented on #4521
@decidim/lot-core @decidim/product this is a bug with the translation. Can you change the translation to the Crowdin, please?

[2018-11-23 09:02] oriolgual commented on #4551
I'd actually remove the statistics, it makes no sense to have two different systems to displays metrics.

[2018-11-23 09:03] oriolgual commented on #4551
@MarcReniu keep in mind that the issue is also talking also about labels

[2018-11-23 09:07] MarcReniu commented on #4551
@oriolgual Now `Participants`, for metrics, has a new meaning: number of users that have done at least one participatory action (#4354)

[2018-11-23 09:34] mrcasals commented on #4551
@decidim/product as per what @MarcReniu says, this is not a bug, right?

[2018-11-23 09:47] carolromero commented on #4551
No, this is a bug.
Please @MarcReniu  let's not mix concepts and spaces.

One thing are the metrics of the general homepage, where **users** are shown (people who have registered an account in Decidim) and another are the metrics of the home of a process, where **participants** are shown (people who have performed some action within a process)-.

[2018-11-23 09:53] MarcReniu commented on #4551
Then is ok to say `Users` in metrics shown in home page, right?

[2018-11-23 10:13] oriolgual commented on #4551
It seems that votes should also be changed to supports.

[2018-11-23 10:17] carolromero commented on #4551
No, actually the label should always say "Participants", let's think of the UX here. We don't want to use different terms. The "mess" comes because in the homepage of a process, until now, we did not have statistics of participants. In any case, I understand that at the code level we need to differentiate `users` from `participants` but the label we will use will be the same to facilitate the user

[2018-11-23 10:20] carolromero commented on #4551
As @oriolgual points out, other labels should also be changed. And besides participants, we still have several mismatches between metrics and statistics, despite of having modify it here? https://github.com/decidim/decidim/issues/4405

[2018-11-23 10:40] mrcasals commented on #4551
I think this issue is talking about the main homepage. You can have both the metrics and the stats content blocks activated, and they calculate similar metrics differently. I don't know why metrics where calculated differently from stats, but @MarcReniu posted the differences here: https://github.com/decidim/decidim/pull/4416#issuecomment-434648635

[2018-11-23 10:40] mrcasals commented on #4551
@carolromero I think this issue is talking about the main homepage. You can have both the metrics and the stats content blocks activated, and they calculate similar metrics differently. I don't know why metrics where calculated differently from stats, but @MarcReniu posted the differences here: https://github.com/decidim/decidim/pull/4416#issuecomment-434648635

[2018-11-23 10:55] #2271 closed

[2018-11-23 11:04] carolromero commented on #4551
@mrcasals that's right, and we agreed to change it to use the same calculations for both.:
https://github.com/decidim/decidim/pull/4416#issuecomment-434662119

[2018-11-23 11:33] mrcasals commented on #4551
@MarcReniu this is missing, right? Can you check it? 😄

[2018-11-23 11:36] MarcReniu commented on #4551
@mrcasals I checked that some metrics need to be modified, but also statistics. Now I'm focused on DataVizz PRs, this is why I don't do it already

[2018-11-23 11:38] mrcasals commented on #4551
@MarcReniu ok!

[2018-11-23 12:56] isaacmg410 commented on #4427
@decidim/product I'm doing this

Do you agree to put the word Free, or do you prefer that there is nothing?
If this is the case, we need PX to make changes to css

![screenshot-localhost-3000-2018 11 23-13-52-58](https://user-images.githubusercontent.com/28536082/48944500-45496100-ef27-11e8-9b13-5224fa16cfb8.png)

[2018-11-23 13:04] carolromero commented on #4427
@isaacmg410 let's go with the "Free" solution. Not bad to considere the possibility of having mixed priced and free events.

[2018-11-23 14:14] mrcasals commented on #3929
Closed, we're already using `batch-loader`.

[2018-11-23 14:55] #3356 closed

[2018-11-23 18:19] magwas commented on #2719
I can't find output of "Client: Documentation for configuring a new application" part above. Searched for "oauth" in the admin doc, but no result.

[2018-11-23 20:12] oriolgual commented on #2719
Hi @magwas,

You can find the information at this repository: https://github.com/decidim/omniauth-decidim

And here's also an example: https://github.com/decidim/metadecidim/blob/master/config/initializers/omniauth_decidim.rb

[2018-11-23 20:15] oriolgual commented on #2719
And also information about the server part: https://github.com/decidim/decidim/blob/master/docs/customization/oauth.md

Hope this helps!

[2018-11-24 14:38] tramuntanal opened #4568 "More flexible settings for Markdownlint"
**Is your feature request related to a problem? Please describe.**
I would like to appoint 2 problems:

1. While markdown has a very flexible syntax that accepts may variants, as you may have found, Markdownlint rules are getting stricter and stricter. Resulting in having an only one way to write markdown.

We've arrived to a point that by applying Markdonlint's dictated rules (and ironically bein

[2018-11-24 14:49] tramuntanal commented on #4568
It turns out that the new "max 80 chars per line" rulethe new "max 80 chars per line" rule has been correctly applied but as I have a big font now texts break unexpectedly:

![image](https://user-images.githubusercontent.com/199462/48969538-6d58c300-f000-11e8-8f81-42810881560c.png

This was not happening before this rule existed

[2018-11-24 16:51] tramuntanal opened #4569 "SocialShareButton initializer in dummy should declare its dependency in the generator"
**Describe the bug**
When generating a new module, when generating the external dummy app, a SocialShareButton initializer is added. Because of this, now modules need to add the corresponding dependency: `gem 'social-share-button'`.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a module depend on decidim 0.15.0 or higher
2. Generate `bin/rails decidim:generate_external_test_app`
3. Im

[2018-11-24 16:53] tramuntanal commented on #4569
May we have the same problem with "bootsnap" dependency?

[2018-11-25 14:50] #4026 closed

[2018-11-25 14:50] #3702 closed

[2018-11-26 08:00] isaacmg410 commented on #4422
@decidim/product @decidim/lot-core

Please! Can you give more information about this issue. I tried to reproduce the error and I did not succeed.

I've a private process.
![screenshot-localhost-3000-2018 11 26-08-56-30](https://user-images.githubusercontent.com/28536082/49000313-714c2880-f159-11e8-9529-a4fed910eec3.png)

Then add the user as Private User.
![screenshot-localhost-3000-2018 11 26-08-

[2018-11-26 08:31] isaacmg410 commented on #4244
@decidim/lot-core @decidim/product can we close this issue? or is something pending up?

[2018-11-26 09:33] Crashillo commented on #3816
Just to confirm: Are all scripts-related stuff merged? If so, I'll proceed with this cc/ @MarcReniu @decidim/lot-core

[2018-11-26 09:37] MarcReniu commented on #3816
PR related is near to be merged. I had to add a correction in areachart JS to control null configuration values

[2018-11-26 10:00] Crashillo commented on #3816
Cool, then, ping this issue when ready.

[2018-11-26 10:54] mrcasals commented on #4262
Closed by #4329

[2018-11-26 10:54] #4262 closed

[2018-11-26 11:16] josepjaume commented on #4439
@carolromero related to the `timeline` page -> I don't think removing notifications of items you follow is such a good idea. Having those is valuable as it brings users that don't visit decidim on a daily basis back to the platform.

I would just implement the timeline tab without removing notifications and rethink this in the future once we've seen how it works in production.

[2018-11-26 11:21] #4309 closed

[2018-11-26 11:29] mrcasals commented on #4122
Took me  a while to realise, but @arnaumonty confirmed this via thumbs-up reaction (reactions don't generate notifications), I'll start working on this!

[2018-11-26 11:32] mrcasals commented on #4309
@decidim/product PR implementing this has been merged! You can check it on staging!

[2018-11-26 11:33] mrcasals commented on #4159
@decidim/product can we close this issue? Search improvements have been implemented on #4537!

[2018-11-26 11:40] carolromero commented on #4309
hi @mrcasals looks great!

[2018-11-26 11:51] deivid-rodriguez commented on #4568
Linter guy here taking the chance to say hello to everyone! :wave: :wave: :smiley:

When I added the markdown linter, I explicitly [disabled the line length check](https://github.com/decidim/decidim/blob/73ab0506645aa690091cd0b67a7002085b19c92f/.mdl_style.rb#L7). So, I'm not sure where your problem lies, but it's not intentional. Maybe the problem is that codeclimate is not applying our configurat

[2018-11-26 11:53] carolromero commented on #4159
hi @mrcasals I just reviewed the PR, it works beautifully. Just one design detail. Since we are dividing the results by component type, the card label it isn't needed anymore.
Also, is almost unreadable:
![imatge](https://user-images.githubusercontent.com/23509895/49012594-2bec2300-f17a-11e8-9bd2-460c32ff643d.png)

[2018-11-26 12:00] mrcasals commented on #4159
@carolromero PR to fix this can be found at #4571 😄

[2018-11-26 12:02] carolromero commented on #4159
@mrcasals yasss, closing this issue then.

[2018-11-26 12:02] #4159 closed

[2018-11-26 14:35] tramuntanal opened #4572 "External test app generator not copying module's migrations"
**Describe the bug**
Since at least Decidim `0.0.15` when a module has migrations, these migrations are not copied into the dummy app when executing:
[code]

They were automatically copied in previous versions but now it has to be done manually.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to this module's PR: https://github.com/MarsBased/decidim-file_authorization_handler/pull/19 or t

[2018-11-26 15:15] magwas opened #4575 "db:seed fails with NoMethodError: undefined method `top_scopes' for #<Decidim::Organization:0x000055fb9df2b360>"
**Describe the bug**

When running rails db:create db:migrate db:seed, it fails with undefined method

**To Reproduce**

    docker run -it --entrypoint /bin/bash decidim/decidim
    gem install decidim
    decidim decidim_application
    apt-get -y install postgresql vim sudo
    cd decidim_application/
    vi config/database.yml #postgres user is root with password root
    service postgresql st

[2018-11-26 15:20] arnaumonty commented on #4122
I'm so sorry, @mrcasals I thought that you were receiving notifications with that. I'll take into to account for the next time. The description of our agreement is great and it is exactly the same that we talked.

[2018-11-26 15:21] mrcasals commented on #4122
@arnaumonty no problem! Thanks for the confirmation 😄