[2021-01-22 07:34] mrcasals commented on #7163
It's possible that fix hasn't been ported to the `release/0.23-stable` branch.

[2021-01-22 07:34] diputaciodegirona commented on #7079
I can confirm that this last solution works perfectly in a multitenant environment

[2021-01-22 07:40] #7188 closed

[2021-01-22 07:57] mrcasals commented on #7200
Thanks for tracking this, @alecslupu!

[2021-01-22 07:58] mrcasals commented on #7200
@alecslupu did this appear while trying to upgrade to the v0.12.0 of the gem? I don't understand, please give some context in the issue description, otherwise it's hard to track!

[2021-01-22 08:01] mrcasals commented on #7202
@decidim/product can you chime in here, please? 😄

[2021-01-22 08:01] alecslupu commented on #7200
In one of the installations i have, I noticed the deprecations. That particular installation is running the GraphQL 1.12.0
Those will deprecations will appear in decidim ( core ) after #7201 will be applied.

I have raised the ticket to have it as a rerminder to fix later this month.

[2021-01-22 08:03] mrcasals commented on #7200
Got it, thanks!

[2021-01-22 08:09] #7190 closed

[2021-01-22 08:17] mrcasals commented on #7079
Yay, thanks! I'll try to send a PR to improve the docs on this.

[2021-01-22 10:53] #7098 closed

[2021-01-22 12:40] oliverbarnes commented on #6989
Hello everyone 👋  I'm working on implementing this.

I've noticed the existing conversation link on the profile sidebar greys out and is disabled depending on a `user.accepts_conversation?(current_user)` check, which seems to be based on the profile user following the current user (the user who'd like to start the conversation), if a `direct_message_types` flag is set to 'followed-only'.

What's t

[2021-01-22 16:30] virgile-dev commented on #6989
Hello @oliverbarnes
I would show a disabled link with a tooltip on hover to explain this follow rule
"[Username] needs to follow you to receive your messages"
Do you have a PR or a Meta Decidim proposal explaining the behaviour of `user.accepts_conversation?(current_user)` ?
I can see many people complaining if the default state is no messages allowed if do not ?

[2021-01-22 17:01] oliverbarnes commented on #6989
Sure, here's [the issue](https://github.com/decidim/decidim/issues/5679) and [the PR](https://github.com/decidim/decidim/pull/5720). They don't seem to have a related Metadecidim discussion.

To be clear, this is optional behavior, not the default. The user needs to choose it in their notification settings.

[2021-01-22 17:21] virgile-dev commented on #6989
Good to know ! Thanks.

[2021-01-25 10:38] orlera commented on #7101
Hello @decidim/product 👋
This has been developed, you can check it [here](decidim-staging-pr-273.herokuapp.com)

[2021-01-25 10:59] orlera commented on #7103
Hi @decidim/product 👋
This has been developed and can be checked in this [review app](https://github.com/decidim/decidim/pull/7194)

As explained in the [PR](https://github.com/decidim/decidim/pull/7194), I also implemented the "promotion" behaviour as for consultations - it can be removed if we don't want that.

One doubt: as it is right now, a past voting (one with end time before now) will stil

[2021-01-25 11:26] orlera commented on #7102
Hello @decidim/product!
This can be reviewed [here](decidim-staging-pr-276.herokuapp.com)

[2021-01-25 11:38] iak92 opened #7215 "Cant Access organization when using localhost:port"
**Describe the bug**
I installed Decidim for test purposes on an old machine of mine with Ubuntu 20.04. I followed the installation guide of Platoniq. I got it running and can access the Admin page via local network. I then created an organization and put localhost:port as host, so I could access the organization page via local network (IP_of_machine:port). But I get server not found. Is there a w

[2021-01-25 13:29] #7099 closed

[2021-01-25 13:29] #7100 closed

[2021-01-25 13:37] #6363 closed

[2021-01-25 15:24] mrcasals commented on #7215
Maybe @microstudi can help?

I'd say you should be able to run your server with `bundle exec rails s` skipping the whole Nginx setup in the guide (taking this file as the guide https://github.com/Platoniq/decidim-install/blob/master/decidim-focal.md), but I've never used that guide to install Decidim...

[2021-01-25 16:43] alecslupu commented on #7200
Closed by #7201

[2021-01-25 16:43] #7200 closed

[2021-01-25 16:44] alecslupu commented on #7196
@mrcasals let me know if still encounter issues after applying #7199

[2021-01-25 18:32] #6632 closed

[2021-01-25 18:32] #6634 closed

[2021-01-25 20:04] oliverbarnes commented on #6989
@htmlboy is there a recommended way to implement the above in Decidim, in terms of approach and styling? Haven't found any examples so far. The existing conversation link has an image rather than text. Would like to avoid adding something hacky -- currently I have a provisional "#" in the href, which when clicked directs the user to the top of the page, before they can even see the title on hover.

[2021-01-26 07:41] mrcasals commented on #7196
Can't see them anymore, thanks!

[2021-01-26 07:41] #7196 closed

[2021-01-26 07:58] mrcasals commented on #6720
Hi @mcyph @halsk! Sorry for the late response on this. I cannot reproduce this on current `develop` branch in my local machine, and neither on the `release/0.23-stable` branch 😕

Any idea what might be happening?

[2021-01-26 08:17] virgile-dev opened #7223 "File upload settings do not work properly"
**Describe the bug**
Adding a new accepted file extension doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  /system
2. Add `pptx` in the "Allowed file extension" field
3. Save config
4. Try to create a proposal with a pptx attachement see error `the file type is not valid`

**Expected behavior**
After adding `pptx` to my org config I should be able to upload a file with th

[2021-01-26 08:24] ahukkanen commented on #7223
What do you have in your allowed mime types?

[2021-01-26 08:31] virgile-dev commented on #7223
The default ones. To be honest I didn't understand this Mime types part.
<img width="1091" alt="Capture d’écran 2021-01-26 à 09 29 56" src="https://user-images.githubusercontent.com/11473995/105819894-19b7da80-5fb9-11eb-8838-4df0c95ba669.png">

[2021-01-26 08:52] ahukkanen commented on #7223
@virgile-dev Add this to the allowed (default) MIME types: `application/vnd.openxmlformats-officedocument.presentationml.presentation`.

Here's a list of common mime types:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types

It's additional level of security because people can change the file extension quite easily.

Also note that especially when you add offi

[2021-01-26 09:05] carolromero commented on #7202
Hi there! I agree with you guys that this is annoying, and I like @PierreMesure's proposed solution, so the PR will be very welcome!
@paulinebessoles we are thinking about the redesign of the home page of the participatory spaces, for the moment I would make this change and we will see later what other solutions we can find!

[2021-01-26 09:09] virgile-dev commented on #7223
Thanks a lot !

[2021-01-26 09:09] #7223 closed

[2021-01-26 09:25] carolromero commented on #7101
Hi @orlera! Everything works perfect, but for the last AC "As an administrator if I left empty the help section then it's not visible for the visitors", I still see the help banner even though it has no content. Could you please take a look at it? Thank you!

[2021-01-26 09:31] carolromero commented on #7103
Hey @orlera the link to the review app points me to the PR :smile:

[2021-01-26 09:35] carolromero commented on #7102
@orlera well done! Thanks!

[2021-01-26 09:35] mrcasals commented on #7223
Glad it was solved so quickly! Thanks @virgile-dev for the report, and @ahukkanen for the quick response!

[2021-01-26 09:37] mrcasals commented on #7202
@PierreMesure care to send a PR with your code, then? 😄

Thank you so much everyone! ❤️

[2021-01-26 09:45] orlera commented on #7103
@carolromero Doh! Here is the right link: https://decidim-staging-pr-275.herokuapp.com/

[2021-01-26 10:03] orlera commented on #7101
Hi @carolromero!
Thanks for the review :)
This actually seems to be a broader problem valid for all help sections and unrelated to this PR (you can check it in the staging app https://staging.decidim.codegram.com/).
I suspect it is related with machine translations (although from a user perspective is seems like there are no translations, we still have 'hidden' machine translations).

If you don't

[2021-01-26 10:11] #5975 closed

[2021-01-26 10:29] carolromero commented on #7103
@orlera brilliant work with the content block here :ok_hand:!

About including the "Promoted" option, YES, thank you! The funny thing is that I don't see that option currently in Consultations, but in Processes and Assemblies, and we were needing something like that for Votings :)
The thing, though, is that if you mark a Voting as Promoted, it should appear in the highlighted votings (just like pr

[2021-01-26 10:38] orlera commented on #7103
@carolromero yeah, totally missed that behaviour! I'll take care of that and ping you back when it is ready 👍

[2021-01-26 10:43] carolromero commented on #7103
@orlera thanks!!

[2021-01-26 11:00] carolromero commented on #7101
@orlera yep, ypu're totally right, this is an issue we're been dragging on for a while.

Thanks :)

[2021-01-26 11:01] #7102 closed

[2021-01-26 12:46] microstudi commented on #7215
Decidim do not take into account the port in the host parameter in system. Just put "localhost", it should work. Also, `IP` and `localhost` are different things, use the host that you are going to test. A nice trick to test arbitrary hosts is to add a line in your `/etc/hosts` file, such as:
[code]

You mention that are using Platoniq's guide, but that is intended for production machines, are you

[2021-01-26 12:53] iak92 commented on #7215
Right now I'm using nginx with passenger, and the nginx configuration is running on port 8080 with server name = _ . So I can access it from my Laptop with ip_of_machine:8080.

Thank you for your response. I will try putting a url in and reconfiguring my hosts file.

[2021-01-26 13:48] #7101 closed

[2021-01-26 14:35] #7186 closed

[2021-01-26 15:26] #7085 closed

[2021-01-26 15:40] orlera commented on #7103
Hi @carolromero! Fixed the issue, the new version is available at https://decidim-staging-pr-275.herokuapp.com

[2021-01-26 18:02] virgile-dev commented on #6989
@oliverbarnes Thinking it all the way through. My idea involves having a tooltip inside another tooltip, this won't work UX wise. I think your first intuition is the way to go. Let's not display the "Send private message" link when the user setting doesn't allow it.

[2021-01-27 08:35] carolromero commented on #7103
@orlera awesome work :clap: :clap:

[2021-01-27 14:09] orlera commented on #7104
Hello @decidim/product 👋
This should be good to be reviewed!

From the admin panel, an admin can now:
 - Choose which voting type they want when creating/updating a voting;
 - Add components to a voting (wasn't yet present);

When a voting is of type "Online" or "Hybrid", a persistent red banner reminds the admin that they need to add at least an election component to the current voting.

Notice t

[2021-01-27 15:49] #6074 closed

[2021-01-27 21:49] alecslupu opened #7238 "[GraphQL] Multiple definitions for `Voting`. Previously found Decidim::Votings::VotingType (Class), then found Decidim::Votings::VotingType (Class) at Voting"
**Describe the bug**
Visiting the admin dashboard, the metrics are not displayed due to following error.

Multiple definitions for `Voting`. Previously found Decidim::Votings::VotingType (Class), then found Decidim::Votings::VotingType (Class) at Voting

This has been added with: #7145 , retates to: #7196, and can be fixed as the implementation from: #7199

**To Reproduce**
Steps to reproduce the

[2021-01-27 21:52] alecslupu commented on #7238
CC: @agustibr, @mrcasals

[2021-01-28 07:34] mrcasals commented on #4173
A first attempt at fixing this was made on #7165 by porting #3744 to the collaborative drafts wizard. Mid-development, though, naming issues started to arise: we had to add the "draft" state for "collaborative drafts" (those are collaborative drafts that are still in the wizard), and publishing a draft collaborative draft made it "open" so that other people could collaborate on it. Publishing an o

[2021-01-28 08:41] mrcasals commented on #4173
See #7239 for the new approach to solving this.

[2021-01-28 09:08] lahdeero commented on #7180
I look into this

[2021-01-28 09:19] htmlboy commented on #6989
@oliverbarnes Hi!

I'm not sure there's a recommended way, but a disabled contact button from the profile page with a tooltip might work; although a warning call-out on top of the profile page (with a disabled contact button or removed contact button) might work as well. What do you think?

[2021-01-28 10:53] carolromero commented on #7104
@orlera great work as usual! Thanks for the detailed explanation, everything looks fine, sending this to technical review!

[2021-01-28 10:55] mrcasals opened #7240 "CSV uploads fail with error 500 when file has an unexpected encoding"
**Describe the bug**
CSV uploads expect files in UTF-8 to be able to deal with them. But if the uploaded file has a different encoding, then the server fails with an error 500.

This should be handled by Decidim to inform the user that there was an error, and give some tips about the source of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the admin site, Processes -> Pick one ->

[2021-01-28 11:15] oliverbarnes commented on #6989
@htmlboy Hi :) thanks for the response. My own impression is still that not showing it is simplest and clearest, given the current user can't do anything about it - they need to wait for the author to follow them in order to message in the future, and meanwhile any added info is pretty useless IMO - just noise. As a user, the only reason I'd like an explanation would be if I saw a disabled call fo

[2021-01-28 13:06] mrcasals commented on #7180
Closed by #7241

[2021-01-28 13:06] #7180 closed

[2021-01-28 13:48] #4173 closed

[2021-01-28 13:55] #7103 closed

[2021-01-28 14:18] mrcasals commented on #7238
@alecslupu I can't replicate this on current `develop` 😕 Any idea what might be going on?

[2021-01-28 14:35] alecslupu commented on #7238
@mrcasals I am running latest decidim as well:
you can have a look here http://alecslupu.go.ro:3309/admin/  rev: d6618d260b79b404f73889ddaca8d5f8750c9b36

The issue resides in the fact that VotingsType is getting Redefined ... is the same issue as in  #7196

I did not come with a PR, as the module is under development... Please see the stacktrace above

[2021-01-28 15:01] carolromero commented on #6989
Hey @oliverbarnes this looks good! I also think that not showing "Send private message" works better.

The only thing I can think of, imagining I'm a participant browsing the proposals, is that if I see that one user has that option and another doesn't, and I want to contact her, I'd probably click on her profile to find out what's going on. Right now there is the contact icon and until you click

[2021-01-28 15:02] alecslupu commented on #7238
@mrcasals  i confirm that reported issue is fixed by  #7245

[2021-01-28 15:16] carolromero opened #7246 "Tooltip cards for user profiles not shown with sorting options"
**Describe the bug**
When I browse the index of proposals in the default order, I can see the tooltip cards of the participants. If I apply a sorting option for the proposals (most voted, most commented, etc.) they are not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://staging.decidim.codegram.com/processes/aut-laboriosam/f/3/?locale=en](https://staging.decidim.cod

[2021-01-28 15:31] oliverbarnes commented on #6989
I see what you mean :) the behavior is inconsistent between the tooltip and activy sidebar profile contexts. How about I update the sidebar UI in a separate issue and PR, so we can wrap this one up? This way we can also discuss the different solutions for the sidebar separately.

[2021-01-28 15:31] virgile-dev opened #7247 "Improve origin of seed data for proposals"
**Describe the bug**
The are only official proposals on the index in the seed data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a proposal index in a participatory process
2. See that there are only official proposals

**Expected behavior**
I'd like to have a proposal made by a user, one made in a meeting and one made by a user group.

**Screenshots**
<img width="632" alt="Capture

[2021-01-28 16:01] carolromero commented on #6989
@oliverbarnes sounds perfect! Thank you.

[2021-01-28 16:01] oliverbarnes commented on #6989
I've gone ahead and created a new Metadecidim issue for this: https://meta.decidim.org/processes/roadmap/f/122/proposals/16205

[2021-01-29 07:55] #7238 closed

[2021-01-29 08:04] #6989 closed

[2021-01-29 10:09] htmlboy commented on #7112
Hi! The following is a mockup that tries to address the landing page needs stated above. It follows the design patterns of an ongoing redesign, that can be found in the design app of `feat/redesign` branch.

![Landing eVote](https://user-images.githubusercontent.com/468685/106260092-52a5b880-6220-11eb-831c-cad3becdc895.png)

Here are the main highlights:

- The header is slightly taller than the g

[2021-01-29 12:42] oliverbarnes opened #7249 "Migrate to Zeitwerk"
[Rails 6 upgrade](https://github.com/decidim/decidim/pull/7086) is close to being merged thanks to @alecslupu's brave effort 🦾 🦾

But in order to keep the PRs manageable, adapting the codebase to [Zeitwerk auto-loading has been postponed](https://github.com/decidim/decidim/pull/7086/files#diff-7cd0612341516821abbe21b14c638b5d76717f79a58fd3ff41dcb124c4514007R59-R74).

This issue is meant to lay dow

[2021-01-29 13:12] #5976 closed

[2021-01-29 13:28] mrcasals opened #7250 "Replace partials with the cells they render"
This is not a bug _per se_.

Some partials only render a cell. This adds some indirection that, while it's probably very small, it makes the debugging a little harder. I suggest we remove those partials to use directly the cells.

Here's a list of the partials I found that only render a cell:

- `decidim/shared/flag_modal`
- `decidim/shared/announcement`

Some others could be easily extracted into

[2021-01-29 15:43] froger opened #7252 "Assemblies navigation tab shows up when none are visible"
**Describe the bug**
We have published assemblies in the "private space" only. The navigation tab "Assemblies" shows up for everyone. For an unauthenticated visitor, clicking the tab ends up with a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Create one and only one assembly published as private.
2. Disconnect
3. Access the site
4. See the tab "Assemblies"
5. Click, see a 404 error p

[2021-01-30 09:41] mrcasals opened #7253 "Integrate decidim-design with Storybook.js"
Storybook.js is a tool to showcase UI components. Seems to be quite a standard for frontend developers, so maybe we could explore using it? It allows HTML-based components (that's our case, in contraposition of using Vue/Angluar/React/etc) and the guides say it supports server-side rendering with Rails:

https://storybook.js.org/docs/html/get-started/introduction

There's a library to preview View

[2021-02-01 07:47] mrcasals commented on #7252
Nice catch, @froger! Thanks for reporting it!

[2021-02-01 07:48] #7252 closed

[2021-02-02 09:30] agustibr commented on #5972
Hi @carolromero !

I've changed the message text, you can review it [here](https://decidim-staging-pr-290.herokuapp.com/processes/perspiciatis-quia/f/10/elections/7). Thanks 😄

When the verification is dissalowed by Scope and Postal Code:
<img width="657" alt="Screenshot 2021-02-02 at 10 24 21" src="https://user-images.githubusercontent.com/210216/106579556-22705980-6541-11eb-8d33-1e1f7a8ea348.png

[2021-02-02 09:47] #7104 closed

[2021-02-02 10:49] carolromero commented on #7112
@htmlboy thanks for the proposal.  It might be interesting to test this possible redesign with a new space.
Here's some feedback:

Regarding the elections block, it is true that in a voting space there can be 1 or several elections, but from experience with consultations we know that 90% of the time there will only be 1. We want to avoid what happens now, where a participant has to make several cl

[2021-02-02 11:05] carolromero commented on #5972
@agustibr checked, thanks! Sending this to technical review

[2021-02-02 11:36] orlera commented on #5974
Hi @decidim/product 👋
This is ready for review.
Here is the review app: https://decidim-staging-pr-291.herokuapp.com
I set up an [open election](https://decidim-staging-pr-291.herokuapp.com/processes/omnis-est/f/20/elections/43) where it can be tested - mind that I already voted with admin@example.org, you might want to log in with another user to test the whole thing.

As you can see in the scree

[2021-02-02 13:17] carolromero commented on #5974
Hi @orlera, this works great, well done!

About the copy, here's the one to use for the call out:
"You have already voted in this election. You can change your vote or verify it."

In terms of design, I expected to find what was defined here:
https://staging-design.decidim.codegram.com/public/evote-poll-landing
Sorry, we refined this issue several months ago and we didn't have the design finished

[2021-02-02 14:12] #5972 closed

[2021-02-02 14:30] #7250 closed

[2021-02-02 14:34] #6100 closed

[2021-02-03 14:37] iak92 commented on #7215
Okay so I got it to. I used an normal URL. sub.domain.com and added it to my hosts on my Laptop. I then added another nginx configuration that listens to that URL and gives access via passenger to the root folder of my decidim aplication.

[2021-02-03 16:51] orlera commented on #5974
Hi @carolromero!
Here we go with updates! 😄

I set up an [election in a new review app](https://decidim-staging-pr-294.herokuapp.com/processes/quia-aut/f/20/elections/9) with the design adapted as requested. Watch out: I already voted with admin@example.org so you might want to use another user to test the whole thing.

Also, with @leio10 we thought that it would be better to warn the user in case

[2021-02-04 08:11] carolromero commented on #5974
Hi @orlera! Thanks for making the changes, everything's working great! :rocket:  (I voted for astra zeneca of course :smile:).

Yes! Leo told us yesterday :+1:

[2021-02-05 11:12] andreslucena opened #7285 "Merge actions of "Minutes" and "Close" in meetings"
Ref: OM07 / DECOM-2

**Is your feature request related to a problem? Please describe.**

Currently the meetings component has 11 actions available, which have been added over time.

In one of the first iterations, the "Close" action was added, which allows a meeting to be completed by adding a summary report (with the number or attendees and related proposals).

Later, the option to upload meeting

[2021-02-05 11:14] andreslucena opened #7286 "Meetings map is optional in component"
Ref: OM08 / DECOM-1

**Is your feature request related to a problem? Please describe.**

As a visitor sometimes we show the map of meetings but it doesn't make much sense. For instance if all the next meetings are online.

**Describe the solution you'd like**

As an admin I'd like to have the option to disable the meetings map in the meetings component inside of a participatory space.

**Describe

[2021-02-05 11:15] andreslucena opened #7287 "Improve control of comments in meetings"
Ref: OM24 / DECOM-15

**Is your feature request related to a problem? Please describe.**
As an administrator there are cases where I want to be able to disable or enable comments depending in the context of the meeting itself. For instance in the city of Barcelona we have Public Audiences, that they enable questions through comments until 24 hours

**Describe the solution you'd like**
I want to ha

[2021-02-05 11:16] andreslucena opened #7288 "Upgrade to Rails 6"
Ref: OM27 / DECOM-3

On August 2019 Rails 6 was launched. We're using Rails 5.2 so we need to upgrade.

### Why

* Because it's important to be updated as sometime in the future Rails 5.2 will be deprecated.
* Because there are some features that are best supported there (like parallel tests or webpacker)
* There are some APIs that we want to have like ActionText (for using [Trix Editor](https://t

[2021-02-05 11:17] andreslucena opened #7289 "Migrate from QuillJS to Trix"
Ref: OM25 / DECOM-5

As a developer that works with Decidim I want to play with the new shiny API and WYSIWYG editor: ActionText and Trix.

![](https://i.imgur.com/tcIQg4T.png)

This is really useful as Trix editor was made by Basecamp, Ruby on Rails inventors, so it's well integrated in the framework.

### Legacy

Mind that as we're talking about a really integrated library inside of Decidim, so

[2021-02-05 11:18] andreslucena opened #7290 "Migrate from Carrierwave to ActiveStorage"
Ref: OM28

Historically in Rails we had our own holly war regarding what you should use for file uploads: [Carrierwave or Paperclip](https://www.ruby-toolbox.com/categories/rails_file_uploads).

From Rails 6 we had a new option: [ActiveStorage](https://edgeguides.rubyonrails.org/active_storage_overview.html). The nice thing about this is that it's a native Rails API, so it'd be better supported fo

[2021-02-05 11:19] andreslucena opened #7291 "Migrate to webpacker"
Ref: OM26 / DECOM-6

Related to the upgrade to Rails 6, we need to migrate to webpacker, as this is the default way of handling javascript in Rails. See more information in the discussion at #6806, especially the great detective work by @alecslupu:

[2021-02-05 11:19] alecslupu commented on #7288
@andreslucena I am already running Decidim with Rails 6 ... this week has been rolled to envs and no issues found as per last commit in PR

[2021-02-05 11:21] andreslucena opened #7292 "Remove creation date of the meeting card"
Ref: OM01 / DECOM-14

**Is your feature request related to a problem? Please describe.**

As a visitor I find the creation date shown on some cards confusing. For example, meetings always have a celebration date, which is the relevant information, but the date on which a meeting has been created is not.

**Describe the solution you'd like**

I would like only the relevant dates to be shown for eac

[2021-02-05 11:22] andreslucena opened #7293 "Add avatar to non participant assembly members"
Ref: OM03 / DECOM-13

**Is your feature request related to a problem? Please describe.**

Assembly members without an user show the default avatar image and that's not nice.

**Describe the solution you'd like**

As an admin of a process I want to be able to add an avatar to a member of an assembly if she doesn't have a registered account.

This could have privacy implications, as we're talking ab

[2021-02-05 11:24] andreslucena opened #7294 "Add groups as assembly members"
Ref: OM04 / DECOM-12

**Is your feature request related to a problem? Please describe.**

As an assembly admin sometimes I need to add an user group as member of an assembly.

**Describe the solution you'd like**

As an assembly admin I want to be able to add a user group as a member of an assembly.

**Describe alternatives you've considered**

N/A

**Additional context**
[Metadecidim proposal](ht

[2021-02-05 11:25] andreslucena opened #7295 "Add announcement in the Assembly space"
Ref: OM06 / DECOM-11

**Is your feature request related to a problem? Please describe.**

As an administrator of an assembly sometimes I need to add relevant announcements.

**Describe the solution you'd like**

The Process space has the option to add an announcement but the Assembly space does not have that possibility. As an admin I want to have the possibility to add an announcement in the Asse

[2021-02-05 11:26] andreslucena opened #7296 "Notify registration code in my account"
Ref: OM11 / DECOM-10

**Is your feature request related to a problem? Please describe.**

As a participant when I register in a meeting I don't have a  notification.

**Describe the solution you'd like**

To receive this notification.

**Describe alternatives you've considered**

N/A

**Additional context**
[Metadecidim proposal](https://meta.decidim.org/processes/roadmap/f/122/proposals/13122)

I

[2021-02-05 11:26] andreslucena opened #7297 "Show participants list in meetings"
Ref: OM12 / DECOM-9

**Is your feature request related to a problem? Please describe.**

As a way to incentive the participation and social aspects of the meetings, it'd be nice to show **who** is going to a meeting. As this has privacy implications, this will be an option for the participants to opt-in.

**Describe the solution you'd like**

As a participant, before I register to a meeting, I hav

[2021-02-05 11:27] andreslucena opened #7298 "Meeting calendar providers"
Ref: OM19 / DECOM-8

**Is your feature request related to a problem? Please describe.**

As a visitor for adding a meeting to my personal calendar I find the process too manual and error prone: I need to find the datetime at my calendar, add the title, location, etc.

**Describe the solution you'd like**

For this problem other platforms (like Eventbrite, see "Additional context") choose ways to a

[2021-02-05 11:31] andreslucena opened #7299 "Publish and unpublish only one meeting"
Ref: OM20 / DECOM-7

**Is your feature request related to a problem? Please describe.**

When creating a meeting on an already published meeting component the meeting gets published directly and users get notified instantly. This is problematic because it's only after publishing my event that I can add registration modalities, agenda etc.

Because of this users who check out the notification right

[2021-02-05 11:34] cf17jeremy commented on #7034
Hello @marta-platoniq, can you explain in more detail how to reproduce this error?

[2021-02-05 11:41] alecslupu commented on #7291
Short update here, rolled back sprockets upgrade due to faulty behavior on assets compiling...

[code]

Adding `.js`, `.js.erb` to  'application/ecmascript-6' processor, would make the frontend fail with a strange error...  'application/ecmascript-6', to which i could not find the source.

![image](https://user-images.githubusercontent.com/105683/106572300-ee953400-6540-11eb-9549-e733dd90d69a.png)

[2021-02-05 11:42] alecslupu commented on #7291
from: https://edgeguides.rubyonrails.org/webpacker.html#webpacker-in-rails-engines

As of Webpacker version 5, Webpacker is not "engine-aware," which means Webpacker does not have feature-parity with Sprockets when it comes to using within Rails engines. The Webpacker engine guides provide some detailed workarounds to add Webpacker-support and developing locally against an engine with Webpacker.

[2021-02-05 12:41] alecslupu commented on #7290
This may be relevant to be used: https://github.com/igorkasyanchuk/active_storage_validations

[2021-02-08 07:20] andreslucena commented on #6640
Hello! I'm closing this issue as the languages are already created at crowdin side. @shirgoldbird if you need anything else please let us know

[2021-02-08 07:20] #6640 closed

[2021-02-08 07:28] andreslucena commented on #7253
Wow that's awesome, I didn't know it.
+1 to using this
For understanding it better they have good examples: https://storybook.js.org/docs/web-components/get-started/examples
Related to this, the design app should have a next version with some changes: better examples, not using lorem ipsum, everything should be in English, etc.

[2021-02-08 08:31] mrcasals opened #7305 "Update NodeJS to 14 and NPM to 7"
NodeJS 12 is no longer the LTS version. Currently, it should be NodeJS 14.

Also, we should probably bump the npm version.

[2021-02-08 09:36] mrcasals commented on #7289
After this is done, we will be able to develop a way to allow drag&drop local images to an editor field and upload those images as attachments. I think there's an example in the Trix page.

We might need to customize the example or wait until #7290 is done, but it would be a super nice feature!

[2021-02-08 10:09] marta-platoniq commented on #7034
I have seen that there is already an HTML editor when defining a proposal template :) as mentioned, this seemed to be (part of) the problem. As I can't reproduce the error (seems to be solved) I close this.

![image](https://user-images.githubusercontent.com/72607737/107204561-1717a500-69fd-11eb-9cfe-68dbde278848.png)

[2021-02-08 10:44] agustibr commented on #7111
Hi @decidim/product ! This is ready to be reviewed, it can be checked [here](https://decidim-staging-pr-296.herokuapp.com/votings). Thanks 😁

[2021-02-08 10:48] marta-platoniq opened #7310 "Past meetings are displayed in no order"
**Describe the bug**
Past meetings in meetings component are displayed in no order and it's hard to have a traceability of them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://meta.decidim.org/assemblies/eix-comunitat/f/149/
2. Check the meetings order... can you say which was the last?

**Expected behavior**
As specified here #813 , past meetings should be ordered by start da

[2021-02-08 13:11] IvanOrtizp opened #7313 "Proposal export function is not defined"
**Describe the bug**
The file create_proposal_export.rb has a function (ProposalsExporterJob) to export the proposals but that is not defined anywhere and the command CreateProposalExport is not used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'decidim/decidim-proposals/app/commands/decidim/proposals/create_proposal_export.rb'

**Expected behavior**
That function would have to be

[2021-02-08 13:48] mrcasals commented on #7313
Hi, @IvanOrtizp! Thanks for reporting this!

This class seems to be unused, I tried looking for `CreateProposalExport` in the codebase and the only result is the class definition itself. It hasn't been modified since May 2017, so I think it's safe to remove it.

Thanks!

[2021-02-09 09:23] carolromero commented on #7111
@agustibr brilliant work! :sparkles: Thanks!

[2021-02-09 11:34] agustibr commented on #7111
Thanks! @carolromero 😊

[2021-02-09 12:10] orlera commented on #7106
As discussed offline with @eva-sl @andreslucena @carolromero:
 - Polling Officers will be managed (created and deleted) in a separate tab accessible from the voting's left-hand menu WITHOUT role (president/manager) assigned;
 - In the Polling Station edit view, the admin can select a _single_ Polling Officer as Polling Station President from a dropdown menu and multiple Polling Station Managers;

[2021-02-09 16:45] ahukkanen commented on #7289
Just to note here, there was some discussion about the Trix move in this proposal:
https://meta.decidim.org/processes/roadmap/f/122/proposals/15810

@furilo mentioned the following:

Just to keep this in mind, to cover all the use cases Quill is capable of doing before doing the change. I'm personally all for Trix as in our use cases having an easy way to embed images is a bigger benefit than temp

[2021-02-09 17:10] mrcasals commented on #7289
To be fair, the drag&drop thing has been apparently solved by @microstudi and their team for Quill in

https://github.com/Platoniq/decidim-module-decidim_awesome/

It's just never been ported to the main repo, I don't really know why.

[2021-02-10 07:35] #5974 closed

[2021-02-10 08:16] andreslucena commented on #7310
Hi guys! I actually found out this other PR and issue from a couple of months ago: #6644 #6975

I think this one is a duplicate. It isn't visible in Metadecidim because it didn't get in any release yet (that's why we're always saying that we need to have shorter release cycles 😞)

[2021-02-10 08:49] marta-platoniq commented on #7310
Ok. And does the fix resolve also past meetings order @andreslucena ? (I had the impression that that issue referred to upcoming meetings)
Gràcies!

[2021-02-10 09:16] andreslucena commented on #7310
Oh nevermind, it seems like the PR I linked to isn't ordering correctly in either case, so we'll leave it open.

Related to this I found out that's a really PITA to see how it's ordering the meetings with the default seeds as they're all in the same date... I'm preparing a PR to fix this other thing.

[2021-02-10 09:49] andreslucena commented on #7313
I agree. For giving more information, it was introduced in #1308

[2021-02-10 09:54] andreslucena commented on #7247
I changed the title so it's easier to understand. I also added some Acceptance criteria, feel free to improve on that @virgile-dev

This is done in decidim-proposals/lib/decidim/proposals/component.rb, in component.seeds section.

For reseeding the database:

[code]

[2021-02-10 09:57] andreslucena commented on #7215
Awesome! I'm closing this issue. Feel free to open another one if you have any more doubts. You also have support at https://gitter.im/decidim/decidim

[2021-02-10 09:57] #7215 closed

[2021-02-10 10:01] andreslucena commented on #7197
Yes, I agree

We should implement something like a random_seed get parameter in the URL: /processes/:process_slug:/f/3/proposals?random_seed=123456

[2021-02-10 10:01] mrcasals commented on #7313
Check #7340 for a PR!

[2021-02-10 10:04] andreslucena commented on #7143
We should keep track of a [new release](https://github.com/arunagw/omniauth-twitter/releases) of omniauth-twitter then. Related to https://github.com/arunagw/omniauth-twitter/issues/137

[2021-02-10 10:06] andreslucena commented on #6987
I'm closing this issue as the PR was already accepted

[2021-02-10 10:06] #6987 closed

[2021-02-10 10:24] andreslucena commented on #7024
I cannot seem to reproduce this bug 😞

I'm trying with this census:

[code]

And I see the correct number (8)

![imatge](https://user-images.githubusercontent.com/717367/107496828-1b28fb80-6b92-11eb-9856-1371293f78aa.png)

Can anyone else reproduce this? Can someone send us an anonymized file (without real personal data) as an example to test?

[2021-02-10 10:28] andreslucena commented on #6919
I can reproduce this one in 0.24-dev, at least in meetings titles

![imatge](https://user-images.githubusercontent.com/717367/107497664-229cd480-6b93-11eb-8d21-78f988857b5b.png)

[2021-02-10 14:34] paulinebessoles commented on #5532
This can be closed, as it was resolved in https://github.com/decidim/decidim/pull/7067

[2021-02-10 23:00] armandfardeau commented on #7143
I'm trying an update of omniauth-twitter dependencies here: https://github.com/arunagw/omniauth-twitter/pull/141

[2021-02-11 04:22] takahashim opened #7345 "Missing translations in system panel"
**Describe the bug**

There was messages that could not be translated when creating a new organization in the system administration page.

I checked `config/locales/*.yml` and Crowdin, then I found that there seemed to be some items missing in `en.yml`.

I'll make a pull request later.

**To Reproduce**
Steps to reproduce the behavior:
1. create `development_app`
2. open `development_app/config/in

[2021-02-11 08:40] andreslucena commented on #7345
Awesome, nice catch!
I think the reason is that system panel is mostly for developers/implementers/technical people, but it's nice to have it with i18n of course.

[2021-02-11 08:45] andreslucena commented on #5825
I can reproduce this one locally. I think is not related with the proposals coming from a meeting, it just gives me an error with no more information:

Steps to follow:

1. Sign in as admin
2. Go to a participatory process configuration page at admin panel
3. Go to Proposals component
4. Select 2 proposals
5. Go to Actions =>  Merge into a new one
6. On Select a component select Proposals
7. Click

[2021-02-11 08:51] andreslucena commented on #6467
Nice catch @xdubx, I've actually forget that we've enabled that setting by default in prod 😅

I'm closing this issue

[2021-02-11 08:51] #6467 closed

[2021-02-11 08:53] andreslucena commented on #6701
@jack8387  could you fix your error?

[2021-02-11 09:47] andreslucena commented on #6759
Hi @ace
Thanks for the report
Support for ruby 2.7.1 will be available in the next release, v0.24.0. I'm closing this one as wont-fix, as we don't have the resources to support multiple ruby versions at the moment (for instance we should configure the CI for this kind of support also).

[2021-02-11 09:47] #6759 closed

[2021-02-11 09:49] andreslucena commented on #6701
I was going to say that we should migrate this to platoniq/decidim-install repository but then I saw that this was already duplicated: https://github.com/Platoniq/decidim-install/issues/64
Feel free to reopen this if you see that's on Decidim side

[2021-02-11 09:49] #6701 closed

[2021-02-11 09:52] andreslucena commented on #6830
Hi guys!
@jfoclpf do you still have this error?
Have you followed the instructions at [Updating docs](https://docs.decidim.org/en/install/update/)?

Most relevants are:

[code]

Also, could you send us the output of the migrate:status rake task 🙏🏽 ?

[code]

[2021-02-11 10:06] andreslucena commented on #6835
I cannot reproduce this one at 0.24.dev. Maybe it's something specific to Metadecidim?

Steps that I'm following:

1. Create a new group with "mygroupemail@example.org" as email
2. Go to letter opener (http://localhost:3000/letter_opener/) - I get the email to "mygroupemail@example.org"
3. Click on "Resend email confirmation instructions"
4. Go to letter opener (http://localhost:3000/letter_opener

[2021-02-11 10:11] jfoclpf commented on #6830
I'm not in this project anymore, I can't tell.
I hope you solve the issue

[2021-02-11 10:14] andreslucena commented on #6862
I can confirm this one in v0.24.dev

As you've detected, there'd be two bugs here:

1) Not showing the number in the frontend
2) Not allowing an administrator to accept the initiative in the backend

Mind that "jauge" don't mean anything in English. In Decidim we call this sidebar the "initiatives signatures count". It's important that everybody in the community speaks using the same language, if

[2021-02-11 10:22] takahashim commented on #7345
Agreed. In fact, I don't think it's a serious problem.
But now there is a mixture of items that have already been translated and those that have not yet, so it would be better to translate the whole items.

[2021-02-11 11:06] mrcasals commented on #7345
Nice catch, @takahashim! A PR would be awesome, thank you!

[2021-02-11 11:08] paulinebessoles commented on #6835
Hi !
@virgile-dev It seems that the group email was not the good one, I changed it and I was able to confirm the group.
@andreslucena on the other hand as the user group is not confirmed, we still can't publish or comment as a group, could you validate it? It's https://meta.decidim.org/profiles/OSP/members

[2021-02-11 11:08] mrcasals commented on #6862
Maybe @virgile-dev meant "gauge" and got a typo? I've seen this word around Decidim for a while, now:

https://github.com/decidim/decidim/pulls?q=gauge

[2021-02-11 11:09] mrcasals commented on #6835
Closing this issue, then!

[2021-02-11 11:09] #6835 closed

[2021-02-11 11:13] #5532 closed

[2021-02-11 11:15] #7345 closed

[2021-02-11 11:15] andreslucena commented on #7092
I can reproduce this one at 0.24.dev 🥳

## Steps to reproduce

1. Sign in as administrator
2. Go to /admin/participatory_processes/
3. Check that the Export is working in a Participatory Process:
3.1. Click on Export button
3.2. Go to /letter_opener/ - check that you have the email
4. Edit this Participatory Process, remove the Images: Home image and Banner image
5. Check that the Export has broke

[2021-02-11 11:23] andreslucena commented on #6917
Closing this issue as this was fixed already at develop #6716 and it was backported already.

Thanks for the report and the fix!! 🚀 🚀

[2021-02-11 11:23] #6917 closed

[2021-02-11 11:24] andreslucena commented on #6901
Closing this one as this was already fixed at develop and backported. Thanks guys! 🚀 🚀

[2021-02-11 11:24] #6901 closed

[2021-02-11 13:10] andreslucena commented on #7075
That's because you've created a Proposal component with "Participatory Texts" enabled

I've cloned it, installed it and created a new Participatory Process with a proposals component with Participatory texts enabled and couldn't reproduce your report.

Note that it seems like your app is broken, at least for running the db migration task it breaks because you've made some tests (adding and removin

[2021-02-11 13:14] andreslucena commented on #7060
I cannot reproduce this error. It's probably something from the JSON itself of the participatory process that you're importing. Can you send the JSON file please 🙏🏽 ?

[2021-02-11 13:30] paulinebessoles commented on #7060
Thanks for your answer Andrés! I tried with this JSON file:
[participatory_processes-11_02_2021-51798.zip](https://github.com/decidim/decidim/files/5965445/participatory_processes-11_02_2021-51798.zip)
I wonder if the error could be caused by the locales (the file comes from an org with FR and EN enabled). But I don't have an organization with EN, CAT and ESP enabled so I cannot verify (and try.de

[2021-02-11 17:45] takahashim opened #7351 "Improvement log on CI: suppress deprecation warnings of other libraries"
**Describe the bug**

(It's not exactly a _bug_ , but an issue of this repository .)

Looking at the current GitHub Actions CI log of this repository, it looks like there are more deprecation warnings output (originating from Rails 5.2 or other libraries) than in the ordinary log.

In Ruby 2.7.1, we can suppress the warnings by setting the environment variable `RUBYOPT` to `-W:no-deprecated`. IMO,

[2021-02-12 07:28] andreslucena commented on #5825
Duplicated with #6719
I'm closing this one as that one is older.
Thanks for the report @dan-ss93!

[2021-02-12 07:28] #5825 closed

[2021-02-12 07:36] mrcasals opened #7354 "Add tests to the InitiativesType permissions page"
**Describe the bug**
By pure chance I found out that the InitiativesType permissions page is failing, and it wasn't detected because that area doesn't have system specs. We should add them.

This is probably failing in 0.23.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the development app
2. Visit the initiatives types page
3. Click on the key symbol to get to the permissions page

[2021-02-12 08:13] mrcasals commented on #7354
I confirm this fails in 0.23.2, so we'll need to backport the fix and probably release a newer version.

[2021-02-12 08:59] #7354 closed

[2021-02-12 09:15] mrcasals commented on #7354
Fix is in #7356. Backport is in #7357.

[2021-02-12 10:45] andreslucena commented on #6892
Fixed at #6895, closing this issue
Thanks @ahukkanen for the report and the PR 🚀

[2021-02-12 10:51] ahukkanen commented on #6892
@andreslucena No, it's not fixed by #6895.

#6895 fixes a different issue.

[2021-02-12 11:22] tramuntanal commented on #6966
We've just reproduced this in one of our installations which is at `v0.23` and in `develop`.
The problem arises when an admin creates a new Assembly or ParticipatoryProcess administrator for a participant that previously registered herself in the platform.

[2021-02-12 13:41] #7351 closed

[2021-02-12 13:45] #6998 closed

[2021-02-12 16:41] takahashim opened #7363 "Duplicated shared spec files"
**Describe the bug**

https://github.com/decidim/decidim/blob/develop/decidim-elections/spec/shared/voting_admin_shared_context.rb
 and https://github.com/decidim/decidim/blob/develop/decidim-elections/spec/shared/voting_administration_shared_context.rb seem to be the same file.

**To Reproduce**
Steps to reproduce the behavior:
1.  execute `diff decidim-elections/spec/shared/voting_admin_shared_c

[2021-02-12 18:47] eva-sl commented on #7112
hi @decidim/product !

We've updated the app design with the [PR](https://github.com/decidim/decidim/tree/feat/evote-landing) @htmlboy has been working.

Check it here:

- [Single consultation landing page](https://staging-design.decidim.codegram.com/public/evote-consultation-landing)

- [Multiple consultation lading page](https://staging-design.decidim.codegram.com/public/evote-multiple-consultat

[2021-02-13 01:51] takahashim opened #7369 "Warnings of `expect { }.not_to raise_error(SpecificErrorClass)`"
**Describe the bug**
In CI, there are some warnings in some specs.

ex. https://github.com/decidim/decidim/runs/1887895635

The reason is expectations of `expect { response }.not_to raise_error(StandardError)` like [here](https://github.com/decidim/decidim/blob/24be631140834bc619839d3e99d3670654d41655/decidim-accountability/spec/types/integration_schema_spec.rb#L187).

https://github.com/decidim/d

[2021-02-13 04:00] takahashim opened #7371 "Warnings of `have_content nil`"
**Describe the bug**
In CI, there are some warnings in `decidim-budgets/spec/system/orders_spec.rb`.

ex. https://github.com/decidim/decidim/pull/7370/checks?check_run_id=1891818581

The source code of the spec is the following:

https://github.com/decidim/decidim/blob/24be631140834bc619839d3e99d3670654d41655/decidim-budgets/spec/system/orders_spec.rb#L248-L250

This warning is due to the fact tha

[2021-02-13 11:55] #7371 closed

[2021-02-13 11:57] #7369 closed

[2021-02-13 16:25] mrcasals commented on #7363
@leio10 @beagleknight could you double-check this, please? 😄

[2021-02-14 18:29] MohammedSalahadin commented on #7075
@andreslucena  Thank you  for the awesome helpful explanation.
That solved the problem Now I can see the proposals.
I had a lot of bugs and I'm still working on them, I'm afraid to try a new app because Everything I have done will be removed and I have to start over, I'm just trying to solve them instead!
Appreciate your efforts..

[2021-02-14 18:29] #7075 closed

[2021-02-15 08:09] slickepinne commented on #7116
Good morning, @decidim/product. I have a question regarding this task: Since a `Voting` could have several elections, does it maybe make sense to add the `participatory_space_id` and `participatory_space_url` of the `election`, like, for example, `meeting` does?

[2021-02-15 08:25] andreslucena commented on #5748
Hi! I'm closing this one as it has been made already. Thanks everyone for improving Decidim.

[2021-02-15 08:25] #5748 closed

[2021-02-15 08:29] orlera commented on #7363
Oops! That's my fault, I'll take care of it! 👍 Thanks @takahashim @mrcasals

[2021-02-15 09:11] andreslucena commented on #6015
Hi! I'm reviewing old issues,

Is this still happening? Nightly is down :/
Is this reproducible in other instance that don't changes URL like Meta? https://meta.decidim.org/profiles/carol/timeline? In my own profile I can see everything OK

Seems like the rest of the bugs are all fixed already 😄

[2021-02-15 09:55] #7111 closed

[2021-02-15 10:02] #7363 closed

[2021-02-15 10:03] mrcasals commented on #7363
Thanks for the report @takahashim! Should be fixed now!

[2021-02-15 11:55] andreslucena commented on #6717
Hi all, I can confirm that this is working already. I'm closing this issue. Thanks everyone!!

[2021-02-15 11:55] #6717 closed

[2021-02-15 11:57] andreslucena commented on #6912
I'm closing this one as it was fixed at #7067 by @LauraJaimeC
Thanks everyone!

[2021-02-15 11:57] #6912 closed

[2021-02-15 12:11] arusa commented on #6720
We are running on branch: "release/0.23-stable" and I am experiencing the same error. Since connecting decidim to our sentry Server I received 46 of these errors.

[code]

gems/decidim-a7e41da36321/decidim-core/app/uploaders/decidim/application_uploader.rb

[code]

triggered by sidekiq.

[code]

[2021-02-15 13:14] mrcasals commented on #6720
Hi, @arusa! What commit are you running on? Could you try using the latest commit in `release/0.23-stable`?

[2021-02-15 17:27] takahashim commented on #7363
Thank you for the quick fix!

[2021-02-16 07:48] eva-sl commented on #7112
@decidim/product let us know your thoughts about this ☝️

This is planned to be included in this sprint(ends next Wednesday).
If we cannot make it, we will need to re-prioritize or plan new issues.

[2021-02-16 09:11] eva-sl commented on #7122
hi @decidim/product,

checking this, and this is already an AC in [this](https://github.com/decidim/decidim/issues/7106) task.

So this would already be done in #7106  _As with other profiles of Decidim, this will involve having Invitations through emails._

Thoughts?

cc: @orlera

[2021-02-16 09:47] andreslucena opened #7398 "Rename "upcoming events" content block to "upcoming meetings""
**Describe the bug**

There's a content block that it's called "upcoming events" in the backend, and "upcoming meetings" in the frontend.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in as Administrator
2. Go to Admin panel, Settings, Homepage
3. See "Upcoming events" content block
4. See error

**Expected behavior**
It should be consistent in every place, and it should be always cal

[2021-02-16 09:50] andreslucena commented on #6782
Hi! Do you have financing for making these changes? Is there any metadecidim proposal?
Also, I think there are lots of changes and we it'd be better to have it in the Feature request format and separated by issues; all the summary of the improvements should be an EPIC.

[2021-02-16 09:56] virgile-dev commented on #6782
Hello @andreslucena
I was advised to post this here by Carol.
We don't have the funding for this right now.
You are probably right we should go back to the Meta Decidim step before going further.
We'll post it there when I get a chance.

[2021-02-16 10:12] andreslucena commented on #7059
I can confirm this one in v0.24.dev

Traceback:

![imatge](https://user-images.githubusercontent.com/717367/108048864-d85e9c00-7047-11eb-8131-42d7fdaa17d3.png)

[2021-02-16 10:18] andreslucena commented on #7122
@eva-sl you're right. There are a couple of these kind of issues where we're seeing the "other face of the coin": in one it "sends" the action and in the other one it "receives" the same action but from other persona.

[2021-02-16 10:51] andreslucena opened #7399 "Search, filter, pagination and order in meetings admin panel"
**Is your feature request related to a problem? Please describe.**

As an administrator that's working with meetings, is really frustrating to work when you have lots of meetings, as I can't easily find the meeting that I'm looking for.

![imatge](https://user-images.githubusercontent.com/717367/108053009-2e820e00-704d-11eb-8c11-f502e4379496.png)

**Describe the solution you'd like**

To have the

[2021-02-16 11:48] mrcasals commented on #7197
The problem with that is that when you bo back to the index using the back button, you lose the param so the order is lost.

Possible solutions I can think of:

- Use a pseudo-random seed. For example, the seed could be something like "user_id + current_date". This way you'd get a consistent random order that'd be the same during a whole day, but the next day the seed would change so the order wou

[2021-02-16 17:22] agustibr commented on #7112
Reopening as #7331 is the base (admin side) for more PR's that will add the content blocks for the public side.
As the #7331 was linked to this issue, it was auto-closed.

[2021-02-17 07:44] #6569 closed

[2021-02-17 08:33] carolromero commented on #7112
@eva-sl thanks for the update, we're getting closer :)
After reviewing the layout of both landing pages, we propose some changes:

- [Single consultation landing page](https://staging-design.decidim.codegram.com/public/evote-consultation-landing)
We don't need a hashtag or subtitle in the Votings space, but we need the date to be much more visible, preferably in the banner with the title.
The Voti

[2021-02-17 09:22] eva-sl commented on #7116
@decidim/product can you confirm?
Thanks, 😄

[2021-02-17 09:58] andreslucena commented on #7116
Sorry for the delay!

We've reviewed the definition of this issue, as when we made it we didn't have too clear what were the differences between `elections` and `votings`. We've redefined this issue; the main idea is that we should only download the `votings` public information in this issue.

We should probably add the participatory_space/id here and also add the reference of the participatory_sp

[2021-02-17 10:47] slickepinne commented on #7116
Hi @andreslucena Thanks for the answer! 😊 The `voting ID` and the` participatory space ID` are the same as a `voting` is a `participatory space`. So, I wouldn't add the id twice if that's okay!? I added the fields to the election CSV already and will create another file for the votings.

[2021-02-17 10:58] andreslucena opened #7408 "Selected answers on elections"
ref: S-AP.11

**Is your feature request related to a problem? Please describe.**

As an administrator I need a way to check/mark which Answers are the ones that have been selected in an election.

**Describe the solution you'd like**

After the voting step has finished, as a Participant I can see which Answers have been selected.

**Describe alternatives you've considered**

To have an external pa

[2021-02-17 11:01] andreslucena opened #7409 "Content Blocks for Votings"
Ref: V-AP.11

As an administrator, I want to have better control over how it's built the Voting landing page.

For that, it'd awesome to have Content Blocks inside the Voting landing page, as we have in the Homepage configuration. As an alternative, we could have lots of settings but that doesn't scale that well.

This was already implemented in other spaces such as Process Groups. In the future o

[2021-02-17 14:48] eva-sl commented on #7409
Hi, @decidim/product!

Related to the Timeline, we are working in an html block as defined in the first issue #7112

This would not be configurable as fields in the admin side, right?

Timeline:
- I can define N items of the timeline
- An item will have:
start date
end date
title
- I can choose which is the active item of the timeline
- Out of the current scope, to be able to reorder items of the

[2021-02-18 10:16] orlera commented on #7123
@eva-sl @decidim/product
I would break down this into 3 main features:
 - As a Polling Officer, I receive an invitation email to create an account on Decidim when I don't own one yet (alredy implemented in #7106)
 - As a Polling Officer, I receive an email with instruction on how to access the Polling Officers Zone __when I am assigned to a Polling Station as President or Manager__ -> this would i

[2021-02-18 10:44] PierreMesure opened #7419 "Formatting problems with online meetings and long URLs"
**Describe the bug**

Now that online meetings can be created, there is a little problem with the formatting of the link on the meeting card when it's really long.

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/7223028/108344802-db8b9080-71dd-11eb-82df-d60b6d9a9630.png">

It's also not that great on the meeting page:

<img width="803" alt="Capture d’écran 2021-02-18

[2021-02-18 10:55] mrcasals commented on #7419
I think the idea was to leave the original URL to validate there's no scam, but with #7397 this could be solved.

[2021-02-18 12:07] PierreMesure commented on #7419
Great, let's solve it then! Even if the original URL is left, it should probably be trimmed on the card. Assuming #7397 is merged, soon, would you approve of the suggested changes in this issue, @carolromero?

That being said, the purpose of this URL field for online meetings is to send people to an external service so a warning here is not very useful. Unless user-generated meetings are allowed (

[2021-02-18 14:35] #7313 closed

[2021-02-18 16:45] orlera commented on #7105
@decidim/product this ready to review 🎉
It also includes the features from #7106, so the two issues can be reviewed together.

First things first - the review app: https://decidim-staging-pr-301.herokuapp.com/admin/votings/barcelona/edit

We're adding 3 new concepts to in-person and hybrid Votings:
 - Polling Stations
 - Polling Officers
 - Monitoring Committee

 #### Polling Stations
 The Polling

[2021-02-18 16:46] orlera commented on #7106
@decidim/product this is ready for review, please refer to [this comment](https://github.com/decidim/decidim/issues/7105#issuecomment-781479508) for details

[2021-02-19 16:02] htmlboy commented on #7112
@carolromero Hi! We've upated https://staging-design.decidim.codegram.com/public/ with some of the mentioned changes. I think it covers everything, although the header CTA is still left-aligned  (centering CTA and text didn't work very well). As for the election cards, I've used the ones we saw in the previous steps of the election steps, but can't find the ones you're attaching in the mock up (th

[2021-02-19 16:51] paulinebessoles opened #7429 "Moderated content displayed in resource index"
**Describe the bug**

Moderated contents still appear in proposals/meetings index, but are not tagged with any indication.
This makes the admin work more difficult, as she can't know if/which contents have been moderated.

**To Reproduce**

1. Go to 'https://try.decidim.org/admin/participatory_processes/qui-dolor/moderations?hidden=true'
2. See that proposal with ID=1 has been hidden
3. Go to 'htt

[2021-02-22 09:30] marta-platoniq opened #7431 "Debates: when commenting as a group, "last comment by" box displays my name, not the name of the group"
**Describe the bug**
I commented on a debate as a group, but in the "last comment by" box appears my name instead of the group name: https://demo.platoniq.net/processes/proces-bugs/f/101/debates/28?locale=ca

![image](https://user-images.githubusercontent.com/72607737/108686787-2d8e2800-74f6-11eb-869b-5504a56d8ee2.png)

It also happens in the debates list:

![image](https://user-images.githubuserc

[2021-02-22 09:56] eva-sl commented on #7105
@decidim/product can you check this? 😄

[2021-02-22 09:56] eva-sl commented on #7106
@decidim/product can you check this? 😄

[2021-02-22 10:07] mrcasals opened #7432 "Add default order by ID on admin indexs"
In #7424 @ahukkanen and I discussed how to order elements by ID by default. It's not a trivial thing to do, but since we're using ransack in the admin area we can solve it there:

https://github.com/decidim/decidim/blob/ff3e693e208431769b74e2eccb29e7e1acd3cf8a/decidim-admin/app/controllers/concerns/decidim/admin/filterable.rb#L34
(this is where all the filterable admin views get their results from

[2021-02-22 10:08] virgile-dev opened #7433 "Text search in proposals and meetings index are not added to the url as filter parameters"
## **Describe the bug**

When I type in text search on meeting / proposal index and hit enter the url is not update with my text search as a parameter in the url slug.

## **To Reproduce**

*Steps to reproduce the behavior:*

1. Go to https://staging.decidim.codegram.com/processes/tempora-et/f/13/
2. Type a text search
3. Enter
4. See that the url didn't change

## **Expected behavior**

I would e

[2021-02-22 10:46] carolromero commented on #7105
@orlera outstanding work!!

I have only found one detail to check. When you select the officers they are displayed like this:
![imatge](https://user-images.githubusercontent.com/23509895/108697203-d8a4de80-7502-11eb-8ee0-e68cc8c6154c.png)

But when you come back in they are shown like this and it is not very intuitive to know that by clicking they are deselected.
![imatge](https://user-images.gith

[2021-02-22 10:51] carolromero commented on #7123
@orlera sounds good!

[2021-02-22 11:01] carolromero commented on #7419
@PierreMesure I think "Online (service name or domain name)" would work well.

[2021-02-22 11:07] orlera commented on #7105
Hi @carolromero! Thanks for the review! 😄
Yup, totally agree with you 👍
Just a heads up: this work is based on the proposals picker as used, for example, in accountability (see the "Included proposals" field here: https://staging.decidim.codegram.com/admin/assemblies/exercitationem-enim/components/26/manage/results/73/edit)

Changing the look of the polling officer picker would also change the loo

[2021-02-22 11:17] carolromero commented on #7105
If you give me green lights, I'd rather do the change in a separate PR as it has a wider scope smile

@orlera you're right! I didn't realise that it happened with proposals as well. And yes, let's do it in a different PR. Thank you!!

[2021-02-22 16:11] orlera commented on #7116
Hello @decidim/product!
This is ready to review in decidim-staging-pr-297.herokuapp.com

What changed:
 - The elections now include the participatory space details (id and title)
 - Votings are now included in the export as specified in the issue description

[2021-02-22 19:51] BruAguilo opened #7438 "Unlimited surveys"
**Describe the bug**
I answer the same survey from different browsers, not concerning if I have answered it before. So I can answer it one time from one browsers, a second time from another browsers, etc. from the same IP.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [survey component](https://staging.decidim.codegram.com/processes/tempora-et/f/15/).
2. Answer it and click on "submi

[2021-02-22 20:44] microstudi commented on #7438
This is the normal behavior for "anonymous surveys", that's why they should be used wisely (there's a disclaimer when configuring them).

[2021-02-23 08:06] paulinebessoles commented on #6605
Fixed by https://github.com/decidim/decidim/pull/6876

[2021-02-23 08:52] mrcasals commented on #7438
So, the component is configured to allow "anonymous surveys" and this is the expected behavior, is that right?

[2021-02-23 09:02] #7105 closed

[2021-02-23 09:02] #7106 closed

[2021-02-23 11:08] carolromero commented on #7409
Are you ok with this?

Hi @eva-sl, correct, this will not be configurable. Thanks!

[2021-02-23 13:23] orlera commented on #7123
Hi @decidim/product!
This is ready to review 💪

In the [review app](https://decidim-staging-pr-306.herokuapp.com/), I set up 2 different votings with the user user@example.org as Polling Officer ([Voting 1](https://decidim-staging-pr-306.herokuapp.com/admin/votings/test/polling_officers) & [Voting 2](https://decidim-staging-pr-306.herokuapp.com/admin/votings/test-2/polling_officers)).

In Voting1

[2021-02-23 14:25] jasondiceman commented on #6844
(Hi @virgile-dev @andreslucena and all.  I'm new here and very inspired to see this dev project happening.)
May I suggest sticking with a set scale of five, and specifically using a 5-star interface for score-voting.  This would be most intuitive as it matches with user experience on many other websites and platforms that invite user reviews.  This also encourages consistency for instructions and

[2021-02-23 14:38] BruAguilo commented on #7438
Yes, sorry for not mention that the component is configured to allow "anonymous surveys", thanks for remembering that!

But the point is: it doesn't allow me to answer more than one time per browser, but I can answer as many times as I want depending on the number of browsers that I have and if I jump between them. Shouldn't I be able to respond only once per IP?

[2021-02-23 15:26] orlera commented on #7105
@carolromero here's the PR fixing the issue you detected https://github.com/decidim/decidim/pull/7448

[2021-02-23 15:53] microstudi commented on #7438
I don't think so because ips are not a reliable identifier. People can use vpns or proxies for instance, more than one person might be ending using the same ip.
The current system uses the browser session as user identifier that's why you can answer using different browsers (or a new private window for that matter).
Any changes to this behavior should be discussed technically in any case

[2021-02-23 15:58] BruAguilo commented on #7438
super! thanks for your time and for the clarification @microstudi !

[2021-02-23 17:02] oriolgual commented on #5764
Fix can be tested at https://decidim-staging-pr-307.herokuapp.com

[2021-02-23 17:03] oriolgual commented on #6789
Fix can be tested at https://decidim-staging-pr-308.herokuapp.com /cc @carolromero

[2021-02-23 19:11] oriolgual commented on #6880
Fix can be tested here https://decidim-staging-pr-309.herokuapp.com

[2021-02-23 19:22] #6966 closed

[2021-02-23 23:11] atrandafir commented on #6467
Hello.

Im also facing a redirect loop with a fresh installation.

It happens both with Plesk plus Ruby support and also by running the server manually with:

bundle exec bin/rails s --binding=51.178.84.210 -e=production

I have disabled ssl in config but it has nothing to do with that, I get the redirect loop even with regular http.

Does someone know the cause of the redirect and any possible so

[2021-02-24 08:01] mrcasals commented on #6844
Regarding the dev side of this, I'd say the best option would be to refactor the voting feature to allow devs to define new voting requirements. The current option (just a vote) could stay in the repo, while other options could be released as community modules.

We could also create a registry of how to order proposals, and let external modules add new ways to order proposals. This would allow thi

[2021-02-24 08:12] andreslucena commented on #6467
That's weird!! Seems like it isn't hitting the app. Maybe could you do a tail of the log at the moment of the request to confirm that's arriving the request to the app? It'd be:

[code]

[2021-02-24 08:51] ferblape commented on #7291
@alecslupu FYI this has been fixed in https://github.com/rails/webpacker/commit/3760588 and will be available in Webpacker 6 which is already in beta

[2021-02-24 09:03] mrcasals commented on #6880
In https://github.com/decidim/decidim/pull/7452#issuecomment-784919168 @ahukkanen raises this concern:

@decidim/product could you confirm how to handle this?

[2021-02-24 09:14] #6103 closed

[2021-02-24 09:22] verarojman opened #7456 "Use `DateCell` in views that display start and end dates for a resource"
#7393 introduces the `DateCell` to correctly display start and end dates for debates. Since many resources have this information, we should make sure they are all implemented consistently, and therefore I suggest using this cell to ensure consistency across all resource detail views that include start and end dates.

**Resources that could benefit from this**
- Election
- Meeting
- Others (?)

[2021-02-24 09:25] mrcasals commented on #7456
Maybe once the refactor to use ViewComponents starts (if it does), that's a good moment to start rethinking the components and reuse them.

Related discussion in https://github.com/decidim/decidim/discussions/7234

[2021-02-24 09:38] #5709 closed

[2021-02-24 10:17] ferblape commented on #6523
hey @mrcasals in regard to removing Typescript support, it's still being used in the Autcomplete component, isn't it?

[2021-02-24 12:28] orlera commented on #7116
@carolromero @eva-sl updated the voting's `id` header filed to `participatory_process_id` as discussed in today's demo.
I'm having some trouble updating the review app at the moment, so here's a screenshot of an updated open data export for votings.
![image](https://user-images.githubusercontent.com/5033945/109000568-2ad13580-76a4-11eb-937c-b6aa3219b739.png)

[2021-02-24 12:31] carolromero commented on #7122
Closing, as this is solved by #7106

[2021-02-24 13:57] atrandafir commented on #6467
Hey @andreslucena thanks for the recommendation to check the logs, where, indeed stuff does happen.

I guess "the issue" could be the data, like, the organizations/hosts? I think I haven't populated any data after creating and migrating the database. I have just created the initial user as some docs recommend.

I'll try to see if I can make some sense of the logs and the database tables but any fe

[2021-02-24 15:37] atrandafir commented on #6467
I think the installation process is quite buggy..

At first I was thinking the cause was the force ssl.

I have disabled it. Btw, I didn't have the `initializers/decidim.rb`, why? don't know.

Then now I have tried to generate the seeds.

I had nothing inside `db/seeds.rb`, I had to add this manually:

[code]

Then running the seeds command threw error.. caused by getting `nil` when accesign `Rail

[2021-02-25 08:58] mrcasals commented on #6523
@ferblape you're right, I missed that. I think we could simplify the whole tech stack by dropping TypeScript here, but maybe it's better to open a discussion? :)

[2021-02-25 09:06] orlera commented on #7123
Hello @decidim/product! This was demoed yesterday, if you agree we can send it to tech review 🚀

[2021-02-25 09:41] carolromero commented on #7123
@orlera yes! good job as always! this is ready for technical review

[2021-02-25 10:27] #7123 closed

[2021-02-25 11:46] entantoencuanto commented on #7288
Great job, @alecslupu! I'm going to start with a branch based on yours at https://github.com/tremend-cofe/decidim/tree/chore/rails-6

[2021-02-25 13:14] #7116 closed

[2021-02-25 15:34] ferblape commented on #7291
FYI I've started a super-early-and-draft PR https://github.com/decidim/decidim/pull/7464, I'll update here when the progress gets more consistent and the plan is totally clear. For the moment looks like I'm able to compile packs from a couple of modules and I'm going to start migrating decidim-core

I've been updating lots of dependencies in the frontend (babel and rel. mainly), removing the old w

[2021-02-25 18:47] marta-platoniq opened #7465 "Meetings : when the description is too long, the box in the map is cut off or not shown"
**Describe the bug**
I have a meeting with a long description. When I click on the map icon, one of these two errors happen, depending on the length of the description:
(1) The box is cut off and I can not see the button to go to the meeting information.
(2) The box is not displayed and the map puts off-center.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://demo.platoniq.net/pr

[2021-02-26 09:35] paulinebessoles opened #7466 "Draft proposals displayed in users public profiles"
**Describe the bug**
When I don't publish a proposal draft, the draft card is displayed in my public profile, in the "Following session".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://try.decidim.org/processes/budget-participatif-2021/f/8/'
2. Create a proposal until the last step but don't publish it
3. Go to 'https://try.decidim.org/profiles/admin/following'
4. See your dr

[2021-02-26 10:35] mrcasals commented on #7291
@ferblape maybe it's worth using the development version, instead of the latest released beta version?

[2021-02-26 13:06] andreslucena commented on #7429
Yes, it's a bug for sure. If it's moderated then it shouldn't be in the listing page.

[2021-02-26 13:22] andreslucena commented on #7465
This is fixed in v0.24
We'd need to backport #7335 to v0.23

[2021-02-26 14:50] ferblape commented on #7291
Yes, I'll do that. Today I've started migrating decidim-core. The steps to migrate a module are basically these:

- create the new assets folders: `app/packs`, `app/packs/src` and `app/packs/entrypoints`
- move first level scripts at`app/assets/javascripts/*.js.es6` to `app/packs/entrypoints`, because those are the new packs
- move the rest of files at at`app/assets/javascripts/**/*.js.es6` to `ap

[2021-02-26 17:24] marta-platoniq commented on #7034
I reopen this issue because fixing it broke what was already working 😭 😭 😭

Describe the bug
When I have disabled "Enable rich text editor for participants" option, proposal template is displayed with html tags.

To Reproduce
Steps to reproduce the behavior:
- As administrator > Settings > Configuration > DON'T select Enable rich text editor for participants
- Create a proposal component and defin

[2021-03-01 07:44] andreslucena commented on #7432
I'm not so sure about ordering by ID by default. For instance in Decidim Barcelona in /admin/participatory_processes if we order by ID then we would have the PAM 2016-2019 process first, and that don't make sense as that's not what we're working now.

For me it should be the `created_at` or`updated_at` column, as what we want to show is the "ones that you're more likely to want to work" - probably

[2021-03-01 07:52] ahukkanen commented on #7432
@andreslucena I think it wouldn't change the default order of that view since it's defined here:
https://github.com/decidim/decidim/blob/00f7aa5ba5e35225e862a85b006b3fc241332ca9/decidim-participatory_processes/app/views/decidim/participatory_processes/admin/participatory_processes/index.html.erb#L55

I'm not sure, though, since I'm not that familiar with Ransack. Anyways, definitely this change sh

[2021-03-01 07:57] agustibr commented on #7409
Hi @decidim/product ! finally, this is ready to be tested [here](https://decidim-staging-pr-314.herokuapp.com/admin/votings/esse-non/landing_page/edit) 😀

[2021-03-01 07:59] andreslucena commented on #7433
I can reproduce this one. Nice catch!
It should be consistent with the rest of the filters and the general search (/search).

[2021-03-01 08:01] agustibr commented on #7112
Hi @decidim/product!
The public landing page for a voting can be reviewed [here](https://decidim-staging-pr-314.herokuapp.com/votings) 😁

[2021-03-01 08:10] andreslucena commented on #7438
I think this would need to be clarified on the admin panel or in the docs, something like:

Or something a clearer that doesn't repeat browser 3 times 😝

[2021-03-01 09:11] mrcasals opened #7479 "Group PRs by module in the changelog"
When generating the changelog using #7461, we get the list of PRs sorted by type of change:

- Added
- Changed
- Fixed
- Removed
- Developer improvements

But it's a bit difficult to find what changes affect a given module. The current output follows this structure:

[code]

We could reorganize the output to group the PRs by type of change and module:

[code]

Notice how the reference to `#1234` i

[2021-03-01 10:41] andreslucena opened #7483 "PG:NotNullViolation in ParticipatoryProcesses weight"
**Describe the bug**

As an administrator I can't create Participatory Processes.

I have an exception: ActiveRecord::NotNullViolation in Decidim::ParticipatoryProcesses::Admin::ParticipatoryProcessesController#create

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in as administrator
2. Go to http://localhost:3000/admin/participatory_processes/new
3. Fill only the mandatory fields with

[2021-03-01 11:11] mrcasals commented on #7483
@LauraJaimeC could you check this out, please? /cc @tramuntanal

[2021-03-01 11:16] LauraJaimeC commented on #7483
I review it.

[2021-03-01 12:18] carolromero commented on #7112
Hi @agustibr,
Everything ok! Just need to change the style of the vote button to be consistent with the CTA of the banner:

![image](https://user-images.githubusercontent.com/23509895/109495888-2fc12b00-7a90-11eb-9912-b3ca781e5f1a.png)

Thanks!

[2021-03-01 13:36] LauraJaimeC commented on #7483
@mrcasals  I have made the fix in the PR, can you check it, please?

[2021-03-01 13:48] mrcasals opened #7487 "Can't migrate the DB after #6947"
**Describe the bug**
The migration added in #6947 fails with this error using production data:

<details>
<summary>Stacktrace</summary>
[code]
</details>

I've tried both using the development secret key base for the app and the one set in production, and both attempts fail with this error.

The errored line is this one:

https://github.com/decidim/decidim/blob/ef5a5e5243f86fbc74e0fb5bad38005f899e

[2021-03-01 13:51] mrcasals commented on #7487
@ahukkanen pinging you since you created the PR. Any idea what might be going on? I suspect there might be an issue when the authorization already has a value (a JSON) in the `verification_metadata` field, the system is trying to decrypt it but fails. Internally, Rails seems to be verifying that it's encrypted, but it isn't and fails:

https://github.com/rails/rails/blob/v5.2.4.5/activesupport/lib

[2021-03-01 14:03] ahukkanen commented on #7487
@mrcasals Which authorization is in question?

[2021-03-01 14:11] mrcasals commented on #7487
@ahukkanen it's the `postal_letter` one from Decidim (no modification at the app level)

[2021-03-01 14:58] ahukkanen commented on #7487
@mrcasals OK, got it. I think I found the issue, I'll check soon.

[2021-03-01 15:21] ahukkanen commented on #7487
@mrcasals Could you also tell in which instance this is and if its source code is available somewhere? I'd like to inspect its environment configurations.

[2021-03-01 15:42] ahukkanen commented on #7487
@mrcasals Fix is building at: #7488

[2021-03-01 15:58] carolromero commented on #5764
Checked :heavy_check_mark:! Thanks!

[2021-03-01 16:16] carolromero commented on #6789
@oriolgual working great! :rocket:

[2021-03-01 16:32] ferblape commented on #7291
Almost half of the modules have been migrated, although I expect lots of errors. Hopefully in a couple of days most of them will be migrated.

I'm following the strategy of creating two packs per module: module_name and module_name_admin (i.e decidim_assemblies and decidim_assemblies_admin) which seems to make sense

I'm delaying the task of compiling React, both for the Autocomplete component and

[2021-03-01 16:41] paulinebessoles commented on #7466
This same behavior also seems to apply to unpublished initiatives in users profile.

[2021-03-01 16:44] carolromero commented on #6880
@oriolgual I'm getting a server error when creating an initiative type.

[2021-03-02 07:15] agustibr commented on #7112
Hi @carolromero, I've changed the _Start voting_ button style to match the _CTA_ button of the banner, the [review app](https://decidim-staging-pr-314.herokuapp.com/votings/esse-non) is updated 😁

<img width="906" alt="Screenshot 2021-03-02 at 08 11 40" src="https://user-images.githubusercontent.com/210216/109611977-5a15f580-7b2f-11eb-83af-f3b30d32dce7.png">

[2021-03-02 07:44] andreslucena commented on #7479
I agree with this one!! 👏🏽 👏🏽

Although this would mean diverging from a standard (our format comes from https://keepachangelog.com/), I think that we should be migrating to a better separation of the different modules and this is a nice step in that direction. For instance, there are cases where installations are only using a couple of modules (like `decidim-initiatives`, see https://petitions.se

[2021-03-02 08:07] andreslucena commented on #7432
Oh I see, I misunderstood it, thanks for the clarification!!

[2021-03-02 08:14] andreslucena commented on #6467
I agree!! I think part of the issue is that Decidim is a Rails app and deploying Rails app isn't as straightforward as other kind of apps. I personally love the installation process of Discourse for instance, having scripts as frontends to Docker and simplifying all the process.

That seems like the app is broken. How did you generate the app? Can you provide the steps that you followed to arrive

[2021-03-02 08:15] andreslucena commented on #6467
Are you running the app in production environment?

@atrandafir I have answered your questions (just mentioning you so you get the notification)

[2021-03-02 08:22] #5764 closed

[2021-03-02 08:22] #6789 closed

[2021-03-02 08:33] #7483 closed

[2021-03-02 08:38] carolromero commented on #7112
Thanks @agustibr!

[2021-03-02 08:44] carolromero commented on #7409
@agustibr great job! Ready for technical review.

[2021-03-02 09:59] mrcasals commented on #7487
@ahukkanen hi! I'm reopening this because I'm still having problems, but now the issue is different. The affected rows seem to be the same ones, though.

When trying to decrypt values, the code is assuming that the values in the Hash are JSON objects:

https://github.com/decidim/decidim/blob/e24368533d819333ce686e35c8627f9e347768ce/decidim-core/lib/decidim/record_encryptor.rb#L116-L120

But they a

[2021-03-02 10:23] ahukkanen commented on #7487
@mrcasals Yes, I think we need another rescue here as you suggest.

See #7494.

[2021-03-02 11:59] andreslucena opened #7500 "Blog posts with admin user"
**Describe the bug**
As an administrator when I create a new blog post from the admin panel I see that I'm the author of this post.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in as administrator
2. Go to a participatory process with blog component
3. Create a new post
4. Go to frontend. See that it has an author.

**Expected behavior**
I shouldn't see the author of this post, thing

[2021-03-02 12:00] andreslucena opened #7501 "Sortitions with admin user"
**Describe the bug**
As an administrator when I create a new sortition from the admin panel I see that I'm the author of this post.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in as administrator
2. Go to a participatory process with sortitions component
3. Create a new sortition
4. Go to frontend. See that it has an author.

**Expected behavior**
I shouldn't see the author of this

[2021-03-02 12:01] andreslucena commented on #7501
We should also do a data migration for all the current contents and also making it clear this change in the CHANGELOG.

[2021-03-02 12:01] andreslucena commented on #7500
We should also do a data migration for all the current contents and also making it clear this change in the CHANGELOG.

[2021-03-02 15:50] #6626 closed

[2021-03-02 16:48] paulinebessoles opened #7509 "Can't delete an attachment to my proposal as a user"
**Describe the bug**
As a user creating a proposal, after I attached a file or an image to my proposal, I can't delete it, neither by returning to step 4 of the creation wizard, nor afterwards when modifying the proposal.

**To Reproduce**
1. Go to 'https://try.decidim.org/processes/budget-participatif-2021/f/8/'
2. Create a proposal and attach an image to it
3. Preview the proposal
4. Go back to

[2021-03-02 17:35] ahukkanen commented on #7432
By the way @andreslucena, how do you get that default order to appear without clicking the table headers?

This is what I get in develop branch when I go to the processes page:
![image](https://user-images.githubusercontent.com/864340/109689790-55ccf500-7b8e-11eb-9567-863f1a5cf6c0.png)

There is no default order applied unless I define the order by clicking one of the table headers?

[2021-03-02 19:16] ahukkanen commented on #7466
We bumped into this same issue with another module which is similar to proposals.

The reason why this happens is that the `Decidim::Coauthorship` record has the following callback defined for it:
https://github.com/decidim/decidim/blob/fee1047baea94e98774d9ebd256e399098718971/decidim-core/app/models/decidim/coauthorship.rb#L11

Which will then add the follow record for the resource after the coau

[2021-03-02 19:45] ahukkanen opened #7513 "Proposals listing caching has broken the listing and searching under Rails 5.1 default configurations"
**Describe the bug**
When ordering the proposals with the "recent" ordering, the order seems broken (see the screenshot or go to see the issue at Metadecidim).

There are two separate issues regarding this that are most likely technically related:

1. The order is incorrect, e.g. proposals from February and November 2019 comes 4th, 5th and 6th in the results and after them the next result seems co

[2021-03-02 19:47] ahukkanen commented on #7509
I think this is related to #7452 (original issue #5736).

[2021-03-02 22:27] ahukkanen commented on #7513
Looking at the version history, this might be related to proposal caching added at #6808 by @armandfardeau. Caching is generally "famous" for creating such issues along the way.

The cache key generation looks like a potential source of the problem:
https://github.com/decidim/decidim/blob/fee1047baea94e98774d9ebd256e399098718971/decidim-proposals/app/cells/decidim/proposals/proposal_m_cell.rb#L132

[2021-03-03 07:47] ahukkanen commented on #7513
I am actually pretty sure this is cache related issue @armandfardeau. Proposal search is also broken at Metadecidim because of this issue. And I would expect a lot more issues around this.

Rails default configurations for caching have changed in Rails 5.2:
https://guides.rubyonrails.org/configuring.html#for-5-2-defaults-from-previous-versions-below-and

Metadecidim is loading defaults from Rails

[2021-03-03 07:48] andreslucena commented on #7501
After further discussion with @carolromero we arrived to the conclusion that some contents (for instance `pages`, `projects` or `surveys`) don't have author and that's a good thing as it don't make sense (or at least we didn't find it). This would be the case with `sortitions` also.

Closing this issue

[2021-03-03 07:48] #7501 closed

[2021-03-03 08:01] mrcasals commented on #7513
@ahukkanen independently of the defaults, this could be solved by adding the proposal ID to the cache key, right?

[2021-03-03 08:06] ahukkanen commented on #7513
@mrcasals Yes, I was looking at the module methods and there is also `cache_key_with_version` (since Rails 5.2):
https://api.rubyonrails.org/classes/ActiveRecord/Integration.html#method-i-cache_key_with_version

[2021-03-03 08:07] andreslucena opened #7518 "Proposals admin export not working with i18n"
**Describe the bug**

As an administrator when I export proposals from the admin panel (in any format, CSV, XLS or JSON) I don't have all the languages for downloading them, only my current language.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in as administrator
2. Go to any proposal component with contents in multiple locales
3. Click "Export" -> "Proposals as CSV"
4. Go to your e

[2021-03-03 08:14] mrcasals commented on #7513
Ah, it looks good! Replacing `cache_version` with `cache_key_with_version` should solve the issue, then, right?

[2021-03-03 08:56] paulinebessoles commented on #7466
Thanks a lot for the explanation @ahukkanen! I also agree with the idea to have a place for users to find their drafts, that would be an awesome improvement!

[2021-03-03 09:05] ahukkanen commented on #7513
@mrcasals Yes, I think so but would have to be tested.

[2021-03-03 11:41] andreslucena commented on #7465
In Metadecidim is already fixed as we're in v0.24... This is the [same meeting](https://meta.decidim.org/assemblies/eix-comunitat/f/149/meetings?locale=ca&filter%5Bsearch_text%5D=&filter%5Bdate%5D%5B%5D=&filter%5Bdate%5D%5B%5D=past&filter%5Btype%5D%5B%5D=&filter%5Bscope_id%5D%5B%5D=&filter%5Bactivity%5D=&filter%5Bactivity%5D=all) from the screenshot:

![imatge](https://user-images.githubuserconten

[2021-03-03 11:44] marta-platoniq commented on #7465
benvinguda 0.24 👏  🙂

[2021-03-03 11:44] #7465 closed

[2021-03-03 15:59] ferblape commented on #7291
A quick update: except a couple of JS files that use ERB and the module decidim-elections (which requieres some javascripts from the bulletin board and I'll deal with it in the future) I've fixed all the files, remove all traces of the asset pipeline for JS and decidim can generate all the packs for each module, including compiling React.

I'm dealing now with the development application and  how

[2021-03-03 16:02] ahukkanen opened #7528 "Proposals filters cache causes lots of non-unique element IDs (violates WCAG 2.1 / SC 4.1.1)"
**Describe the bug**
Caching functionality was added to the proposals listing view in #6808 by @armandfardeau. In particular, it added the fragment cache to the filters section of the view:
https://github.com/decidim/decidim/blob/d640192714e668117639ad3fbdb19505ee2a3dc7/decidim-proposals/app/views/decidim/proposals/proposals/_filters.html.erb#L3

This is problematic because the filter inputs gener

[2021-03-03 17:06] armandfardeau commented on #7528
HI @ahukkanen

Sorry to hear about that. I'm working on a fix right now.

[2021-03-03 17:23] ahukkanen commented on #7513
There is by the way another place too where `cache_version` is used (hero content block):
https://github.com/decidim/decidim/blob/fdaf3e8450857ef814e453997883941c5a0614bf/decidim-core/app/cells/decidim/content_blocks/hero_cell.rb#L30

I don't think this would generate duplicates that easily because it calculates a digest of the hero block's attributes (which are likely to be different for differen

[2021-03-03 18:55] ahukkanen opened #7529 "Action log items "new X at" are duplicated when some resources are updated"
**Describe the bug**
If action loggable items are updated, they will appear as duplicates in the user's activity log page. This can be confusing because e.g. for proposals the action log message is always "New proposal at X" even if the action was `:update`. This same applies for resources if the following is true:

- The action against the record is tracked through `Decidim.traceability`
- The ac

[2021-03-03 21:27] armandfardeau commented on #7513
Hi! Sorry for the mess I'm working on a fix.

[2021-03-03 23:48] armandfardeau commented on #7438
Hi, what do you thin about https://github.com/fingerprintjs/fingerprintjs @microstudi?

[2021-03-04 08:08] #7528 closed

[2021-03-04 08:53] mrcasals commented on #7487
@ahukkanen there's another issue and I'm not sure what's the best way to solve it. Using Decidim.Barcelona's `census_authorization_handler`, the migration fails because the `metadata` field contains a nested hash:

https://github.com/AjuntamentdeBarcelona/decidim-barcelona/blob/1c812d1de66ffa1a129df8131e7970034bdde576/app/services/census_authorization_handler.rb#L35-L45

The error we get is this:

[2021-03-04 09:00] mrcasals commented on #7487
Note that the authorization_handler in Decidim.BArcelona uses the `extra` key in the `metadata` field together with this PR https://github.com/decidim/decidim/pull/6097

So I don't think we can flatten the hash structure

[2021-03-04 09:57] ahukkanen commented on #7487
@mrcasals Ah, sorry about that! I've always thought (in my head) that the authorization metadata values would be only single level hashes.

Fix is on its way at: #7536

[2021-03-04 09:58] mrcasals commented on #7487
Yeah, I assumed that too, no problem at all. Thanks for the quick fix, that was fast! 😄

[2021-03-04 15:17] mrcasals commented on #7487
Yet another case. When the `metadata` field in an authorization contains a Hash with an empty string as a value, the process fails:

[code]

See #7542 for a PR.

[2021-03-04 15:47] ferblape commented on #7291
A quick update: I've managed to have two webpack dev servers working, one for Decidim itself and other for the container application. This will allow that the app can have custom and independent assets (i.e use Vue) without affecting Decidim. Both apps will build their assets in separated folders (decidim uses /decidim-packs).

It almost works, I've found an issue using the helpers `javascript_pac

[2021-03-04 16:54] ahukkanen commented on #7112
I bumped into #7413 and I was thinking is there any reason why the order of the statistic title and the number are different for the homepage:
![Homepage statistics](https://user-images.githubusercontent.com/210216/108228626-55207180-713f-11eb-8595-464e11b91251.png)

And the other views, e.g.
![Process page statistics](https://user-images.githubusercontent.com/210216/108228142-de837400-713e-11eb-9

[2021-03-04 17:23] agustibr commented on #7112
@ahukkanen, I understand that the issue is that "22 participants" is not translated the same in Finnish when changing the order to "participants 22".

So we could change the i18n scope depending on the `design`, so we could have translations for both cases, when the number is above or below.

https://github.com/decidim/decidim/blob/bf108700397c882b30ed8571e44f1fe9e574e80d/decidim-core/app/cells/de

[2021-03-04 17:24] ahukkanen commented on #7112
@agustibr Yes, exactly. Option a) it is then.

[2021-03-04 17:48] atrandafir commented on #6467
Hey @andreslucena thank you and sorry for the late reply.

Indeed I have almost no experience with Rails and might have done some mistake in any of the steps.

I have followed https://platoniq.github.io/decidim-install/decidim-focal/ and  also looked at https://docs.decidim.org/en/install/manual/

I don't think I still have the app code. My partner got a new VPS and finally tried the install scrip

[2021-03-05 07:35] #7487 closed

[2021-03-05 12:33] agustibr commented on #7112
@ahukkanen, if you ask me I would go for option B, changing the homepage [where the statistic title is below the number](https://user-images.githubusercontent.com/210216/110115897-03bae800-7db7-11eb-8c03-1cdb179b4c5f.png), as I find this approach simpler in many aspects (templates, translations ...)

But I'll wait for the opinion of the @decidim/product team 😁

[2021-03-05 12:50] ahukkanen commented on #7112
@agustibr Sure, which ever you feel is better. Both options are fine for me.

[2021-03-05 12:57] carolromero commented on #7112
@agustibr @ahukkanen +1, let's go with this. In fact, at some point we will also have to change the design of the statistics on the home page, when it was initially designed there were not so many things to count!

[2021-03-05 16:14] htmlboy commented on #7119
Hi! This is the proposed solution for this issue, that can be found in `feat/evote-remaining-time` branch:

Remaining time in voting landing:
<img width="1276" alt="Screenshot 2021-03-05 at 17 08 35" src="https://user-images.githubusercontent.com/468685/110141643-aaae7c80-7dd5-11eb-900b-80fa50b5d313.png">

Close up of the alert:
<img width="566" alt="Screenshot 2021-03-05 at 17 08 39" src="https:/

[2021-03-05 16:21] htmlboy commented on #7113
Hi! This is the proposed solution for this issue, that can be found in `feat/evote-check-participating-rights` branch:

Check your census data:
<img width="860" alt="Screenshot 2021-03-05 at 17 15 24" src="https://user-images.githubusercontent.com/468685/110142511-856e3e00-7dd6-11eb-8388-1020a0e4ad8a.png">

Census correct:
<img width="798" alt="Screenshot 2021-03-05 at 17 15 38" src="https://user-

[2021-03-05 19:26] #7513 closed

[2021-03-08 08:29] mrcasals opened #7553 "Consider using standard instead of base rubocop"
Recently, https://github.com/testdouble/standard dropped. It's the same idea as StandardJS, an opinionated linter, but for Ruby. It builds on top of Rubocop.

Right now we have to check the `.rubocop.yml` file every time the Rubocop dependency is updated, since there might be some new checks that are not being applied. By using `standard` we'd have this for free, and we wouldn't need to discuss an

[2021-03-08 08:29] mrcasals commented on #7553
Relevant issue to add `rubocop-rails` rules to standard: https://github.com/testdouble/standard/issues/266

[2021-03-08 09:31] agustibr commented on #7115
Hi @decidim/product, this issue is been tackled with the voting landing page (#7112).

You check it in this app:

- in the voting landing (when there's only one election published: https://decidim-staging-pr-314.herokuapp.com/votings/esse-non
- and in the election details view: https://decidim-staging-pr-314.herokuapp.com/votings/esse-non/f/80/elections/55

![Screenshot_2021-03-08 Ratione animi si

[2021-03-08 11:29] mrcasals opened #7554 "Activity cards in user profile timeline always show "New resource" when updating the resource"
**Describe the bug**
When a user creates a meeting from the public area and then updates it, the timeline cards in the user profile always show "New meeting":

![image](https://user-images.githubusercontent.com/491891/110315138-1e849b00-8009-11eb-8147-874b0fc536d6.png)

The one on top should say "Meeting updated", probably.

This comes from trying to reuse the same cards used for the "Last activit

[2021-03-08 12:35] ahukkanen commented on #7513
@mrcasals I believe you've deployed this already to Metadecidim?

Because this issue still persists but I'm not sure if it's related to the cache key.

[2021-03-08 13:17] mrcasals commented on #7513
@ahukkanen no, it's not deployed yet because it wasn't backported. I'll try to make the backport when I find a little time.

[2021-03-08 13:40] ahukkanen commented on #7554
This is related to #7529.

Same is also for the delete action (currently only budgets delete actions are tracked publicly).

[2021-03-08 13:47] mrcasals commented on #7554
@ahukkanen ah, I remembered seeing something from you related to this but couldn't find it, thanks!

Regarding the budgets, as explained here, the "Last Activity" content block only shows action logs with `action: ["create", "publish"]`, so it should be fine.

We should probably move the budgets action logs to `admin-only` so they appear in the admin log but not in the public area, to be consisten

[2021-03-08 13:51] mrcasals opened #7557 "Admin actions on budgets appear in the public logs"
**Describe the bug**
Some of the actions an admin can perform on budget-related resources an be seen publicly:

- Create, update, destroy a budget
- Create a project (both manually or by importing proposals)

The "create" actions appear both in the "Last Activity" content block and in the user profiletimeline. Update and destroy actions only appear in the user profile.

To be consistent with the r

[2021-03-08 13:51] mrcasals commented on #7557
@decidim/product thoughts on this? This comes from https://github.com/decidim/decidim/issues/7554#issuecomment-792767201

[2021-03-08 13:53] mrcasals commented on #7529
Discussion has been moved to #7554.

The budgets part is specifically being discussed in #7557.

[2021-03-08 13:53] #7529 closed

[2021-03-08 14:29] #7554 closed

[2021-03-08 15:21] mrcasals commented on #7513
@ahukkanen deployed already, seems to be working fine for me!

[2021-03-08 15:26] ahukkanen commented on #7513
Great @mrcasals, seems so to me as well!

I think I might have found one more issue with this, though. I'll first confirm and then post a bug report (if I can confirm it).

[2021-03-08 16:51] ahukkanen opened #7564 "Proposal card caching causes the participatory space to display inconsistently"
**Describe the bug**
The top section of the proposal card should display the proposal's participatory space e.g. in the global search. But when the card is shown in the context of the participatory space, it should not be shown (e.g. in the proposal component's listing page).

After proposal card caching was added at #6808, this logic is sometimes mixed up. Sometimes you don't see the space in the

[2021-03-08 18:59] ahukkanen commented on #6229
After the 0.24.0.rc update it seems to me browsing Metadecidim is much slower than it was with 0.23.x. As caching has been introduced lately to proposals (#6808), I thought I'd do a bit of investigation. But I'm not sure if the root cause is caching, just one thought.

So, I locally experimented with caching by adding this code to `config/initializers/decidim.rb`:

[code]

Once I had this, I could

[2021-03-09 10:07] lahdeero commented on #7500
#7425 solves this?

[2021-03-09 10:31] carolromero commented on #7557
@mrcasals this is a bug indeed.

[2021-03-09 15:47] mrcasals commented on #7291
OMG @ferblape that's huge news!!! Congratulations!

[2021-03-10 08:13] eva-sl commented on #7113
hi @htmlboy ,

As discussed with @agustibr we've got some suggestions:

- Adding to the form a _type of document_ (DNI, NIE, Passport) will help the validation of the field format (ID/Passport) it also will help to search on a census with 1.5M of registers.
- Having census error, will help the user to see the filled data. Maybe an alert?

Let me know your thoughts @decidim/product  :D

[2021-03-10 14:50] mrcasals commented on #7305
@ferblape sure, go ahead! 😄

[2021-03-10 17:04] ferblape commented on #7291
So today:

- I've updated the generators to use the Webpacker intance of Decidim instead of their own. It's quite easy once you know how 😅 which has allowed me to run the first tests successfully
- I've migrated almost all the code from decidim_admin, just two things left I'll try to fix tomorrow: TypeScript in the Autocomplete component and the editor, which has a few imports and fixes in between

[2021-03-11 16:23] eva-sl commented on #7113
ping @decidim/product 😄

[2021-03-12 11:11] armandfardeau commented on #7564
I'm working on this.

[2021-03-12 15:15] ferblape commented on #7291
Today I was really close to get the first green of a module (decidim-accountability) but I broke the mentions, although trying to fix those tests I've reviewed a lot of code shared between many modules (comments, maps, foundation modal windows...) and everything works. Also navigating the web with the browser looks good. I'm fixing right now the Github workflows to try to get a complete execution

[2021-03-15 09:40] ahukkanen opened #7600 "Proposal card cache does not expire on participatory process phase change"
**Describe the bug**
The proposal card caching added at #6808 causes the card cache not to expire when the active phase of the process is changed. Phase changes could cause changes in the cards which also means the card caches should be expired when the change happens.

E.g. if you have first phase with proposal creation enabled and second phase with supports enabled, it does not properly update u

[2021-03-15 09:44] carolromero opened #7601 "Global moderation panel crashes"
**Describe the bug**
When accessing the global moderation panel, a server error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin panel
2. Click on 'Global Moderations'
3. See error

**Expected behavior**
I expect it to show me the moderation panel when I click on ''/admin/moderations'.

**Extra data (please complete the following information):**
 - Device: Desktop
 - Devic

[2021-03-15 09:45] carolromero opened #7602 "Meetings are sorted by the oldest in the admin panel"
**Describe the bug**
Meetings are sorted by the oldest in the admin panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the admin panel and click on a meeting component with several meetings
2. View sorting by oldest

**Expected behavior**
I expect to see the meetings sorted by the latest created

**Screenshots**
![](https://i.imgur.com/vTo1Zg6.png)

**Extra data (please complete th

[2021-03-15 09:50] carolromero opened #7603 "The announcement box appears even if there is no content in it"
**Describe the bug**
The announcement box in the process home page and proposal wizard appears (empty) even if there is no content in it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://meta.decidim.org/processes/roadmap'
2. See error

**Expected behavior**
I expect the announcement box to be displayed only if there is content in it.

**Screenshots**
![](https://i.imgur.com/qZ

[2021-03-15 09:51] carolromero opened #7604 "Reported users are displayed in all tenants"
**Describe the bug**
When reporting a user registered in a tenant, this user is also shown in the admin panel of reported users in other instances of the same multitenant, although that user account does not exist in the rest.

**To Reproduce**
Steps to reproduce the behavior:
1. In an instance with several tenants, report a user of a tenant.
2. In another tenant of the same instance go to admin/r

[2021-03-15 10:03] ahukkanen commented on #7438
If you'd like to limit the answers per user, I would suggest adding some kind of answer tokens which can be generated for the anonymous survey and then each user could be emailed (or other way of communication) their own token.

Then in the answer view, the user would have to enter their answer token before accessing the survey or alternatively, you could send a link with the answer token pre-ente

[2021-03-15 10:36] carolromero opened #7605 "The proposal tooltip on the map is not displayed correctly"
**Describe the bug**
When the geocoding option is activated, the tooltips of the proposals are not displayed correctly on the map.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the proposal component settings in the admin panel.
2. Click on 'Geocoding enabled'.
3. Create a geolocated proposal from the frontend.
4. Click on the proposal from the map.
5. See error

**Expected behavior*

[2021-03-15 11:03] carolromero opened #7606 "In the proposal wizard the map is shown even if the proposal has no geolocation"
**Describe the bug**
With the "Geocoding enabled" option activated, when creating a proposal that does not have geolocation, the map is displayed in the last step of the wizard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the proposal component settings in the admin panel.
2. Click on 'Geocoding enabled'.
3. Create a proposal without address from the frontend.
4. Go to the final st

[2021-03-15 14:34] mrcasals opened #7608 "Importing proposals from another component blocks a server thread"
**Describe the bug**
When you try to import proposals from a proposals component to another, the process is done in a server thread instead of in a background job. This might work fine for a small amount of proposals, but for Decidim Barcelona (importing >800 proposals) this means the process fails because the server/the infrastructure provider cancels the request.

This process should be moved to

[2021-03-15 16:13] carolromero commented on #7113
Hi! The design proposal is ok from @decidim/product. As always, we may have to adjust some things once the form is implemented, but for the moment it looks good.

+1 to the suggestions you make, @eva-sl  and @agustibr. Here's what the census verification form looks like:
![image](https://user-images.githubusercontent.com/23509895/111184770-96c30180-85b1-11eb-9b59-b49f03e6cc1e.png)

[2021-03-15 17:08] agustibr commented on #7112
@carolromero and @ahukkanen this is the PR #7595 for _the translation order_ issue in the homepage stats block.
This is the [review app](https://decidim-staging-pr-320.herokuapp.com/?locale=fi) if you want to check it.

I hope this solves the issue, cheers 😁

[2021-03-15 17:45] ahukkanen commented on #7112
Looks great @agustibr, thanks a lot!

[2021-03-16 07:48] carolromero commented on #7112
Thanks @agustibr!

[2021-03-16 08:50] microstudi commented on #7438
@armandfardeau not a fan to be honest, it means more dependencies, Not 100% accurate and feels like a privacy invasion to me.

@ahukkanen is right, but in this case, wouldn't be easier to just use normal surveys that require users to authenticate?

There's also intermediate scenarios possible: for instance, create a field for the email and monkey patch the answer token to return the content of tha

[2021-03-16 09:54] agustibr commented on #7107
@decidim/product this is ready to be reviewed [here](https://decidim-staging-pr-322.herokuapp.com/admin/votings/est-et/census) 😁

[2021-03-16 10:14] carolromero opened #7616 "Attachments to a proposal/initiative are not updated correctly"
**Describe the bug**

When editing a proposal/initiative the attachments do not update correctly.
- If you add an attachment, it replaces the previous ones.
- Deletion of attachments doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a proposal or initiative with more than one attachment.
2. Edit the proposal or initiative.
3. Delete one of the attachments and save.
4. See

[2021-03-16 10:35] andreslucena opened #7617 "Improve children/grandchildren Assembly navigation"
Ref: OM05 / DECOM-16

**Is your feature request related to a problem? Please describe.**
As a visitor it's very difficult to find out the children assemblies. Most of the times we're not having only one level of children, but we have multiple levels (like Russian Dolls).

**Describe the solution you'd like**
To have a better way to navigate inside of Children / Grand Children / Great-grandchildren

[2021-03-16 10:37] carolromero opened #7618 "When editing a proposal with an image, the image disappears"
**Describe the bug**
When editing a proposal with an image and adding an attachment, the image disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a proposal with an image.
2. Edit the proposal and add an attachment.
3.  See error (image has disappeared).

**Expected behavior**
I'd expect that when updating an attachment the image will not disappear.

**Screenshots**
![proposa

[2021-03-16 10:41] andreslucena opened #7619 "Review errors in admin panel"
Ref: OM22

**Is your feature request related to a problem? Please describe.**
As an administrator it's frustrating to see some errors, where it don't says which error I'm seeing, only that there was an error (!!!)

**Describe the solution you'd like**
To have the option of "See more" information with some raw data about the error in the admin panel.

**Additional context**
See for instance the err

[2021-03-16 11:23] agustibr commented on #7112
@mrcasals I think this issue can be closed now that all the AC's are done and the PR #7595 is merged 😀

[2021-03-16 12:57] #7564 closed

[2021-03-16 13:00] orlera commented on #7119
Hi @decidim/product 🧇
This is ready for review 🔍

It adds a callout warning the user of the time left to vote in an election when its end is less than 12 hours away.
The callout is shown:
 - In the election card when the voting space has multiple elections.
![Screenshot 2021-03-16 at 12 10 04](https://user-images.githubusercontent.com/5033945/111311598-b2381600-865e-11eb-9d43-c85b59f8d32f.png)
 -

[2021-03-16 13:05] mrcasals commented on #7604
@alecslupu could you check this out?

[2021-03-16 13:15] alecslupu commented on #7604
I am aiming to have an analysis by the end of week. @mrcasals , please assign this to me

[2021-03-16 13:32] lahdeero opened #7621 "Canceling scope filter opens unclosable reveal"
**Describe the bug**
In process listing page there is "scopes: Select a scope" filter. If you click "Select a scope" you will see reveal where you can pick a scope. If you press "Cancel" and wait like three seconds, gray overlay fills the browser window and nothing is clickable anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Processes
2. Click Select a scope
3. Click cancel
4.

[2021-03-16 14:36] virgile-dev opened #7622 "Edit form is still accessible via URL after initiative has been sent to technical validation"
**Describe the bug**
**Given** I'm loggued in as an author or a promoter of initiative I can still access the edit form via the url by adding /edit to the url of my initiative even if I sent it to technical validation.
**When** accessing the edit form
**Then** I can manage the promoter's committee (accept and reject)

It feels like an inconsistent behavior since the button is hidden on the initiat

[2021-03-16 14:37] virgile-dev commented on #7622
@carolromero we will be working on fixing this for the French Assembly. Are you interested in getting a PR  with the fix for this ?

[2021-03-16 14:58] ahukkanen commented on #7600
I think the cleanest solution to fix this would be to call `step.participatory_process.touch` after the new step has been activated in the step activation command:
https://github.com/decidim/decidim/blob/96c78cbe478dbb82a44fa9f96275c832e76a8485/decidim-participatory_processes/app/commands/decidim/participatory_processes/admin/activate_participatory_process_step.rb#L48-L56

[2021-03-16 15:10] htmlboy commented on #7113
The design is now updated with the last suggestions and has a PR: https://github.com/decidim/decidim/pull/7623

[2021-03-16 15:40] htmlboy commented on #7119
@orlera hi! Shouldn't the callout i the card be inside `card__content`?

[2021-03-16 15:57] PierreMesure commented on #7606
@armandfardeau

[2021-03-16 17:06] orlera commented on #7119
@htmlboy yup, you're right! Here's the updated screenshot, the review app is being updated.
![image](https://user-images.githubusercontent.com/5033945/111350312-44054a80-8682-11eb-8355-490c10805a51.png)

[2021-03-17 07:17] #7112 closed

[2021-03-17 07:19] mrcasals commented on #7600
@ahukkanen this looks like the cleanest solution to me too, yes!

[2021-03-17 08:23] carolromero commented on #7622
@virgile-dev yes, thanks!

[2021-03-17 11:10] entantoencuanto commented on #7290
The active_storage_gem doesn't accept for the moment dynamic values for validations (there is an open issue to implement that igorkasyanchuk/active_storage_validations#105). Since it is relatively easy I am going to implement the size validations directly on Decidim

[2021-03-17 15:35] carolromero commented on #7119
Hi @orlera! I was just coming to comment on the same thing @htmlboy said :smile: . The rest looks perfect, thanks!

[2021-03-18 07:43] #7119 closed

[2021-03-18 08:52] agustibr commented on #7107
@decidim/product The review app is updated, now the errors have been resolved, so the feature can be reviewed, sorry for the inconvenience 😅

[2021-03-18 09:01] carolromero commented on #7107
@agustibr I may be doing something wrong but I am not able to upload the file :/
![image](https://user-images.githubusercontent.com/23509895/111599773-f21f0a80-87d0-11eb-9028-3f38f4396f71.png)

FWIW this is the file I'm using: [census.zip](https://github.com/decidim/decidim/files/6162641/census.zip)

[2021-03-18 09:19] agustibr commented on #7107
@carolromero, is the space after the semicolon that is making it invalid cells, I'll improve this and ping you back.

Thanks for the feedback.

[code]

[2021-03-19 10:25] agustibr commented on #7107
@carolromero once again the review app is updated (I had to reset the database).

I would like to note that regarding the _census file_ to upload, this should comply the format specified and assume that the format for each value is correct, so it shouldn't need any normalization/parsing nor format validation before inserting the given data into the db for consistency and integrity of the data.

Fo

[2021-03-19 14:36] #7622 closed

[2021-03-19 16:46] armandfardeau commented on #7606
@carolromero @PierreMesure I'm looking at it

[2021-03-22 09:49] carolromero commented on #7107
@agustibr hi! The records are loaded successfully, but you have to refresh the page to show you the updated result and if you don't know it you think it hasn't loaded it. Can we change this behavior to show you the result directly? Thanks!

[2021-03-22 10:24] carolromero opened #7662 "When creating a hybrid meeting the meeting URL is not displayed"
**Describe the bug**
When creating a hybrid meeting (online and in person) the meeting URL is not displayed. This happens both in meetings created by the administrator and by the participants.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the admin panel > processes > create meeting
2. Set meeting type as "Both".
3. Fill in all required fields (Address, Location, Online meeting URL,

[2021-03-22 10:28] mrcasals commented on #7662
Related to #6891. @alecslupu this might be relevant to you!

[2021-03-22 10:32] alecslupu commented on #7662
Related to #7065 .
Need to do that small piece of work to have it merged :)

[2021-03-22 10:52] mrcasals commented on #7608
Technical details of this: ideally, the job should only run once. Since the process might take long for components with lots of proposals, it'd be nice if we could find a way to tell the admins that the process is still running, so that they don't feel the need to do the process again, which could create duplicates.

If we were using Sidekiq directly it'd be quite simple (There are snippets around

[2021-03-22 11:08] leio10 commented on #7608
We could use the [activejob-uniqueness gem](https://github.com/veeqo/activejob-uniqueness) that uses Redis instead of the database to do the locks.
Also, for the evoting project we are thinking on using the [job-iteration gem](https://github.com/Shopify/job-iteration) for having interruptible and resumable long background jobs, so it would be nice to evaluate it and decide if its worth it to use i

[2021-03-22 11:42] mrcasals commented on #7608
Ah, that's an interesting gem, @leio10, thanks! I'll check it out!

For the job-iteration gem I don't see any problem for using it!

[2021-03-22 13:15] mrcasals opened #7668 "Endorsement stats create huge SQL queries"
**Describe the bug**
Apparently, the stats that count endorsements generate such big queries that can cause the DB to run out of memory. For example, this request in Decidim.Barcelona:

https://sentry.io/share/issue/944d30d8c13a4fe5ac777033aafdf7f7/

This one seems to be the most inefficient one, but probably the rest of stats should be rethought and refactored, or cached at least.

Note that this

[2021-03-22 13:26] mrcasals opened #7670 "Fetching linked resources can cause the DB to run out of memory"
**Describe the bug**
We got some problems while trying to get linked resources for a resource. Specifically, trying to find out whether a proposal comes from a collaborative draft or not.

https://sentry.io/share/issue/ef07c47b8f844e398da2485865e3fe59/

Maybe trying to make the component resources (proposals, meetings...) aware of their participatory space could help reducing the amoutn fo queries

[2021-03-22 13:42] mrcasals opened #7671 "Initiative M-size card fails to render the hashtags"
**Describe the bug**
There's a bug in the tags view for the Initiatives M-size card and this is causing failures in the initiaitves index and global search pages.

https://github.com/decidim/decidim/blob/a7a3803479be8d55e2041f19fca14ce64ed57630/decidim-initiatives/app/cells/decidim/initiatives/initiative_m/tags.erb#L2

This should be `link_to` instead of `link_to_if`.

**To Reproduce**
Have initia

[2021-03-22 17:11] BigSnicker opened #7674 "Amendment text comparison doesn't highlight changed text"
**Describe the bug**
In v23.x and v24.0.rc2, any amendments highlight the entire proposal, not just the changed text, making the differential comparison effectively useless.  See screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an amendment
2. Look at comparison text

**Expected behavior**
Like github, for ONLY the new or changed text to be highlighted.

**Screenshots**

[2021-03-22 18:09] ahukkanen opened #7676 "Proposal preview page "update position" button gets higher priority than "Publish""
**Describe the bug**
When previewing a proposal with an address, the "Update position" button gets higher visual priority than the "Publish" button which can be easily left unnoticed due to the "Update position" button.

I think intuitively many people would now press the "Update position" button instead of publishing their proposal.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable geo

[2021-03-23 07:25] PierreMesure commented on #7676
Yes! I would add that both drag and drop and clicking should be supported. And that the map should be zoomed out a little bit more as today it is quite hard to see where the pin is.

Maybe one step further, I am wondering why this map is not on the previous page of the form, appearing when the user writes an address.

[2021-03-23 09:22] mrcasals commented on #6896
Closed by #7660

[2021-03-23 09:22] #6896 closed

[2021-03-23 10:24] mrcasals commented on #7601
I can't replicate this, I can see the dashboards right now 😕

![image](https://user-images.githubusercontent.com/491891/112131936-5fb0a980-8bca-11eb-9534-b9d9c0623b06.png)

I'll check sentry!

[2021-03-23 10:35] mrcasals commented on #7601
Sentry link: https://sentry.io/share/issue/973a64b94663478a8000790b2487672f/

[2021-03-23 11:30] mrcasals commented on #7603
This is fixed by https://github.com/decidim/decidim/pull/7568 in `develop`, needs backport.

[2021-03-23 11:33] mrcasals commented on #7605
Closed by https://github.com/decidim/decidim/pull/7678.

[2021-03-23 11:33] #7605 closed

[2021-03-23 11:34] mrcasals commented on #7605
Closed by #7642, backported to 0.24 in #7645

[2021-03-23 12:06] mrcasals commented on #7662
@carolromero this will be fixed by #7605 once it's merged. The icon thing in the map seems to be blocking this.

A middle-ground would be merging what's already done, but without any differentiation in the icon (so hybrid and in-person meetings would appear the same in the map). Would that work for you?

[2021-03-23 12:07] mrcasals commented on #7604
@alecslupu what's the status of this? Any updates? 😄

[2021-03-23 12:28] carolromero commented on #7662
@mrcasals yes, let's merge what we already have and we'll open a new issue to solve the icon thing. Thanks!

[2021-03-23 13:15] ahukkanen commented on #7676
I also think this would be ideal but I also think it would require more work than just removing the button.

When clicking the "Proposal has a location", the address field would appear and under it there would be the map. After a successful autocomplete selection from the address field, the map point would update on the map and when moving the marker on the map **significantly**, the address would

[2021-03-23 13:30] mrcasals commented on #7662
Closed by #7065

[2021-03-23 13:30] #7662 closed

[2021-03-23 14:21] PierreMesure commented on #7676
Yes! Do you have any live demo for your implementation in the Ideas module? I don't think that many have seen it work and it's a great example of how it should be done.

[2021-03-23 14:41] PierreMesure opened #7691 "Survey field error returns wrong message "There are too many choices selected""
**Describe the bug**

When the user leaves a compulsory text field (short or long answer) empty in a survey, the form rightfully picks up that the field is blank and complains that "Body can't be blank".

However, there is another error message that doesn't make sense: "There are too many choices selected"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a survey with a  compulsory shor

[2021-03-23 15:10] #7606 closed

[2021-03-23 16:11] lahdeero opened #7692 "Broken link: Getting started guide."
**Describe the bug**
Click " Getting started guide." in README. It points to "https://github.com/decidim/decidim/blob/develop/docs/getting_started.md", which gives 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/decidim/decidim
2. Click on Getting started guide
3. See error

**Expected behavior**
I expect to see actual guide.

**Extra data (please complete the f

[2021-03-23 16:14] ahukkanen commented on #7676
No, we don't have right now. I'm not sure if it even works that well with the Decidim's default layout (did not put much effort making it core compatible yet).

I'll add some screenshots from the Helsinki instance.

1. Creating a new idea (proposal)
![iCreating a new idea](https://user-images.githubusercontent.com/864340/112173841-999ba300-8bfe-11eb-8669-6958e5a92f5b.png)

2. Geocoding when writin

[2021-03-23 18:46] #7601 closed

[2021-03-23 18:46] #7602 closed

[2021-03-23 21:00] PierreMesure commented on #7676
That's a really elegant implementation. I did get it to work with the vanilla design and the map worked just as well. Some CSS missing on the cards and the idea pages, I still have a PR I'd like to submit to you with some additional rules but haven't had the time to finish it.

[2021-03-24 07:52] #7671 closed

[2021-03-24 10:11] eva-sl commented on #7124
Hi, @decidim/product !

The flow it's a lot more clarifying, thanks!

Reviewing the last changes we have some concerns:

- If we make the first validation **(1)** could improve usability, but it could make the storage of data less insecure.

- The name validation step **(2b)** we should remove it. It can imply a lot of issues comparing the name with the DB. And unfortunately we don't have the time

[2021-03-24 16:10] htmlboy commented on #7124
@decidim/product I just uploaded a design proposal for this issue in this PR: #7705

[2021-03-24 16:10] htmlboy commented on #7125
@decidim/product I just uploaded a design proposal for this issue in this PR: #7705

[2021-03-24 16:11] htmlboy commented on #7126
@decidim/product I just uploaded a design proposal for this issue in this PR: #7705

[2021-03-24 16:54] carolromero commented on #7124
Hi @eva-sl, about your concerns, sorry because it is not clear in the mockup. It is not a validation form, but the verification of the data that the system returns.In that case it would not be a problem, would it?

Wise advice from @htmlboy as usual :)

[2021-03-24 18:19] eva-sl commented on #7124
Great!
@carolromero, showing the participant's name sames feasible.

This is how we are envisioning this, without the (**2.b** step):

First step **(1)**:
![image](https://user-images.githubusercontent.com/59650200/112354420-f6658f00-8ccc-11eb-82e8-4ecee843172f.png)

If the data is correct **(3.a), we will show the user's name:**
![image](https://user-images.githubusercontent.com/59650200/11235480

[2021-03-25 06:06] alecslupu opened #7706 "Wrong statistics being computed in Comments"
**Describe the bug**
On the ParticipatoryProcess page, there is the stats section that is counting the number of participants in a process, and that metric seems to be broken. This is the code that generates the query.

[code]

I have investigated further and i have found that comments_query is looking for a decidim_root_commentable_id:
[code]
From what is have seen, the value of : decidim_root_co

[2021-03-25 07:08] mrcasals commented on #7692
Closed by #7695

[2021-03-25 07:08] #7692 closed

[2021-03-25 09:03] carolromero commented on #7124
@eva-sl, the idea is to only ask for the document type and number on the first screen, so it's fine as it is now.
And as a response from the system, the full name and date of birth is displayed.

I already left the comment [here](https://github.com/decidim/decidim/pull/7705#issuecomment-806018359) for @htmlboy, and apologize because we share the same mockup skills :smile:

[2021-03-25 09:25] andreslucena opened #7712 "Image file upload in WYSWYG editor"
Ref: OM41 / DECOM-26

**Is your feature request related to a problem? Please describe.**
As an administrator I want to add images to text areas so the contents in my instance are prettier.

**Describe the solution you'd like**
To be able to upload images in the WYSIWYG editor. These images should be uploaded as attachments through Carrierwave/ActiveStorage or the current attachment storage that we

[2021-03-25 09:27] andreslucena opened #7713 "Migrate base64 images to file uploads in WYSIWYG editor"
Ref: OM42 / DECOM-25

**Is your feature request related to a problem? Please describe.**
As a visitor legacy images from QuillJS that were uploaded through drag and drop are with base64.

**Describe the solution you'd like**
That these images are uploaded to the static files server. This should be done with a rake task or a database migration, but making changes in the contents through a migration

[2021-03-25 09:29] andreslucena opened #7714 "Extend supported formats in WYSIWYG editor"
Ref: OM43 / DECOM-24

**Is your feature request related to a problem? Please describe.**
As a participant sometimes I need more formatting options when working with the WYSIWYG editor.

**Describe the solution you'd like**
To have possibilities to:
* have indentation in lists
* remove heading of level 1
* allow quote format
* allow code format
* allow indentation and removing indentation

Mind tha

[2021-03-25 09:33] andreslucena opened #7715 "Online meetings with iframes"
Ref: OM14 / DECOM-23

**Is your feature request related to a problem? Please describe.**

As a participatory space administrator, I want to configure an online meeting URL and have the videoconference inside of Decidim to have all the information in the same window.

The use cases depend on the context of the meeting itself:
1) for discussing and having debates with not much moderation with platfo

[2021-03-25 09:34] andreslucena opened #7716 "Online meetings iframe: extended UI"
Ref: OM15 / DECOM-33

**Is your feature request related to a problem? Please describe.**
Some videoconferences providers have lots of elements in their default UI and that brings too much noise to the current Decidim design.

**Describe the solution you'd like**
To have a bigger default layout wrapper when entering a videoconference.

**Describe alternatives you've considered**
To have another kin

[2021-03-25 09:40] andreslucena opened #7717 "Online meetings iframe: transform URL"
Ref: OM16 / DECOM-22

**Is your feature request related to a problem? Please describe.**

Related to the "EPIC: Online meetings integration with an external iframe" (#7715), if I just add some YouTube URL to a Decidim Online Meeting and enable the "Show iframe", then I get an error:

![](https://i.imgur.com/Ts7UA9H.png)

**Describe the solution you'd like**

Some services need a transformation of

[2021-03-25 09:47] andreslucena opened #7719 "Online meetings iframe visibility to visitors/participants/registered"
Ref: OM17-1 / DECOM-18

**Is your feature request related to a problem? Please describe.**

As an administrator, I need to allow access to a videoconference depending on the meeting/process/assembly, so I'd need to configure it with different levels of access and different embed types.

**Describe the solution you'd like**

I want to be able to configure whether the access to the external service

[2021-03-25 09:47] andreslucena opened #7720 "Online meetings iframe visibility in transparent Assemblies"
Ref: OM17-2 / DECOM-20

**Is your feature request related to a problem? Please describe.**

As an administrator, I expect that videoconferences with iframes are compatible with transparent Assemblies.

**Describe the solution you'd like**

I want that these kinds of meetings in these kinds of assemblies are consistent with my expectations regarding Private and Transparent Assemblies.

**Additional

[2021-03-25 09:51] andreslucena opened #7722 "Online meetings iframe visibility with time"
Ref: OM17-3 / DECOM-19

**Is your feature request related to a problem? Please describe.**

As a visitor, I don't want to join a videoconference before or after has happened.

**Describe the solution you'd like**

I want that the videoconference option is accessible only when the meeting is about to happen (30 minutes before) or when it's on course, but not after has happened.

**Describe alternat

[2021-03-25 09:54] andreslucena opened #7723 "Have polls in Meetings"
Ref: OM10 / DECOM-32

**Is your feature request related to a problem? Please describe.**
As an administrator in a meeting, there are times where I need to ask questions and get answers in an ordered way in a meeting. For instance in a General Assembly.

**Describe the solution you'd like**

I want to have polls integrated into the same Meeting page. These polls will have the following characterist

[2021-03-25 09:55] andreslucena opened #7724 "EPIC: Control visibility and access to online meetings iframe"
Ref: OM17 / DECOM-21

**Is your feature request related to a problem? Please describe.**

As an administrator of a participatory space, I want to be able to define the visibility of an online meeting room (ie the iframe of the external service) within a particular Meeting (i.e. at the resource level).

**Describe the solution you'd like**

As an administrator I want to have these options:

- Video

[2021-03-25 09:57] andreslucena opened #7725 "Add meeting counter with the number of meetings"
Ref: OM21

**Is your feature request related to a problem? Please describe.**

As a visitor, I want to see the number of meetings being displayed.

**Describe the solution you'd like**
To have this counter dynamically change with the results of the meetings that I'm seeing, like in Proposals.

**Describe alternatives you've considered**
As this is something to be done for being consistent with the

[2021-03-25 09:58] andreslucena opened #7726 "Apply permissions system to comments"
Ref: OM23 / DECOM-27

**Is your feature request related to a problem? Please describe.**

As a participatory space administrator, I would like to be able to define who is allowed to leave a comment in a given component.

**Describe the solution you'd like**

To have a Comment action in the components permissions.

**Describe alternatives you've considered**

To have another way of configuring perm

[2021-03-25 09:59] andreslucena opened #7727 "Registration to a meeting from the e-mail"
Ref: OM18 / DECOM-29

**Is your feature request related to a problem? Please describe.**

As a signed-in user when I receive a "New meeting added" mail I don't know that I need to register to attend.

**Describe the solution you'd like**

I would like, when receiving an email with the information of a meeting, to have a button in the email where to click and go straight to the registration form if

[2021-03-25 10:01] andreslucena opened #7728 "Improve on-boarding as implementer"
Ref: OM30 / DECOM-31

**Is your feature request related to a problem? Please describe.**

As an implementer of Decidim is difficult to wrap my head on the first installation of Decidim. I want that this process would be easier.

**Describe the solution you'd like**
To have a CLI and wizard with all the explanations when I don't have any System Organization or Admin.

**Describe alternatives you've

[2021-03-25 10:23] #7616 closed

[2021-03-25 10:23] #7618 closed

[2021-03-25 11:36] agustibr commented on #7107
@carolromero you can check back the [review_app](https://decidim-staging-pr-322.herokuapp.com/admin/votings), now the behaviour is as you suggested.

2. Once in the `Census` section, select a csv file and submit the form.
  ![Screenshot_Admin_census_1_create](https://user-images.githubusercontent.com/210216/112301080-e2546a00-8c99-11eb-845a-705e8f12d3d3.png)

3. Once the file is submited, the admi

[2021-03-25 15:49] entantoencuanto opened #7739 "Migrate content block images to ActiveStorage"
Currently the content block model defines dynamically a class to manage attachments declared in the manifest using uploaders. In this way the class can mount the carrierwave uploaders defined for each image in the manifest. With ActiveStorage migration we have some alternatives:

* To try to define the same class adapting the trick and defining with `has_one_attached` the attachments defined in th

[2021-03-25 16:31] htmlboy commented on #7114
@decidim/product this PR has a design proposal for this issue: https://github.com/decidim/decidim/pull/7740

[2021-03-25 16:31] htmlboy commented on #7118
@decidim/product this PR has a design proposal for this issue: https://github.com/decidim/decidim/pull/7740

[2021-03-26 15:24] htmlboy commented on #6627
@decidim/product Hi, the design proposal for this issue is in this PR: https://github.com/decidim/decidim/pull/7757

While I suggested linking this log at the bottom of the landing page, I had some doubts regarding the reachability of this log, so I put it in the main menu instead. However, if you prefer the previously agreed position of the bottom of the landing page, it's a quick change, so no p

[2021-03-26 15:41] htmlboy commented on #7120
@decidim/product Hi! This issue has a design proposal in https://github.com/decidim/decidim/pull/7758

[2021-03-29 08:51] carolromero commented on #7107
@agustibr I just checked this, thanks for the changes! @andreslucena suggested that a spinner between step 3 and 4 would help to let the admin know that the file is being processed. Do you think we could add it? Thanks!

[2021-03-29 08:58] ahukkanen commented on #6207
@andreslucena @carolromero

I've posted a new discussion regarding this at:
https://github.com/decidim/decidim/discussions/7764

This would provide developers more visibility regarding the accessibility issues. It's not going to detect everything (i.e. guidelines are still needed) but it would help UI developers to follow many accessibility criteria.

[2021-03-29 11:20] carolromero opened #7768 "Server error when sending a newsletter"
**Describe the bug**
When I want to select the recipients of a newsletter, I get a server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin/newsletters and clic on 'New newsletter'
2. Select a newsletter template
3. Fill in the title and body fields and save
4. Clic on 'Select recipients to deliver'
5. See error

**Expected behavior**
I would expect to be able to select the

[2021-03-29 11:37] oriolgual commented on #7768
Closing since this is something specific from decidim barcelona.

[2021-03-29 11:42] oriolgual commented on #7768
Possible related backtraces:

https://sentry.io/share/issue/5f38f741c33b4ac38e18ce3183e85a81/
https://sentry.io/share/issue/e45497faca1644c9a3922b7f49307163/

[2021-03-29 11:55] oriolgual commented on #7768
When a space doesn't have the title in the current locale the `newsletter_helper.rb` crashes at line 105: https://github.com/decidim/decidim/blob/develop/decidim-admin/app/helpers/decidim/admin/newsletters_helper.rb#L105

[2021-03-30 07:04] agustibr commented on #7107
Hi! @carolromero and @andreslucena

I've added a spinner to the view, you can check it [here](https://decidim-staging-pr-326.herokuapp.com/) 😁

<img width="678" alt="Screenshot 2021-03-30 at 08 49 25" src="https://user-images.githubusercontent.com/210216/112947264-dd2e6980-9136-11eb-9b37-5c0c3bf770c9.png">

[2021-03-30 08:52] htmlboy commented on #7127
@decidim/product Here's the design proposal for this issue: https://github.com/decidim/decidim/pull/7769

[2021-03-30 08:52] htmlboy commented on #7129
@decidim/product Here's the design proposal for this issue: https://github.com/decidim/decidim/pull/7769

[2021-03-30 09:51] furilo opened #7770 "Review & Migrate Bulletin Board to Webpacker/ActiveStorage"
https://github.com/decidim/decidim-bulletin-board

[2021-03-30 09:53] eva-sl commented on #7113
hi @decidim/product ,

We are almost done with this, but we need a double-check:

Discussing it with @slickepinne it seems that on the default login in decidim we are using rack-attack. This allows us to block during a period.

So, our idea would be to use it and configure it for 5 attempts in 10 minutes.

The user will get something similar as this:
![image](https://user-images.githubusercontent.

[2021-03-30 09:56] furilo opened #7771 "Review and test migration to ActiveStorage of high-volume sites"
- decidim productiu: 18 GB
- decidim organitzacions: 10 GB
- Meta-decidim 5 GB

[2021-03-30 12:04] orlera commented on #7110
Hi @decidim/product 👋🏽

#7109 and this ticket are ready for review 🔍

They are built on top of [Make the participants original load](https://github.com/decidim/decidim/issues/7107) and add the following steps for the census:
 1. As an admin user, I can generate the access codes for a census when a census is completely loaded (this action will prevent deleting the census from here on);
 2. As an ad

[2021-03-30 12:04] orlera commented on #7109
Hi @decidim/product!

This can be reviewed, please check this comment for more details: https://github.com/decidim/decidim/issues/7110#issuecomment-810164954

[2021-03-31 07:28] eva-sl commented on #7113
Discussed with @decidim/product, and they are OK with this.
So for not blocking the development, let's go ahead with this approach @slickepinne 🚀

[2021-03-31 07:49] ferblape commented on #7770
@andreslucena is it ok to create two separated issues (webpacker and A. Storage) in that repository and reference them in this issue?

They should have visibility about this migration and I'd like to describe the plan there in case somebody has feedback

[2021-03-31 08:17] virgile-dev commented on #7676
The reverse geocoding when changing the position on the map is quite nice.
I'm wondering what would happen if you chose a location inside a park or somewhere with not a precise address (which was one of the things we wanted to address). Will the address remain the same or will it change ?

[2021-03-31 12:37] ahukkanen commented on #7676
@virgile-dev It depends on the configured geocoder what is returned.

It may return one of the following:

- Just a location point instead of a street name, such as "Green Park, City, Country"
- Just a generic location label which it finds, such as "Lauttasaari, Helsinki, Finland" (area of the city)
- Nothing at all when the address field will remain empty but the location point will stick without

[2021-03-31 13:38] ahukkanen commented on #7714
To add to the list of formats, I'd love to have the ability to create buttons (small, normal, large) from the rich text editor by applying a styling option for the links. We have many times needed to add buttons to text pages.

We have made this customization, so we can contribute it back if it is seen as something that would be accepted to the core.

There was also a related discussion recently r

[2021-04-01 11:07] agustibr commented on #6625
@decidim/mantainers I think this issue can be closed, as all the AC's are met. 😃

/cc: @decidim/product

[2021-04-02 05:11] takahashim opened #7780 "private participant CSV file with BOM breaks first email address"
**Describe the bug**
In Participatory space private participant in admin panel, if a private user's CSV file has a BOM(byte order mark), the first email address is broken and email cannot be sent.

**To Reproduce**
Steps to reproduce the behavior:
1. create email and name list with BOM
2. Go 'Participatory space private participant' page with admin user
3. click 'Import via CSV'
4. upload CSV with

[2021-04-03 09:29] #7107 closed

[2021-04-05 06:15] ferblape commented on #7291
@mrcasals in the process of migrating the elections module we need to import some JS assets from https://github.com/decidim/decidim-bulletin-board (i.e [here](https://github.com/decidim/decidim/blob/develop/decidim-elections/app/assets/javascripts/decidim/elections/voter/setup-vote.js.es6#L1-L5))

There's no official _rails way_ to do this, and community is following these approaches:

1. the most

[2021-04-05 09:00] #7780 closed

[2021-04-05 10:47] beagleknight commented on #6521
We made some progress in the verifier and you can check it here https://github.com/decidim/decidim-bulletin-board/pull/153

At the moment we are verifying two things:
- A common verification for the log entries we generated checking the chained hashes between them.
- A specific verification for the `electionguard` schema using a third-party verifier https://github.com/JohnLCaron/electionguard-java

[2021-04-05 15:16] ferblape opened #7793 "Document apps and modules migration to Webpack(er)"
Once the migration to Webpacker is completed in #7291 it'd be great to provide updated documentation in the docs site (specially he stuff related to customization) and a guide to migrate the Decidim modules (see https://decidim.org/modules/)

[2021-04-05 15:17] ferblape opened #7794 "Check webpacker branch in existing Decidim apps"
Just a reminder to test the current branch in existing apps that use a stable version of Decidim

[2021-04-05 19:23] entantoencuanto opened #7796 "Plan migration of existing CarrierWave attachments to ActiveStorage"
The current existing attachments should be moved to ActiveStorage. There are some differences between both systems, one of the most important is the use of variations defined in CarrierWave uploaders for miaga:
* CarrierWave process and uploads a variation file for each one defined in the uploader and ActiveStorage allows us to define variants but they are created and cached when the variant is re

[2021-04-06 12:20] #7109 closed

[2021-04-06 13:09] mrcasals commented on #7291
@beagleknight @leio10 could you check this out, please? I don't know if you have anything prepared 😄

[2021-04-06 14:26] #7110 closed

[2021-04-06 15:39] beagleknight commented on #7291
At the moment we are including the assets inside the gems, but that's just a workaround to use the asset pipeline. Our idea is to publish npm packages for all these assets as you mentioned (1). We are more or less prepared for this:

- https://github.com/decidim/decidim-bulletin-board/tree/develop/bulletin_board/js-client
- https://github.com/decidim/decidim-bulletin-board/tree/develop/voting_sche

[2021-04-07 06:53] agustibr commented on #7128
@decidim/product this feature can be reviewed [here](https://decidim-staging-pr-330.herokuapp.com/polling_officers), currently the admin@example.org user is a polling officer. Thanks 😄

[2021-04-07 07:20] slickepinne commented on #7113
Hello @decidim/product, this is ready to get reviewed on [staging](https://staging.decidim.codegram.com/). I uploaded the census for "A voting with a single election", so you'll see the "How to vote" tab inside `Votings`. 😊

With the following data, the Census will be found:
**DNI, 87654321X, 08002, 15, 02, 1980**

Let me know if anything is unclear. 😊

[2021-04-07 08:36] andreslucena commented on #7113
Great, I've reviewed it with @carolromero

Some minor details:

* The title in the menu bar now is "How to vote?". It should be consistent with the title of the page: "Check your census data"

![image](https://user-images.githubusercontent.com/717367/113835990-c6b68c80-978c-11eb-9832-c9f4c551dcda.png)

* This was discussed in another issue with @leio10, that in the Date of Birth fields it'd be nic

[2021-04-07 09:28] htmlboy commented on #7113
@andreslucena Which should be tab title? "Check your census data" might be a bit long for a tab.

[2021-04-07 09:33] slickepinne commented on #7113
What about **Census Data Check**  or **Check Census Data**? @andreslucena @htmlboy

[2021-04-07 12:37] #7604 closed

[2021-04-07 13:09] ferblape commented on #7291
understood! I'm fixing generators specs and testing this branch with a real app, because I forgot to update the docs/ properly and I need to understand how js and css can be overriden now.

BTW @mrcasals I created a different PR for the migration of CSSs and images, I guess you prefer to check them separately

[2021-04-07 14:13] slickepinne commented on #7113
@andreslucena What do you think of "Can I vote?" for the title and the tab?

<img width="859" alt="can_I_vote" src="https://user-images.githubusercontent.com/19774772/113880507-d7322b80-97bb-11eb-833f-96613b4b55cb.png">

[2021-04-08 00:45] simonv3 opened #7811 "Postgres DB host configuration error leads to tricky first install error on linux computers"
**Describe the bug**
Linux development installation process could be ironed out.

I had a hard time getting the development start-up process [outlined here](https://docs.decidim.org/en/develop/guide_development_app/#develop:index.adoc) running smoothly on my linux machine. Part of this is that I didn't have pg installed, but part of the problem was also that when I ran the rake job it reset the ho

[2021-04-08 10:30] agustibr commented on #7128
Hi! @decidim/product,
I've created a [new review_app](https://decidim-staging-pr-334.herokuapp.com/polling_officers) where this can be tested, In this one the polling station officer (admin@example.org) can add the blank votes count.

Thanks for reviewing 😁

[2021-04-08 11:07] slickepinne commented on #7114
Hi @decidim/product, this can be reviewed [here](https://decidim-staging-pr-335.herokuapp.com/). To test that an email got sent, I'd suggest to upload a census with your email address and ask for the access code by email for this participant. If something is not clear, just let me know. 😊

[2021-04-08 16:11] ferblape commented on #7770
Closing as we are not taking care of this https://github.com/decidim/decidim/issues/7291#issuecomment-814221297

[2021-04-08 16:11] #7770 closed

[2021-04-08 16:12] ferblape commented on #7793
@andreslucena @mrcasals where do you think it's the best place to write a guide to migrate old modules and old apps?

[2021-04-08 16:56] ahukkanen commented on #6201
I believe for the select/search elements this should be fixed mostly by:
https://github.com/decidim/decidim/pull/7742
https://github.com/decidim/decidim/pull/7743

In fact, I think it's more about the labels in the search fields as there were some missing labels, and in those situations the screen reader might announce there's e.g. a "select" (announcing it in English for some reason).

What is st

[2021-04-09 00:42] simonv3 commented on #7310
Has this been fixed on dev? I was looking to pick it up as beginner task but it looks like meetings are showing in order now locally (though not yet on metadecidim.

[2021-04-09 13:16] mrcasals commented on #7291
@ferblape I commented this directly to the PR, but it's easy it gets lost there. I talked to the eVote team and came up with a way to unblock the Webpacker PR, see explanation here: https://github.com/decidim/decidim/pull/7464#issuecomment-816674052

/cc @beagleknight @leio10

[2021-04-09 13:26] mrcasals commented on #7793
I'd say put this in the `docs/` folder, and add a mention in the Changelog to check that page out. In structions on how to work with the `docs/` folder are found in the `docs/README.md` file 😄

[2021-04-09 15:13] marta-platoniq commented on #7310
Yes, it has been fixed, also in metadecidim (today) ;)

Welcome 0.24 🙌

[2021-04-09 15:13] #7310 closed

[2021-04-10 15:46] trendspotter commented on #5447
Sorry for resurrection of an old issue, but it still seems to be relevant. We're hitting the same problem with Initiatives PDF Signature export on Decidim 0.23.5. Relevant lines from the server log:
[code]
Full log attached: [full_debug.log](https://github.com/decidim/decidim/files/6290195/full_debug.log)

Unfortunately as a sysadmin with zero experience with Ruby, I have no idea how to do that an

[2021-04-12 06:55] #6687 closed

[2021-04-12 07:31] eva-sl commented on #7108
As we are facing the upload process this is no longer needed. Check it herehttps://github.com/decidim/decidim/issues/7107

Should we move to the discarted column?
@decidim/product

[2021-04-12 08:49] carolromero opened #7826 "The top edit menu still appears in Initiatives"
**Describe the bug**
Issue #5736 moved the management of initiatives to the frontend, including the option to edit them. But the edit option still appears in the top menu, even though it is no longer accessible.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in and go to Initiatives
2. Fill in the form and create an initiative
3. Go to "See my initiatives"
4. See "Edit" menu option in t

[2021-04-12 10:15] carolromero commented on #7108
@eva-sl yup, closing this.

[2021-04-12 10:15] #7108 closed

[2021-04-12 10:32] carolromero commented on #7128
@agustibr thanks for updating the review app. We're still missing some defined fields in the design mockup: https://github.com/decidim/decidim/pull/7769.
Could you please take a look at it? Thanks!

[2021-04-12 10:35] carolromero commented on #7113
@slickepinne +1 to your suggestion! "Can I vote?" is clear and short. Thanks! cc/ @htmlboy

[2021-04-12 11:03] carolromero commented on #7114
@slickepinne hi! I was checking this, everything was fine so far, but when I try to change the admin email account to receive the instructions for the access codes it won't update it:
![Peek 2021-04-12 13-02](https://user-images.githubusercontent.com/23509895/114384787-79249000-9b8f-11eb-9513-907fa0c29308.gif)

[2021-04-12 13:48] Quentinchampenois opened #7827 "Events email subject doesn't shows diacritics"
**Describe the bug**
When an event is sent by email, if the resource title has diacritics, then characters are escaped.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as user
2. Enable `email_on_notification` option in "My account" section
3. Go to a Process
4. Create a new proposal with diacritics in title, "It's a new proposal" for example
5. With an other account creates a comment

[2021-04-12 14:02] agustibr commented on #7128
Hi! @carolromero, yes you are right the previous step is missing, which is the ballot count (total, valid, blank and null) that is related to #7127 currently WIP in PR #7823 and later on we'll tackle #7129 and #7130.

In [this review_app](https://decidim-staging-pr-334.herokuapp.com/polling_officers) we're asking for the review of the AC's of this issue 😁

[2021-04-13 10:36] carolromero commented on #7114
@slickepinne @orlera @eva-sl thanks for your help in clarifying our doubts! Sending this to technical review.

[2021-04-13 11:59] #7118 closed

[2021-04-14 08:45] ferblape commented on #7299
@andreslucena have you considered meetings created by users? Should they also be created as unpublished by default?

[2021-04-14 10:20] carolromero commented on #7128
@agustibr you're right, with so many issues I have lost count :smile: Acceptance criteria validated!

[2021-04-14 14:12] #7114 closed

[2021-04-15 06:55] #7249 closed

[2021-04-15 06:55] #7288 closed

[2021-04-16 07:19] #6523 closed

[2021-04-16 07:19] #7291 closed

[2021-04-16 07:19] #7305 closed

[2021-04-16 09:52] slickepinne commented on #7120
Hello @decidim/product, this can get reviewed [here](https://decidim-staging-pr-338.herokuapp.com/). I set up the active election with the title **Ut fugiat.** in the highlighted `voting` space. When you login with an admin, you can go to an upcoming election and do the whole process. It won't show you the onboarding modal. Same when you're logged in with a user from the census.

When you are not

[2021-04-16 10:45] microstudi commented on #7714
I would love to see this @ahukkanen maybe even put in my Awesome plugin also. Can you show where do you have it? thanks!

[2021-04-16 12:25] mrcasals opened #7847 "Webpack issues"
After merging #7464, some issues appeared in the development app. When I run `bin/rake development_app` I see everything getting generated. Running `bin/rails s` to start the development app doesn't give any error, but when I actually visit the site:

![image](https://user-images.githubusercontent.com/491891/115023799-8c04d080-9ebf-11eb-8ddc-c924b239f513.png)

@ferblape any idea what might be happ

[2021-04-16 12:29] mrcasals commented on #7847
Here's what the `public/` folder looks like for me:

![image](https://user-images.githubusercontent.com/491891/115024234-1816f800-9ec0-11eb-8db2-f903e1608a98.png)

[2021-04-16 12:45] ferblape commented on #7847
Hey @mrcasals I've just created a new dev app from the development branch and (without starting the webpack-dev-server) it compiled the assets succesfully, not showing any error when loading the homepage:

[code]

Did you created the app from develop branch when it was updated with the webpacker PR merged?
You could also try to run `bin/webpack-dev-server` from decidims root path and see what happ

[2021-04-16 12:55] mrcasals commented on #7847
Hi @ferblape! I assumed `bin/rails s` would also run the Webpack server, but it looks like I need to manually run `bin/webpack-dev-server`. There might bw a way to run them both in a single command, but I'm not sure about how.

I'm currently recteating the whole development app to see if I can get it working, but @orlera was able to run it!

[2021-04-16 13:03] ferblape commented on #7847
You shouldn't need to run webpack-dev-server, because Webpacker detects if it's running to compile the assets or compile them in the background (and then logs it in the Rails development.log which is what I pasted in my previous comment).

Anyway, it's recommended to run it because it's faster that the instance that uses Webpacker in the background.

I'm still curious why it doesn't worked to you

[2021-04-16 13:18] mrcasals commented on #7847
Oh, it's working fine now, thanks!

Closing this!

[2021-04-16 13:18] #7847 closed

[2021-04-17 12:04] roxanaopr opened #7851 "Raw text formatting on meeting body"
**Describe the bug**

When I fill an event description field, I can skip lines, but on the event page, the whole description is in one block. This only happens for meeting form. For proposal form, after each paragraph, a new line is added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Meetings" page
2. Click on 'New meeting"
3. Add some text in "Description field" (make sure that  y

[2021-04-19 14:49] furilo commented on #7297
@decidim/product any special reason why this should be on the sidebar? I feel this kind of content should go in the main column. And if so, should we just reuse the "List of endorsements" element?

![image](https://user-images.githubusercontent.com/24740/115255920-0d15cf00-a12f-11eb-8872-e38c98d3a330.png)

(I'm doing an effort on reusing existing components)

[2021-04-19 15:37] furilo commented on #7723
Hi @decidim/product some questions:

What do you mean with this exactly? That if an admin adds/activates a question while the user has the page open, the page should update without the user doing nothing? If this is what is desired, we see some technical challenges here, as a new tech piece (sockets?) will have to be introduced. Have you given any thought to this, do you have any specific path we

[2021-04-19 15:46] furilo commented on #7716
@decidim/product what are the requirements in terms of which nav elements should remain? Should we just give all available space to the iframe, and only a small "Back to Decidim" or similar, or should we maintain all context (main header, process header, meeting info) and just provide a full width wrapper for the iframe?

[2021-04-19 15:47] furilo commented on #7292
@decidim/product so just ->

![image](https://user-images.githubusercontent.com/24740/115265161-405c5c00-a137-11eb-8eb8-3127948171e4.png)

?

[2021-04-19 16:41] carolromero commented on #7120
Hi @slickepinne, this works good! Sending to technical review.

[2021-04-19 17:07] furilo commented on #7617
@decidim/product please find a proposal here: https://www.figma.com/proto/RhT7UvMMo287SX4E1CD0Cc/2104-Decidim-Meetings?page-id=0%3A1&node-id=4%3A0&viewport=688%2C2511%2C0.5&scaling=min-zoom

- It's 100% focused on usability, at the expense of maintaining current aesthetics. I can't come up with a solution that uses an existing component but provides the usability that a simple list provides (every

[2021-04-20 08:01] agustibr commented on #7127
Hi @decidim/product this is ready to review in this [app](https://decidim-staging-pr-339.herokuapp.com/polling_officers/).
Both users _admin@example_ and _user@example_ are assigned as polling officers.
Be aware that currently `total people = 0` and when #7126 is done people will be counted.

Thanks!

[2021-04-20 08:23] orlera opened #7863 "Dropdown user menu not working in development unless `webpack-dev-server` is running."
**Describe the bug**
In development, when only the Rails server is running, the dropdown user menu does not work and the server complains that a bundle is missing:
[code]
When running `bin/webpack-dev-server` on another terminal instance, everything works fine.

**To Reproduce**

https://user-images.githubusercontent.com/5033945/115362623-04220d80-a1c2-11eb-9077-c15268ba6fcb.mov

**Expected behavi

[2021-04-20 08:29] mrcasals commented on #7863
@ferblape could you check this out, please? 😄

[2021-04-20 08:31] mrcasals commented on #7863
In https://github.com/decidim/decidim/issues/7847#issuecomment-821159085 you mentioned that we shouldn't need to manually run the server, even though it was recommended because it was faster.

Maybe we _must_ run the Webpack server manually?

[2021-04-20 10:08] carolromero commented on #7298
@furilo the url returns the message "Prototype not found". Logging in doesn't work either.

[2021-04-20 10:20] carolromero commented on #7297
@furilo we agree, let's reuse this element, since we already have the Attending organizations section in meetings:

![imatge](https://user-images.githubusercontent.com/23509895/115380237-ac3fd280-a1d2-11eb-89a4-5f27fb2f5bf6.png)

[2021-04-20 10:39] carolromero commented on #7292
@furilo that's correct, this is an easy one :)

[2021-04-20 10:54] ferblape commented on #7299
@decidim/product have you considered meetings created by users? Should they also be created as unpublished by default?

[2021-04-20 10:59] carolromero commented on #7299
@ferblape yes, but for now this feature should be available only for admins. Thanks

[2021-04-20 11:04] furilo commented on #7298
Sorry, you can try again.

[2021-04-20 11:14] carolromero commented on #7299
Yes, that's the idea

[2021-04-20 11:18] carolromero commented on #7298
@furilo this is a good solution!
![imatge](https://user-images.githubusercontent.com/23509895/115387252-b36ade80-a1da-11eb-80b0-af6521e0129f.png)

Better to use a modal that is displayed on click and not change the alignment.

[2021-04-20 11:23] andreslucena commented on #7617
Hi @furilo
We like your proposal. Just take into account that the problem is not initially in the [assemblies general list](https://www.decidim.barcelona/assemblies), we're talking about the navigation in a singular assembly, for instance in [Organs de Ciutat](https://www.decidim.barcelona/assemblies/organs-ciutat). I think the same solution that you're proposing would be viable there.

[2021-04-20 14:26] #7120 closed

[2021-04-21 03:47] ferblape commented on #7863
Hi @orlera, thanks for your report but I'm not able to reproduce it 😞  This is what I've done:

1 - fetch develop and create a new clean development_app
2 - start it with `bin/rails s`
3 - once started I request the homepage http://localhost:3000/
4 - in the development.log I inmediately see the message Compiling... by webpacker. This is the whole log:

[code]

Could you please check in your devel

[2021-04-21 07:54] orlera commented on #7863
Hi @ferblape!
Many thanks for taking the time to try it out and giving a detailed answer :)
I re-created the dev app a couple of times yesterday before filing this issue but it still wasn't working.

Today...everything works! 😅  I'm not exactly sure why, because I didn't really change anything that could be related to webpack...possibly the safe old rebooting the machine fixed it?

Anyways, I'll k

[2021-04-21 07:54] #7863 closed

[2021-04-21 08:32] andreslucena commented on #7723
Yes, that's the idea. We've discussed with @carolromero if this could be done as usual with Decidim (with a full page refresh) but in this particular use case it doesn't make much sense: making a page refresh would mean that everyone that's in the online meeting iframe would lose its connection.

As an alternative we could have a popup window with a "focus mode" layout, meaning that you'd only see

[2021-04-21 08:36] carolromero commented on #7716
@furilo we were thinking about something like this, a solution that does not require refreshing the page and that the participant does not lose context of where he/she is (that's why we keep the header).

Note: I am aware that overlapping icons in an iframe is not what we want, but this example is for you to see the width of the iframe.

![imatge](https://user-images.githubusercontent.com/23509895

[2021-04-21 12:36] mrcasals commented on #7723
To be honest, I haven't tried ActionCable yet, so I'm not sure what implies. I'm checking the documentation and it looks like we could have it using PostgreSQL, but I'm not sure how fit for production it is...

[2021-04-21 12:55] ferblape commented on #7723
Comments already have a polling implemented to automatically refresh if there are new comments (it uses the Graphql API to check this), and it's implemented in plain javascript. Maybe we could do the same here and use javascript to check in the API if there are changes in the current poll to notice the user and reload

[2021-04-21 13:09] mrcasals commented on #7723
I'd say this is the simplest approach by now, yes

[2021-04-21 13:44] furilo commented on #7298
OK, thanks.

[2021-04-21 13:44] furilo commented on #7617
OK, I will adapt also for this context and get back to you.

[2021-04-21 15:07] htmlboy commented on #7117
@decidim/product Hi, this is the proposal for the results - stats page:

![Screenshot 2021-04-21 at 16 32 35](https://user-images.githubusercontent.com/468685/115576103-7890a580-a2c3-11eb-9747-6d1ab96f0d49.png)

Please let me know what you think.

Since there's a problem with the current `develop` branch and the design app, this proposal has been developed from a draft branch that fixes this probl

[2021-04-22 07:07] carolromero commented on #7117
Great work @htmlboy!

[2021-04-23 05:07] ferblape commented on #7796
Hi @mrcasals,

Once all the code has been migrated from CarrierWave uploaders to Active Storage, we are planning the migration task itself. The plan we envision has three parts:

### Migrate content and validate migrated content

In order to migrate attachments to ActiveStorage (AS) a first step is to recover all the removed CarrierWave (CW) uploaders (yes, I know) in order to get the current atta

[2021-04-23 07:44] furilo commented on #7617
@decidim/product this would be the example for a singular assembly: https://www.figma.com/proto/RhT7UvMMo287SX4E1CD0Cc/2104-Decidim-Meetings?page-id=0%3A1&node-id=32%3A654&viewport=688%2C2511%2C0.5&scaling=min-zoom

When we are in this context, maybe it makes sense to add a link to "See all organs". I've included two examples in the first two sections, with different options. Please confirm if we

[2021-04-23 13:26] furilo commented on #7716
After consulting briefly with @carolromero this morning, this is a first rough proposal of what could be done, combining the polls in a meeting (#7723) and the iframe of the videoconf.

Here is a video explaining the proposal: https://www.loom.com/share/a583997385c243a69ce75f73512bcc2b

Here are the prototype URLs

1. Call To Action in Meeting Page to "enter" into a meeting
https://www.figma.com/p

[2021-04-23 14:47] tramuntanal opened #7885 "Development_app crashes after migrating to webpacker"
**Describe the bug**
I've created a `development_app` from `develop` and when first accessing `http://localhost:3000` I get the following crash:
[code]

I've also found that the generator now asks confirmation to overwrite some files even when I already removed the development_app dir

[code]
I've tried to answer yes to all, and not to all, but the result is always a crashing `development_app`.

*

[2021-04-25 13:09] bhack commented on #7124
What about EIDAS https://meta.decidim.org/processes/roadmap/f/122/proposals/15706?filter%5Bcategory_id%5D%5B%5D=181 ?

[2021-04-26 04:25] ferblape commented on #7885
See https://github.com/decidim/decidim/issues/7863 I think it's probably the same issue

Could you retry again but removing completely the development_app before?

[2021-04-26 07:46] diputaciodegirona commented on #7518
Proposals exporting uses class `Proposals.ProposalSerializer`, which has a `serialize` method, where the expected output format is described.
In this method, translatable fields appear only once, and without any i18n decorations, as, for example:
`def serialize
        {
          id: proposal.id,
          category: {
            id: proposal.category.try(:id),
            name: proposal.category

[2021-04-26 09:59] microstudi commented on #7202
duplicated of #6693 ?

[2021-04-26 10:08] entantoencuanto commented on #7796
Hi, @mrcasals, there are 3 situations where where I think the migration of files doesn't make much sense, because the data stored in their files comes from the application and is temporary (in fact there are tasks to remove them periodically):

* `Decidim::DataPortabilityUploader`: The data is updated every time the user requests it
* `Decidim::OpenDataUploader`: The application schedules the gene

[2021-04-26 10:55] carolromero commented on #7716
@furilo I think we have something good here! :smile:

[2021-04-26 13:04] mrcasals commented on #7202
Indeed, @microstudi !

[2021-04-26 13:04] mrcasals commented on #6693
Closing in favor of #7202

[2021-04-26 13:04] #6693 closed

[2021-04-26 13:06] mrcasals commented on #7518
I think this is closed by #7825 (backported to 0.24 by #7860, not yet released).

[2021-04-26 13:24] mrcasals commented on #7796
Hi, @ferblape @entantoencuanto!

Can't we adapt the AS uploaders to use the current URL format? This would help us avoid having Carrierwave as a temporary gem. Otherwise, things get complicated:

- We'd need a first release adding ActiveStorage and migrating the stuff (let's say it's Decidim v0.26.0)
- In the next release (in the example, v0.27.0) we'd drop Carrierwave.

Can't we override the meth

[2021-04-26 13:49] mrcasals commented on #7518
@andreslucena could you try it again in Metadecidim? I've updated the installation with #7860.

[2021-04-26 14:05] marta-platoniq opened #7888 "Server error on global moderations after deleting a debate with reported inappropriate comments"
**Describe the bug**
When deleting a debate, comments reported with inappropriate content are not deleted from global moderations and it gives a server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a debate
2. Comment on it
3. Report the comment as inappropriate
4. Delete the debate
5. Go to admin > Global moderations > 💥 "Server error"

**Expected behavior**
If I delete a de

[2021-04-26 14:41] carolromero opened #7889 "Each comment in a meeting generates a new version of the meeting"
**Describe the bug**
Adding a comment to a meeting generates a new version of the meeting. This is not correct, a new version should only be generated when the meeting is updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://try.decidim.org/processes/sint-a/f/4'
2. Click on a meeting and check how many versions it has
3. Add a comment and refresh the page
4. See error (a ne

[2021-04-26 15:12] entantoencuanto commented on #7796
Just today it seems that there has been updates in this issue: https://github.com/rails/rails/issues/38161#issuecomment-826391646 . We can override the blob key generation, but this means losing the benefits that blob functionality provides https://edgeguides.rubyonrails.org/active_storage_overview.html#public-access. I can test this possibility

Variants calculation are performed the first time i

[2021-04-26 18:39] aitorlb commented on #7885
Here's how I got myself unstuck:

First I tried to run a newly generated development app.
[code]

Then I tried to install Webpacker to see if it fixed the problem but I was using the wrong Node.js version (which is probably the reason why Webpacker failed to compile in the first place).
[code]
So I changed to use the proper Node.js version and tried again.
[code]
After this, the development app wo

[2021-04-27 08:38] ferblape commented on #7293
Just for the record, I'd hold this to be done after AS migration to prevent code conflicts.

[2021-04-27 08:39] ferblape commented on #7725
I'd hold this to be done after Webpacker migration to prevent code conflicts.

[2021-04-27 08:59] ferblape commented on #7296
@decidim/product in the screenshot of the email it says "You will find the meeting details in the attachments". What kind of details are attached?

[2021-04-27 09:03] carolromero commented on #7296
@ferblape hi! It refers to the attached .ics file to be saved in the calendar.

[2021-04-27 11:36] furilo opened #7894 "Polls in meetings/iframe design"
Ref: OM10b / DECOM-38

Design for #7723 #7716

- [x] Front end design
- [x] Front end code @Crashillo -> https://github.com/decidim/decidim/issues/7894#issuecomment-828472736
- [ ] Admin design @furilo

[2021-04-27 12:18] mrcasals commented on #7796
I don't really know how ActiveStorage works, so I'm a bit lost, but go ahead, please. Just remember not to remove carrierwave if we need it during the migration, we'll need to wait until the following version to remove it.

[2021-04-27 12:22] furilo opened #7895 "Polls in meetings: Research tech"
Ref: OM10a / DECOM-37

Part of #7723

Research ActionCable / Hotwired-Turbo. Do some initial test and outline a work plan to implement the design we are finishing in #7894

[2021-04-27 12:25] mrcasals commented on #7889
A few PRs ago we added `comments_count` to meetings and some other resources. This column keeps a count of the comments it has, so we avoid a trip to the DB to fetch that number.

When a comment is created on a meeting, the `comments_count` column is automatically updated by Rails and triggers the new version.

We should investigate if there's a way to disable PaperTrail in these cases.

[2021-04-27 12:29] mrcasals commented on #7889
Looks like we can define a list of attributes to ignore or to skip:

- https://github.com/paper-trail-gem/paper_trail#ignore
- https://github.com/paper-trail-gem/paper_trail#skip

Note that they buhave differently. At a first glance, `skip` seems to be the one we want for this bug.

[2021-04-27 12:57] mrcasals opened #7896 "Admin editor breaks with some specific contents"
**Describe the bug**

In Metadecidim there's a meeting with this HTML content:

[code]

Whenever we load the edit form for it, we get a JavaScript error caused by the editor:

![image](https://user-images.githubusercontent.com/491891/116242041-d27ee880-a765-11eb-9cb1-6eb164655989.png)

This JS error makes the editor stop parsing the content back to HTML, so if we edit the meeting description and s

[2021-04-27 13:30] mrcasals commented on #7896
After tinkering with this, it looks like this is solved with this:

1. At the end, remove those extra `<p><br></p>` sections:

[code]
should become:
[code]

2. I converted the part that talks about "Documentation" to a proper list.

With this, the editor works again.

[2021-04-27 13:31] mrcasals commented on #7896
@ahukkanen @lahdeero I'm pinging you since you've modified the editor recently. Any idea what might be happening? I managed to reproduce this in current `develop` too.

[2021-04-27 13:40] paulinebessoles opened #7898 "Moderated proposals are displayed in comparator"
**Describe the bug**
A clear and concise description of what the bug is.
As a user, when creating a proposal, I can see moderated proposals in the comparator wizard step.
When clicking on the proposal, I'm redirected on a 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create, then moderate a proposal on https://try.decidim.org/processes/sint-a/f/49/
2. Create another proposal with

[2021-04-27 18:27] lahdeero commented on #7896
Seems like that the problem is that there is <br> tags inside <a> tag. I try to figure out how to fix it

[2021-04-28 11:23] andreslucena opened #7904 "Enable and disable comments in Debates"
Ref: OM32 / DECOM-41

**Is your feature request related to a problem? Please describe.**
As an administrator sometimes I need to configure a debate with comments but only for a couple of days or some other arbitrary time constrain.

**Describe the solution you'd like**
I want to have a checkbox inside of a given Debate that allows me to control if I want to have comments enabled: "Comments enabled

[2021-04-28 11:23] andreslucena opened #7905 "Review titles in Admin panel"
**Is your feature request related to a problem? Please describe.**

As an administrator sometimes is really difficult to follow my navigation history or tabs opened in my browser as most of the pages in the admin panel don't have titles in HTML.

**Describe the solution you'd like**

We need to implement HTML titles

**Describe alternatives you've considered**

There aren't alternatives to HTML ti

[2021-04-28 11:26] andreslucena opened #7906 "Add emojis support"
Ref: OM36 / DECOM-45

**Is your feature request related to a problem? Please describe.**

As a participant, I want to have richer experiences inside of the comments of Decidim.

**Describe the solution you'd like**

As this could be problematic this setting could be disabled by the administrators of an instance in the admin panel (Configuration page).

By default, this would be active.

![image](h

[2021-04-28 11:27] andreslucena opened #7907 "Search user groups"
Ref: OM38 / DECOM-43

**Is your feature request related to a problem? Please describe.**

As a visitor when I search for a User Group in the general search (/search) I want to find them.

**Describe the solution you'd like**

To have search results from UserGroups in the global search. I want to have a section and also the filter in the sidebar.

**Describe alternatives you've considered**

N/A

*

[2021-04-28 11:29] andreslucena opened #7908 "Delete my comment"
Ref: OM35 / DECOM-42

**Is your feature request related to a problem? Please describe.**

As a participant sometimes I make a mistake when making a comment: I make a comment in the context that shouldn't, for instance in "Proposal 1" when I wanted to make it in "Proposal 2".

**Describe the solution you'd like**

To be able to delete my comment. In these cases we should show that this comment was

[2021-04-28 11:30] andreslucena opened #7909 "Edit my comment"
Ref: OM39 / DECOM-39

**Is your feature request related to a problem? Please describe.**

As a participant sometimes I make mistakes in my comments.

**Describe the solution you'd like**

I want to be able to edit them as we already have in other components (for instance Proposals). An edited comment should have a message that was edited.

**Mockup proposal comment author view**

![image](https://

[2021-04-28 12:19] mrcasals commented on #7896
@lahdeero merged, I'm currently backporting this to 0.24! Thank you so much!!

[2021-04-28 13:51] furilo commented on #7894
@decidim/product please take a look. This follows https://github.com/decidim/decidim/issues/7716#issuecomment-825657542

Video explaining details: https://www.loom.com/share/299b41a26d2c4430abee6d6b2f2ba017

Here are the prototype URLs

1. Call To Action in Meeting Page to "enter" into a meeting
https://www.figma.com/proto/RhT7UvMMo287SX4E1CD0Cc/2104-Decidim-Meetings?page-id=39%3A87&node-id=39%3A1

[2021-04-28 14:26] furilo commented on #7617
@decidim/product after yesterday's conversation I have been trying to think on options, but don't have any conclusion (well, these are some conclusions, but negative ones):

1. I don't think we should introduce an alternate card to show an organ in a more compact form. This only fixes the problem in some contexts, but leaves us with the same problem in many other. Conclusion: we produce an additio

[2021-04-29 06:24] tramuntanal commented on #7885
I'm on
[code]

and Webpacker successfully installs, but still get the `Webpacker can't find decidim_dev.js` error (even having removed the whole `development_app` dir).
I'll upgrade nodejs and see if it works.

[2021-04-29 06:51] tramuntanal commented on #7885
Still with the same problem. Now with `nodejs v16.0.0`.
I've removed the whole development_app dir and `bin/rake development_app`. I'm still asked to overrides during app generation:
![image](https://user-images.githubusercontent.com/199462/116512123-d4f95380-a8c7-11eb-87b3-5ef41b253340.png)
but generation succeeds.

Then, on the first request I get the error:
[code]

[2021-04-29 06:59] tramuntanal commented on #7885
I finally got the issue solved!

[code]
I installed the exact nodejs version 14.16.0, retried the `yarn install`, then `bin/rails s` with the previously failing "`development_app`" and everything worked. :smile:

[2021-04-29 10:26] beagleknight opened #7916 "Production applications don't work with webpacker"
**Description**

After merging #7464 we started using two different pipelines to manage assets: sprockets (the old way) and webpacker (the new way).

This upgrade was very necessary, but it also made impossible upgrading a production application. For example, at the moment you cannot create a review app to test a specific feature.

After some work I succeed, and I have this application working: ht

[2021-04-29 12:26] mrcasals commented on #7889
Maybe it's not due to this, we need to explore it. HEre's a meeting with >140 versions due to comments:

https://meta.decidim.org/assemblies/eix-comunitat/f/149/meetings/1576

[2021-04-29 12:34] mrcasals commented on #7916
@beagleknight I've merged #7915, can we close this issue now? 😄

[2021-04-29 13:08] beagleknight commented on #7916
@mrcasals Yeah! Go ahead 😄

[2021-04-29 13:33] #7916 closed

[2021-04-29 13:35] carolromero commented on #7894
@furilo outstanding work! :clap: :clap:
I think everything you propose makes a lot of sense. The only question that comes to mind is how do we save the questions and their results for future review after the meeting is over.

[2021-04-29 13:38] furilo commented on #7894
Thanks @carolromero 😊

Results would appear in the admin as they do now for polls, with the same patterns. I'll work on proposing the UI for this in the admin early next week.

Meanwhile, do we have the OK for this front-end part so we can start with the HTML?

[2021-04-29 14:24] carolromero commented on #7894
@furilo yes, go ahead! Thanks!

[2021-04-29 16:00] entantoencuanto commented on #7292
As far as I know the endorsements functionality is not available for meetings so we can't display an endorsements count in meetings

[2021-04-29 16:21] furilo commented on #7292
Yes, it was just an example of removing the data, ignore the rest.

[2021-04-30 06:03] mrcasals commented on #7253
Here's a tutorial on how to integrate Storybook with Rails and ViewComponent https://orbit.love/blog/building-a-component-library-in-rails-with-storybook

[2021-04-30 08:10] #7292 closed

[2021-04-30 08:50] furilo opened #7924 "Polls in meetings: Front-end"
Create HTML/JS for #7894

Pending #7895 to see how we'll be using JS

[2021-04-30 09:58] entantoencuanto commented on #7796
Hi, @mrcasals,  I've made some tests of migration and put the results in the PR (https://github.com/decidim/decidim/pull/7902#issuecomment-829983144). It would be nice to test the task in a more realistic environment

[2021-04-30 10:44] tramuntanal commented on #7885
I was using `nvm` and it did not "understand" the `.node-version` file afaik

[2021-04-30 10:57] mrcasals commented on #7885
Ah, it looks like `nvm` doesn't like the `.node-version` convention for some reason https://github.com/nvm-sh/nvm/issues/794 There's even a PR for this, but it's been open for 5 years...

[2021-04-30 11:04] tramuntanal commented on #7885
Yes, I better migrate to `asdf`, and I really like the name :100:

[2021-04-30 12:26] josanFFiG commented on #7617
Certainly @furilo the long term idea is to implement the development done for process groups to the assemblies, thus having groups of assemblies.
However, this implementation would solve the problem of the first level, but not the second level of nesting.
Analysing the [example you give](https://www.decidim.barcelona/assemblies/consellsostenibilitat), we must take into account that this particular

[2021-04-30 12:41] mrcasals commented on #7796
@entantoencuanto I need some more context, I think 8h30min is way too much for a migration (even though Decidim.Barcelona has "only" ~9k attachments instead of 13k and is the one with the most attachments that I'm aware of).

Why does it take so long? Is it downloading the attachments and reuploading&processing them again?

Lastly, and I know this might be hard: independently of the amount of work

[2021-04-30 13:25] mrcasals commented on #7796
Also @entantoencuanto as a possible way to speed things up, what do you think about splitting the process into Sidekiq jobs? This way we could parallelize the migration, thus speeding things up!

[2021-04-30 14:30] entantoencuanto commented on #7796
You are right, I'm going to try jobs for this

[2021-05-03 10:39] ferblape commented on #7895
After reviewing the new designs and studying a bit ActionCable and Turbo/Hotwire my preference would be to go a step further than a simple javascript polling and integrate a solution with ActionCable.

The main reason is because the implementation will be a bit more complex that just rendering polls and questions inside the meeting page, but also having an admin UI (see [video](https://github.com/

[2021-05-04 06:34] furilo commented on #7895
@mrcasals @decidim/product please chime in on the technical plan outlined by @ferblape. This is what's going to be built: https://github.com/decidim/decidim/issues/7894#issuecomment-828472736

[2021-05-04 08:29] josanFFiG commented on #7617
@furilo  Beyond implementation of the group of participatory spaces can be done in the future, **the conclusion is that** regardless of this **we need a navigation solution / improvement of usability in the navigation of nested spaces** because the group does not solve the core of the issue.

[2021-05-04 10:28] mrcasals commented on #7895
As I said in https://github.com/decidim/decidim/issues/7723#issuecomment-824025947, I haven't used ActionCable yet, so I'm not so sure about how it performs on production. I'm a little worried this might cause a big load of the DB and this might reduce the performance of the servers.

How does ACtionCable with PostgreSQL work? I hope it doesn't keep a DB connection *per client* because this would

[2021-05-04 10:32] mrcasals commented on #7299
As an admin, do I get any warning that meetings need to be manually published? Since this is a change of default behavior, some admins might miss that and leave meetings unpublished.

/cc @decidim/product

[2021-05-04 14:24] furilo commented on #7617
navigation of nested spaces*

Regarding this, if usability is the goal, I keep my initial proposal. I
think any other scheme that makes use of some kind of cards won't meet the
usability requirement.

[2021-05-04 16:55] alecslupu commented on #7885
I have some issues as well in a containerized application:
[code]

[code]

The commit hash i am running is 01b613053487 from https://github.com/tremend-cofe/decidim

[2021-05-04 21:26] entantoencuanto commented on #7297
@decidim/product There is a case not considered by this issue. When a user registers in a meeting as an organization her attendance appears as organization in the attending organizations section. I've allowed a user to check "Show my attendance publicly" registering in the meeting also when doing it as organization, but may this option could be disabled in that case since it has no effect because

[2021-05-05 05:23] ferblape commented on #7727
@mrcasals I need your advice here.

I'd like to use the existing event notification to add the Register button, but the [email template](https://github.com/decidim/decidim/blob/develop/decidim-core/app/views/decidim/notification_mailer/event_received.html.erb) is homogeneous for all events

I could try:

1. to redefine that template in meetings module (using prepend_view_path in the mailer class b

[2021-05-05 06:23] ferblape commented on #7895
Confirmed that ActionCable with Postgres uses the AR connection pool, so I think we can discard this solution.

Just for curiosity I've read that it's not very cheap either with Redis, because the number of connections will be high and Redis addons (such as Redis to go) also charges you for number of connections.

[2021-05-05 06:24] ferblape commented on #7723
As shared [here](https://github.com/decidim/decidim/issues/7895#issuecomment-832442982) I think we should get back to a simple polling. We can do a SSR approach and get the sidebar from the server in an Ajax request.

We think that because the number of elements won't be that big it should got fast enough for users, and with some Javascript tweaks we can have a nice user experience.

[2021-05-05 06:30] ferblape commented on #7894
@mrcasals could you take a look to the mockups and the video? (sorry for requiring so much from you these days 😅 ) As you'll see there will be questions displayed to users during the meeting.

These questions will be of type: single choice, multiple choice and plain text (maybe others in the future), but they won't be all the options available in the forms module.

We are considering inheriting fr

[2021-05-05 07:02] ferblape commented on #7296
@decidim/product I think this is already implemented. In a new development_app created from develop branch as a user, when I register into a meeting, I see these in my notifications:

![Screenshot from 2021-05-05 08-44-44](https://user-images.githubusercontent.com/17616/117106517-49c50580-ad80-11eb-8044-550970a01f6e.png)

[2021-05-05 07:47] carolromero commented on #7297
@entantoencuanto hi, where can we check this? Thanks.

[2021-05-05 07:48] carolromero commented on #7296
@ferblape you're right. We''ll close this issue then. Thanks!

[2021-05-05 07:48] #7296 closed

[2021-05-05 09:11] entantoencuanto commented on #7285
I've seen that currently there is a model for minutes with a has_one association in meetings. I would move the video and audio columns to the meetings table, replace the closing_report meetings column with minutes description (in the migration i would join both contents if present in the same field, first the minutes content and then the closing_report) and remove the Decidim::Meetings::Minutes mo

[2021-05-05 11:19] andreslucena commented on #7285
Sounds good to me.

As we're changing implementers' data we should also explain this change in the releases notes (you can do so in the `CHANGELOG.md` file)

[2021-05-05 12:15] #7793 closed

[2021-05-05 12:15] #7794 closed

[2021-05-05 12:18] mrcasals commented on #7885
@ferblape could you check this, please? 😄

[2021-05-05 12:24] mrcasals commented on #7727
@ferblape I'd modify the email template and check if the event has a button:

[code]

This way by default no email event would have a button, except those that implement the `button_text` and `button_url` methods.

That, or create a new type of event that is `EmailWithCallToAction` and implement somthing similar to what's above.

[2021-05-05 12:26] mrcasals commented on #7895
It would be nice if we could use https://anycable.io/ as a websocket server, but sincerely I don't want to add new dependencies and server infrastructure to Decidim...

I guess we're back to the polling strategy?

[2021-05-05 12:30] mrcasals commented on #7894
Inheriting and limiting the types sounds good to me.

I don't understand this question, aren't you reusing the Forms questionnaires? I'd say create a new questionnaire, fill the questions and link it to the meeting

[2021-05-05 12:33] mrcasals commented on #7285
I'm not so sure about this part, maybe @decidim/product wanted these separated for some reason?

The rest sounds good to me!

[2021-05-05 13:39] ahukkanen opened #7937 "Fragment caches do not take the current locale into account"
**Describe the bug**
Fragment caching has been added in multiple views, for instance in the sign up view:
https://github.com/decidim/decidim/blob/a32353964c1520f2b7a08ad032f537fc43c4c209/decidim-core/app/views/decidim/devise/registrations/new.html.erb#L22-L24

None of these blocks that are caching against the current organization consider the current locale causing the fragment to be cached in the

[2021-05-05 13:52] alecslupu commented on #7885
@ferblape , @mrcasals After the latest commits no more issues encountered.

[2021-05-05 14:37] mrcasals opened #7940 "Broken Generators suite after #7733"
@ferblape after merging #7733 the tests for the Generators module started failing:

https://github.com/decidim/decidim/runs/2509379884?check_suite_focus=true

[code]

It seems it's trying to look for rhe `sqlite` gem when installing webpacker to the generated application, but this fails.

Could you check it out, please?

[2021-05-05 16:18] ferblape commented on #7895
Yes

[2021-05-05 22:17] armandfardeau commented on #7885
I had the same trouble but after upgrading npm and yarn, it works.

[2021-05-06 03:54] alecslupu opened #7945 "Security Vulnerability on Rails"
There is a new Rails version that is covering several Rails issues..

CVE-2021-22904 - There is a possible DoS vulnerability in the Token Authentication logic in Action Controller.
CVE-2021-22885 - There is a possible information disclosure / unintended method execution vulnerability in Action Pack.
CVE-2021-22902 - There is a possible Denial of Service vulnerability in the Mime type parser of Act

[2021-05-06 05:10] ferblape commented on #7299
@decidim/product it can be tested in https://decidim-revi-review-app-0lsrhw.herokuapp.com/ with the usual seed credentials

[2021-05-06 06:37] #7940 closed

[2021-05-06 08:03] lahdeero opened #7948 "development_app raketask crashes"
**Describe the bug**
When trying to create development_app, raketask is aborted.

**To Reproduce**
Steps to reproduce the behavior:
1. bundle exec rake development_app

**Expected behavior**
Create working development app

**Stacktrace**
[code]

**Extra data (please complete the following information):**
 - Device: Desktop
 - Device OS: Ubuntu
 - Decidim Version: develop
 - Decidim installation: d

[2021-05-06 08:21] furilo commented on #7297
@decidim/product we've just set up the staging system. We'll include links from now on.

For this issue: https://decidim-revi-review-app-dgyrmr.herokuapp.com/votings/omnis-sequi/f/82/meetings/72?locale=es

[2021-05-06 09:32] entantoencuanto commented on #7298
Hi, @decidim/product, the associated PR can be reviewed at https://decidim-revi-review-app-ztcna7.herokuapp.com/processes/dolorem-odit/f/12/meetings/12

[2021-05-06 10:06] armandfardeau commented on #7948
Hello
Try to use node v15.14.0 and upgrade yarn to the latest version.

[2021-05-06 10:22] lahdeero commented on #7948
Still not working :worried:

[2021-05-06 10:24] armandfardeau commented on #7948
Maybe related to : https://github.com/decidim/decidim/issues/7885

Could you give me your npm, ruby, and yarn version?

[2021-05-06 11:30] carolromero commented on #7298
@entantoencuanto this works great! I have only seen that the time that is saved in the calendars is one hour more, but I understand that this is because of the configuration of the review app right?

[2021-05-06 11:49] entantoencuanto commented on #7298
Yes, I just created a new process (at 13:38 local time) to test this and the log shows the creation with 2 hours of difference, so I think it is the time zone configured in the application. The ICS exports dates with the same timezone correction.

<img width="561" alt="Screen Shot 2021-05-06 at 13 47 07" src="https://user-images.githubusercontent.com/446459/117293468-b3710c80-ae71-11eb-845f-adc6f3

[2021-05-06 12:19] #7937 closed

[2021-05-06 12:30] lahdeero commented on #7948
elahdenpera@THINK7 ~/decidim/decidim (develop) $ npm -v
7.7.6
elahdenpera@THINK7 ~/decidim/decidim (develop) $ ruby -v
ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]
elahdenpera@THINK7 ~/decidim/decidim (develop) $ yarn -v
1.22.10

[2021-05-06 12:36] mrcasals commented on #7945
Closed by #7946

[2021-05-06 12:36] #7945 closed

[2021-05-06 13:23] mrcasals opened #7951 "Consider replacing wkhtmltopdf with prawn"
I found this post from 2018 which claims prawn is much faster than wkthmltopdf:

https://nts.strzibny.name/comparing-wkhtmltopdf-to-prawn-for-generating-pdf-in-terms-of-speed-memory-and-usability/

Since v0.12.4.5, wkhtmltopdf-binary takes >200MB by itself. This is a huge dependency and makes creating and deploying new applications a slow process.

Maybe we could think about replacing it with praw

[2021-05-06 13:56] mrcasals commented on #7951
Oops, they don't solve the same problems, closing!

[2021-05-06 13:56] #7951 closed

[2021-05-06 16:50] paulinebessoles opened #7955 "Mailer invitations are not sent when inviting user"
**Describe the bug**
As an admin, when I invite a user (as a private user, an admin, etc.) on the platform, the user doesn't receive the invitation email.

The email is only sent when I click on the "Resend invitation" button.

**To Reproduce**
1. Go to 'https://staging.decidim.codegram.com/admin/users' and connect with admin@example.org
2. Invite a non existing user (you) as an administrator
3. G

[2021-05-07 02:55] ferblape commented on #7948
I'm not sure if the problem is that the development_app folder needs to be removed before creating the new one, and verify there's no spring process running in the background.

See https://github.com/decidim/decidim/issues/7863#issuecomment-823756038

Could you please try again and confirm if it's still an issue in your computer?

[2021-05-07 03:35] ferblape commented on #7299
I can this warning as part as the flash message. What do you think @decidim/product ?

[2021-05-07 09:43] entantoencuanto commented on #7285
The only issue about minutes description is that it has a `visible` flag to hide all the fields in the front, but the closing report always is visible in the front. To avoid problems I'm going to keep close report and minutes description in different columns (and include visibility as `minutes_visible` in the migration)

cc/ @decidim/product

[2021-05-07 09:48] lahdeero commented on #7948
I removed development_app folder before creating a new one and there isn't spring processes running in the background. Still not working.